<form novalidate (ngSubmit)="onSubmit()">

  <div class="text-right">
    <button type="submit" class="btn btn-primary" [disabled]="!isChange">{{'COMMON.SAVE' | translate}}</button>
  </div>

  <app-shared-project-edit-cards
    [project]="project"
    [canEdit]="true"
    [sidebar]="true"
    (projectChange)="projectEdit($event)"
    (saveChanges)="isChange = $event"
    *ngIf="isPitch">
  </app-shared-project-edit-cards>

  <app-shared-project-settings
    [settings]="project.settings"
    [projectStatus]="project.status"
    (settingsChange)="settingsEdit($event)"
    *ngIf="isTargeting"
    [adminMode]="true">
  </app-shared-project-settings>
</form>
