@import "../../../../../style/variables";

.text-right {
  margin: 20px;
}

.form-group-inline-space {
  margin: 30px;

  div.input-group {
    width: 50%;

    .form-select {
      width: 100%;
    }
  }
}

.form-group {
  margin: 30px;
}

.disabled {
  opacity: .5;
  pointer-events: none;
  cursor: not-allowed;
}

.satisfaction {
  input[type="radio"]:checked+label {
    .happy {
      color: $validation-color;
    }
    .normal {
      color: $progress-color;
    }
    .bad {
      color: $alert-color;
    }
  }
}
