<form novalidate (ngSubmit)="onSubmit()">

  <div class="form-group-inline-space">
    <div class="input-group">
      <select class="form-select"
              *ngIf="isStatus"
              [(ngModel)]="project.status"
              (ngModelChange)="checkStatus($event)"
              [ngModelOptions]="{standalone: true}">
        <option *ngFor="let stat of status" [ngValue]="stat.name">{{stat.alias}}</option>
      </select>
    </div>
    <button type="submit"
            class="btn btn-primary"
            [disabled]="(!isChange) || (!statusValid)">
      {{(isStatus || isMail) ? ('COMMON.SEND' | translate) : ('COMMON.SAVE' | translate) }}
    </button>
  </div>

  <app-shared-project-edit-cards
    [project]="project"
    [canEdit]="true"
    (projectChange)="projectEdit($event)"
    (saveChanges)="isChange = $event"
    *ngIf="isPitch">
  </app-shared-project-edit-cards>

  <app-shared-project-settings
    [settings]="project.settings"
    [projectStatus]="project.status"
    (settingsChange)="settingsEdit($event)"
    *ngIf="isTargeting"
    [adminMode]="true">
  </app-shared-project-settings>

  <label *ngIf="isStatus || isMail" class="form-label" style="color: #EA5858; margin-left: 10px;">Pour le moment l'envoi de mail n'est pas fonctionnel</label>

  <!-- This functionality doesn't work for the moment -->
  <app-shared-mail-editor *ngIf="isStatus || isMail"
                          class="disabled"
                          [signatures]="signatures"
                          [emailsObject]="email"
                          (emailChange)="email = $event">
  </app-shared-mail-editor>

  <div *ngIf="isUserSatisfaction" class="form-group-inline-space satisfaction">

    <input type="radio" id="verybad"
           name="satisfaction"
           value="VERY_BAD"
           [ngModel]="project.userSatisfaction.satisfaction"
           (change)="onSatisfactionChange($event)">
    <label for="verybad"><i class="bad far fa-2x fa-angry"></i></label>

    <input type="radio" id="bad"
           name="satisfaction"
           value="BAD"
           [ngModel]="project.userSatisfaction.satisfaction"
           (change)="onSatisfactionChange($event)">
    <label for="bad"><i class="bad far fa-2x fa-frown"></i></label>

    <input type="radio" id="normal"
           name="satisfaction"
           value="NORMAL"
           [ngModel]="project.userSatisfaction.satisfaction"
           (change)="onSatisfactionChange($event)">
    <label for="normal"><i class="normal far fa-2x fa-meh"></i></label>

    <input type="radio" id="happy"
           name="satisfaction"
           value="HAPPY"
           [ngModel]="project.userSatisfaction.satisfaction"
           (change)="onSatisfactionChange($event)">
    <label for="happy"><i class="happy far fa-2x fa-smile"></i></label>

    <input type="radio" id="veryhappy"
           name="satisfaction"
           value="VERY_HAPPY"
           [ngModel]="project.userSatisfaction.satisfaction"
           (change)="onSatisfactionChange($event)">
    <label for="veryhappy"><i class="happy far fa-2x fa-grin-hearts"></i></label>

  </div>

  <!-- Message for the client -->
  <div class="form-group" *ngIf="isUserSatisfaction">
    <label class="form-label" for="message">{{ 'PROJECT.DELIVERY.MESSAGE_FROM_CLIENT' | translate }}</label>
    <input
      [ngModel]="project.userSatisfaction.message"
      (ngModelChange)="onUserMessageChange($event)"
      [ngModelOptions]="{standalone: true}"
      class="form-default"
      id="userMessage"
      type="text">
  </div>

  <!-- Feedback message -->
  <div class="form-group" *ngIf="isFeedback">
    <label class="form-label" for="message">{{ 'PROJECT.DELIVERY.MESSAGE_FROM_OPERATOR' | translate }}</label>
    <input
      [ngModel]="project.feedback"
      (ngModelChange)="onReviewChange($event)"
      [ngModelOptions]="{standalone: true}"
      class="form-default"
      id="message"
      type="text">
  </div>

</form>
