<form novalidate (ngSubmit)="onSubmit()">

  <div class="form-group-inline-space">
    <div class="input-group">
      <select class="form-select"
              *ngIf="isStatus"
              [(ngModel)]="project.status"
              (ngModelChange)="checkStatus($event)"
              [ngModelOptions]="{standalone: true}">
        <option *ngFor="let stat of status" [ngValue]="stat.name">{{stat.alias}}</option>
      </select>
    </div>
    <button type="submit"
            class="btn btn-primary"
            [disabled]="(!isChange) || (!statusValid)">
      {{(isStatus || isMail) ? ('COMMON.SEND' | translate) : ('COMMON.SAVE' | translate) }}
    </button>
  </div>

  <app-shared-project-edit-cards
    [project]="project"
    [canEdit]="true"
    (projectChange)="projectEdit($event)"
    (saveChanges)="isChange = $event"
    *ngIf="isPitch">
  </app-shared-project-edit-cards>

  <app-shared-project-settings
    [settings]="project.settings"
    [projectStatus]="project.status"
    (settingsChange)="settingsEdit($event)"
    *ngIf="isTargeting"
    [adminMode]="true">
  </app-shared-project-settings>

  <label *ngIf="isStatus || isMail" class="form-label" style="color: #EA5858; margin-left: 10px;">Pour le moment l'envoi de mail n'est pas fonctionnel</label>

  <!-- This functionality doesn't work for the moment -->
  <app-shared-mail-editor *ngIf="isStatus || isMail"
                          class="disabled"
                          [signatures]="signatures"
                          [emailsObject]="email"
                          (emailChange)="email = $event">
  </app-shared-mail-editor>

</form>
