@import "../../../../../../../../style/framework/src/variables";

#filter-component {

  .flex-between {

    .share-button, .search-wrapper {
      margin-bottom: 0.5rem;
    }

    .search-wrapper {
      align-items: center;

      .filter-icon {
        font-size: $font-size-sm;

        span {
          margin-left: $unit-2;
        }

        &:hover {
          opacity: 0.8;
        }

      }

      .search-bar {
        margin-left: $unit-4;
      }

    }

    .share-button {

      .btn {
        min-width: 120px;

        i {
          margin-left: 0;
        }

      }

    }

  }

}


.modal-share-wrapper {

  .btn {
    margin-top: 0.75rem;
  }

  .ghost-success {
    border-color: $success-color;
    color: $success-color;
  }

}
