@import "../../../../../../../../style/framework/src/variables";

#filter-component {

  .animate-appear {
    animation-duration: .5s;
  }

  .sector-highlighted, .sector-suggested {

    .label {
      padding: 0;
    }

    label {
      padding: $unit-2 $unit-4;
    }

    label input[type="checkbox" i] {
      display: none;
    }

    h3 {
      margin-bottom: 0.6rem;
      font-size: $font-size-sm;
    }

    .sector-wrapper {
      flex-wrap: wrap;
      margin: -$unit-1;
    }

  }

  .sector-suggested {
    padding-top: 1rem;
  }

  .sector-highlighted {

    .flex-between {

      .action-wrapper {
        margin-bottom: 0.35rem;

        .search-wrapper, .filter-icon {
          margin-bottom: 0.5rem;
        }

        .filter-icon {
          font-size: $font-size-sm;
          margin-right: $unit-5;

          span {
            margin-left: $unit-2;
          }

          &:hover {
            opacity: 0.8;
          }

        }

      }

      .share-button {
        margin-bottom: 0.75rem;

        .btn {
          min-width: 100px;

          i {
            margin-left: 0;
          }

        }

      }

    }

  }

}


.modal-tag-wrapper {

  label input[type="checkbox" i] {
    display: none;
  }

  h3 {
    margin-bottom: 0.6rem;
    font-size: $font-size-sm;
  }

  .sector-wrapper {
    flex-wrap: wrap;
    margin: -$unit-1;
  }

}

.modal-share-wrapper {

  .btn {
    margin-top: 0.75rem;
  }

  .ghost-edit {
    border-color: $border-meta-color;
    color: $meta-color;
  }

  .ghost-success {
    border-color: $success-color;
    color: $success-color;
  }

}


@media (max-width: $size-sm) {

  #filter-component {

    .sector-highlighted {

      .flex-between {
        align-items: flex-start;
        flex-direction: column;
      }


    }

  }

}


@media (max-width: $size-xs) {


  #filter-component {

    .sector-highlighted {

      .flex-between {

        .action-wrapper {
          flex-direction: column;
          align-items: flex-start;
        }

      }

    }

  }


}
