@import "../../../../../../../../style/framework/src/variables";

#filter-component {

  .animate-appear {
    animation-duration: 1s;
  }

  .sector-highlighted, .sector-suggested {
    padding-bottom: 2rem;

    label input[type="checkbox" i] {
      display: none;
    }

    h3 {
      margin-bottom: 0.6rem;
      font-size: $font-size-sm;
    }

    .sector-wrapper {
      flex-wrap: wrap;
      margin: -$unit-1;
    }

  }

  .flex-between {

    .share-button, .search-wrapper {
      margin-bottom: 0.5rem;
    }

    .search-wrapper {
      align-items: center;

      .filter-icon {
        font-size: $font-size-sm;

        span {
          margin-left: $unit-2;
        }

        &:hover {
          opacity: 0.8;
        }

      }

      .search-bar {
        margin-left: $unit-4;
      }

    }

    .share-button {

      .btn {
        min-width: 120px;

        i {
          margin-left: 0;
        }

      }

    }

  }

  .sector-selected {
    margin: -$unit-1;
    flex-wrap: wrap;

    .fas {
      margin-left: $unit-2;
      font-size: $font-icon-xs;
    }

  }

}


.modal-share-wrapper {

  .btn {
    margin-top: 0.75rem;
  }

  .ghost-success {
    border-color: $success-color;
    color: $success-color;
  }

}
