<section id="filter-component">

  <!-- section action -->
  <div class="flex-between">

    <div class="search-wrapper">

      <div class="filter-icon text-notify c-hand" (click)="showAllTags($event)">
        <i class="fas fa-sliders-h"></i>
        <span class="text-medium">{{ 'DISCOVER.FILTER_TEXT' | translate }}</span>
      </div>

      <div class="search-bar">

      </div>

    </div>

    <div class="share-wrapper">
      <button type="button" class="btn btn-sm rounded btn-secondary" (click)="onClickShare($event)">
        <i class="fas fa-share-alt"></i>
        {{ 'DISCOVER.BUTTON_SHARE' | translate }}
      </button>
    </div>

  </div>
  <!-- /section action -->


</section>


<!-- modal tags -->
<app-modal [(showModal)]="modalTag" [modalPosition]="'250px'">

</app-modal>
<!-- /modal tags -->

<!-- modal share -->
<app-modal [(showModal)]="modalShare" [modalPosition]="'250px'">
  <div class="modal-share-wrapper">

    <div class="flex-centered">

      <h3 class="text-background text-normal">{{ 'DISCOVER.MODAL_SHARE.TITLE' | translate }}</h3>

      <div class="banner banner-success c-hand" [ngStyle]="{ 'visibility': urlCopied ? 'visible' : 'hidden' }" (click)="closeBanner($event)">
        <span>{{ 'DISCOVER.TOOLTIP_TEXT_COPIED' | translate }}</span>
      </div>

    </div>

    <p class="popover">
      <span class="tooltip c-hand" [attr.data-tooltip]="'DISCOVER.TOOLTIP_TEXT' | translate" (click)="OnClickCopy($event)">{{ shareUrl }}</span>
    </p>

  </div>
</app-modal>
<!-- /modal share -->
