@import "../../../../../style/framework/src/variables";

#campaign-form-component {
  padding-top: 1.5rem;

  .form-group {
    margin-bottom: 1rem;
  }

  .save-wrapper {
    padding-bottom: 1.25rem;
  }

}
