<div id="not-authorized">

  <header class="header__height header__bg-color">
    <div class="container fluid grid-2xl">
      <div class="column col-sm-12 col-11 col-mx-auto">
        <nav class="navbar border-no">
          <div class="navbar-brand">
            <a [routerLink]="'/user/projects'" class="gtm-menu-logo navbar-item m-no">
              <img
                [alt]="companyShortName"
                style="margin-top: -1px"
                [src]="logo"
                height="44.48"
                width="85">
            </a>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <main class="content-wrapper animate-fade is-3">
    <img src="https://res.cloudinary.com/umi/image/upload/app/default-images/not-found.svg" alt="">
    <h1 class="title is-4 m-bottom-10">
      <ng-container *ngIf="currentLang === 'fr'; else titleEn">Whoops - erreur 401</ng-container>
      <ng-template #titleEn>Whoops - error 401</ng-template>
    </h1>
    <p class="m-bottom-30 text-md mxw-500 m-left-auto m-right-auto">
      <ng-container *ngIf="isAdmin">{{ 'ERROR.NO_AUTHORIZED_ADMIN' | translate }}</ng-container>
      <ng-container *ngIf="!isAdmin">{{ 'ERROR.NO_AUTHORIZED_PAGE' | translate }}</ng-container>
    </p>
    <button
      (click)="onClickReload()"
      [disabled]="isReloading"
      [id]="'notAuthorized-btn-homepage'"
      class="button is-community is-xl"
      type="button">
      <span *ngIf="!isReloading">{{ 'COMMON.BUTTON.RETURN_HOMEPAGE' | translate }}</span>
      <span *ngIf="isReloading" class="loading is-white"></span>
    </button>
  </main>

</div>

