@import "../../../../../style/variables";

#pitch-card {

  .lang-wrapper {
    padding-top: 1.57rem;

    .lang-option-wrapper {
      padding-top: .6rem;

      ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding-left: 0;
          padding-right: 3.15rem;

          .radio-button, span {
            cursor: pointer;
            margin-left: 0;
          }

          .radio-button span {
            visibility: hidden;
          }

        }

        li.active {

          .radio-button {
            background-color: $validation-color;
            border-color: rgba(46,204,113,0.45) !important;

            span {
              color: white;
              visibility: visible;
            }

          }

        }

        p {
          color: $meta-color;
        }

      }

    }

  }


  .project-data {
    padding-top: 3.15rem;
  }

  .pd-input {
    padding-top: 1.2rem;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  .form-default {
    margin-top: 0;
  }

  .help-wrapper {
    padding-top: 2.5rem;
  }

  .media-content {
    display: inline-flex;

    .media {
      display: inline-flex;
      margin-right: .6rem;
      flex-direction: column;
    }

  }

  .media-action {
    padding-top: .6rem;
    padding-bottom: .6rem;
    font-size: .85rem;
  }

  .upload-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

    .image-upload-wrapper {
      flex: 1;
    }

    .or-wrapper {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .para {
        color: $meta-color;
        font-size: .85rem;
        margin: 1.57rem;
      }

    }

    .video-upload-wrapper {
      flex: 1;
    }

  }

  .delete-link {
    color: $alert-color;
    font-size: .85rem;
  }

  .borderRed {
    border-color: $alert-color;
  }

  p {
    padding: 0;
  }

  .adv-padding {
    padding-bottom: 0.95rem;
  }

  .answer-wrapper {
    background: #F8F4F4;
    color: $dark-color;
    padding: .5rem .95rem;
    border-radius: 0.18rem;
    display: inline-flex;
    margin-right: .6rem;
    margin-bottom: .6rem;
    font-size: 0.85rem;
  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  #pitch-card {

    .upload-wrapper {
      flex-direction: column;
    }

  }

}

