<div *ngIf="innovation" id="shared-project-edit-cards">

  <!-- language section -->
  <section *ngIf="innovation.innovationCards" class="flex-between flex-wrap">
    <div class="d-flex align-center flex-wrap">

      <!-- ques -->
      <div class="spec-text-question m-right-4">
        <span>{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.LANGUAGE.HEADING' | translate }}</span>
      </div>

      <!-- selection  -->
      <div class="d-flex align-center">

        <div *ngFor="let innovationCard of innovation.innovationCards; let i = index;"
             class="form-group d-flex align-center m-no-bottom m-right-25">

          <label class="form-radio is-inline p-right-1">
            <input
              (change)="onLangChange($event, i)"
              [checked]="selectedCardIndex === i"
              [id]="innovationCard.lang"
              [name]="innovationCard.lang"
              [value]="innovationCard.lang"
              type="radio">
            <i class="form-icon"></i>{{ 'COMMON.LANG.'+ innovationCard.lang | uppercase | translate }}
          </label>

        </div>

      </div>
      <!-- /selection -->

    </div>
  </section>
  <!-- /language section -->

  <!-- questions section -->
  <section *ngIf="innovation.innovationCards"
           [ngClass]="isAdminSide ? 'col-11 col-xs-12' : 'col-md-12 col-lg-10 col-xl-8 col-8'">
    <div *ngFor="let innovationCard of innovation.innovationCards; let i = index;">
      <div *ngIf="selectedCardIndex === i">

        <!-- title -->
        <div class="m-top-50">

          <!-- ques -->
          <div>

            <span class="shape is-rounded is-md bg-draft">1</span>

            <span class="spec-text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.TITLE.LABEL' | translate }}</span>

            <span *ngIf="innovation.status === 'EDITING' && !isAdminSide" class="popover">
              <span class="text-sm text-medium text-primary c-default">{{ 'SHARED_PROJECT_EDIT.ADVISE_BUTTON' | translate }}</span>
              <div class="popover-container">
                <div class="card">
                  <span [innerText]="'SHARED_PROJECT_EDIT.DESCRIPTION.TITLE.HELP'" translate></span>
                </div>
              </div>
            </span>

          </div>
          <!-- /ques -->

          <!-- translation button -->
          <div *ngIf="isAdminSide && innovation.innovationCards.length > 1" class="m-top-25">
            <button
              (click)="importTranslation($event, 'title')"
              [disabled]="innovationCard.title"
              class="button is-secondary is-outlined"
              type="button">
              {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.IMPORT_TRANSLATION' | translate }}
            </button>
          </div>
          <!-- /translation button -->

          <!-- input field -->
          <div *ngIf="isEditable" class="form-group m-top-25">
            <label>
              <input
                (change)="notifyChanges()"
                [(ngModel)]="innovationCard.title"
                [attr.placeholder]="'SHARED_PROJECT_EDIT.DESCRIPTION.TITLE.PLACEHOLDER' | translate"
                autocomplete="off"
                class="form-input"
                name="title"
                type="text">
            </label>
          </div>
          <!-- /input field -->

          <!-- not editable -->
          <div *ngIf="!isEditable" class="m-top-25">
            <p [innerText]="innovationCard.title"></p>
          </div>
          <!-- /not editable -->

          <!-- operator comment -->
          <div *ngIf="isVisible('title') || allowAdminToComment">

            <!-- comment umi -->
            <div *ngIf="innovationCard.operatorComment.title.comment || isAdminSide" class="m-top-25">

              <div class="d-flex align-center">
                <span class="spec-text-op">{{ 'SHARED_PROJECT_EDIT.COMMENT' | translate }}</span>
                <div class="label is-primary text-md">UMI</div>
              </div>

              <div *ngIf="innovationCard.operatorComment.title.comment && !isAdminSide" class="m-top-20">
                <p [innerHTML]="innovationCard.operatorComment.title.comment"></p>
              </div>

              <div *ngIf="allowAdminToComment" class="form-group m-top-20">
                <label>
                <textarea
                  (change)="onChangeComment($event)"
                  [(ngModel)]="innovationCard.operatorComment.title.comment"
                  [attr.placeholder]="'SHARED_PROJECT_EDIT.PLACEHOLDERS.COMMENT' | translate"
                  class="form-input"
                  id="title-comment"
                  rows="5">
                </textarea>
                </label>
              </div>

            </div>
            <!-- /comment umi -->

            <!-- suggestion umi -->
            <div *ngIf="innovationCard.operatorComment.title.suggestion || isAdminSide" class="m-top-25">

              <div class="d-flex align-center">
                <span class="spec-text-op">{{ 'SHARED_PROJECT_EDIT.SUGGESTION' | translate }}</span>
                <div class="label is-primary text-md">UMI</div>
              </div>

              <div *ngIf="innovationCard.operatorComment.title.suggestion && !isAdminSide" class="m-top-20">
                <p [innerHTML]="innovationCard.operatorComment.title.suggestion"></p>
              </div>

              <div *ngIf="allowAdminToComment" class="form-group m-top-20">
                <label>
                  <input
                    (change)="onChangeComment($event)"
                    [(ngModel)]="innovationCard.operatorComment.title.suggestion"
                    [attr.placeholder]="'SHARED_PROJECT_EDIT.PLACEHOLDERS.SUGGESTION' | translate"
                    autocomplete="off"
                    class="form-input"
                    name="title-suggestion"
                    type="text">
                </label>
              </div>

            </div>
            <!-- /suggestion umi -->

          </div>
          <!-- /operator comment -->

        </div>
        <!-- /title -->

        <!-- summary -->
        <div class="m-top-50">

          <!-- ques -->
          <div>

            <span class="shape is-rounded is-md bg-draft">2</span>

            <span class="spec-text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.SUMMARY.LABEL' | translate }}</span>

            <span *ngIf="innovation.status === 'EDITING' && !isAdminSide" class="popover">
              <span class="text-sm text-medium text-primary c-default">{{ 'SHARED_PROJECT_EDIT.ADVISE_BUTTON' | translate }}</span>
              <div class="popover-container">
                <div class="card">
                  <span [innerText]="'SHARED_PROJECT_EDIT.DESCRIPTION.SUMMARY.HELP'" translate></span>
                </div>
              </div>
            </span>

          </div>
          <!-- /ques -->

          <!-- translation button -->
          <div *ngIf="isAdminSide && innovation.innovationCards.length > 1" class="m-top-25">
            <button
              (click)="importTranslation($event, 'summary')"
              [disabled]="innovationCard.summary"
              class="button is-secondary is-outlined"
              type="button">
              {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.IMPORT_TRANSLATION' | translate }}
            </button>
          </div>
          <!-- /translation button -->

          <!-- input filed -->
          <div *ngIf="isEditable" class="form-group m-top-25 relative">

            <app-text-zone
              (onTextChange)="updateData($event, 'summary')"
              [data]="innovationCard.summary"
              id="summary">
            </app-text-zone>

            <div [ngStyle]="{ 'color': getColor(innovationCard.summary?.length | characterCountdown:500, 500) }"
                 class="char-remaining">
              <span>{{ innovationCard.summary?.length | characterCountdown:500 }}</span>
            </div>

          </div>
          <!-- /input filed -->

          <!-- not editable -->
          <div *ngIf="!isEditable" class="m-top-25">
            <div class="spec-text-answer" [innerHTML]="innovationCard.summary"></div>
          </div>
          <!-- /not editable -->

          <!-- operator comment -->
          <div *ngIf="isVisible('summary') || allowAdminToComment">

            <!-- comment umi -->
            <div *ngIf="innovationCard.operatorComment.summary.comment || isAdminSide" class="m-top-25">

              <div class="d-flex align-center">
                <span class="spec-text-op">{{ 'SHARED_PROJECT_EDIT.COMMENT' | translate }}</span>
                <div class="label is-primary text-md">UMI</div>
              </div>

              <div *ngIf="innovationCard.operatorComment.summary.comment && !isAdminSide" class="m-top-20">
                <p [innerHTML]="innovationCard.operatorComment.summary.comment"></p>
              </div>

              <div *ngIf="allowAdminToComment" class="form-group m-top-20">
                <app-text-zone
                  (onTextChange)="updateUMIComment($event, 'summary', 'comment')"
                  [data]="innovationCard.operatorComment.summary.comment"
                  id="summary-comment">
                </app-text-zone>
              </div>

            </div>
            <!-- /comment umi -->

            <!-- suggestion umi -->
            <div *ngIf="innovationCard.operatorComment.summary.suggestion || isAdminSide" class="m-top-25">

              <div class="d-flex align-center">
                <span class="spec-text-op">{{ 'SHARED_PROJECT_EDIT.SUGGESTION' | translate }}</span>
                <div class="label is-primary text-md">UMI</div>
              </div>

              <div *ngIf="innovationCard.operatorComment.summary.suggestion && !isAdminSide" class="m-top-20">
                <p [innerHTML]="innovationCard.operatorComment.summary.suggestion"></p>
              </div>

              <div *ngIf="allowAdminToComment" class="form-group m-top-20">
                <app-text-zone
                  (onTextChange)="updateUMIComment($event, 'summary', 'suggestion')"
                  [data]="innovationCard.operatorComment.summary.suggestion"
                  id="summary-suggestion">
                </app-text-zone>
              </div>

            </div>
            <!-- /suggestion umi -->

          </div>
          <!-- /operator comment -->

        </div>
        <!-- /summary -->

        <!-- problem -->
        <div class="m-top-50">

          <!-- ques -->
          <div>

            <span class="shape is-rounded is-md bg-draft">3</span>

            <span class="spec-text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.PROBLEM.LABEL' | translate }}</span>

            <span *ngIf="innovation.status === 'EDITING' && !isAdminSide" class="popover">
              <span class="text-sm text-medium text-primary c-default">{{ 'SHARED_PROJECT_EDIT.ADVISE_BUTTON' | translate }}</span>
              <div class="popover-container">
                <div class="card">
                  <span [innerText]="'SHARED_PROJECT_EDIT.DESCRIPTION.PROBLEM.HELP.1'" class="m-bottom-1" translate></span>
                  <span [innerText]="'SHARED_PROJECT_EDIT.DESCRIPTION.PROBLEM.HELP.2'" class="m-bottom-1" translate></span>
                  <span [innerText]="'SHARED_PROJECT_EDIT.DESCRIPTION.PROBLEM.HELP.3'" class="m-bottom-1" translate></span>
                  <span [innerText]="'SHARED_PROJECT_EDIT.DESCRIPTION.PROBLEM.HELP.4'" class="m-bottom-1" translate></span>
                </div>
              </div>
            </span>

          </div>
          <!-- /ques -->

          <!-- translation button -->
          <div *ngIf="isAdminSide && innovation.innovationCards.length > 1" class="m-top-25">
            <button
              (click)="importTranslation($event, 'problem')"
              [disabled]="innovationCard.problem"
              class="button is-secondary is-outlined"
              type="button">
              {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.IMPORT_TRANSLATION' | translate }}
            </button>
          </div>
          <!-- /translation button -->

          <!-- input filed -->
          <div *ngIf="isEditable" class="form-group m-top-25 relative">

            <app-text-zone
              (onTextChange)="updateData($event, 'problem')"
              [data]="innovationCard.problem"
              id="problem">
            </app-text-zone>

            <div [ngStyle]="{ 'color': getColor(innovationCard.problem?.length | characterCountdown:1000, 1000) }"
                 class="char-remaining">
              <span>{{ innovationCard.problem?.length | characterCountdown:1000 }}</span>
            </div>

          </div>
          <!-- /input filed -->

          <!-- not editable -->
          <div *ngIf="!isEditable" class="m-top-25">
            <div class="spec-text-answer" [innerHTML]="innovationCard.problem"></div>
          </div>
          <!-- /not editable -->

          <!-- operator comment -->
          <div *ngIf="isVisible('problem')|| allowAdminToComment">

            <!-- comment umi -->
            <div *ngIf="innovationCard.operatorComment.problem.comment || isAdminSide" class="m-top-25">

              <div class="d-flex align-center">
                <span class="spec-text-op">{{ 'SHARED_PROJECT_EDIT.COMMENT' | translate }}</span>
                <div class="label is-primary text-md">UMI</div>
              </div>

              <div *ngIf="innovationCard.operatorComment.problem.comment && !isAdminSide" class="m-top-20">
                <p [innerHTML]="innovationCard.operatorComment.problem.comment"></p>
              </div>

              <div *ngIf="allowAdminToComment" class="form-group m-top-20">
                <app-text-zone
                  (onTextChange)="updateUMIComment($event, 'problem', 'comment')"
                  [data]="innovationCard.operatorComment.problem.comment"
                  id="problem-comment">
                </app-text-zone>
              </div>

            </div>
            <!-- /comment umi -->

            <!-- suggestion umi -->
            <div *ngIf="innovationCard.operatorComment.problem.suggestion || isAdminSide" class="m-top-25">

              <div class="d-flex align-center">
                <span class="spec-text-op">{{ 'SHARED_PROJECT_EDIT.SUGGESTION' | translate }}</span>
                <div class="label is-primary text-md">UMI</div>
              </div>

              <div *ngIf="innovationCard.operatorComment.problem.suggestion && !isAdminSide" class="m-top-20">
                <p [innerHTML]="innovationCard.operatorComment.problem.suggestion"></p>
              </div>

              <div *ngIf="allowAdminToComment" class="form-group m-top-20">
                <app-text-zone
                  (onTextChange)="updateUMIComment($event, 'problem', 'suggestion')"
                  [data]="innovationCard.operatorComment.problem.suggestion"
                  id="problem-suggestion">
                </app-text-zone>
              </div>

            </div>
            <!-- /suggestion umi -->

          </div>
          <!-- /operator comment -->

        </div>
        <!-- /problem -->

        <!-- solution -->
        <div class="m-top-50">

          <!-- ques -->
          <div>

            <span class="shape is-rounded is-md bg-draft">4</span>

            <span class="spec-text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.SOLUTION.LABEL' | translate }}</span>

            <span *ngIf="innovation.status === 'EDITING' && !isAdminSide" class="popover">
              <span class="text-sm text-medium text-primary c-default">{{ 'SHARED_PROJECT_EDIT.ADVISE_BUTTON' | translate }}</span>
              <div class="popover-container">
                <div class="card">
                  <span [innerText]="'SHARED_PROJECT_EDIT.DESCRIPTION.SOLUTION.HELP'" translate></span>
                </div>
              </div>
            </span>

          </div>
          <!-- /ques -->

          <!-- translation button -->
          <div *ngIf="isAdminSide && innovation.innovationCards.length > 1" class="m-top-25">
            <button
              (click)="importTranslation($event, 'solution')"
              [disabled]="innovationCard.solution"
              class="button is-secondary is-outlined"
              type="button">
              {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.IMPORT_TRANSLATION' | translate }}
            </button>
          </div>
          <!-- /translation button -->

          <!-- input filed -->
          <div *ngIf="isEditable" class="form-group m-top-25 relative">

            <app-text-zone
              (onTextChange)="updateData($event, 'solution')"
              [data]="innovationCard.solution"
              id="solution">
            </app-text-zone>

            <div [ngStyle]="{ 'color': getColor(innovationCard.solution?.length | characterCountdown:1000, 1000) }"
                 class="char-remaining">
              <span>{{ innovationCard.solution?.length | characterCountdown:1000 }}</span>
            </div>

          </div>
          <!-- /input filed -->

          <!-- not editable -->
          <div *ngIf="!isEditable" class="m-top-25">
            <div class="spec-text-answer" [innerHTML]="innovationCard.solution"></div>
          </div>
          <!-- /not editable -->

          <!-- operator comment -->
          <div *ngIf="isVisible('solution') || allowAdminToComment">

            <!-- comment umi -->
            <div *ngIf="innovationCard.operatorComment.solution.comment || isAdminSide" class="m-top-25">

              <div class="d-flex align-center">
                <span class="spec-text-op">{{ 'SHARED_PROJECT_EDIT.COMMENT' | translate }}</span>
                <div class="label is-primary text-md">UMI</div>
              </div>

              <div *ngIf="innovationCard.operatorComment.solution.comment && !isAdminSide" class="m-top-20">
                <p [innerHTML]="innovationCard.operatorComment.solution.comment"></p>
              </div>

              <div *ngIf="allowAdminToComment" class="form-group m-top-20">
                <app-text-zone
                  (onTextChange)="updateUMIComment($event, 'solution', 'comment')"
                  [data]="innovationCard.operatorComment.solution.comment"
                  id="solution-comment">
                </app-text-zone>
              </div>

            </div>
            <!-- /comment umi -->

            <!-- suggestion umi -->
            <div *ngIf="innovationCard.operatorComment.solution.suggestion || isAdminSide" class="m-top-25">

              <div class="d-flex align-center">
                <span class="spec-text-op">{{ 'SHARED_PROJECT_EDIT.SUGGESTION' | translate }}</span>
                <div class="label is-primary text-md">UMI</div>
              </div>

              <div *ngIf="innovationCard.operatorComment.solution.suggestion && !isAdminSide" class="m-top-20">
                <p [innerHTML]="innovationCard.operatorComment.solution.suggestion"></p>
              </div>

              <div *ngIf="allowAdminToComment" class="form-group m-top-20">
                <app-text-zone
                  (onTextChange)="updateUMIComment($event, 'solution', 'suggestion')"
                  [data]="innovationCard.operatorComment.solution.suggestion"
                  id="solution-suggestion">
                </app-text-zone>
              </div>

            </div>
            <!-- /suggestion umi -->

          </div>
          <!-- operator comment -->

        </div>
        <!-- /solution -->

        <!-- advantages -->
        <div class="m-top-50">

          <!-- ques -->
          <div>

            <span class="shape is-rounded is-md bg-draft">5</span>

            <span class="spec-text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.ADVANTAGES.LABEL' | translate }}</span>

            <span *ngIf="innovation.status === 'EDITING' && !isAdminSide" class="popover">
              <span class="text-sm text-medium text-primary c-default">{{ 'SHARED_PROJECT_EDIT.ADVISE_BUTTON' | translate }}</span>
              <div class="popover-container">
                <div class="card">
                  <span [innerText]="'SHARED_PROJECT_EDIT.DESCRIPTION.ADVANTAGES.HELP.1'" class="m-bottom-1" translate></span>
                  <span [innerText]="'SHARED_PROJECT_EDIT.DESCRIPTION.ADVANTAGES.HELP.2'" class="m-bottom-1" translate></span>
                </div>
              </div>
            </span>

          </div>
          <!-- /ques -->

          <!-- translation button -->
          <div *ngIf="isAdminSide && innovation.innovationCards.length > 1" class="m-top-25">
            <button
              (click)="importTranslation($event, 'advantages')"
              [disabled]="innovationCard.advantages"
              class="button is-secondary is-outlined"
              type="button">
              {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.IMPORT_TRANSLATION' | translate }}
            </button>
          </div>
          <!-- /translation button -->

          <!-- input field -->
          <div class="m-top-25" [ngStyle]="{ 'max-width': '750px' }">
            <app-input-list
              (update)="updateAdvantage($event, i)"
              [config]="config('advantages')"
              [isEditable]="isEditable">
            </app-input-list>
          </div>
          <!-- /input field -->

          <!-- operator comment -->
          <div  *ngIf="innovationCard.operatorComment.advantages.comment || allowAdminToComment">

            <!-- comment umi -->
            <div class="m-top-25">

              <div class="d-flex align-center">
                <span class="spec-text-op">{{ 'SHARED_PROJECT_EDIT.COMMENT' | translate }}</span>
                <div class="label is-primary text-md">UMI</div>
              </div>

              <div *ngIf="innovationCard.operatorComment.advantages.comment && !isAdminSide" class="m-top-20">
                <p [innerHTML]="innovationCard.operatorComment.advantages.comment"></p>
              </div>

              <div *ngIf="allowAdminToComment" class="form-group m-top-20">
                <label>
                <textarea
                  (change)="onChangeComment($event)"
                  [(ngModel)]="innovationCard.operatorComment.advantages.comment"
                  [attr.placeholder]="'SHARED_PROJECT_EDIT.PLACEHOLDERS.COMMENT' | translate"
                  class="form-input"
                  id="advantage-comment"
                  rows="5">
                </textarea>
                </label>
              </div>

            </div>
            <!-- /comment umi -->

          </div>
          <!-- /operator comment -->

        </div>
        <!-- /advantages -->

      </div>
    </div>
  </section>
  <!-- questions section -->

  <!-- media section -->
  <section *ngIf="innovation.innovationCards" class="m-top-50">
    <div *ngFor="let innovationCard of innovation.innovationCards; let i = index;">
      <div *ngIf="selectedCardIndex === i">

        <!-- ques -->
        <div>

          <span class="shape is-rounded is-md bg-draft">6</span>

          <span class="spec-text-question">{{ 'SHARED_PROJECT_EDIT.MEDIA.LABEL' | translate }} </span>

          <span *ngIf="innovation.status === 'EDITING' && !isAdminSide" class="popover">
            <span class="text-sm text-medium text-primary c-default">{{ 'SHARED_PROJECT_EDIT.ADVISE_BUTTON' | translate }}</span>
            <div class="popover-container">
              <div class="card">
                <span [innerText]="'SHARED_PROJECT_EDIT.MEDIA.HELP'"  translate></span>
              </div>
            </div>
          </span>

        </div>
        <!-- /ques -->

        <!-- media upload -->
        <div *ngIf="isEditable" class="m-top-25">
          <div class="flex-between flex-wrap spec-media-upload-wrapper">

            <!-- image upload -->
            <div class="spec-image-upload-wrapper">
              <app-shared-upload-zone-photo
                [uri]="'/innovation/'+innovation._id+'/innovationCard/'+innovationCard._id+'/media/image'"
                (cbFn)="uploadImage($event, i)">
              </app-shared-upload-zone-photo>
            </div>
            <!-- /image upload -->

            <!-- divider -->
            <div class="divider-vert m-25" [attr.data-content]="'COMMON.OR' | translate | uppercase"></div>
            <!-- /divider -->

            <!-- video upload -->
            <div class="spec-video-upload-wrapper">
              <app-shared-upload-zone-video (cbFn)="uploadVideo($event)"></app-shared-upload-zone-video>
            </div>
            <!-- /video upload -->

          </div>
        </div>
        <!-- /media upload -->

        <!-- media display -->

        <!-- no media uploaded -->
        <div *ngIf="innovation.status !== 'EDITING' && innovationCard.media?.length === 0 && !isAdminSide" class="m-top-25">
          <span class="spec-text-answer">{{ 'SHARED_PROJECT_EDIT.MEDIA.NO_MEDIA' | translate }}</span>
        </div>
        <!-- /no media uploaded -->

        <!-- main media -->
        <div *ngIf="innovationCard.principalMedia" class="text-center m-top-40">

          <div class="text-notify text-md text-medium">
            <span>{{ 'SHARED_PROJECT_EDIT.MEDIA.MAIN' | translate }}</span>
          </div>

          <!-- photo -->
          <div *ngIf="innovationCard.principalMedia.type === 'PHOTO'" class="m-top-25">
            <div class="d-inline-flex">
              <figure>
                <img
                  [src]="mediaSrc(innovationCard.principalMedia, 'mediaSrc')"
                  alt=" "
                  class="img-responsive"
                  height="159"
                  width="240">
              </figure>
            </div>
          </div>
          <!-- /photo -->

          <!-- video -->
          <div *ngIf="innovationCard.principalMedia.type === 'VIDEO'" class="m-top-25">
            <div class="d-inline-flex">
              <iframe
                [src]="domSanitizer.bypassSecurityTrustResourceUrl(innovationCard.principalMedia.video.embeddableUrl)"
                height="159"
                width="240">
              </iframe>
            </div>
          </div>
          <!-- /video -->

          <!-- delete -->
          <div *ngIf="isEditable">
            <span (click)="onClickDeleteMedia($event, innovationCard.principalMedia, i)" class="text-alert text-link text-sm">
              {{ 'COMMON.DELETE' | translate }}
            </span>
          </div>
          <!-- /delete -->

        </div>
        <!-- /main media -->

        <!-- secondary medias -->
        <div *ngIf="secondaryMedias.length > 0" class="text-center m-top-40">

          <div class="text-notify text-md text-medium">
            <span>{{ 'SHARED_PROJECT_EDIT.MEDIA.SECONDARY' | translate }}</span>
          </div>

          <div class="flex-centered flex-wrap">
            <div *ngFor="let media of secondaryMedias" class="spec-secondary-media-wrapper">

              <!-- photo -->
              <figure *ngIf="media.type === 'PHOTO'">
                <img
                  [src]="mediaSrc(media, 'mediaSrc')"
                  alt=" "
                  class="img-responsive"
                  height="159"
                  width="240">
              </figure>
              <!-- /photo -->

              <!-- video -->
              <iframe
                *ngIf="media.type === 'VIDEO'"
                [src]="domSanitizer.bypassSecurityTrustResourceUrl(media.video.embeddableUrl)"
                height="159"
                width="240">
              </iframe>
              <!-- /video -->

              <!-- make main media -->
              <div *ngIf="isEditable && innovationCard.principalMedia && innovationCard.principalMedia.type !== 'VIDEO'">
                <span (click)="onClickSetMainMedia($event, media, i)" class="text-link text-sm">
                  {{ 'SHARED_PROJECT_EDIT.MEDIA.MAKE_MAIN' | translate }}
                </span>
              </div>
              <!-- /make main media -->

              <!-- delete -->
              <div *ngIf="isEditable">
                <span (click)="onClickDeleteMedia($event, media, i)" class="text-alert text-link text-sm">
                  {{ 'COMMON.DELETE' | translate }}
                </span>
              </div>
              <!-- /delete -->

            </div>
          </div>

        </div>
        <!-- /secondary medias -->

        <!-- /media display -->

      </div>
    </div>
  </section>
  <!-- /media section -->

</div>
