<ng-container *ngIf="innovation">

  <section id="shared-project-edit-cards-component">

    <!-- language section -->
    <div class="flex-between">

      <div class="flex-start">

        <!-- ques -->
        <div class="text text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.LANGUAGE.HEADING' | translate }}</div>

        <!-- selection -->
        <ul class="options">

          <li
            *ngFor="let innovationCard of innovation.innovationCards; let i = index;"
            [ngClass]="{'active': selectedCardIndex === i }"
            (click)="onLangSelect($event, i)">
            <div class="btn btn-radio"><span>•</span></div>
            <span class="text">{{ 'COMMON.LANG.'+ innovationCard.lang | uppercase | translate }}</span>
          </li>

          <ng-container *ngIf="innovation.innovationCards?.length < 2 && canEdit">
            <p class="text text-notify">
              {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.LANGUAGE.ADD_PROJECT_LANGUAGE' | translate }}
              <span class="text-link">
                <span *ngIf="!containsLanguage('fr')" (click)="onCreateInnovationCard($event, 'fr')">
                  {{ 'COMMON.LANG.FR' | translate }}
                </span>
                <span *ngIf="!containsLanguage('en')" (click)="onCreateInnovationCard($event, 'en')">
                  {{ 'COMMON.LANG.EN' | translate }}
                </span>
              </span>
            </p>
          </ng-container>

        </ul>
      </div>

      <ng-container *ngIf="innovation.innovationCards.length > 1 && canEdit">
        <div class="text-delete-link">
          <span (click)="onClickDelete($event)">{{ 'SHARED_PROJECT_EDIT.DELETE_LANGUAGE' | translate }}</span>
        </div>
      </ng-container>

    </div>
    <!-- /language section -->

    <!-- two columns -->
    <div class="columns">

      <!-- questions section -->
      <div class="column col-md-12 col-mx-auto" [ngClass]="adminSide ? 'col-12' : 'col-7'">
        <div class="restrict-container">
          <div *ngFor="let innovationCard of innovation.innovationCards; let i = index;">
            <ng-container *ngIf="selectedCardIndex === i">

              <!-- title -->
              <div [ngStyle]="{ 'padding-top': '1.75rem' }">

                <span class="shape rect">1</span>
                <span class="text text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.TITLE.LABEL' | translate }}</span>

                <ng-container *ngIf="!canEdit">
                  <div class="pd-input">
                    <p class="text">{{ innovationCard.title }}</p>
                  </div>
                </ng-container>

                <ng-container *ngIf="adminSide && innovation.innovationCards?.length > 1">
                  <div class="pd-input">
                    <button
                      class="btn btn-xs ghost-secondary"
                      [ngClass]="{'disabled': innovationCard.title}"
                      [disabled]="innovationCard.title"
                      (click)="importTranslation($event, 'title')">
                      {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.IMPORT_TRANSLATION' | translate }}
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngIf="canEdit">
                  <div class="form-group pd-input">
                    <label for="edit-innovation-title"></label>
                    <input
                      type="text"
                      id="edit-innovation-title"
                      class="form-input"
                      name="title"
                      [(ngModel)]="innovationCard.title"
                      [attr.placeholder]="'SHARED_PROJECT_EDIT.DESCRIPTION.TITLE.PLACEHOLDER' | translate"
                      (change)="notifyChanges()">
                  </div>
                </ng-container>

              </div>

              <!-- summary -->
              <div class="project-data">

                <span class="shape rect">2</span>
                <span class="text text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.SUMMARY.LABEL' | translate }}</span>

                <ng-container *ngIf="!canEdit">
                  <div class="pd-input text" [innerHtml]="innovationCard.summary"></div>
                </ng-container>

                <ng-container *ngIf="adminSide && innovation.innovationCards?.length > 1">
                  <div class="pd-input">
                    <button
                      class="btn btn-xs ghost-secondary"
                      [ngClass]="{'disabled': innovationCard.summary}"
                      [disabled]="innovationCard.summary"
                      (click)="importTranslation($event, 'summary')">
                      {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.IMPORT_TRANSLATION' | translate }}
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngIf="canEdit">
                  <div class="form-group pd-input">

                    <app-text-zone
                      id="summary"
                      [data]="innovationCard.summary"
                      (onTextChange)="updateData($event, 'summary')">
                    </app-text-zone>

                    <!-- todo: add placeholders
                    [attr.placeholder]="'PROJECT_MODULE.SETUP.PITCH.DESCRIPTION.PROBLEM.PLACEHOLDER' | translate"
                    -->

                    <div class="char-remaining" [ngStyle]="{ 'color': getColor(innovationCard.summary?.length | characterCountdown:500, 500) }">
                      {{ innovationCard.summary?.length | characterCountdown:500 }}
                    </div>

                  </div>
                </ng-container>

              </div>

              <!-- problem -->
              <div class="project-data">

                <span class="shape rect">3</span>
                <span class="text text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.PROBLEM.LABEL' | translate }}</span>

                <ng-container *ngIf="!canEdit">
                  <div class="pd-input text" [innerHtml]="innovationCard.problem"></div>
                </ng-container>

                <ng-container *ngIf="adminSide && innovation.innovationCards?.length > 1">
                  <div class="pd-input">
                    <button
                      class="btn btn-xs ghost-secondary"
                      [disabled]="innovationCard.problem"
                      [ngClass]="{'disabled': innovationCard.problem}"
                      (click)="importTranslation($event, 'problem')">
                      {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.IMPORT_TRANSLATION' | translate }}
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngIf="canEdit">
                  <div class="form-group pd-input">

                    <app-text-zone
                      id="problem"
                      [data]="innovationCard.problem"
                      (onTextChange)="updateData($event, 'problem')">
                    </app-text-zone>

                    <!-- todo: add placeholders
                    [attr.placeholder]="'PROJECT_MODULE.SETUP.PITCH.DESCRIPTION.PROBLEM.PLACEHOLDER' | translate"
                    -->

                    <div class="char-remaining" [ngStyle]="{ 'color': getColor(innovationCard.problem?.length | characterCountdown:1000, 1000) }">
                      {{ innovationCard.problem?.length | characterCountdown:1000 }}
                    </div>

                  </div>
                </ng-container>

              </div>

              <!-- solution -->
              <div class="project-data">

                <span class="shape rect">4</span>
                <span class="text text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.SOLUTION.LABEL' | translate }}</span>

                <div *ngIf="!canEdit">
                  <div class="pd-input text" [innerHtml]="innovationCard.solution"></div>
                </div>

                <ng-container *ngIf="adminSide && innovation.innovationCards?.length > 1">
                  <div class="pd-input">
                    <button
                      class="btn btn-xs ghost-secondary"
                      [disabled]="innovationCard.solution"
                      [ngClass]="{'disabled': innovationCard.solution}"
                      (click)="importTranslation($event, 'solution')">
                      {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.IMPORT_TRANSLATION' | translate }}
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngIf="canEdit">
                  <div class="form-group pd-input">

                    <app-text-zone
                      [data]="innovationCard.solution"
                      (onTextChange)="updateData($event, 'solution')">
                    </app-text-zone>

                    <!-- todo: add placeholders
                    [placeholder]="'SHARED_PROJECT_EDIT.DESCRIPTION.SOLUTION.PLACEHOLDER' | translate"
                    &ndash;&gt; -->

                    <div class="char-remaining" [ngStyle]="{ 'color': getColor(innovationCard.solution?.length | characterCountdown:1000, 1000) }">
                      {{ innovationCard.solution?.length | characterCountdown:1000 }}
                    </div>

                  </div>
                </ng-container>

              </div>

              <!-- advantages -->
              <div class="project-data">

                <span class="shape rect">5</span>
                <span class="text text-question">{{ 'SHARED_PROJECT_EDIT.DESCRIPTION.ADVANTAGES.LABEL' | translate }}</span>

                <ng-container *ngIf="!canEdit">
                  <div class="pd-input">
                    <div *ngFor="let advantage of innovationCard.advantages" class="label label-answer">
                      {{ advantage.text }}
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="adminSide && innovation.innovationCards?.length > 1">
                  <div class="pd-input">
                    <button
                      class="btn btn-xs ghost-secondary"
                      [disabled]="innovationCard.advantages?.length"
                      [ngClass]="{'disabled': innovationCard.advantages?.length}"
                      (click)="importTranslation($event, 'advantages')">
                      {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.IMPORT_TRANSLATION' | translate }}
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngIf="canEdit">
                  <div class="pd-input">
                    <app-input-list (update)="updateAdvantage($event, i)" [config]="getConfig('advantages')"></app-input-list>
                  </div>
                </ng-container>

              </div>

              <!-- status -->
              <div [ngStyle]="{ 'padding-top': canEdit ? '3.5rem' : '1.75rem' }">

                <span class="shape rect">6</span>
                <span class="text text-question">{{ 'SHARED_PROJECT_EDIT.STAGE' | translate }}</span>

                <ng-container *ngIf="!canEdit">
                  <div class="pd-input text">
                    <p *ngIf="innovation.projectStatus === 0">{{ 'COMMON.PROJECT_STATUS.0' | translate }}</p>
                    <p *ngIf="innovation.projectStatus === 1">{{ 'COMMON.PROJECT_STATUS.1' | translate }}</p>
                    <p *ngIf="innovation.projectStatus === 2">{{ 'COMMON.PROJECT_STATUS.2' | translate }}</p>
                  </div>
                </ng-container>

                <ng-container *ngIf="canEdit">
                  <div class="form-group pd-input">

                    <label class="form-radio">
                      <input
                        type="radio"
                        name="projectStatus"
                        [(ngModel)]="innovation.projectStatus"
                        [value]="0"
                        (change)="notifyChanges()">
                      <i class="form-icon"></i>{{ 'COMMON.PROJECT_STATUS.0' | translate }}
                    </label>

                    <label class="form-radio">
                      <input
                        type="radio"
                        name="projectStatus"
                        [(ngModel)]="innovation.projectStatus"
                        [value]="1"
                        (change)="notifyChanges()">
                      <i class="form-icon"></i>{{ 'COMMON.PROJECT_STATUS.1' | translate }}
                    </label>

                    <label class="form-radio">
                      <input
                        type="radio"
                        name="projectStatus"
                        [(ngModel)]="innovation.projectStatus"
                        [value]="2"
                        (change)="notifyChanges()">
                      <i class="form-icon"></i>{{ 'COMMON.PROJECT_STATUS.2' | translate }}
                    </label>

                  </div>
                </ng-container>

              </div>

              <!-- protected -->
              <div class="project-data">

                <span class="shape rect">7</span>
                <span class="text text-question">{{ 'SHARED_PROJECT_EDIT.PATENTED.LABEL' | translate }}</span>

                <ng-container *ngIf="!canEdit">
                  <div class="pd-input text">
                    <p *ngIf="innovation.patented === false">{{ 'COMMON.NO' | translate }}</p>
                    <p *ngIf="innovation.patented === true">{{ 'COMMON.YES' | translate }}</p>
                  </div>
                </ng-container>

                <ng-container *ngIf="canEdit">
                  <div class="form-group pd-input">

                    <label class="form-radio">
                      <input
                        type="radio"
                        name="patented"
                        [(ngModel)]="innovation.patented"
                        [value]="false"
                        (change)="notifyChanges()">
                      <i class="form-icon"></i>{{ 'COMMON.NO' | translate }}
                    </label>

                    <label class="form-radio">
                      <input
                        type="radio"
                        name="patented"
                        [(ngModel)]="innovation.patented"
                        [value]="true"
                        (change)="notifyChanges()">
                      <i class="form-icon"></i>{{ 'COMMON.YES' | translate }}
                    </label>

                  </div>
                </ng-container>

              </div>

              <!-- diffusion -->
              <div class="project-data">

                <span class="shape rect">8</span>
                <span class="text text-question">
                  {{ 'SHARED_PROJECT_EDIT.EXTERNAL_DIFFUSION.A' | translate }} {{ companyName }} {{ 'SHARED_PROJECT_EDIT.EXTERNAL_DIFFUSION.B' | translate }}
                </span>

                <ng-container *ngIf="!canEdit">
                  <div class="pd-input text">
                    <p *ngIf="innovation.external_diffusion === false">{{ 'COMMON.NO' | translate }}</p>
                    <p *ngIf="innovation.external_diffusion === true">{{ 'COMMON.YES' | translate }}</p>
                  </div>
                </ng-container>

                <ng-container *ngIf="canEdit">
                  <div class="form-group pd-input">

                    <label class="form-radio">
                      <input
                        type="radio"
                        name="external_diffusion"
                        [(ngModel)]="innovation.external_diffusion"
                        [value]="false"
                        (change)="notifyChanges()">
                      <i class="form-icon"></i>{{ 'COMMON.NO' | translate }}
                    </label>

                    <label class="form-radio">
                      <input
                        type="radio"
                        name="external_diffusion"
                        [(ngModel)]="innovation.external_diffusion"
                        [value]="true"
                        (change)="notifyChanges()">
                      <i class="form-icon"></i>{{ 'COMMON.YES' | translate }}
                    </label>

                  </div>
                </ng-container>

              </div>

            </ng-container>
          </div>
        </div>
      </div>
      <!-- questions section -->

      <!-- bot section -->
      <ng-container *ngIf="!adminSide">
        <div class="column col-mx-auto col-5 hide-md section-pad rm-pad-bottom">
          <app-message-template-1 [widthMax]="'321px'">
            {{ 'SHARED_PROJECT_EDIT.BOT.HELP' | translate }}
          </app-message-template-1>
        </div>
      </ng-container>
      <!-- /bot section -->

    </div>
    <!-- two columns -->

    <!-- media section -->
    <div *ngFor="let innovationCard of innovation.innovationCards; let i = index;">
      <div *ngIf="selectedCardIndex === i">
        <div class="project-data">

          <span class="shape rect">9</span>
          <span class="text text-question">{{ 'SHARED_PROJECT_EDIT.MEDIA.LABEL' | translate }}</span>
          <span class="text text-notify sub-label"> {{ 'SHARED_PROJECT_EDIT.MEDIA.SUB_LABEL' | translate }}</span>

          <div class="pd-input">

            <!-- media display -->
            <ng-container *ngIf="innovationCard.media?.length > 0">

              <!-- main media -->
              <div class="main-media-wrapper">

                <p class="text text-notify">{{ 'SHARED_PROJECT_EDIT.MEDIA.MAIN' | translate }}</p>

                <!-- photo -->
                <ng-container *ngIf="innovationCard.principalMedia?.type === 'PHOTO'">
                  <div class="media-body">
                    <img [src]="getSrc(innovationCard.principalMedia, 'mediaSrc')" alt=" ">
                  </div>
                </ng-container>

                <!-- video -->
                <ng-container *ngIf="innovationCard.principalMedia?.type === 'VIDEO'">
                  <div class="media-body">
                    <iframe [src]="domSanitizer.bypassSecurityTrustResourceUrl(innovationCard.principalMedia.video.embeddableUrl)"></iframe>
                  </div>
                </ng-container>

                <!-- delete media -->
                <ng-container *ngIf="canEdit">
                  <div class="delete-wrapper">
                    <span class="text-delete-link" (click)="onClickDeleteMedia($event, innovationCard.principalMedia, i)">{{ 'COMMON.DELETE' | translate }}</span>
                  </div>
                </ng-container>

              </div>

              <!-- secondary medias -->
              <ng-container *ngIf="innovationCard.media.length > 1">
                <div class="secondary-media-wrapper">

                  <p class="text text-notify">{{ 'SHARED_PROJECT_EDIT.MEDIA.SECONDARY' | translate }}</p>

                  <div class="media-content">
                    <ng-container *ngFor="let media of innovationCard.media">
                      <div *ngIf="innovationCard.principalMedia?._id !== media._id" class="media-body">

                        <!-- photo -->
                        <ng-container *ngIf="media.type === 'PHOTO'">
                          <div class="media-body">
                            <img [src]="getSrc(media, 'mediaSrc')" alt=" ">
                          </div>
                        </ng-container>

                        <!-- video -->
                        <ng-container *ngIf="media.type === 'VIDEO'">
                          <div class="media-body">
                            <iframe [src]="domSanitizer.bypassSecurityTrustResourceUrl(media.video.embeddableUrl)"></iframe>
                          </div>
                        </ng-container>

                        <!-- make primary media -->
                        <ng-container *ngIf="canEdit">
                          <div class="main-wrapper">
                            <span class="text-link" (click)="onClickSetMainMedia($event, media, i)">{{ 'SHARED_PROJECT_EDIT.MEDIA.MAKE_MAIN' | translate }}</span>
                          </div>
                        </ng-container>

                        <!-- delete media -->
                        <ng-container *ngIf="canEdit">
                          <div class="delete-wrapper">
                            <span class="text-delete-link" (click)="onClickDeleteMedia($event, media, i)">{{ 'COMMON.DELETE' | translate }}</span>
                          </div>
                        </ng-container>

                      </div>
                    </ng-container>
                  </div>

                </div>
              </ng-container>

            </ng-container>
            <!-- /media display -->

            <!-- uploading medias -->
            <ng-container *ngIf="canEdit">
              <div class="upload-wrapper">

                <div class="image-upload-wrapper">
                  <app-shared-upload-zone-photo
                    [uri]="'/innovation/'+innovation._id+'/innovationCard/'+innovationCard._id+'/media/image'"
                    (cbFn)="uploadImage($event, i)">
                  </app-shared-upload-zone-photo>
                </div>

                <div class="or-wrapper">
                  <span class="text text-notify text-medium">{{ 'COMMON.OR' | translate }}</span>
                </div>

                <div class="video-upload-wrapper">
                  <app-shared-upload-zone-video (cbFn)="uploadVideo($event)"></app-shared-upload-zone-video>
                </div>

              </div>
            </ng-container>

          </div>

        </div>
      </div>
    </div>
    <!-- /media section -->


  </section>


  <!-- modal to ask user to sure about deleting the innovation card the project -->
  <app-modal [(showModal)]="modalDelete" [modalTitle]="'COMMON.MODAL.TITLE_DELETE'">
    {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.MODAL_DELETE.CONTENT.A' | translate }}
    {{ 'COMMON.LANG.' + innovation.innovationCards[selectedCardIndex].lang | uppercase | translate }}
    {{ 'SHARED_PROJECT_EDIT.DESCRIPTION.MODAL_DELETE.CONTENT.B' | translate }}
    <div class="modal-footer">
      <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
      <button class="btn btn-sm btn-primary" (click)="onClickConfirm($event)">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
    </div>
  </app-modal>
  <!-- /modal to ask user to sure about deleting the innovation card the project -->


</ng-container>
