#pitchCard {
  padding-top: 25px;
  padding-bottom: 25px;

  .describe-container {
    border: 1px solid #E0E0E0;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;

    .lang-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin: 0;

      li {
        list-style: none;
        border: 2px solid #dddddd;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        background: #FAFAFA;
        font-size: 0.9em;
        color: #262831;
        padding: 12px 30px;
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
      }

      .circle {
        margin-top: -31px;
        margin-left: -44px;
        background: transparent;

        i {
          color: transparent;
          padding-top: 9px;
        }

      }

      li:hover {
        background-color: #FFF9EB;
        border-color: #FFB300;
      }

      .active {
        border-color: #2ECC71 !important;

        .circle {
          border-color: #2ECC71;
          background: #2ECC71;

          i {
            color: white;
          }

        }

      }

    }

    .para {
      color: #97A4B1;
      font-size: 0.7rem;
      padding: 20px 20px 20px 8px;
    }

  }

  .project-data {
    padding-top: 50px;
  }

  .pd-label {
    padding-top: 20px;
  }

  .form-input-default.ng-touched.ng-invalid{
    border-color: unset !important;
  }

  textarea {
    resize: none;
  }

  .media-container {
    padding-bottom: 25px;
  }

  .plus-container {
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    display: flex;

    i {
      color: #97A4B1;
    }

  }

}

/********************************** Media ***************************************/

@media (min-width: 768px) {

  #pitchCard {

    .describe-container {

      .lang-container {
        flex-direction: row !important;
      }

      .para {
        padding-top: 32px;
        padding-bottom: 16px;
      }

      .text-link {
        padding-top: 20px;
      }

    }



    // Form input
    .form-input-default {
      width: 662px;
    }

  }

}



/*$body-font-color-darker: #333333;
$primary-color: #3498DB;

div.ng-invalid {
  border: 0 !important;
}

.language-choice ul {
  margin: 0;

  li {
    font-size: 1rem;
    color: $body-font-color-darker;
    list-style: none;
    cursor: pointer;
    margin-bottom: 20px;

    span {
      font-size: 0.7rem;
      display: block;
      color: #878787;
    }

    i {
      font-size: 0.8rem;
    }
  }

  li.active {
    color: $primary-color;
  }

}

.medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .media {
    display: flex;
    background-color: #258cd1;
    margin-bottom: 15px;
    border: 2px solid #d7d7d7;

    div {
      padding: 8px 12px;

      a {
        display: block;
        padding-bottom: 4px;
      }
    }
  }
}*/
