@import "../../../../../style/framework/src/variables";

#shared-project-edit-cards-component {

  p {
    margin: 0;
  }


  .flex-between, .flex-start {
    flex-wrap: wrap;
  }

  .options {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;

    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: $unit-2;

      .btn-radio {
        margin-right: $unit-2;
      }

    }

    li.active {

      .btn-radio {
        background-color: $success-color;
        border-color: $success-color;

        span {
          color: white;
        }

      }

    }

    .text-link {
      font-size: $font-size-md;
      font-weight: $font-weight-normal;
    }

  }

  .pd-input {
    padding-top: $unit-5;
    position: relative;
  }

  .form-group {
    margin-bottom: $unit-5;
  }

  .project-data {
    padding-top: 2.5rem;
  }

  .char-remaining {
    top: $unit-6;
  }

  .sub-label {
    font-size: $font-size-sm;
  }

  .main-media-wrapper, .secondary-media-wrapper {
    padding-bottom: $unit-5;
    text-align: center;

    p {
      margin-bottom: $unit-2;
    }

    .media-body {
      display: inline-flex;
      margin-top: $unit-2;
    }

    .delete-wrapper, .main-wrapper {
      padding-top: $unit-2;
    }

    .media-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .media-body {
        margin-left: $unit-2;
        margin-right: $unit-2;
        flex-direction: column;

        .delete-wrapper {
          padding-bottom: $unit-5;
        }

      }

    }

    iframe {
      width: 240px;
      height: 159px;
      border-width: 0;
    }

  }

  .secondary-media-wrapper {

    .delete-wrapper {
      padding-top: 0;
    }

  }

  .upload-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -$unit-2;

    .image-upload-wrapper {
      flex: 1;
      margin-bottom: $unit-2;
    }

    .or-wrapper {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .text {
        font-size: $font-size-sm;
        margin: 1.25rem;
      }

    }

    .video-upload-wrapper {
      flex: 1;
      margin-bottom: $unit-2;
    }

  }


  .form-input.ng-touched.ng-invalid {
    border-color: $border-color;
  }


}



@media (max-width: $size-sm) {

  #shared-project-edit-cards-component {

    .upload-wrapper {
      flex-direction: column;
    }

  }

}

