#pitchCard {
  padding-top: 25px;
  padding-bottom: 25px;

  .describe-container {
    border: 1px solid #E0E0E0;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;

    label input[type=radio] {
      display: none;
    }

    .circle {
      margin-top: -15px;
      margin-left: -14px;
      background: transparent;

      i {
        color: transparent;
      }

    }

    .lang-selection {
      border: 2px solid #dddddd;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      background: #FAFAFA;
      font-size: 0.7rem;
      color: #262831;
      display: inline-block;
      padding: 12px 30px;
    }

    .lang-selection:hover {
      background-color: #FFF9EB;
      border-color: #FFB300;
    }

    label input[type=radio]:checked + .circle {
      transition: all 0.35s ease-in-out;
      border-color: #2ECC71;
      background: #2ECC71;

      i {
        color: white;

      }
    }

    label input[type=radio]:checked + .circle + .lang-selection {
      transition: all 0.35s ease-in-out;
      border-color: #2ECC71;
    }

  }

  .project-data {
    padding-top: 50px;
  }

  .pd-label {
    padding-top: 20px;
  }

  .form-input-default.ng-touched.ng-invalid{
    border-color: unset !important;
  }

  textarea {
    resize: none;
  }

  .media-container {
    padding-bottom: 25px;
  }

  .plus-container {
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    display: flex;

    i {
      color: #97A4B1;
    }

  }

}

/********************************** Media ***************************************/

@media (min-width: 768px) {

  // Form input
  .form-input-default {
    width: 662px;
  }


}



/*$body-font-color-darker: #333333;
$primary-color: #3498DB;

div.ng-invalid {
  border: 0 !important;
}

.language-choice ul {
  margin: 0;

  li {
    font-size: 1rem;
    color: $body-font-color-darker;
    list-style: none;
    cursor: pointer;
    margin-bottom: 20px;

    span {
      font-size: 0.7rem;
      display: block;
      color: #878787;
    }

    i {
      font-size: 0.8rem;
    }
  }

  li.active {
    color: $primary-color;
  }

}

.medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .media {
    display: flex;
    background-color: #258cd1;
    margin-bottom: 15px;
    border: 2px solid #d7d7d7;

    div {
      padding: 8px 12px;

      a {
        display: block;
        padding-bottom: 4px;
      }
    }
  }
}*/
