<div class="section-container">
  <app-sidebar [template]="more" (closeSidebar)="closeSidebar($event)">

    <app-sidebar-workflow
      [emailsObject]="emailToEdit"
      (emailChange)="updateEmail($event)"
      [signatures]="signatures"
      [inputLanguage]="language">
    </app-sidebar-workflow>
  </app-sidebar>
  <div class="columns">
    <div class="column col-12 col-mx-auto">
      <h3>Emails</h3>
      <div class="empty" *ngIf="!emails.length">
        <div class="empty-action">
          <button (click)="newEmailName = 'email'" class="btn btn-primary">
            Créer un nouvel email <i class="icon icon-arrow-right"></i>
          </button>
        </div>
      </div>
      <div>
        <button *ngIf="emails.length" (click)="newEmailName = 'email'" class="btn btn-primary">
          Créer un nouvel email <i class="icon icon-arrow-right"></i>
        </button>
      </div>
      <a [ngClass]="{'text-warning': language === 'en'}" (click)="changeLanguage('en')">EN</a>
      <a [ngClass]="{'text-warning': language === 'fr'}" (click)="changeLanguage('fr')">FR</a>
      <app-shared-table
        [config]="config"
        (configChange)="getEmails($event)"
        [data]="tableInfos"
        (editRow)="editEmail($event)"
        (removeRows)="removeEmails($event)">
      </app-shared-table>
    </div>
  </div>

  <!-- MODAL : Création d'un nouvel email -->
  <div class="modal" [ngClass]="{'active': newEmailName != null}">
    <div class="modal-overlay" (click)="(newEmailName = null) && $event.preventDefault()"></div>
    <div class="modal-container">
      <div class="modal-header">
        <div class="modal-title h5">Créer un nouvel email</div>
      </div>
      <div class="modal-body">
        <div class="content">
          Choisissez un nom pour le nouvel email
          <input class="form-input" type="text" [(ngModel)]="newEmailName"/>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="createEmail()">Créer</button>
        <button class="btn btn-link" (click)="(newEmailName = null) && $event.preventDefault()">
          {{ 'COMMON.CANCEL' | translate }}
        </button>
      </div>
    </div>
</div>
