@import "mixins";
@import "variables";

.avatar {
  @include flex-position(center);
  @include avatar-base();
  @include avatar-variant(rgba($white-color, .85), $avatar-bg-color);
  border-radius: 50%;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
  position: relative;
  text-align: center;

  img {
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: inherit;
    z-index: 1;
  }

  &.has-img-border {

    > img:first-of-type {
      border: 2px solid $white-color;
      box-shadow: 0 0 0 2px $border-default-color;
    }

  }

  .avatar-icon, .avatar-presence {
    background: #E0E0E0;
    bottom: 14.64%;
    height: 50%;
    padding: $border-width-lg;
    position: absolute;
    right: 14.64%;
    transform: translate(50%, 50%);
    width: 50%;
    z-index: 2;
  }

  .avatar-presence {
    background: $light-color;
    box-shadow: 0 0 0 $border-width-lg $white-color;
    border-radius: 50%;
    height: .5em;
    width: .5em;

    &.is-online {
      background: $success-color;
    }

    &.is-busy {
      background: $alert-color;
    }

    &.is-away {
      background: $warning-color;
    }

  }

  &[data-initial]::before {
    color: $draft-color;
    content: attr(data-initial);
    left: 50%;
    position: absolute;
    white-space: nowrap;
    font-weight: $font-weight-medium;
    font-family: $font-family;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &.is-xs {
    @include avatar-base($unit-4);
  }

  &.is-sm {
    @include avatar-base($unit-6);
  }

  &.is-profile {
    @include avatar-base(36px);
    border: $border-width solid $border-default-color;
  }

  &.is-lg {
    @include avatar-base($unit-12);
  }

  &.is-xl {
    @include avatar-base($unit-16);
  }

}
