@import "variables";
@import "mixins";

.badge {
  position: relative;
  white-space: nowrap;

  &[data-badge], &:not([data-badge]) {

    &::after {
      background: $primary-color;
      background-clip: padding-box;
      border-radius: 25px;
      color: $white-color;
      content: attr(data-badge);
      display: inline-block;
      transform: translate(-.1rem, -.5rem);
    }

  }

  &[data-badge] {

    &::after {
      font-size: 0.65rem;
      height: .9rem;
      line-height: $line-height-sm;
      min-width: .9rem;
      padding: .1rem .2rem;
      text-align: center;
      white-space: nowrap;
    }

  }

  &:not([data-badge]), &[data-badge=""] {

    &::after {
      height: 0.3rem;
      min-width: 0.3rem;
      padding: 0;
      width: 0.3rem;
    }

  }

  // Badges for Buttons
  &.button {

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }

    &.is-rounded {

      &::after {
        transform: translate(30%, -50%);
      }

    }

  }

  // Badges for Avatars
  &.avatar {

    &::after {
      position: absolute;
      top: 14.64%;
      right: 14.64%;
      transform: translate(50%, -50%);
      z-index: 2;
    }

  }

  &.is-xs {

    &::after {
      content: "";
      height: $unit-2;
      min-width: $unit-2;
      padding: 0;
      width: $unit-2;
    }

  }

  &.is-sm {

    &::after {
      height: 0.8rem;
      font-size: $font-icon-xs;
    }

  }

  // icon
  &.badge-icon {
    white-space: normal;

    &::after {
      display: none;
    }

    i {
      display: none;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      font-size: 14px;
      background: $bg-default-color;
      color: $white-color;
      transform: translate(50%, -50%);
    }

    &.badge-active {
      @include button-outline-variant($success-color);

      i {
        display: inline-flex;
        background: $success-color;
      }

      &.is-danger {
        @include button-outline-variant($alert-color);
        i {
          background: $alert-color !important;
        }
      }

      &.is-warning {
        @include button-outline-variant($warning-color);
        i {
          background: $warning-color !important;
        }
      }

      &.is-info {
        @include button-outline-variant($meta-color);
        i {
          background: $meta-color !important;
        }
      }

      &.is-dark {
        @include button-outline-variant($dark-color);
        i {
          background: $dark-color !important;
        }
      }

    }

  }

}
