@import "variables";
@import "mixins";

.banner {
  @include flex-position(center);
  padding: $unit-3;
  text-align: center;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  background: $light-color;
  color: inherit;
  box-shadow: $box-shadow;

  &.banner-sticky {
    position: sticky;
    top: 0;
    z-index: $z-index-sticky;
  }

}
