@import "variables";
@import "mixins";

.buttons {
  @include flex-position(flex-start);
  flex-wrap: wrap;
  margin-bottom: -15px;

  .button:not(:last-child) {
    margin-right: 15px;
  }

  .button {
    margin-bottom: 15px;
  }

}

.button {
  @include inline-flex-position(center);
  @include button-transition();
  @include button-default-variant($primary-color);
  text-align: center;
  outline: none;
  position: relative;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  line-height: $line-height-sm;
  border-radius: $border-radius;
  min-width: 125px;
  border: $border-width solid $primary-color;
  font-size: 16px;
  box-sizing: border-box;
  padding: 13px 20px;
  font-weight: 400;

  &.is-loading {
    @include button-loading-variant($primary-color);

    .loading {
      position: absolute;
      width: 100%;
      height: 100%;
    }

  }

  &.has-no-min-width {
    min-width: unset;
  }

  .icon-left {
    margin-right: $unit-2;
  }

  .icon-right {
    margin-left: $unit-2;
  }

  &.is-rounded {
    border-radius: 30px;
  }

  &.is-circled {
    @include button-circled-variant('normal');
  }

  &.is-xs {
    font-size: $font-size-xs;
    padding-top: 5px;
    padding-bottom: 5px;

    &.is-circled {
      @include button-circled-variant('xs');
    }

  }

  &.is-sm {
    font-size: $font-size-sm;
    padding-top: 7px;
    padding-bottom: 7px;

    &.is-circled {
      @include button-circled-variant('sm');
    }

  }

  &.is-lg {
    font-size: $font-size-lg;
    padding-top: $unit-4;
    padding-bottom: $unit-4;
    max-width: 370px;
    width: 100%;
  }

  &.is-fullwidth {
    display: flex;
    width: 100%;
  }

  &.is-outlined {
    @include button-outline-variant($primary-color);
  }

  &.is-link {
    @include button-link-variant($primary-color);
  }

  &.is-white {
    @include button-default-variant($white-color);

    &.is-outlined {
      @include button-outline-variant($white-color);
    }

    &.is-link {
      @include button-link-variant($white-color);
    }

  }

  &.is-dark {
    @include button-default-variant($dark-color);

    &.is-outlined {
      @include button-outline-variant($dark-color);
    }

    &.is-link {
      @include button-link-variant($dark-color);
    }

  }

  &.is-warning {
    @include button-default-variant($warning-color);

    &.is-outlined {
      @include button-outline-variant($warning-color);
    }

    &.is-link {
      @include button-link-variant($warning-color);
    }

  }

  &.is-draft {
    @include button-default-variant($draft-color);

    &.is-outlined {
      @include button-outline-variant($draft-color);
    }

    &.is-link {
      @include button-link-variant($draft-color);
    }

  }

  &.is-info {
    @include button-default-variant($meta-color);

    &.is-outlined {
      @include button-outline-variant($meta-color);
    }

    &.is-link {
      @include button-link-variant($meta-color);
    }

  }

  &.is-danger {
    @include button-default-variant($alert-color);

    &.is-outlined {
      @include button-outline-variant($alert-color);
    }

    &.is-link {
      @include button-link-variant($alert-color);
    }

  }

  &.is-success {
    @include button-default-variant($success-color);

    &.is-outlined {
      @include button-outline-variant($success-color);
    }

    &.is-link {
      @include button-link-variant($success-color);
    }

  }

}
