@import "variables";
@import "mixins";

.pagination {
  @include flex-position(center);
  flex-wrap: wrap;
  text-align: center;
}

.pagination {

  .button {
    display: inline-block;
    transition: none;
    height: 32px;
    min-width: auto;
    border: 1px solid transparent;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 600;

    &:disabled {
      background-color: transparent !important;
      border: none !important;
    }

  }

  .pagination-navigation {
    display: block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    margin-right: 8px;

    .previous-control, .next-control, .page-numbers {
      display: inline-flex;

      .button {
        @include button-outline-variant($draft-color);
        border: none;

        i {
          font-size: 18px;
          vertical-align: -4px;
          margin-right: 2px;
        }

      }

    }

    .next-control {

      .button.is-outlined i {
        margin-right: 0;
        margin-left: 2px;
      }

    }

    .page-numbers {
      font-weight: 600;

      .button {
        margin-left: 4px;
        margin-right: 4px;
        border: 1px solid transparent;

        &.active {
          border-color: $draft-color !important;
          background-color: lighten($draft-color, 50%);
        }

      }

    }

  }

  .popover {

    .button {
      @include button-link-variant($draft-color);
      padding: 0;
      min-width: 101px;
      font-weight: 600;

      i {
        margin-left: 4px;
      }

    }

    .popover-container {
      width: 120px;

      .card {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        list-style: none;

        li {
          margin-top: 0;
          padding: $unit-2 $unit-3;
          font-size: 14px;
          font-weight: 600;
          text-align: left;
          color: $draft-color;

          &:hover {
            cursor: pointer;
            background-color: lighten($draft-color, 57%);
          }

        }

      }

    }

  }

}
