@import "variables";
@import "mixins";

// Sidebar backdrop
.sidebar-backdrop {
  @include fixed-full-page();
  z-index: 7997;

  &.inactive {
    display: none;
    opacity: 0;
    background: none;
  }

  &.active {
    display: block;
    opacity: 1;
    background: $bg-overlay-color;
  }

}

.sidebar, .sidebar-inline {
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;

  .sidebar-container {
    width: 100%;
    min-height: 100vh;
    background: $white-color;
  }

  .sidebar-header {
    @include flex-start();
    position: sticky;
    z-index: 2;
    top: 0;
    min-height: 70px;
    background: linear-gradient(90deg, #23303C 0%, #4F5D6B 100%);

    .sidebar-title {
      color: $white-color;
      line-height: $line-height-sm;
      font-weight: $font-weight-medium;
      margin: 0;
      font-size: 20px;
    }

  }

  .sidebar-body {
    flex: 1 1 100%;
    position: relative;
  }

}

.sidebar {
  min-height: 100vh;
  z-index: 7999;
  position: fixed;
  width: 400px;
  bottom: 0;
  background: $white-color;
  box-shadow: -3px 0 8px 0 rgba(66,91,118,.21);

  &.inactive, &.active {
    transition: 250ms ease-in-out;
  }

  &.inactive {
    opacity: 0;
    transform: translateX(-100%);
  }

  &.active {
    opacity: 1;
    transform: translateX(0);
  }

  &.is-right {
    right: 0;
    left: unset;

    &.inactive {
      transform: translateX(100%);
    }

    .sidebar-container {
      float: right;
      right: 0;
    }

  }

}

.sidebar-inline {
  position: sticky;
  height: 100vh;
  flex: 0 0 25%;
  max-width: 240px;
  background: #F5F5F5;
}


@media (max-width: $size-md) {

  .sidebar:not(.is-not-responsive) {
    width: 65% !important;
  }

}

@media (max-width: $size-sm) {

  .sidebar:not(.is-not-responsive) {
    width: 90% !important;
  }

}
