@import "variables";

// Headings
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: $font-weight-medium;
  line-height: $line-height;
  margin-top: 0;
  margin-bottom: $unit-2;
  word-break: break-word;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6  {
  font-size: 16px;
}

// Paragraph
p {
  margin: 0 0 $unit-2;
}

// Blockquote
blockquote {
  font-size: 16px;
  border-left: 5px solid $border-default-color;
  padding: $unit-5;
  text-align: left;
  background-color: #f5f5f5;

  p:last-child {
    margin-bottom: 0;
  }

  cite {
    color: $meta-color;
    font-weight: $font-weight-medium;
    font-size: 14px;
  }

}

// Lists
ul, ol {
  margin: $unit-2 0 $unit-2 0;
  padding: 0 0 0 $unit-4;

  ul, ol {
    margin: $unit-2 0 $unit-2 0;
  }

  li {
    margin-top: $unit-2;
  }

}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }

}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }

}

dl {

  dt {
    font-weight: $font-weight-bold;
  }

  dd {
    margin: $unit-2 0;
  }

}
