@import "../../../../../../../../style/framework/src/variables";

#cards {

  .c-cards-wrapper {
    margin-right: -$unit-5;
    margin-bottom: -0.75rem;

    .card {
      border: none;
      overflow: hidden;
      background-color: transparent;

      .img-hover-button {
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
      }

      .card-header .card-title {
        font-size: 0.75rem;

        &.loading-content {
          min-height: 30px;
        }

      }

      &.c-effect:hover {
        box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
        cursor: pointer;
      }

    }

  }

}

@media (max-width: $size-xs) {

  .c-cards-wrapper {
    margin-right: 0 !important;
  }

}
