<!-- Header container  -->
<div class="container description-header">

  <div class="columns">
    <div class="column col-lg-10 col-11 col-mx-auto">
      <h1>Low energy consuming Tumble dryer technology</h1>
      <div class="project-already-avai">Project already available &nbsp;•&nbsp;  Protected by patent  <span>&nbsp;•&nbsp;  View in <a>FR</a></span></div>
      <hr class="line-2" align="left"/>
    </div>
  </div>

  <div class="columns">

    <div class="column col-lg-10 col-xl-6 col-7 col-mx-auto">
      <div class="description-summary">
        <p>70% less energy consuming technology drying the laundry by blowing instead of vaporizing moisture by heat.</p>
        <a class="btn header-button">
          <span>Donner mon avis sur ce projet <i class="icon icon-arrow-right"></i></span>
        </a>
      </div>

    </div>

    <div class="column col-lg-10 col-xl-4 col-3 col-mx-auto margin-top">
      <div class="project-share">
        <div class="vous-aimez-le-projet">
          <p>Vous aimez le projet? Partagez-le, récoltez des avis et aidez-le à se concrétiser!</p>
          <i class="fab fa-linkedin fa-2x btn-link icon-linkedin"></i>&nbsp;
          <i class="fab fa-twitter fa-2x icon-twitter"></i>&nbsp;
          <i class="fab fa-facebook-f fa-2x icon-facebook"></i>&nbsp;
          <i class="fab fa-google-plus-g fa-2x margin-top-icon icon-google"></i>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /Header container  -->

<!-- Section 1 -->
<div class="container description-section-1">

  <div class="columns">
    <div class="column col-lg-10 col-11 col-mx-auto">
      <h2 class="section-heading">Gallery</h2>
    </div>
  </div>

  <div class="columns">

    <div class="column col-lg-10 col-3 col-mx-auto margin-bottom">
      <img src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk="
           class="img-responsive"
      >
    </div>
    <div class="column col-lg-10 col-3 col-mx-auto margin-bottom">
      <img src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk="
           class="img-responsive"
      >
    </div>
    <div class="column col-lg-10 col-3 col-mx-auto margin-bottom">
      <img src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk="
           class="img-responsive"
      >
    </div>

  </div>

  <div class="columns">

    <div class="column col-lg-10 col-3 col-mx-auto margin-bottom">
      <img src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk="
           class="img-responsive"
      >
    </div>
    <div class="column col-lg-10 col-3 col-mx-auto margin-bottom">
      <img src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk="
           class="img-responsive"
      >
    </div>
    <div class="column col-lg-10 col-3 col-mx-auto margin-bottom">
      <img src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk="
           class="img-responsive"
      >
    </div>

  </div>

</div>
<!-- /Section 1 -->

<!-- Section 2 -->
<div class="container description-section-2">
  <div class="columns">
    <div class="column col-lg-10 col-11 col-mx-auto">
      <h2 class="section-heading">Market Benefits</h2>
      <ul>
        <li>No intimidating needles, blood sampling by laypersons</li>
        <li>High sample quality, standardized, volume controlled and secured blood collection</li>
        <li>collection center, cold storage nor biohazard packaging required</li>
        <li>High throughput due to automation capacity of standard filter card</li>
        <li>~30-40% lower due to less time, energy and resources required</li>
      </ul>
    </div>
  </div>
</div>
<!-- /Section 2 -->

<!-- Section 3 -->
<div class="container description-section-3">

  <div class="columns">

    <div class="column col-lg-10 col-5 col-mx-auto">
      <h2 class="section-heading">Issue</h2>
      <p class="section-content">Traditional venous blood collection requires a medical professional, cold storage,
        biohazard precautions and more blood than is required for standard tests
        making the value chain overly expensive and time consuming for professionals and patients.</p>
      <p class="section-content">Capillary blood samples collected as dried blood spots address the main issues identified with venous blood draws
        but the blood samples are not standardized and may be rejected due to faulty application especially for
        neonatal screening and in home use by a layperson. Volume control for dried blood spot samples can only be
        achieved using a volumetric micro pipette by professional trained staff.</p>
    </div>

    <div class="column col-lg-10 col-5 col-mx-auto">
      <h2 class="section-heading">Solution</h2>
      <p class="section-content">The HemaXis micro blood collection device was designed to expand and increase the potential
        of dried blood spot analysis. The all-in-one kit incorporates a microfluidic chip with a standard filter card and
        a protective case to provide a practical solution for whole blood collection at the finger tip which can be performed
        by a layperson in any suitable location.</p>
      <p class="section-content">The integration of the microfluidic chip serves as the core technology enabling easy blood
        collection by the user and ensures standardization of samples by accurately and precisely controlling blood volume.</p>
    </div>

  </div>

</div>
<!-- /Section 3 -->

