//import
@import '../../../../../style/client-styles';

$white-color: #FFFFFF;

// Text color
$header-text-color: #FFFFFF;

.hero-container {
  background: url('../../../../../assets/images/bg.png') repeat;

  h1::after {
    display: none;
  }

  .hero-title {
    color: $header-text-color;
  }

  .hero-hr {
    border-color: $header-text-color;
  }

  .hero-subtitle {
    font-size: 1.1rem;
    color: $header-text-color;
  }

  .button-container {
    padding-top: 52px;
    padding-bottom: 30px;

    .button {
      background-color: #F79323;
      border-color: #F79323;
      color: $white-color;

      span i {
        margin-left: 0.25rem;
      }

    }

    .button:hover {
      background-color: #c5751c;
      border-color: #c5751c;
    }

  }

  #share-container {
    background-color: #325B78;
    max-width: 336px;
    padding: 13px 18px 18px 24px;
    min-height: 220px;
    color: $white-color;
    margin-left: 10px;

    #share-data {

    .para {
      color: $white-color;
    }

    .fab {
      padding: 11.79px 11.82px;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.5s ease;
    }

    a {
      color: #FFFFFF;
      text-decoration: none;
    }

    #icon-linkedIn {
      background-color: #0077B5;
    }

    #icon-linkedIn:hover {
      background-color: $white-color;
      color: #0077B5;
    }

    #icon-twitter {
      background-color: #48AAEB;
    }

    #icon-twitter:hover {
      background-color: $white-color;
      color: #48AAEB;
    }

    #icon-facebook {
      background-color: #4F65A1;
      color: $white-color;
    }

    #icon-facebook:hover {
      background-color: $white-color;
      color: #4F65A1;
    }

    #icon-google {
      background-color: #CC5441;
      padding-right: 8px;
      padding-left: 8px;
    }

    #icon-google:hover {
      background-color: $white-color;
      color: #CC5441;
    }

    }

  }

}

#gallery-section {
  padding-bottom: 25px;

  #padding-bottom {
    padding-bottom: 25px;
  }

}

#advantages-section{
  background-color: #ececec;

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    color: $para-color;
    font-size: 1.3rem;
  }

}

#solution-section {
  padding-bottom: 25px;

}

@media (max-width: 426px) {

  .button {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  #share-container {
    padding: 7px 9px 9px 16px !important;
    max-width: 300px !important;
  }

}

@media (min-width: 960px) {

  #solution-section {

    #col-padding-right {
      padding-right: 35px !important;
    }

    #col-padding-left {
      padding-left: 35px !important;
    }

  }

}

