#discover-description {

  .hero-container {
    background-color: #4F5D6B;

    h1, .para {
      color: white;
    }

    h6 {
      color: #a4a4a4;
      font-size: 0.8rem;
      margin-bottom: 15px;
    }

    .detail-wrapper {
      display: flex;
      justify-content: space-between;

      .summary-wrapper {
        padding-right: 20px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .quiz-wrapper {

        .btn {
          padding-top: 14px;
          padding-bottom: 14px;

          i {
            vertical-align: middle;
          }

        }

      }

      .share-wrapper {
        background-color: #235273;
        padding: 13px 18px 34px 18px;
        color: #fff;
        width: 310px;
        flex: 1 0 auto;
        height: 210.56px;

        .para {
          font-size: 0.8rem;
        }

        .fab {
          margin: 5px 0 5px 2px;
          padding: 11.79px 11.82px;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.15s ease-in-out;
        }

        a {
          color: #FFFFFF;
          text-decoration: none;
        }

        #icon-linkedIn {
          padding-left: 13.5px;
          padding-right: 13.5px;
          background-color: #0077B5;
        }

        #icon-linkedIn:hover {
          background-color: white;
          color: #0077B5;
        }

        #icon-twitter {
          background-color: #48AAEB;
        }

        #icon-twitter:hover {
          background-color: white;
          color: #48AAEB;
        }

        #icon-facebook {
          padding-left: 19.5px;
          padding-right: 19.5px;
          background-color: #4F65A1;
          color: white;
        }

        #icon-facebook:hover {
          background-color: white;
          color: #4F65A1;
        }

        #icon-google {
          background-color: #CC5441;
          padding-right: 8px;
          padding-left: 8px;
        }

        #icon-google:hover {
          background-color: white;
          color: #CC5441;
        }

      }

    }

  }

  .media-wrapper {
    display: inline-block;
    margin: 8px 8px 8px 0;

    img {
      max-width: 336px;
      max-height: 250px;
      display: inline-block;
    }

  }

  h3 {
    color: #0B90C6;
  }

  .advantage {
    margin: 0;

    li {
      color: #5D5D5D;
      font-size: 0.9rem;
      margin: 0;
      padding: 6px 8px;
    }

    li:last-child {
      padding-bottom: 0;
    }

  }

  .solution-wrapper {

    .para {
      padding: 0;
    }

  }

}

/********************************** Media ***************************************/

@media (max-width: 320px) {

  #discover-description {

    .detail-wrapper {

      .share-wrapper {
        max-width: 292px !important;
        height: 276.13px !important;
      }

    }

    .quiz-wrapper {

      .btn {
        padding-left: 17px;
        padding-right: 17px;
      }

    }

  }

}

@media (max-width: 600px) {

  #discover-description {

    .media-wrapper {

      img {
        max-width: 100%;
        max-height: unset;
      }

    }

  }

}

@media (max-width: 840px) {

  #discover-description {

    .detail-wrapper {
      flex-direction: column;

      .share-wrapper {
        margin-top: 25px;
        width: unset !important;
        max-width: 336px;
        height: 188.56px;
      }

    }

    .solution-wrapper {

      .heading-solution {
        margin-top: 25px;
      }

    }

  }

}
