@import "../../../../../style/framework/src/variables";

#innovation-preview-component {
  padding-top: 1.5rem;

  .title-primary, .title-secondary {
    color: #3E5164;
    font-weight: $font-weight-normal;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    font-family: Oswald, sans-serif;
    margin-bottom: $unit-h;
  }

  .summary-wrapper, .issue-wrapper, .solution-wrapper {
    padding-top: $unit-5;
    color: $background-color;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    margin-bottom: 0;
  }

  .section-header {
    padding-bottom: 1.5rem;

    .title-primary {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    .text {
      font-size: $font-size-sm;
    }

    .summary-wrapper {
      padding-top: 0.5rem;
      margin-bottom: 0;
    }

  }

  .section-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .media-wrapper {
      display: inline-flex;
      margin: 0.5rem 0.5rem $unit-5 0.5rem;
    }

  }

  .section-benefits, .section-issue {
    padding-bottom: $unit-5;
  }

  .section-benefits {
    font-size: $font-size-md;

    .benefit-wrapper {
      margin-top: $unit-3;
      margin-bottom: 0;

      li {
        color: $background-color;
      }

    }

  }

}

@media (max-width: $size-xs) {

  #innovation-preview-component {

    .section-images .media-wrapper {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

  }

}
