#collaborator-wrapper {
  padding-top: 1.875rem;

  .pd-top {
    padding-top: 1.875rem;
  }

  .collaborator {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
  }

  ul {

    li {
      padding-left: 0;
      margin-bottom: 1.2rem;
    }

  }

  ul:last-child {
    margin-bottom: 0;
  }

  ul:hover {

    .ghost-delete {
      visibility: visible;
    }

  }

  .ghost-delete {
    visibility: hidden;
    margin-bottom: 1.2rem;
  }

  .ghost-primary {
    margin-bottom: 1.2rem;
  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  #collaborator-wrapper {

    .ghost-delete, .ghost-primary {
      width: 78px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      visibility: visible !important;
    }

  }

}



