<div class="collaborator-wrapper">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <form novalidate [formGroup]="formData" (ngSubmit)="onSubmit($event)">

      <!-- Add button -->
      <div class="text-right">
        <button class="btn btn-primary" type="submit" [disabled]="formData.invalid"><i class="fas fa-user-plus"></i>{{ 'COMMON.ADD' | translate }}</button>
      </div>

      <!-- Input field -->
      <div class="form-group pd-top">
        <label class="form-label" for="collaborator">{{ 'PROJECT_MODULE.ADD_COLLABORATORS_MODAL.LABEL' | translate }}</label>
        <input
          class="form-default"
          id="collaborator"
          type="text"
          formControlName="collaboratorEmail"
          placeholder="elon.musk@gmail.com">
        <div class="form-error" *ngIf="formData.get('collaboratorEmail').touched && formData.get('collaboratorEmail').invalid">
          <span *ngIf="formData.get('collaboratorEmail').hasError('required')">{{ 'COMMON.REQUIRED.EMAIL' | translate }}</span>
        </div>
      </div>

    </form>

    <!-- Bot -->
    <div *ngIf="collaborator.length === 0 && collaboratorsInvited.length === 0">
      <div class="bot-wrapper text-center" [ngStyle]="{ 'padding-top': '40px' }">
        <span class="bot-rect">
          {{ 'PROJECT_MODULE.ADD_COLLABORATORS_MODAL.BOT_MESSAGE' | translate }}
        </span>
        <br>
        <img src="https://res.cloudinary.com/umi/image/upload/v1528795403/app/default-images/bot-triangle.svg" class="bot-trian">
        <div>
          <img
            src="https://res.cloudinary.com/umi/image/upload/v1528795365/app/default-images/bot-1.svg"
            class="bot-image"
            alt="Bot">
        </div>
      </div>
    </div>

    <!-- Invited collaborator -->
    <div *ngIf="collaboratorsInvited.length >= 1">
      <ul *ngFor="let collaborator of collaboratorsInvited; let i = index" class="collaborator">
        <li>
          <span class="label-progress">{{ 'PROJECT_MODULE.COLLABORATOR_STATUS.B' | translate }}</span> {{ collaborator }}
        </li>
        <button class="btn btn-xs ghost-primary" (click)="reinviteCollaborator($event, collaborator)">
          {{ 'PROJECT_MODULE.COLLABORATOR_MODAL_BUTTON.REINVITE' | translate }}
        </button>
      </ul>
    </div>

    <!-- Added collaborator -->
    <div *ngIf="collaborator.length >= 1">
      <ul *ngFor="let collaborator of collaborator" class="collaborator">
        <li>
          <span class="label-validate">{{ 'PROJECT_MODULE.COLLABORATOR_STATUS.A' | translate }}</span> {{ collaborator.name }}
        </li>
        <button class="btn btn-xs ghost-delete" (click)="removeCollaborator($event, collaborator)">
          {{ 'PROJECT_MODULE.COLLABORATOR_MODAL_BUTTON.DELETE' | translate }}
        </button>
      </ul>
    </div>

  </div>
</div>
