@import "../../../../../../style/framework/src/variables";

.answer-question-component {
  padding-bottom: 1.5rem;


  .pad-top {
    padding-top: $unit-5;
  }

  .c-pad-top {
    padding-top: 0.75rem;
  }

  .comment-text {
    color: $secondary-color;
    font-weight: $font-weight-medium;
  }

  .sa-thumbs-up {
    margin-left: $unit-2;
    color: $success-color;

    i {
      vertical-align: 4px;
    }

  }

  .sa-thumbs-down {
    margin-left: $unit-2;
    color: $alert-color;

    i {
      vertical-align: -1px;
    }

  }

  .text {

    &.text-question {
      font-size: $font-size-sm;
    }

  }

  .answer-wrapper {
    color: $success-color;

    .clearbit-wrapper {
      margin: -$unit-1;

      .label.label-answer {
        height: 36px;

        img {
          margin-right: $unit-2;
          width: 20px;
          height: 20px;
        }

      }

    }

    .checkbox-wrapper {
      margin: -$unit-1;

      ul {
        list-style: none;

        li {
          margin: 0;
        }

      }

      .edit-answer {
        color: $text-primary-color;

        li {
          margin-top: $unit-2;
        }

      }

      .answer {
        color: $success-color;
      }

    }

    .star-wrapper {
      list-style: none;
      margin: 0;

      li {

        &:first-child {
          margin-top: 0;
        }

        span {
          color: $primary-color;
          margin-left: $unit-2;
        }

      }

    }

    .toggle-wrapper {
      margin-top: $unit-5;
      margin-bottom: 0.75rem;
    }

  }

  .fa-angle-right, .fa-angle-down {
    font-size: $font-icon-xl;
    vertical-align: -3px;
  }

  .textarea-wrapper, .comment-wrapper {
    justify-content: space-between;

    textarea {
      max-width: 80%;
      margin-right: 0.6rem;
    }

  }


}
