.ques-label {
  color: #97A4B1;
  font-weight: 600;
  padding-bottom: 0;
}

.response-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-top {
  padding-top: 20px;
}

.ce-comment-wrapper {
  display: flex;
  justify-content: space-between;

  .form-default {
    margin-top: 20px;
    max-width: 80%;
    padding: 6px 12px;
    font-size: 12px;
  }

}

.comment-answer {
  color: #5d5d5d;
  padding-top: 15px;
  padding-bottom: 0;
}

.answer {
  color: #2ECC71;
}

.gaping {
  margin-right: 30px;
}

.inactive {
  color: #5d5d5d;
}

.comment-text {
  color: #FFB300;
  padding-bottom: 0;
}

.pd-top {
  padding-top: 15px;
}

.pd-bottom {
  padding-bottom: 20px;
}

.list-wrapper {
  background: #F8F4F4;
  color: #333333;
  padding: 8px 15px;
  border-radius: 3px;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 10px;
}


.topItem, .badItem {
  background: #2ECC71;
  color: white;

  i {
    color: rgba(255, 255, 255, 0.8);
  }

  i:hover {
    color: white;
  }

}

.badItem {
  background: #EA5858;
}

.checkbox-wrapper {
  color: #333333;
  display: inline-flex;

  li {
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #F8F4F4;
    border-radius: 3px;
  }

}

.nCheckbox-wrapper {
  color: #5d5d5d;

  li {
    padding: 0 0 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #F8F4F4;
    border-radius: 3px;
  }

}

.div-gap {
  padding-top: 20px;
  padding-bottom: 10px;
}

.scale-text {
  padding: 15px 0 0;
  color: #5d5d5d;
}

.star-wrapper {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-top: 15px;
  color: #5d5d5d;
  justify-content: space-between;

  li {
    padding: 0;
    margin-bottom: 10px;
    align-items: center;

    span {
      color: #FFB300;
      margin-left: 3px;
    }

  }

}

.toggle-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #5d5d5d;
}

.sa-thumbs-up {
  margin-left: 15px;
  color: #2ECC71;
  vertical-align: 2px;
}

.sa-thumbs-down {
  margin-left: 15px;
  color: #EA5858;
  vertical-align: -2px;
}


/********************************** Media ***************************************/

@media (max-width: 600px) {

  .ce-comment-wrapper {
    flex-direction: column;

    .form-default {
      max-width: 100%;
    }

  }

}
