@import "../../../../../../style/framework/src/variables";

.ques-label {
  color: $meta-color;
  font-weight: 600;
  padding-bottom: 0;
}

.response-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-top {
  padding-top: 1.2rem;
}

.comment-wrapper {
  display: flex;
  justify-content: space-between;

  .form-input {
    margin-top: 1.2rem;
    max-width: 80%;
    padding: .375rem .75rem;
    font-size: .75rem;
  }

}

.comment-answer {
  color: #5d5d5d;
  padding-top: .9375rem;
  padding-bottom: 0;
}

.fa-angle-right {
  font-size: .875rem;
  vertical-align: -.125rem;
}

.answer {
  color: $success-color;
}

.gaping {
  margin-right: 1.875rem;
}

.inactive {
  color: #5d5d5d;
}

.comment-text {
  color: $primary-color;
  padding-bottom: 0;
}

.pd-top {
  padding-top: .9375rem;
}

.pd-bottom {
  padding-bottom: 1.2rem;
}

.list-wrapper {
  background: #F8F4F4;
  color: $dark-color;
  padding: .5rem .9375rem;
  border-radius: 3px;
  display: inline-flex;
  margin-right: .6rem;
  margin-bottom: .6rem;
}


.topItem, .badItem {
  background: $success-color;
  color: white;

  i {
    color: rgba(255, 255, 255, 0.8);
  }

  i:hover {
    color: white;
  }

}

.badItem {
  background: $alert-color;
}

.checkbox-wrapper {
  color: $dark-color;
  display: inline-flex;

  li {
    padding: .6rem .9375rem;
    margin-right: .6rem;
    margin-bottom: .6rem;
    background: #F8F4F4;
    border-radius: 3px;
  }

}

.nCheckbox-wrapper {
  color: #5d5d5d;

  li {
    padding: 0 0 .6rem;
    margin-right: .6rem;
    margin-bottom: .6rem;
    border-radius: 3px;
  }

}

.div-gap {
  padding-top: 1.2rem;
  padding-bottom: .6rem;
}

.scale-text {
  padding: .9375rem 0 0;
  color: #5d5d5d;
}

.star-wrapper {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-top: .9375rem;
  color: #5d5d5d;
  justify-content: space-between;

  li {
    padding: 0;
    margin-bottom: .6rem;
    align-items: center;

    span {
      color: $primary-color;
      margin-left: 3px;
    }

  }

}

.toggle-wrapper {
  margin-top: .9375rem;
  margin-bottom: .9375rem;
  color: #5d5d5d;
}

.sa-thumbs-up {
  margin-left: .9375rem;
  color: #2ECC71;
  vertical-align: .125rem;
}

.sa-thumbs-down {
  margin-left: .9375rem;
  color: $alert-color;
  vertical-align: -.125rem;
}


/********************************** Media ***************************************/

@media (max-width: 600px) {

  .comment-wrapper {
    flex-direction: column;

    .form-input {
      max-width: 100%;
    }

  }

}
