@import "../../../../../style/framework/src/variables";

.modal {

  .modal-close {
    color: $text-primary-dark-color;

    &:hover {
      color: $text-primary-dark-color;

      &::before {
        background-color: rgba(58, 66, 77, 0.10);
      }

    }

  }

}

@media (max-width: 600px) {

  .modal-container {
    max-width: 90% !important;
  }

}
