<div class="body-wrapper animate-page" id="discover-component">

  <!-- authenticated header -->
  <ng-container *ngIf="authService.isAuthenticated">
    <app-header></app-header>
  </ng-container>
  <!-- /authenticated header -->

  <!-- unauthenticated header -->
  <ng-container *ngIf="!authService.isAuthenticated">
    <app-header-unauth></app-header-unauth>
  </ng-container>
  <!-- /unauthenticated header -->

  <!-- body -->
  <section class="main-wrapper">
    <router-outlet></router-outlet>
  </section>

  <!-- footer -->
  <app-footer></app-footer>

</div>
