@import "~@umius/umi-style-framework/scss/variables";
@import "~@umius/umi-style-framework/scss/mixins";

#logout {
  @include flex-position(center);
  @include full-page(fixed);
  background: $white-color;
  flex-direction: column;
  z-index: 9090;
}
