@import "../../../../style/framework/src/variables";

#footer {
  min-height: 50px;

  .navbar {
    min-height: 50px;
    border-bottom: 0;

    .privacy-wrapper {

      a {
        transition: all 0.5s ease;
      }

    }

  }

}

@media (max-width: $size-sm) {

  #footer {

    .navbar {
      flex-direction: column;

      .copyright-wrapper {
        margin-bottom: 0.75rem;
        order: 2;
      }

      .privacy-wrapper {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

    }

  }

}
