@import "../../../../style/framework/src/variables";

#footer-component {
  min-height: 50px;

  .navbar {
    min-height: 50px;
    font-size: $font-size-sm;

    .privacy-wrapper {

      a {
        transition: all 0.5s ease;
      }

    }

  }

}

@media (max-width: $size-sm) {

  #footer-component {

    .navbar {
      flex-direction: column;

      .copyright-wrapper {
        margin-bottom: 0.75rem;
        order: 2;
      }

      .privacy-wrapper {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

    }

  }
  
}
