<footer id="footer" class="bg-draft">
  <div class="container fluid grid-2xl">
    <div class="column col-sm-12 col-11 col-mx-auto">
      <nav class="navbar bg-draft text-sm flex-between">

        <!-- copyright -->
        <div class="copyright-wrapper">
          <span>© {{ copyrightDate }} {{ companyName }}</span>
        </div>
        <!-- /copyright -->

        <!-- terms and privacy -->
        <div class="privacy-wrapper text-medium">

          <a [href]="ideasLink" class="gtm-legal-notice c-hand" rel="noopener" target="_blank">
            {{ 'FOOTER.IDEAS' | translate }}
          </a>

          |

          <a [href]="termsLink" class="gtm-legal-notice c-hand" rel="noopener" target="_blank">
            {{ 'FOOTER.TERMS' | translate }}
          </a>

          |

          <a [href]="privacyLink" class="gtm-end-user-licence-agreement c-hand" rel="noopener" target="_blank">
            {{ 'FOOTER.PRIVACY' | translate }}
          </a>

        </div>
        <!-- /terms and privacy -->

      </nav>
    </div>
  </div>
</footer>
