<section class="header header-primary" id="footer-component">
  <div class="column col-11 col-xs-12 col-mx-auto">
    <nav class="navbar">

      <!-- copyright -->
      <div class="copyright-wrapper">
        <span>© {{ copyrightDate }} {{ companyName }}</span>
      </div>

      <!-- terms and privacy -->
      <div class="privacy-wrapper text-medium">

        <a [href]="getTermsLink()" target="_blank" rel="noopener" class="gtm-legal-notice c-hand">
          {{ 'FOOTER.TERMS' | translate }}
        </a>

        |

        <a [href]="getPrivacyLink()" target="_blank" rel="noopener" class="gtm-end-user-licence-agreement c-hand">
          {{ 'FOOTER.PRIVACY' | translate }}
        </a>

      </div>

    </nav>
  </div>
</section>
