@import "../../../../style/framework/src/variables";

#footer-component {

  .info, .lang {
    display: flex;
    align-items: center;
    min-height: 75px;
  }

  .info {
    transition: all 0.35s ease-in-out;
    font-size: 0.7rem;

    a {
      color: white;
    }

    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }

  }

  .lang {

    .form-switch {
      padding: 0;
    }

    .form-select {
      margin-top: 0;
      min-width: 100px;
    }

    .form-select:focus {
      border-color: $border-color;
    }

  }

}
