#admin-followed {
  margin-top: 20px;
  margin-left: 50px;

  .project-preparation {
    background-color: white;
    margin-bottom: 30px;
    width: 50%;
    padding: 10px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  }
  .project-line {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-line:hover {
    .showOnHover {
      visibility: visible;
    }
  }

  .suggestion {
    position: absolute;
  }

  .showOnHover {
    visibility: hidden;
  }

  .form-select {
    width: 40%;
  }

  .disabled {
    opacity: .5;
    pointer-events: none;
  }
}
