@import '../../../../../../../style/framework/src/variables';

.targeting-detail {
  background-color: $bg-color-light;
  border-right: $border-radius;
  font-size: inherit;

  .flex-between {
    align-items: unset;
  }

  .title-primary {
    font-size: 1.35rem;
  }

  .title-secondary {
    font-size: $font-size-lg;
    color: $secondary-color;
  }

  .map-wrapper {
    padding-right: 0.75rem;
    flex: 1;
  }

  .question-wrapper {
    padding-bottom: 1.25rem;
  }

  .label {
    margin-left: 0;
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  .c2-answer-wrapper {
    padding-left: 0.75rem;
    flex: 1;
  }

}
