.visibleOnHover {
  visibility: hidden;
}

.form-group-inline-left:hover {
  .visibleOnHover {
    visibility: visible;
  }
}


.clicked {

  .primary {
    visibility: visible;
  }

  .not-active {
    visibility: visible;
  }

}
