<div (click)="sort($event)" class="form-group-inline-left">
  <ng-content></ng-content>
  <span *ngIf="order === -1" class="sort-icon">
    <i class="icon c-hand icon-arrow-up"></i>
    <i class="icon c-hand icon-arrow-down primary"></i>
  </span>
  <span *ngIf="order === 1" class="sort-icon">
    <i class="icon c-hand icon-arrow-up primary"></i>
    <i class="icon c-hand icon-arrow-down"></i>
  </span>
  <span *ngIf="order === 0" class="sort-icon">
    <i class="icon c-hand icon-arrow-up"></i>
    <i class="icon c-hand icon-arrow-down"></i>
  </span>
</div>
