<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a routerLink="/" target="_blank" class="brand-logo left">
          <img src="http://res.cloudinary.com/umi/image/upload/c_scale,h_30/v1506515143/Application/logo-umi.png" alt="Logo UMI" height="30">
        </a>
        <ul id="nav-mobile" class="right">
          <li><a href="/admin/quiz/edit" target="_blank">{{ 'COMMON.EDIT' | translate }}</a></li>
          <li>
            <a class="dropdown-button">
              {{ 'COMMON.LANG.'+translate.currentLang.toUpperCase() | translate }}<i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li><a href="http://help.umi.us/frequently-asked-questions" target="_blank">{{ 'COMMON.HELP' | translate }}</a></li><!-- TODO récupérer le lien vers le HelpDesk depuis les vars d'environnement -->
        </ul>
        <ul id="header-language-dropdown" class="dropdown-content">
          <li *ngIf="translate.currentLang !== 'fr'"><a (click)="translate.use('fr')">{{ 'COMMON.LANG.FR' | translate }}</a></li>
          <li *ngIf="translate.currentLang !== 'en'"><a (click)="translate.use('en')">{{ 'COMMON.LANG.EN' | translate }}</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
