@import "~@umius/umi-style-framework/scss/variables";

#admin-project-settings {
  padding-bottom: 40px;

  .tooltip.is-multiline::before {
    z-index: 1000 !important;
  }
  .tooltip.is-multiline::after {
    z-index: 1000 !important;
  }
  .tooltip.is-multiline {
    z-index: 1000 !important;
  }

  .text-meta{
    opacity: 33%;
  }

  .status{
    width: 80px;
    margin-left: 20px;
  }

  .settings-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: -25px;
    margin-right: -25px;

    .content-wrapper {
      flex: 1;
      margin-top: 50px;
      margin-left: 25px;
      margin-right: 25px;

      .content-box {
        background-color: $white-color;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
        border-radius: 6px;
        padding: 30px 25px 5px 25px;

        .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 25px;

          label:not(.form-switch) {
            max-width: 200px;
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            color: $draft-color;
            margin-right: 20px;
          }

          .break {
            flex-basis: 100%;
            height: 0;
          }

          .mission-members-container{
            max-width: 300px;
            margin-left: auto;

            .icon-right{
              cursor: pointer;
            }
          }

          .is-text {
            width: 100%;
            font-size: 15px;
            text-align: right;
          }

          .form-select {
            max-width: 300px;
          }

          .edit-wrapper {
            display: flex;
            align-items: center;
            max-width: 300px;
            width: 100%;
          }

          .menu {
            max-height: 300px;
            overflow-y: auto;
          }

          .dropdown {

            .dropdown-toggle {
              padding-top: 13px;
              padding-bottom: 13px;
              min-width: unset;
            }

            .menu {

              .form-checkbox {
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                margin-right: 0;
                font-size: 14px;
                font-weight: normal;
              }

            }
          }

          .roadmap-wrapper {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;

            li {
              display: flex;
              font-size: 14px;
              margin-top: -8px;
              margin-left: -10px;

              .add-milestone-container{
                .button{
                  width: 20px;
                  height: 20px;
                }
              }

              .shape.is-circled {
                margin: 0 10px;
                width: 16px;
                height: 16px;
                border: 2px solid $border-default-color;
                background-color: $white-color;
              }

              input[type="date"]::-webkit-inner-spin-button,
              input[type="date"]::-webkit-calendar-picker-indicator {
                display: none;
                -webkit-appearance: none;
              }

              .divider-vert {
                padding-top: 20px;
                margin: -5px 0 0;
                padding-bottom: 20px;

                &::before {
                  border-left-width: 2px;
                }

                &.active::before {
                  border-color: $success-color;
                }

              }

              &:first-child {
                margin-top: 0;
              }

              &.active {

                .shape.is-circled {
                  border-color: $success-color;
                  background-color: lighten($success-color, 42%);
                }

              }

            }

          }

        }

      }

    }

  }

}

@media screen and (max-width: $size-lg) {

  #admin-project-settings {

    .settings-wrapper {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }

  }

}

@media screen and (max-width: $size-sm) {

  #admin-project-settings {

    .settings-wrapper {

      .content-wrapper {

        .content-box {

          .content {
            padding-top: 25px;
            flex-direction: column;
            align-items: flex-start;

            label:not(.form-switch) {
              padding-bottom: 15px;
            }

            .edit-wrapper {

              .is-text {
                width: unset;
              }

            }

          }

        }

      }

    }

  }

}
