@import "../../../../../../../style/framework/src/variables";

#admin-project-settings {
  padding-bottom: 30px;

  .settings-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: -25px;
    margin-right: -25px;

    .content-wrapper {
      flex: 1;
      margin-top: 50px;
      margin-left: 25px;
      margin-right: 25px;

      .content-box {
        background-color: $bg-white-color;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
        min-height: 200px;
        border-radius: 6px;
        padding: 30px 25px 5px 25px;

        .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 25px;

          label {
            max-width: 200px;
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            color: $text-draft-color;
            margin-right: 20px;
          }

          .is-text {
            width: 100%;
            font-size: 15px;
            text-align: right;
          }

          .form-select {
            max-width: 300px;
          }

          .edit-wrapper {
            display: flex;
            align-items: center;
            max-width: 300px;
            width: 100%;
          }

          .menu {
            max-height: 300px;
            overflow-y: auto;
          }

          .dropdown {

            .dropdown-toggle {
              padding-top: 13px;
              padding-bottom: 13px;
              min-width: unset;
            }

            .menu {

              .form-checkbox {
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                margin-right: 0;
                font-size: 14px;
                font-weight: normal;
              }

            }

          }

        }

      }

    }

  }

}
