<div [hidden]="isLoading" class="animate-fade is-5" id="admin-project-settings">

  <!-- stats banner -->
  <section>
    <app-admin-stats-banner
      (updateStats)="onClickUpdateStats()"
      [config]="statsConfig"
      [updateBtn]="true">
    </app-admin-stats-banner>
  </section>
  <!-- /stats banner -->

  <!-- settings -->
  <div class="container fluid grid-2xl">
    <div class="column col-sm-12 col-11 col-mx-auto">
      <section class="settings-wrapper">

        <!-- left content -->
        <div class="content-wrapper">

          <h6 class="text-notify">Setup</h6>

          <div class="content-box">

            <!-- mission type -->
            <div
              *ngIf="mission.type && (canAccess(['view', 'missionType'])
              || canAccess(['edit', 'missionType']))"
              class="content">

              <label for="admin-project-type">Market Test Type</label>

              <select
                *ngIf="canAccess(['edit', 'missionType'])"
                (ngModelChange)="onMissionTypeChange($event)"
                [disabled]="!canAccess(['edit', 'missionType'])"
                [ngModel]="mission && mission.type ? mission.type : null"
                class="form-select is-sm is-shadowed"
                id="admin-project-type">
                <option value="null">Not assigned</option>
                <option *ngFor="let type of missionTypes" [value]="type">{{ type | titlecase }}</option>
              </select>

              <span *ngIf="!canAccess(['edit', 'missionType'])" class="is-text">
                {{ mission && mission.type | titlecase }}
              </span>

            </div>
            <!-- /mission type -->

            <!-- operators -->
            <div *ngIf="canAccess(['view', 'operator']) || canAccess(['edit', 'operator'])" class="content">

              <label for="admin-project-operator">Operator</label>

              <select
                *ngIf="canAccess(['edit', 'operator'])"
                (ngModelChange)="onOperatorChange($event)"
                [disabled]="!canAccess(['edit', 'operator'])"
                [ngModel]="innovation.operator && innovation.operator.id"
                class="form-select is-sm is-shadowed"
                id="admin-project-operator">
                <option [value]="undefined">Not assigned</option>
                <option *ngFor="let operator of operators" [ngValue]="operator['_id']">
                  {{ name(operator) }}
                </option>
              </select>

              <span *ngIf="!canAccess(['edit', 'operator'])" class="is-text">
                {{ name(innovation.operator) }}
              </span>

            </div>
            <!-- /operators -->

            <!-- mission team -->
            <div
              *ngIf="mission._id && (canAccess(['view', 'missionTeam'])
              || canAccess(['edit', 'missionTeam']))"
              class="content">

              <label>Mission Team</label>

              <div class="dropdown is-right">

                <a class="button dropdown-toggle text-primary-dark is-link" tabindex="0">
                  Members <i class="icon icon-caret"></i>
                </a>

                <ul *ngIf="canAccess(['edit', 'missionTeam'])" class="menu is-md">
                  <li *ngFor="let operator of operators" class="menu-item">
                    <label class="form-checkbox">
                      <input
                        (change)="onChangeMissionTeam(operator)"
                        [checked]="isTeamMember(operator['_id'])"
                        [id]="operator['_id']"
                        [name]="operator['_id']"
                        type="checkbox">
                      <i class="form-icon"></i> {{ name(operator) }}
                    </label>
                  </li>
                </ul>

                <ul *ngIf="!canAccess(['edit', 'missionTeam'])" class="menu is-md">
                  <ng-container *ngIf="mission.team.length > 0">
                    <li *ngFor="let member of mission.team" class="menu-item c-default">{{ name(member) }}</li>
                  </ng-container>
                  <li *ngIf="mission.team.length === 0" class="menu-item c-default">No members</li>
                </ul>

              </div>

            </div>
            <!-- /mission team -->

            <!-- commercial -->
            <div
              *ngIf="clientProject._id && (canAccess(['view', 'commercial'])
              || canAccess(['edit', 'commercial']))"
              class="content">

              <label for="admin-project-commercial">Commercial</label>

              <select
                *ngIf="canAccess(['edit', 'commercial'])"
                (ngModelChange)="onCommercialChange($event)"
                [disabled]="!canAccess(['edit', 'commercial'])"
                [ngModel]="clientProject.commercial && clientProject.commercial.id"
                class="form-select is-sm is-shadowed"
                id="admin-project-commercial">
                <option [value]="undefined">Not assigned</option>
                <option *ngFor="let commercial of commercials" [ngValue]="commercial['_id']">
                  {{ name(commercial) }}
                </option>
              </select>

              <span *ngIf="!canAccess(['edit', 'commercial'])" class="is-text">
                {{ name(clientProject.commercial) }}
              </span>

            </div>
            <!-- /commercial -->

            <!-- owner -->
            <div class="content">
              <label for="admin-project-commercial">Owner</label>
              <div class="edit-wrapper">

                <span *ngIf="!isEditingOwner" class="is-text">{{ name(innovation.owner) }}</span>

                <label *ngIf="isEditingOwner" class="relative m-no-right mxw-full">
                  <input
                    (keydown)="suggestUser(newOwner.name)"
                    [(ngModel)]="newOwner.name"
                    class="form-input is-sm is-shadowed"
                    placeholder="Start typing here..."
                    type="text">
                  <ul
                    *ngIf="usersSuggestion.length"
                    [ngStyle]="{'left': '0', 'right': '0'}"
                    class="menu absolute">
                    <li (click)="selectOwner(user)" *ngFor="let user of usersSuggestion" class="menu-item">
                      {{ user.name }}
                    </li>
                  </ul>
                </label>

                <div
                  (click)="saveOwner($event)"
                  *ngIf="isEditingOwner"
                  [ngClass]="{'disabled': !newOwner}"
                  class="icon-container m-left-10">
                  <span class="tooltip" data-tooltip="Save">
                    <img
                      alt="Save"
                      class="img-responsive"
                      src="https://res.cloudinary.com/umi/image/upload/app/default-images/pictos/picto-save.svg">
                  </span>
                </div>

                <div
                  (click)="onEdit('OWNER')"
                  *ngIf="canAccess(['edit', 'owner'])"
                  class="icon-container m-left-20">
                  <span [attr.data-tooltip]="isEditingOwner ? 'Cancel' : 'Edit owner'" class="tooltip">
                    <img
                      alt="Edit"
                      class="img-responsive"
                      src="https://res.cloudinary.com/umi/image/upload/app/default-images/pictos/picto-edit.svg">
                  </span>
                </div>

              </div>
            </div>
            <!-- /owner -->

          </div>

        </div>
        <!-- /left content -->

        <!-- right content -->
        <div class="content-wrapper">

          <h6 class="text-notify">Campaign / Delivery</h6>

          <div class="content-box">

          </div>

        </div>
        <!-- /right content -->

      </section>
    </div>
  </div>
  <!-- /settings -->

</div>
