<div [hidden]="isLoading" id="admin-project-settings">

  <!-- stats banner -->
  <section>
    <app-admin-stats-banner
      (updateStats)="onClickUpdateStats()"
      [config]="statsConfig"
      [updateBtn]="true">
    </app-admin-stats-banner>
  </section>
  <!-- /stats banner -->

  <!-- action buttons -->
  <section
    *ngIf="innovation.status === 'SUBMITTED' && (canAccess(['edit', 'validateProject'])
    || canAccess(['edit', 'projectRevision']))"
    class="container fluid grid-2xl">
    <div class="column col-sm-12 col-11 col-mx-auto">
      <div class="text-right p-top-30">

        <!-- revision -->
        <button
          (click)="onRevisionProject($event)"
          *ngIf="canAccess(['edit', 'validateProject'])"
          class="button is-danger is-outlined is-sm m-right-20"
          id="btn-revision-project">
          <i class="fas fa-exclamation icon-left"></i>
          Ask for project revision
        </button>
        <!-- /revision -->

        <!-- validate -->
        <button
          (click)="onValidateProject($event)"
          *ngIf="canAccess(['edit', 'validateProject'])"
          class="button is-primary"
          id="btn-validate-project">
          <i class="fas fa-check icon-left"></i>
          Validate project
        </button>
        <!-- /validate -->

      </div>
    </div>
  </section>
  <!-- /action buttons -->

  <!-- settings -->
  <div class="container fluid grid-2xl">
    <div class="column col-sm-12 col-11 col-mx-auto">

      <section class="settings-wrapper">

        <!-- left content -->
        <div class="content-wrapper">

          <h6 class="text-meta">Setup</h6>

          <div class="content-box">

            <!-- domain -->
            <div
              *ngIf="canAccess(['view', 'domain']) || canAccess(['edit', 'domain'])"
              class="content">

              <label for="admin-project-domain">Domain</label>

              <select
                (ngModelChange)="onChangeDomain($event)"
                *ngIf="canAccess(['edit', 'domain'])"
                [ngModel]="innovation.domain"
                class="form-select is-sm is-shadowed"
                id="admin-project-domain">
                <option *ngFor="let domain of domains" [ngValue]="domain.name">
                  {{ domain.name }}
                </option>
              </select>

              <span *ngIf="!canAccess(['edit', 'domain'])" class="is-text">
                {{ innovation.domain }}
              </span>

            </div>
            <!-- /domain -->

            <!-- secondary objective -->
            <div *ngIf="canAccess(['view', 'secondaryObjective'])" class="content">
              <label for="admin-project-domain">Secondary Objectives</label>
              <span class="is-text">
                <ng-container *ngIf="(hasMissionTemplate || !!mission.objective?.secondary.length); else noSecObj">
                  <ng-container *ngIf="templateComplementary.length > 0; else oldSecondary;">
                    <ng-container *ngFor="let objective of templateComplementary">
                      <span class="label is-rounded is-sm"
                            *ngIf="objectiveName(objective)">{{ objectiveName(objective) }}</span>
                    </ng-container>
                  </ng-container>
                  <ng-template #oldSecondary>
                    <ng-container *ngFor="let objective of mission.objective.secondary">
                      <span class="label is-rounded is-sm"
                            *ngIf="objective[currentLang]">{{ objective[currentLang] }}</span>
                    </ng-container>
                  </ng-template>
                </ng-container>
                <ng-template #noSecObj>NA</ng-template>
              </span>
            </div>
            <!-- /secondary objective -->

            <!-- enterprise client -->
            <div
              *ngIf="canAccess(['view', 'enterprise']) && innovation.owner && innovation.owner.company && innovation.owner.company.name"
              class="content">

              <label for="admin-project-domain">Enterprise</label>


              <span class="is-text">
                {{ innovation.owner?.company?.name }}
              </span>

            </div>
            <!-- /enterprise client -->

            <!-- mission type -->
            <div
              *ngIf="mission.type && (canAccess(['view', 'missionType'])
              || canAccess(['edit', 'missionType']))"
              class="content">

              <label for="admin-project-type">Market Test Type</label>

              <select
                *ngIf="canAccess(['edit', 'missionType'])"
                (ngModelChange)="onMissionTypeChange($event)"
                [ngModel]="mission && mission.type ? mission.type : null"
                class="form-select is-sm is-shadowed"
                id="admin-project-type">
                <option value="null">Not assigned</option>
                <option *ngFor="let type of missionTypes" [value]="type">{{ type | titlecase }}</option>
              </select>

              <span *ngIf="!canAccess(['edit', 'missionType'])" class="is-text">
                {{ mission && mission.type | titlecase }}
              </span>

            </div>
            <!-- /mission type -->

            <!-- operators -->
            <div *ngIf="canAccess(['view', 'operator']) || canAccess(['edit', 'operator'])" class="content">

              <label for="admin-project-operator">Operator</label>

              <select
                *ngIf="canAccess(['edit', 'operator'])"
                (ngModelChange)="onOperatorChange($event)"
                [ngModel]="innovation.operator && innovation.operator.id"
                class="form-select is-sm is-shadowed"
                id="admin-project-operator">
                <option [value]="undefined">Not assigned</option>
                <option *ngFor="let operator of operators" [ngValue]="operator['_id']">
                  {{ name(operator) }}
                </option>
              </select>

              <span *ngIf="!canAccess(['edit', 'operator'])" class="is-text">
                {{ name(innovation.operator) }}
              </span>

            </div>
            <!-- /operators -->

            <!-- mission team -->
            <div
              *ngIf="mission._id && (canAccess(['view', 'missionTeam'])
              || canAccess(['edit', 'missionTeam']))"
              class="content">

              <label>Mission Team</label>

              <div class="dropdown is-right">

                <a class="button dropdown-toggle text-dark is-link" tabindex="0">
                  Members ({{ mission.team?.length }}) <i class="icon icon-caret"></i>
                </a>

                <ul *ngIf="canAccess(['edit', 'missionTeam'])" class="menu is-md">
                  <li *ngFor="let operator of operators" class="menu-item">
                    <label class="form-checkbox">
                      <input
                        (change)="onChangeMissionTeam(operator)"
                        [checked]="isTeamMember(operator['_id'])"
                        [id]="operator['_id']"
                        [name]="operator['_id']"
                        type="checkbox">
                      <i class="form-icon"></i> {{ name(operator) }}
                    </label>
                  </li>
                </ul>

                <ul *ngIf="!canAccess(['edit', 'missionTeam'])" class="menu is-md">
                  <ng-container *ngIf="mission.team?.length > 0">
                    <li *ngFor="let member of mission.team" class="menu-item c-default">{{ name(member) }}</li>
                  </ng-container>
                  <li *ngIf="mission.team?.length === 0" class="menu-item c-default">No members</li>
                </ul>

              </div>

            </div>
            <!-- /mission team -->

            <div *ngIf="mission.team?.length > 0 && canAccess(['edit', 'missionTeam'])" class="content">
              <div class="mission-members-container">
                  <span class="label is-rounded is-sm" *ngFor="let member of mission.team">{{name(member)}}
                    <i class="fas fa-times icon-right" (click)="onChangeMissionTeam(member)"></i>
                  </span>
              </div>
            </div>

            <!-- Project languages 'projectLanguages'-->
            <div
              *ngIf="mission._id && (canAccess(['view','missionTeam' ])
              || canAccess(['edit', 'projectLanguages']))"
              class="content">
              <label>Project Languages</label>
              <div class=" flex-end">
                <div class="accordion">
                  <input type="checkbox" id="accordion" name="accordion-checkbox" hidden>
                  <label style="margin-left: auto;" class="flex-end text-dark" for="accordion">
                    Languages ({{ projectLanguages.length }})
                    <i class="icon icon-caret"></i>
                  </label>
                  <div class="accordion-body w-full ">
                    <div *ngIf="canAccess(['edit', 'missionTeam'])" class="is-md">
                      <ng-container *ngIf="notAllEdited(); else editAll">
                        <table  class="table w-full">
                          <thead>
                          <tr>
                            <th>
                              <label class="form-checkbox">
                                <input
                                  (change)="allLanguagesChecked($event)"
                                  id="allLanguages"
                                  type="checkbox"
                                  [checked]="allSelected">
                                <i class="form-icon"></i>
                              </label>
                            </th>
                            <!-- /remove language -->
                            <th style="width: 250px !important;" class="flex-around w-full text-sm text-capitalize text-primary">
                              <div *ngIf="canBeValidated()" (click)="validateLang($event)"><i class="fa fa-check"></i> {{" Validate "}} </div>
                              <div *ngIf="canBeEdited()" (click)="reEditLang($event)"><i class="fa fa-pen"></i> {{" Reedit "}} </div>
                              <div *ngIf="canBeDeleted()" (click)="onRemoveLanguages($event)"><i class="fa fa-trash"></i> {{" Remove "}} </div>
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let inno of projectLanguages">
                            <td>
                              <label class="form-checkbox">
                                <input
                                  (change)="onChangeLanguage($event, inno)"
                                  [id]="inno['lang']"
                                  [value]="inno"
                                  type="checkbox"
                                  [checked]="inno.selected">
                                <i class="form-icon"></i>
                                {{'COMMON.LANG.' + inno.lang.toUpperCase() | translate }}
                              </label>
                            </td>
                            <td  *ngIf="!inno.hidden" class="flex-start">
                              <div class=" flex-start tooltip is-multiline" data-tooltip="This language is visible on client side. Click on the eye to mask it">
                                <i class="fa fa-eye text-primary text-lg m-right-10" (click)="changeVisibility(inno, $event)"></i>
                                <div  [ngClass]="statusClass(inno.status)" class="text-center status">
                                  {{capitalize(inno.status)}}
                                </div>
                              </div>
                              <div *ngIf="inno.shotSent" class="  w-100 text-center tooltip is-multiline" data-tooltip="This language can't be deleted because workflows have already been sent in this language.">
                                <i  class="fa fa-trash is-outlined text-lg text-meta" ></i>
                              </div>
                            </td>
                            <td  *ngIf="inno.hidden" class="flex-around">
                              <div class="  flex-around tooltip is-multiline" data-tooltip="This language is masked on client side. Click on the eye to unmask it">
                                <i class="fa fa-eye-slash text-primary text-lg" (click)="changeVisibility(inno, $event)"></i>
                                <div  [ngClass]="statusClass(inno.status)" class="text-capitalize text-center status">
                                  {{capitalize(inno.status)}}
                                </div>
                              </div>
                              <div *ngIf="inno.shotSent" class="  w-100 text-center tooltip is-multiline" data-tooltip="This language can't be deleted because workflows have already been sent in this language.">
                                <i  class="fa fa-trash is-outlined text-lg text-meta" ></i>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-container>
                      <ng-template #editAll>
                        <div>
                          <div *ngFor="let inno of projectLanguages" class="m-top-30 is-md flex-around w-full">
                            {{'COMMON.LANG.' + inno.lang.toUpperCase() | translate }}
                            <div *ngIf="inno.hidden" class="w-150   text-center tooltip is-multiline" data-tooltip="This language is masked on client side. Click on the eye to unmask it" >
                              <i class="fa fa-eye-slash text-primary text-lg" (click)="changeVisibility(inno, $event)"></i>
                              <div  [ngClass]="statusClass(inno.status)" class="text-capitalize text-center status">
                                {{capitalize(inno.status)}}
                              </div>
                            </div>
                            <div *ngIf="!inno.hidden" class="w-150   text-center tooltip is-multiline" data-tooltip="This language is masked on client side. Click on the eye to unmask it" >
                              <i class="fa fa-eye text-primary text-lg" (click)="changeVisibility(inno, $event)"></i>
                              <div  [ngClass]="statusClass(inno.status)" class="text-capitalize text-center status">
                                {{capitalize(inno.status)}}
                              </div>
                            </div>
                            <div class="w-100 float-right text-center tooltip is-multiline" data-tooltip="This language can't be deleted because workflows have already been sent in this language.">
                              <i class="fa fa-trash is-outlined text-lg text-meta"></i>
                            </div>
                          </div>
                          <div class="popover is-right  ">
                            <button
                              (click)="reEditLang($event)"
                              class="button float-right is-primary text-center m-top-20 is-sm w-160 m-right-20">
                              <label class="text-white"> Reedit All </label> <i  class="fa fa-pen text-lg" ></i>
                            </button>
                            <div class="popover-container is-sm">
                              <div class="card">
                                Be careful, if you <strong>"reedit all"</strong>, the client will be able again to modify the project. You can still edit the project on <strong>admin side</strong>.
                              </div>
                            </div>
                          </div>
                        </div>

                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Project languages -->

            <!-- commercial -->
            <div
              *ngIf="clientProject._id && (canAccess(['view', 'commercial'])
              || canAccess(['edit', 'commercial']))"
              class="content">

              <label for="admin-project-commercial">Commercial</label>

              <select
                *ngIf="canAccess(['edit', 'commercial'])"
                (ngModelChange)="onCommercialChange($event)"
                [ngModel]="clientProject.commercial && clientProject.commercial.id"
                class="form-select is-sm is-shadowed"
                id="admin-project-commercial">
                <option [value]="undefined">Not assigned</option>
                <option *ngFor="let commercial of commercials" [ngValue]="commercial['_id']">
                  {{ name(commercial) }}
                </option>
              </select>

              <span *ngIf="!canAccess(['edit', 'commercial'])" class="is-text">
                {{ name(clientProject.commercial) }}
              </span>

            </div>
            <!-- /commercial -->

            <!-- owner -->
            <div class="content">
              <label for="admin-project-commercial">Owner</label>
              <div class="edit-wrapper">

                <span *ngIf="!isEditingOwner" class="is-text">{{ name(innovation.owner) }}</span>

                <label *ngIf="isEditingOwner" class="relative m-no-right mxw-full">
                  <app-utility-auto-suggestion-user
                    (valueSelected)="selectOwner($event)"
                    [isSmallInput]="true">
                  </app-utility-auto-suggestion-user>
                </label>

                <div
                  (click)="saveOwner($event)"
                  *ngIf="isEditingOwner"
                  [ngClass]="{'disabled': !newOwner.name}"
                  class="icon-container m-left-10">
                  <span class="tooltip" data-tooltip="Save">
                    <img
                      [src]="picto.save.primary"
                      alt="Save"
                      class="img-responsive">
                  </span>
                </div>

                <div
                  (click)="onEdit('OWNER')"
                  *ngIf="canAccess(['edit', 'owner'])"
                  class="icon-container m-left-20">
                  <span [attr.data-tooltip]="isEditingOwner ? 'Cancel' : 'Edit owner'" class="tooltip">
                    <img
                      [src]="picto.edit.blue"
                      alt="Edit"
                      class="img-responsive">
                  </span>
                </div>

              </div>
            </div>
            <!-- /owner -->

            <!-- main objective -->
            <!--<div
              *ngIf="clientProject._id && (canAccess(['view', 'mainObjective'])
              || canAccess(['edit', 'mainObjective']))"
              class="content">

              <label for="admin-project-mainObjective">Main Objective</label>

              <select
                *ngIf="canAccess(['edit', 'mainObjective'])"
                (ngModelChange)="onMainObjectiveChange($event)"
                [ngModel]="mission.objective && mission.objective.principal['en']"
                class="form-select is-sm is-shadowed"
                id="admin-project-mainObjective">
                <option [value]="undefined">Not assigned</option>
                <option *ngFor="let objective of missionObjectives" [ngValue]="objective['en'].label">
                  {{ objective['en'].label }}
                </option>
              </select>

              <span *ngIf="!canAccess(['edit', 'mainObjective'])" class="is-text">
                {{ mission.objective && mission.objective.principal['en'] }}
              </span>

            </div>-->
            <!-- /main objective -->

            <!-- project tags -->
            <div
              *ngIf="canAccess(['view', 'projectTags']) || canAccess(['edit', 'projectTags'])"
              class="content">

              <label>Tags</label>

              <div class="edit-wrapper">

                <span class="is-text">Total: {{ innovation.tags && innovation.tags.length }} project tag(s)</span>

                <div
                  (click)="onEdit('PROJECT_TAGS')"
                  class="icon-container m-left-20">
                  <span
                    [attr.data-tooltip]="canAccess(['edit', 'projectTags']) ? 'Edit project tags'
                    : 'View tags'"
                    class="tooltip">
                    <img
                      [src]="picto.edit.blue"
                      alt="Edit"
                      class="img-responsive">
                  </span>
                </div>

              </div>

            </div>
            <!-- /project tags -->

          </div>

        </div>
        <!-- /left content -->

        <!-- right content -->
        <div class="content-wrapper">

          <h6 class="text-meta">Campaign / Delivery</h6>

          <div class="content-box">

            <!-- roadmap -->
            <div
              *ngIf="canAccess(['view', 'roadmap']) || canAccess(['edit', 'roadmap'])"
              class="content align-start">

              <label>Roadmap</label>

              <div class="d-flex flex-d-column" style="width: 380px">
                <div class="edit-wrapper">
                  <ul *ngIf="mission.milestoneDates && mission.milestoneDates.length" class="roadmap-wrapper w-full">
                    <li *ngIf="mission.milestoneDates.length > 1" class="active">
                        <span style="margin-top: 3px" class="d-flex flex-d-column align-center">
                      <span class="shape is-circled"></span>
                      <span class="divider-vert active"></span>
                    </span>
                      <ng-container>
                        {{ innovation.created | date:dateFormat }} - Preparation
                      </ng-container>
                    </li>
                    <ng-container *ngFor="let milestone of milestones; let i = index;">
                      <li *ngIf="milestone.dueDate"
                          style="cursor:pointer"
                          [ngClass]="{ 'active': isMilestoneReached(milestone.dueDate) }">
                      <span style="margin-top: 3px" class="d-flex flex-d-column align-center">
                        <span class="shape is-circled"></span>
                        <span
                          *ngIf="i < mission.milestoneDates.length - 1"
                          [ngClass]="{ 'active': isNextMilestoneReached(i+1) }"
                          class="divider-vert">
                        </span>
                      </span>
                        <ng-container>
                          <span *ngIf="!milestone['editDueDate']; else editDueDate"
                                (click)="editMilestone(milestone, 'DueDate')">
                            {{ milestone.dueDate | date:dateFormat }}
                          </span>
                          &nbsp; - &nbsp;
                          <span *ngIf="!milestone['editName']; else editName"
                                (click)="editMilestone(milestone, 'Name')">
                            {{ milestone.name }}
                          </span>
                          <button
                            *ngIf="milestone['editName'] || milestone['editDueDate']"
                            style="height: 25px; width: 25px; margin-left: auto"
                            (click)="removeMilestone($event, i)" class="button is-action is-danger is-circled is-sm">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </ng-container>
                        <ng-template #editDueDate>
                          <div class="form-group" *ngIf="milestone['editDueDate']">
                            <input
                              class="form-input is-xs" style="height: 25px"
                              (focusout)="disableEditing($event, milestone, 'DueDate')"
                              (keyup)="validateRoadmap($event, milestone, 'DueDate')"
                              [ngModel]="milestone.dueDate | date:'yyyy-MM-dd'"
                              (ngModelChange)="dueDateOnChange($event, milestone)"
                              type="date">
                          </div>
                        </ng-template>
                        <ng-template #editName>
                          <div class="form-group" *ngIf="milestone['editName']">
                            <input
                              (focusout)="disableEditing($event, milestone, 'Name')"                              style="height: 25px"
                              class="form-input is-xs"
                              (keyup)="validateRoadmap($event, milestone, 'Name')"
                              type="text" [(ngModel)]="milestone.name">
                          </div>
                        </ng-template>
                      </li>
                    </ng-container>

                  </ul>

                  <span *ngIf="!(mission.milestoneDates && mission.milestoneDates.length)" class="is-text">
                  No milestones defined
                </span>

                  <!--                  <div-->
                  <!--                    (click)="onEdit('ROADMAP')"-->
                  <!--                    *ngIf="canAccess(['edit', 'roadmap'])"-->
                  <!--                    class="icon-container m-left-20">-->
                  <!--                  <span data-tooltip="Edit roadmap" class="tooltip">-->
                  <!--                    <img-->
                  <!--                      [src]="picto.edit.blue"-->
                  <!--                      alt="Edit"-->
                  <!--                      class="img-responsive">-->
                  <!--                  </span>-->
                  <!--                  </div>-->
                </div>

                <div class="m-top-15 m-left-10">
                  <ng-container *ngIf="!isAddMilestone; else addMileStone">
                    <div>
                      <button
                        (click)="addMilestone($event)"
                        data-tooltip="Add milestone"
                        class="button is-primary is-circled is-xs tooltip"><i class="fas fa-plus"></i></button>
                    </div>
                  </ng-container>
                </div>
              </div>

              <ng-template #addMileStone>
                <form class="add-milestone-container d-flex w-full align-center" novalidate [formGroup]="milestoneForm"
                      (ngSubmit)="confirmAddMileStone($event)">
                  <div class="form-group d-flex align-center">
                    <input type="text" class="form-input is-xs"
                           formControlName="name" placeholder="Name" id="name">
                  </div>
                  <div class="form-group m-left-1">
                    <input
                      formControlName="dueDate"
                      style="max-width: 137px"
                      class="form-input is-xs"
                      type="date">
                  </div>
                  <button class="button is-primary is-circled m-left-auto"
                          style="width: 20px;
                                 height: 20px;
                                 margin-bottom: 8px;
                                 padding: 2px;"
                          type="submit"
                          [disabled]="milestoneForm.invalid"><i class="fas fa-check"></i></button>
                  <button class="button is-danger is-circled m-left-auto"
                          style="width: 20px;
                                 height: 20px;
                                 margin-bottom: 8px;
                                 padding: 2px;"
                          type="button"
                          (click)="cancelAddMileStone($event)"><i
                    class="fas fa-times"></i></button>
                </form>
              </ng-template>


            </div>
            <!-- /roadmap -->

            <!-- blocklist -->
            <div
              *ngIf="canAccess(['view', 'blocklist']) || canAccess(['edit', 'blocklist'])"
              class="content">

              <label>Blocklist</label>

              <div class="edit-wrapper">

                <span class="is-text">
                  {{ innovation.settings?.blacklist?.domains?.length }} Domain(s) -
                  {{ innovation.settings?.blacklist?.emails?.length }} Email(s)
                </span>

                <div
                  (click)="onEdit('BLOCKLIST')"
                  *ngIf="canAccess(['edit', 'blocklist'])"
                  class="icon-container m-left-20">
                  <span data-tooltip="Edit blocklist" class="tooltip">
                    <img
                      [src]="picto.edit.blue"
                      alt="Edit"
                      class="img-responsive">
                  </span>
                </div>

              </div>

            </div>
            <!-- /blocklist -->

            <!-- update status -->
            <div
              *ngIf="canAccess(['view', 'status']) || canAccess(['edit', 'status'])"
              class="content">

              <label for="admin-project-status">Update Status</label>

              <select
                *ngIf="canAccess(['edit', 'status']) && innovation.status !== 'DONE'"
                (ngModelChange)="onUpdateStatus($event)"
                [ngModel]="innovation.status"
                class="form-select is-sm is-shadowed"
                id="admin-project-status">
                <option *ngFor="let status of innovationStatus" [ngValue]="status">
                  {{ status | titlecase }}
                </option>
              </select>

              <span *ngIf="!canAccess(['edit', 'status']) || innovation.status === 'DONE'" class="is-text">
                {{ innovation.status | titlecase }}
              </span>

            </div>
            <!-- /update status -->

            <!-- anonymous answer -->
            <div
              *ngIf="canAccess(['view', 'answersAnonymous']) || canAccess(['edit', 'answersAnonymous'])"
              class="content">

              <label>Answers Anonymous</label>

              <label *ngIf="canAccess(['edit', 'answersAnonymous'])" class="form-switch">
                <input
                  (change)="onChangeAnonymous($event)"
                  [checked]="innovation._metadata && innovation._metadata['campaign']
                  && innovation._metadata['campaign']['anonymous_answers']"
                  id="admin-project-answersAnonymous"
                  type="checkbox">
                <i class="form-icon"></i>
                {{ innovation._metadata && innovation._metadata['campaign']
              && innovation._metadata['campaign']['anonymous_answers'] ? 'Activated' : 'Deactivated' }}
              </label>

              <span *ngIf="!canAccess(['edit', 'answersAnonymous'])" class="is-text">
                <ng-container *ngIf="innovation._metadata && innovation._metadata['campaign']
                && innovation._metadata['campaign']['anonymous_answers']; else deactivateText">
                  Activated
                </ng-container>
                <ng-template #deactivateText>Deactivated</ng-template>
              </span>

            </div>
            <!-- /anonymous answer -->

            <!-- follow up module -->
            <div
              *ngIf="!!innovation.followUpEmails.status && ((canAccess(['edit', 'followUpModule'])
              || canAccess(['view', 'followUpModule'])))"
              class="content">

              <label class="mxw-full">Follow up Module</label>

              <label
                *ngIf="canAccess(['edit', 'followUpModule'])"
                [ngClass]="{'tooltip is-multiline': !canDeactivateFollowUp}"
                class="form-switch"
                data-tooltip="The emails have already been sent.">
                <input
                  [disabled]="!canDeactivateFollowUp"
                  (change)="onChangeFollowUp($event)"
                  [checked]="innovation.followUpEmails.status === 'ACTIVE'"
                  id="admin-project-followUpStatus"
                  type="checkbox">
                <i class="form-icon"></i>
                {{ innovation.followUpEmails.status === 'ACTIVE' ? 'Activated' : 'Deactivated' }}
              </label>

              <span *ngIf="!canAccess(['edit', 'followUpModule'])" class="is-text">
                {{ innovation.followUpEmails.status === 'ACTIVE' ? 'Activated' : 'Deactivated' }}
              </span>

            </div>
            <!-- /follow up module -->

            <!-- public project -->
            <div
              *ngIf="canAccess(['view', 'publicProject']) || canAccess(['edit', 'publicProject'])"
              class="content">

              <label class="mxw-full">Publish to Innovation Showroom</label>

              <label *ngIf="canAccess(['edit', 'publicProject'])" class="form-switch">
                <input
                  (change)="onChangeIsPublic($event)"
                  [checked]="innovation.isPublic"
                  id="admin-project-publicProject"
                  type="checkbox">
                <i class="form-icon"></i> {{ innovation.isPublic ? 'Published' : 'Unpublished' }}
              </label>

              <span *ngIf="!canAccess(['edit', 'publicProject'])" class="is-text">
                {{ innovation.isPublic ? 'Published' : 'Unpublished' }}
              </span>

            </div>
            <!-- /public project -->

            <!-- community -->
            <div
              *ngIf="canAccess(['view', 'community']) || canAccess(['edit', 'community'])"
              class="content">

              <label class="mxw-full">Publish to Community</label>

              <span
                *ngIf="canAccess(['edit', 'community'])"
                [ngClass]="{'tooltip is-multiline': !innovation.isPublic}"
                [attr.data-tooltip]="canPublishAtCommunity()
                ? 'The project needs to be published to Showroom before publishing to Community.'
                : 'The project of use case type Identifying receptive markets can not be published to Community.'">
                <label class="form-switch">
                  <input
                    [checked]="!!innovation['published']"
                    [disabled]="true"
                    id="admin-project-community"
                    type="checkbox">
                  <i class="form-icon"></i> {{ innovation.published ? 'Published' : 'Unpublished' }}
                </label>
              </span>

              <span *ngIf="!canAccess(['edit', 'community'])" class="is-text">
                {{ innovation.published ? 'Published' : 'Unpublished' }}
              </span>

              <span
                (click)="onEdit('PUBLISH_COMMUNITY')"
                *ngIf="!innovation.published && canAccess(['edit', 'community']) && innovation.isPublic
                && canPublishAtCommunity()"
                class="icon-container m-left-20">
                  <span data-tooltip="Community publish settings" class="tooltip">
                    <img
                      [src]="picto.edit.blue"
                      alt="Edit"
                      class="img-responsive">
                  </span>
                </span>

            </div>
            <!-- /community -->

          </div>

        </div>
        <!-- /right content -->

      </section>
    </div>
  </div>
  <!-- /settings -->

</div>

<!-- modal project status done -->
<ng-container *ngIf="canAccess(['edit', 'status']) && innovation.status !== 'DONE'">
  <app-admin-project-done-modal
    (statusUpdated)="onStatusUpdated($event)"
    [(showModal)]="showModalDone"
    [innovationId]="innovation._id">
  </app-admin-project-done-modal>
</ng-container>
<!-- /modal project status done -->

<!-- modal -->
<ng-container *ngIf="canAccess(['edit', 'community']) && !isLoading && !innovation.published">
  <app-admin-project-settings-modal
    (communityChange)="publishCommunity($event)"
    [(isPublishingCommunity)]="isPublishingCommunity"
    [(showModal)]="showModal"
    [innovation]="innovation"
    [mission]="mission">
  </app-admin-project-settings-modal>
</ng-container>
<!-- /modal -->

<ng-container *ngIf="showModalRemoveLang">
  <div class="modal active" >
    <div class="modal-overlay"></div>
    <div class="modal-container">
    <section class="modal-body">
      <h2 style="color: #4C4C4C" class="title is-4 text-center text-bold m-bottom-30">
        Do you really want to delete this language ?
      </h2>
      <div class="content align-star">
        <p>
          It will delete permanently :
        </p>
        <br>
        <div class="form-group float-right text-bold" style="width: 380px">
          <label class="form-checkbox">
            <input id="project" (change)="checked($event)" type="checkbox">
            <i class="form-icon"></i> Project Description
          </label>
          <label class="form-checkbox">
            <input id="questionnaire" (change)="checked($event)" type="checkbox">
            <i class="form-icon"></i> Questionnaire link
          </label>
          <label class="form-checkbox">
            <input id="workflow" (change)="checked($event)" type="checkbox">
            <i class="form-icon"></i> Workflow's templates
          </label>
          <label class="form-checkbox">
            <input id="batch" (change)="checked($event)" type="checkbox">
            <i class="form-icon"></i> Batch(s) already planned
          </label>
        </div>
      </div>
    </section>
    <footer class="modal-footer justify-center">
      <button
        (click)="closeModal($event)"
        [disabled]="isSaving"
        [id]="'btn-cancel'"
        class="button modal-cancel"
        type="button">
        Cancel
      </button>
      <button
        (click)="removeLang($event)"
        [disabled]="!isSaving && !isValid"
        class="button "
        id="btn-modal-confirm-project-done"
        type="button">
        Confirm
      </button>
    </footer>
    </div>
  </div>
</ng-container>

<!-- sidebar -->
<umius-sidebar-full *ngIf="!isLoading" [(template)]="sidebarValue">

  <!-- tags -->
  <app-sidebar-tags
    (newTags)="addProjectTags($event)"
    *ngIf="sidebarValue.type === 'ADD_TAGS'"
    [isEditable]="canAccess(['edit', 'projectTags'])"
    [placeholder]="'Start typing a new tag here...'"
    [sidebarState]="sidebarValue.animate_state"
    [tags]="innovTags"
    [type]="sidebarValue.type">
  </app-sidebar-tags>
  <!-- /tags -->

  <!-- roadmap -->
  <app-mission-form *ngIf="sidebarValue.type === 'ROADMAP'" [(mission)]="mission"></app-mission-form>
  <!-- /roadmap -->

  <!-- blocklist -->
  <ng-container *ngIf="sidebarValue.type === 'EXCLUDE_EMAILS_DOMAINS'">
    <app-sidebar-blacklist
      (toBlacklists)="addBlocklist($event)"
      [initialDomains]="innovation.settings?.blacklist?.domains"
      [initialEmails]="innovation.settings?.blacklist?.emails"
      [innovationId]="innovation._id"
      [isEditable]="canAccess(['edit', 'blocklist'])"
      [type]="sidebarValue.type">
    </app-sidebar-blacklist>
  </ng-container>
  <!-- /blocklist -->

</umius-sidebar-full>
<!-- /sidebar -->
