@import "../../../../../style/framework/src/variables";

#shared-tag {

  .form-input.ng-touched.ng-invalid {
    border-color: $form-border-color;
  }

  .form-group {

    label {
      display: none;
    }

    .form-input {
      max-width: 80%;
    }

  }

}
