<div class="container" *ngIf="!dataLoaded">
  <app-shared-preloader></app-shared-preloader>
</div>


<app-shared-breadcrumb  *ngIf="dataLoaded" [routes]="[{routerLink:'/', name:'COMMON.DASHBOARD'}, {routerLink:'/account', name:'COMMON.MY_ACCOUNT'},
                        {routerLink:'/innovations', name:'COMMON.MY_INNOVATIONS'}, {routerLink:'./', name: innovation.name }]"></app-shared-breadcrumb>


<div class="container" *ngIf="dataLoaded">

  <div class="row" id="lang-choice">

    <div class="col s2">
      <div class="center-align col s6">
        <i class="material-icons medium flag" [ngClass]="innovationCard.principal ? 'color-blue' : 'grey-text'" (click)="innovationCard.principal = !innovationCard.principal">
          {{ innovationCard.principal ? 'star' : 'star_border' }}
        </i>
      </div>
      <div class="center-align col s6">
        <i class="material-icons medium flag" (click)="save(); wantToModifyLang = selectLangInput !== 'no-more-langs'">language</i>
      </div>
    </div>

    <div class="col s8">

      <div class="center-align col s2 offset-s1">
        <i *ngIf="innovationCardsLangs.length > 3 && langStartIndex > 0" class="material-icons medium flag" (click)="langStartIndex = langStartIndex - 3">navigate_before</i> <!-- " += " doesn't work ?? -->
      </div>

      <div class="col s6">
        <div *ngFor="let lang of threeCardsLangFromIndex" [ngClass]="lang" class="center-align col s4">
          <img class="flag" [ngClass]="{'selectedLang': lang === langOfCard}" [src]="'/assets/common/flag-' + lang + '.svg'" (click)="useCardWithLang(lang)">
        </div>
      </div>

      <div class="center-align col s2">
        <i *ngIf="innovationCardsLangs.length > langStartIndex + 3" class="material-icons medium flag" (click)="langStartIndex = langStartIndex + 3">navigate_next</i> <!-- " += " doesn't work ?? -->
      </div>

    </div>

    <div class="col s2">
      <div class="center-align col s6">
        <i class="material-icons medium flag" (click)="save(); wantToCreateNewCard = selectLangInput !== 'no-more-langs'">add_box</i>
      </div>
      <div class="center-align col s6">
        <i class="material-icons medium flag" (click)="removeInnovationCard()">delete_forever</i>
      </div>
    </div>
  </div>

  <div class="row innovation-card">


    <!-- Bannière du titre -->
    <div class="col s12" id="banner">

      <!-- Titre -->
      <div class="col s10 offset-s1 container input-field">
        <input id="title" type="text" placeholder="Donnez un nom à votre innovation ici" [(ngModel)]="innovationCard.title" (change)="addModification('innovationCard.title')">
      </div>

      <!-- Descriptif -->
      <div class="col s12 input-field">
        <textarea id="desc"
                  class="materialize-textarea"
                  placeholder="Décrivez rapidement votre innovation ici"
                  [(ngModel)]="innovationCard.summary"
                  (change)="addModification('innovationCard.summary')"
                  materialize>
        </textarea>
      </div>

    </div>

    <!-- Image and some inputs -->
    <div class="col s12" id="intro">

      <!-- Media principal -->
      <div class="col m6 s12">
          <img *ngIf="getPrimary(innovationCard.media).type === 'PHOTO'" [src]="getMediaUrl(getPrimary(innovationCard.media).id)">
          <!--<iframe *ngIf="getPrimary(innovationCard.media).type === 'VIDEO'" height="361px" [src]="getPrimary(innovationCard.media).url" frameborder="0" allowfullscreen></iframe>-->
      </div>

      <div class="col m6 s12">

        <!-- Market Sector -->
        <div class="input-field col s12">
          <i class="material-icons prefix">language</i>
          <input id="market-sector"
                 [(ngModel)]="innovation.marketSector"
                 (change)="addModification('marketSector')"
                 type="text">
          <label for="market-sector">{{ translationsCardLang ? translationsCardLang['INNOVATION_CARD.MARKET_SECTOR'] : 'Market sector'}}</label>
        </div>

        <!-- Project state -->
        <div class="input-field col s12">
          <i class="material-icons prefix">settings</i>
          <select id="project-state"
                  [(ngModel)]="innovation.projectStatus"
                  (change)="addModification('projectStatus')"
                  materialize="material_select">
            <option *ngFor="let opt of projectStatusOptions" [value]="opt.key">{{opt.value}}</option>
          </select>
          <label for="project-state">{{ translationsCardLang ? translationsCardLang['INNOVATION_CARD.PROJECT_STATE'] : 'Project state'}}</label>
        </div>

        <!-- Time to market -->
        <div class="input-field col s12">
          <i class="material-icons prefix">av_timer</i>
          <select id="time-to-market"
                  [(ngModel)]="innovation.timeToMarket"
                  (change)="addModification('timeToMarket')"
                  materialize="material_select">
            <option *ngFor="let opt of timeToMarketOptions" [value]="opt.key">{{opt.value}}</option>
          </select>
          <label for="time-to-market">{{ translationsCardLang ? translationsCardLang['INNOVATION_CARD.TIME_TO_MARKET'] : 'Time to market' }}</label>
        </div>
      </div>

    </div>

    <div class="col s12" id="benefits">
      <div class="col l6 s12 title">
        <span>{{ translationsCardLang ? translationsCardLang['INNOVATION_CARD.MARKET_ADVANTAGES'] : 'Market advantages'}}</span>
      </div>

      <div class="col l6 s12 list">

        <!-- Market advantages -->
        <div class="col s12 input-field">
          <input class="col s11 url-input" type="text" placeholder="{{ translationsCardLang ? translationsCardLang['INNOVATION_CARD.ADD_ADVANTAGE'] : 'Add an advantage' }}" [(ngModel)]="advantageInput">
          <i class="material-icons prefix" (click)="addAdvantage()">add_box</i>
        </div>

        <div class="chip" *ngFor="let advantage of innovationCard.advantages">
          {{ advantage | shorten : '40' : '...' }}<i class="close material-icons" (click)="removeAdvantage(advantage)">close</i>
        </div>

      </div>
    </div>

    <div id="problem-solution">

      <!-- Problem -->
      <div class="col l6 s12 input-field">
        <textarea id="problem"
                  class="materialize-textarea"
                  placeholder="Quelle était la problématique donnée ?"
                  [(ngModel)]="innovationCard.problem"
                  (change)="addModification('innovationCard.problem')"
                  materialize>
        </textarea>
        <label for="problem" class="error-form active">{{ 'Problématique' | translate }}</label>
      </div>

      <!-- Solution -->
      <div class="col l6 s12 input-field">
        <textarea id="solution"
                  class="materialize-textarea"
                  placeholder="Décrivez rapidement comment vous avez résolu la problématique ici"
                  [(ngModel)]="innovationCard.solution"
                  (change)="addModification('innovationCard.solution')"
                  materialize>
        </textarea>
        <label for="solution" class="error-form active">{{ 'Solution' | translate }}</label>
      </div>

    </div>

    <div class="col s12" id="upload-zone">
      <app-shared-upload-zone-photo class="col s12 m6" [mediaContainer]="innovationCard.media" (cbFn)="addMedia($event)" [type]="'images'"></app-shared-upload-zone-photo>
      <app-shared-upload-zone-video class="col s12 m6" [mediaContainer]="innovationCard.media" (sanitizedPrimaryUrl)="sanitizedPrimaryUrl = $event"></app-shared-upload-zone-video>
    </div>

    <div class="col s12" id="secondary-images">
      <div *ngFor="let media of innovationCard.media">
        <div class="col s12 m6 image-container" *ngIf="media && !media.isPrimary">

          <img [ngClass]="{thumbnail: media.type === 'VIDEO'}" [src]="media.type === 'PHOTO' ? (getMediaUrl(media.id)) : media.thumbnail">
          <div class="centered-button">
            <button class="btn btn-md waves-effect waves-light center upload-button" ngClass="{error: errors.medias}"
                    (click)="definePrimary(media.id)"
                    [disabled]="getPrimary(innovationCard.media).type === 'VIDEO' && media.type !== 'VIDEO'"> <!-- Disable the "define principal" because video is more important than photo -->
              Définir comme {{ media.type === 'PHOTO' ? 'image' : 'vidéo' }} principale
            </button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal that create new card -->
<app-shared-innovation-card-langmodal *ngIf="wantToCreateNewCard" [wantTo]="'create'" [langOptions]="langOptions" [selectLangOfCardInput]="selectLangInput"
                                      (setLangInput)="selectLangInput = $event" (closed)="wantToCreateNewCard = false"
                                      (createCard)="$event ? createInnovationCard() : null"
></app-shared-innovation-card-langmodal>

<!-- Modal that change lang -->
<app-shared-innovation-card-langmodal *ngIf="wantToModifyLang" [wantTo]="'modify'" [langOptions]="langOptions" [selectLangOfCardInput]="selectLangInput"
                                      (setLangInput)="selectLangInput = $event" (langOfCard)="langOfCard = $event"
                                      (addModif)="addModification($event)" (save)="$event ? save() : null"
                                      (closed)="wantToModifyLang = false"
></app-shared-innovation-card-langmodal>
