<div id="text-input">

  <!-- input field -->
  <form
    [ngClass]="{'m-left-auto m-right-auto': isFieldCenter}"
    [ngStyle]="{'max-width': inputMaxWidth}"
    autocomplete="off"
    novalidate>

    <div class="input-wrapper d-flex align-center">

      <label class="d-block w-full">
        <input
          [attr.placeholder]="placeholder | translate"
          [formControl]="text"
          [name]="'text'"
          [ngClass]="isFormSmall ? 'is-sm' : 'is-normal'"
          [type]="fieldType"
          autocomplete="off"
          class="form-input">
      </label>

      <!-- add button -->
      <button
        (click)="onAddValue()"
        [disabled]="!text.value"
        [id]="'text-input-btn-add'"
        [ngClass]="buttonColorClass"
        [ngStyle]="{'padding': isFormSmall ? '10.5px 20px 10.5px 13px' : '15px 20px 15px 16px',
        'font-size': isFormSmall ? '14px' : '16px'}"
        class="button"
        type="submit">
        <i [ngClass]="isFormSmall ? 'text-xs' : 'text-sm'" class="icon icon-plus"></i>
        {{ 'COMMON.LABEL.ADD' | translate }}
      </button>
      <!-- /add button -->

    </div>

    <ng-container *ngIf="fieldType === 'email' && isEmailError">
      <div [ngClass]="errorTextColorClass" class="form-error text-medium">
        {{ 'COMMON.INVALID.EMAIL' | translate }}
      </div>
    </ng-container>

  </form>
  <!-- /input field -->

  <!-- showing added text -->
  <div *ngIf="addedText.length > 0" [ngStyle]="{ 'margin-bottom': '-4px' }" class="p-top-15">
    <div
      *ngFor="let text of addedText"
      [ngClass]="labelBgColor"
      class="m-bottom-1 label is-sm is-rounded m-no-top">
      {{ text }}
      <div (click)="removeText(text)" class="close m-left-2 is-xs"></div>
    </div>
  </div>
  <!-- /showing added text -->

</div>
