@import "../../../../style/framework/src/variables";

#text-input {

  .input-wrapper {

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: transparent;

      &.is-normal {
        padding: 13px;
      }

    }

    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      min-width: unset;
    }

  }

  .label {
    font-size: 13px;
    padding-right: 6px;

    .close:hover {

      &::before {
        background-color: rgba(58, 66, 77, 0.96);
      }

    }

  }

}
