#text-input {

  .input-wrapper {

    &.template-1 {
      .add-btn-wrapper {
        top: 10px;
        right: 14px;

        &.is-sm {
          top: 4px;
        }

        .button.is-circled {
          width: 25px;
          height: 25px;
          padding: 5px !important;

          i {
            margin-left: 0;
            margin-right: 0;
          }

        }

      }
    }

    &.template-2 {
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-color: transparent;

        &.is-normal {
          padding: 13px;
        }

      }

      .button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        min-width: unset;
      }
    }

  }

  .label {
    font-size: 13px;
    padding-right: 6px;

    .close:hover {

      &::before {
        background-color: rgba(58, 66, 77, 0.96);
      }

    }

  }

}
