@import "../../../../../../../../style/framework/src/variables";

.admin-project-settings-modal {

  .media-wrapper {
    margin: 20px 30px 20px 30px;

    .media {
      margin-bottom: 10px;

      img {
        width: 129px;
        height: 97px;
        border-radius: 2px;
      }

    }

  }

}
