<div id="shared-targeting-world">

  <!-- continents -->
  <div *ngIf="continents.length > 0">

    <h6 class="text-normal m-bottom-15">{{ 'SHARED_TARGETING_WORLD.SELECT_CONTINENTS' | translate }}</h6>

    <div class="d-flex flex-wrap">
      <div *ngFor="let continent of continents" class="m-right-20">
        <label class="form-checkbox text-sm">
          <input
            (change)="onChangeContinent($event, continent)"
            [checked]="checkContinent(continent)"
            [disabled]="!isEditable"
            [id]="continent"
            [name]="continent"
            [value]="continent"
            type="checkbox">
          <i class="form-icon"></i>{{ ('CONTINENTS.' + continent) | translate }}
        </label>
      </div>
    </div>

  </div>
  <!-- /continents -->

  <!-- include / exclude countries questions -->
  <div class="d-flex flex-wrap stw-incl-excl-country-wrapper">

    <!-- include -->
    <div class="stw-country-wrapper">

      <div class="d-flex align-center">
        <h6 class="text-normal">{{ 'SHARED_TARGETING_WORLD.SPECIFY_COUNTRIES_TO_INCLUDE' | translate }}</h6>
        <div class="icon-container is-xs text-sm" (click)="openModal($event)">
          <span class="tooltip" [attr.data-tooltip]="'COMMON.TOOLTIP.ADVANCE_SETTINGS' | translate">
            <i class="fas fa-cog"></i>
          </span>
        </div>
      </div>

      <div class="p-top-20">
        <app-autocomplete-input
          [config]="autoCompleteConfig('include')"
          (update)="addCountryToInclude($event)">
        </app-autocomplete-input>
      </div>

    </div>
    <!-- /include -->

    <!-- exclude -->
    <div class="stw-country-wrapper">

      <div class="d-flex align-center">
        <h6 class="text-normal">{{ 'SHARED_TARGETING_WORLD.SPECIFY_COUNTRIES_TO_EXCLUDE' | translate }}</h6>
        <div class="icon-container is-xs text-sm" (click)="openModal($event)">
          <span class="tooltip" [attr.data-tooltip]="'COMMON.TOOLTIP.ADVANCE_SETTINGS' | translate">
            <i class="fas fa-cog"></i>
          </span>
        </div>
      </div>

      <div class="p-top-20">
        <app-autocomplete-input
          [config]="autoCompleteConfig('exclude')"
          (update)="addCountryToExclude($event)">
        </app-autocomplete-input>
      </div>

    </div>

  </div>
  <!-- /include / exclude countries questions -->

</div>


<!-- modal for advance settings -->
<app-modal [(showModal)]="showModal" [maxWidth]="'960px'" [enableCloseButton]="true">

  <section class="modal-body is-stw">

    <div class="text-center p-bottom-30">
      <h3 class="text-background">{{ 'SHARED_TARGETING_WORLD.MODAL.HEADING' | translate }}</h3>
    </div>

    <div *ngIf="continents.length > 0">
      <div *ngFor="let continent of continents" class="stw-modal-continent-wrapper">

        <div class="form-group is-continent">
          <label class="form-checkbox">
            <input
              (change)="onChangeContinent($event, continent)"
              [checked]="checkContinent(continent)"
              [disabled]="!isEditable"
              [id]="continent"
              [name]="continent"
              [value]="continent"
              type="checkbox">
            <i class="form-icon"></i>{{ ('CONTINENTS.' + continent) | translate }}
          </label>
        </div>

      </div>
    </div>


  </section>

</app-modal>
<!-- /modal for advance settings -->


<!--
<div class="form-group">

  <label class="form-checkbox is-inline text-sm">
    <input
      (change)="onChangeContinentInclude($event, continent)"
      [checked]="checkContinent(continent, 'include')"
      [disabled]="checkContinent(continent, 'exclude') || !isEditable"
      [id]="continent"
      [name]="continent"
      [value]="continent"
      type="checkbox">
    <i class="form-icon"></i>{{ ('CONTINENTS.' + continent) | translate }}
  </label>

  <label class="form-checkbox is-inline text-sm">
    <input
      (change)="onChangeContinentExclude($event, continent)"
      [checked]="checkContinent(continent, 'exclude')"
      [disabled]="checkContinent(continent, 'include') || !isEditable"
      [id]="continent"
      [name]="continent"
      [value]="continent"
      type="checkbox">
    <i class="form-icon"></i>{{ 'SHARED_TARGETING_WORLD.EXCLUDE' | translate }}
  </label>

</div>-->
