<app-shared-loader *ngIf="!question"></app-shared-loader>

<div *ngIf="question">

  <div class="container">
    <div class="columns">
      <div class="column col-10 col-mx-auto">
        <h2>{{ question.identifier }}</h2>
        <form novalidate [formGroup]="formData" class="form-horizontal">
          <div class="form-group text-center">
            <select class="form-select" id="controlType" name="controlType" formControlName="controlType">
              <option [value]="null">...</option>
              <option [value]="'checkbox'">{{ "PRESETS.QUESTION.TYPE.CHECKBOX" | translate }}</option>
              <option [value]="'list'">{{ "PRESETS.QUESTION.TYPE.LIST" | translate }}</option>
              <option [value]="'clearbit'">{{ "PRESETS.QUESTION.TYPE.CLEARBIT" | translate }}</option>
              <option [value]="'radio'">{{ "PRESETS.QUESTION.TYPE.RADIO" | translate }}</option>
              <option [value]="'scale'">{{ "PRESETS.QUESTION.TYPE.SCALE" | translate }}</option>
              <option [value]="'stars'">{{ "PRESETS.QUESTION.TYPE.STARS" | translate }}</option>
              <option [value]="'textarea'">{{ "PRESETS.QUESTION.TYPE.TEXTAREA" | translate }}</option>
              <option [value]="'textbox'">{{ "PRESETS.QUESTION.TYPE.TEXTBOX" | translate }}</option>
              <option [value]="'toggle'">{{ "PRESETS.QUESTION.TYPE.TOGGLE" | translate }}</option>
            </select>
          </div>
          <label class="form-label h3">{{ "PRESETS.QUESTION.EDIT.LABEL" | translate }}</label>
          <div class="form-group text-center" formGroupName="label">
            EN: <input class="form-input" id="labelEn" name="en" formControlName="en" type="text"
                       placeholder="">
            FR: <input class="form-input" id="labelFr" name="fr" formControlName="fr" type="text"
                       placeholder="">
          </div>
          <label class="form-label h3">{{ "PRESETS.QUESTION.EDIT.TITLE" | translate }}</label>
          <div class="form-group text-center" formGroupName="title">
            EN: <input class="form-input" id="titleEn" name="en" formControlName="en" type="text"
                       placeholder="">
            FR: <input class="form-input" id="titleFr" name="fr" formControlName="fr" type="text"
                       placeholder="">
          </div>
          <label class="form-label h3">{{ "PRESETS.QUESTION.EDIT.SUBTITLE" | translate }}</label>
          <div class="form-group text-center" formGroupName="subtitle">
            EN: <input class="form-input" id="subtitleEn" name="en" formControlName="en" type="text"
                       placeholder="">
            FR: <input class="form-input" id="subtitleFr" name="fr" formControlName="fr" type="text"
                       placeholder="">
          </div>
          <div *ngIf="question.controlType === 'textbox'">
            <label class="form-label h3">{{ "PRESETS.QUESTION.EDIT.PARAMETERS.TITLE" | translate }}</label>
            <div class="form-group text-center" formGroupName="parameters">
              {{ "PRESETS.QUESTION.EDIT.PARAMETERS.UNITY" | translate }}: <input class="form-input" id="addon" name="addon" formControlName="addon" type="text"
                                                                                 placeholder="">
              type: <select class="form-select" id="type" name="type" formControlName="type">
              <option [value]="null">...</option>
              <option [value]="'number'">number</option>
              <option [value]="'text'">text</option>
              <option [value]="'email'">email</option>
              <option [value]="'url'">url</option>
            </select>
              min: <input class="form-input" id="min" name="min" formControlName="min" type="number"
                          placeholder="">
              max: <input class="form-input" id="max" name="max" formControlName="max" type="number"
                          placeholder="">
            </div>
          </div>
          <h3 *ngIf="question && (question.controlType === 'radio' || question.controlType === 'checkbox')" class="form-group text-center">{{ "PRESETS.QUESTION.EDIT.CHOICES" | translate }}</h3>
          <div *ngIf="question && (question.controlType === 'radio' || question.controlType === 'checkbox')" class="form-group text-center">
            <fieldset formArrayName="options">
              <div class="columns"
                   *ngFor="let item of options.controls; let i=index"
                   [formGroupName]="i">
                <div>
                  ID: <input type="text" class="form-control"
                             [attr.identifier]="'id'+i" formControlName="identifier">
                </div>
                <div class="form-group text-center" formGroupName="label">
                  EN: <input class="form-input" id="'optionEn'+i" name="en" formControlName="en" type="text"
                             placeholder="">
                  FR: <input class="form-input" id="'optionFr'+i" name="fr" formControlName="fr" type="text"
                             placeholder="">
                </div>
                <div class="form-group text-center" *ngIf="question.controlType === 'radio'">
                  <label for="positive">
                    Réponse Positive ?
                    <input type="checkbox" name="positive" formControlName="positive" id="positive">
                  </label>
                  <label for="color">
                    Couleur d'affichage
                    <select class="form-select" id="color" name="color" formControlName="color">
                      <option [value]="'#ffffff'">...</option>
                      <option [value]="'#34AC01'">Vert foncé</option>
                      <option [value]="'#82CD30'">Vert clair</option>
                      <option [value]="'#F2C500'">Jaune</option>
                      <option [value]="'#C0210F'">Rouge</option>
                    </select>
                  </label>
                </div>
                <div>
                  <a class="delete c-hand" aria-label="Close" role="button" (click)="removeOption(i)">
                    <i class="icon icon-delete"></i>
                  </a>
                </div>
              </div>
            </fieldset>
          </div>
          <button *ngIf="question && (question.controlType === 'radio' || question.controlType === 'checkbox')"
                  (click)="addOption()" class="btn btn-lg btn-primary" type="button">
            {{ 'PRESETS.QUESTION.EDIT.ADD' | translate }} <i class="icon icon-plus"></i>
          </button>
          <div class="form-group">
            <label for="canComment">
              {{ "PRESETS.QUESTION.EDIT.CAN_COMMENT" | translate }}
              <input type="checkbox" name="canComment" formControlName="canComment" id="canComment">
            </label>
          </div>
          <button type="submit" class="btn btn-primary centered" (click)="save()">{{ 'PRESETS.QUESTION.EDIT.SAVE' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
