<div>
  <div class="input-group">
    <button class="btn btn-lg input-group-btn" (click)="displaySettings = !displaySettings">
      <i class="fa fa-cogs"></i>
    </button>
    <input class="form-input form-control input-lg" [(ngModel)]="params.keywords">
    <button class="btn btn-primary btn-lg input-group-btn" (click)="search()">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div *ngIf="displaySettings">
      <label class="form-switch">
        <input type="checkbox" [(ngModel)]="params.smart">
        <i class="form-icon"></i> {{ 'SEARCH.SMART' | translate }}
      </label>
    <label class="form-switch">
      <input type="checkbox" [(ngModel)]="params.regions">
      <i class="form-icon"></i> {{ 'SEARCH.REGIONS' | translate }}
    </label>
    <label class="form-switch">
      <input type="checkbox" [(ngModel)]="params.queued">
      <i class="form-icon"></i> {{ 'SEARCH.ADDTOQUEUE' | translate }}
    </label>
    <label class="form-switch">
      <input type="checkbox" [(ngModel)]="params.automated">
      <i class="form-icon"></i> {{ 'SEARCH.SEARCHMAILS' | translate }}
    </label>
    <label class="form-group">
      {{ 'SEARCH.NUMBER' | translate }}
      <select name="count" class="form-control" [(ngModel)]="params.count">
        <option value="10">{{10}} {{ 'CAMPAIGNS.PROS' | translate }}</option>
        <option value="20">{{20}} {{ 'CAMPAIGNS.PROS' | translate }}</option>
        <option value="30">{{30}} {{ 'CAMPAIGNS.PROS' | translate }}</option>
        <option value="40">{{40}} {{ 'CAMPAIGNS.PROS' | translate }}</option>
        <option value="50">{{50}} {{ 'CAMPAIGNS.PROS' | translate }}</option>
        <option value="100">{{100}} {{ 'CAMPAIGNS.PROS' | translate }}</option>
      </select>
    </label>
    <div class="form-group">
      {{ 'SEARCH.ENGINE' | translate }}
      <label ng-class="{selected: params.indexSearch}">
        <input type="checkbox" name="indexSearch" value="indexSearch"
               [(ngModel)]="params.indexSearch">
        <b>[0]</b>
      </label>
      <label ng-class="{selected: params.websites.linkedin}">
        <input type="checkbox" name="linkedin" value="linkedin"
               [(ngModel)]="params.websites.linkedin">
        <b>[1]</b>
      </label>
      <label ng-class="{selected: params.websites.viadeo}">
        <input type="checkbox" name="viadeo" value="viadeo" [(ngModel)]="params.websites.viadeo">
        <b>[2]</b>
      </label>
      <label ng-class="{selected: params.websites.xing}">
        <input type="checkbox" name="xing" value="xing"
               [(ngModel)]="params.websites.xing">
        <b>[3]</b>
      </label>
    </div>
  </div>
</div>
