<div class="columns">
  <div class="column col-5 col-ml-auto">

    <app-sidebar [template]="more" (closeSidebar)="closeSidebar($event)">
      <app-sidebar-search
        [params]="params"
        (paramsChange)="updateSettings($event)">
      </app-sidebar-search>
    </app-sidebar>

    <div class="flex-container" id="input-search">

      <textarea
        type="text"
        class="form-input input-lg"
        name="keywords"
        rows="4"
        (ngModelChange)="estimateNumberOfGoogleRequests()"
        [(ngModel)]="params.keywords"
        required
        placeholder="Recherche 'Google-like', une requête par ligne"></textarea>

      <button
        (click)="search($event)"
        class="btn-round btn-primary"
        translate>
        <i class="fas fa-search"></i>
      </button>

    </div>

    <div class="tips">
      <a (click)="changeSettings() && $event.preventDefault()">Settings</a>

      <div class="label label-success" *ngIf="googleQuota > 10000">{{ googleQuota }} remaining requests
        <i (click)="getGoogleQuota()" class="fas fa-sync c-hand"></i>
      </div>

      <div class="label label-progress" *ngIf="googleQuota < 10000 && googleQuota > 5000">{{ googleQuota }} remaining requests
        <i (click)="getGoogleQuota()" class="fas fa-sync c-hand"></i>
      </div>

      <div class="label label-alert" *ngIf="googleQuota < 5000">{{ googleQuota }} remaining requests
        <i (click)="getGoogleQuota()" class="fas fa-sync c-hand"></i>
      </div>
    </div>

  </div>

  <div class="column col-2 col-mr-auto">
    <div class="bot-wrapper text-center">
      <span class="bot-rect" *ngIf="estimatedNumberOfGoogleRequests">This search will use <strong>{{estimatedNumberOfGoogleRequests}} requests max</strong></span>
      <span class="bot-rect" *ngIf="!estimatedNumberOfGoogleRequests">Nice day, what are you gonna search today?</span>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/app/default-images/bot-triangle.svg" class="bot-trian">
      <div><img src="https://res.cloudinary.com/umi/image/upload/app/default-images/bot-1.svg" width="" height="120"></div>
    </div>
  </div>

</div>
