<ng-container *ngIf="campaign">
  <section id="shared-search-pros-component">
    <div class="search-wrapper">

      <!-- column cat -->
      <div class="search-col">

        <!-- heading -->
        <div class="heading-wrapper">

          <h2 class="title-secondary">Rocket testing</h2>

          <span class="text-link" (click)="onReset()">Reset</span>

          <span class="line">|</span>

          <div class="popover popover-top">

            <span class="text-help">Help</span>

            <div class="popover-container">
              <div class="card">
                <div class="card-body">

                  <div class="points"><span class="shape circle circle-xs circle-success"></span><span>Relevant</span></div>
                  <div class="points"><span class="shape circle circle-xs circle-progress"></span><span>Average</span></div>
                  <div class="points"><span class="shape circle circle-xs circle-alert"></span><span>Overused</span></div>
                  <div class="points"><span class="icons icons-delete"><i class="fas fa-exclamation-triangle"></i></span><span>Too much pros duplicated</span></div>

                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- /heading -->


      </div>
      <!-- /column cat -->

      <!-- column search -->
      <div class="search-col">
sss
      </div>
      <!-- /column search -->


    </div>
  </section>
</ng-container>

<!--
<div class="columns">
  <div class="column col-5 col-ml-auto">

    <app-sidebar [template]="more" (closeSidebar)="closeSidebar($event)">
      <app-sidebar-search
        [params]="params"
        (paramsChange)="updateSettings($event)">
      </app-sidebar-search>
    </app-sidebar>

    <div class="popover popover-right">
      <i class="fas fa-question-circle"></i>
      <div class="popover-container">
        <div class="card">
          <div class="card-header">
            {{ 'SEARCH.POPOVER.PRACTICE' | translate}}
          </div>
          <div class="card-body">
            <ul>
              <li> {{ 'SEARCH.POPOVER.REQUEST' | translate}}</li>
              <li> {{ 'SEARCH.POPOVER.KEYWORDS' | translate}}</li>
              <li> {{ 'SEARCH.POPOVER.MAX' | translate}}</li>
              <li> {{ 'SEARCH.POPOVER.SPELLING' | translate}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-container" id="input-search">
      <button
        (click)="cat($event)"
        class="btn-round btn-primary"
        translate>
        <i class="fas fa-search"></i>
      </button>

      <textarea
        type="text"
        class="form-input"
        name="cat-keywords"
        rows="4"
        [(ngModel)]="params.catKeywords"
        required
        placeholder="Recherche CAT">
      </textarea>

      <textarea
        type="text"
        class="form-input"
        name="keywords"
        rows="4"
        (ngModelChange)="estimateNumberOfGoogleRequests()"
        [(ngModel)]="params.keywords"
        required
        placeholder="Recherche 'Google-like', une requête par ligne"></textarea>

      <button
        (click)="search($event)"
        class="btn-round btn-primary"
        translate>
        <i class="fas fa-search"></i>
      </button>

      <div *ngIf="catDone" class="reset-cat">
        <button
          (click)="resetCat()"
          class="btn btn-outline-info">Reset
          <i class="fas fa-refresh"></i>
        </button>
      </div>
    </div>

    <div class="tips">

      <div class="label label-success" *ngIf="catQuota > 50">{{ catQuota }} remaining CAT requests
        <i (click)="getCatQuota()" class="fas fa-sync c-hand"></i>
      </div>
      <div class="label label-progress" *ngIf="catQuota < 50 && catQuota > 100">{{ catQuota }} remaining CATrequests
        <i (click)="getCatQuota()" class="fas fa-sync c-hand"></i>
      </div>
      <div class="label label-alert" *ngIf="catQuota < 10">{{ catQuota }} remaining CAT requests
        <i (click)="getCatQuota()" class="fas fa-sync c-hand"></i>
      </div>

      <a (click)="changeSettings() && $event.preventDefault()">{{ 'SEARCH.SETTINGS' | translate }}</a>

      <div class="label label-success" *ngIf="googleQuota > 10000">{{ googleQuota }} remaining requests
        <i (click)="getGoogleQuota()" class="fas fa-sync c-hand"></i>
      </div>

      <div class="label label-progress" *ngIf="googleQuota < 10000 && googleQuota > 5000">{{ googleQuota }} remaining requests
        <i (click)="getGoogleQuota()" class="fas fa-sync c-hand"></i>
      </div>

      <div class="label label-alert" *ngIf="googleQuota < 5000">{{ googleQuota }} remaining requests
        <i (click)="getGoogleQuota()" class="fas fa-sync c-hand"></i>
      </div>
    </div>

    <div *ngIf="catDone" class="cat">
      &lt;!&ndash; Keywords analysis and expected result &ndash;&gt;
      <h3>Analysis</h3>
      <div *ngFor="let s of suggestion"  class="request-analysis">
        {{s.expected}} professionals found <span [innerHTML]=s.kw > </span>
      </div>

      &lt;!&ndash; Additional keywords &ndash;&gt;
      <h4>Suggested keywords</h4>
      <div class="additional-keywords" [ngStyle]="{ 'display': 'flex' }">
        <div *ngFor="let kw of catResult.new_keywords" >
          {{kw}} |
        </div>
      </div>

      &lt;!&ndash; Star profiles &ndash;&gt;
      <h5>4 star profiles:</h5>
      <div *ngFor="let profile of catResult.profile | keyvalue" class="stars">
        <p class="tooltip" data-tooltip="ça ne marche pas encore :'("> <a href= "{{ profile.key }}" target="_blank">{{ profile.value.title }}</a> </p>
      </div>
    </div>

  </div>

  <div class="column col-2 col-mr-auto" [ngSwitch]="catResult.duplicate_status">
    <div class="bot-wrapper text-center" *ngSwitchCase="'ok'">
      <span class="bot-rect">
        <span *ngIf="estimatedNumberOfGoogleRequests">
          {{ 'SEARCH.ROBOT.SEARCH_USE' | translate }}
          <strong> <span *ngIf="catResult.total_result">{{ 'SEARCH.ROBOT.APPROX' | translate }}</span> {{estimatedNumberOfGoogleRequests}} {{ 'SEARCH.REQUESTS' | translate }} <span
            *ngIf="catResult.total_result">max</span></strong>.
        <a *ngIf="!catResult.keywords_analysis && campaign" (click)="cat($event)">{{ 'SEARCH.ROBOT.MORE_INFO' | translate }}</a>
        </span>
        <span *ngIf="!estimatedNumberOfGoogleRequests">{{ 'SEARCH.ROBOT.HELLO' | translate }}</span>
      </span>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/app/default-images/bot-triangle.svg" class="bot-trian">
      <div><img src="https://res.cloudinary.com/umi/image/upload/app/default-images/bot-advice.svg" width=""
                height="120">
      </div>
    </div>

    <div class="bot-wrapper text-center" *ngSwitchCase="'not ok'">
      <span class="bot-rect">{{ 'SEARCH.ROBOT.NOT_OK' | translate }}<br/>
        <span *ngIf="estimatedNumberOfGoogleRequests">{{ 'SEARCH.ROBOT.SEARCH_USE' | translate }} <strong>{{ 'SEARCH.ROBOT.APPROX' | translate }} {{estimatedNumberOfGoogleRequests}} {{ 'SEARCH.REQUESTS' | translate }}</strong>.</span>
      </span>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/app/default-images/bot-triangle.svg" class="bot-trian">
      <div><img src="https://res.cloudinary.com/umi/image/upload/app/default-images/bot-1.svg" width="" height="120">
      </div>
    </div>

    <div class="bot-wrapper text-center" *ngSwitchCase="'error'">
      <span class="bot-rect"> {{ 'SEARCH.ROBOT.ERROR' | translate }}</span>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/app/default-images/bot-triangle.svg" class="bot-trian">
      <div><img src="https://res.cloudinary.com/umi/image/upload/app/default-images/error-bot.svg" width=""
                height="120">
      </div>
    </div>
  </div>
</div>
-->
