#admin-libraries {

  .tabs li {
    flex: unset;

    a {
      background: white;
      color: #4F5D6B;
      border-bottom: 5px solid transparent;
      font-weight: 500;
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 25px;
    }

  }

  .tabs li a:hover,
  .tabs li a.active {
    color:  #FFB300;
    border-bottom-color: #FFB300;
  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .tabs li {
    flex: 1 0 auto;
  }

}
