@import "../../../../../../style/framework/src/variables";

#objectives-secondary {

  .options-wrapper {
    max-width: 750px;

    .form-checkbox {
      padding-left: 40px;
      padding-right: 8px;

      .form-icon {
        width: 20px;
        height: 20px;
      }

    }

  }

  .divider {
    max-width: 371px;
  }

  textarea {
    padding: 14.5px;
    font-size: 14px;
    line-height: 1.3;
  }

}
