.sidebar-header {
  display: flex;
  align-items: center;
  color: #97A4B1;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 40px;

  .discreet-link {
    display: inline-block;
    margin-right: 15px;
  }

  .sidebar-main-action {
    text-align: right;
    flex: 1;
  }
}
