<section id="sidebar-signature" class="p-top-30">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <form [formGroup]="form">


      <!-- actions -->
      <div class="flex-between flex-wrap">

        <div class="d-flex p-bottom-20 align-center">

          <div class="d-flex align-center m-bottom-10">
            <label class="form-label m-right-3" for="sidebar-signature-language">{{ 'COMMON.LABEL.LANGUAGE' | translate }}: </label>
            <select
              class="form-select"
              formControlName="language"
              id="sidebar-signature-language">
              <option *ngFor="let language of languages" [value]="language.type">
                {{ language.alias }}
              </option>
            </select>
          </div>

          <div class="m-left-25 m-bottom-15">
            <label class="form-switch">
              <input type="checkbox" (change)="editionMode = !editionMode">
              <i class="form-icon"></i><span class="text-notify text-medium text-sm">Preview</span>
            </label>
          </div>

        </div>

        <div class="p-bottom-30">
          <button
            (click)="onClickSave()"
            [innerText]="'COMMON.BUTTON.SAVE'"
            class="btn btn-sm btn-primary"
            translate
            type="submit">
          </button>
        </div>

      </div>
      <!-- /actions -->


    </form>
  </div>
</section>

<!--
<div *ngIf="signature">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <div class="sidebar-header">
      &lt;!&ndash;
      <div class="language-choice">
        <div (click)="changeLanguage('en')" [ngClass]="{active: language === 'en'}" class="discreet-link">English</div>
        <div (click)="changeLanguage('fr')" [ngClass]="{active: language === 'fr'}" class="discreet-link">Français</div>
      </div>&ndash;&gt;

      <label class="form-switch" *ngIf="signature.content != null">
        <input type="checkbox" (change)="(editionMode = !editionMode) && $event.preventDefault()">
        <i class="form-icon"></i>Preview
      </label>

      &lt;!&ndash; Save button &ndash;&gt;
      <div class="sidebar-main-action">
        <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
      </div>

        <div class="form-group">
          <label class="form-label" for="language">Language</label>
          <select
            class="form-input"
            [(ngModel)]="signature.language"
            id="language">
            <option value="en" name="en">en</option>
            <option value="fr" name="fr">fr</option>
            </select>
        </div>
    </div>


    <div class="sidebar-edit" *ngIf="editionMode">
      <div class="form-group">
        <label class="form-label" for="name">Internal name</label>
        <input
          class="form-input"
          [(ngModel)]="signature.name"
          id="name"
          type="text"
          placeholder="">
      </div>

      <div class="form-group">
        <label class="form-label" for="from">From name</label>
        <input
          class="form-input"
          [(ngModel)]="signature.from"
          id="from"
          type="text"
          placeholder="">
      </div>

      <div class="form-group">
        <label class="form-label" for="email">From email</label>
        <input
          class="form-input"
          [(ngModel)]="signature.email"
          id="email"
          type="text"
          placeholder="">
      </div>
    </div>

    <label class="form-label" *ngIf="editionMode">Signature (code HTML)</label>
    <textarea
      *ngIf="editionMode"
      class="form-input"
      rows="25"
      [(ngModel)]="signature.content"
      id="signature"
      type="text"
      placeholder="">
    </textarea>
    <div *ngIf="!editionMode" [innerHTML]="signature.content"></div>
  </div>
</div>
-->
