<section id="sidebar-signature" class="p-top-30">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <form [formGroup]="form">


      <!-- actions -->
      <div class="flex-between flex-wrap">

        <div class="d-flex p-bottom-20 align-center">

          <div class="d-flex align-center m-bottom-10">
            <label class="form-label m-right-3" for="sidebar-signature-language">{{ 'COMMON.LABEL.LANGUAGE' | translate }}: </label>
            <select
              class="form-select"
              formControlName="language"
              id="sidebar-signature-language">
              <option *ngFor="let language of languages" [value]="language.type">
                {{ language.alias }}
              </option>
            </select>
          </div>

          <div class="m-left-25 m-bottom-15">
            <label class="form-switch">
              <input (change)="editionMode = !editionMode" type="checkbox">
              <i class="form-icon"></i><span class="text-notify text-medium text-sm">Preview</span>
            </label>
          </div>

        </div>

        <div class="p-bottom-30">
          <button
            (click)="onClickSave()"
            [innerText]="'COMMON.BUTTON.SAVE'"
            class="btn btn-sm btn-primary"
            translate
            type="submit">
          </button>
        </div>

      </div>
      <!-- /actions -->


      <!-- not edition mode -->
      <ng-container *ngIf="!editionMode">
        <div [innerHTML]="signature?.content" class="p-top-20 text-sm"></div>
      </ng-container>
      <!-- /not edition mode -->


      <!-- edition mode -->
      <ng-container *ngIf="editionMode">

        <!-- internal name -->
        <div class="form-group">
          <label class="form-label" for="sidebar-signature-name">Internal Name</label>
          <input
            class="form-input"
            formControlName="name"
            id="sidebar-signature-name"
            placeholder="Enter the internal name"
            type="text">
        </div>
        <!-- /internal name -->

        <!-- from name -->
        <div class="form-group">
          <label class="form-label" for="sidebar-signature-from-name">From Name</label>
          <input
            class="form-input"
            formControlName="from_name"
            id="sidebar-signature-from-name"
            placeholder="Enter the from name"
            type="text">
        </div>
        <!-- /from name -->

        <!-- from email -->
        <div class="form-group has-error">
          <label class="form-label" for="sidebar-signature-from-email">E-mail Address</label>
          <input
            class="form-input"
            formControlName="email"
            id="sidebar-signature-from-email"
            placeholder="Enter the email address"
            type="text">
          <span class="form-input-hint" *ngIf="form.get('email').touched && form.get('email').invalid">
            <ng-container *ngIf="form.get('email').hasError('email') && form.get('email').value !== ''">
              {{ 'COMMON.INVALID.EMAIL' | translate }}
            </ng-container>
          </span>
        </div>
        <!-- /from name -->

        <!-- content -->
        <div class="form-group">
          <label class="form-label" for="sidebar-signature-content">Signature (HTML code)</label>
          <textarea
            class="form-input p-right-2"
            formControlName="content"
            id="sidebar-signature-content"
            placeholder="Enter the content for the signature in the HTML way."
            rows="15"
            type="text">
          </textarea>
        </div>
        <!-- /content -->

      </ng-container>
      <!-- /edition mode -->


    </form>
  </div>
</section>
