<div *ngIf="signature">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <div class="sidebar-header">
      <!--
      <div class="language-choice">
        <div (click)="changeLanguage('en')" [ngClass]="{active: language === 'en'}" class="discreet-link">English</div>
        <div (click)="changeLanguage('fr')" [ngClass]="{active: language === 'fr'}" class="discreet-link">Français</div>
      </div>-->

      <label class="form-switch" *ngIf="signature.content != null">
        <input type="checkbox" (change)="(editionMode = !editionMode) && $event.preventDefault()">
        <i class="form-icon"></i>Preview
      </label>

      <!-- Save button -->
      <div class="sidebar-main-action">
        <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
      </div>

        <div class="form-group">
          <label class="form-label" for="language">Language</label>
          <select
            class="form-input"
            [(ngModel)]="signature.language"
            id="language">
            <option value="en" name="en">en</option>
            <option value="fr" name="fr">fr</option>
            </select>
        </div>
    </div>


    <div class="sidebar-edit" *ngIf="editionMode">
      <div class="form-group">
        <label class="form-label" for="name">Internal name</label>
        <input
          class="form-input"
          [(ngModel)]="signature.name"
          id="name"
          type="text"
          placeholder="">
      </div>

      <div class="form-group">
        <label class="form-label" for="from">From name</label>
        <input
          class="form-input"
          [(ngModel)]="signature.from"
          id="from"
          type="text"
          placeholder="">
      </div>

      <div class="form-group">
        <label class="form-label" for="email">From email</label>
        <input
          class="form-input"
          [(ngModel)]="signature.email"
          id="email"
          type="text"
          placeholder="">
      </div>
    </div>

    <label class="form-label" *ngIf="editionMode">Signature (code HTML)</label>
    <textarea
      *ngIf="editionMode"
      class="form-input"
      rows="25"
      [(ngModel)]="signature.content"
      id="signature"
      type="text"
      placeholder="">
    </textarea>
    <div *ngIf="!editionMode" [innerHTML]="signature.content"></div>
  </div>
</div>
