.user-form-wrapper {
  padding-top: 30px;

  .operator-wrapper {
    padding-bottom: 30px;
  }

  .terms-wrapper {
    padding-top: 22px;
    font-size: 0.7rem;
    color: #97A4B1;
    padding-left: 15px;
    padding-right: 15px;
  }

  .signUp-button-wrapper {
    padding-top: 30px;
  }

}
