@import "../../../../../style/variables";

#forget-password {

  .section-light-container {
    margin: auto;
  }

  .section-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    .main-heading {
      font-size: 2.15rem;
    }

    .form-wrapper {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      flex: 1 0 auto;

      .success-wrapper {
        color: $validation-color;

        .break {
          display: none;
        }

      }

      .email-wrapper {
        padding-top: 1.57rem;
      }

      .reset-button {
        padding-top: 1.57rem;
      }

    }

  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  #forget-password {

    .heading {
      padding-top: 1.57rem;
    }

  }

}

@media (min-width: 840px) {

  #forget-password {

    .break {
      display: block !important;
    }

  }

}

