@import "../../../../../style/framework/src/variables";

#pagination-2-wrapper {

  .btn {
    transition: none;
    border: 1px solid transparent;
    min-width: auto;
    height: 32px;
    padding: $unit-h $unit-2;


    &:disabled {
      background-color: transparent !important;
      border: none;
    }

  }

  .active {
    background-color: $text-background-50-color;
    border-color: $background-color;
  }

  .ghost-background-hover:hover {
    background-color: $text-background-55-color;
  }

  .pagination-navigation-previous-control, .pagination-navigation-next-control {

    .btn {

      i {
        font-size: 28px;
      }

    }

  }

  .popover {

    .btn {
      padding: 0;
      min-width: 101px;

      &:hover {

        span {
          text-decoration: underline;
        }

      }

    }

    .popover-container {
      width: 144px;

      .card {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        list-style: none;

        li {
          margin-top: 0;
          padding: $unit-2 $unit-3;

          &:hover {
            cursor: pointer;
            background-color: $text-background-55-color;
          }

        }

      }

    }


  }

}
