<span (click)="active=true">
  <ng-content select="[button]"></ng-content>
</span>
<div class="modal" [ngClass]="[active ? 'active': '', 'modal-'+size]">
  <div class="modal-overlay" (click)="(active = false) && $event.preventDefault()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <div class="modal-title h5">{{ title | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content">
        <ng-content select="[content]"></ng-content>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" (click)="(active = false) && $event.preventDefault()">
        {{ 'MARKET_REPORT.POPUP.BACK' | translate }}
      </button>
    </div>
  </div>
</div>
