.modal {
  color: #878787;
}

.modal-lg {
  .modal-overlay {
    background: rgba(248, 249, 250, 0.75);
  }

  .modal-container {
    max-width: 90%;

    .modal-body {
      max-height: 80vh;
    }
  }
}
