.card
  text-align left
  background #fff
  box-shadow 1px 2px 4px 0 rgba(0,0,0,.37)
  width 100%
  max-height 16rem
  overflow hidden
  z-index 100

  .card-title
    font-size 1.2rem

  .card-content
    min-height 11rem
    max-height 11rem

  .card-action
    max-height 5rem
    font-size 0.8rem
