<div class="relative" *ngIf="options" [ngClass]="{'popover m-left-4': isPopover}">
  <div *ngIf="isPopover" class="d-flex align-center"
       [ngStyle]="{ 'background-color': indicatorColor, 'width': '10px', 'height': '20px'}">
  </div>
  <div [ngClass]="{'popover-container bg-white': isPopover}">
    <div class="align-center" [ngClass]="{'card': isPopover}">
      <!-- Title should be put in ng-content -->
      <ng-content></ng-content>
      <div [ngStyle]="{'height': (height) + 'px'}"
           [ngClass]="{'reverted': negative, 'chart': isPopover, 'm-top-40': isPopover}">
        <rg-gauge-chart [canvasWidth]="width"
                        [needleValue]="needleValue"
                        [centralLabel]="''"
                        [options]="options">
        </rg-gauge-chart>
      </div>
      <div *ngIf="showValue" class="text-medium text-sm"> {{ needleValueText }} </div>
      <div *ngIf="showLegend" class="legend text-sm w-full" [ngStyle]="{'margin-top': (height / 2 + 30) + 'px'}">
        <ul [ngClass]="{'reverted-legend': negative}">
          <li *ngFor="let label of delimitersLabels; let i = index">
            <div [ngStyle]="{ 'background-color': colors[i] }" class="square"></div>
            <span class="m-left-20">{{ label }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
