.chart {
  position: absolute;
  top: 10px;

  &.reverted {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
}

.legend {
  z-index: 5;
  text-align: left;
  padding: 5px;
  display: inline-block;

  .reverted-legend {
    flex-direction: column-reverse;
    display: flex;
  }

  ul {
    list-style: none;
  }

  .square {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 20%;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    span {
      display: inline-block;
    }

    span {
      margin-right: 10px;
    }
  }
}
