.chart {
  position: absolute;
  top: 10px;
}

.legend {
  z-index: 5;
  text-align: left;
  padding: 5px;
  display: inline-block;

  ul {
    list-style: none;
  }

  .square {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 20%;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    span {
      display: inline-block;
    }

    span {
      margin-right: 10px;
    }
  }
}
