<div id="auto-complete-input">

  <!-- input area -->
  <form
    (ngSubmit)="addProposition(autoCompleteInputForm)"
    *ngIf="isShowable"
    [formGroup]="autoCompleteInputForm"
    novalidate>
    <div class="aci-input-wrapper">

      <label [ngStyle]="{'width': isShowButton ? '80%' : '100%'}" class="m-right-2">
        <input
          [attr.placeholder]="placeholder | translate"
          [display-property-name]="identifier"
          [list-formatter]="autocompleteListFormatter.bind(this)"
          [ngClass]="{'is-sm': isSmall}"
          [source]="suggestions.bind(this)"
          auto-complete
          class="form-input is-shadowed"
          formControlName="answer"
          value-property-name="id">
      </label>

      <button
        *ngIf="isShowButton"
        (click)="addProposition(autoCompleteInputForm)"
        [disabled]="!canAdd || !isEditable"
        [ngClass]="{'is-xs': isSmall, 'is-sm': !isSmall}"
        class="button is-circled is-primary"
        type="button">
        <i class="icon icon-plus"></i>
      </button>

    </div>
  </form>
  <!-- /input area -->

  <!-- answer area -->
  <ul
    *ngIf="answerList.length > 0 && !isHideAnswerList"
    [ngClass]="{ 'fixed-height': answerList.length > 5 }"
    class="aci-answers-wrapper">
    <li *ngFor="let answer of answerList; let i = index">

      <!-- can order -->
      <div *ngIf="canOrder" class="aci-icons-wrapper">

        <!-- up icon -->
        <div
          (click)="onClickOrderUp($event, i)"
          *ngIf="isEditable || isAdmin"
          [ngClass]="{'disabled': !isEditable}"
          class="icon-container m-no-left is-overlay">
          <span [attr.data-tooltip]="'COMMON.TOOLTIP.MOVE_UP' | translate" class="tooltip">
            <i class="icon icon-arrow-up"></i>
          </span>
        </div>
        <!-- /up icon -->

        <!-- down icon -->
        <div
          (click)="onClickOrderDown($event, i)"
          *ngIf="isEditable || isAdmin"
          [ngClass]="{'disabled': !isEditable}"
          class="icon-container m-no-left m-right-2 is-overlay">
          <span [attr.data-tooltip]="'COMMON.TOOLTIP.MOVE_DOWN' | translate" class="tooltip">
            <i class="icon icon-arrow-down"></i>
          </span>
        </div>
        <!-- /down icon -->

      </div>
      <!-- /can order -->

      <!-- text -->
      <div class="aci-answer-wrapper text-sm text-primary-dark m-right-2">
        <span [innerHTML]="answerFormatter(answer)"></span>
      </div>
      <!-- text -->

      <!-- icons -->
      <div class="aci-icons-wrapper">

        <!-- if admin mode -->
        <div *ngIf="isAdmin" class="d-flex">

          <!-- edit-icon -->
          <div [ngClass]="{'popover': isEditable}">

            <div [ngClass]="{'disabled': !isEditable, 'c-default': isEditable}" class="icon-container is-overlay">
              <i class="fas fa-pencil-alt text-notify"></i>
            </div>

            <div *ngIf="isEditable" class="popover-container" style="width: 260px">
              <div class="card p-no">

                <div class="card-body">
                  <div class="form-group">
                    <label class="form-label" [for]="answer[identifier]">Answer</label>
                    <input
                      [(ngModel)]="answer[identifier]"
                      [id]="answer[identifier]"
                      autocomplete="off"
                      class="form-input is-sm is-shadowed"
                      name="answer"
                      type="text">
                  </div>
                </div>

                <div class="card-footer text-center">
                  <button
                    (click)="updateItem($event)"
                    [disabled]="!answer[identifier]"
                    class="button is-secondary is-outlined is-xs"
                    type="submit">
                    Update
                  </button>
                </div>

              </div>
            </div>

          </div>
          <!-- /edit-icon -->

          <!-- domain-icon -->
          <div [ngClass]="{'popover': isEditable}">

            <div
              class="icon-container is-overlay"
              [ngClass]="{ 'opacity': !(answer.domain && answer.domain.length > 0), 'disabled': !isEditable,
               'c-default': isEditable } ">
              <i class="fas fa-at"></i>
            </div>

            <div *ngIf="isEditable" class="popover-container" style="width: 260px">
              <div class="card p-no">

                <div class="card-body">
                  <div class="form-group">
                    <label class="form-label" [for]="answer.domain">Domain Name</label>
                    <input
                      [(ngModel)]="answer.domain"
                      [id]="answer.domain"
                      autocomplete="off"
                      class="form-input is-sm is-shadowed"
                      name="domain"
                      type="text">
                  </div>
                </div>

                <div class="card-footer text-center">
                  <button
                    (click)="updateItem($event)"
                    class="button is-secondary is-outlined is-xs"
                    type="submit">
                    Update
                  </button>
                </div>

              </div>
            </div>

          </div>
          <!-- /domain-icon -->

          <!-- thumbs-up icon -->
          <div
            (click)="thumbsUp($event, i)"
            [ngClass]="{ 'disabled': !isEditable }"
            class="icon-container is-overlay">
            <i [ngClass]="{ 'active': answer.rating === 2, 'c-hand': isEditable }" class="fas fa-thumbs-up"></i>
          </div>
          <!-- /thumbs-up icon -->

          <!-- thumbs-down icon -->
          <div
            (click)="thumbsDown($event, i)"
            [ngClass]="{ 'disabled': !isEditable }"
            class="icon-container is-overlay">
            <i [ngClass]="{ 'active': answer.rating === 0, 'c-hand': isEditable }" class="fas fa-thumbs-down"></i>
          </div>
          <!-- /thumbs-down icon -->

        </div>
        <!-- /if admin mode -->

        <!-- delete icon -->
        <div
          (click)="removeProposition(i)"
          *ngIf="isEditable || isAdmin"
          [ngClass]="{ 'disabled': !isEditable }"
          class="icon-container is-overlay">
          <span [attr.data-tooltip]="'COMMON.TOOLTIP.DELETE' | translate" class="tooltip">
            <i class="icon icon-delete text-alert"></i>
          </span>
        </div>
        <!-- /delete icon -->

      </div>
      <!-- /icons -->

    </li>
  </ul>
  <!-- /answer area -->

</div>
