@import "../../../../style/framework/src/variables";
@import "../../../../style/framework/src/mixins";

#auto-complete-input {

  .aci-input-wrapper {
    @include flex-between();

    .form-input {
      border-color: $border-default-color;
    }

  }

  .aci-answers-wrapper {
    margin: 20px 0 0 0;
    list-style: none;

    li {
      @include control-transition();
      @include flex-between();
      margin-top: 10px;
      border-radius: $border-radius;
      background-color: #F8F4F4;
      padding: 6px $unit-2 6px $unit-3;
      font-weight: $font-weight-medium;

      &:first-child {
        margin-top: 0;
      }

      .aci-answer-wrapper, .aci-icons-wrapper {
        display: flex;
        align-items: center;
      }

      .aci-answer-wrapper {
        width: 100%;
      }

      .aci-icons-wrapper {

        .icon-container {
          margin-left: $unit-1;

          &.opacity {
            opacity: 0.5;
          }

        }

        .fa-thumbs-up, .fa-thumbs-down, .icon-arrow-down, .icon-arrow-up {
          color: $text-meta-color;
        }

        .fa-thumbs-up {

          &.active {
            color: $text-success-color;
          }

        }

        .fa-thumbs-down {

          &.active {
            color: $text-alert-color;
          }

        }

      }

    }

    &.fixed-height {
      max-height: 320px;
      overflow: hidden;
      overflow-y: auto;

      li {

        &:first-child {

          .aci-icons-wrapper {

            .tooltip::before, .tooltip::after {
              display: none;
            }

          }

        }

      }

    }

  }

}
