<div id="admin-tags">

  <div class="p-top-25 bg-white">
    <div class="container fluid grid-2xl">
      <div class="column col-sm-12 col-11 col-mx-auto">

        <!-- heading -->
        <h1 class="title is-4">Tags</h1>
        <!-- /heading -->

        <!-- tabs -->
        <ul class="tab">
          <li class="tab-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['list']"
              routerLinkActive="active">
              {{ 'TAGS.LIST' | translate }}
            </a>
          </li>
          <li class="tab-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['attachments']"
              routerLinkActive="active">
              {{ 'TAGS.ATTACHMENTS' | translate }}
            </a>
          </li>
        </ul>
        <!-- /tabs -->

      </div>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>
