<div class="container">
  <h3>Tags</h3>
  <ul class="tab tab-block">
    <li class="tab-item"><a [routerLink]="['list']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      {{ 'TAGS.LIST' | translate }}
    </a></li>
    <li class="tab-item"><a [routerLink]="['attachments']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      {{ 'TAGS.ATTACHMENTS' | translate }}
    </a></li>
  </ul>

  <div class="tabs">
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
