<div class="row">
  <div>
    <div class="container">
      <h1>{{total}} {{ 'COMMON.USERS' | translate }}</h1>
      <table wt-responsive-table class="table">
        <thead>
        <tr>
          <th></th>
          <th sqSort [service]="sq" prop="firstName">{{ 'USER.NAME' | translate }}</th>
          <th sqSort [service]="sq" prop="companyName" >{{ 'USER.COMPANY' | translate }}</th>
          <th sqSort [service]="sq" prop="jobTitle">{{ 'USER.JOB' | translate }}</th>
          <th sqSort [service]="sq" prop="created">{{ 'USER.CREATED' | translate }}</th>
          <th>{{ 'COMMON.PROJECTS' | translate }}</th>
        </tr>
        <tr>
          <th></th>
          <th><sqFilter [service]="sq" prop="firstName"></sqFilter></th>
          <th><sqFilter [service]="sq" prop="companyName"></sqFilter></th>
          <th><sqFilter [service]="sq" prop="jobTitle"></sqFilter></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td width="80">
            <img *ngIf="user.media" src={{user.media.url}} /><!-- TODO voir comment ça rend si !user.media -->
          </td>
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.companyName}}</td>
          <td>{{user.jobTitle}}</td>
          <td>{{user.created | date : dateFormat}}</td>
          <td><button (click)="loadInnovations(user._id)">Voir innos</button></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="12">
            <sqPagination [service]="sq" [total]="total"></sqPagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
