<div>
  <!-- Collaborative editor toggle -->
  <div *ngIf="showToggle" class="m-bottom-15 d-inline-flex">
    <label class="form-switch">
      <input
        (change)="onChangeEditor()"
        [checked]="editor === 'ETHERPAD'"
        type="checkbox">
      <i class="form-icon"></i> {{ 'SHARED_TEXT_ZONE.COLLABORATIVE_EDITING' | translate }}
    </label>
  </div>

  <div [ngSwitch]="editor" id="shared-editors">

    <!-- case Etherpad -->
    <ng-container *ngSwitchCase="'ETHERPAD'">
      <app-shared-editor-etherpad
        (textChange)="onTextChange($event)"
        [etherpad]="etherpad"
        [isEditable]="isEditable"
        [minHeight]="padHeight"
        [lang]="lang"
        [text]="text">
      </app-shared-editor-etherpad>
    </ng-container>
    <!-- /case Etherpad -->

    <!-- case TINY_MCE -->
    <ng-container *ngSwitchCase="'TINY_MCE'">
      <app-shared-editor-tinymce
        (onTextChange)="onTextChange($event)"
        [lang]="lang"
        [data]="text"
        [height]="tinymceHeight"
        [readonly]="!isEditable">
      </app-shared-editor-tinymce>
    </ng-container>
    <!-- /case TINY_MCE -->

  </div>
</div>
