<div [ngSwitch]="editor" id="shared-editors">

  <!-- case Etherpad -->
  <ng-container *ngSwitchCase="'ETHERPAD'">
    <app-shared-editor-etherpad
      (textChange)="onTextChange($event)"
      [etherpad]="etherpad"
      [isEditable]="isEditable"
      [minHeight]="padHeight"
      [text]="text">
    </app-shared-editor-etherpad>
  </ng-container>
  <!-- /case Etherpad -->

  <!-- case TINY_MCE -->
  <ng-container *ngSwitchCase="'TINY_MCE'">
    <app-shared-editor-tinymce
      (onTextChange)="onTextChange($event)"
      [data]="text"
      [height]="tinymceHeight"
      [readonly]="isEditable">
    </app-shared-editor-tinymce>
  </ng-container>
  <!-- /case TINY_MCE -->

</div>
