.card-content
  padding 3rem 3.75rem

  h4.title
    font 14px/24px 'Open Sans',sans-serif
    font-size 30px
    color #4a4a4a

.btn.over-card
  margin-top -2.7rem

  i.vertical-middle
    font-size 1.6rem
    vertical-align middle

