@import "../../../../../../style/framework/src/variables";

#executive-section {
  min-height: 438px;

  &.inactive {
    padding-top: 20px;
    padding-bottom: 70px;
    font-size: $font-size-sm;
    width: 100%;

    .question-selection-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      div {
        padding: 15px 15px 0 15px;
        max-width: 280px;

        ul {
          list-style: none;
          margin: 0;

          li {
            margin-top: 2px;

            &:hover {
              color: $text-primary-color;
              cursor: pointer;
            }

          }

        }

      }

    }

  }

}

