<section class="section-pad animate-page" id="account-component">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <div class="profile-wrapper">

      <!-- left section -->
      <div class="left-content-wrapper">

        <!-- Profile pics -->
        <ng-container *ngIf="hasProfilePic()">
          <div class="profile-pic">
            <img [src]="profilePicture" alt=" ">
          </div>
        </ng-container>

        <ng-container *ngIf="!hasProfilePic()">
          <div class="profile-pic-def">
            <h2>{{ formData.get('firstName').value | slice:0:1 }}{{ formData.get('lastName').value | slice:0:1 }}</h2>
          </div>
        </ng-container>
        <!-- /Profile pics -->

        <!-- Name -->
        <h1>{{ name }}</h1>

        <!-- Job -->
        <h6>{{ jobTitle }}</h6>

        <!-- Label Ambassador & linkedIn-->
        <ng-container *ngIf="userProvider === 'hubspot'">
          <div class="label label-draft">{{ 'COMMON.AMBASSADOR' | translate }}</div>
        </ng-container>

        <ng-container *ngIf="userProvider === 'external'">
          <div class="label label-edit">LinkedIn</div>
        </ng-container>
        <!-- /Label Ambassador & linkedIn -->

        <!-- hr -->
        <hr class="hero-hr">

        <!-- Links -->
        <ul class="user-actions">
          <li (click)="showPasswordSidebar($event)">{{ 'MY_ACCOUNT.CHANGE_PASSWORD' | translate }}</li>
          <li (click)="onDelete($event)">{{ 'MY_ACCOUNT.DELETE' | translate }}</li>
          <li><a [routerLink]="'/logout'">{{ 'COMMON.LOG_OUT' | translate }}</a></li>
        </ul>

      </div>
      <!-- /left section -->

      <!-- right section -->
      <div class="right-content-wrapper">

        <!-- Title -->
        <div class="title-wrapper">
          <h3>{{ 'MY_ACCOUNT.TITLE' | translate }}</h3>
          <p>{{ 'MY_ACCOUNT.PARA' | translate }}</p>
        </div>

        <!-- Form -->
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formData" class="form-wrapper">

          <!-- first name &  last name -->
          <div class="input-group inline">

            <!-- first name -->
            <div class="form-group has-error">
              <label class="form-label" for="account-firstName">{{ 'COMMON.LABEL.FIRSTNAME' | translate }}</label>
              <input
                class="form-input"
                formControlName="firstName"
                id="account-firstName"
                type="text"
                placeholder="John">
              <span class="form-input-hint" *ngIf="formData.get('firstName').touched && formData.get('firstName').invalid && formData.get('firstName').hasError('required')">
                {{ 'COMMON.REQUIRED.FIRSTNAME' | translate }}
              </span>
            </div>

            <!-- last name -->
            <div class="form-group has-error">
              <label class="form-label" for="account-lastName">{{ 'COMMON.LABEL.LASTNAME' | translate }}</label>
              <input
                class="form-input"
                formControlName="lastName"
                id="account-lastName"
                type="text"
                placeholder="Doe">
              <span class="form-input-hint" *ngIf="formData.get('lastName').touched && formData.get('lastName').invalid && formData.get('lastName').hasError('required')">
                {{ 'COMMON.REQUIRED.LASTNAME' | translate }}
              </span>
            </div>

          </div>

          <!-- email & company -->
          <div class="input-group inline">

            <!-- email -->
            <div class="form-group">
              <label class="form-label" for="account-email">{{ 'COMMON.LABEL.EMAIL' | translate }}</label>
              <input
                class="form-input"
                formControlName="email"
                id="account-email"
                type="email"
                placeholder="john@catco.com">
            </div>

            <!-- Company -->
            <div class="form-group">
              <label class="form-label" for="account-companyName">{{ 'COMMON.LABEL.COMPANY' | translate }}</label>
              <input
                class="form-input"
                formControlName="companyName"
                id="account-companyName"
                type="text"
                [attr.placeholder]="'COMMON.PLACEHOLDER.COMPANY' | translate">
            </div>

          </div>

          <!-- Job & Country -->
          <div class="input-group inline">

            <!-- Job -->
            <div class="form-group">
              <label class="form-label" for="account-jobTitle">{{ 'COMMON.LABEL.JOBTITLE' | translate }}</label>
              <input
                class="form-input"
                formControlName="jobTitle"
                id="account-jobTitle"
                type="text"
                [attr.placeholder]="'COMMON.PLACEHOLDER.JOBTITLE' | translate">
            </div>

            <!-- Country -->
            <div class="form-group">
              <label class="form-label" for="account-country">{{ 'COMMON.LABEL.COUNTRY' | translate }}</label>
              <input
                class="form-input"
                formControlName="country"
                id="account-country"
                type="text"
                [attr.placeholder]="'COMMON.PLACEHOLDER.COUNTRY' | translate"
                (click)="onSuggestCountries()"
                autocomplete="off">
              <ul *ngIf="formData.get('country').value" class="input-suggestion" [ngStyle]="{ 'display': displayCountrySuggestion ? 'flex' : 'none' }">
                <li *ngFor="let suggestion of countriesSuggestion.sort()" (click)="onValueSelect(suggestion)">
                  {{ suggestion }}
                </li>
              </ul>
            </div>

          </div>

          <!-- phone & lang -->
          <div class="input-group inline">

            <!-- phone -->
            <div class="form-group">
              <label class="form-label" for="account-phone">{{ 'COMMON.LABEL.PHONE' | translate }}</label>
              <input
                class="form-input"
                formControlName="phone"
                id="account-phone"
                type="tel"
                placeholder="+33 55 90 56 876">
            </div>

            <!-- language -->
            <div class="form-group">
              <label class="form-label" for="lang">{{ 'COMMON.LANGUAGE' | translate }}</label>
              <select class="form-select" id="lang" name="lang" formControlName="language">
                <option value="en">{{ 'COMMON.LANG.EN' | translate }}</option>
                <option value="fr">{{ 'COMMON.LANG.FR' | translate }}</option>
              </select>
            </div>

          </div>

          <!-- sector & technology -->
          <div class="input-group inline">

            <!-- sector -->
            <div class="form-group">
              <label class="form-label">{{ 'COMMON.LABEL.ACTIVITY_FIELDS' | translate }}</label>
              <div class="input-gap">
                <app-input-list
                  (update)="addSector($event)"
                  [config]="{ placeholder: ('COMMON.PLACEHOLDER.ACTIVITY_FIELDS' | translate), initialData: formData.get('sectors').value }">
                </app-input-list>
              </div>
            </div>

            <!-- technologies -->
            <div class="form-group">
              <label class="form-label">{{ 'COMMON.LABEL.TECHNOLOGIES' | translate }}</label>
              <div class="input-gap">
                <app-input-list
                  (update)="addTechnology($event)"
                  [config]="{ placeholder: ('COMMON.PLACEHOLDER.TECHNOLOGIES' | translate), initialData: formData.get('technologies').value }">
                </app-input-list>
              </div>
            </div>

          </div>

          <!-- save button -->
          <div class="save-wrapper text-center">
            <button class="btn btn-primary" type="submit" [disabled]="formData.invalid">{{ 'COMMON.BUTTON.SAVE' | translate }}</button>
          </div>

        </form>

      </div>
      <!-- /right section -->

    </div>
  </div>
</section>


<!-- change password sidebar -->
<app-sidebar [(template)]="sidebarValue">
  <app-user-change-password [sidebarState]="sidebarValue.animate_state" (passwordUpdate)="updatePassword($event)"></app-user-change-password>
</app-sidebar>
<!-- /change password sidebar -->


<!-- modal to delete account -->
<app-modal [(showModal)]="modalDelete" [modalTitle]="'COMMON.MODAL.TITLE_DELETE'">
  {{ 'MY_ACCOUNT.DELETE_MODAL.TITLE' | translate }}
  <br><br>
  {{ 'MY_ACCOUNT.DELETE_MODAL.CONTENT' | translate }}
  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="onClickSubmit($event)">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>
</app-modal>
<!-- /modal to delete account -->


