@import "../../../../../../style/framework/src/variables";
@import "../../../../../../style/framework/src/mixins";

#account-component {

  .profile-wrapper {
    display: flex;

    .left-content-wrapper {
      text-align: center;
      padding-right: 2.5rem;
      padding-top: 1.25rem;
      flex: 0 1 25% !important;

      .profile-pic {
        margin-left: auto;
        margin-right: auto;

        img {
          border-radius: 50%;
        }

      }

      .profile-pic-def {
        height: 120px;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
        background-color: #E0E0E0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
          font-size: 63px;
          margin-bottom: 0;
          font-family: Oswald, sans-serif;
          color: $text-background-color;
        }

      }

      h1 {
        margin-top: 0.75rem;
        margin-bottom: 0.1rem;
        font-size: $font-size-lg;
      }

      h6 {
        font-weight: normal;
        font-size: $font-size-sm;
        font-style: italic;
        color: $meta-color;
      }

      .hero-hr {
        width: 100%;
        border: $border-width solid $border-color;
        margin-bottom: $unit-5;
      }

      .user-actions {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;

        li {
          @include control-transition();
          margin-top: 0;
          font-size: $font-size-sm;
          padding: $unit-2;
        }

        li:hover, a:hover {
          background-color: $primary-color;
          color: $light-color;
          cursor: pointer;
        }

      }

    }

    .right-content-wrapper {
      border-left: $border-width solid $border-color;
      padding-left: 2.5rem;
      flex: 0 1 75% !important;

      .title-wrapper {
        text-align: center;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-bottom: $border-width solid $border-color;

        h3 {
          font-size: 1.3rem;
          margin-bottom: $unit-h;
        }

        p {
          font-size: $font-size-sm;
          color: $meta-color;
          margin-bottom: 0;
        }

      }

      .form-wrapper {
        padding-top: 2rem;

        .form-group {
          width: 100%;
          position: relative;
          margin-bottom: $unit-5;
        }

        .form-input:disabled {
          background-color: $bg-color-light;
        }

        .input-gap {
          margin-top: $unit-1;
        }

        .save-wrapper {
          padding-top: 2rem;
          padding-bottom: 2rem;
        }

      }

    }

  }

}


@media (max-width: 600px) {

  .profile-wrapper {
    flex-direction: column;
  }

  .left-content-wrapper {
    padding-top: 0 !important;
    padding-bottom: 0.75rem;
  }

  .right-content-wrapper, .left-content-wrapper {
    border-left: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .save-wrapper {
    padding-bottom: 0 !important;
  }

}

@media (max-width: $size-md) {

  .input-group.inline {
    flex-direction: column;
  }

}

