@import "../variables";

@mixin avatar-variant($color: $dark-color, $bg-color: #E0E0E0) {
  background: $bg-color;
  color: $color;
}

@mixin avatar-base($size: $unit-8) {
  font-size: $size / 2;
  height: $size;
  width: $size;
}
