@import "../variables";

@mixin loading-color($color) {

  &::after {
    border-bottom-color: $color;
    border-left-color: $color;
  }

}

@mixin loading-size($min-height, $size, $margin) {
  min-height: $min-height;

  &::after {
    height: $size;
    width: $size;
    margin-left: -$margin;
    margin-top: -$margin;

    @if $size == 60px {
      border-width: 3px;
    }

  }

}
