@mixin flex-position($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin inline-flex-position($justify) {
  display: inline-flex;
  justify-content: $justify;
  align-items: center;
}

@mixin full-page($position) {
  position: $position;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
