@import "../variables";

@mixin start-rating-color($color) {
  &:not(:checked) {
    > label {
      color: $color;

      &:hover, &:hover ~ label {
      color: $color;
      font-weight: 900;
      }
    }
  }
}

@mixin start-rating-size($size) {
  &:not(:checked) {
    > label {
      font-size: $size;
      padding: 0 2px;

      @if $size == 20px {
        width: 24px;
        height: 28px;
      }

      @if $size == 24px {
        width: 28px;
        height: 34px;
      }

    }
  }
}
