@import "../variables";

@mixin text-overflow($overflow) {
  overflow: hidden !important;
  text-overflow: $overflow !important;
  white-space: nowrap !important;
}

@mixin text-hide() {
  background: transparent;
  border: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-shadow: none;
}

@mixin text-assistive() {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
