// control transition
@mixin control-transition($time: 0.2s) {
  transition: all $time ease;
}

@mixin button-transition() {
  transition: all 0.3s ease;
}

@mixin icon-transition() {
  transition: all 0.5s ease;
}

@mixin tab-transition() {
  transition: all 0.2s ease;
}
