@import "../../../../../../../style/variables";

.scale-wrapper {
  padding-bottom: 1.57rem;

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .column-graph {
    justify-content: space-between;
  }

  .vertical-bar {
    position: relative;
    width: 42px;
    height: 25rem;
    background: white;
    border-radius: 25px;
    margin: 1rem .375rem;

    .bar-fill {
      position: absolute;
      bottom: 0;
      width: 42px;
      min-height: 3.875rem;
      background-image: linear-gradient(-90deg, #edeeef 16%, #d7dee0 100%);
      border-radius: 25px;
    }

    &.number1 .bar-fill {
      background-image: linear-gradient(-180deg, #CE392D 0%, #B0261B 100%);
    }

    &.number2 .bar-fill {
      background-image: linear-gradient(-180deg, #D75A3E 0%, #C14023 100%);
    }

    &.number3 .bar-fill {
      background-image: linear-gradient(-180deg, #E68034 0%, #CA681E 100%);
    }

    &.number4 .bar-fill {
      background-image: linear-gradient(-180deg, #F4B11B 0%, #C18601 100%);
    }

    &.number5 .bar-fill {
      background-image: linear-gradient(-180deg, #EFD622 0%, #CBB515 100%);
    }

    &.number6 .bar-fill {
      background-image: linear-gradient(-180deg, #D6D556 0%, #B9B837 98%);
    }

    &.number7 .bar-fill {
      background-image: linear-gradient(-180deg, #CBDD51 0%, #99AA24 100%);
    }

    &.number8 .bar-fill {
      background-image: linear-gradient(-180deg, #A8CD4C 0%, #799C24 100%);
    }

    &.number9 .bar-fill {
      background-image: linear-gradient(-180deg, #95C84F 0%, #659C19 100%);
    }

    &.number10 .bar-fill {
      background-image: linear-gradient(-180deg, #9ADA43 2%, #64971C 100%);
    }

    .bar-stats {
      position: absolute;
      bottom: 2.125rem;
      left: 16px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 1rem;
    }

    .bar-picture {
      position: absolute;
      bottom: .25rem;
      left: 16px;
      width: 11px;
      height: 1.875rem;
      background: transparent url("https://res.cloudinary.com/umi/image/upload/app/man.svg") no-repeat center;
      background-size: contain;
    }

    .bar-score {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: -1.75rem;
      font-size: .875rem;
      color: #AEAEAE;
      font-weight: bold;
    }

  }

}

/*

.scale-component-wrapper {

  .scale-score-wrapper {
    font-size: 18px;
    color: #4F5D6B;
    margin-bottom: 25px;
  }

  .scale-progress-outer-wrapper {
    width: 100%;
    border-radius: 25px;
    background-color: #D8D8D8;
    height: 16px;
    margin-bottom: 25px;
    transition: all 0.35s ease-in-out;

    .scale-progress-inner-wrapper {
      height: 16px;
      border-radius: 25px;
      text-align: center;
      font-size: 11px;
      color: white;
      font-weight: 600;
    }

    &.number1 .scale-progress-inner-wrapper {
      background-image: linear-gradient(-180deg, #CE392D 0%, #B0261B 100%);
    }

    &.number2 .scale-progress-inner-wrapper {
      background-image: linear-gradient(-180deg, #D75A3E 0%, #C14023 100%);
    }

    &.number3 .scale-progress-inner-wrapper {
      background-image: linear-gradient(-180deg, #E68034 0%, #CA681E 100%);
    }

    &.number4 .scale-progress-inner-wrapper {
      background-image: linear-gradient(-180deg, #F4B11B 0%, #C18601 100%);
    }

    &.number5 .scale-progress-inner-wrapper {
      background-image: linear-gradient(-180deg, #EFD622 0%, #CBB515 100%);
    }

    &.number6 .scale-progress-inner-wrapper {
      background-image: linear-gradient(-180deg, #D6D556 0%, #B9B837 98%);
    }

    &.number7 .scale-progress-inner-wrapper {
      background-image: linear-gradient(-180deg, #CBDD51 0%, #99AA24 100%);
    }

    &.number8 .scale-progress-inner-wrapper {
      background-image: linear-gradient(-180deg, #A8CD4C 0%, #799C24 100%);
    }

    &.number9 .scale-progress-inner-wrapper {
      background-image: linear-gradient(-180deg, #95C84F 0%, #659C19 100%);
    }

    &.number10 .scale-progress-inner-wrapper {
      background-image: linear-gradient(-180deg, #9ADA43 2%, #64971C 100%);
    }

  }

}

*/
