
<form novalidate [formGroup]="formData">
  <div class="form-group">
    <button (click)="onSubmit()" class="btn btn-primary">
      {{'COMMON.SAVE' | translate}}
    </button>
  </div>
  <div class="form-group">
    <label class="form-label"> DATE </label>
    <input class="form-default" id="dateMail" name="dateMail" formControlName="dateMail" type="date" >
  </div>
  <div class="form-group">
    <label class="form-label"> TIME </label>
    <input class="form-default" id="timeMail" name="timeMail" formControlName="timeMail" type="time">
  </div>
</form>
<div *ngIf="thereIsContent">
  <label class="text-ellipsis"> EN </label>
  <text-zone [elementId]="'ez'"
             [readonly]="true"
             [data]="this.content.en"
  ></text-zone>
  <label class="text-ellipsis"> FR </label>
  <text-zone [elementId]="'ddz'"
             [readonly]="true"
             [data]="this.content.fr"
  ></text-zone>
</div>
