
<form novalidate [formGroup]="formData">
  <div class="form-group">
    <button (click)="onSubmit()" class="btn btn-primary">
      {{'COMMON.SAVE' | translate}}
    </button>
  </div>
  <div class="form-group">
    <label class="form-label"> DATE </label>
    {{dateMail}}
    <input class="form-default" id="dateMail" name="dateMail" formControlName="dateMail" type="date" >
  </div>
  <div class="form-group">
    <label class="form-label"> TIME </label>
    <input class="form-default" id="timeMail" name="timeMail" formControlName="timeMail" type="time">
  </div>
</form>
<div class="text-ellipsis">
  <label class="text-ellipsis"> EN </label>
  {{this.content.en}}
  <label class="text-ellipsis"> FR </label>
  {{this.content.fr}}
</div>
