<div [hidden]="!canAccess()" class="container fluid grid-2xl" id="admin-edit-use-case">
  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- error message while fetching -->
    <ng-container *ngIf="fetchingError; else noError">
      <app-utility-message-error></app-utility-message-error>
    </ng-container>
    <!-- /error message while fetching -->

    <!-- no fetching error -->
    <ng-template #noError>
      <div class="p-top-30 p-bottom-50">

        <!-- save template / name -->
        <section [hidden]="!canAccess(['edit'])" class="flex-end m-bottom-20">

          <!--<div class="d-flex align-center">
            <h2 class="title is-6 text-draft m-bottom-15 m-right-10">Use case:</h2>
            <label
              [attr.data-tooltip]="'COMMON.CHANGE_WITHOUT_SAVE' | translate"
              [ngClass]="{'tooltip is-multiline': toBeSaved}">
              <select
                (ngModelChange)="onChangeUseCase($event)"
                [ngModel]="missionTemplate._id"
                class="form-select is-sm m-bottom-15">
                <option *ngFor="let template of templates" [value]="template._id">
                  {{ objectiveName(template) }}
                </option>
              </select>
            </label>
          </div>-->

          <button
            (click)="onClickSave($event)"
            [disabled]="isSaving || !toBeSaved"
            [ngClass]="{'is-outlined': !toBeSaved}"
            class="button is-primary is-sm m-bottom-15"
            type="button">
            {{ isSaving ? 'saving the use case...' : 'Save' }}
          </button>

        </section>
        <!-- /save template / name -->

        <!-- template sections -->
        <div class="p-top-20 d-flex justify-around flex-wrap-wrap">
          <!-- mirror: left side  -->
          <div [ngClass]="{'questionnaire-column': !!rightMirrorLanguage}">

            <app-shared-questionnaire-mirror-view
              [showDropDown]="true"
              [(languageSelected)]="leftMirrorLanguage"
              [languagesList]="questionnaireLanguages"
              [languagesExcludedInSelector]="[rightMirrorLanguage]">

              <!-- objective -->
              <ng-container *ngTemplateOutlet="objective;
                             context: {$implicit :{lang:leftMirrorLanguage}}">
              </ng-container>
              <!-- /objective -->

              <app-shared-questionnaire
                (templateChange)="onChangeTemplate($event)"
                (valueToSave)="changeStack($event)"
                [accessPath]="accessPath"
                [isLibraryView]="true"
                [languageSelected]="leftMirrorLanguage.type"
                [template]="missionTemplate">
              </app-shared-questionnaire>
            </app-shared-questionnaire-mirror-view>
          </div>
          <!-- /mirror: left side  -->

          <!-- mirror: right side  -->
          <div *ngIf="!!rightMirrorLanguage"
               [ngClass]="{'questionnaire-column': !!rightMirrorLanguage}">
            <div class="d-flex flex-d-column p-bottom-20">
              <app-shared-questionnaire-mirror-view
                [showDropDown]="true"
                [(languageSelected)]="rightMirrorLanguage"
                [languagesList]="questionnaireLanguages"
                [languagesExcludedInSelector]="[leftMirrorLanguage]">

                <!-- objective -->
                <ng-container *ngTemplateOutlet="objective;
                             context: {$implicit :{lang:rightMirrorLanguage}}">
                </ng-container>
                <!-- /objective -->

                <app-shared-questionnaire
                  [languageSelected]="rightMirrorLanguage.type"
                  (templateChange)="onChangeTemplate($event)"
                  (valueToSave)="changeStack($event)"
                  [accessPath]="accessPath"
                  [isLibraryView]="true"
                  [template]="missionTemplate">
                </app-shared-questionnaire>
              </app-shared-questionnaire-mirror-view>
            </div>
          </div>
          <!-- mirror: right side  -->
        </div>
        <!-- /template sections -->
      </div>
    </ng-template>
    <!-- /no fetching error -->

  </div>
</div>

<!-- objective template -->
<ng-template #objective let-context>
  <div class="input-group">
    <div class="m-bottom-25 form-group m-no-left m-right-10">
      <label class="form-label" >
        {{context['lang']['alias'] | titlecase}} Objective
      </label>
      <input
        (ngModelChange)="onChangeObjective($event, context['lang']['type'])"
        *ngIf="canAccess(['edit', 'objective'])"
        [ngModel]="getObjective(context['lang']['type'])"
        class="form-input is-sm"
        placeholder="Enter objective name*"
        type='text'>
      <p *ngIf="!canAccess(['edit', 'objective'])" class="text-sm">{{ getObjective(context['lang']['type']) }}</p>
    </div>
  </div>
</ng-template>
<!-- /objective template -->

<umius-modal
  *ngIf="canAccess(['section', 'edit']) || canAccess(['question', 'edit'])"
  [(showModal)]="showModal"
  [maxWidth]="'720px'">

  <section class="modal-body">

    <h2 class="title is-4 text-center text-bold m-bottom-30">Do you really want to update the use case:</h2>
    <h3 class="subtitle is-5 text-center">{{ templateName }}</h3>

    <p class="m-bottom-10">It will impact permanently:</p>

    <div class="mxw-250 m-left-auto m-right-auto">
      <div class="form-group">
        <label class="form-checkbox">
          <input
            (change)="validate.tool = !validate.tool"
            [ngModel]="validate.tool"
            type="checkbox">
          <i class="form-icon"></i> Market Test creation tool
        </label>
      </div>
      <div class="form-group">
        <label class="form-checkbox">
          <input
            (change)="validate.template = !validate.template"
            [ngModel]="validate.template"
            type="checkbox">
          <i class="form-icon"></i> Questionnaire template
        </label>
      </div>
    </div>

  </section>

  <footer class="modal-footer justify-center">

    <button
      (click)="closeModal()"
      [id]="'btn-cancel'"
      class="button modal-cancel"
      type="button">
      Cancel
    </button>

    <button
      (click)="onClickValidate($event)"
      [disabled]="!validate.tool || !validate.template"
      class="button "
      type="button">
      Validate
    </button>

  </footer>

</umius-modal>
