#sign-up {

  .cover-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }

  .sign-up-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .register-wrapper {
      flex: 1 0 auto;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      flex-direction: column;

      .main-heading {
        font-size: 2.15rem;
      }

      .social-wrapper {

        .btn {
          background: #1680B9;
          border-color: #1680B9;
          color: white;
          width: 17.5rem;
        }

        .btn:hover {
          background: lighten(#1680B9, 10%);
          border-color: lighten(#1680B9, 10%);
          color: white;
        }

      }

      .or-wrapper {
        padding-top: 1.57rem;
      }

      .sign-wrapper {
        padding-top: 1.57rem;

        .btn {
          width: 17.5rem;

          i {
            margin-top: 0;
          }

        }

      }

    }

  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  #sign-up {

    .cover-image {
      display: none;
    }

    .heading {
      padding-top: 1.57rem;
    }

  }

}
