@import "../../../../../../../style/framework/src/variables";

#admin-campaign-batch-component {

  .stat {

    .stat-container:first-child {
      background-color: $secondary-color;
    }

    .stat-container:nth-child(2) {
      background-color: #2fa4d4;
    }

    .stat-container:last-child {
      background-color: #5faece;
    }

    .stat-container {
      border-right: none;
    }

    .stat-heading, .stat-value {
      color: $light-color;
    }

    .stat-sub-heading {
      opacity: 0.7;
      color: $light-color;
    }

  }

  .toggle {
    padding: 0.75rem 0;

    .form-group {
      margin-bottom: 0;
    }

  }

  .nuggets {
    padding-top: 0;
  }

  .icon.icon-white {
    right: 0;
    bottom: 5px;
  }

  .section-error {
    display: flex;
    align-items: center;

    .left {
      margin-left: $unit-5;
    }

    .incomplete {
      background-color: $alert-color;
      border-color: $alert-color;

      .fa-check {
        visibility: hidden;
      }

    }

    .complete {
      background-color: $success-color;
      border-color: $success-color;

      .fa-check {
        visibility: visible;
        color: $light-color;
      }

    }

  }


  .notify-wrapper{
    margin-top: 0.5rem;
  }

  .section-status {

    .form-group {
      margin-bottom: 1.25rem;
      display: inline-flex;
      margin-right: 1.25rem;

      .form-switch {
        color: $meta-color;
      }

    }

  }

  .card {
    margin-bottom: 1.5rem;
    background: transparent;
    border: none;

    .card-header {

      .card-title {
        display: inline-flex;
        text-align: center;
        font-size: $font-size-md;
        color: $meta-color;
      }

      .form-switch {
        color: $meta-color;
      }

    }

    &:hover {
      box-shadow: none;
    }

  }

}
