@import "../../../../../../../style/variables";

#admin-campaign-batch-component {

}

/*.emailsStats {
  display: flex;
  justify-content: space-around;

  div {
    margin: 15px;
    text-align: center;

    .number {
      display: block;
      font-size: 30px;
    }
  }
}

.card {
  margin : 25px;

  .card-body {
    display: flex;
    justify-content: space-around;
  }
  .card-body-batch {
    justify-content: space-around;
  }
}

.centered-buttons {
  display: flex;
  justify-content: space-around;
}

.email-buttons {
  display: flex;
  flex-direction: column;

  .btn {
    margin: 15px;
  }
}*/
