<div class="container grid-2xl fluid" id="admin-campaign-batch">

  <!-- stats -->
  <app-admin-campaign-stats
    (updateStats)="onUpdateStats($event)"
    [config]="statsConfig()"
    [updateBtn]="true">
  </app-admin-campaign-stats>
  <!-- /stats -->

  <!-- content -->
  <div class="column col-sm-12 col-11 col-mx-auto">

    <!--<button (click)="createPro()" class="btn btn-primary">CreerDesPros Alea + Autobatch si actif</button>-->

    <!-- section no batches -->
    <section *ngIf="!batchesTable.length && !isLoading" class="p-top-30 p-bottom-30">

      <!-- note -->
      <div *ngIf="!autoBatchStatus" class="error-wrapper p-bottom-30">

        <div [ngClass]=" innovationStatus ? 'complete' : 'incomplete' " class="shape is-circle is-sm">
          <i class="fas fa-check"></i>
        </div>
        <span class="text-medium text-background text-md">Project Validation</span>

        <div [ngClass]=" quiz ? 'complete' : 'incomplete' " class="shape is-circle is-left is-sm">
          <i class="fas fa-check"></i>
        </div>
        <span class="text-medium text-background text-md">Quiz</span>

        <div [ngClass]=" templatesStatus ? 'complete' : 'incomplete' " class="shape is-circle is-left is-sm">
          <i class="fas fa-check"></i>
        </div>
        <span class="text-medium text-background text-md">Workflows</span>

      </div>
      <!-- /note -->

      <!-- bot -->
      <div *ngIf="canAccess(['autoBatch']) || canAccess(['create'])" class="p-top-20">
        <message-template [widthMax]="'473px'">

          <div class="toggle-wrapper p-bottom-15">
            <div class="form-group">
              <label class="form-switch" for="result-nuggets">
                <input
                  (change)="setNuggets()"
                  [ngModel]="campaign.nuggets"
                  id="result-nuggets"
                  type="checkbox">
                <i class="form-icon"></i>Nuggets
              </label>
            </div>
          </div>

          <div class="toggle-wrapper p-bottom-10">
            <div class="form-group relative">
              <label class="form-switch" for="auto-batch">
                <input
                  (change)="onSwitchAutoBatch($event)"
                  [disabled]="!canAccess(['autoBatch']) || !autoBatchStatus"
                  [ngModel]="campaign.autoBatch"
                  [value]="campaign.autoBatch"
                  id="auto-batch"
                  type="checkbox">
                <i class="form-icon"></i> Launch auto-batch and take a holiday :)
              </label>
              <div
                (click)="activateSidebar('NEW_BATCH')"
                *ngIf="canAccess(['create'])"
                [ngStyle]="{ 'visibility': autoBatchStatus ? 'visible' : 'hidden' }"
                class="icons is-white absolute tooltip"
                data-tooltip="Create batch manually">
                <i class="fas fa-cog"></i>
              </div>
            </div>
          </div>

        </message-template>
      </div>
      <!-- /bot -->

    </section>
    <!-- /section no batches -->

    <!-- section batches -->
    <div *ngIf="batchesTable.length && !isLoading" class="p-top-30 p-bottom-30">

      <!-- autobatch / new batch -->
      <section
        *ngIf="canAccess(['autoBatch']) || canAccess(['create'])"
        [ngClass]="{'text-right': !canAccess(['autoBatch']),
        'flex-between': canAccess(['autoBatch']) && canAccess(['create']) }"
        class="m-bottom-30 animate-fade is-7">

        <!-- autobatch -->
        <div *ngIf="canAccess(['autoBatch'])" class="form-group m-bottom-15 m-right-25">
          <label class="form-switch text-medium text-notify" for="result-auto-batch">
            <input
              (change)="onSwitchAutoBatch($event)"
              [ngModel]="campaign.autoBatch"
              id="result-auto-batch"
              type="checkbox">
            <i class="form-icon"></i> Auto-batch started
          </label>
        </div>
        <!-- /autobatch -->

        <!-- new batch -->
        <button
          (click)="activateSidebar('NEW_BATCH')"
          *ngIf="canAccess(['create'])"
          class="button is-primary is-sm m-bottom-15"
          id="btn-new-batch">
          New batch
        </button>
        <!-- /new batch -->

      </section>
      <!-- /autobatch / new batch -->

      <!-- batches -->
      <section
        *ngFor="let batch of stats['batches'];
        let batchIndex = index;"
        [ngStyle]="{ 'animation-duration': (batchIndex * 200) + 'ms' }"
        class="card animate-slide slide-down">

        <div class="card-header">

          <div class="card-title">
            <span class="m-right-2">Batch for {{ batch.size }} pros</span>
            <span *ngIf="batch.error" class="text-error m-right-2 m-top-1 text-xs text-normal">
              There has been an error while sending this batch!
            </span>
            <div
              (click)="onDeleteBatch($event, batch)"
              *ngIf="getDeleteStatus(batch) && canAccess(['delete'])"
              class="icon-container is-overlay">
              <span data-tooltip="Delete batch" class="tooltip">
                <img
                  src="https://res.cloudinary.com/umi/image/upload/app/default-images/pictos/picto-delete-danger.svg"
                  alt="">
              </span>
            </div>
          </div>

          <label
            *ngIf="canAccess(['pause'])"
            class="form-switch float-right text-medium p-no-top"
            [for]="batch['_id']">
            <input
              (change)="OnSwitchFreeze($event, batch)"
              [id]="batch['_id']"
              [ngModel]="batch.active"
              type="checkbox">
            <i class="form-icon"></i>Started
          </label>

        </div>

        <div class="card-body">
          <app-shared-table
            (editRow)="onClickEdit($event, batch)"
            [config]="localConfig"
            [data]="getBatch(batchIndex)">
          </app-shared-table>
        </div>

      </section>
      <!-- /batches -->

    </div>
    <!-- /section batches -->

  </div>
  <!-- /content -->

</div>


<!-- modal to delete batch -->
<app-utility-modal
  *ngIf="canAccess(['delete'])"
  [(showModal)]="modalDelete"
  [title]="'Delete Board'">
  <ng-container *ngIf="selectedBatchToBeDeleted._id">

    <section class="modal-body">
      Do you really want to delete this batch?
    </section>

    <footer class="modal-footer">

      <button class="button modal-cancel" id="btn-cancel">Cancel</button>

      <button
        (click)="onConfirmDelete($event)"
        [disabled]="!selectedBatchToBeDeleted._id || isDeletingBatch"
        class="button is-primary"
        id="btn-confirm">
        <ng-container *ngIf="isDeletingBatch; else textDef">
          deleting the batch...
        </ng-container>
        <ng-template #textDef>
          Confirm
        </ng-template>
      </button>

    </footer>

  </ng-container>
</app-utility-modal>
<!-- /modal to delete batch -->


<!-- sidebars to perform batch operations -->
<app-sidebar *ngIf="canAccess()" [(template)]="sidebarValue">
  <app-sidebar-batch
    (batchOutput)="onSidebarOutput($event)"
    [isEditable]="isEditable"
    [campaignWorkflows]="campaignWorkflows"
    [content]="content"
    [currentRow]="currentRow"
    [sidebarState]="sidebarValue.animate_state"
    [templateType]="sidebarValue.type"
    [workflow]="currentBatch?.workflow || (campaign.settings && campaign.settings.defaultWorkflow)">
  </app-sidebar-batch>
</app-sidebar>
<!-- /sidebars to perform batch operations  -->















<!-- commented 20feb

<div class="emailsStats">
    <div>
      <span class="number">{{ mailsToSend }}
        <span class="badge" data-badge="0"><i class="far fa-envelope"></i></span>
      </span>
      professionnels non contactés
    </div>
    <div>
      <span class="number">{{ firstMail }}
        <span class="badge" data-badge="1"><i class="far fa-envelope"></i></span>
      </span>
      premiers mails envoyés
    </div>
    <div>
      <span class="number">{{ secondMail }}
        <span class="badge" data-badge="2"><i class="far fa-envelope"></i></span>
      </span>
      mails de relance envoyés
    </div>
    <div>
      <span class="number">{{ lastMail }}
        <span class="badge" data-badge="3"><i class="far fa-envelope"></i></span>
      </span>
      derniers mails envoyés
    </div>
  </div>

<span *ngIf="!batch.nuggets && batch.status === 0">
  <a class="c-hand" role="button" (click)="nuggetsBatch = batch">
    <i class="fas fa-plus-circle"></i>
  </a>
</span>
<div class="text-success" *ngIf="batch.nuggets"><i class="fas fa-crow"></i></div>

-->
<!--
&lt;!&ndash; MODAL : ajout de nuggets &ndash;&gt;
<div class="modal" [ngClass]="{'active': nuggetsBatch}">
  <div class="modal-overlay" (click)="(nuggetsBatch = null) && $event.preventDefault()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(nuggetsBatch = null) && $event.preventDefault()"></button>
      <div class="modal-title h5">Ajout de pros 'nuggets'</div>
    </div>
    <div class="modal-body">
      <p *ngIf="nuggetsBatch">Êtes-vous sûr de vouloir ajouter {{this.Math.round(nuggetsBatch.size / 10)}} pros à 80% dans ce batch ?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="addNuggetsToBatch(nuggetsBatch._id)">Ajouter</button>
      <button class="btn btn-link" (click)="(nuggetsBatch = null) && $event.preventDefault()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </div>
</div>
-->
