@import "../../../../../../../style/framework/variables";

#admin-campaign-batch-component {

  .bot-group {
    margin-bottom: 0;
    padding-bottom: 0.9375rem;
  }

  .cog {
    position: absolute;
    right: 0;
    bottom: 5px;
  }

  .section-error {
    display: flex;
    align-items: center;

    .circle {
      margin-right: 0.5rem;
    }

    .left {
      margin-left: 1.2rem;
    }

    .incomplete {
      background-color: $alert;

      .fa-check {
        visibility: hidden;
      }

    }

    .complete {
      background-color: $success;

      .fa-check {
        visibility: visible;
      }

    }

  }


  .loading {
    margin-top: 0.6rem;
  }

  .loading::after {
    border-color: $primary;
    border-right-color: transparent;
    border-top-color: transparent;
  }

  .section-status {

    .form-group {
      margin-bottom: 1.25rem;
      display: inline-flex;
      margin-right: 1.25rem;
    }

  }

  .card {
    margin-bottom: 1.875rem;
    background: transparent;
    border: none;
    padding: 0;

    .card-header {
      padding-bottom: 0.9375rem;

      .card-title {
        color: $meta;
        display: inline-flex;
        text-align: center;
        padding-top: 0.125rem;

        .icons, .text-success {
          font-size: 16px;
        }

        .icons {
          margin-left: 0.75rem;
        }

        .text-success {
          margin-left: 0.5rem;
        }

      }

    }

    .card-body, .card-title, .card-header {
      padding-left: 0;
      padding-right: 0;
    }

  }

  .card:hover {
    box-shadow: none;
  }


}
