@import "~@umius/umi-style-framework/scss/variables";

#admin-campaign-batch {

  .card {
    background: transparent;
    border: none;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    .card-header {
      padding-bottom: 5px;

      .card-title {
        display: inline-flex;
        text-align: center;
        align-items: center;
        font-size: $font-size-md;
        color: $meta-color;
      }

      .form-switch {
        color: $meta-color;
      }

    }

    &:hover {
      box-shadow: none;
    }

  }

}
