<div id="admin-campaign-batch-component">

  <app-admin-campaign-stats></app-admin-campaign-stats>

  <div class="column col-xs-12 col-11 col-mx-auto">

    <!--<button (click)="createPro()" class="btn btn-primary">CreerDesPros Alea + Autobatch si actif</button>-->

    <!-- section no batches -->
    <div *ngIf="noResult" class="section-light-container remove-bottom">

      <!-- note -->
      <div *ngIf="!autoBatchStatus" class="section-light-container remove-top section-error text-notify">
        <div class="circle circle-sm" [ngClass]=" innovationStatus ? 'complete' : 'incomplete' "><i class="fas fa-check"></i></div>{{ 'CAMPAIGNS.BATCH_PAGE.INNOVATION' | translate }}
        <div class="circle circle-sm left" [ngClass]=" quiz ? 'complete' : 'incomplete' "><i class="fas fa-check"></i></div>{{ 'CAMPAIGNS.BATCH_PAGE.QUIZ' | translate }}
        <div class="circle circle-sm left" [ngClass]=" templatesStatus ? 'complete' : 'incomplete' "><i class="fas fa-check"></i></div>{{ 'CAMPAIGNS.BATCH_PAGE.WORKFLOW' | translate }}
      </div>

      <!-- bot -->
      <app-message-space [widthMax]="'473px'">

        <div class="toggle nuggets">
          {{ 'CAMPAIGNS.BATCH_PAGE.NUGGETS' | translate }}
          <div class="form-group">
            <label class="form-switch" for="result-nuggets">
              <input type="checkbox" id="result-nuggets" (change)="setNuggets()"  [ngModel]="campaign.nuggets">
              <i class="form-icon"></i>
            </label>
          </div>
        </div>

        <div class="toggle">
          {{ 'CAMPAIGNS.BATCH_PAGE.BOT' | translate  }}
          <div class="form-group">
            <label class="form-switch" for="auto-batch">
              <input
                type="checkbox"
                id="auto-batch"
                [disabled]="!autoBatchStatus"
                [value]="campaign.autoBatch"
                (change)="onFirstAutoBatch($event)"
                [ngModel]="campaign.autoBatch">
              <i class="form-icon"></i>
            </label>
          </div>
        </div>

        <div *ngIf="batchAlreadyActivated === 'false'"
          [ngStyle]="{ 'visibility': autoBatchStatus ? 'visible' : 'hidden' }"
          class="icons icons-meta cog tooltip"
          data-tooltip="Batch Manually"
          (click)="activateSidebar('newBatch')">
          <i class="fas fa-cog"></i>
        </div>

        <div *ngIf="batchAlreadyActivated === 'true'" class="notify-wrapper">
          <p>{{ 'CAMPAIGNS.BATCH_PAGE.CREATING_BATCH' | translate }}</p>
          <div class="loading loading-lg"></div>
        </div>

      </app-message-space>

    </div>

    <!-- section batches -->
    <div *ngIf="!noResult" class="section-light-container remove-bottom">

      <!-- section status -->
      <div class="section-status">

        <div class="form-group">
          <label class="form-switch" for="result-auto-batch">
            <input type="checkbox" id="result-auto-batch" (change)="onSwitchAutoBatch($event)" [ngModel]="campaign.autoBatch">
            <i class="form-icon"></i>{{ 'CAMPAIGNS.BATCH_PAGE.AUTO_BATCH_LABEL' | translate }}
          </label>
        </div>

      </div>

      <!-- batches -->
      <div *ngFor="let batch of stats.batches; let batchIndex = index" class="card">

        <div class="card-header">

          <div class="card-title">
            {{ 'CAMPAIGNS.BATCH_PAGE.TITLE' | translate }} {{ batch.size }} pros
            <div *ngIf="getDeleteStatus(batch)" class="icons icons-delete" (click)="onClickDelete(batch)"><i class="fas fa-trash-alt"></i></div>
          </div>

          <label class="form-switch float-right" for="freeze">
            <input type="checkbox" id="freeze" (change)="OnSwitchFreeze(batch, $event)" [ngModel]="batch.active">
            <i class="form-icon"></i>{{ 'COMMON.LABEL.STARTED' | translate }}
          </label>

        </div>

        <div class="card-body">
          <app-shared-table
            [data]="tableBatch(batchIndex)"
            [config]="config"
            (editRow)="OnClickEdit($event, batch)">
          </app-shared-table>
        </div>

      </div>

    </div>

  </div>

</div>


<!-- modal to delete batch -->
<app-modal [(showModal)]="modalDelete" [modalTitle]="'COMMON.MODAL.TITLE_DELETE'">
  {{ 'CAMPAIGNS.BATCH_PAGE.MODAL_DELETE_CONTENT' | translate }}
  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="onConfirmDelete()">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>
</app-modal>
<!-- /modal to delete batch -->


<!-- sidebars to perform batch operations -->
<app-sidebar [(template)]="sidebarValue">
  <app-batch-form
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type"
    (batchOutput)="onOutput($event)"
    [currentRow]="currentRow"
    [campaignWorkflows]="campaignWorkflows"
    [workflow]="currentBatch?.workflow || campaign.settings.defaultWorkflow"
    [content]="content">
  </app-batch-form>
</app-sidebar>
<!-- /sidebars to perform batch operations  -->















<!-- commented 20feb

<div class="emailsStats">
    <div>
      <span class="number">{{ mailsToSend }}
        <span class="badge" data-badge="0"><i class="far fa-envelope"></i></span>
      </span>
      professionnels non contactés
    </div>
    <div>
      <span class="number">{{ firstMail }}
        <span class="badge" data-badge="1"><i class="far fa-envelope"></i></span>
      </span>
      premiers mails envoyés
    </div>
    <div>
      <span class="number">{{ secondMail }}
        <span class="badge" data-badge="2"><i class="far fa-envelope"></i></span>
      </span>
      mails de relance envoyés
    </div>
    <div>
      <span class="number">{{ lastMail }}
        <span class="badge" data-badge="3"><i class="far fa-envelope"></i></span>
      </span>
      derniers mails envoyés
    </div>
  </div>

<span *ngIf="!batch.nuggets && batch.status === 0">
  <a class="c-hand" role="button" (click)="nuggetsBatch = batch">
    <i class="fas fa-plus-circle"></i>
  </a>
</span>
<div class="text-success" *ngIf="batch.nuggets"><i class="fas fa-crow"></i></div>

-->
<!--
&lt;!&ndash; MODAL : ajout de nuggets &ndash;&gt;
<div class="modal" [ngClass]="{'active': nuggetsBatch}">
  <div class="modal-overlay" (click)="(nuggetsBatch = null) && $event.preventDefault()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(nuggetsBatch = null) && $event.preventDefault()"></button>
      <div class="modal-title h5">Ajout de pros 'nuggets'</div>
    </div>
    <div class="modal-body">
      <p *ngIf="nuggetsBatch">Êtes-vous sûr de vouloir ajouter {{this.Math.round(nuggetsBatch.size / 10)}} pros à 80% dans ce batch ?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="addNuggetsToBatch(nuggetsBatch._id)">Ajouter</button>
      <button class="btn btn-link" (click)="(nuggetsBatch = null) && $event.preventDefault()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </div>
</div>
-->
