<div class="container fluid grid-2xl p-top-30" id="help-community-grow-tracking">

  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- subscription tracking -->
    <section>
      <!-- Month/Year selector -->
      <app-product-date-selector
        [(monthSelected)]="monthSelectedSub"
        [(yearSelected)]="yearSelectedSub">
      </app-product-date-selector>
      <!-- /Month/Year selector -->

      <!-- subscription tracking table -->
      <div>
        <app-shared-table
          [(config)]="queryConfig"
          [data]="helpCommunityTable">
        </app-shared-table>
      </div>
      <!-- /subscription tracking table  -->

    </section>
    <!-- /subscription tracking  -->


  </div>

</div>
