<section id="synthesis-complete">

  <!-- Message -->
  <div class="message-wrapper">
    <p>{{ 'SHARE.MESSAGE' | translate }}</p>
  </div>

  <ng-container *ngIf="displaySpinner">
    <div class="spinner-wrapper">
      <app-shared-loader></app-shared-loader>
    </div>
  </ng-container>

  <!-- Market report -->
  <ng-container *ngIf="!displaySpinner">
    <app-shared-market-report
      [project]="project"
      [adminMode]="false"
      [sharable]="true">
    </app-shared-market-report>
  </ng-container>

</section>
