@import '../../../../../../style/framework/src/variables';

#wordpress-innovations {

  .i-error-wrapper {
    min-height: 70vh;
  }

  .d-content-wrapper {
    min-height: 100vh;
  }

  .d-title-secondary {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    font-weight: $font-weight-normal;
    font-family: $font-family-oswald;

    > span {
      position: relative;

      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 60%;
        height: 2px;
        background-color: $primary-color;
      }

    }

    &.loading-content {
      width: 200px;
      height: 30px;

      > span {
        visibility: hidden;
      }

    }

  }

  .c-filter-wrapper.loading-content {
    width: 200px;
    height: 30px;

    > * {
      display: none;
    }

  }

  .c-filter-activate-wrapper {
    margin-bottom: 0.25rem;

    &:hover {
      opacity: 0.7;
    }

  }

}
