<app-shared-loader *ngIf="!project"></app-shared-loader>

<div *ngIf="project">
  <div class="project-header">
    <div class="container">
      <div class="columns">
        <div class="column col-10 col-mx-auto">
          <div class="columns">
            <div class="column col-7">
              <h1>{{ project.name }}</h1>
              <div class="metas">
                {{ project.owner.name }}
                / {{ project.owner.companyName }}
                • {{ 'COMMON.ADDED' | translate }} {{ project.created | date:dateFormat }}
                • {{ 'COMMON.UPDATED' | translate }} {{ project.updated | date:dateFormat }}
              </div>
            </div>
            <div class="column col-5 collaborators">
              <button class="btn btn-bordered" (click)="displayAddCollaboratorsModal = true">
                <i class="icon icon-plus"></i> {{ 'PROJECT_EDIT.ADD_COLLABORATORS' | translate }}
              </button>
              <div>
                <span *ngFor="let collaborator of project.collaborators"
                      class="chip tooltip tooltip-bottom"
                      [attr.data-tooltip]="collaborator.email">
                  {{ collaborator.name }}
                  <a (click)="removeCollaborator(collaborator)" class="btn btn-clear" aria-label="Close"
                     role="button"></a>
                </span>
              </div>
            </div>
          </div>
          <ul class="step">
            <li class="step-item" [ngClass]="{ 'active': project.status === 'EDITING' && !project.reviewing }">
              <a href="#" (click)="false">
                {{ 'COMMON.PROJECT_STATE.EDITING' | translate }}
              </a>
            </li>
            <li class="step-item" [ngClass]="{ 'active': project.status === 'SUBMITTED' }">
              <a href="#" (click)="false">
                {{ 'COMMON.PROJECT_STATE.SUBMITTED' | translate }}
              </a>
            </li>
            <li class="step-item" [ngClass]="{ 'active': project.status === 'EDITING' && !!project.reviewing }">
              <a href="#" (click)="false">
                {{ 'COMMON.PROJECT_STATE.REVIEWING' | translate }}
              </a>
            </li>
            <li class="step-item" [ngClass]="{ 'active': project.status === 'EVALUATING' }">
              <a href="#" (click)="false">
                {{ 'COMMON.PROJECT_STATE.EVALUATING' | translate }}
              </a>
            </li>
            <li class="step-item" [ngClass]="{ 'active': project.status === 'DONE' }">
              <a href="#" (click)="false">
                {{ 'COMMON.PROJECT_STATE.DONE' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="project-help">
    <div class="container">
      <div class="columns">
        <div class="column col-10 col-mx-auto">
          <h3 class="hide-lg">{{ 'PROJECT_EDIT.HOW' | translate }}</h3>
          <div class="flex-container">
            <ul class="steps hide-md">
              <li><a pageScroll href="#targeting"><span>1</span> {{ 'PROJECT_EDIT.STEP1' | translate }}</a> <i
                class="icon icon-arrow-right"></i></li>
              <li><a pageScroll href="#description"><span>2</span> {{ 'PROJECT_EDIT.STEP2' | translate }}</a> <i
                class="icon icon-arrow-right"></i></li>
              <li><a pageScroll href="#submit"><span>3</span> {{ 'PROJECT_EDIT.STEP3' | translate }}</a> <i
                class="icon icon-arrow-right"></i></li>
            </ul>
            <button *ngIf="canEdit || isAdmin" class="btn btn-primary input-group-btn btn-lg" (click)="save()">
              {{ 'COMMON.SAVE_DRAFT' | translate }}
            </button>
            <p *ngIf="lastSavedDate" class="last-saved"> {{ 'COMMON.LAST_SAVED_AT' | translate }} {{ lastSavedDate |
              date:'HH:mm:ss' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column col-10 col-mx-auto">
        <form novalidate [formGroup]="formData" class="form-horizontal">
          <h2 class="anchor" id="targeting">1. {{ 'PROJECT_EDIT.STEP1' | translate }}</h2>

          <div class="column col-8">
            <div class="form-group">
              <div class="col-4">
                <label class="form-label">{{ 'PROJECT_EDIT.PRESET.LABEL' | translate }}</label>
              </div>
              <div class="col-8">
                <label class="form-radio">
                  <input type="radio" value="apps" formControlName="type">
                  <i class="form-icon"></i> {{ 'PROJECT_EDIT.PRESET.TYPE1' | translate }}
                </label>
                <label class="form-radio">
                  <input type="radio" value="insights" formControlName="type" checked="checked">
                  <i class="form-icon"></i> {{ 'PROJECT_EDIT.PRESET.TYPE2' | translate }}
                </label>
                <label class="form-radio">
                  <input type="radio" value="leads" formControlName="type">
                  <i class="form-icon"></i> {{ 'PROJECT_EDIT.PRESET.TYPE3' | translate }}
                </label>
              </div>
            </div>
          </div>

          <div class="divider"></div>

          <h2 class="anchor" id="description">2. {{ 'PROJECT_EDIT.STEP2' | translate }}</h2>
          <div>
            <div class="columns">
              <div class="column col-8">
                <div class="columns">
                  <div class="column col-4">
                    <div class="language-choice">
                      <p>{{ 'PROJECT_EDIT.DESCRIPTION.LANGUAGE_CHOICE' | translate }} :</p>
                      <ul formArrayName="innovationCards">
                        <li *ngFor="let innovationCard of formData.get('innovationCards').value; let i = index"
                            [ngClass]="{'active': innovationCardEditingIndex === i }">
                          <div (click)="innovationCardEditingIndex = i">
                            {{ 'COMMON.LANG.'+innovationCard.lang | uppercase | translate }}
                          </div>
                          <span *ngIf="innovationCard.principal" class="c-auto">
                            {{ 'PROJECT_EDIT.DESCRIPTION.MAIN_LANG' | translate }}</span>
                          <span *ngIf="!innovationCard.principal" (click)="setAsPrincipal(innovationCard.id)">{{ 'PROJECT_EDIT.DESCRIPTION.SET_AS_MAIN_LANG' | translate }} <i
                            class="icon icon-arrow-right"></i></span>
                        </li>
                        <li *ngIf="project.innovationCards.length < 2" (click)="createInnovationCard()">
                          {{ 'COMMON.ADD' | translate }} <i class="icon icon-plus"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="column col-8">
                    <div formArrayName="innovationCards">
                      <div *ngFor="let item of formData.get('innovationCards').controls; let i = index"
                           [formGroup]="item">
                        <div *ngIf="innovationCardEditingIndex === i">
                          <div>
                            <label class="form-label" for="innovation-title">
                              {{ 'PROJECT_EDIT.DESCRIPTION.TITLE.LABEL' | translate }}</label>
                            <input class="form-input input-lg" type="text" id="innovation-title"
                                   [attr.placeholder]="'PROJECT_EDIT.DESCRIPTION.TITLE.PLACEHOLDER' | translate"
                                   formControlName="title">
                          </div>

                          <div>
                            <label class="form-label" for="innovation-summary">
                              {{ 'PROJECT_EDIT.DESCRIPTION.SUMMARY.LABEL' | translate }}</label>
                            <textarea class="form-input" id="innovation-summary"
                                      [attr.placeholder]="'PROJECT_EDIT.DESCRIPTION.SUMMARY.PLACEHOLDER' | translate"
                                      rows="6" formControlName="summary"></textarea>
                          </div>

                          <div>
                            <label class="form-label" for="innovation-problem">
                              {{ 'PROJECT_EDIT.DESCRIPTION.PROBLEM.LABEL' | translate }}</label>
                            <textarea class="form-input" id="innovation-problem"
                                      [attr.placeholder]="'PROJECT_EDIT.DESCRIPTION.PROBLEM.PLACEHOLDER' | translate"
                                      rows="20" formControlName="problem"></textarea>
                          </div>

                          <div>
                            <label class="form-label" for="innovation-solution">
                              {{ 'PROJECT_EDIT.DESCRIPTION.SOLUTION.LABEL' | translate }}</label>
                            <textarea class="form-input" id="innovation-solution"
                                      [attr.placeholder]="'PROJECT_EDIT.DESCRIPTION.SOLUTION.PLACEHOLDER' | translate"
                                      rows="20"
                                      formControlName="solution"></textarea>
                          </div>

                          <div>
                            <label class="form-label">
                              {{ 'PROJECT_EDIT.DESCRIPTION.ADVANTAGES.LABEL' | translate }}</label>
                            <div class="input-group">
                              <app-input-list (update)="addAdvantageToInventionCard($event, i)"
                                              [config]="getConfig('advantages')"></app-input-list>
                            </div>
                          </div>

                          <div>
                            <label class="form-label">{{ 'PROJECT_EDIT.MEDIA.ADD' | translate }}</label>
                            <div class="medias"
                                 *ngIf="project.innovationCards[innovationCardEditingIndex].media?.length > 0">
                              <div class="media"
                                   *ngFor="let media of project.innovationCards[innovationCardEditingIndex].media; let idx = index">
                                <iframe width="200" height="100"
                                        [src]="domSanitizer.bypassSecurityTrustResourceUrl(media.video.embeddableUrl)"
                                        *ngIf="media.type==='VIDEO'">
                                </iframe>

                                <img
                                  [src]="'https://res.cloudinary.com/umi/image/upload/c_scale,w_100/' + media.cloudinary.public_id"
                                  *ngIf="media.type==='PHOTO'"
                                  alt="" width="100" height="100">
                                <div *ngIf="canEdit">
                                  <a class="delete c-hand" aria-label="Close" role="button"
                                     (click)="deleteMedia(media)">
                                    <img [src]="'https://res.cloudinary.com/umi/image/upload/app/delete.svg'" width="22"
                                         height="22">
                                  </a>
                                  <a class="primary c-hand" aria-label="Close" role="button"
                                     (click)="setMediaAsPrimary(media)">
                                    <img
                                      [src]="'https://res.cloudinary.com/umi/image/upload/app/'+ (project.innovationCards[innovationCardEditingIndex].principalMediaIdx === idx ? '' : 'empty-') + 'star.svg'"
                                      width="24" height="22">
                                  </a>
                                </div>
                              </div>
                            </div>

                            <app-shared-upload-zone-photo
                              *ngIf="canEdit"
                              (cbFn)="imageUploaded($event)">
                            </app-shared-upload-zone-photo>


                            <app-shared-upload-zone-video
                              (cbFn)="newOnlineVideoToAdd($event)">
                              *ngIf="canEdit">
                            </app-shared-upload-zone-video>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column col-12">
                    <div class="divider"></div>
                  </div>
                  <div class="column col-4"></div>
                  <div class="column col-8">
                    <div>
                      <label class="form-label">{{ 'PROJECT_EDIT.WHAT_STAGE' | translate }}</label>
                      <label class="form-radio">
                        <input type="radio" name="projectStatus" formControlName="projectStatus" [value]="0">
                        <i class="form-icon"></i> {{ 'COMMON.PROJECT_STATUS.0' | translate }}

                      </label>
                      <label class="form-radio">
                        <input type="radio" name="projectStatus" formControlName="projectStatus" [value]="1">
                        <i class="form-icon"></i> {{ 'COMMON.PROJECT_STATUS.1' | translate }}
                      </label>
                      <label class="form-radio">
                        <input type="radio" name="projectStatus" formControlName="projectStatus" [value]="2">
                        <i class="form-icon"></i> {{ 'COMMON.PROJECT_STATUS.2' | translate }}
                      </label>
                    </div>

                    <div>
                      <label class="form-label">{{ 'PROJECT_EDIT.IS_PATENTED' | translate }}</label>
                      <label class="form-radio">
                        <input type="radio" name="patented" formControlName="patented" [value]="false">
                        <i class="form-icon"></i> {{ 'COMMON.NO' | translate }}
                      </label>
                      <label class="form-radio">
                        <input type="radio" name="patented" formControlName="patented" [value]="true">
                        <i class="form-icon"></i> {{ 'COMMON.YES' | translate }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column col-1"></div>
            </div>
            <div  *ngIf="canEdit">
              <h2 class="anchor" id="submit">3. {{ 'PROJECT_EDIT.STEP3' | translate }}</h2>
              <div>
                <form novalidate [formGroup]="formData" class="form-horizontal">
                  <div>
                    <label class="form-checkbox c-hand">
                      <input type="checkbox" name="external_diffusion" formControlName="external_diffusion">
                      <i class="form-icon"></i> {{ 'PROJECT_EDIT.EXTERNAL_DIFFUSION' | translate }}
                    </label>
                  </div>
                </form>

                <div class="project-submit">
                  <h3 class="text-center">{{ 'PROJECT_EDIT.SUBMIT.TITLE' | translate }}</h3>
                  <button class="btn btn-xxl btn-primary centered" (click)="submitProjectToValidation()">
                    {{ 'PROJECT_EDIT.SUBMIT.BUTTON' | translate }}
                  </button>

                  <p class="text-center">
                    {{ 'PROJECT_EDIT.SUBMIT.DESCRIPTION.LINE1' | translate }}<br>
                    {{ 'PROJECT_EDIT.SUBMIT.DESCRIPTION.LINE2' | translate }}
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div *ngIf="isAdmin">
                <div class="project-submit">
                  <div *ngIf="project.status === 'SUBMITTED'">
                    <h3 class="text-center">Validation du projet</h3>
                    <button class="btn btn-xxl btn-primary centered" (click)="validateProject()">
                      Valider
                    </button>
                  </div>
                  <div *ngIf="project.status !== 'EDITING'">
                    <button class="btn btn-xxl btn-error centered" (click)="askRevision()">
                      Demander une révision
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- MODAL : Add collaborators FORM (STEP 1) -->
<div class="modal" [ngClass]="{'active': displayAddCollaboratorsModal}">
  <div class="modal-overlay" (click)="displayAddCollaboratorsModal = false"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="displayAddCollaboratorsModal = false"></button>
      <div class="modal-title h5">{{ 'PROJECT_EDIT.ADD_COLLABORATORS_MODAL.TITLE' | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content">{{ 'PROJECT_EDIT.ADD_COLLABORATORS_MODAL.CONTENT' | translate }}</div>
      <input type="text" [(ngModel)]="collaborators_emails" placeholder="alan.turing@gmail.com, joan.clarke@gmail.com">
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" (click)="displayAddCollaboratorsModal = false">{{ 'COMMON.CANCEL' | translate }}
      </button>
      <button class="btn btn-primary" [disabled]="collaborators_emails === ''" (click)="addCollaborators()">{{
        'COMMON.ADD' | translate }}
      </button>
    </div>
  </div>
</div>


<!-- MODAL : Add collaborators (STEP 2) -->
<div class="modal" [ngClass]="{'active': displayCollaboratorsAddingProcess}">
  <div class="modal-overlay" (click)="displayCollaboratorsAddingProcess = false"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="displayCollaboratorsAddingProcess = false"></button>
      <div class="modal-title h5">{{ 'PROJECT_EDIT.INVITE_COLLABORATORS_MODAL.TITLE' | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content">
        <p *ngIf="collaboratorsAddingProcess.usersAdded.length">
          {{ collaboratorsAddingProcess.usersAdded.length }} collaborateur(s) a/ont été ajouté(s).
        </p>

        <p *ngIf="collaboratorsAddingProcess.invitationsToSend.length">
          {{ collaboratorsAddingProcess.invitationsToSend.length }} adresse(s) e-mail(s) ne correspond(ent)
          à aucun compte dans notre application. Pour les/l'ajouter comme collabora-teur-trice-s à ce projet,
          vous devez leur/lui envoyer une invitation en cliquant sur le bouton "{{ 'COMMON.INVITE' | translate }}"
          ci-dessous :
          <br>
          <a class="btn btn-primary"
             [href]="'mailto:' + collaboratorsAddingProcess.invitationsToSend.join(',') + '?body=' + collaboratorsAddingProcess.inviteUrl">
            {{ 'COMMON.INVITE' | translate }}
          </a>
        </p>

        <p *ngIf="collaboratorsAddingProcess.invitationsToSendAgain.length">
          {{ collaboratorsAddingProcess.invitationsToSendAgain.length }} adresse(s) e-mail(s) ne correspond(ent)
          à aucun compte dans notre application et ont peut-être déjà reçu une invitation de vôtre part.
          Pour les/l'ajouter comme collabora-teur-trice-s à ce projet,
          vous devez leur/lui envoyer une invitation en cliquant sur le bouton "{{ 'COMMON.REINVITE' | translate }}"
          ci-dessous :
          <br>
          <a class="btn btn-primary"
             [href]="'mailto:' + collaboratorsAddingProcess.invitationsToSendAgain.join(',') + '?body=' + collaboratorsAddingProcess.inviteUrl">
            {{ 'COMMON.REINVITE' | translate }}
          </a>
        </p>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" (click)="displayCollaboratorsAddingProcess = false">
        {{ 'COMMON.I_FINISHED' | translate }}
      </button>
    </div>

    <div class="modal-footer">
    </div>
  </div>
</div>
