@import "../../../../../../style/framework/src/variables";

#admin-edit-workflow {

  .header-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 16px;
    color: $meta-color;

    .shape.is-circle {
      width: 16px;
      height: 16px;
    }

    .incomplete {
      background-color: $bg-alert-color;
      border-color: $border-alert-color;

      .fa-check {
        visibility: hidden;
      }

    }

    .complete {
      background-color: $bg-success-color;
      border-color: $border-success-color;

      .fa-check {
        color: $text-white-color;
        visibility: visible;
      }

    }

    .text-link {
      color: $text-meta-color;
      font-size: 15px;

      &.active {
        color: $text-primary-color;
        text-decoration: none;
        cursor: default;
      }

    }

    .text-link:hover {
      color: $text-primary-color;
      text-decoration: none;
    }

  }

}
