<div id="admin-edit-workflow-component">

  <!-- section header -->
  <div class="section-header">
    {{ campaignScenario.name }}
    &nbsp;-
    <div [ngClass]="inCampaign && isModifiedEn ? 'complete' : 'incomplete'" class="circle"><i class="fas fa-check"></i></div>
    <span [ngClass]="{ 'active': language === 'en' }" class="text-link" (click)="changeLanguage('en')">{{ 'COMMON.LANG.EN' | translate }}</span>
    &nbsp;&nbsp;|
    <div [ngClass]="inCampaign && isModifiedFr ? 'complete' : 'incomplete'" class="circle"><i class="fas fa-check"></i></div>
    <span [ngClass]="{ 'active': language === 'fr' }" class="text-link" (click)="changeLanguage('fr')">{{ 'COMMON.LANG.FR' | translate }}</span>
    <div (click)="onClickDelete()" class="icons icons-delete"><i class="fas fa-trash-alt"></i></div>
  </div>

  <!-- section table -->
  <app-shared-table [data]="tableInfos" (editRow)="editEmail($event)" [config]="config"></app-shared-table>

</div>


<!-- modal to delete the scenario -->
<app-modal [(showModal)]="modalDelete" [modalTitle]="'COMMON.MODAL.TITLE_DELETE'">
  {{ 'EDIT_WORKFLOW.MODAL.CONTENT' | translate }}

  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="deleteScenario()">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>

</app-modal>
<!-- /modal to delete the scenario -->


<!-- sidebar to edit workflow -->
<app-sidebar [(template)]="more">
  <app-workflow
    [emailsObject]="emailToEdit"
    [inputLanguage]="language"
    (emailChange)="updateEmail($event)">
  </app-workflow>
</app-sidebar>
<!-- /sidebar to edit workflow -->
