<div id="admin-edit-workflow">

  <!-- header -->
  <div class="header-wrapper">

    <div>{{ campaignScenario.name }} - </div>

    <div *ngIf="inCampaign && defaultScenario === campaignScenario.name" class="m-left-10">
      By default
    </div>

    <div
      (click)="setDefaultScenario()"
      *ngIf="inCampaign && defaultScenario != campaignScenario.name && isEditable"
      class="m-left-10">
      Use by default
    </div>

    <div
      [ngClass]="inCampaign && isModifiedEn ? 'complete' : 'incomplete'"
      class="shape is-circle m-left-2">
      <i class="fas fa-check"></i>
    </div>

    <div
      (click)="changeLanguage('en')"
      [ngClass]="{ 'active': language === 'en' }"
      class="text-link">
      English

    </div>

    &nbsp;&nbsp;|

    <div
      [ngClass]="inCampaign && isModifiedFr ? 'complete' : 'incomplete'"
      class="shape is-circle m-left-2">
      <i class="fas fa-check"></i>
    </div>

    <div
      (click)="changeLanguage('fr')"
      [ngClass]="{ 'active': language === 'fr' }"
      class="text-link">
      French
    </div>

    <div
      (click)="onClickDelete()"
      *ngIf="isDeletable"
      class="icon-container is-overlay m-left-2">
      <span data-tooltip="Delete workflow" class="tooltip">
        <img
          src="https://res.cloudinary.com/umi/image/upload/app/default-images/pictos/picto-delete-danger.svg"
          alt="">
      </span>
    </div>

  </div>
  <!-- /header -->

  <!-- table -->
  <app-shared-table
    (editRow)="editEmail($event)"
    [(config)]="localConfig"
    [data]="tableInfos">
  </app-shared-table>
  <!-- /table -->

</div>


<!-- modal to delete the scenario -->
<app-utility-modal *ngIf="isDeletable" [(showModal)]="modalDelete" [title]="'Delete Board'">

  <section class="modal-body">
    Do you really want to delete this workflow? This action is irreversible.
  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel">Cancel</button>
    <button
      (click)="deleteScenario()"
      class="button is-primary"
      type="button">
      Confirm
    </button>
  </footer>

</app-utility-modal>
<!-- /modal to delete the scenario -->


<!-- sidebar to edit / view workflow -->
<app-sidebar [(template)]="sidebar">
  <app-sidebar-workflow
    (emailChange)="updateEmail($event)"
    [emailsObject]="emailToEdit"
    [id]="getId()"
    [inputLanguage]="language"
    [isEditable]="isEditable">
  </app-sidebar-workflow>
</app-sidebar>
<!-- /sidebar to edit / view workflow -->
