<div id="admin-edit-workflow">

  <!-- header -->
  <div class="d-flex align-center flex-wrap-wrap text-md m-bottom-20">

    <div>{{ campaignScenario.name }} -</div>

    <div *ngIf="inCampaign && defaultScenario === campaignScenario.name" class="m-left-10 m-right-2">
      By default
    </div>

    <div
      (click)="setDefaultScenario()"
      *ngIf="inCampaign && defaultScenario !== campaignScenario.name && isEditable"
      class="m-left-10 m-right-2">
      Use by default
    </div>


    <div class="d-flex flex-wrap-wrap justify-start">
      <ng-container *ngFor="let language of innovationCardLanguages; let i = index">
        <div
          [ngClass]="inCampaign && isModified(language) ? 'bg-success' : 'bg-alert'"
          class="shape is-circled is-sm text-white m-left-2">
          <i [ngClass]="inCampaign && isModified(language) ? 'fa-check' : 'fa-times'" class="fas"></i>
        </div>

        <div
          (click)="changeLanguage(language)"
          class="m-left-1 text-medium c-hand text-hover-underline"
          [ngClass]="{'text-underline': language === languageSelected}">
          {{('COMMON.LANG.' + language.toUpperCase()) | translate}}
        </div>
        <span class="m-left-2" *ngIf="i!==innovationCardLanguages.length-1">|</span>
      </ng-container>
    </div>

    <div
      (click)="onClickDelete()"
      *ngIf="isDeletable"
      class="icon-container is-overlay m-left-2">
      <span data-tooltip="Delete workflow" class="tooltip">
        <img
          src="https://res.cloudinary.com/umi/image/upload/app/default-images/pictos/picto-delete-danger.svg"
          alt="Delete picto">
      </span>
    </div>

  </div>
  <!-- /header -->

  <!-- table -->
  <umius-table
    (editRow)="editEmail($event)"
    [(config)]="localConfig"
    [data]="tableInfos">
  </umius-table>
  <!-- /table -->

</div>

<!-- modal to delete the scenario -->
<umius-modal *ngIf="isDeletable" [(showModal)]="modalDelete" title="Delete Board">

  <section class="modal-body">
    Do you really want to delete this workflow? This action is irreversible.
  </section>

  <footer class="modal-footer">
    <button (click)="closeModal()" class="button modal-cancel">Cancel</button>
    <button
      (click)="deleteScenario()"
      class="button is-primary"
      type="button">
      Confirm
    </button>
  </footer>

</umius-modal>
<!-- /modal to delete the scenario -->


<!-- sidebar to edit / view workflow -->
<umius-sidebar-full [(template)]="sidebar">
  <app-sidebar-workflow
    (emailChange)="updateEmail($event)"
    [isEditable]="isEditable && sidebar.animate_state === 'active'"
    [emailObject]="emailToEdit"
    [id]="getId()"
    [inputLanguage]="languageSelected"
    [innovationCardLanguages]="innovationCardLanguages">
  </app-sidebar-workflow>
</umius-sidebar-full>
<!-- /sidebar to edit / view workflow -->
