@import "../../../../../../style/framework/variables";

#admin-edit-workflow-component {

  .section-header {
    color: $meta;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .text-delete, .circle {
      margin-left: 0.6rem;
    }

    .circle {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }

    .incomplete {
      background-color: $alert;

      .fa-check {
        visibility: hidden;
      }

    }

    .complete {
      background-color: $success;

      .fa-check {
        visibility: visible;
      }

    }

    .text-link {
      color: $meta;

      &.active {
        color: $primary;
        text-decoration: none;
        cursor: default;
      }

    }

    .text-link:hover {
      color: $primary;
    }

  }

}
