@import "../../../../../../style/framework/src/variables";

#admin-edit-workflow-component {

  .section-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $unit-5;
    color: $meta-color;

    .icons-delete, .circle {
      margin-left: $unit-2;
    }

    .incomplete {
      background-color: $alert-color;
      border-color: $alert-color;

      .fa-check {
        visibility: hidden;
      }

    }

    .complete {
      background-color: $success-color;
      border-color: $success-color;

      .fa-check {
        color: $light-color;
        visibility: visible;
      }

    }

    .text-link {
      color: $meta-color;

      &.active {
        color: $primary-color;
        text-decoration: none;
        cursor: default;
      }

    }

    .text-link:hover {
      color: $primary-color;
      text-decoration: none;
    }

  }

}
