/* ==========================================================================
   Market Report module
   ========================================================================== */
body.campaign-edit-infographic-new,
body.sample-infographic {

  background: #EDF1F5;

  .panel {
    background-color: #EDF1F5 !important;
  }
}

.admin-buttons {
  display: flex;
  justify-content: center;

  button {
    margin: 10px;
  }
}

.sidebarIsSticky {
  position: sticky;
  width: 216px;
  top: 0px;

  li {
    margin: 0
  }

  .content {
    padding-left: 216px;
  }
}

.market-report {

  .professional-item.top-profil {
    position: relative;
    p {
      color: white !important;
    }

    a {
      color: #7cffe5 !important;
    }
  }

  .flex-container {
    display: flex;
  }

  .content {
    margin-top: -550px;
  }

  small, .small {
    font-size: 70%;
  }

  ul li {
    list-style: none;
    .flex-container {
      display: flex;
      justify-content: space-between;
    }
  }

  h1 {
    font-size: 36px;
    color: #4C4C4C;
    line-height: 53px;
    text-align: center;
  }

  h1::after {
    display: none;
  }

  h2 {
    color: #AAB2BD;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: left;
    font: 36px 'Open Sans', sans-serif;
  }

  .subtitle {
    font-size: 21px;
    color: #AAB2BD;
    font-weight: bold;
    text-align: center;
  }

  /* === Sidebar === */

  .sidebar {
    padding: 30px 0 30px 0;
    min-width: 216px;
    margin-top: 15px;

    .title-sidebar {
      font-size: 20px;
      color: #4A4A4A;
      margin-top: 10px;
    }

    .toggle-sections {
      font-size: 20px;
      color: #4A4A4A;
      cursor: pointer;
      margin-left: 10px;
      margin-bottom: 20px;
    }

    ul li a {
      position: relative;
      font-size: 14px;
      color: #6E6E6E;
      padding-left: 10px;
      padding-top: 6px;
      padding-bottom: 6px;
      display: block;
      transition: all linear 0.2s;
      font-weight: 600;

      &:hover,
      &.active {
        color: white;
        background: #3498DB;
        text-decoration: none;
      }

      i {
        position: absolute;
        right: 10px;
        font-size: 22px;
        color: #CDCDCD;
      }

      &:hover i,
      &.active i {
        color: white;
      }
    }

  }

  /* === Responsive pour mobile === */
  @media screen and (max-width: 900px) {
    .content {
      margin-top: 0;
    }

    .sidebar {
      display: none;
    }

    .flex-container {
      flex-direction: column;
    }

    #market-potential .column-graph.flex-container {
      flex-direction: inherit;
    }

    .vertical-bar .bar-fill {
      width: 23px;
    }

    .vertical-bar .bar-picture {
      left: 7px;
    }

    .vertical-bar .bar-stats {
      left: 7px;
    }

    .vertical-bar {
      width: 35px;
      margin: 0 14px;
    }

    .market-report-btn {
      padding: 0 20px;
    }

    .column:first-child {
      margin-right: 0 !important;
    }

    ul.items > li .flex-container,
    ul.comments > li .flex-container {
      align-items: center !important;
    }

    .item-new,
    .comment-new {
      margin-right: 0 !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #key-benefits .horizontal-bar {
      height: 100px;
    }

    #key-benefits .horizontal-bar .bar-fill {
      height: 98px;
    }

    #key-benefits .horizontal-bar .bar-stats {
      position: relative;
      top: inherit;
      bottom: 32px;
      right: 0;
    }

    .white-frame {
      text-align: center;
      padding: 50px 30px 30px 30px;
    }

    .big-blue-synthesis {
      margin-right: 0;
    }

    h2 {
      text-align: center;
      margin-left: 0;
    }

  }

}

@media print {

  @page {
    size: A4 portrait;
  }

  h1 {
    font: 56px 'Open Sans Condensed', sans-serif !important;
  }

  .market-report .sidebar,
  .innovation-card-tools,
  .steps-innovation,
  .see-answer,
  .market-report-btn,
  .item-menu-sandwich,
  .market-report ul.comments > li .comment-name img,
  .users-menu br {
    display: none !important;
  }

  body.invention-infographic.sidebarIsSticky .content,
  body.sample-infographic.sidebarIsSticky .content {
    padding-left: 0;
  }

  .market-report #professional .professional-item {
    margin-right: 0;
    margin-bottom: 0;
    max-width: 240px;
    text-align: left;
  }

  .market-report .white-frame {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 70px;
  }

  .market-report .umi-synthesis .desc {
    text-align: left;
  }

  .market-report .bloc.details {
    margin-top: 60px;
  }

  .white-frame > .flex-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .market-report h2 {
    page-break-before: always;
    text-align: center;
  }

  .market-report .umi-synthesis .title {
    margin-top: 40px;
    font-size: 24px;
  }

  .market-report .big-blue-synthesis {
    margin: 0 auto;
  }

  .market-report .vertical-bar .bar-stats {
    bottom: 14px;
    color: white !important;
  }

  .market-report ul.items > li {
    list-style: disc;
    padding: 0;
    margin-left: 30px;

    .flex-container {
      display: block;
    }
  }

  .market-report ul.items > li .item-name {
    margin-left: 0;
  }

  .market-report ul.comments > li .flex-container {
    display: block;
  }

  a[href]:after {
    content: "";
  }

  .market-report .bloc {
    margin-bottom: 90px;
  }

  .users-menu {
    display: block;
    position: inherit;
    padding: 20px 10px;
    width: inherit;
    max-width: inherit;
    background: #f7f7f7 !important;
    //border-bottom: 1px solid #E0E0E0;

    ul li {
      border-bottom: 0;
    }
  }

  .horizontal-bar {

    &.number1 .bar-number {
      background: #C0210F !important;
      -webkit-print-color-adjust: exact;
    }

    &.number2 .bar-number {
      background: #FEBE34 !important;
      -webkit-print-color-adjust: exact;
    }

    &.number3 .bar-number {
      background: #82CD30 !important;
      -webkit-print-color-adjust: exact;
    }

    &.number4 .bar-number {
      background: #34AC01 !important;
      -webkit-print-color-adjust: exact;
    }

    .bar-number {
      background: grey !important;
      -webkit-print-color-adjust: exact;
    }

    .bar-fill {
      background-image: linear-gradient(-90deg, #edeeef 16%, #d7dee0 100%) !important;
      -webkit-print-color-adjust: exact;
    }

  }

  .vertical-bar {
    background: #F5F5F5 !important;
    -webkit-print-color-adjust: exact;

    .bar-fill {
      background-image: linear-gradient(-90deg, #edeeef 16%, #d7dee0 100%) !important;
      -webkit-print-color-adjust: exact;
    }

    &.number1 .bar-fill {
      background-image: linear-gradient(-180deg, #CE392D 0%, #B0261B 100%) !important;
      -webkit-print-color-adjust: exact;
    }

    &.number2 .bar-fill {
      background-image: linear-gradient(-180deg, #D75A3E 0%, #C14023 100%) !important;
      -webkit-print-color-adjust: exact;
    }

    &.number3 .bar-fill {
      background-image: linear-gradient(-180deg, #E68034 0%, #CA681E 100%) !important;
      -webkit-print-color-adjust: exact;
    }

    &.number4 .bar-fill {
      background-image: linear-gradient(-180deg, #F4B11B 0%, #C18601 100%) !important;
      -webkit-print-color-adjust: exact;
    }

    &.number5 .bar-fill {
      background-image: linear-gradient(-180deg, #EFD622 0%, #CBB515 100%) !important;
      -webkit-print-color-adjust: exact;
    }

    &.number6 .bar-fill {
      background-image: linear-gradient(-180deg, #D6D556 0%, #B9B837 98%) !important;
      -webkit-print-color-adjust: exact;
    }

    &.number7 .bar-fill {
      background-image: linear-gradient(-180deg, #CBDD51 0%, #99AA24 100%) !important;
      -webkit-print-color-adjust: exact;
    }

    &.number8 .bar-fill {
      background-image: linear-gradient(-180deg, #A8CD4C 0%, #799C24 100%) !important;
      -webkit-print-color-adjust: exact;
    }

    &.number9 .bar-fill {
      background-image: linear-gradient(-180deg, #95C84F 0%, #659C19 100%) !important;
      -webkit-print-color-adjust: exact;
    }

    &.number10 .bar-fill {
      background-image: linear-gradient(-180deg, #9ADA43 2%, #64971C 100%) !important;
      -webkit-print-color-adjust: exact;
    }

  }
}

.cssHack {
  height: 480px;
}

/* === Professionals list === */

#professionals {

  hr {
    margin: 3px 0 20px 0;
    border-top: 1px solid #e9e9e9;
  }

  .flex-container.wrap {
    flex-flow: row wrap;
  }

  .professional-item {
    background: white;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
    padding: 25px 20px 20px 20px;
    width: 100%;
    max-width: 280px;
    margin-bottom: 20px;

    .user-flag {
      margin-right: 10px;
      margin-bottom: 7px;
      float: left;
    }

    .user-name {
      position: relative;
      top: -3px;
      font-weight: bold;
      font-size: 14px;
      color: #4A4A4A;
      line-height: 21px;
      margin-bottom: 2px;
    }

    .user-job,
    .user-company {
      margin: 0;
      opacity: 0.8;
      font-weight: 600;
      font-size: 13px;
      color: #4A4A4A;
      line-height: 21px;
      clear: both;
    }

    a, .see-answer {
      cursor: pointer;
      color: #3498DB;
      margin-right: 15px;
      font-size: 13px;
    }
  }
}

.prosList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.professional-item.top-profil,
ul.items > li.top-profil,
ul.comments > li.top-profil {
  background: #16A085 !important;
}

.professional-item.top-profil {
  position: relative;
  p {
    color: white !important;
  }

  a, .see-answer {
    cursor: pointer;
    color: #7cffe5 !important;
  }
}

.users-menu ul li.top-profil {
  position: relative;
}

.professional-item.top-profil:before,
.users-menu ul li.top-profil:before {
  content: "Top Profil";
  display: inline-block;
  padding: 0 15px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.8;
  color: white;
  text-align: center;
  background-color: #FEBE34;
  position: absolute;
  right: 0;
  top: 0;
}

.white-frame {
  background: white;
  padding: 50px 50px 30px 50px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 70px;
}
