// Import variables
$primary-color: #3498DB !default;
$secondary-color: #2ECC71 !default;
$dark-color: #333 !default;

.answerList {
  margin: 0;

  li {
    list-style: none;
    display: flex;
    margin-bottom: 23px;
  }

  li span {
    background: $secondary-color;
    border-radius: 2px 0 0 2px;
    padding: 15px 25px;
    color: white;
    width: 100%;
  }

  a.delete {
    display: flex;
    background: #11A751;
    border-radius: 0 2px 2px 0;
    padding: 12px 17px;
    border: none;
  }

  i {
    display: flex;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.6);
    background: #11A751;
    border-radius: 0 2px 2px 0;
    padding: 13px 17px;
    border: none;
  }

  i.active, i:hover {
    color: white;
  }

  a.updown {
    background: $secondary-color;
    padding: 15px 0;
    color: white;
    width: 100%;
  }

  a.delete:hover {
    background: #D02A2A;
  }

  .popover-container {
    background: white;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
  }
}
