// Import variables
$primary-color: #3498DB !default;
$secondary-color: #2ECC71 !default;
$dark-color: #333 !default;


.primary-button {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;

  i {
    vertical-align: bottom;
  }

}

.form-input-default.ng-touched.ng-invalid{
  border-color: unset !important;
}

.answerList {
  margin: 0;

  li {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
  }

  li span {
    background: #2ECC71;
    border-radius: 5px 0 0 5px;
    padding: 15px 25px;
    color: white;
  }

  a.delete {
    display: flex;
    background: darken(#2ECC71, 15%);
    border-radius: 0 5px 5px 0;
    padding: 12px 17px;
    border: none;
  }

  i {
    display: flex;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6);
    background: #11A751;
    border-radius: 0 2px 2px 0;
    padding: 13px 17px;
    border: none;
  }

  i.active, i:hover {
    color: white;
  }

  a.updown {
    background: $secondary-color;
    padding: 15px 0;
    color: white;
    width: 100%;
  }

  a.delete:hover {
    background: #EA5858;
  }

  .popover-container {
    background: white;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
  }

}
