// Import variables
$primary-color: #3498DB !default;
$secondary-color: #2ECC71 !default;
$dark-color: #333 !default;

.btn {
  margin-left: 20px;
  border-radius: 50%;
  height: 48px;
  width: 53px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
  box-shadow: 0 1px 10px rgba(0,0,0,.1), 0 2px 40px rgba(0,0,0,.2);

  i {
    margin-right: 0;
    font-size: 0.75rem;
  }

}

.form-default.ng-touched.ng-invalid{
  border-color: #E0E0E0;
}

.answerList {
  margin: 0;
  list-style: none;

  li {
    display: flex;
    margin: 10px 0;
  }

  li span {
    background: #2ECC71;
    border-radius: 5px 0 0 5px;
    padding: 15px 25px;
    color: white;
    font-size: 0.7rem;
    width: 606px;
    word-break: break-word;
  }

  a.delete {
    display: flex;
    background: #EA5858;
    border-radius: 0 5px 5px 0;
    padding: 12px 17px;
    border: none;
  }

  i {
    display: flex;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6);
    background: #11A751;
    border-radius: 0 2px 2px 0;
    padding: 13px 17px;
    border: none;
  }

  i.active, i:hover {
    color: white;
  }

  a.updown {
    background: $secondary-color;
    padding: 15px 0;
    color: white;
    width: 100%;
  }

  a.delete:hover {
    background: lighten(#EA5858, 10%);
  }

  .popover-container {
    background: white;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
  }

}

