<form #f="ngForm" novalidate (ngSubmit)="f.form.valid && addProposition(answer); (answer = undefined)">

  <div class="input-group" [ngStyle]="{ 'display': 'flex' }">
    <input
      type="text"
      class="form-default"
      name="answers"
      [(ngModel)]="answer"
      required
      [attr.placeholder]="placeholder | translate">
    <button
      class="btn-round btn-primary"
      translate>
      <i class="icon icon-plus"></i>
    </button>
  </div>

  <ul *ngFor="let a of answerList; index as i" class="answerList">
    <li *ngIf="!adminMode">
      <span>{{a.text}}</span>
      <a
        class="delete"
        aria-label="Close"
        role="button"
        (click)="rmProposition(i)">
        <img src="https://res.cloudinary.com/umi/image/upload/app/delete.svg" width="" height="">
      </a>
    </li>
    <li *ngIf="adminMode">
      <span>{{a.text}}</span>
      <div class="popover">
        <i class="fas fa-pencil-alt"></i>
        <div class="popover-container">
          <div class="input-group">
            <input type="text" class="form-default" [(ngModel)]="a.text" name="text"/>
            <button class="btn" type="submit" (click)="updateItem($event)">GO</button>
          </div>
        </div>
      </div>
      <i class="fas fa-thumbs-up" [ngClass]="{'active': a.rating === 2}" (click)="thumbsUp($event, i)"></i>
      <i class="fas fa-thumbs-down" [ngClass]="{'active': a.rating === 0}" (click)="thumbsDown($event, i)"></i>
      <a [routerLink]="" class="delete" aria-label="Close" role="button" (click)="rmProposition(i)">
        <img src="https://res.cloudinary.com/umi/image/upload/app/delete.svg" width="" height="">
      </a>
    </li>
  </ul>
</form>
