<form #f="ngForm" novalidate
      (ngSubmit)="f.form.valid && addProposition(answer); (answer = undefined)" >
  <div class="input-group">
    <input type="text" class="form-input input-lg" name="answers" [(ngModel)]="answer" required
           [attr.placeholder]="placeholder | translate" />
    <button class="btn btn-primary btn-lg input-group-btn" translate>
      COMMON.ADD
      <i class="icon icon-arrow-right"></i>
    </button>
  </div>

  <ul *ngFor="let a of answerList; index as i" class="answerList">
    <li>
      <span>{{a}}</span>
      <a [routerLink]="" class="delete" aria-label="Close" role="button" (click)="rmProposition(i)">
        <img src="assets/images/delete.svg" width="" height="">
      </a>
    </li>
  </ul>
</form>
