@import "../../../../../../style/framework/src/variables";

#admin-batches-display {

  .batches-wrapper {

    .batch-wrapper {
      display: flex;
      padding-top: 10px;
      flex-wrap: wrap;
      justify-content: space-between;

      .batch {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;

        p {
          font-weight: $font-weight-medium;
          color: $text-background-color;
          font-size: 16px;
          margin-bottom: 10px;
        }

        .batch-body {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
        }

      }

    }

  }

}
