<section class="main-container" id="welcome-page">
  <div class="section-container">
    <div class="column col-xs-12 col-11 col-mx-auto">
      <h1 class="main-heading">{{ 'WELCOME.WELCOME' | translate }} {{ name }}!</h1>
      <p>{{ 'WELCOME.MAIN_SENTENCE' | translate }}</p>

      <div *ngIf="isMainDomain()" class="content-wrapper">
        <img src="https://res.cloudinary.com/umi/image/upload/q_61/v1512724331/writing_dmzmwg.gif" class="img-responsive"/>

        <p *ngIf="isAdmin" class="admin-text-wrapper">
          {{ 'WELCOME.ADMIN_SENTENCE' | translate }}
          <br>
          <input class="form-default" type="text" [(ngModel)]="tokenEmail">
        </p>

        <p class="happy-text-wrapper"><strong>Happy UMIing!</strong></p>

        <p class="terms-wrapper">
          {{ 'WELCOME.I_UNDERSTAND' | translate }}
          <strong>
            <span *ngIf="isMainDomain()" class="text-link">
              <a target="_blank" [href]="'https://www.umi.us' + (translate.currentLang==='fr' ? '/fr/conditions-generales-utilisation/'
                 : '/end-user-license-agreement/')">
                {{ 'WELCOME.TERMS' | translate }}
              </a>
            </span>
            <span *ngIf="!isMainDomain()" class="text-link"> {{ 'WELCOME.TERMS' | translate }}</span>
          </strong>
        </p>

        <button class="btn btn-primary" (click)="acceptTerms($event)" [disabled]="isAdmin && !tokenEmail">
          {{ 'COMMON.ACCEPT' | translate }}
        </button>

      </div>

    </div>
  </div>
</section>
