@import "~@umius/umi-style-framework/scss/variables";

/* CONTAINER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart__likert_scale {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
  margin-bottom: 1px;
  margin-top: 20px;

  .chart__name{
    display: inline-block;
    font-size: 20px;
    font-weight: $font-weight-medium;
    width:184px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
  }


  /* ICONS
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .fas.icon-container {
    margin: 0 0 1em 9.5em;
    position: relative;

    .fa-user {

      &.user__one {
        font-size: 50px;
        z-index: $z-index-1;
        color: #2E6188;
        margin: -16px 23px 0px 2px;;
      }

      &.user__two {
        position: absolute;
        font-size: 47px;
        margin: -0.2em 0em 0em -0.5em;
        z-index: $z-index-1;
      }

      &.user__three {
        position: absolute;
        font-size: 37px;
        margin: -2.3px -42px 7px -0.5px;
        z-index: $z-index-0;
      }

    }

  }


  /* PROGRESS BAR
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .progress__bar *, .progress__bar::before {
    box-sizing: border-box;
  }

  .progress__bar {
    position: relative;
    width: 300px;
    height: 150px;
    overflow: hidden;
    mask: radial-gradient(at 50% 100%, #2E6188 67%, transparent 95%);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
    -webkit-mask-mode: alpha;
  }

  .progress__bar .fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 30px solid;
    border-top: none;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    transform-origin: 50% 0;
  }

  .progress__bar .red {
    z-index: 1;
    border-color: rgba(234, 88, 88, 0.5);
    transform: rotate(81deg);
  }

  .progress__bar .orange {
    z-index: 1;
    border-color: rgba(248, 148, 36, 0.5);
    transform: rotate(105.75deg);
  }

  .progress__bar .grey {
    z-index: 1;
    border-color: rgba(187, 199, 214, 0.5);
    transform: rotate(130.5deg);
  }

  .progress__bar .green {
    border-color: rgba(46, 204, 113, 0.5);
    transform: rotate(155.25deg);
  }

  .progress__bar .grass {
    z-index: 1;
    border-color: rgba(153, 224, 75, 0.5);
    transform: rotate(180deg);
  }


  .progress__bar .totally--invalidated {
    z-index: 5;
    border-color: rgba(234, 88, 88, 1);
    transform: rotate(81deg); // 45% => 81deg
    //border: 0.5px solid red;
  }

  .progress__bar .invalided {
    z-index: 4;
    border-color: rgba(248, 148, 36,1);
    transform: rotate(105.75deg); // 58.75% => 105.75deg  58.75/100 * 180 = 105.75deg
    //border:0.5px solid red;
  }

  .progress__bar .uncertain {
    z-index: 3;
    border-color: rgba(187, 199, 214, 1);
    transform: rotate(130.5deg); // 72.5% => 130.5deg
  }

  .progress__bar .validated {
    z-index: 2;
    border-color: rgba(46, 204, 113, 1);
    transform: rotate(155.25deg); //86.25% => 155.25deg
  }

  .progress__bar .totally--validated {
    z-index: 1;
    border-color: rgba(153, 224, 75, 1);
    transform: rotate(180deg); //100% => 180deg
  }

  .bar__threshold {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 2em;
  }

  .bar__threshold .two {
    margin-left: 124px;
  }



  /* COMPASS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .compass {
    position:relative;

    .needle__circle {
      position:absolute;
      top: -1.2em;
      left: 8.9em;
      width:30px;
      height : 30px;
      background-color:white;
      border-radius:50%;
      z-index: $z-index-0;
    }

    .compass__needle {
      position:absolute;
      top: 0;
      left: -0.7em;
      transform: translateX(0px) rotate(0deg) translateY(0px);
      border-left: 150px solid transparent;
      border-bottom: 15px solid white;
      border-right: 15px solid white;
      transform-origin: top right;
      margin: auto;
      z-index: $z-index-0;
    }
  }

  /* SCORE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .average__evaluation {
    font-weight: $font-weight-medium;
    font-size: $font-size-sm;

    .average__text {
      position: absolute;
      left: 43%;
      top: 90%;
      width: fit-content;
    }

  }

}



