<div [id]="'question-' + questionBelong.toLowerCase() + '-' + questionIndex" class="shared-questionnaire-question">

  <!-- header -->
  <div [ngClass]="{'is-edit-mode': editMode}" class="header-wrapper flex-between">

    <!-- move / select / type / label-->
    <div class="d-flex align-center">

      <div *ngIf="isEditable" data-tooltip="Move" class="move-arrows tooltip">
        <i (click)="up($event)" class="icon icon-arrow-up"></i>
        <i (click)="down($event)" class="icon icon-arrow-down"></i>
      </div>

      <ng-container *ngIf="!editMode || isTaggedQuestion">
        <label class="m-right-20">
          <select class="form-select is-sm" disabled>
            <option>{{ 'PRESETS.QUESTION.TYPE.' + question.controlType | translate }}</option>
          </select>
        </label>
        <span *ngIf="!editMode || !isEditable" class="m-right-20">{{ questionEntry().label }}</span>
      </ng-container>

      <ng-container *ngIf="isEditable && editMode && !isTaggedQuestion">
        <label class="m-right-20">
          <select
            (ngModelChange)="onChangeQuestionType($event)"
            [(ngModel)]="question.controlType"
            class="form-select is-sm">
            <option value="radio">{{ 'SHARED_QUESTIONNAIRE.TYPE.radio' | translate }}</option>
            <option value="checkbox">{{ 'SHARED_QUESTIONNAIRE.TYPE.checkbox' | translate }}</option>
            <option value="textarea">{{ 'SHARED_QUESTIONNAIRE.TYPE.textarea' | translate }}</option>
            <option value="scale">{{ 'SHARED_QUESTIONNAIRE.TYPE.scale' | translate }}</option>
            <option value="stars">{{ 'SHARED_QUESTIONNAIRE.TYPE.stars' | translate }}</option>
            <option value="ranking">{{ 'SHARED_QUESTIONNAIRE.TYPE.ranking' | translate }}</option>
          </select>
        </label>
      </ng-container>

      <!--<ng-container *ngIf="editMode && isEditable">
        <label class="m-right-20">
          <select
            (ngModelChange)="changeIdentifier($event)"
            [(ngModel)]="question.identifier"
            class="form-select is-sm">
            <option *ngIf="isTaggedQuestion" [value]="question.identifier">#{{question.identifier}}</option>
            <option *ngFor="let question of getNonUsedQuestions()" [value]="question">#{{question}}</option>
            <option [value]="customId">{{ 'COMMON.LABEL.CUSTOM' | translate }}</option>
          </select>
        </label>
      </ng-container>-->

      <ng-container *ngIf="isTaggedQuestion && (!editMode || !isEditable)">
        <div class="label is-rounded is-tag is-sm m-no m-right-20">
          #{{question.identifier}}
        </div>
      </ng-container>

    </div>
    <!-- /move / select / type / label-->

    <!-- buttons -->
    <div class="buttons-wrapper">

      <!-- delete -->
      <div
        (click)="removeQuestion($event)"
        *ngIf="editMode && isEditable"
        [id]="'sharedQuestionnaireQuestion-btn-delete-question'"
        class="icon-container is-overlay m-right-15">
        <span data-tooltip="Delete" class="tooltip">
          <i class="icon icon-delete text-white"></i>
        </span>
      </div>
      <!-- /delete -->

      <!-- clone -->
      <div
        (click)="cloneQuestion($event)"
        *ngIf="editMode && isEditable"
        [id]="'sharedQuestionnaireQuestion-btn-clone-question'"
        class="icon-container is-overlay m-right-15">
        <span data-tooltip="Clone" class="tooltip">
          <i class="icon icon-copy text-white"></i>
        </span>
      </div>
      <!-- /clone -->

      <!-- edit -->
      <div
        (click)="editMode = !editMode"
        [id]="'sharedQuestionnaireQuestion-btn-edit-section'"
        class="icon-container is-overlay">
        <span [attr.data-tooltip]="isEditable ? editMode ? 'Stop editing' : 'Edit' : 'View'" class="tooltip">
          <img [src]="picto.edit.white" alt=" " class="img-responsive">
        </span>
      </div>
      <!-- /edit -->

    </div>
    <!-- /buttons -->

  </div>
  <!-- /header -->

  <!-- question edition -->
  <div *ngIf="editMode" class="question-body">

    <!-- toolbar -->
    <div class="question-toolbar m-bottom-10">
      <div class="d-flex align-center">

        <!-- add comment -->
        <label *ngIf="question.controlType !== 'textarea'" class="form-switch text-sm m-right-50">
          <input
            (ngModelChange)="updateValue($event, 'COMMENT')"
            [ngModel]="question.canComment"
            [disabled]="!isEditable"
            type="checkbox">
          <i class="form-icon"></i> Allow to add comment
        </label>
        <!-- /add comment -->

        <!-- is sensitive data -->
        <span
          *ngIf="question.controlType === 'textarea'"
          [attr.data-tooltip]="'For anonymous shared link. To \n hide answers that may contain \n phone numbers, mails...'"
          class="tooltip is-multiline">
          <label class="form-switch text-sm m-right-50">
          <input
            (ngModelChange)="updateValue($event, 'SENSITIVE_DATA')"
            [ngModel]="question.sensitiveAnswerData"
            [disabled]="!isEditable"
            type="checkbox">
            <i class="form-icon"></i> Visibility of sensitive answer
          </label>
        </span>
        <!-- /is sensitive data -->

        <!-- max options select -->
        <ng-container *ngIf="question.controlType === 'checkbox'">
          <div class="d-flex align-center">
            <label class="form-label m-no-bottom m-right-2 text-normal" [for]="'question-maxOption'">
              Maximum options to select:
            </label>
            <p *ngIf="!isEditable" class="text-sm">{{ question.maxOptionsSelect || 'NA' }}</p>
            <input
              (ngModelChange)="onChangeMaxOptions($event)"
              *ngIf="isEditable"
              [(ngModel)]="question.maxOptionsSelect"
              [attr.placeholder]="question.options.length"
              [id]="'question-maxOption'"
              [max]="question.options.length"
              [ngStyle]="{'max-width': '40px'}"
              class="form-input is-sm text-center"
              min="1"
              type="number">
          </div>
        </ng-container>
        <!-- /max options select -->

      </div>
    </div>
    <!-- /toolbar -->

    <!-- question content -->
    <div class="d-flex">
      <div
        *ngFor="let lang of questionnaireLangs; let i = index;"
        [ngClass]="{'has-border': questionnaireLangs.length > 1 && i > 0,
        'has-more-content': questionnaireLangs.length > 1}"
        class="question-content">

        <!-- language -->
        <div [ngClass]="questionnaireLangs.length === 1 ? 'text-center' : 'text-left'" class="m-bottom-20">
          <div class="label m-no lang-label relative">
            {{ 'COMMON.LANG.' + lang | uppercase | translate }}
          </div>
        </div>
        <!-- /language -->

        <!-- label -->
        <div class="m-bottom-15">
          <label class="form-label">Question</label>
          <p *ngIf="!isEditable" class="text-sm">{{ questionEntry(lang).label || 'NA' }}</p>
          <textarea
            #textAreaElement
            (change)="onChangeQuestionEntry(textAreaElement.value, lang, 'label')"
            *ngIf="isEditable"
            [ngModel]="questionEntry(lang).label || 'NA'"
            [id]="'question-label-'+lang"
            [ngStyle]="{'minHeight': textAreaElement.scrollHeight + 'px'}"
            class="form-input auto-expand"
            type="text">
          </textarea>
        </div>
        <!-- /label -->

        <!-- instruction -->
        <div class="m-bottom-15">
          <label class="form-label">{{ lang === 'fr' ? 'Consigne' : 'Instruction' }}</label>
          <p *ngIf="!isEditable" class="text-sm">{{ questionEntry(lang).instruction || 'NA' }}</p>
          <textarea
            #textAreaElement
            (change)="onChangeQuestionEntry(textAreaElement.value, lang, 'instruction')"
            *ngIf="isEditable"
            [id]="'question-instruction-'+lang"
            [ngModel]="questionEntry(lang).instruction || ''"
            [ngStyle]="{'minHeight': textAreaElement.scrollHeight + 'px'}"
            class="form-input"
            type="text">
          </textarea>
        </div>
        <!-- /instruction -->

        <!-- question types -->
        <ng-container *ngIf="question.controlType === 'radio' || question.controlType === 'checkbox'
          || question.controlType === 'stars'">

          <!-- options -->
          <div [ngClass]="{'has-single-option': questionnaireLangs.length === 1}" class="options-wrapper">
            <div
              *ngFor="let option of question.options; let optionIndex = index;"
              [ngClass]="{'is-editable': isEditable}"
              class="card">

              <ng-container *ngIf="!isEditable">{{ optionEntry(option, lang).label || 'NA' }}</ng-container>

              <!-- move option -->
              <div *ngIf="isEditable" class="flex-centered m-top-10 m-bottom-10">
                <div
                  [ngClass]="{'is-horizontal': questionnaireLangs.length === 1}"
                  data-tooltip="Move"
                  class="move-arrows m-no-right tooltip is-bottom">
                  <i
                    (click)="moveQuestionOption($event, optionIndex, -1)"
                    [ngClass]="{'disabled': optionIndex == 0, 'icon-arrow-up': questionnaireLangs.length > 1,
                    'icon-arrow-left': questionnaireLangs.length === 1}"
                    class="icon">
                  </i>
                  <i
                    (click)="moveQuestionOption($event, optionIndex, 1)"
                    [ngClass]="{'disabled': (optionIndex + 1) == question.options.length,
                    'icon-arrow-down': questionnaireLangs.length > 1, 'icon-arrow-right':
                    questionnaireLangs.length === 1}"
                    class="icon">
                  </i>
                </div>
              </div>
              <!-- /move option -->

              <!-- input -->
              <textarea
                #textAreaElement
                (change)="onChangeQuestionOptionEntry(textAreaElement.value, lang, optionIndex)"
                *ngIf="isEditable"
                [ngModel]="optionEntry(option, lang).label || 'NA'"
                [id]="'option-label-'+lang"
                [ngStyle]="{'minHeight': textAreaElement.scrollHeight + 'px'}"
                class="form-input"
                type="text">
              </textarea>
              <!-- /input -->

              <!-- delete icon -->
              <div class="text-center m-top-10">
                <div
                  (click)="deleteOption($event, optionIndex)"
                  *ngIf="isEditable"
                  [id]="'sharedQuestionnaireQuestion-btn-delete-option-' + optionIndex"
                  class="icon-container is-overlay">
                  <span data-tooltip="Delete option" class="tooltip">
                    <i class="icon icon-delete text-alert"></i>
                  </span>
                </div>
              </div>
              <!-- /delete icon -->

            </div>
          </div>
          <!-- /options -->

        </ng-container>
        <!-- /question types -->

      </div>
    </div>
    <!-- /question content -->

    <!-- add item -->
    <ng-container *ngIf="isEditable && (question.controlType === 'radio' || question.controlType === 'checkbox'
     || question.controlType === 'stars')">
      <div [ngClass]="questionnaireLangs.length === 1 ? 'm-top-15' : 'm-top-30'" class="text-center  m-bottom-15">
        <button
          (click)="addNewOption($event)"
          [id]="'sharedQuestionnaireQuestion-btn-add-item'"
          class="button is-outlined is-info text-bold is-xs"
          type="button">
          <span class="icon-container is-overlay is-sm active m-right-10">
            <i class="icon icon-plus text-xs"></i>
          </span>
          Add item
        </button>
      </div>
    </ng-container>
    <!-- /add item -->

  </div>
  <!-- /question edition -->

</div>
