<div class="heading">
  <h2>{{this.innovation.preset.name}}</h2>
</div>
<div class="body">
  <div *ngFor="let section of sections; let i=index">
    <app-admin-project-questionnaire-section
      [section]="section"
      (sectionUpdated)="sectionUpdated($event)"
      (sectionRemoved)="sectionRemoved($event)"
    >
    </app-admin-project-questionnaire-section>
  </div>
  <button class="btn-round btn-primary" (click)="addSection()"><span> </span><i class="icon icon-plus"  > ADD SECTION </i></button>
</div>
