<div class="container">
  <div class="columns">
    <div class="column col-11 col-mx-auto" *ngIf="!innovation.preset?.name">
      <div class="bot-wrapper text-center">
        <span class="bot-rect">Importez d'abord un questionnaire dans l'onglet Settings avant de pouvoir le modifier.</span>
        <br>
        <img src="https://res.cloudinary.com/umi/image/upload/app/default-images/bot-triangle.svg" class="bot-trian">
        <div><img src="http://res.cloudinary.com/umi/image/upload/app/default-images/error-bot.svg" width="" height="120"></div>
      </div>
    </div>
    <div class="column col-11 col-mx-auto" *ngIf="innovation.preset?.name">
      <div class="text-right">

        <button class="btn btn-primary"
                [disabled]="presetState === 'SAVED'"
                (click)="saveInno($event)">
          Save
        </button>
      </div>
      {{ innovation.preset.name }}
      <div *ngFor="let section of innovation.preset?.sections; let i=index">
        <app-admin-project-questionnaire-section
          [section]="section"
          (move)="moveSection($event, i)"
          (updateSection)="updateSection($event, i)">
        </app-admin-project-questionnaire-section>
      </div>

      <div class="add-section" (click)="addSection()">
        <button class="btn-round btn-primary"><i class="icon icon-plus"></i></button>
        <div>Add section</div>
      </div>

    </div>
  </div>
</div>
