@import '../../../../../../style/framework/src/variables';

#innovations-component {
  max-width: $size-2x;
  margin-left: auto;
  margin-right: auto;

  .title-secondary {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    font-family: $font-family-oswald;
  }

}
