@import '../../../../../../style/framework/src/variables';

#innovations {

  .i-error-wrapper {
    min-height: 70vh;
  }

  .d-content-wrapper {
    min-height: 100vh;
  }

  .d-title-secondary {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    font-weight: $font-weight-normal;
    font-family: $font-family-oswald;

    > span {
      position: relative;

      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 60%;
        height: 2px;
        background-color: $primary-color;
      }

    }

    &.loading-content {
      width: 200px;
      height: 30px;

      > span {
        visibility: hidden;
      }

    }

  }

  .c-filter-wrapper.loading-content {
    width: 200px;
    height: 30px;

    > * {
      display: none;
    }

  }

  .c-filter-activate-wrapper {
    margin-bottom: 0.25rem;

    &:hover {
      opacity: 0.7;
    }

  }

  .c-no-result-wrapper {
    flex-direction: column;

    span {
      font-size: 0.75rem;
    }

  }

  .d-community-banner-wrapper {
    background-image: $primary-gradient-color;

    .flex-between {
      min-height: 140px;

      .d-community-msg-wrapper {

        .fa-paper-plane {
          color: $white-color;
          font-size: 100px;
        }

        span {
          color: $white-color;
          font-family: $font-family-oswald;
          font-size: 1.4rem;
        }

      }

      .btn-primary {
        box-shadow: $box-shadow;

        &:hover {
          transform: scale(1.1);
        }

      }

    }

  }


}

@media (max-width: $size-md) {

  .d-community-banner-wrapper {

    .flex-between {
      flex-wrap: wrap;
      justify-content: center;
    }

  }

}
