@import '../../../../../../style/framework/src/variables';

#innovations-component {

  .section-tags, .section-suggested-tags {
    display: flex;
    flex-direction: column;

    .text.text-notify {
      font-weight: $font-weight-medium;
      margin-bottom: 0.75rem;
      font-size: $font-size-sm;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }

    .tags-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: -$unit-2;

      .label.label-draft {
        border-radius: 25px;
        font-size: 0.55rem;

        label {
          cursor: pointer;
        }

        label input[type="checkbox" i] {
          display: none;
        }

        &:hover, &.active {
          cursor: pointer;
          background-color: $primary-color;
        }

      }

    }

    .more-tag-wrapper {
      display: flex;
      margin-top: 0.75rem;
      align-items: center;
      justify-content: space-between;

      .fa-angle-up {
        vertical-align: middle;
        font-size: $font-icon-xl;
      }

    }

  }

  .section-suggested-tags .text.text-notify, .section-share {
    padding-top: 2rem;
  }

  .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.2rem;

    .title-primary, .search-wrapper {
      margin-bottom: 1.5rem;
      animation-name: fadeIn;
      animation-duration: .5s;
      animation-timing-function: ease-in-out;
    }

    .title-primary {
      flex: 2;
      font-size: 1.1rem;
    }

    .search-wrapper {
      flex: 1;
      max-width: 400px;
    }

  }

  .section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -$unit-5;

    .card {
      padding: $unit-2;
      margin-right: $unit-5;
      margin-bottom: 1.5rem;
      border-color: transparent;

      .card-header {

        h6 {
          margin-bottom: 0;
        }

        .tags-wrapper {
          display: inline-flex;
          padding-right: -$unit-2;

          .text {
            padding-top: $unit-1;
            padding-right: $unit-2;
            font-size: 0.65rem;
            font-weight: $font-weight-medium;
          }

          .fa-tag {
            font-size: 0.5rem;
            margin-right: $unit-h;
          }

        }

      }

      .card-body {

        .text {
          font-size: $font-size-sm;
          margin-bottom: 0;
          color: $text-secondary-color;
        }

      }

      .card-footer {

        .text-notify {
          font-size: 0.65rem;
          font-weight: $font-weight-medium;
        }

      }

    }

  }

  .section-user-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -1rem;
    margin-left: -.3rem;

    .card-wrapper {
      display: inline-flex;
      background-color: white;
      flex: 0 1 calc(25% - 1rem);
      transition: all .35s ease-in-out;
      margin-right: 1rem;
      margin-bottom: 4.375rem;
      border-radius: 3px;
      padding: 10px;

      .card-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .card-img {
          margin: 0 auto;
          height: 200px;
          text-align: center;

          img {
            height: 200px;
            width: 100%;
            border-radius: 3px;
          }

        }

        .card-body {
          margin: .9375rem 0 0 0;
          flex: 1;

          .card-title {
            height: 5.9375rem;
            overflow: hidden;

            .main-heading {
              margin-bottom: 0;
              font-size: 1.0625rem;
              font-weight: 500;
              overflow: hidden;
            }

            .tags-wrapper {
              display: flex;
              overflow: hidden;
              flex-wrap: wrap;
              margin-top: .06rem;
              max-height: 2.375rem;

              .tag-content {
                display: inline-flex;
                font-size: .8125rem;
                color: $meta-color;
                font-weight: 600;
                margin-right: .35rem;
              }

            }


          }

          .summary-text {
            padding-bottom: 0;
            font-size: .8125rem;
            margin-top: .9375rem;
            color: $text-primary-color;
          }

        }

        .card-footer {
          margin: 1.57rem 0 0 0;
          font-size: .8125rem;
          color: $meta-color;
          font-weight: 600;
          display: flex;
          flex-wrap: wrap;

          .text-link {
            margin-left: .35rem;
          }

        }

        .card-footer div:last-child {

          .pipe {
            visibility: hidden;
          }

        }

      }

    }

    .card-wrapper:hover {
      box-shadow: $box-shadow-hover;
    }

  }

}


.discover-container {
  max-width: 650px !important;
}

.discover-modal-heading {
  font-weight: $font-weight-medium;
  margin-bottom: 1.25rem;
}

.discover-modal-link {
  font-size: $font-size-sm;
}


@media (max-width: $size-xs) {

  #innovations-component {

    .section-heading {
      flex-direction: column;
      align-items: unset !important;
      justify-content: left !important;
    }

    .section-cards {
      margin-right: 0 !important;

      .card {
        margin-left: auto;
        margin-right: auto !important;
      }

    }

  }

}


@media (min-width: $size-md) and (max-width: $size-lg) {

  #innovations-component {

    .section-heading {

      .title-primary {
        flex: 1 !important;
      }

    }

  }

}

@media (max-width: $size-2x) {

  .section-heading {

    .search-wrapper {
      max-width: 100% !important;
    }

  }

  .section-cards {
    justify-content: flex-start !important;
  }

}

