<section id="innovations-component" class="section-pad">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- tags section -->
    <ng-container *ngIf="allTags.length > 0">
      <div class="section-tags">

        <!-- heading -->
        <ng-container *ngIf="appliedFilters.length === 0">
          <h6 class="text text-notify">{{ 'DISCOVER.TAGS.HEADING' | translate }}</h6>
        </ng-container>
        <ng-container *ngIf="appliedFilters.length > 0">
          <h6 class="text text-notify">{{ appliedFilters.length }} {{ 'DISCOVER.TAGS.HEADING_2' | translate }}</h6>
        </ng-container>

        <!-- tags -->
        <div class="tags-wrapper" @tagAnimation>
          <ng-container *ngFor="let tag of allTags | slice:0:moreTagsIndex;">
            <div [ngClass]="{ 'active': getCheckedFilter(tag._id) }" class="label label-draft">
              <label>
                <input
                  type="checkbox"
                  [id]="tag._id"
                  [name]="tag.label | multiling:browserLang()"
                  [value]="tag.label | multiling:browserLang()"
                  (change)="toggleFilter($event, tag)"
                  [checked]="getCheckedFilter(tag._id)">
                {{ tag?.label | multiling:browserLang() | FormatText }}
              </label>
            </div>
          </ng-container>
        </div>

        <!-- more tag label -->
        <div class="more-tag-wrapper" [ngStyle]="{ 'display': allTags.length > 22 ? 'flex' : 'none' }">
          <span
            [ngStyle]="{ 'visibility': allTags.length !== moreTagsIndex ? 'visible' : 'hidden' }"
            class="text-link"
            (click)="onClickMore($event)">
            {{ 'DISCOVER.SEE_MORE' | translate }}
          </span>
          <!--  -->
          <span
            [ngStyle]="{ 'visibility': moreTagsIndex > 22 ? 'visible' : 'hidden' }"
            class="text-link"
            (click)="onClickClose($event)">
           {{ 'DISCOVER.CLOSE' | translate }}
            <i class="fas fa-angle-up"></i>
          </span>
        </div>

      </div>
    </ng-container>
    <!-- /tags section -->

    <!-- suggested tags section  -->
    <ng-container *ngIf="suggestedTags.length > 0">
      <div class="section-suggested-tags">

        <!-- heading -->
        <h6 class="text text-notify">{{ 'DISCOVER.SUGGESTED_TAGS' | translate }}</h6>

        <!-- Suggested Tags -->
        <div class="tags-wrapper" @tagAnimation>
          <ng-container *ngFor="let suggested_tag of suggestedTags">
            <div [ngClass]="{ 'active': getCheckedSimilarFilter(suggested_tag._id) }" class="label label-draft">
              <label>
                <input
                  type="checkbox"
                  [id]="suggested_tag._id"
                  [name]="suggested_tag.label | multiling:browserLang()"
                  [value]="suggested_tag.label | multiling:browserLang()"
                  (change)="toggleSimilarFilter($event, suggested_tag)"
                  [checked]="getCheckedSimilarFilter(suggested_tag._id)">
                {{ suggested_tag?.label | multiling:browserLang() | FormatText }}
              </label>
            </div>
          </ng-container>
        </div>

      </div>
    </ng-container>
    <!-- /suggested tags section  -->

    <!-- share result section-->
    <ng-container *ngIf="appliedFilters.length > 0">
      <div class="section-share">
        <button type="button" class="btn ghost-secondary btn-xs" (click)="onClickShare($event)">{{ 'DISCOVER.BUTTON_SHARE' | translate }}</button>
      </div>
    </ng-container>
    <!-- /share result section -->

    <!-- heading section -->
    <div class="section-heading">

      <!-- heading -->
      <h1 class="title-primary">{{ 'DISCOVER.PAGE_DESCRIPTION' | translate }}</h1>

      <!-- search -->
      <div class="search-wrapper">
        <app-search-input [suggestions]="innovationTitles" (finalValueEmit)="onValueTyped($event)"></app-search-input>
      </div>

    </div>
    <!-- /heading section -->

    <!-- innovation cards -->
    <div class="section-cards" [@cardAnimation]="localInnovations.length">
      <div *ngFor="let innovation of localInnovations | slice:startingIndex:endingIndex" class="card responsive">

        <!-- img -->
        <div class="card-image">
          <a [routerLink]="[ getInnovationDetail('reference', innovation), getInnovationDetail('lang', innovation) ]" target="_blank">
            <img [src]="getImageSrc(innovation)" alt=" ">
          </a>
        </div>

        <!-- header -->
        <div class="card-header">
          <div class="card-title">

            <!-- title -->
            <a [routerLink]="[ getInnovationDetail('reference', innovation), getInnovationDetail('lang', innovation) ]" target="_blank">
              <h6>{{ getInnovationDetail('title', innovation) }}</h6>
            </a>

            <!-- tags -->
            <ng-container *ngIf="getInnovationTags(innovation).length > 0">
              <div class="tags-wrapper">
                <div *ngFor="let tag of getInnovationTags(innovation)" class="text text-notify">
                  <i class="fas fa-tag"></i>{{ tag?.label | multiling:browserLang() | FormatText }}
                </div>
              </div>
            </ng-container>

          </div>
        </div>

        <div class="card-justify">

          <!-- body -->
          <div class="card-body">
            <div class="text" [innerHTML]="getInnovationDetail('summary', innovation)"></div>
          </div>

          <!-- footer -->
          <ng-container *ngIf="getLangs(innovation).length > 0">
            <div class="card-footer">
              <span class="text text-notify">{{ 'DISCOVER.FOOTER_TEXT' | translate }}</span>
              <ng-container *ngFor="let lang of getLangs(innovation)">
                <a [routerLink]="[ getInnovationDetail('reference', innovation), lang ]" target="_blank">
                  <span class="text-link">{{ lang }}</span>
                </a>
              </ng-container>
            </div>
          </ng-container>

        </div>

      </div>
    </div>
    <!-- /innovation cards -->




    <!--&lt;!&ndash;Recommendation heading section &ndash;&gt;-->
    <!--<div *ngIf="userInnovations.length>0" class="section-heading-rec">-->
      <!--&lt;!&ndash; heading &ndash;&gt;-->
      <!--<h1 class="main-heading">{{ 'DISCOVER.RECOMMENDATION' | translate }}</h1>-->
    <!--</div>-->

    <!--&lt;!&ndash; User Innovation cards &ndash;&gt;-->
    <!--<div class="section-user-cards" [@cardAnimation]="userInnovations.length">-->
      <!--<div *ngFor="let innovation of userInnovations | slice:startingIndex:endingIndex" class="card-wrapper">-->
        <!--&lt;!&ndash; /Heading section &ndash;&gt;-->
        <!--<div class="card-content">-->
          <!--&lt;!&ndash; img &ndash;&gt;-->
          <!--<div class="card-img">-->
            <!--<a [routerLink]="[ getInnovationDetail('reference', innovation), getInnovationDetail('lang', innovation) ]" target="_blank">-->
              <!--<img [src]="getImageSrc(innovation)" alt="No media">-->
            <!--</a>-->
          <!--</div>-->

          <!--&lt;!&ndash; body &ndash;&gt;-->
          <!--<div class="card-body">-->

            <!--&lt;!&ndash; title and tags &ndash;&gt;-->
            <!--<div class="card-title">-->

              <!--&lt;!&ndash; title &ndash;&gt;-->
              <!--<a [routerLink]="[ getInnovationDetail('reference', innovation), getInnovationDetail('lang', innovation) ]" target="_blank">-->
                <!--<h1 class="main-heading">{{ getInnovationDetail('title', innovation) | DiscoverSummaryPipe:53 }}</h1>-->
              <!--</a>-->

              <!--&lt;!&ndash; tags &ndash;&gt;-->
              <!--<div class="tags-wrapper">-->
                <!--<div *ngFor="let tag of getInnovationTags(innovation)" class="tag-content">-->
                  <!--#{{ tag?.label | multiling:browserLang() | FormatText }}-->
                <!--</div>-->
              <!--</div>-->

            <!--</div>-->

            <!--&lt;!&ndash; summary &ndash;&gt;-->
            <!--<div class="summary-text" [innerHTML]="getInnovationDetail('summary', innovation)"></div>-->

          <!--</div>-->



        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /User innovation cards &ndash;&gt;-->






    <!--&lt;!&ndash; No result found &ndash;&gt;-->
    <!--<ng-container *ngIf="noResultFound">-->
      <!--<div class="section-no-result">-->
        <!--<img src="https://res.cloudinary.com/umi/image/upload/v1541075335/app/default-images/icons/no_result.png" class="img-responsive" alt=" ">-->
        <!--<h1 class="main-heading">{{ 'ERROR.NO_RESULT.HEADING' | translate }}</h1>-->
        <!--<p>{{ 'ERROR.NO_RESULT.MESSAGE.A' | translate }}</p>-->
        <!--<p>{{ 'ERROR.NO_RESULT.MESSAGE.B' | translate }}</p>-->
      <!--</div>-->
    <!--</ng-container>-->
    <!--&lt;!&ndash; /No result found &ndash;&gt;-->


    <!--&lt;!&ndash; Pagination section &ndash;&gt;-->
    <!--<div *ngIf="localResults > 0 && !noResultFound" class="pagination-wrapper">-->
      <!--<app-pagination-->
        <!--[total]="localResults"-->
        <!--[propertyName]="'discover-page'"-->
        <!--[configValue]="paginationValue"-->
        <!--(configChange)="onChangePagination($event)">-->
      <!--</app-pagination>-->
    <!--</div>-->
    <!--&lt;!&ndash; Pagination section &ndash;&gt;-->


  </div>
</section>


<!-- modal to share -->
<app-modal [(showModal)]="modalShare" [modalTitle]="'COMMON.MODAL.TITLE_SHARE'">
  <h6 class="text discover-modal-heading">{{ 'DISCOVER.MODAL.HEADING' | translate }}</h6>
  <h6 class="text discover-modal-link">{{ shareUrl }}</h6>
</app-modal>

