@import "../../../../../../style/framework/src/variables";

#admin-project-storyboard {
  min-height: calc(100vh - 125px);

  .header-wrapper {

    .content-wrapper {
      flex: 1;
      padding-bottom: 20px;

      .title {
        font-size: 28px;
      }

    }

  }

}
