<div *ngIf="!isLoading">
  <div class="p-top-50 p-bottom-30" id="admin-project-storyboard">
    <div class="container fluid grid-2xl">
      <div class="column col-sm-12 col-11 col-mx-auto">


        <!-- header section -->
        <section class="header-wrapper">
          <div class="d-flex flex-wrap">

            <!-- heading / lang -->
            <div class="content-wrapper p-right-10 p-bottom-30">

              <!-- heading -->
              <h1 class="title m-no-bottom text-background">Storyboard</h1>
              <!-- /heading -->


              <!-- autofill / change lang -->
              <div *ngIf="executiveReport.lang" class="text-notify text-lg">

                <div>
                  {{ 'STORYBOARD.AUTOFILL.A' | translate }}<span (click)="autofillExecutiveReport($event)" class="text-link text-normal">
                  {{ 'STORYBOARD.AUTOFILL.B' | translate }}</span>{{ 'STORYBOARD.AUTOFILL.C' | translate }}
                </div>

                <div>
                  {{ 'STORYBOARD.CHANGE_LANG.A' | translate }}<span (click)="openLangModal($event)" class="text-link text-normal">
                  {{ 'STORYBOARD.CHANGE_LANG.B' | translate }}</span>{{ 'STORYBOARD.CHANGE_LANG.C' | translate }}
                </div>

              </div>
              <!-- /autofill / change lang -->


              <!-- select lang -->
              <div *ngIf="!executiveReport.lang" class="text-notify text-lg">
                {{ 'STORYBOARD.SELECT_LANG.A' | translate }}<span (click)="openLangModal($event)" class="text-link text-normal">
                {{ 'STORYBOARD.SELECT_LANG.B' | translate }}</span>{{ 'STORYBOARD.SELECT_LANG.C' | translate }}
              </div>
              <!-- /select lang -->

            </div>
            <!-- /heading / lang -->


            <!-- buttons / links -->
            <div *ngIf="executiveReport.lang" class="content-wrapper p-bottom-15">

              <!-- video -->
              <div class="video-wrapper">

                <!-- link -->
                <div class="text-sm m-right-15 m-bottom-15">

                  <!-- last generated date and time -->
                  <p>
                    {{ 'STORYBOARD.LAST_GENERATE' | translate }} 01/02/20 {{ 'STORYBOARD.AT' | translate }} 12:14
                  </p>

                  <!-- video url -->
                  <p [ngStyle]="{ 'white-space': 'nowrap' }" class="text-bold">
                    https://vimeo.com/387669379/02494b7130
                    <span class="tooltip" [attr.data-tooltip]="'COMMON.TOOLTIP.COPY' | translate">
                      <i (click)="copyLink($event, 'https://vimeo.com/387669379/02494b7130')"
                         class="icon icon-copy">
                      </i>
                    </span>
                  </p>

                </div>
                <!-- /link -->

                <button
                  [disabled]="executiveReport.completion !== 100"
                  (click)="generateVideo($event)"
                  class="button is-primary m-bottom-15">
                  {{ 'COMMON.BUTTON.GENERATE_VIDEO' | translate }}
                </button>

              </div>
              <!-- /video -->


              <!-- pdf -->
              <div class="pdf-wrapper">

                <!-- link -->
                <div class="text-sm m-bottom-15 m-right-15">

                  <!-- last generated date and time -->
                  <p>
                    {{ 'STORYBOARD.LAST_GENERATE' | translate }} 01/02/20 {{ 'STORYBOARD.AT' | translate }} 12:14
                  </p>

                  <!-- video url -->
                  <p [ngStyle]="{ 'white-space': 'nowrap' }" class="text-bold">
                    https://umi.us/65118fd4df8g4dg98ddf5g4
                    <span class="tooltip" [attr.data-tooltip]="'COMMON.TOOLTIP.COPY' | translate">
                      <i (click)="copyLink($event, 'https://umi.us/65118fd4df8g4dg98ddf5g4')"
                         class="icon icon-copy">
                      </i>
                    </span>
                  </p>

                </div>
                <!-- /link -->

                <button
                  [disabled]="executiveReport.completion !== 100"
                  (click)="generatePdf($event)"
                  class="button is-primary is-outlined m-bottom-15">
                  {{ 'COMMON.BUTTON.GENERATE_PDF' | translate }}
                </button>

              </div>
              <!-- /pdf -->

            </div>
            <!-- /buttons / links -->

          </div>
        </section>
        <!-- /header section -->


        <!-- executive report section -->
        <section *ngIf="executiveReport.lang" class="p-top-50">
          <app-shared-executive-report
            [(executiveReport)]="executiveReport">
          </app-shared-executive-report>
        </section>
        <!-- /executive report section -->


        <!-- save button -->
        <div *ngIf="toBeSaved && executiveReport.lang" class="btn-save-float-wrapper">
          <button
            (click)="saveExecutiveReport($event)"
            class="button is-primary animate-slide slide-down is-3 is-rounded">
            {{ 'COMMON.BUTTON.SAVE' | translate }}
          </button>
        </div>
        <!-- /save button -->

      </div>
    </div>
  </div>
</div>



<!-- modal to select/change language -->
<app-modal *ngIf="!isLoading && isModalLang" [(showModal)]="isModalLang" [title]="modalTitle | translate">

  <section class="modal-body p-top-40">
    <div class="form-group d-flex justify-center m-no-bottom">
      <label class="form-radio is-inline">
        <input
          (change)="setNewSelectedLang('en')"
          [checked]="selectedLang === 'en'"
          id="lang-en"
          name="lang"
          type="radio"
          value="en">
        <i class="form-icon"></i> {{ 'COMMON.LANG.EN' | translate }}
      </label>
      <label class="form-radio is-inline">
        <input
          (change)="setNewSelectedLang('fr')"
          [checked]="selectedLang === 'fr'"
          id="lang-fr"
          name="lang"
          type="radio"
          value="fr">
        <i class="form-icon"></i> {{ 'COMMON.LANG.FR' | translate }}
      </label>
    </div>
  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button (click)="onClickConfirm($event)" class="button is-primary">
      {{ 'COMMON.BUTTON.CONFIRM' | translate }}
    </button>
  </footer>

</app-modal>
<!-- /modal to select/change language -->
