Breadcrumb :
<a routerLink="/">{{ 'COMMON.DASHBOARD' | translate }}</a>

<div>
  <h3>Que puis-je faire ?</h3>

  <div>
    <h4>Créer une innovation</h4>
    <p>
      Vous possédez une innovation ? Ajoutez-là à notre application et vous pourrez ainsi faire évaluer
      son potentiel par des experts dans le monde entier.
    </p>
  </div>

  <div>
    <h4>Compléter mon profil</h4>
    <p>
      Vérifiez que vos informations personnelles sont bien à jour via
      la <a routerLink="/account">page mon compte</a>. Ceci nous permettra entre autres à vous identifier
      en tant qu'expert dans un domaine spécifique.
    </p>
  </div>
</div>
