<div class="carousel-wrapper">
  <div class="carousel-body">
    <div class="carousel-content">

      <!-- Image container -->
      <div class="carousel-image">
        <div class="carousel-prev-arrow">
          <i class="fas fa-2x fa-angle-left"></i>
        </div>
        <div class="carousel-dot">
          <span><i class="fas fa-circle"></i></span>
          <span><i class="fas fa-circle"></i></span>
          <span><i class="fas fa-circle"></i></span>
        </div>
        <div class="carousel-next-arrow">
          <i class="fas fa-2x fa-angle-right"></i>
        </div>
      </div>
      <!-- /Image container -->

      <!-- Description -->
      <!-- /Description -->

    </div>
  </div>
</div>
