<section class="section-light-container" id="admin-community-members-component">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <div class="text-right">
        <!--<button (click)="onSearchClick($event)" class="btn btn-primary">
          Smart pro search
        </button>
        <span></span>
        <button (click)="onAddAmbassadors($event)" class="btn btn-primary">
            Add ambassadors
        </button>-->
        <button (click)="onImportAmbassadors($event)" class="btn btn-primary">
            Import ambassadors
        </button>
    </div>
    <app-shared-ambassadors-list [config]="config"></app-shared-ambassadors-list>
  </div>

</section>

<!-- adv search sidebar -->
<app-sidebar [(template)]="sidebarValue">
    <advsearch-form
            [sidebarState]="sidebarValue.animate_state"
            (finalOutput)="receiveResult($event)">
    </advsearch-form>
</app-sidebar>
<!-- /adv search sidebar -->


<!-- add ambassadors sidebar -->
<app-sidebar [(template)]="sidebarValue">
    <add-ambassador-form
            [sidebarState]="sidebarValue.animate_state"
            (finalOutput)="receiveResult($event)">
    </add-ambassador-form>
</app-sidebar>
<!-- /add ambassadors sidebar -->

<!-- import ambassadors sidebar -->
<app-sidebar [(template)]="sidebarValue">
    <csv-upload-form
            (finalOutput)="onFinishUpload($event)">
    </csv-upload-form>
</app-sidebar>
<!-- /import ambassadors sidebar -->