<section class="section-light-container" id="admin-community-members-component">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <div class="text-right">
        <button (click)="onSearchClick($event)" class="btn btn-primary">
          Smart pro search
        </button>
    </div>
    <app-shared-pros-list [config]="config"></app-shared-pros-list>
  </div>



<!--<div class="modal" [ngClass]="{'active': startSearch }">
    <div class="modal-overlay" (click)="(startSearch = false) && $event.preventDefault()"></div>
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Search for candidates</div>
        </div>
        <div class="modal-body">
            <app-admin-community-search></app-admin-community-search>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" (click)="launchSearch()">Launch</button>
            <button class="btn btn-link" (click)="(startSearch = false) && $event.preventDefault()">
                {{ 'COMMON.CANCEL' | translate }}
            </button>
        </div>
    </div>
</div>-->

</section>

<!-- sign up sidebar -->
<app-sidebar [(template)]="sidebarValue">
    <advsearch-form
            [sidebarState]="sidebarValue.animate_state"
            (finalOutput)="launchSearch($event)">
    </advsearch-form>
</app-sidebar>
<!-- /sign up sidebar -->