<section id="admin-community-members-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- section buttons -->
    <div class="text-right">

      <!-- import -->
      <label class="is-sm button is-outlined m-right-1rem">
        <input #fileupload type="file" [hidden]="true" (change)="importAmbassadors(fileupload.files[0])">
        {{ 'COMMON.BUTTON.IMPORT' | translate }}
      </label>

      <!-- add -->
      <button type="button" class="is-sm button" (click)="addAmbassador($event)" [innerText]="'COMMON.BUTTON.ADD'"
              translate></button>

    </div>
    <!-- /section buttons -->

    <!-- section members table -->
    <div class="p-top-25">
      <app-shared-ambassadors-list [listType]="'default'" [(config)]="config"></app-shared-ambassadors-list>
    </div>
    <!-- /section members table -->

  </div>
</section>


<!-- add ambassadors sidebar -->
<umius-sidebar-full [(template)]="sidebarValue">
  <community-form
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type">
  </community-form>
</umius-sidebar-full>
<!-- /add ambassadors sidebar -->






<!--<button (click)="onSearchClick($event)" class="btn btn-primary">
          Smart pro search
        </button>-->

<!--&lt;!&ndash; adv search sidebar &ndash;&gt;-->
<!--<sidebar [(template)]="sidebarTemplate">-->
    <!--<advsearch-form-->
            <!--[sidebarState]="sidebarTemplate.animate_state"-->
            <!--(finalOutput)="receiveResult($event)">-->
    <!--</advsearch-form>-->
<!--</sidebar>-->
<!--&lt;!&ndash; /adv search sidebar &ndash;&gt;-->
