<section id="filters">


  <!-- highlighted tags, search and buttons -->
  <div class="sector-highlighted">


    <!-- see all filters button, search and share button -->
    <div class="flex-between">

      <!-- see all filters button and search -->
      <div class="flex-start action-wrapper">

        <div
          class="filter-icon text-meta c-hand"
          (click)="showAllTags()">
          <i class="fas fa-sliders-h"></i>
          <span class="text-medium" [innerText]="'DISCOVER.FILTER_TEXT'" translate></span>
        </div>

        <div class="search-wrapper">
          <umius-search-input
            [searchPlaceholder]="'DISCOVER.SEARCH_INPUT_PLACEHOLDER'"
            (searchFieldOutput)="onInputField($event)">
          </umius-search-input>
        </div>

      </div>

      <!-- share and stats buttons -->
      <div class="share-button">

        <ng-container *ngIf="isAdmin && selectedTags.length > 0">
          <a
            [queryParams]="{ 'tag': getSelectedTagsIds() }"
            [routerLink]="['/demo', 'showcase']"
            class="button is-sm is-info is-rounded m-right-20"
            target="_blank">
            <span [innerText]="'DISCOVER.BUTTON_SHOWCASE'" translate></span>
          </a>
        </ng-container>

        <button
          (click)="onClickShare()"
          class="button is-rounded is-sm"
          type="button">
          <i class="fas fa-share icon-left"></i>{{ 'DISCOVER.BUTTON_SHARE' | translate }}
        </button>

      </div>

    </div>
    <!-- /filters, search and share button -->


    <!-- highlight tags -->
    <div *ngIf="highLightTags.length > 0" [@tagAnimation]="tagsUpdated" class="sector-wrapper d-flex">
      <div
        *ngFor="let tag of highLightTags"
        class="label is-rounded c-hand animate-tag"
        [ngClass]="checkFilter(tag._id) ? 'is-primary' : 'is-draft'">
        <label class="c-hand">
          <input
            (change)="toggleFilter($event, tag)"
            [checked]="checkFilter(tag._id)"
            [id]="tag._id"
            [name]="tag.entry | langEntry:'label':userLang:true"
            [value]="tag.entry | langEntry:'label':userLang:true"
            type="checkbox">
          {{ tag.entry | langEntry:'label':userLang:true }}
        </label>
      </div>
    </div>
    <!-- /highlight tags -->


  </div>
  <!-- /highlighted tags, search and buttons -->


  <!-- suggested tags -->
  <div *ngIf="suggestedTags.length > 0"  class="sector-suggested">

    <h3 class="text-meta animate-appear">{{ 'DISCOVER.RELATED_SECTORS' | translate }}</h3>

    <div class="d-flex sector-wrapper">
      <div
        *ngFor="let tag of suggestedTags"
        [ngClass]="checkSimilarFilter(tag._id) ? 'is-primary' : 'is-draft'"
        class="label is-rounded c-hand animate-appear">
        <label class="c-hand">
          <input
            (change)="toggleSimilarFilter($event, tag)"
            [checked]="checkSimilarFilter(tag._id)"
            [id]="tag._id"
            [name]="tag.entry | langEntry:'label':userLang:true"
            [value]="tag.entry | langEntry:'label':userLang:true"
            type="checkbox">
          {{ tag.entry | langEntry:'label':userLang:true }}
        </label>
      </div>
    </div>

  </div>
  <!-- /suggested tags -->


</section>


<!-- modal tags -->
<umius-modal [(showModal)]="modalTag" maxWidth="840px" title="DISCOVER.ALL_SECTORS">
  <section class="modal-body">
    <div class="modal-tag-wrapper">
      <div class="d-flex sector-wrapper">
        <div
          *ngFor="let tag of allTags"
          class="label is-rounded c-hand"
          [ngClass]=" checkFilter(tag._id) ? 'is-primary' : 'is-draft'">
          <label class="c-hand">
            <input
              (change)="toggleFilter($event, tag)"
              [checked]="checkFilter(tag._id)"
              [id]="tag._id"
              [name]="tag.entry | langEntry:'label':userLang:true"
              [value]="tag.entry | langEntry:'label':userLang:true"
              type="checkbox">
            {{ tag.entry | langEntry:'label':userLang:true }}
          </label>
        </div>
      </div>
    </div>
  </section>
</umius-modal>
<!-- /modal tags -->


<!-- modal share -->
<umius-modal [(showModal)]="modalShare">
  <section class="modal-body">
    <div class="modal-share-wrapper text-center">

      <h3 class="text-draft text-normal" [innerText]="'DISCOVER.MODAL_SHARE.TITLE'" translate></h3>

      <div *ngIf="!urlCopied">
        <button
          (click)="onClickCopy($event)"
          class="button is-info is-sm"
          type="button">
          {{ 'DISCOVER.TOOLTIP_TEXT' | translate }}
        </button>
      </div>

      <div *ngIf="urlCopied">
        <button
          class="button is-outlined is-success is-sm c-not-allowed"
          type="button">
          {{ 'DISCOVER.TOOLTIP_TEXT_COPIED' | translate }}
        </button>
      </div>

    </div>
  </section>
</umius-modal>
<!-- /modal share -->
