@import "~@umius/umi-style-framework/scss/variables";

#filters {

  .animate-appear {
    animation-duration: .5s;
  }

  .sector-highlighted, .sector-suggested {

    .label {
      padding: 0;
    }

    label {
      padding: $unit-2 $unit-4;
    }

    label input[type="checkbox" i] {
      display: none;
    }

    h3 {
      margin-bottom: 12px;
      font-size: $font-size-sm;
    }

    .sector-wrapper {
      flex-wrap: wrap;
      margin: -$unit-1;
    }

  }

  .sector-suggested {
    padding-top: 20px;
  }

  .sector-highlighted {

    .flex-between {

      .action-wrapper {
        margin-bottom: 7px;

        .search-wrapper, .filter-icon {
          margin-bottom: 10px;
        }

        .filter-icon {
          font-size: $font-size-sm;
          margin-right: $unit-5;

          span {
            margin-left: $unit-2;
          }

          &:hover {
            opacity: 0.8;
          }

          &.loading-content {
            width: 200px;
            height: 30px;

            i, span {
              visibility: hidden;
            }

            &:hover {
              opacity: 1;
            }

          }

        }

      }

      .share-button {

        .button {
          min-width: 100px;
          margin-bottom: 15px;

          i {
            margin-left: 0;
          }

        }

      }

    }

  }

}


.modal-tag-wrapper {

  label input[type="checkbox" i] {
    display: none;
  }

  h3 {
    margin-bottom: 12px;
    font-size: $font-size-sm;
  }

  .sector-wrapper {
    flex-wrap: wrap;
    margin: -$unit-1;
  }

}

.modal-share-wrapper {

  .button {
    margin-top: 15px;
  }

  .ghost-edit {
    border-color: $meta-color;
    color: $meta-color;
  }

  .ghost-success {
    border-color: $success-color;
    color: $success-color;
  }

}

@media (max-width: $size-sm) {

  #filters {

    .sector-highlighted {

      .flex-between {
        align-items: flex-start;
        flex-direction: column;
      }


    }

  }

}


@media (max-width: $size-xs) {


  #filters {

    .sector-highlighted {

      .flex-between {

        .action-wrapper {
          flex-direction: column;
          align-items: flex-start;
        }

      }

    }

  }


}
