@import "../../../../../../style/framework/src/variables";

#admin-community-component {

  .section-header {
    background: $bg-color-light;

    .title-primary {
      font-size: 1.15rem;
    }

    .tab .tab-item a {
      border-bottom-width: 4px;
    }

  }

}
