<div
  [id]="htmlId"
  [ngClass]="{ 'is-loading': isLoading, 'h-full': !isLoading, 'is-active': isEditable}"
  [ngStyle]="{'min-height': isEditable ? minHeight : '100%'}"
  class="shared-editor-etherpad">

  <!-- isEditable && isLoading -->
  <div *ngIf="isLoading" class="loading-wrapper">
    <div class="text-notify text-medium text-sm m-bottom-2">
      {{ etherpad.lang === 'fr' ? 'chargement de l\'éditeur...' : 'loading editor...' }}
    </div>
    <div class="loading is-primary"></div>
  </div>
  <!-- /isEditable && isLoading -->

  <!-- if not isEditable -->
  <div *ngIf="!isEditable" class="content-wrapper">
    <div [innerHTML]="text | cleanHtml"></div>
  </div>
  <!-- /if not isEditable -->

</div>

