<div id="project-front-page">

  <!-- company logo -->
  <div *ngIf="project.companyLogo" class="front-header">
    <img [src]="project.companyLogo" alt=" ">
  </div>
  <!-- /company logo -->

  <!-- body -->
  <div [ngClass]="{ 'no-header': !project.companyLogo }" class="front-body">
    <h1 class="title is-4">{{ project.title }}</h1>
    <h2 [innerHTML]="project.summary"></h2>
    <div *ngIf="project.objective" class="body-objective">{{ project.objective }}</div>
    <img [src]="project.media" alt=" " class="body-media img-responsive">
    <ng-container *ngIf="project.ownerName && project.ownerEmail">
      <div class="body-leader">{{ userLang === 'fr' ? 'Chef de projet' : 'Project leader' }}</div>
      <div class="body-owner">{{ project.ownerName }} / {{ project.ownerEmail }}</div>
    </ng-container>
  </div>
  <!-- body -->

  <!-- footer -->
  <div class="front-footer">
    <img
      *ngIf="isUmi"
      [src]="marketTestLogo"
      width="185"
      alt=""
      class="img-responsive">
  </div>
  <!-- /footer -->

</div>
