<section id="admin-project-tags-pool" class="section-light-pad">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <div class="restrict-width">


      <!-- fetching error -->
      <ng-container *ngIf="fetchingError">
        <div class="a-p-t-p-error-wrapper d-flex align-center">
          <app-error-template-1 [errorMessage]="'ERROR.FETCHING_ERROR'" [ngStyle]="{ 'width': '100%' }">
            <p [innerText]="'ERROR.ERRORS.TAGS_POOL'" translate></p>
          </app-error-template-1>
        </div>
      </ng-container>
      <!-- /fetching error -->


    </div>
  </div>
</section>

<!--

<div class="admin-project-tags-pool">

  <form class="form-horizontal" [formGroup]="tagForm" (ngSubmit)="addTag($event)">
    <div class="input-group">
      <input auto-complete
             formControlName="tag"
             [source]="suggestions.bind(this)"
             [list-formatter]="autocompleListFormatter"
             [value-formatter]="autocompleValueFormatter"
             [attr.placeholder]="'Add an existing tag'"
             class="form-input form-control input-lg">
      <button class="btn btn-primary input-group-btn" [disabled]="!canAddTag" translate>
        COMMON.ADD
        <i class="icon icon-arrow-right"></i>
      </button>
    </div>
  </form>

    <app-shared-table [config]="config"
                      [data]="tableInfos"
                      (editRow)="editTag($event)"
                      (removeRows)="deleteTags($event)">
    </app-shared-table>

  &lt;!&ndash; Tag preview &ndash;&gt;
  <app-sidebar
    [template]="sidebarTemplateValue"
    (closeSidebar)="closeSidebar($event)">
    <app-tags-form
      *ngIf="tag"
      [sidebarState]="sidebarTemplateValue.animate_state"
      [tag]="tag"
      [type]="'editTag'"
      [project]="innovation"
      (updateTag)="updateTag($event)">
    </app-tags-form>
  </app-sidebar>

</div>

-->
