<div class="admin-project-tags-pool">

  <form class="form-horizontal" [formGroup]="tagForm" (ngSubmit)="addTag($event)">
    <div class="input-group">
      <input auto-complete
             formControlName="tag"
             [source]="suggestions.bind(this)"
             [list-formatter]="autocompleListFormatter"
             [value-formatter]="autocompleValueFormatter"
             [attr.placeholder]="'Add an existing tag'"
             class="form-input form-control input-lg">
      <button class="btn btn-primary input-group-btn" [disabled]="!canAddTag" translate>
        COMMON.ADD
        <i class="icon icon-arrow-right"></i>
      </button>
    </div>
  </form>

    <app-shared-table [config]="config"
                      [data]="tableInfos"
                      (editRow)="editTag($event)"
                      (removeRows)="deleteTags($event)">
    </app-shared-table>

  <!-- Tag preview -->
  <app-sidebar
    [template]="sidebarTemplateValue"
    (closeSidebar)="closeSidebar($event)">
    <app-tags-form
      *ngIf="tag"
      [project]="project"
      [tag]="tag"
      [type]="'editTag'"
      (updateTag)="updateTag($event)">
    </app-tags-form>
  </app-sidebar>

</div>

