<div [hidden]="!canAccess()" class="container fluid grid-2xl animate-fade is-5" id="admin-project-tags-pool">
  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- error message while fetching -->
    <app-utility-message-error *ngIf="!isLoading && fetchingError"></app-utility-message-error>
    <!-- /error message while fetching -->

    <!-- no fetching error -->
    <div [hidden]="fetchingError && !isLoading" class="p-top-30 p-bottom-30">

      <!-- add tag button -->
      <section *ngIf="canAccess(['add'])" class="text-right p-bottom-30">
        <button
          (click)="onClickAdd()"
          class="button is-primary is-shadowed is-sm"
          type="button"
          id="btn-add-tags">
          Add tags
        </button>
      </section>
      <!-- /add tag button -->

      <!-- table -->
      <section>
        <app-shared-table
          (removeRows)="onClickDelete($event)"
          (editRow)="onClickEdit($event)"
          [config]="localConfig"
          [data]="table">
        </app-shared-table>
      </section>
      <!-- /table -->

    </div>
    <!-- /no fetching error -->

  </div>
</div>


<!-- sidebar -->
<app-sidebar *ngIf="canAccess()" [(template)]="sidebarValue">
  <app-sidebar-tags
    (newTags)="onNewTags($event)"
    (updateTag)="onUpdateTag($event)"
    [isEditable]="isEditable"
    [projectId]="innovation._id"
    [sidebarState]="sidebarValue.animate_state"
    [tagType]="'tags'"
    [tag]="tagToEdit"
    [type]="sidebarValue.type">
  </app-sidebar-tags>
</app-sidebar>
<!-- /sidebar -->
