<app-shared-loader *ngIf="!question"></app-shared-loader>

<div *ngIf="question">

  <div class="container">
    <div class="columns">
      <div class="column col-10 col-mx-auto">
        <h2>{{ question.name }}</h2>
        <h5>{{ 'PRESETS.QUESTION.TYPE.' + question.controlType.toUpperCase() | translate }}</h5>
        <form novalidate [formGroup]="formData" class="form-horizontal">
          <label class="form-label h3">{{ "PRESETS.QUESTION.EDIT.LABEL" | translate }}</label>
          <div class="form-group text-center" formGroupName="label">
            EN: <input class="form-input" id="labelEn" name="en" formControlName="en" type="text"
                       placeholder="">
            FR: <input class="form-input" id="labelFr" name="fr" formControlName="fr" type="text"
                       placeholder="">
          </div>
          <label class="form-label h3">{{ "PRESETS.QUESTION.EDIT.TITLE" | translate }}</label>
          <div class="form-group text-center" formGroupName="title">
            EN: <input class="form-input" id="titleEn" name="en" formControlName="en" type="text"
                       placeholder="">
            FR: <input class="form-input" id="titleFr" name="fr" formControlName="fr" type="text"
                       placeholder="">
          </div>
          <label class="form-label h3">{{ "PRESETS.QUESTION.EDIT.SUBTITLE" | translate }}</label>
          <div class="form-group text-center" formGroupName="subtitle">
            EN: <input class="form-input" id="subtitleEn" name="en" formControlName="en" type="text"
                       placeholder="">
            FR: <input class="form-input" id="subtitleFr" name="fr" formControlName="fr" type="text"
                       placeholder="">
          </div>
          <h3 *ngIf="question && (question.controlType === 'radio' || question.controlType === 'checkbox')" class="form-group text-center">{{ "PRESETS.QUESTION.EDIT.CHOICES" | translate }}</h3>
          <div *ngIf="question && (question.controlType === 'radio' || question.controlType === 'checkbox')" class="form-group text-center">
            <fieldset formArrayName="options">
              <div class="columns"
                   *ngFor="let item of options.controls; let i=index"
                   [formGroupName]="i">
                <div>
                  ID: <input type="text" class="form-control"
                             [attr.id]="'id'+i" formControlName="id">
                </div>
                <div class="form-group text-center" formGroupName="label">
                  EN: <input class="form-input" id="'optionEn'+i" name="en" formControlName="en" type="text"
                             placeholder="">
                  FR: <input class="form-input" id="'optionFr'+i" name="fr" formControlName="fr" type="text"
                             placeholder="">
                </div>
                <div>
                  <a class="delete c-hand" aria-label="Close" role="button" (click)="removeOption(i)">
                    <i class="icon icon-delete"></i>
                  </a>
                </div>
              </div>
            </fieldset>
          </div>
          <button *ngIf="question && (question.controlType === 'radio' || question.controlType === 'checkbox')"
                  (click)="addOption()" class="btn btn-lg btn-primary" type="button">
            {{ 'PRESETS.QUESTION.EDIT.ADD' | translate }} <i class="icon icon-plus"></i>
          </button>
          <div class="form-group">
            <label class="form-switch" for="canComment">
              {{ "PRESETS.QUESTION.EDIT.CAN_COMMENT" | translate }}
              <input type="checkbox" name="canComment" formControlName="canComment" id="canComment">
              <i class="form-icon"></i>
            </label>
          </div>
          <button type="submit" class="btn btn-primary centered" (click)="save()">{{ 'PRESETS.QUESTION.EDIT.SAVE' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
