<div [hidden]="!canAccess()" class="container fluid grid-2xl p-top-30" id="admin-enterprise-bulk-edit-management"
     xmlns="http://www.w3.org/1999/html">
  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- search parent company -->
    <section class="width-75" *ngIf="canAccess(['edit'])">
      <app-utility-auto-complete-input
        (update)="addCompanyToInclude($event)"
        [onlyOne]="true"
        [isShowButton]="false"
        [config]="configCompany">
      </app-utility-auto-complete-input>
    </section>
    <!-- /search parent company -->

    <!-- companies selected table -->
    <section class="p-bottom-15 p-top-20">
      <umius-table
        [(config)]="config"
        (performAction)="getPerformAction($event)"
        [data]="companiesTable">
      </umius-table>
    </section>
    <!-- /companies selected table -->


    <!-- buttons -->
    <section class="p-bottom-30 p-top-4" style="display: flex" *ngIf="companiesToAddParent.length> 0">
      <button class="button is-primary is-lg is-outlined"
              (click)="returnTo($event)">
        Back
      </button>

      <button class="button is-primary is-lg is-outlined"
              *ngIf="canAccess(['edit'])"
              (click)="cancel()">
        Discard
      </button>
      <button class="button is-primary is-lg"
              *ngIf="canAccess(['edit'])"
              style="margin-left: auto"
              (click)="updateChange()">
        Update
      </button>
    </section>
    <!-- /buttons -->

  </div>
</div>
