/*
    This stylesheet contains all the styles that are common for everywhere on the framework.
 */

@import "variables";


/*
    this is to show the horizontal line around the word to show as divider.
    Just wrap the word with this class. Class name: .or-divider
 */

.or-divider {
  color: $meta;
  font-size: 0.875rem;

}

.or-divider::before {
  content: '';
  display: inline-flex;
  vertical-align: middle;
  width: 130px;
  height: 1px;
  background: $meta;
}

.or-divider::after {
  content: '';
  display: inline-flex;
  vertical-align: middle;
  width: 130px;
  height: 1px;
  background: $meta;
}


/*
    this is to show the message.
 */
.banner-wrapper {
  background-color: $success;
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.9375rem;
  text-align: center;
  display: block;

  .text-link {
    color: white;
    text-decoration: underline;
  }

}


/*
    circle class. Can use this when you want to show text or any image.
 */
.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  cursor: default;
  text-align: center;
  justify-content: center;
  background: $meta none;
  border: 0.125rem solid transparent;
  align-items: center;
  font-size: 0.6rem;
  color: #FFFFFF;
  transition: background-color 0.15s ease-in-out,
              color 0.15s ease-in-out,
              border-bottom-color 0.15s ease-in-out,
              border-left-color 0.15s ease-in-out,
              border-right-color 0.15s ease-in-out,
              border-top-color 0.15s ease-in-out;
}


/********************************** Media ***************************************/

@media (min-width: 1441px) {

  .restrict-width {
    max-width: 800px !important;
  }

}
