/*
    This stylesheet contains all the class related to the different containers
    for our framework.
 */


/*
    include this on the page.
 */
.container {
  padding-left: .5rem;
  padding-right: .5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


/*
    include this in the page.
 */
.section-container {
  padding-top: 3.15rem;
  padding-bottom: 3.15rem;
  margin-left: auto;
  margin-right: auto;
}


/*
    when you want light padding.
 */
.section-light-container {
  padding-top: 1.57rem;
  padding-bottom: 1.57rem;
  margin-left: auto;
  margin-right: auto;
}


/*
    add this with the section container when you want padding all sides.
 */
.full {
  padding: 3.15rem;
}


/*
    add this with the section light container when you want padding all sides but has small padding.
 */
.full-light {
  padding: 1.57rem;
}


/*
    add this with the container to remove the left and right padding.
 */
.fluid {
  padding-left: 0;
  padding-right: 0;
}


/*
    hero container
 */
.hero-container {
  padding-top: 3.15rem;
  padding-bottom: 1.57rem;
  margin-left: auto;
  margin-right: auto;
}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .full {
    padding: 1.57rem;
  }

  .full-light {
    padding: 0.78125rem;
  }

}
