/*
    This stylesheet contains all the class related to the different type of texts
    for our framework.
 */
@import "variables";


h1, h2, h3, h4, h5, h6, .title-hero, .title-primary, .title-secondary, .title-header {
  font-weight: 600;
  line-height: 1.5;
}


/*
    h1, h2, h3, h4, h5, and h6 common style
 */

h1, h2, h3, h4, h5, h6 {
  color: $text-primary;
  margin: 0 0 1.57rem;
}


/*
    h1
 */

h1 {
  font-size: 2rem;
}


/*
    h2
 */

h2 {
  font-size: 1.9rem;
}


/*
    h3
 */

h3 {
  font-size: 1.8rem;
}


/*
    h4
 */

h4 {
  font-size: 1.7rem;
}


/*
    h5
 */

h5 {
  font-size: 1.6rem;
}


/*
    h6
 */

h6 {
  font-size: 1.5rem;
}


/*
    use this title for the hero container of the page.
 */
.title-hero {
  font-size: 2rem;
  margin-bottom: 1.57rem;
  color: #FFFFFF;
}


/*
    use this on section title.
 */
.title-primary {
  font-size: 1.7rem;
  color: $text-primary;
}


/*
    use this to sub-section or any secondary title.
 */
.title-secondary {
  font-size: 1.625rem;
  color: $secondary;
  font-weight: normal;
}


/*
    use this with the components like modal, sidebar etc.
 */
.title-header {
  font-size: 1.25rem;
  color: #FFFFFF;
}


/*
    text style for links
 */
.text-link, .text-link:active, .text-link:focus, .text-link:visited, .text-delete, .text-delete:active, .text-delete:focus, .text-delete:visited {
  outline: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
}

.text-link:hover, .text-delete:hover {
  text-decoration: underline;
  cursor: pointer;
}


/*
    primary link
 */
.text-link, .text-link:active, .text-link:focus, .text-link:visited, .text-link:hover {
  color: $primary;
}


/*
    delete link
 */
.text-delete, .text-delete:active, .text-delete:focus, .text-delete:visited, .text-delete:hover {
  color: $alert;
}


/*
    align the text at right
 */
.text-right {
  text-align: right;
}


/*
    align the text at left
 */
.text-left {
  text-align: left;
}


/*
    align the text at center
 */
.text-center {
  text-align: center;
}


/*
    these to show different type of text.
 */
.text-success, .text-warning, .text-error, .text-alert {
  outline: none;
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 600;
  cursor: default;
}


/*
    text warning
 */

.text-warning, .text-warning:active, .text-warning:focus, .text-warning:visited {
  color: $primary;
}


/*
    text success
 */

.text-success, .text-success:active, .text-success:focus, .text-success:visited {
  color: $success;
}


/*
    text error/alert
 */

.text-error, .text-alert, .text-error:active, .text-alert:active, .text-error:focus, .text-alert:focus, .text-error:visited, .text-alert:visited {
  color: $alert;
}
