/*
    This stylesheet contains all the variable that we use in the framework.
 */


/*
    base variables
 */
$primary: #FFB300;
$secondary: #0B90C6;
$success: #2ECC71;
$alert: #EA5858;
$progress: #F79323;
$disabled: #DBDBDB;
$meta: #97A4B1;
$dark: #333333;
$background: #4F5D6B;


/*
    text variables
 */
$text-primary: #484848;
$text-secondary: #333333;


/*
    label variables
 */
$draft: #4F5D6B;
$edit: #0B90C6;
