/*
    This stylesheet contains all the variable that we use in the framework.
 */


/*
    base variables
 */
$primary: #FFB300;
$secondary: #0B90C6;
$success: #2ECC71;
$alert: #EA5858;
$progress: #F79323;
$disabled: #DBDBDB;
$meta: #97A4B1;
$dark: #333333;
$background: #4F5D6B;
$border: #E0E0E0;
$hover-background: #FFF9EB;


/*
    text variables
 */
$text-primary: #333333;
$text-secondary: #484848;
$text-background: #4F5D6B;
$text-disabled: #A9A9A9;


/*
    form variables
 */
$form-placeholder: #AAB2BD;
$form-input: #262831;
$form-label: #333333;
$form-border: #E0E0E0;
$form-primary: #FFB300;
$form-alert: #EA5858;
$form-success: #2ECC71;
$form-disabled: #DBDBDB;
$form-disabled-text: #A9A9A9;
$form-meta: #97A4B1;

/*
    label variables
 */
$label-draft: #4F5D6B;
$label-edit: #0B90C6;


/*
    button variables
 */
$button-disabled-text: #A9A9A9;



/*
    box shadow variables
 */
$box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
$box-shadow-hover: 0 2px 8px 2px rgba(20,23,28,.15);
