<div id="filter-multi-component">

  <!-- Select by option -->
  <div *ngIf="textProps.length > 0" class="filter-type-wrapper">
    <span class="filter-label">{{ 'COMMON.SEARCH_BY' | translate }}:</span>
    <label>
      <select (change)="changeCurrentTextProp($event); search.value = '';" class="form-select">
        <option
          *ngFor="let propName of textProps"
          [value]="getAttrs(propName)"
          [selected]="textIsSelected(propName)">
          {{ getName(propName) | translate | FormatText }}
        </option>
      </select>
    </label>
  </div>
  <!-- /Select by option -->


  <!-- Search box -->
  <div *ngIf="textProps.length > 0" class="filter-search-box">

    <label>
      <input
        type="search"
        (keyup.enter)="filterText($event.srcElement)"
        #search
        class="form-input"
        [placeholder]="'COMMON.SEARCH_PLACEHOLDER' | translate">
    </label>

    <div class="search-icon" (click)="filterText(search)">
      <img src="https://res.cloudinary.com/umi/image/upload/v1541656930/app/default-images/icons/search-meta.svg">
    </div>

    <div *ngIf="search.value !== ''" class="search-cross" (click)="search.value = ''; filterText(search)">
      <i class="fas fa-times"></i>
    </div>

  </div>
  <!-- /Search box -->


  <!-- Other options -->
  <div *ngFor="let prop of otherProps" class="filter-type-wrapper">

    <span class="filter-label">{{ getName(prop) | translate | FormatText }}:</span>

    <ng-container [ngSwitch]="getType(prop)">

      <label *ngSwitchCase="'CHECK'">
        <select
          (change)="filterOther(prop)"
          [(ngModel)]="config[getAttrs(prop)]"
          class="form-select"
          [ngStyle]="{ 'padding-right': '3.15rem' }">
          <option [ngValue]="undefined">{{ 'COMMON.ALL' | translate }}</option>
          <option [ngValue]="true">{{ 'COMMON.YES' | translate }}</option>
          <option [ngValue]="false">{{ 'COMMON.NO' | translate }}</option>
        </select>
      </label>

      <label *ngSwitchCase="'MULTI-CHOICES'">
        <select
          (change)="filterOther(prop)"
          [(ngModel)]="config[getAttrs(prop)]"
          class="form-select">
          <option [ngValue]="undefined" selected>{{ 'COMMON.ALL' | translate }}</option>
          <option
            *ngFor="let choice of getChoices(prop)"
            [ngValue]="getChoiceName(choice)">
            {{ getChoiceAlias(choice) | translate | FormatText }}
          </option>
        </select>
      </label>

    </ng-container>
  </div>
  <!-- /Other options -->


</div>



<!--<div class="form-group-inline-left">
  <div class="input-group" *ngIf="textProps.length > 0" style="width: 100%;">
    <select (change)="changeCurrentTextProp($event); search.value = '';" class="input-group-addon form-select">
      <option *ngFor="let propName of textProps"
              [value]="getAttrs(propName)"
              [selected]="textIsSelected(propName)">
        {{getName(propName) | translate}}
      </option>
    </select>
    <div class="has-icon-right">
      <input (keyup.enter)="filterText($event.srcElement)"
             #search
             class="form-input"
             [placeholder]="'COMMON.FILTER' | translate"
      />
      <span (click)="filterText(search)">
        <i class="form-icon icon icon-search"
           *ngIf="search.value === ''">
        </i>
      </span>
      <span (click)="search.value = ''; filterText(search)">
        <i class="form-icon icon icon-cross" *ngIf="search.value !== ''"></i>
      </span>
    </div>
  </div>

  <div *ngFor="let prop of otherProps" class="input-group" style="width: 100%;">
    <label class="form-label" style="margin-right: 10px;">{{getName(prop) | translate}}</label>
      <div [ngSwitch]="getType(prop)">
        <select (change)="filterOther(prop)"
                [(ngModel)]="config[getAttrs(prop)]"
                class="form-select small-select"
                *ngSwitchCase="'CHECK'">
          <option [ngValue]="undefined">{{'COMMON.ALL' | translate}}</option>
          <option [ngValue]="true">{{'COMMON.YES' | translate}}</option>
          <option [ngValue]="false">{{'COMMON.NO' | translate}}</option>
        </select>

        <select (change)="filterOther(prop)"
                [(ngModel)]="config[getAttrs(prop)]"
                class="form-select small-select"
                style="margin-right: 10px;"
                *ngSwitchCase="'MULTI-CHOICES'">
          <option [ngValue]="undefined" selected>{{'COMMON.ALL' | translate}}</option>
          <option *ngFor="let choice of getChoices(prop)"
                  [ngValue]="getChoiceName(choice)">
            {{getChoiceAlias(choice) | translate}}
          </option>
        </select>
      </div>
    </div>
</div>-->

