@import "../../../../../style/framework/src/variables";
@import "../../../../../style/framework/src/mixins";

#filter-multi-component {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .filter-type-wrapper, .filter-search-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 1.25rem;
  }

  .text.text-label {
    margin-right: 0.5rem;
  }

  .filter-search-box {
    position: relative;

    .search-icon {
      position: absolute;
      left: 10px;
      margin-top: 1px;
      cursor: pointer;

      img {
        width: 20px;
        height: 19px;
      }

    }

    .search-cross {
      @include control-transition();
      position: absolute;
      right: 16px;
      cursor: pointer;

      .fa-times {
        color: $meta-color;
        font-size: $font-size-md;
      }

    }

  }

  .form-input {
    width: 350px;
    padding-left: 40px;
    padding-right: 38px;
  }

  .form-input:not(:disabled):focus, .form-select:not(:disabled):focus {
    border-color: $border-color;
  }

}


@media (max-width: $size-sm) {

  #filter-multi-component {

    .filter-type-wrapper, .filter-search-box {
      margin-bottom: 0.75rem;
      margin-right: 0.75rem !important;
    }

    .form-input {
      width: 280px !important;
    }

  }
  
}
