<div class="form-group-inline-left">
  <div class="input-group" *ngIf="textProps.length > 0">
    <select (change)="changeCurrentTextProp($event); search.value = '';" class="input-group-addon form-select">
      <option *ngFor="let propName of textProps"
              [value]="getAttrs(propName)"
              [selected]="textIsSelected(propName)">
        {{getName(propName) | translate}}
      </option>
    </select>
    <div class="has-icon-right">
      <input (keyup.enter)="filterText($event.srcElement)"
             #search
             class="form-input"
             [placeholder]="'COMMON.FILTER' | translate"
      />
      <span (click)="isLocal ? filterTextLocal(search) : filterText(search)">
        <i class="form-icon icon icon-search"
           *ngIf="search.value === ''">
        </i>
      </span>
      <span (click)="search.value = ''; filterText(search)">
        <i class="form-icon icon icon-cross" *ngIf="search.value !== ''"></i>
      </span>
    </div>
  </div>

  <div *ngFor="let prop of otherProps" class="input-group">
    <label class="form-label" style="margin-right: 10px;">{{getName(prop) | translate}}</label>
      <div [ngSwitch]="getType(prop)">
        <select (change)="filterOther(prop)"
                [(ngModel)]="config[getAttrs(prop)]"
                class="form-select small-select"
                *ngSwitchCase="'CHECK'">
          <option [ngValue]="undefined">{{'COMMON.ALL' | translate}}</option>
          <option [ngValue]="true">{{'COMMON.YES' | translate}}</option>
          <option [ngValue]="false">{{'COMMON.NO' | translate}}</option>
        </select>

        <select (change)="filterOther(prop)"
                [(ngModel)]="config[getAttrs(prop)]"
                class="form-select small-select"
                style="margin-right: 10px;"
                *ngSwitchCase="'MULTI-CHOICES'">
          <option [ngValue]="undefined" selected>{{'COMMON.ALL' | translate}}</option>
          <option *ngFor="let choice of getChoices(prop)"
                  [ngValue]="getChoiceName(choice)">
            {{getChoiceAlias(choice) | translate}}
          </option>
        </select>
      </div>
    </div>
</div>

