@import "../../../../../../style/framework/src/variables";

#executive-pitch {

  .content-wrapper {

    &.has-border {

      .text-wrapper {
        word-break: break-all;
        border-radius: 4px;
        background-color: #D8D8D8;
        min-height: 212px;
      }

    }

  }

}
