@import "../../../../../../style/framework/src/variables";

#executive-pitch {

  .content-wrapper {
    max-width: 438px;
    width: 100%;
    min-height: 373px;
    margin: 0 50px 30px 50px;

    .form-input {
      padding: 15px 20px 15px 15px;
      border: 2px solid #000000;
      font-size: $font-size-sm;
    }

    .text-limit-wrapper {
      top: 8px;
      right: 10px;
      font-size: 13px;
      font-weight: $font-weight-medium;
    }

    &.has-border {
      border: 2px solid $border-color;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(30,55,90,.1);
      text-align: center;

      .text-wrapper {
        word-break: break-all;
        border-radius: 5px;
        background-color: #D8D8D8;
        min-height: 212px;
      }

    }

  }

}
