@import "../../../../../style/framework/src/variables";

#pagination-component {
  display: inline-flex;
  align-items: center;
  width: 100%;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;

  .page-selector-wrapper {
    margin-left: 0.5rem;
  }

  select {
    border: $border-width solid $border-color;
    height: 1.6rem;
  }

  .page-number-wrapper {
    margin-left: 0.5rem;

    .fa-angle-double-left, .fa-angle-left, .fa-angle-right, .fa-angle-double-right {
      color: $meta-color;
      margin-right: 0.5rem;
      font-size: $font-icon-xl;
      vertical-align: -2px;
    }

    .text-wrapper {
      margin-right: 0.5rem;
    }

    .fa-angle-double-left:hover, .fa-angle-left:hover, .fa-angle-right:hover, .fa-angle-double-right:hover {
      color: $primary-color;
    }

  }

}
