@import "../../../../../style/variables";

#market-report {
  padding-top: 0;

  .white-background {
    background-color: white;
    border-radius: 0.18rem;
  }

  .msg-wrapper {
    background-color: $validation-color;
    color: white;
    font-weight: 600;
    font-size: 1rem;

    .content {
      padding-top: .95rem;
      padding-bottom: .95rem;
    }

  }

  .sticky-wrapper {
    background-color: white;
    transition: all 0.35s ease-in-out;
    padding-top: .9375rem;
    padding-bottom: .9375rem;

    .content-wrapper {
      display: flex;
      font-weight: 600;
      flex-wrap: wrap;
      font-size: .85rem;
      padding-top: .6rem;
      padding-bottom: .6rem;

      .toggle-option {
        padding: 1.2rem 1.57rem 1.2rem 0;
        color: $meta-color;

        .form-switch input:disabled + .form-icon::before {
          background: $validation-color;
        }

      }

      .filter-wrapper {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        flex: 3;
        padding: 1.2rem 1.2rem .6rem 1.2rem;
        height: 5.375rem;
        overflow: auto;

        p {
          padding-bottom: .375rem;
        }

        ul {
          display: inline-flex;
          flex-wrap: wrap;
          list-style: none;
          text-decoration: none;

          li {
            padding: .35rem;

            a {
              color: $dark-color;

              .icon {
                font-size: .85rem;
                margin-right: .35rem;
                color: $meta-color;
                vertical-align: -.125rem;
              }

            }

            a:hover {
              text-decoration: underline;
            }

          }

        }

      }

      .button-wrapper {
        justify-content: flex-start;
        flex-wrap: wrap;

        .btn {
         margin: 1.2rem .6rem;
        }

        .btn:last-child {
          margin-right: 0;
        }

      }

    }

  }

  .menu-wrapper {
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    z-index: 11;
    text-align: right;

    .btn {
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      cursor: default;
      border-radius: .18rem;
      box-shadow: $box-shadow;
    }

    .btn-secondary:hover {
      background-color: $secondary-color;
    }

    .menu-item-wrapper {
      background-color: white;
      width: 250px;
      box-shadow: $box-shadow;
      border: 1px solid $border-color;
      border-radius: .18rem;
      text-align: left;
      max-height: 500px;
      overflow: auto;

      ul {
        list-style: none;

        li {
          cursor: pointer;
          font-size: .85rem;
          color: $dark-color;
          padding: 1rem .9375rem;
        }

        li:hover {
          background-color: $primary-color;
          color: white;
        }

        .active {
          background-color: $primary-color !important;
          color: white !important;
        }

      }

    }

  }

  .front-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.57rem;

    .body-wrapper {
      display: flex;
      flex-direction: column;
      min-height: 80vh;
      justify-content: center;

      .text-executive, h1 {
        margin-bottom: .6rem;
      }

      h1 {
        color: $text-dark;
        font-size: 2.625rem;
        font-weight: 300;
      }

      .text-executive {
        color: $meta-color;
        font-size: 1.06rem;
        display: none;
      }

      .summary, .image-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.2rem;
      }

      .summary {
        font-weight: normal;
        font-size: 1rem;
        color: $text-dark;
        width: 80%;
      }

      .image-wrapper {
        height: 109.65px;
        width: 173px;
      }

      .text-owner, .text-jobTitle, .text-email {
        color: $dark-color;
        margin-bottom: .18rem;
      }

      .text-owner {
        font-size: 1rem;
      }

      .text-jobTitle, .text-email {
        font-size: .9375rem;
        font-weight: normal;
      }

      .goal-text {
        display: inline-flex;
        justify-content: center;
        max-width: 80%;
        background: $background-color;
        color: white;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.57rem;
        font-weight: 600;
        font-size: 1rem;
        padding: .6875rem .9375rem;
      }

    }

    .footer-wrapper {
      border-top: 1px solid $primary-color;
      display: flex;
      justify-content: space-between;
      padding-top: .6rem;
      font-size: 1rem;
      font-weight: 600;
      color: $background-color;

      p {
        padding-bottom: 0;
        font-size: .75rem;
      }

      a:hover {
        text-decoration: underline;
      }

    }

  }

  .goal-wrapper {

    .charRemaining span {
      margin-top: -2rem;
    }

  }

  .executive-generate-wrapper {
    display: flex;
    flex-direction: column;

    .section-heading {
      font-weight: normal;
      font-size: 1.5rem;
    }

    .template-outer-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .template {
        display: inline-flex;
        margin-bottom: 1.57rem;
        flex-direction: column;
        align-items: center;

        img {
          width: auto;
          height: 216px;
          margin-bottom: .6rem;
        }

        .radio-button:hover {
          background-color: $primary-color;
          border-color: $primary-color;

          span {
            color: white;
          }

        }

        .radio-button.active {
          background-color: $validation-color;
          border-color: $validation-color;

          span {
            color: white;
          }

        }

      }

    }

  }

  .innovation-wrapper {
    display: flex;
    justify-content: space-between;

    .section-heading {
      font-weight: normal;
      font-size: 1.5rem;
    }

    .summary-wrapper {
      padding-right: .9375rem;
      flex: 1;

      .section-heading {
        margin-bottom: .95rem;
      }

      .img-wrapper {
        padding-top: 1.57rem;
        padding-bottom: 1.2rem;
      }

      .advantage-wrapper {
        margin: 0;

        li {
          margin: 0;
          padding: .375rem .5rem .375rem .3rem;
        }

        li:last-child {
          padding-bottom: 0;
        }

      }

    }

    .issue-wrapper {
      padding-left: .95rem;
      padding-right: .95rem;
      flex: 1;
    }

    .solution-wrapper {
      padding-left: .95rem;
      flex: 1;
    }

  }

  .targeting-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.57rem;

    .map-wrapper {
      padding-right: .95rem;
      flex: 1;
    }

    .question-wrapper {
      padding-bottom: 1.57rem;
    }

    p {
      padding-bottom: 0;
    }

    .sc-ques {
      color: $secondary-color;
      padding-bottom: 1.57rem;
      font-size: 1.5rem;
      font-weight: normal;
    }

    .answer-wrapper {
      background: #F8F4F4;
      color: $dark-color;
      padding: .5rem .95rem;
      border-radius: .18rem;
      display: inline-flex;
      margin-right: .6rem;
      margin-bottom: .6rem;
      font-size: .85rem;
    }

    .c2-answer-wrapper {
      padding-left: .95rem;
      flex: 1;
    }

  }

  .exploration-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.57rem;

    .section-heading {
      font-weight: normal;
      font-size: 1.5rem;
    }

    .analytic-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      h5 {
        margin-bottom: 0;
      }

      .pd-top {
        padding-top: 2.0625rem;
      }

      .info-analytic-wrapper {
        margin-bottom: 1.57rem;

        p {
          color: $meta-color;
        }

        .svg-text {
          font-size: .75rem;
          font-weight: 600;
          fill: #FFFFFF;
        }

      }

    }

    .company-wrapper {
      padding-bottom: 1.57rem;

      .name-wrapper {
        list-style: none;

        li {
          padding-top: 0;
          padding-left: 0;
          display: inline-flex;
          width: 25%;
        }

      }

    }

  }

  .abstract-wrapper {
    margin-top: 1.57rem;
    padding: 3.15rem;

    .main-heading {
      color: $dark-color;
    }

    .form-group {
      margin-bottom: 0 !important;
    }

    .form-label {
      padding: 0;
    }

    .charRemaining span {
      margin-top: -1.57rem;
    }

  }

  .origin-wrapper {
    background-color: white;
    border-radius: .18rem;
    color: $dark-color;
    box-shadow: $box-shadow;
  }

  .professional-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -1.2rem;

    .profile {
      display: inline-flex;
      background: white;
      border: 1px solid $border-color;
      min-height: 11.875rem;
      padding: .95rem 1rem .6rem 1rem;
      border-radius: .18rem;
      margin-bottom: 1.2rem;
      flex: 0 1 calc(50% - 1rem);

      img {
        visibility: hidden;
      }

    }

    .profile:hover {
      color: $border-color;
      box-shadow: $box-shadow-hover;

      img {
        visibility: visible;
        cursor: pointer;
      }

    }

  }

  .conclusion-wrapper, .keyLearning-wrapper, .goal-wrapper {
    background-color: white;
    border-radius: .18rem;
    color: $dark-color;

    .main-heading {
      color: $dark-color;
    }

    .op-text {
      color: $primary-color;
      font-weight: 600;
      padding-bottom: 1.57rem;
    }

  }

  .keyLearning-wrapper, .conclusion-wrapper {
    box-shadow: $box-shadow;
  }

}

/********************************** Media ***************************************/
@media (max-width: 840px) {

  #market-report {

    .content-wrapper {
      flex-direction: column;

      .toggle-option {
        padding-top: 0 !important;
      }

      .filter-wrapper {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        border-left: none !important;
        border-right: none !important;
        padding-left: 0 !important;
      }

      .button-wrapper {
        padding-top: .6rem;

        .btn {
          margin: .6rem .6rem .6rem 0 !important;
        }

      }

    }

    .front-wrapper {

      .body-wrapper {
        padding-top: 1.57rem;
        padding-bottom: 1.57rem;

        .summary {
          width: 100% !important;
        }

      }

      .footer-wrapper {
        flex-wrap: wrap;

        .text-right {
          text-align: left !important;
          padding-top: .6rem;
        }

      }

    }

    .innovation-wrapper {
      flex-direction: column;

      .summary-wrapper, .issue-wrapper, .solution-wrapper {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }

      .issue-wrapper, .solution-wrapper {
        padding-top: 1.57rem !important;
      }

    }

    .targeting-wrapper {
      flex-direction: column;

      .c2-answer-wrapper {
        padding-left: 0 !important;
        padding-top: .95rem;
      }

    }

    .exploration-wrapper {

      .info-analytic-wrapper {
        margin-right: 1.57rem;
      }

      .company-wrapper .name-wrapper li {
        width: 50% !important;
      }

    }

  }

}

@media (max-width: 600px) {

  #market-report {

    .executive-generate-wrapper {

      .template-outer-wrapper {
        justify-content: center;
      }

    }

    .exploration-wrapper {

      .company-wrapper .name-wrapper li {
        width: 100% !important;
      }

    }

    .professional-wrapper {
      flex-direction: column;
    }

  }

}


@media (min-width: 841px) {

  #market-report {

    .scroll-sticky-wrapper {
      position: sticky;
      top: -0.06rem;
      box-shadow: $box-shadow;
      z-index: 11;
      padding-top: 0;
      padding-bottom: 0;
    }

  }

}

@media (min-width: 1280px) {

  #market-report {

    .professional-wrapper {

      .profile {
        flex: 0 1 calc(32% - 1rem) !important;
      }

    }

  }

}
