/*



!* ==========================================================================
   Market Report module
   ========================================================================== *!
body.campaign-edit-infographic-new,
body.sample-infographic {

  background: #EDF1F5;

  .panel {
    background-color: #EDF1F5 !important;
  }
}

.admin-buttons {
  display: flex;
  justify-content: center;

  button {
    margin: 10px;
  }
}

.sidebarIsSticky {
  position: sticky;
  width: 216px;
  top: 70px;

  li {
    margin: 0
  }

  .content {
    padding-left: 216px;
  }
}

.market-report {

  .frontcover .subtitle,
  .frontcover img {
      display: none;
  }

  .flex-container {
    display: flex;
  }

  small, .small {
    font-size: 70%;
  }

  ul li {
    list-style: none;
    .flex-container {
      display: flex;
      justify-content: space-between;
    }
  }

  h1 {
    font-size: 36px;
    color: #4C4C4C;
    line-height: 53px;
    text-align: center;
  }

  h1::after {
    display: none;
  }

  h2 {
    color: #AAB2BD;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: left;
    font: 36px 'Open Sans', sans-serif;
  }

  .subtitle {
    font-size: 21px;
    color: #AAB2BD;
    font-weight: bold;
    text-align: center;
  }

  !* === Sidebar === *!

  .sidebar {
    padding: 30px 0 30px 0;
    min-width: 216px;
    margin-top: 15px;

    .title-sidebar {
      font-size: 20px;
      color: #4A4A4A;
      margin-top: 10px;
    }

    .toggle-sections {
      font-size: 20px;
      color: #4A4A4A;
      cursor: pointer;
      margin-left: 10px;
      margin-bottom: 20px;
    }

    ul li a {
      position: relative;
      font-size: 14px;
      color: #6E6E6E;
      padding-left: 10px;
      padding-top: 6px;
      padding-bottom: 6px;
      display: block;
      transition: all linear 0.2s;
      font-weight: 600;

      &:hover,
      &.active {
        color: white;
        background: #3498DB;
        text-decoration: none;
      }

      i {
        position: absolute;
        right: 10px;
        font-size: 22px;
        color: #CDCDCD;
      }

      &:hover i,
      &.active i {
        color: white;
      }
    }

  }

  !* === Responsive pour mobile === *!
  @media screen and (max-width: 900px) {
    .content {
      margin-top: 0;
    }

    .sidebar {
      display: none;
    }

    .flex-container {
      flex-direction: column;
    }

    #market-potential .column-graph.flex-container {
      flex-direction: inherit;
    }

    .vertical-bar .bar-fill {
      width: 23px;
    }

    .vertical-bar .bar-picture {
      left: 7px;
    }

    .vertical-bar .bar-stats {
      left: 7px;
    }

    .vertical-bar {
      width: 35px;
      margin: 0 14px;
    }

    .market-report-btn {
      padding: 0 20px;
    }

    .column:first-child {
      margin-right: 0 !important;
    }

    ul.items > li .flex-container,
    ul.comments > li .flex-container {
      align-items: center !important;
    }

    .item-new,
    .comment-new {
      margin-right: 0 !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #key-benefits .horizontal-bar {
      height: 100px;
    }

    #key-benefits .horizontal-bar .bar-fill {
      height: 98px;
    }

    #key-benefits .horizontal-bar .bar-stats {
      position: relative;
      top: inherit;
      bottom: 32px;
      right: 0;
    }

    .white-frame {
      text-align: center;
      padding: 50px 30px 30px 30px;
    }

    .big-blue-synthesis {
      margin-right: 0;
    }

    h2 {
      text-align: center;
      margin-left: 0;
    }

  }

}

.cssHack {
  height: 480px;
}

!* === Professionals list === *!

#professionals {

  hr {
    margin: 3px 0 20px 0;
    border-top: 1px solid #e9e9e9;
  }

  .flex-container.wrap {
    flex-flow: row wrap;
  }

  .professional-item {
    background: white;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
    padding: 35px 20px 0 20px;
    width: 100%;
    max-width: 280px;
    margin-bottom: 20px;
  }

  .professional-item.top-profil {
    position: relative;
    color: white !important;
    background: #16A085 !important;
    a {
      color: #7cffe5 !important;
    }

  }

}

.prosList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.professional-item.top-profil:before {
  content: "Top Profil";
  display: inline-block;
  padding: 0 15px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.8;
  color: white;
  text-align: center;
  background-color: #FEBE34;
  position: absolute;
  right: 0;
  top: 0;
}

.white-frame {
  background: white;
  padding: 50px 50px 30px 50px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 70px;
}

.market-report-btn {
  position: relative;
  bottom: -53px;
  font-size: 16px;
  font-weight: bold;
  line-height: 3;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 0;
  color: #fff;
  background-color: #3498DB;
  padding: 0 50px;

  .fa-angle-up,
  .fa-angle-down {
    font-size: 40px;
    vertical-align: middle;
  }

  &:hover {
    background: #FFA642;
  }

  &.active {
    background-color: #747474;
  }
}*/

#project-synthesis {

  .bot-rect {
    width: 300px;
  }

  .ce-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  .question-wrapper {
    background-color: white;
    display: inline-flex;
    position: sticky;
    flex-direction: column;
    top: 40px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 12px 6px;
        border-radius: 5px;
        font-size: 0.8rem;
        transition: all 0.15s ease-in-out;
        width: 250px;

        a {
          color: #333333;
          text-decoration: none;
        }

        .icon {
          font-size: 0.7rem;
          vertical-align: -9%;
        }

      }

      li:hover {
        cursor: pointer;
        background:  #F2F2F2;
        border-color: #F2F2F2;
      }

      li.active {
        background: #E7F25C;
        border-color: #E7F25C;
      }

    }

    .filter-wrapper {
      padding-top: 25px;
      padding-bottom: 25px;

      li {
        background:  #F2F2F2;
        margin-bottom: 10px;
      }

    }

  }

  #answer-wrapper {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    border-left: 1px solid #D1D1D1;
    padding-left: 20px;
    max-width: 80%;

    .section-container {
      padding-bottom: 0;
    }

    .section-container:first-child {
      padding-top: 0;
    }

    .professional-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .profile {
        background: white;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid #F2F2F2;
        padding: 20px 15px;
        border-radius: 5px;
        margin-bottom: 20px;
        margin-right: 20px;
        flex: 1 0 calc(32% - 1rem);
      }

    }

    .section-heading {
      color: #333333;
    }

  }


}

.synthesis-wrapper {
  color: #484848;
  padding-bottom: 25px;

  .white-background {
    background-color: white;
    border-radius: 3px;
  }

  .sc-sticky-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    transition: all 0.35s ease-in-out;

    .sc-content-wrapper {
      display: flex;
      font-weight: 600;
      font-size: 14px;

      .sc-detail-wrapper {
        flex: 1;
        padding: 20px 15px 15px 0;
        color: #97A4B1;
      }

      .sc-filter-wrapper {
        border-left: 1px solid #D8D8D8;
        border-right: 1px solid #D8D8D8;
        flex: 3;
        padding: 20px 15px 15px 15px;
      }

      .sc-button-wrapper {
        flex: 2;
        padding: 20px 0 0 0;
        text-align: right;

        .btn {
          margin-bottom: 15px;
          margin-left: 15px;
        }

      }

    }

  }

  .sc-front-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

    .sc-body-wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      justify-content: center;

      h1 {
        color: #484848;
        font-size: 42px;
        margin-bottom: 10px;
      }

      h6 {
        color: #97A4B1;
        font-size: 21px;
      }

    }

    .sc-footer-wrapper {
      display: flex;
      flex-direction: column;

      .text-link {
        font-size: 20px;
        margin-bottom: 10px;
      }

      p {
        font-size: 12px;
        padding-bottom: 0;
      }

    }

  }

  .sc-innovation-wrapper {
    display: flex;
    justify-content: space-between;

    .sc-summary-wrapper {
      padding-right: 15px;
      flex: 1;

      p {
        padding-bottom: 25px;
      }

      .section-heading {
        margin-bottom: 15px;
      }

      .sc-advantage {
        margin: 0;

        li {
          margin: 0;
          padding: 6px 8px 6px 4px;
        }

        li:last-child {
          padding-bottom: 0;
        }

      }

    }

    .sc-issue-wrapper {
      padding-left: 15px;
      padding-right: 15px;
      flex: 1;
    }

    .sc-solution-wrapper {
      padding-left: 15px;
      flex: 1;
    }

  }

  .sc-targeting-wrapper {
    display: flex;
    justify-content: space-between;

    .sc-map-wrapper {
      padding-right: 15px;
      flex: 1;
    }

    .sc-question-wrapper {
      padding-top: 25px;
    }

    p {
      padding-bottom: 0;
    }

    .sc-ques {
      font-weight: 600;
      padding-bottom: 25px;
    }

    .sc-answer-wrapper {
      background: #F8F4F4;
      color: #333333;
      padding: 8px 15px;
      border-radius: 5px;
      display: inline-flex;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 14px;
    }

    .sc-t-answer-wrapper {
      padding-left: 15px;
      flex: 1;
    }

  }

  .sc-exploration-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

    .sc-analytic-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .pd-top {
        padding-top: 22px;
      }

      .cs-info-analytic {
        margin-bottom: 25px;

        p {
          color: #97A4B1;
        }

        .svg-text {
          font-size: 14px;
          font-weight: 600;
          fill: #FFFFFF;
        }

      }

    }

    .sc-rate-wrapper {
      padding-bottom: 25px;
    }

    .sc-company-wrapper {

      .sc-comp-name-wrapper {
        list-style: none;

        li {
          padding-top: 0;
          padding-left: 0;
          display: inline-flex;
          width: 25%;
        }

      }

    }

  }

  .sac-origin-wrapper {
    background-color: #4F5D6B;
    border-radius: 3px;

    h1 {
      color: white;
    }

  }

  .professional-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -20px;

    .profile {
      background: white;
      border: 1px solid #D7D7D7;
      min-height: 190px;
      padding: 15px 16px;
      border-radius: 3px;
      margin-bottom: 20px;
      flex: 0 1 calc(32% - 1rem);
    }

  }

}

.na-synthesis {
  background-color: #F5F5F5;
  padding-top: 0;
}



/********************************** Media ***************************************/

@media (max-width: 840px) {

  .sc-innovation-wrapper {
    flex-direction: column;

    .sc-summary-wrapper {
      padding-right: 0 !important;
    }

    .sc-issue-wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-top: 25px;
    }

    .sc-solution-wrapper {
      padding-left: 0 !important;
      padding-top: 15px;
    }

  }

  .sc-targeting-wrapper {
    flex-direction: column;

    .sc-t-answer-wrapper {
      padding-left: 0 !important;
      padding-top: 15px;
    }

  }

  .sc-exploration-wrapper {

    .sc-company-wrapper .sc-comp-name-wrapper li {
      width: 50% !important;
    }

  }

}

@media (max-width: 600px) {

  .sc-content-wrapper {
    flex-direction: column;

    .sc-filter-wrapper {
      border-top: 1px solid #D8D8D8;
      border-bottom: 1px solid #D8D8D8;
      border-left: none !important;
      border-right: none !important;
      padding-left: 0 !important;
    }

  }

  .sc-exploration-wrapper {

    .sc-company-wrapper .sc-comp-name-wrapper li {
      width: 100% !important;
    }

  }

  .professional-wrapper {
    flex-direction: column;
  }

}

@media (min-width: 840px) {

  .sc-scroll-sticky {
    position: sticky;
    top: 0;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
    z-index: 11;
  }

}

@media (min-width: 601px) and (max-width: 1280px) {

  .professional-wrapper {
    width: calc(89% - 1rem);
    margin-left: auto;
    margin-right: auto;

    .profile {
      flex: 0 1 calc(50% - 1rem) !important;
    }

  }

}

/*@media (max-width: 600px) {

  #project-synthesis {

    .question-wrapper {
      display: none;
    }


    #answer-wrapper {
      max-width: 100%;
      padding-left: unset;
      border-left: none;
      width: 100%;
    }

  }

}

@media (min-width: 601px) and (max-width: 840px) {

  #project-synthesis {

    .question-wrapper ul li {
      width: 180px;
    }

    #answer-wrapper {
      max-width: 65%
    }

  }

}

@media (min-width: 841px) and (max-width: 960px) {

  #project-synthesis {

    .question-wrapper ul li {
      width: 180px;
    }

    #answer-wrapper {
      max-width: 66%;
    }

  }

}

@media (min-width: 961px) and (max-width: 1280px) {

  #project-synthesis {

    #answer-wrapper {
      max-width: 70%;
    }

  }

}

@media (min-width: 1281px) and (max-width: 1440px) {

  #project-synthesis {

    #answer-wrapper {
      max-width: 78%;
    }

  }

}

@media (max-width: 600px) {

  .synthesis-wrapper {



  }

}*/
