<div id="auto-suggestion">

  <!-- input field -->
  <form autocomplete="off" class="relative" novalidate>

    <!-- input area -->
    <div class="input-wrapper">
      <label style="display: flex">
        <input
          (focus)="showAutoSuggestionDropdown($event)"
          (focusout)="hideAutoSuggestionDropdown()"
          (keydown)="onKeyboardPress($event)"
          [attr.placeholder]="placeholder | translate"
          [formControl]="searchKeyword"
          [ngStyle]="{'width': width}"
          [ngClass]="{'is-sm': isSmallInput}"
          autocomplete="off"
          class="form-input is-shadowed"
          name="suggestion"
          type="search">
        <button *ngIf="(type === 'industry'|| type === 'valueChain'|| type === 'enterpriseType') && inputNewValue!== ''"
                style="margin-left: auto"
                [disabled]="!this.inputNewValue"
                class="button is-circled is-primary is-sm"
                (click)="addNewValue()">
          <i class="icon icon-plus"></i>
        </button>
      </label>
    </div>
    <!-- /input area -->

    <!-- suggestions list -->
    <ul *ngIf="dropdownVisible && isSearching" class="menu" style="z-index: 999">

      <!-- when suggestions -->
      <li
        (mousedown)="onValueSelect(suggestion);"
        *ngFor="let suggestion of suggestionsSource; let i = index;"
        [ngClass]="{ 'active': i === currentFocus }"
        class="menu-item">
        {{ (type === 'industry' || type === 'valueChain' || type === 'enterpriseType') ? suggestion : suggestion[identifier] }}
      </li>
      <!-- /when suggestions -->

      <!-- when no suggestions but still searching -->
      <li *ngIf="loading" class="menu-item c-default bg-white">
        <div class="loading is-primary"></div>
      </li>
      <!-- /when no suggestions but still searching -->

    </ul>
    <!-- /suggestions list -->

  </form>
  <!-- /input field -->

</div>
