@import "../../../../../style/framework/src/variables";

#shared-mail-editor-component {

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .language-wrapper{
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .form-label, .text-link {
        margin-right: 0.75rem;
        margin-bottom: 0.75rem;
      }

      .text-link {
        color: $meta-color;
        padding-bottom: $unit-o;

        &.active {
          color: $primary-color;
          text-decoration: none;
          cursor: default;
        }

        &:hover {
          color: $primary-color;
          text-decoration: none;
        }

      }

    }

    .form-switch {
      margin-bottom: 0.75rem;
    }

  }

  .column-header {
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 1.25rem;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;

    .text.text-notify{
      padding-top: 0.5rem;
      font-size: $font-size-sm;
      font-weight: 600;
    }

  }

}
