<div id="shared-mail-editor">

  <!-- header -->
  <div [ngClass]="{ 'column-header': noLanguage }" class="header-wrapper flex-between">

    <!-- language choice -->
    <div *ngIf="!noLanguage" class="language-wrapper">
      <label class="form-label">Choose language:</label>
      <ng-container *ngFor="let lang of innovationCardLanguages">
        <button
          *ngIf="innovationCardLanguages.indexOf(lang) !== -1"
          [ngClass]="{ 'text-underline': language === lang }"
          class="button is-link"
          (click)="changeLanguage(lang.type)">
          {{'COMMON.LANG.' + lang?.type | uppercase | translate}}</button>
      </ng-container>
    </div>
    <!-- /language choice -->

    <!-- no language set -->
    <div *ngIf="noLanguage && !languageHasBeenSet" class="language-wrapper">
      <label class="form-label">Which language would you like to communicate with the project owner?</label>
      <ng-container *ngFor="let lang of innovationCardLanguages">
        <div (click)="setLanguage(lang.type)" [ngClass]="{ 'active': language === lang }" class="text-link">
          {{'COMMON.LANG.' + lang?.type | uppercase | translate}}
        </div>
      </ng-container>
    </div>
    <!-- no language set -->

    <!-- preview -->
    <label *ngIf="isEnablePreviewBtn" class="form-switch">
      <input type="checkbox" (change)="onPreview()">
      <i class="form-icon"></i> Preview
    </label>
    <!-- preview -->

  </div>
  <!-- /header -->

  <!-- content-->
  <div *ngIf="!noLanguage || languageHasBeenSet" class="content-wrapper">

    <!-- subject -->
    <div class="form-group m-bottom-20">
      <label class="form-label" for="shared-mail-editor-subject">Subject</label>
      <input
        *ngIf="isEditableMode"
        (ngModelChange)="onUpdate($event)"
        [(ngModel)]="email.subject"
        [lang]="language"
        class="form-input is-sm"
        id="shared-mail-editor-subject"
        name="subject"
        placeholder="Enter the subject of the mail"
        type="text">
      <p *ngIf="!isEditableMode && email && email.subject" class="text-sm">{{ email.subject }}</p>
    </div>
    <!-- /subject -->

    <!-- message -->
    <div class="form-group">

      <label class="form-label">Message</label>

          <ng-container *ngIf="isEditableMode">
            <div class="text-md">
              <app-shared-editor-tinymce
                (onTextChange)="updateContent($event)"
                [lang]="language"
                [data]="email.content || ''">
              </app-shared-editor-tinymce>
            </div>
          </ng-container>

          <ng-container *ngIf="!isEditableMode && email && email.content">
            <p [innerHTML]="email.content | cleanHtml" class="text-md"></p>
          </ng-container>

        </div>
        <!-- /message -->

  </div>
  <!-- /content-->

</div>

