@import "~@umius/umi-style-framework/scss/variables";

#shared-mail-editor {

  .variable {
    color:#0B90C6;
    background-color: #CCEBF8;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .label.is-tag {
    margin: 0;
    border-radius: 3px;
    padding: 4px 10px;
  }

  .header-wrapper {
    flex-wrap: wrap;

    .language-wrapper{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: 15px;

      .form-label, .text-link {
        margin-right: 15px;
        margin-bottom: 15px;
      }

      .text-link {
        color: $meta-color;
        padding-bottom: $unit-o;

        &.active {
          color: $primary-color;
          text-decoration: none;
          cursor: default;
        }

        &:hover {
          color: $primary-color;
          text-decoration: none;
        }

      }

    }

    .form-switch {
      margin-bottom: 15px;
    }

  }

  .column-header {
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

}
