@import "../../../../../style/framework/variables";

#shared-mail-editor-component {

  .section-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .language-wrapper{
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .form-label, .text-link {
        margin-right: 0.9375rem;
        margin-bottom: 0.9375rem;
      }

      .text-link {
        color: $meta;

        &.active {
          color: $primary;
          text-decoration: none;
          cursor: default;
        }

      }

      .text-link:hover {
        color: $primary;
      }

    }

    .form-switch {
      font-size: 0.875rem;
    }

  }

  .column-header {
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 1.57rem;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    padding-top: 0.6rem;

    .form-input {
      max-width: 350px;
    }

    p {
      font-size: 0.9375rem;
    }

    .variable-tiny-mce{
      padding-top: 0.6rem;
      font-size: 0.75rem;
      color: $meta;
      font-weight: 600;
    }

  }

}
