<div id="shared-mail-editor">
  <div [ngSwitch]="templateType">

    <!-- type = 'FOLLOW-UP' -->
    <div *ngSwitchCase="'FOLLOW-UP'">

      <!-- insert field / test emails / test with contact -->
      <div *ngIf="isEditable" class="flex-centered flex-wrap">

        <!-- insert field -->
        <div *ngIf="customField && customField.length" class="dropdown m-left-10 m-bottom-10 m-right-10">

          <a class="button is-link is-draft dropdown-toggle" tabindex="0">
            <i class="fas fa-link icon-left text-primary"></i> {{ 'SHARED_MAIL_EDITOR.INSERT_FIELD' | translate }}
          </a>

          <ul class="menu">
            <li
              (click)="insertTextAtCursor(field.value)"
              *ngFor="let field of customField"
              [innerText]="field.value"
              class="menu-item">
            </li>
          </ul>

        </div>
        <!-- /insert field -->


        <!-- test emails -->
        <div class="m-left-10 m-bottom-10 m-right-10">
          <button
            (click)="onClickTestEmails($event)"
            [ngStyle]="{ 'text-decoration': 'none' }"
            class="button is-draft is-link"
            type="button">
            <i class="fas fa-paper-plane icon-left text-primary"></i> {{ 'SHARED_MAIL_EDITOR.TEST_EMAILS' | translate }}
          </button>
        </div>
        <!-- /test emails -->


        <!-- test with contact -->
        <div class="m-left-10 m-bottom-10 m-right-10">
          <label>
            <select class="form-select p-left-15" [ngStyle]="{ 'height': 'unset', 'font-size': '13px' }">
              <option [ngValue]="undefined">{{ 'SHARED_MAIL_EDITOR.TEST_WITH_CONTACT' | translate }}</option>
            </select>
          </label>
        </div>
        <!-- /test with contact -->

      </div>
      <!-- /insert field / test emails / test with contact -->


      <!-- divider -->
      <div *ngIf="isEditable" class="divider is-lg"></div>
      <!-- /divider -->


    </div>
    <!-- /type = 'FOLLOW-UP' -->


  </div>
</div>






<ng-container *ngIf="email">
  <section id="shared-mail-editor-component">

    <!-- section header -->
    <div class="section-header" [ngClass]="{ 'column-header': noLanguage }">

      <!-- language choice -->
      <ng-container *ngIf="!noLanguage">
        <div class="language-wrapper">

          <label class="form-label">{{ 'COMMON.LABEL.CHOOSE_LANGUAGE' | translate }}</label>

          <div (click)="changeLanguage('en')" [ngClass]="{ active: language === 'en' }" class="text-link">
            {{ 'COMMON.LANG.EN' | translate }}
          </div>

          <div (click)="changeLanguage('fr')" [ngClass]="{ active: language === 'fr' }" class="text-link">
            {{ 'COMMON.LANG.FR' | translate }}
          </div>

        </div>
      </ng-container>

      <ng-container *ngIf="noLanguage && !languageHasBeenSet">
        <div class="language-wrapper">

          <label class="form-label">{{ 'COMMON.MAIL_EDITOR.QUESTION' | translate }}</label>

          <div (click)="setLanguage('en')"  [ngClass]="{ active: language === 'en' }" class="text-link">
            {{ 'COMMON.LANG.EN' | translate }}
          </div>

          <div (click)="setLanguage('fr')"  [ngClass]="{ active: language === 'fr' }" class="text-link">
            {{ 'COMMON.LANG.FR' | translate }}
          </div>

        </div>
      </ng-container>

      <!-- preview -->
      <label class="form-switch">
        <input type="checkbox" (change)="onPreview()">
        <i class="form-icon"></i> Preview
      </label>

    </div>

    <!-- section content-->
    <ng-container *ngIf="!noLanguage || languageHasBeenSet">
      <div class="section-content">

        <!-- subject -->
        <ng-container *ngIf="editionMode">
          <div class="form-group">
            <label class="form-label" for="shared-mail-editor-subject">{{ 'COMMON.MAIL_EDITOR.SUBJECT' | translate }}</label>
            <input
              class="form-input"
              [(ngModel)]="email.subject"
              (ngModelChange)="onUpdate($event)"
              name="subject"
              type="text"
              id="shared-mail-editor-subject"
              [placeholder]="'COMMON.MAIL_EDITOR.SUBJECT_PLACEHOLDER' | translate">
          </div>
        </ng-container>

        <ng-container *ngIf="!editionMode">
          <div class="form-group">
            <label class="form-label" for="shared-mail-editor-subject">{{ 'COMMON.MAIL_EDITOR.SUBJECT' | translate }}</label>
            <p class="text">{{ email?.subject }}</p>
          </div>
        </ng-container>

        <!-- ccEmail -->
        <ng-container *ngIf="editionMode && ccEmailField">
          <div class="form-group">
            <label class="form-label" for="shared-mail-editor-ccEmail">{{ 'COMMON.MAIL_EDITOR.CC' | translate }}</label>
            <input
              class="form-input"
              [(ngModel)]="ccEmail"
              (ngModelChange)="onCcEmailUpdate($event)"
              name="ccEmail"
              type="text"
              id="shared-mail-editor-ccEmail"
              [placeholder]="'COMMON.MAIL_EDITOR.CC_PLACEHOLDER' | translate">
          </div>
        </ng-container>

        <ng-container *ngIf="!editionMode && ccEmailField">
          <div class="form-group">
            <label class="form-label" for="shared-mail-editor-ccEmail">{{ 'COMMON.MAIL_EDITOR.CC' | translate }}</label>
            <p class="text">{{ ccEmail }}</p>
          </div>
        </ng-container>

        <!-- message -->
        <ng-container *ngIf="editionMode">

          <div class="dropdown" *ngIf="customField && customField.length">
            <a class="button is-draft is-link dropdown-toggle" tabindex="0">
              <i class="fas fa-link"> </i>Insérer un champ <i class="fas fa-caret-down"> </i>
            </a>
            <ul class="menu">
              <li *ngFor="let field of customField" class="menu-item" (click)="insertTextAtCursor(field.value)">{{ field.label }}</li>
            </ul>
          </div>
          <div class="form-group">
            <label class="form-label">{{ 'COMMON.MAIL_EDITOR.MESSAGE' | translate }}</label>
            <app-text-zone
              #textZone
              [readonly]="!editionMode"
              [data]="email.content || ''"
              [variableMapping]="variableMapping"
              (onTextChange)="updateContent($event)">
            </app-text-zone>
          </div>
        </ng-container>

        <ng-container *ngIf="!editionMode">
          <div class="form-group">
            <label class="form-label">{{ 'COMMON.MAIL_EDITOR.MESSAGE' | translate }}</label>
            <p class="text" [innerHTML]="email?.content"></p>
          </div>
        </ng-container>

      </div>
    </ng-container>

    <!-- section signature
    <div class="section-signature">
      <label class="form-label" for="shared-mail-editor-signature">{{ 'COMMON.MAIL_EDITOR.SIGNATURE' | translate }}</label>
      <select
        class="form-select"
        [ngModel]="email.signature ? email.signature.name : null "
        id="shared-mail-editor-signature">
        <option [ngValue]="null" selected>{{ 'COMMON.SELECT' | translate }}</option>
        <option *ngFor="let signature of signatures" [ngValue]="signature.name">{{ signature.name }} - {{ signature.language }}</option>
      </select>
    </div>-->

  </section>
</ng-container>
