@import "../../../../../../style/framework/src/variables";

#admin-libraries-component {

  .section-header {
    background: white;
    padding-top: 1.57rem;

    .title-secondary {
      color: $background-color;
    }

    .tab {

      .tab-item {
        margin-right: 2.5rem;
      }

    }

  }

}
