@import "../../../../../../style/variables";

#admin-libraries-component {
  padding-top: 0;


  .section-header {
    background: white;
    padding-top: 1.57rem;

    .main-heading {
      color: $background-color;
      font-size: 1.4375rem;
      font-weight: normal;
    }

    .tab .tab-item a {
      border-bottom-width: 4px;
      margin-right: 2.5rem;
    }

  }


  .section-other {
    padding-top: 1.57rem;
  }


}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .tabs {
    border-bottom: none !important;

    li {
      flex: 1 0 auto;

      a {
        margin-right: 0 !important;
        border-bottom: 1px solid #D8D8D8;
      }

    }

  }

}
