@import "../../../../../../../../style/framework/src/variables";

#exploration-component {

  .title-primary {
    font-size: 1.35rem;
  }

  .section-title, .section-analytics {
    padding-bottom: 1.25rem;
  }

  .section-title {

    .title-primary, .btn {
      margin-bottom: 1.25rem;
    }

  }

  .title-secondary {
    color: $secondary-color;
    margin-bottom: 1.25rem;
  }

  .section-analytics {

    .analytic-content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .pd-top {
        padding-top: 1.5rem;
      }

      .analytic-body {
        margin-bottom: 1.25rem;
        margin-left: $unit-2;
        margin-right: $unit-2;
        vertical-align: middle;

        p {
          color: $meta-color;
          font-size: $font-size-md;
        }

        h5 {
          font-size: 1.3rem;
        }

        .svg-text {
          font-size: $font-size-xs;
          font-weight: 600;
          fill: $white-color;
        }

      }

    }

  }

}
