@import "../../../../../../../../style/framework/src/variables";

#exploration-component {

  .title-primary {
    font-size: 1.35rem;
  }

  .section-title, .section-comment, .section-analytics {
    padding-bottom: 1.25rem;
  }

  .section-title {

    .title-primary, .btn {
      margin-bottom: 1.25rem;
    }

  }

  .section-comment {
    display: flex;
    flex-wrap: wrap;

    .status-wrapper {
      min-height: 11rem;
      width: 330px;
      background-color: $background-color;
      border-radius: $border-width-xl;
      padding: 1.25rem;
      margin-right: 1.25rem;
      margin-bottom: 1.25rem;

      h4 {
        color: $light-color;
        font-size: 1.1rem;
        margin-bottom: $unit-5;
        font-weight: $font-weight-normal;
      }

      .status-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $font-size-sm;
        color: $light-color;
      }

      .fa-check, .fa-times {
        margin-right: 0.25rem;
        font-size: $font-icon-lg;
      }

      .fa-check {
        color: $success-color;
      }

      .fa-times {
        color: $alert-color;
      }

    }

    .comment-wrapper {
      flex: 1;
      padding-bottom: 1.25rem;

      .operator-wrapper {
        padding-top: 1.25rem;

        span {
          margin-right: $unit-2;
        }

      }

    }

  }

  .title-secondary {
    color: $secondary-color;
    margin-bottom: 1.25rem;
  }

  .section-analytics {

    .analytic-content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .pd-top {
        padding-top: 1.5rem;
      }

      .analytic-body {
        margin-bottom: 1.25rem;
        margin-left: $unit-2;
        margin-right: $unit-2;
        vertical-align: middle;

        p {
          color: $meta-color;
          font-size: $font-size-md;
        }

        h5 {
          font-size: 1.3rem;
        }

        .svg-text {
          font-size: $font-size-xs;
          font-weight: 600;
          fill: $light-color;
        }

      }

    }

  }

  .section-company {

    .company-content {
      list-style: none;
      margin: 0;

      li {
        margin-top: 0;
        margin-bottom: 0.4rem;
        display: inline-flex;
        width: 33.33%;
      }

    }

  }


}

@media (max-width: $size-md) {

  #exploration-component {

    .company-content {

      li {
        width: 50% !important;
      }

    }

  }

}

@media (max-width: $size-sm) {

  #exploration-component {

   .section-comment {
     flex-direction: column;
   }

  }

}

@media (max-width: 320px) {

  #exploration-component {

    .status-wrapper {
      width: 300px !important;
    }

  }

}
