<div class="container fluid grid-2xl p-top-50 p-bottom-40" id="project-exploration">
  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- fetching -->
    <ng-container *ngIf="isFetching; else stopFetching">
      <div class="loading is-md is-primary"></div>
    </ng-container>
    <!-- /fetching -->

    <ng-template #stopFetching>

      <!--project under editing and submitted status -->
      <ng-container *ngIf="innovation.status === 'EDITING' || innovation.status === 'SUBMITTED'">
        <div class="p-top-50">
          <app-message-template-2 [animation]="true">
            <h2 class="title is-6 text-center">{{ 'PROJECT_MODULE.EXPLORATION.MESSAGE.EDITING' | translate }}</h2>
          </app-message-template-2>
        </div>
      </ng-container>
      <!-- /project under editing and submitted status -->

      <!-- project under evaluating and done status -->
      <ng-container *ngIf="innovation.status === 'EVALUATING' || innovation.status === 'DONE'">

        <!-- section click rate -->
        <div>
          <h3 class="title is-4">{{ 'PROJECT_MODULE.EXPLORATION.CLICK_MAP_TITLE' | translate }}</h3>
          <app-shared-worldmap [targetingCountries]="countries"></app-shared-worldmap>
        </div>
        <!-- /section click rate -->

        <!-- section table -->
        <div class="p-top-30">
          <h3 class="title is-4">
            {{ tableInfos._total === -1 ? 0 : tableInfos._total }}
            {{ 'PROJECT_MODULE.EXPLORATION.INSIGHTS_TITLE' | translate }}
          </h3>
          <umius-table
            (editRow)="onClickShow($event)"
            [(config)]="config"
            [data]="tableInfos">
          </umius-table>
        </div>
        <!-- section table -->

      </ng-container>
      <!-- /project under evaluating and done status -->

    </ng-template>

  </div>
</div>

<!-- sidebar to view user answer -->
<umius-sidebar-full *ngIf="!isFetching" [(template)]="sidebarValue">
  <app-sidebar-user-answer
    [(userAnswer)]="modalAnswer"
    [innovationCards]="innovation.innovationCards"
    [projectId]="innovation._id"
    [questions]="questions">
  </app-sidebar-user-answer>
</umius-sidebar-full>
<!-- /sidebar to view user answer -->
