@import "~@umius/umi-style-framework/scss/variables";

#report {

  .first-page {
    background-color: $white-color;
    display: flex;
    min-height: 934.5px;
  }

  .page-section, .section-6 {
    width: 33.33%;
  }

  .second-page {
    display: flex;
    background-image: url("https://res.cloudinary.com/umi/image/upload/app/default-images/sections/bg-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 931.5px;
  }

  .section-wrapper {
    width: 66.67%;
    display: flex;
    flex-wrap: wrap;
    background-color: $white-color;
  }

  .section {
    display: inline-flex;
    background-color: $white-color;
    padding: 20px;
  }

  .section-2, .section-4 {
    height: 50%;
    display: flex;
    border-bottom: 1px solid $border-default-color;
  }

  .section-4 {
    width: 50%;
    border-left: 1px solid $border-default-color;
  }

  .section-2:last-child {
    border-bottom: none;
  }

  .section-4:last-child, .section-4:nth-child(3) {
    border-bottom: none;
  }

  .section-4:nth-child(1), .section-4:nth-child(3) {
    border-left: none;
  }

}
