@import "../../../../../../../../style/variables";

#executive-conclusion-wrapper {
  background-color: $background-color;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .section-first {
    padding: 1.57rem;

    .main-heading {
      color: white;
      font-size: 24px;
    }

    .conclusion-text {
      font-weight: 600;
      font-size: 13px;
      padding-bottom: -.6rem;
    }

    .operator-contact {
      margin-top: .9375rem;

      .name, .job, .phone {
        font-size: 16px;
        color: white;
        margin-bottom: .18rem;
      }

      .job, .phone, .text-link {
        font-size: 13px;
      }

      .text-link {
        margin-bottom: 0;
      }

    }

  }

  .section-second {
    background-color: #313C48;
    min-height: 146.71px;
    padding: 1.57rem;

    h6 {
      color: white;
      margin-bottom: .18rem;
      font-size: 16px;
    }

    .logo-address {
      margin-top: .6rem;
      display: flex;
      align-items: center;

      .logo img {
        width: 100px;
        height: auto;
      }

      .address {
        font-size: 12px;
        margin-left: .6rem;
        font-weight: 600;

        p {
          padding-bottom: 0;
        }

      }

    }

  }

}
