<div *ngFor="let option of options;let i = index"
     class="horizontal-bar number{{i+1}}">
  <div *ngIf="number" class="bar-number">{{i+1}}</div>
  <div class="bar-fill" [style.width]="barFill(stats[option.identifier].percentage)"></div>
  <div class="bar-name">{{option.label[lang]}}</div>
  <div class="bar-stats tooltip" [attr.data-tooltip]="stats[option.identifier].count + ' ' + ('MARKET_REPORT.ANSWERS' | translate)">
    <span *ngIf="!displayCount">{{stats[option.identifier].percentage}}%</span>
    <span *ngIf="displayCount">{{stats[option.identifier].count}} {{'MARKET_REPORT.ANSWERS' | translate}}</span>
  </div>
</div>
