.toolbar-fixed {
  border-top: 1px solid #2fbbf5;
  background: #0B90C6;
  color: white;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: bold;
  position: sticky;
}

.toolbar-fixed > li {
  display: inline-block;
  border-right: 1px solid rgba(255,255,255,0.2);
  margin-right: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.toolbar-fixed > li:last-child {
  border-right: 0;
}

.toolbar-fixed > li:hover {
  color: #ffdba4;
}

.toolbar-fixed > li[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
}
