<div class="d-flex flex-d-column" id="public-share" style="min-height: 100vh;">

  <!-- header -->
  <ng-container *ngIf="isAuthenticated && !!authUser; else notAuth">
    <app-header></app-header>
  </ng-container>
  <ng-template #notAuth>
    <app-header-unauth></app-header-unauth>
  </ng-template>
  <!-- /header -->

  <!-- body -->
  <div style="flex: 1 0 auto">
    <router-outlet></router-outlet>
  </div>
  <!-- /body -->

  <!-- footer -->
  <app-footer></app-footer>
  <!-- /footer -->

</div>

