<div id="showcase">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- history icon -->
    <div class="shape is-circled bg-white history-wrapper c-hand absolute tooltip is-left history-icon"
         [attr.data-tooltip]="'COMMON.TOOLTIP.HISTORY' | translate"
         (click)="onClickHistoryIcon($event)">
      <i class="fas fa-history text-meta"></i>
    </div>
    <!-- /history icon -->


    <!-- when fetching error -->
    <ng-container *ngIf="fetchingError">
      <div class="d-flex s-error-wrapper align-center">
        <app-utility-error-template-1 style="width: 100%"  [errorMessage]="'ERROR.ERRORS.FETCHING'"></app-utility-error-template-1>
      </div>
    </ng-container>
    <!-- /when fetching error -->


    <!-- start process -->
    <ng-container *ngIf="selectedTagsStats.length === 0 && !fetchingError">
      <div class="s-start-wrapper d-flex align-center">
        <app-message-template-2 style="width: 100%" [animation]="true">

          <div class="text-center">

            <h4 [innerText]="'SHOWCASE.CREATE_SHOWCASE'" class="text-draft" translate></h4>

            <div class="m-top-25">
              <button (click)="modifyTag()" class="button is-rounded is-shadowed" type="button">
                <i class="fas fa-pencil-alt icon-left"></i>
                {{ 'COMMON.BUTTON.CREATE' | translate }}
              </button>
            </div>

          </div>

        </app-message-template-2>
      </div>
    </ng-container>
    <!-- /start process-->


    <!-- section stat -->
    <ng-container *ngIf="selectedTagsStats.length > 0 && !fetchingError">
      <div class="p-top-50 p-bottom-50">

        <!-- heading -->
        <h1 class="text-center title-primary text-normal" [innerText]="'SHOWCASE.MAIN_TITLE'" translate></h1>
        <!-- /heading -->

        <!-- header section -->
        <div class="d-flex selected-tags-wrapper text-center">

          <!--TODO remove multiling-->
          <div *ngFor="let tagStat of selectedTagsStats; let i = index;" class="tag text-meta">
            <span>
              <ng-container *ngIf="tagStat.tag.entry; else noTagStatEntryLabel">
                {{ (tagStat.tag.entry | langEntry:'label':currentLang:true) | titlecase }}
              </ng-container>
              <ng-template #noTagStatEntryLabel>
                {{ (tagStat.tag | langEntry:'label':currentLang:true) | titlecase }}
              </ng-template>
            </span>
            <ng-container *ngIf=" i !== selectedTagsStats.length - 1 "> / </ng-container>
          </div>

          <!-- modify tag link -->
          <div
            class="text-link text-xs tooltip is-hide-sm"
            [attr.data-tooltip]="'SHOWCASE.TOOLTIP.MODIFY_TAGS' | translate"
            (click)="modifyTag()">
            <span [innerText]="'SHOWCASE.MODIFY'" translate></span>
          </div>

        </div>
        <!-- /header section -->

        <!-- horizontal line -->
        <hr class="hr hr-main">
        <!-- /horizontal line -->

        <!-- section answer and innovations -->
        <div class="flex-centered section-wrapper p-top-50 p-bottom-50">

          <!-- answers wrapper -->
          <div class="answer-wrapper">
            <app-showcase-answers
              [totalAnswers]="stats.totalAnswers"
              [tagsStats]="selectedTagsStats"
              [(topAnswers)]="selectedAnswers">
            </app-showcase-answers>
          </div>

          <!-- innovations wrapper -->
          <div class="innovation-wrapper">
            <app-showcase-innovations
              [tagsStats]="selectedTagsStats"
              [(topInnovations)]="selectedInnovations">
            </app-showcase-innovations>
          </div>

          <!-- clients wrapper -->
          <div class="client-wrapper">
            <app-showcase-clients
              [tagsStats]="selectedTagsStats"
              [(topClients)]="selectedClients">
            </app-showcase-clients>
          </div>

        </div>
        <!-- /section answer and innovations -->

        <!-- section map -->
        <div class="flex-centered section-wrapper p-top-50 p-bottom-50">
          <div class="map-wrapper">

            <h2 class="text text-meta" [innerText]="'SHOWCASE.COUNTRIES_TITLE'" translate></h2>

            <h3 class="text-normal">
              {{ countriesCount }} <span [innerText]="'SHOWCASE.COUNTRIES'" translate></span>
            </h3>

            <app-shared-worldmap
              [countriesData]="countries"
              [isShowableQuartiles]="false"
              [isShowableTooltip]="true"
              [quartiles]="quartiles"
              [type]="'demo'">
            </app-shared-worldmap>

          </div>
        </div>
        <!-- /section map -->

      </div>
    </ng-container>
    <!-- /section stat -->

  </div>
</div>


<!-- modal to modify the tags -->
<umius-modal maxWidth="840px" [(showModal)]="modalShow">
  <section class="modal-body">

    <h2 class="text text-draft m-no-bottom title-secondary p-right-1 text-medium p-bottom-1" [innerText]="'SHOWCASE.SECTORS_MODAL.TITLE'" translate></h2>

    <!--TODO remove multiling-->
    <ng-container *ngIf="selectedTagsStats.length">
      <div class="selected-wrapper">
        <div *ngFor="let selected of selectedTagsStats" class="label label-tag is-rounded">
          <span>
            <ng-container *ngIf="selected.tag.entry; else noSelectedEntryLabel">
                {{ (selected.tag.entry | langEntry:'label':currentLang:true) | titlecase }}
              </ng-container>
              <ng-template #noSelectedEntryLabel>
                {{ (selected.tag | langEntry:'label':currentLang:true) | titlecase }}
              </ng-template>
          </span>
        </div>
      </div>
    </ng-container>

    <hr class="hr">

    <!--TODO remove multiling-->
    <div class="d-flex tags-wrapper flex-wrap-wrap">
      <div *ngFor="let tag of sectorTags" class="card is-responsive">
        <label *ngIf="tag.entry && tag.entry.length; else notShowcaseTagEntry" class="form-checkbox text-sm">
          <input
            (change)="onChangeTag($event, tag)"
            type="checkbox">
          <i class="form-icon"></i>
          <span class="text-ellipsis">
            {{ tag.entry | langEntry:'label':currentLang:true | titlecase }}
          </span>
        </label>
        <ng-template #notShowcaseTagEntry>
          <label class="form-checkbox text-sm">
            <input
              (change)="onChangeTag($event, tag)"
              [name]="tag.label | multiling:currentLang"
              type="checkbox">
            <i class="form-icon"></i>
            <span class="text-ellipsis">{{ tag.label | multiling:currentLang | FormatText }}</span>
          </label>
        </ng-template>
      </div>
    </div>

  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button (click)="onClickApply($event)" class="button is-primary">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </footer>
</umius-modal>
<!-- /modal to modify the tags -->

<!-- sidebar for history -->
<umius-sidebar-full [(template)]="sidebarValue">
  <app-sidebar-showcase-history
    [selectedAnswers]="selectedAnswers"
    [selectedClients]="selectedClients"
    [selectedInnovations]="selectedInnovations"
    [tagsStats]="selectedTagsStats"
    (displayShowcase)="displayCustomShowcase($event)">
  </app-sidebar-showcase-history>
</umius-sidebar-full>
<!-- /sidebar for history -->
