<div id="showcase-component" class="section-pad animate-page">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <ng-container *ngIf="!tagSelected">
      <div class="section-pad rm-pad-bottom">
        <app-message-space>
          <span><span class="text-link" (click)="modifyTags('modalTags')">Choose</span> tags to create your own Showcase.</span>
        </app-message-space>
      </div>
    </ng-container>

    <!-- section header -->
    <ng-container *ngIf="tagSelected">

    </ng-container>

  </div>
</div>

<app-modal [(showModal)]="modalShow" [widthMax]="'70vw'" [modalPosition]="'50px'">

  <ng-container *ngIf="modalTags">
    <h2 class="text text-background title-secondary text-medium">Select Tags</h2>

    <div class="flex-between tags-wrapper">
      <div *ngFor="let tag of sectorTags" class="card card-responsive">
        <label class="form-checkbox">
          <input
            (change)="onChangeTag($event, tag)"
            [checked]="getCheckedTag(tag._id)"
            [id]="tag._id"
            [name]="tag.label | multiling:defaultLang"
            [value]="tag._id"
            type="checkbox">
          <i class="form-icon"></i><span>{{ tag.label | multiling:defaultLang | FormatText }}</span>
        </label>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-sm btn-cancel">Cancel</button>
      <button class="btn btn-sm btn-secondary" (click)="onClickApply($event)">Apply</button>
    </div>

  </ng-container>

</app-modal>

<!--<main class="body-wrapper" >

  <h1>
    <span *ngFor="let stats of selectedTagsStats; let i = index">
      {{stats.tag.label | multiling:lang}}
      <span *ngIf="i !== selectedTagsStats.length - 1"> / </span>
    </span>
  </h1>
  <span class="text-link" (click)="openSectorsModal = true" [innerText]="'SHOWCASE.MODIFY'" translate></span>

  <hr>

  <app-showcase-answers [totalAnswers]="stats.totalAnswers" [tagsStats]="selectedTagsStats"></app-showcase-answers>

  <hr>

  <app-showcase-innovations [totalInnovations]="stats.totalInnovations" [tagsStats]="selectedTagsStats"></app-showcase-innovations>

  <hr>

  <div class="map">
    {{ countriesCount }} {{ 'SHOWCASE.COUNTRIES' | translate }}
    <admin-search-map
      [countriesData]="countries"
      [quartiles]="[1, maxFirstTertile, maxSecondTertile]"
      [width]="'auto'">
    </admin-search-map>
  </div>

  <hr>

  <app-showcase-clients [tagsStats]="selectedTagsStats"></app-showcase-clients>

</main>

<app-modal [(showModal)]="openSectorsModal" [modalTitle]="'SHOWCASE.SECTORS_MODAL.TITLE'">

  <form [formGroup]="tagForm" (ngSubmit)="selectTag()">

    <label class="form-switch" for="chooseTag">
      <select class="form-select" formControlName="selectedTag" id="chooseTag">
        <option *ngFor="let tag of sectorTags" [innerText]="tag.label | multiling:lang" [value]="tag._id"></option>
      </select>
    </label>

    <button class="btn btn-primary" [innerText]="'SHOWCASE.SECTORS_MODAL.BUTTON'" translate></button>

  </form>

  <ul>
    <li *ngFor="let stats of selectedTagsStats">
      {{stats.tag.label | multiling:lang}}
      <i class="fas fa-times" (click)="removeStat($event, stats.tag._id)"></i>
    </li>
  </ul>

</app-modal>-->
