#forget-password {

  .section-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 25px;
    padding-bottom: 15px;

    .form-wrapper {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      flex: 1 0 auto;

      .success-wrapper {
        font-size: 0.8rem;
        color: #2ECC71;

        .break {
          display: none;
        }

      }

      .email-wrapper {
        padding-top: 25px;
      }

      .reset-button {
        padding-top: 25px;
      }

    }

  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .heading {
    padding-top: 25px;
  }

}

@media (min-width: 840px) {

  #forget-password {

    .break {
      display: block !important;
    }

  }

}

