#forget-password {

  .section {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 25px;
    padding-bottom: 25px;

    .form-container {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      flex: 1 0 auto;

      .bot-container {
        text-align: center;
        padding-top: 25px;
        display: none;

        .bot-text {
          animation-name: fadeIn;
          animation-duration: 3s;
          animation-timing-function: ease-in-out;
          z-index: 2;
        }

        .bot-trian {
          padding-left: 110px;
          animation-name: fadeIn;
          animation-duration: 3s;
          animation-timing-function: ease-in-out;
          margin-top: -1px;
        }

      }

      .success-container {
        padding-top: 50px;
        font-size: 0.8rem;
        color: #2ECC71;
      }

      .email-container {
        padding-top: 25px;
      }

      .reset-button {
        padding-top: 25px;
      }

    }

    .create-container {

      .primary-button {
        height: 45px;
        padding-right: 15px;
        padding-left: 15px;
      }

    }

  }

}

