.piechart {
  font-size: 14px;
  font-weight: 600;
  max-width: 320px;

  .percentage {
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  .chart-pie {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
    width: 220px !important;
  }

  .pie-data {
    display: inline-block;
    margin-bottom: -10px;

    .data {
      display: inline-flex;
      margin-bottom: 10px;
      margin-right: 10px;
      flex-wrap: wrap;
      font-size: 11px;

      .circle {
        width: 13px;
        height: 13px;
        margin-top: 1.2px;
      }

      .response, .circle, .text{
        margin-right: 8px;
      }

    }

  }


}

/********************************** Media ***************************************/

@media (max-width: 840px) {

  .piechart {
    max-width: 100% !important;
  }

}

@media (max-width: 320px) {

  .pie-data {
    display: flex !important;
    flex-direction: column;
  }

}
