.big-synthesis {
  position: relative;
  background: white;
  padding: 0;
  text-align: center;
  min-width: 220px;
  font-weight: 600;
  font-size: 0.7rem;
  color: #FFFFFF;
  max-width: 220px;

  .chart-pie {
    height: auto !important;
    width: 150px !important;
    margin: 0 auto 30px auto;
  }

  .number-ratio {
    // color: #8E8E8E;

    span {
      font-size: 1.6rem;
      color: #0B90C6;
    }

    p {
      color: #0B90C6;
    }

  }

}
