@import "../../../../../../../style/framework/src/variables";

.pie-chart {
  max-width: 320px;
  min-width: 280px;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;

  .percentage, .chart-pie {
    margin-bottom: 0.75rem;
  }

  .chart-pie {
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
    max-width: 320px !important;
  }

  .pie-data-wrapper {

    ul {
      margin: 0;
      list-style: none;

      li {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        margin: $unit-2 $unit-2 0 0;

        .circle, .response, .text-label {
          margin-right: $unit-2;
        }

        .circle {
          width: 12px;
          height: 12px;
          border-radius: 25px;
        }

      }

    }

  }

}

.executive-pie-chart {
  font-size: 12px;
  font-weight: $font-weight-medium;

  .percentage, .chart-pie {
    margin-bottom: 5px;
  }

  .percentage {
    font-size: 12px;
    color: $meta-color;
  }

  .pie-data-wrapper {

    ul {

      li {
        margin: 5px 5px 0 0;
        vertical-align: middle;

        .circle, .response, .text-label {
          margin-right: 5px;
        }

      }

    }

  }

}

@media (max-width: $size-md) {

  .pie-chart {
    max-width: 100% !important;
  }

}
