<section id="admin-professionals" class="section-light-pad">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <div class="restrict-width">


      <!-- fetching error -->
      <ng-container *ngIf="fetchingError">
        <div class="a-p-error-wrapper d-flex align-center">
          <app-error-template-1 [errorMessage]="'ERROR.ERRORS.FETCHING'"></app-error-template-1>
        </div>
      </ng-container>
      <!-- /fetching error -->


      <!-- professionals -->
      <ng-container *ngIf="!fetchingError">
        <app-shared-professionals-list
          [(config)]="config"
          [professionals]="professionals"
          [tableSelector]="'admin-pros-limit'"
          [total]="total">
        </app-shared-professionals-list>
      </ng-container>
      <!-- /professionals -->


    </div>
  </div>
</section>
