div.professional-comment {
  color: white;
  padding: 17px 16px 13px 24px;

  p {
    margin-bottom: 0;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .fa-star {
    color: #FEBE34;
    margin-left: 15px;
  }
}

