.professional-comment-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: .875rem;

  .divider-wrapper {
    margin: 0 1.57rem;
    border: 1px solid #D7D7D7;
    border-radius: .18rem;
    height: 80%;
  }

  .comment-wrapper {
    justify-content: center;
    max-width: 50%;
  }

}

/********************************** Media ***************************************/
@media (max-width: 840px) {

  .professional-comment-wrapper {
    flex-direction: column;

    .divider-wrapper {
      margin: 1.57rem 0;
      width: 90%;
    }

    .comment-wrapper {
      max-width: 100%;
    }

  }

}


