$dark-bg: #262831;
$second-color: #0B90C6;

.project-header-card {
  background: $dark-bg;
  color: white;
  padding-bottom: 16px;
  margin-bottom: 80px;

  h1 {
    color: white;
    margin-top: 50px;
    font-size: 2.3rem;
  }

  h1::after {
    display: none;
  }

  h2 {
    margin-bottom: 20px;
  }

  .pitch {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

  .metas {
    font-size: 0.8rem;
    color: #878787;
    line-height: 36px;
  }

  .metas::after {
    display: block;
    content: '';
    width: 124px;
    background: white;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 26px;
  }

  .share {
    color: #929398;
  }
}

.market-benefits {
  background: #FAFAFA;
  padding: 60px 0;
  margin-bottom: 80px;
  margin-top: 80px;
}

h3 {
  color: $second-color;
}



@media print and (color) {

  h2 {
    margin-bottom: 20px !important;
  }

  .galery-innovation-card {
    //page-break-before: always;
  }

  .project-header-card {
    background: transparent !important;
    padding: 40px 0 !important;
    margin: 0 !important;

    h1 {
      color: #333 !important;
      margin: 0 !important;
    }

    .metas {
      display: none !important;
    }

    .pitch {
      font-size: 0.9rem;
      color: #333 !important;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }
  }

  .project-page {
    display: none !important;
  }

  .share {
    display: none !important;
  }

  .market-benefits {
    background: transparent !important;
    padding: 30px 0 !important;
    margin-bottom: 40px !important;
    margin-top: 40px !important;
    page-break-after: always;
  }

}
