<div>
  <div class="project-header-card">
    <div class="container">
      <div class="columns">
        <div class="column col-10 col-mx-auto">
          <h1>{{ project.innovationCards[idInnovationCard].title }}</h1>
          <div class="metas">
            {{ 'COMMON.PROJECT_STATUS.' + project.projectStatus | translate }}
            {{ project.patented ? ' • ' + ('PROJECT.PATENTED' | translate) : '' }}

          </div>
          <div class="pitch">{{ project.innovationCards[idInnovationCard].summary }}</div>

          <div class="columns">
            <div class="column col-9">
              <button class="btn btn-lg btn-primary" [routerLink]="'./edit'" (click)="$event.preventDefault()"
                      *ngIf="((project.status === 'EDITING' && isProjectOwner) || isAdmin) && !onEditingPage">
                {{ 'COMMON.EDIT' | translate}} <i class="icon icon-arrow-right"></i>
              </button>
              <button class="btn btn-lg btn-primary" *ngIf="false && project.owner && !isProjectOwner"><!-- TODO popup textarea de contact -->
                {{ 'PROJECT.CONTACT_PROJECT_MANAGER' | translate}} <i class="icon icon-arrow-right"></i>
              </button>
              <!--<pdf-generator class="btn btn-lg btn-primary" [model]="getModel()" *ngIf="project.status !== 'EDITING'">
              </pdf-generator>-->
            </div>
            <div class="column col-3 share" align="right">
              {{ 'PROJECT.SHARE.TITLE' | translate}}<br>
              <a [href]="shareService.linkedinProjectShareLink(project, lang)" target="_blank">
                <img src="https://res.cloudinary.com/umi/image/upload/app/share-linkedin.png" width="36" height="36"
                title="{{ 'PROJECT.SHARE.LINKEDIN' | translate}}">
              </a>
              <a [href]="shareService.twitterProjectShareLink(project, lang)" target="_blank">
                <img src="https://res.cloudinary.com/umi/image/upload/app/share-twitter.png" width="36" height="36"
                     title="{{ 'PROJECT.SHARE.TWITTER' | translate}}">
              </a>
              <a [href]="shareService.facebookProjectShareLink(project)" target="_blank">
                <img src="https://res.cloudinary.com/umi/image/upload/app/share-facebook.png" width="36" height="36"
                     title="{{ 'PROJECT.SHARE.FACEBOOK' | translate}}">
              </a>
              <a [href]="shareService.mailProjectShareLink(project, lang)" target="_blank">
                <img src="https://res.cloudinary.com/umi/image/upload/v1512724745/share-mail_e8xztz.png" width="36" height="36"
                     title="{{ 'PROJECT.SHARE.MAIL' | translate}}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container centered" *ngIf="project.principalMedia">
    <div class="columns">
      <div class="column col-10 col-mx-auto">
        <!-- Si le média principal est une photo -->
        <a *ngIf="project.principalMedia.type == 'PHOTO'" [href]="'https://res.cloudinary.com/umi/image/upload/' + project.principalMedia.cloudinary.public_id" target="_blank">
          <img [src]="'https://res.cloudinary.com/umi/image/upload/c_scale,w_600/' + project.principalMedia.cloudinary.public_id"
               alt="" width="597" height="418" class="img-responsive centered">
        </a>
        <!-- Si le média principal est une vidéo -->
        <div class="centered">
          <app-video *ngIf="project.principalMedia.type == 'VIDEO'" [media]="project.principalMedia"></app-video>
        </div>
      </div>
    </div>
  </div>

  <div class="galery-innovation-card" *ngIf="project.innovationCards[idInnovationCard].media?.length > 1">
      <div class="columns">
        <div
          [hidden]="project.innovationCards[idInnovationCard].principalMediaIdx == idx"
          class="column col-4 col-mx-auto" *ngFor="let media of project.innovationCards[idInnovationCard].media;let idx = index">
          <!-- Si le média est une photo -->
          <a *ngIf="media.type == 'PHOTO'" [href]="'https://res.cloudinary.com/umi/image/upload/' + media.cloudinary.public_id" target="_blank">
            <img [src]="'https://res.cloudinary.com/umi/image/upload/c_scale,w_600/' + media.cloudinary.public_id"
                 alt="" width="597" height="418" class="img-responsive">
          </a>
          <!-- Si le média est une vidéo -->
          <app-video *ngIf="media.type == 'VIDEO'" [media]="media"></app-video>
        </div>
      </div>
  </div>

  <div class="market-benefits">
    <div class="container">
      <div class="columns">
        <div class="column col-10 col-mx-auto">
          <h2>{{ 'PROJECT.MARKET_BENEFITS' | translate }}</h2>
          <ul>
            <li *ngFor="let advantage of project.innovationCards[idInnovationCard].advantages">{{ advantage.text }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column col-10 col-mx-auto">
        <div class="columns">
          <div class="column col-6">
            <h2>{{ 'PROJECT.ISSUE' | translate }}</h2>
            <p [innerHtml]="project.innovationCards[idInnovationCard].problem"></p>
          </div>
          <div class="column col-6">
            <h2>{{ 'PROJECT.SOLUTION' | translate }}</h2>
            <p [innerHtml]="project.innovationCards[idInnovationCard].solution"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
