<div>
  <div class="project-header">
    <div class="container">
      <div class="columns">
        <div class="column col-10 col-mx-auto">
          <h1>{{ project.innovationCards[idInnovationCard].title }}</h1>
          <div class="metas">
            {{ 'COMMON.PROJECT_STATUS.' + project.projectStatus | translate }}
            {{ project.patented ? ' • ' + ('PROJECT.PATENTED' | translate) : '' }}

          </div>
          <div class="pitch">{{ project.innovationCards[idInnovationCard].summary }}</div>

          <div class="columns">
            <div class="column col-9">
              <button class="btn btn-lg btn-primary" [routerLink]="'./edit'" *ngIf="project.status === 'EDITING' && isProjectOwner">
                {{ 'COMMON.EDIT' | translate}} <i class="icon icon-arrow-right"></i>
              </button>
              <button class="btn btn-lg btn-primary" *ngIf="project.owner && !isProjectOwner"><!-- TODO popup textarea de contact -->
                {{ 'PROJECT.CONTACT_PROJECT_MANAGER' | translate}} <i class="icon icon-arrow-right"></i>
              </button>
              <pdf-generator [model]="getModel()" *ngIf="project.status !== 'EDITING'">
              </pdf-generator>
            </div>
            <div class="column col-3 share">
              Share<br>
              <a [href]="shareService.linkedinProjectShareLink(project)" target="_blank">
                <img src="https://res.cloudinary.com/umi/image/upload/app/share-linkedin.png" width="52" height="52">
              </a>
              <a [href]="shareService.twitterProjectShareLink(project)" target="_blank">
                <img src="https://res.cloudinary.com/umi/image/upload/app/share-twitter.png" width="52" height="52">
              </a>
              <a [href]="shareService.facebookProjectShareLink(project)" target="_blank">
                <img src="https://res.cloudinary.com/umi/image/upload/app/share-facebook.png" width="52" height="52">
              </a>
              <a href="#">
                <img src="https://res.cloudinary.com/umi/image/upload/app/share-google.png" width="52" height="52">
              </a><!-- TODO remplacer par EMAIL -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column col-10 col-mx-auto">
        <div class="columns">
          <div class="column col-4 col-mx-auto" *ngFor="let media of project.innovationCards[idInnovationCard].media">
            <a [href]="'https://res.cloudinary.com/umi/image/upload/' + media.cloudinary.public_id" target="_blank">
              <img [src]="'https://res.cloudinary.com/umi/image/upload/c_scale,w_600/' + media.cloudinary.public_id"
                   alt="" width="597" height="418" class="img-responsive">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="market-benefits">
    <div class="container">
      <div class="columns">
        <div class="column col-10 col-mx-auto">
          <h2>{{ 'PROJECT.MARKET_BENEFITS' | translate }}</h2>
          <ul>
            <li *ngFor="let advantage of project.innovationCards[idInnovationCard].advantages">{{ advantage }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column col-10 col-mx-auto">
        <div class="columns">
          <div class="column col-6">
            <h2>{{ 'PROJECT.ISSUE' | translate }}</h2>
            <p [innerHtml]="project.innovationCards[idInnovationCard].problem"></p>
          </div>
          <div class="column col-6">
            <h2>{{ 'PROJECT.SOLUTION' | translate }}</h2>
            <p [innerHtml]="project.innovationCards[idInnovationCard].solution"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
