.ques-label {
  padding-top: 50px;
  padding-bottom: 0;
  color: #97A4B1;
  font-weight: 600;
}

.response-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.comment-wrapper {
  display: flex;
  justify-content: space-between;

  .form-default {
    margin-top: 20px;
    max-width: 80%;
    padding: 6px 12px;
    font-size: 12px;
  }

}

.comment-answer {
  color: #333333;
  padding-top: 10px;
  padding-bottom: 0;
}

.answer {
  color: #FFB300;
}

.gaping {
  margin-right: 30px;
}

.inactive {
  color: #333333;
}

.comment-text {
  color: #0B90C6;
  padding-bottom: 0;
}

.pd-top {
  padding-top: 20px;
}

.pd-bottom {
  padding-bottom: 20px;
}

.list-wrapper {
  background: #4F5D6B;
  color: white;
  border-radius: 25px;
  display: inline-flex;
  margin-right: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;

  a {

    i {
      margin-left: 15px;
      font-size: 16px;
      color: #FFB300;
    }

    i:hover {
      cursor: pointer;
      color: lighten(#FFB300, 10%);;
    }

  }

}


.topItem, .badItem {
  background: #2ECC71;
  color: white;

  i {
    color: rgba(255, 255, 255, 0.8);
  }

  i:hover {
    color: white;
  }

}

.badItem {
  background: #EA5858;
}

.checkbox-wrapper {
  color: #333333;

  li {
    padding-left: 0;
    padding-top: 0;
  }

}

i {
  color: #adadad;
  cursor: pointer;
  font-size: 20px;
}

i:hover {
  color: #0B90C6;
}


/********************************** Media ***************************************/

@media (max-width: 600px) {

  .comment-wrapper {
    flex-direction: column;

    .form-default {
      max-width: 100%;
    }

  }

}
