<div [hidden]="!canAccess() && isLoading" class="container fluid grid-2xl p-top-30" id="admin-enterprise-management">
  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- button create -->
    <section *ngIf="canAccess(['add'])" class="text-right p-bottom-30">
      <button (click)="openSidebar($event, 'CREATE')" class="button is-primary is-sm" type="button">
        <i class="fas fa-plus m-no-left"></i>
        Create enterprise
      </button>
    </section>
    <!-- /button create -->

    <!-- searching finished and no result -->
    <app-message-template *ngIf="!isSearching && nothingFound" [widthMax]="'450px'">
      I tried hard, but couldn't find anything. Try harder and refine your search (or create a new enterprise).
    </app-message-template>
    <!-- /searching finished and no result -->

    <!-- searching finished and result -->
    <section class="p-bottom-30 p-top-20">
      <umius-table
        (editRow)="openSidebar($event, 'EDIT')"
        (removeRows)="removeCompanies($event)"
        [(config)]="queryConfig"
        (performAction)="performAction($event)"
        [data]="resultTableConfiguration"
        [loading]="isSearching">
      </umius-table>
    </section>
    <!-- /searching finished and result -->

  </div>
</div>

<!-- sidebar -->
<app-sidebar [(template)]="sidebarValue">
  <app-sidebar-enterprises
    (finalOutput)="updateEnterprise($event)"
    [enterprise]="selectedEnterprise._id"
    [isEditable]="isEditable"
    [isSaving]="isSaving"
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type">
  </app-sidebar-enterprises>
</app-sidebar>
<!-- /sidebar -->


