<header class="navbar">
  <section class="navbar-section" *ngIf="!authService.isAuthenticated">
    <a href="https://www.umi.us" class="navbar-brand mr-2">
      <img src="https://res.cloudinary.com/umi/image/upload/c_scale,h_30/app/logo-umi.png" alt="Logo UMI" height="30">
    </a>
  </section>
  <section class="navbar-section" *ngIf="authService.isAuthenticated">
    <a routerLink="/" class="navbar-brand mr-2">
      <img src="https://res.cloudinary.com/umi/image/upload/c_scale,h_30/app/logo-umi.png" alt="Logo UMI" height="30">
    </a>
  </section>

  <!-- Non connecté -->
  <section class="navbar-section" *ngIf="!authService.isAuthenticated">
    <a [routerLink]="'/login'" routerLinkActive="active" class="btn btn-link">{{ 'COMMON.LOG_IN' | translate}}</a>
    <a [routerLink]="'/signup'" routerLinkActive="active" class="btn btn-primary">{{ 'HEADER.START' | translate}}</a>
  </section>

  <!-- Connecté -->
  <section class="navbar-section" *ngIf="authService.isAuthenticated">
    <!--<a href="http://help.umi.us" target="_blank" class="btn btn-link">{{ 'COMMON.HELP' | translate }}</a>-->
    <a [routerLink]="'/projects'" routerLinkActive="active" class="btn btn-link">{{ 'COMMON.MY_PROJECTS' | translate }}</a>
    <!--<a [routerLink]="'/users'" routerLinkActive="active" class="btn btn-link" *ngIf="authService.isAdmin">{{ 'COMMON.MY_USERS' | translate }}</a>-->
    <a [routerLink]="'/account'" routerLinkActive="active" class="btn btn-link">{{ 'COMMON.MY_ACCOUNT' | translate }}</a>
    <a [routerLink]="'/admin'" routerLinkActive="active" class="btn btn-link" *ngIf="authService.isAdmin">{{ 'COMMON.ADMIN' | translate }}</a>
  </section>
</header>
