$dark-background: #262831;
$primary-color: #0db5ca;

header {
  background: $dark-background;
  padding: 10px;

  .navbar-brand {
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    margin-top: 5px;
  }

  .btn.btn-link {
    color: white;
    font-weight: 400;
    margin-left: 20px;
    &.active/*, &:hover*/ {
      // color: $primary-color;
      font-weight: bolder;
    }
  }

  .logo {
    height: 30px;
  }

}
