<div id="reassign-answer">

  <div *ngIf="showBanner" class="m-bottom-20 text-white">
    <app-utility-banner
      [background]="isSearchingPro ? 'bg-progress' : proFound ? 'bg-success' : 'bg-alert'"
      [position]="'relative'"
      [showBanner]="true"
      [showCloseBtn]="false">
      <ng-container *ngIf="isSearchingPro">
        <span class="loading is-sm is-white"></span>
        <span class="p-left-20">Searching pro, please be patient.</span>
      </ng-container>
      <ng-container *ngIf="!isSearchingPro">
        {{ proFound }} pro has been found.
      </ng-container>
    </app-utility-banner>
  </div>

  <!-- firstName | lastName -->
  <div class="input-group m-bottom-20">

    <div class="form-group">
      <label class="form-label" for="reassign-answer-firstName">First Name</label>
      <input
        (change)="emitPro()"
        [(ngModel)]="newPro.firstName"
        [disabled]="isSearchingPro"
        class="form-input is-sm is-shadowed"
        id="reassign-answer-firstName"
        placeholder="Enter the first name"
        type="text">
    </div>

    <div class="form-group">
      <label class="form-label" for="reassign-answer-lastName">Last Name</label>
      <input
        (change)="emitPro()"
        [(ngModel)]="newPro.lastName"
        [disabled]="isSearchingPro"
        class="form-input is-sm is-shadowed"
        id="reassign-answer-lastName"
        placeholder="Enter the last name"
        type="text">
    </div>

  </div>
  <!-- /firstName | lastName -->

  <!-- email | job title -->
  <div class="input-group m-bottom-20">

    <div class="form-group">
      <label class="form-label" for="reassign-answer-email">Email Address</label>
      <input
        (change)="emitPro('EMAIL')"
        [(ngModel)]="newPro.email"
        [disabled]="isSearchingPro"
        class="form-input is-sm is-shadowed"
        id="reassign-answer-email"
        placeholder="Enter the email address"
        type="text">
    </div>

    <div class="form-group">
      <label class="form-label" for="reassign-answer-job">Job Title</label>
      <input
        (change)="emitPro()"
        [(ngModel)]="newPro.jobTitle"
        [disabled]="isSearchingPro"
        class="form-input is-sm is-shadowed"
        id="reassign-answer-job"
        placeholder="Enter the job"
        type="text">
    </div>

  </div>
  <!-- /email | job title -->

  <!-- company | country -->
  <div class="input-group m-bottom-20">

    <div class="form-group">
      <label [for]="'reassign-answer-company'" class="form-label">Company</label>
      <umius-auto-complete-company
        (companyChange)="onCompanySelect($event)"
        [formInputClass]="'is-sm is-shadowed'"
        [company]="company"
        [inputId]="'reassign-answer-company'"
        [isDisabled]="isSearchingPro">
      </umius-auto-complete-company>
    </div>

    <div class="form-group">
      <label [for]="'reassign-answer-country'" class="form-label">Country</label>
      <umius-auto-complete-country
        (countryChange)="onCountrySelect($event)"
        [country]="country"
        [formInputClass]="'is-sm is-shadowed'"
        [inputId]="'reassign-answer-country'"
        [isDisabled]="isSearchingPro">
      </umius-auto-complete-country>
    </div>

  </div>
  <!-- /company | country -->

</div>
