<div id="reassign-answer">

  <div *ngIf="isSearchingPro" class="m-bottom-20">
    <app-utility-banner
      [background]="'bg-progress'"
      [position]="'relative'"
      [showBanner]="true"
      [showCloseBtn]="false">
      <span class="loading is-sm is-white"></span>
      <span class="p-left-20">Searching pro associated to this Email address, please be patient.</span>
    </app-utility-banner>
  </div>

  <!-- firstName | lastName -->
  <div class="input-group m-bottom-20">

    <div class="form-group">
      <label class="form-label" for="reassign-answer-firstName">First Name</label>
      <input
        (change)="emitPro()"
        [(ngModel)]="newPro.firstName"
        [disabled]="isSearchingPro"
        class="form-input is-sm is-shadowed"
        id="reassign-answer-firstName"
        placeholder="Enter the first name"
        type="text">
    </div>

    <div class="form-group">
      <label class="form-label" for="reassign-answer-lastName">Last Name</label>
      <input
        (change)="emitPro()"
        [(ngModel)]="newPro.lastName"
        [disabled]="isSearchingPro"
        class="form-input is-sm is-shadowed"
        id="reassign-answer-lastName"
        placeholder="Enter the last name"
        type="text">
    </div>

  </div>
  <!-- /firstName | lastName -->

  <!-- email | job title -->
  <div class="input-group m-bottom-20">

    <div class="form-group">
      <label class="form-label" for="reassign-answer-email">Email Address</label>
      <input
        (change)="emitPro('EMAIL')"
        [(ngModel)]="newPro.email"
        [disabled]="isSearchingPro"
        class="form-input is-sm is-shadowed"
        id="reassign-answer-email"
        placeholder="Enter the email address"
        type="text">
    </div>

    <div class="form-group">
      <label class="form-label" for="reassign-answer-job">Job Title</label>
      <input
        (change)="emitPro()"
        [(ngModel)]="newPro.jobTitle"
        [disabled]="isSearchingPro"
        class="form-input is-sm is-shadowed"
        id="reassign-answer-job"
        placeholder="Enter the job"
        type="text">
    </div>

  </div>
  <!-- /email | job title -->

  <!-- company | country -->
  <div class="input-group m-bottom-20">

    <div class="form-group">
      <label class="form-label" for="reassign-answer-company">Company</label>
      <input
        (change)="emitPro()"
        [(ngModel)]="newPro.company"
        [disabled]="isSearchingPro"
        class="form-input is-sm is-shadowed"
        id="reassign-answer-company"
        placeholder="Enter the company"
        type="text">
    </div>

    <div class="form-group">
      <label class="form-label">Country</label>
      <app-utility-auto-complete-input
        (update)="updateCountry($event)"
        [config]="countryConfig"
        [isEditable]="!isSearchingPro"
        [isSmall]="true"
        [onlyOne]="true">
      </app-utility-auto-complete-input>
    </div>

  </div>
  <!-- /company | country -->

</div>
