<article id="discover-description">
  <div class="restrict-width">
    <div class="p-bottom-50 p-top-50">
      <div class="column col-xs-12 col-11 col-mx-auto">


        <!-- fetching error -->
        <section *ngIf="fetchingError">
          <div class="d-d-error-wrapper d-flex align-center">
            <app-utility-error-template-1 [errorMessage]="'ERROR.FETCHING_ERROR'" style="width: 100%" [ngStyle]="{ 'width': '100%' }">
              <p [innerText]="'ERROR.ERRORS.PROJECT_FETCHING_ERROR'" translate></p>
            </app-utility-error-template-1>
          </div>
        </section>
        <!-- /fetching error -->


        <!-- result -->
        <div *ngIf="!fetchingError && innovationCard" class="d-d-content-wrapper">


          <!-- header -->
          <section class="p-bottom-25">

            <!-- back to innovations -->
            <div class="d-d-back-link">
              <a routerLink="/discover" class="text-sm d-inline-flex align-center">
                <i class="fas fa-angle-left m-right-1 text-primary"></i>
                <span class="text-link text-normal" [innerText]="'DISCOVERDESCRIPTION.BACK'" translate></span>
              </a>
            </div>

            <!-- innovation title -->
            <h1 class="d-d-title m-no-bottom" style="font-size: 2.3rem">{{ innovationCard.title }}</h1>

            <!-- innovation tags -->
            <div *ngIf="tags.length > 0" class="d-d-tags-wrapper">
              <div *ngFor="let tag of tags" class="label label-tag text-meta m-no">
                <i class="fas fa-tag"></i>
                <span class="label-text">{{ tag }}</span>
              </div>
            </div>

            <!-- innovation summary -->
            <div *ngIf="innovationCard.summary" class="d-d-summary-wrapper p-top-10">
              <div [innerHTML]="innovationCard.summary | cleanHtml"></div>
            </div>

          </section>
          <!-- /header -->


          <!-- images -->
          <section *ngIf="innovationCard.media && innovationCard.media.length > 0" class="d-flex justify-center flex-wrap-wrap">
            <div *ngFor="let media of innovationCard.media" class="d-inline-flex d-d-media-wrapper">

              <!-- if image -->
              <figure *ngIf="media?.type === 'PHOTO'" class="img-overlay c-hand">
                <img
                  (click)="mediaToShow(media.url)"
                  [alt]=" "
                  [src]="getSrc(media)"
                  class="img-responsive img-fit-cover"
                  height="177"
                  width="280">
              </figure>

              <!-- if video -->
              <ng-container >
                <iframe
                  *ngIf="media?.type === 'VIDEO'"
                  style="left: 0; width: 280px; border-width: 0"
                  [src]="domSanitizer.bypassSecurityTrustResourceUrl(media.video.embeddableUrl)"
                  allowfullscreen
                  height="177">
                </iframe>
              </ng-container>

            </div>
          </section>
          <!-- /images -->


          <!-- benefits -->
          <section *ngIf="innovationCard.advantages && innovationCard.advantages.length > 0" class="p-bottom-20">
            <h2 class="d-d-title-secondary" [innerText]="'DISCOVERDESCRIPTION.BENEFITS'" translate></h2>
            <ul style="font-size: 0.75rem" class="m-top-3 m-no-bottom">
              <li *ngFor="let advantage of innovationCard.advantages" class="text-draft">
                {{ advantage.text | FormatText }}
              </li>
            </ul>
          </section>
          <!-- /benefits -->


          <!-- issue -->
          <section *ngIf="sectionInfo('ISSUE')" class="p-bottom-20">
            <h2 class="d-d-title-secondary" [innerText]="'DISCOVERDESCRIPTION.ISSUE'" translate></h2>
            <div class="d-d-issue-wrapper">
              <div [innerHTML]="sectionInfo('ISSUE') | cleanHtml"></div>
            </div>
          </section>
          <!-- /issue -->


          <!-- solution -->
          <section *ngIf="sectionInfo('SOLUTION')" class="p-bottom-20">
            <h2 class="d-d-title-secondary" [innerText]="'DISCOVERDESCRIPTION.SOLUTION'" translate></h2>
            <div class="d-d-solution-wrapper">
              <div [innerHTML]="sectionInfo('SOLUTION') | cleanHtml"></div>
            </div>
          </section>
          <!-- /solution -->


          <!-- share -->
          <section class="text-center p-top-25 p-bottom-25 d-d-share-wrapper">

            <!-- action buttons -->
            <div class="d-d-action-buttons-wrapper">

              <a
                [href]="contactUsUrl"
                class="button is-rounded"
                target="_blank">
                {{ 'DISCOVERDESCRIPTION.CONTACT_US' | translate }}
              </a>

              <a
                [href]="quizUrl"
                [ngStyle]="{ 'display': quizButtonDisplay }"
                class="button is-outlined is-info is-rounded"
                target="_blank">
                {{ 'DISCOVERDESCRIPTION.OPINION' | translate }}
              </a>

            </div>

            <!-- share buttons -->
            <div class="m-top-15 d-d-share-buttons-wrapper">

              <h3 class="d-d-title-secondary text-sm text-draft" [innerText]="'DISCOVERDESCRIPTION.SHARE_TITLE'" translate></h3>

              <a
                [href]="linkedInUrl"
                class="button is-circled is-sm btn-linkedin"
                target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>

              <a
                [href]="twitterUrl"
                class="button is-circled is-sm btn-twitter"
                target="_blank">
                <i class="fab fa-twitter"></i>
              </a>

              <a
                [href]="mailUrl"
                class="button is-circled is-sm btn-mail"
                target="_blank">
                <i class="fas fa-envelope"></i>
              </a>

            </div>

          </section>
          <!-- /share -->


          <!-- related innovations -->
          <section *ngIf="innovationsRelated.length > 0" class="p-top-25">

            <div class="text-sm p-bottom-15 align-center d-d-text d-flex">
              <i class="fas fa-angle-right m-right-1 text-warning"></i>
              <span class="text-draft" [innerText]="'DISCOVERDESCRIPTION.RELATED'" translate></span>
            </div>

            <!-- cards -->
            <div class="d-flex text-center justify-center d-d-cards-wrapper">
              <div *ngFor="let innovation of innovationsRelated | slice:0:3;" class="card">

                <!-- image -->
                <div class="card-image">
                  <a [href]="[getLink(innovation.innovationCard)]">
                    <figure class="img-overlay">
                      <img
                        [src]="getRelatedSrc(innovation.innovationCard)"
                        alt=" "
                        height="177"
                        width="280">
                    </figure>
                  </a>
                </div>

                <!-- card header -->
                <div class="card-header">
                  <div class="card-title">

                    <!-- title -->
                    <a [href]="[getLink(innovation.innovationCard)]">
                      <h6 class="m-no-bottom text-sm">{{ innovation.innovationCard.title }}</h6>
                    </a>

                    <!-- tags -->
                    <div *ngIf="innovation.tags.length > 0" class="d-flex flex-wrap-wrap p-top-2 justify-center">
                      <div *ngFor="let tag of innovation.tags" class="d-inline-flex">
                        <div *ngIf="tag.type === 'SECTOR'" class="label m-no label-tag text-xs text-meta">
                          <i class="fas fa-tag"></i>
                          <span class="label-text">
                            {{ tag.entry | langEntry:'label':lang:true }}
                          </span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

          </section>
          <!-- /related innovations -->


        </div>
        <!-- /result -->


      </div>
    </div>
  </div>
</article>


<!-- modal to view image -->
<umius-modal [(showModal)]="modalMedia" [medias]="[selectedMedia]"></umius-modal>
<!-- /modal to view image-->
