@import "../../../../../../../style/variables";

#executive-report-wrapper {

  .one-page {
    background-color: white;
    display: flex;
    border-radius: 3px;

    .section {
      width: 33.33%;
    }

  }

  .section-wrapper {
    display: inline-flex;
    background-color: white;
    padding: 25px;
  }

  .section-2 {
    height: 50%;
    display: flex;
    border-bottom: 1px solid $border-color;
  }

  .section-2:last-child {
    border-bottom: none;
  }

}
