@import "../../../../../../../style/variables";

#executive-report-wrapper {

  .page-first {
    background-color: white;
    display: flex;
    border-radius: 3px;
  }

  .section {
    width: 33.33%;
  }

  .sections {
    width: 66.67%;
    display: flex;
    flex-wrap: wrap;
  }

  .second-page {
    padding-top: 3.15rem;

    .second-page-wrapper {
      display: flex;
      border-right: 3px;
      background-color: white;
      min-height: 864.67px;
    }

  }

  .section-wrapper {
    display: inline-flex;
    background-color: white;
    padding: 25px;
  }

  .section-2, .section-4 {
    height: 50%;
    display: flex;
    border-bottom: 1px solid $border-color;
  }

  .section-4 {
    width: 50%;
    border-left: 1px solid $border-color;
  }

  .section-2:last-child {
    border-bottom: none;
  }

  .section-4:last-child, .section-4:nth-child(3) {
    border-bottom: none;
  }

  .section-4:nth-child(1), .section-4:nth-child(3) {
    border-left: none;
  }

}


