<div id="shared-professional-targeting" class="w-full">

  <section class="config-wrapper w-full d-flex m-top-4">
    <!-- Seniority level -->
    <div class="flex-d-column align-center text-center" style="width: 45%">
      <h5>Seniority Levels</h5>
      <div class="card">
        <div class="card-body">
          <section class="section-all">

            <div class="select-wrapper d-flex align-center">
              <div class="button-checker m-left-3"
                   [ngClass]="{'state-full-check': selectAllSeniorityLevels === 1,
                   'state-none-check': selectAllSeniorityLevels===0, 'state-mixed': selectAllSeniorityLevels === 3}"
                   (click)="selectAllOnChange($event, 'SENIORITY_LEVEL')">
                <ng-container [ngSwitch]="selectAllSeniorityLevels">
                  <ng-container *ngSwitchCase="0">
                    <i class="fas fa-times"></i>
                  </ng-container>
                  <ng-container *ngSwitchCase="1">
                    <i class="fas fa-check"></i>
                  </ng-container>
                  <ng-container *ngSwitchCase="3">
                    <i class="fas fa-circle"></i>
                  </ng-container>
                </ng-container>
              </div>

              <div class="m-left-4 d-flex align-center width-100">
                All

                <!-- nb of included/excluded jobs-->
                <div class="d-flex flex-end flex-grow">
                  <span *ngIf="nbAllSeniorityLevelSelected"
                        class="shape bg-success is-circle is-md text-13"> {{nbAllSeniorityLevelSelected}} </span>
                  <span *ngIf="nbAllSeniorityLevelExcluded"
                        class="shape bg-alert is-circle is-md text-13"> {{nbAllSeniorityLevelExcluded}} </span>
                </div>
                <!-- /nb of included/excluded jobs-->

              </div>
            </div>

          </section>
          <ng-container *ngFor="let seniorityKey of getSeniorityLevelsKeys()">
            <app-shared-search-config-pro
              [isPreview]="isPreview"
              [identifier]="seniorityKey"
              [option]="{name: seniorityLevels[seniorityKey].name, state:seniorityLevels[seniorityKey].state}"
              [filteredSeniorityLevel]="filteredSeniorityLevels">
            </app-shared-search-config-pro>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- /Seniority level -->

    <!-- Search operator -->
    <div class="d-flex flex-d-column align-center" style="width: 10%; margin-top: 10%">
      <button class="button m-top-10 text-bold text-20"
              [disabled]="isPreview"
              [ngStyle]="{color: searchOperator==='OR'? '#2ECC71' : '#333333'}"
              (click)="searchOperatorOnChange('OR')">
        OR
      </button>

      <button class="button m-top-10 text-bold text-20"
              [disabled]="isPreview"
              [ngStyle]="{color: searchOperator==='AND'? '#2ECC71' : '#333333'}"
              (click)="searchOperatorOnChange('AND')">
        AND
      </button>
    </div>
    <!-- /Search operator -->

    <!-- Job Category -->
    <div class="flex-d-column align-center text-center" style="width: 45%">
      <h5>Job Typologies</h5>
      <div class="card">
        <div class="card-body">
          <!-- search jobs -->
          <section class="section-search" *ngIf="!isPreview">
            <app-utility-search-input-2
              [inputWidth]="{width: '100%'}"
              [searchPlaceholder]="'Type to search'"
              (searchFieldOutput)="onClickSearchJob($event)">
            </app-utility-search-input-2>
          </section>
          <!-- /search jobs -->

          <!-- select all -->
          <section class="section-all">
            <div class="select-wrapper d-flex align-center">
              <div class="button-checker m-left-3"
                   [ngClass]="{'state-full-check': selectAllJobs === 1,
                   'state-none-check': selectAllJobs===0, 'state-mixed': selectAllJobs === 3}"
                   (click)="selectAllOnChange($event, 'JOB_TYPOLOGY')">
                <ng-container [ngSwitch]="selectAllJobs">
                  <ng-container *ngSwitchCase="0">
                    <i class="fas fa-times"></i>
                  </ng-container>
                  <ng-container *ngSwitchCase="1">
                    <i class="fas fa-check"></i>
                  </ng-container>
                  <ng-container *ngSwitchCase="3">
                    <i class="fas fa-circle"></i>
                  </ng-container>
                </ng-container>
              </div>

              <div class="m-left-4 d-flex align-center width-100">
                All

                <!-- nb of included/excluded jobs-->
                <div class="d-flex flex-end flex-grow">
                  <span *ngIf="nbAllJobSelected"
                        class="shape bg-success is-circle is-md text-13"> {{nbAllJobSelected}} </span>
                  <span *ngIf="nbAllJobExcluded"
                        class="shape bg-alert is-circle is-md text-13"> {{nbAllJobExcluded}} </span>

                </div>
                <!-- /nb of included/excluded jobs-->

              </div>
            </div>

          </section>
          <!-- /select all -->

          <!-- get time to load Job Categories -->
          <div *ngIf="isLoading">
            <app-message-template>
              <div class="flex-centered">
                <div class="loading is-white" style="margin-right: 0.8rem"></div>
                <span [innerText]="'Loading typologies'"></span>
              </div>
            </app-message-template>
          </div>
          <!-- /get time to load Job Categories -->

          <ng-container *ngIf="!isLoading">
            <ng-container *ngFor="let jobTypoKey of getFilteredJobsTypologiesKeys">
              <app-shared-search-config-pro
                [isPreview]="isPreview"
                [identifier]="jobTypoKey"
                [option]="{name: jobsTypologies[jobTypoKey].name.en, state: jobsTypologies[jobTypoKey].state}"
                [jobs]="jobsTypologies[jobTypoKey].jobs"
                [filteredJobs]="filteredJobsTypologies[jobTypoKey].jobs"
                [isJobTypo]="true">
              </app-shared-search-config-pro>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- /Job Category  -->

  </section>

</div>
