<div (click)="toggleState($event)" [ngClass]="showModal ? 'active' : 'inactive'" class="modal">
  <div class="modal-overlay"></div>
  <div [ngStyle]="{ 'max-width': maxWidth }" class="modal-container">

    <!-- header -->
    <header *ngIf="title" class="modal-header">
      <p class="modal-title" [innerText]="title" translate></p>
      <button type="button" class="close" aria-label="close"></button>
    </header>
    <!-- /header -->

    <!-- content -->
    <ng-content></ng-content>
    <!-- /content -->

    <!-- close button -->
    <div *ngIf="enableCloseButton">
      <button type="button" class="modal-close is-sm" aria-label="close"></button>
    </div>
    <!-- /close button -->

  </div>
</div>
