<div class="section-container" id="setup-project">
  <div class="columns">
    <div class="column col-xs-12 col-12 col-mx-auto">

      <!-- Row 1 -->
      <div class="columns col-gapless">
        <!-- Heading -->
        <div class="column col-sm-12 col-md-5 col-6 col-ml-auto">
          <h1 class="section-heading">{{ 'PROJECT_MODULE.SETUP.TITLE' | translate }}</h1>
        </div>
        <!-- Buttons -->
        <div class="column col-sm-12 col-md-7 col-6 col-mr-auto function-button">
          <div class="function-button">
            <span>
              <button class="primary-button ghost-button">
                {{ 'PROJECT_MODULE.SETUP.PREVIEW' | translate }}
              </button>
            </span>
            <span>
              <button class="primary-button ghost-button" (click)="saveProject($event)">
                {{ 'PROJECT_MODULE.SETUP.SAVE_PROJECT' | translate }}
              </button>
            </span>
            <span>
              <button class="primary-button">
                {{ 'PROJECT_MODULE.SETUP.SUBMIT_PROJECT' | translate }}
              </button>
            </span>
          </div>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="column col-12 col-mx-auto tabs-container">
        <ul class="tabs">
          <li>
            <a [ngClass]="{'active': currentTab == 'pitch'}" (click)="currentTab = 'pitch'">
              <i class="fas fa-check"></i>{{ 'PROJECT_MODULE.SETUP.PITCH_TAB' | translate }}
            </a>
          </li>
          <li>
            <a [ngClass]="{'active': currentTab == 'targeting'}" (click)="currentTab = 'targeting'">
              <i class="fas fa-check"></i>{{ 'PROJECT_MODULE.SETUP.TARGETING_TAB' | translate }}
            </a>
          </li>
          <li>
            <a [ngClass]="{'active': currentTab == 'survey'}" (click)="currentTab = 'survey'">
              <i class="fas fa-check"></i>{{ 'PROJECT_MODULE.SETUP.SURVEY_TAB' | translate }}
            </a>
          </li>
        </ul>
      </div>

      <!-- Row 3 -->
      <div class="column col-12 col-mx-auto">

        <!-- Pitch -->
        <div *ngIf="currentTab === 'pitch'">
          <app-project-pitch [project]="project" (updateInnovation)="updateInnovation($event)"></app-project-pitch>
        </div>

        <!-- Targeting -->
        <div *ngIf="currentTab === 'targeting'">
          <app-project-targeting [project]="project" (newSettings)="updateSettings($event)"></app-project-targeting>
        </div>

        <!-- Survey -->
        <div *ngIf="currentTab === 'survey'">
          <app-project-survey [project]="project"></app-project-survey>
        </div>

      </div>


    </div>
  </div>
</div>

<!--<div class="setup-project">

  <h1>{{'PROJECT_MODULE.SETUP.TITLE' | translate}}</h1>

  <button class="btn btn-secondary" (click)="saveProject($event)">{{'PROJECT_MODULE.SETUP.SAVE_PROJECT' | translate}}</button>
  <button class="btn btn-primary">{{'PROJECT_MODULE.SETUP.SUBMIT_PROJECT' | translate}}</button>

  <ul class="tab tab-block">
    <li class="tab-item">
      <button class="btn btn-link" [ngClass]="{'active': currentTab == 'pitch'}"
              (click)="currentTab = 'pitch'">
        {{ 'PROJECT_MODULE.SETUP.PITCH_TAB' | translate }}
      </button>
    </li>
    <li class="tab-item">
      <button class="btn btn-link" [ngClass]="{'active': currentTab == 'targeting'}"
              (click)="currentTab = 'targeting'">
        {{ 'PROJECT_MODULE.SETUP.TARGETING_TAB' | translate }}
      </button>
    </li>
    <li class="tab-item">
      <button class="btn btn-link" [ngClass]="{'active': currentTab == 'survey'}"
              (click)="currentTab = 'survey'">
        {{ 'PROJECT_MODULE.SETUP.SURVEY_TAB' | translate }}
      </button>
    </li>
  </ul>

  <div class="tabs">
    <div class="tab-content" *ngIf="currentTab === 'pitch'">
      <app-project-pitch [project]="project"
                         (updateInnovation)="updateInnovation($event)">
      </app-project-pitch>
    </div>

    <div class="tab-content" *ngIf="currentTab === 'targeting'">
      <app-project-targeting [project]="project"
                             (newSettings)="updateSettings($event)">
      </app-project-targeting>
    </div>

    <div class="tab-content" *ngIf="currentTab === 'survey'">
      <app-project-survey [project]="project"></app-project-survey>
    </div>
  </div>

</div>-->
