@import "../../../../../../../style/variables";

.innovation-card-print {
  display: none;
}

#setup {
  padding-top: 0;

  .msg-wrapper {

    .content {
      background-color: $validation-color;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      padding: .95rem;
      border-radius: .18rem;
    }

    .text-link {
      color: white;
      text-decoration: underline;
    }

  }

  .heading-button-wrapper {
    padding-top: 3.15rem;
    padding-bottom: 1.57rem;

    .content-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .func-btn-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        span {
          margin-right: .6rem;
          margin-bottom: .6rem;
        }

        .circle-check {
          margin-top: -15px;
          margin-left: -13px;

          i {
            color: white;
          }

        }

        .save-project {

          .ghost-primary {
            border-color: $validation-color !important;
            color: #262831 !important;
            pointer-events: auto;
          }

          .ghost-primary:hover {
            background-color: #FFF9EB !important;
            box-shadow: none;
          }

          .circle-check {
            background: $validation-color !important;
            animation-name: fadeIn;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
          }

        }

        .disabled {

          .ghost-primary {
            border-color: $border-color !important;
            color: $disabled-text-color !important;
            background-color: $border-color !important;
            cursor: not-allowed;
            box-shadow: none;
          }

          .circle-check {
            visibility: hidden;
          }

        }

      }

    }

  }

  .tabs-container {
    padding-bottom: 1.57rem;

    .tabs li {

      a {
        background-color: white;
        color: $background-color;
        border-bottom: .25rem solid transparent;
        font-weight: 500;
      }

      li a:hover {
        border-bottom-color: $primary-color;
      }

    }

    .pitch-check, .targeting-check, .survey-check {
      color: $validation-color;
      transition: all 0.15s ease-in-out;
    }

  }

  .active {
    color: $primary-color !important;
    border-bottom-color: $primary-color !important;
  }

}

/********************************** Media ***************************************/

@media (min-width: 480px) {

  .tabs {
    border-bottom: .06rem solid $tabs-border-color;

    li {
      flex: unset;

      a {
        border-bottom: .25rem solid transparent;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }

    }

  }

}

@media (min-width: 600px) {

  .heading-button-wrapper {

    .content-wrapper {

      .func-btn-wrapper {

        span {
          margin-bottom: 0 !important;
          margin-right: 0 !important;
          margin-left: .6rem;
        }

        span:first-child {
          margin-left: 0;
        }

      }

    }

  }

}

@media (min-width: 840px) {

  .setup-scroll-sticky {
    position: sticky;
    background-color: white;
    top: 0;
    box-shadow: $box-shadow;
    z-index: 11;
  }

}

@media (min-width: 1280px) {

  #setup {

    .func-btn-wrapper {
      justify-content: flex-end !important;
    }

  }

}
