<div class="section-container" id="setup-project">
  <div class="columns">
    <div class="column col-xs-12 col-12">

      <!-- Project under submitted status message -->
      <div *ngIf="projectState === 'SUBMITTED'" class="message-wrapper">
        <div class="message text-center">{{ 'PROJECT_MODULE.SETUP.MESSAGE.SUBMITTED' | translate }}</div>
      </div>

      <!-- Project under evaluating status message -->
      <div *ngIf="projectState === 'EVALUATING'" class="message-wrapper">
        <div class="message text-center">{{ 'PROJECT_MODULE.SETUP.MESSAGE.EVALUATING.A' | translate }}</div>
        <br>
        <div class="message text-center">{{ 'PROJECT_MODULE.SETUP.MESSAGE.EVALUATING.B' | translate }}</div>
      </div>

      <!-- Row 1 -->
      <div class="row-1">
        <!-- Heading -->
        <h5>{{ 'PROJECT_MODULE.SETUP.TITLE' | translate }}</h5>
        <!-- Buttons -->
        <div class="function-button">
          <span [ngClass]="saveButtonClass">
            <div class="circle-check"><i class="fas fa-save"></i></div>
              <button class="btn btn-primary ghost-primary" [disabled]="projectState === 'EVALUATING'" (click)="saveProject($event)">
              {{ 'PROJECT_MODULE.SETUP.SAVE_PROJECT' | translate }}
            </button>
          </span>
          <span>
            <button [disabled]="projectState === 'EVALUATING'" class="btn btn-primary" (click)="submitButton($event)">
              {{ 'PROJECT_MODULE.SETUP.SUBMIT_PROJECT' | translate }}
            </button>
          </span>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="column col-12 tabs-container">
        <ul class="tabs">
          <li>
            <a [routerLink]="['setup', 'pitch']" [ngClass]="{'active': currentTab == 'pitch'}">
              <i class="fas fa-check pitch-check"></i>{{ 'PROJECT_MODULE.SETUP.PITCH_TAB' | translate }}
            </a>
          </li>
          <li>
            <a [routerLink]="['setup', 'targeting']" [ngClass]="{'active': currentTab == 'targeting'}">
              <i class="fas fa-check targeting-check"></i>{{ 'PROJECT_MODULE.SETUP.TARGETING_TAB' | translate }}
            </a>
          </li>
          <li>
            <a [routerLink]="['setup', 'survey']" [ngClass]="{'active': currentTab == 'survey'}">
              <i class="fas fa-check survey-check"></i>{{ 'PROJECT_MODULE.SETUP.SURVEY_TAB' | translate }}
            </a>
          </li>
        </ul>
      </div>

      <!-- Row 3 -->
      <div class="column col-12">
        <!-- Pitch -->
        <div *ngIf="currentTab === 'pitch'">
          <app-project-pitch
            [project]="project"
            (updateInnovation)="updateInnovation($event)"
            [changesSaved]="changesSaved"
            (saveChanges)="saveInnovation($event)"
            (pitchFormField)="pitchFormValidation($event)"
            [showPitchFieldError]="showPitchFieldError">
          </app-project-pitch>
        </div>
        <!-- Targeting -->
        <div *ngIf="currentTab === 'targeting'">
          <app-project-targeting
            [project]="project"
            (newSettings)="updateSettings($event)"
            (targetingFormField)="targetingFormValidation($event)"
            [showTargetingFieldError]="showTargetingFieldError">
          </app-project-targeting>
        </div>
        <!-- Survey -->
        <div *ngIf="currentTab === 'survey'">
          <app-project-survey [project]="project"></app-project-survey>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal to ask user to sure about submitting the project -->
<div class="modal" [ngClass]="{'active': projectToBeSubmitted}">
  <div class="modal-overlay" (click)="closeModal($event)"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="closeModal($event)"></button>
      <div class="modal-title">{{ 'PROJECT_MODULE.SETUP.PITCH.DESCRIPTION.MODAL.TITLE' | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content">{{ 'PROJECT_MODULE.SETUP.PITCH.DESCRIPTION.MODAL.CONTENT' | translate }}</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary btn-sm" (click)="submitProject($event)">
        {{ 'PROJECT_MODULE.SETUP.PITCH.DESCRIPTION.SUBMIT_BUTTON' | translate }}
      </button>
    </div>
  </div>
</div>
