<ul class="pagination" *ngIf="numPages >= 2">
  <li class="page-item" *ngIf="currentPage > 1" (click)="currentPage = 1">1</li>
  <li class="page-item" *ngIf="currentPage > 1" (click)="currentPage > 1 ? currentPage = currentPage - 1 : currentPage = 1">«</li>
  <li class="current-page">
    <input type="text" [ngModel]="currentPage" (keyup.enter)="goToPage($event)"/>
  </li>
  <li class="page-item" *ngIf="currentPage < numPages" (click)="currentPage = currentPage + 1">»</li>
  <li class="page-item" *ngIf="currentPage < numPages" (click)="currentPage = numPages">{{ numPages }}</li>
</ul>
<select [ngModel]="perPage" (ngModelChange)="perPage = $event">
  <option *ngFor="let perPage of perPageValues" [value]="perPage">{{perPage}} {{ 'PAGINATION.PER_PAGE' | translate }}</option>
  <option value="1000000">{{ 'PAGINATION.ALL' | translate }}</option>
</select>
