<div id="innovations">

  <!-- content -->
  <section class="container fluid grid-2xl">
    <div class="p-top-25 p-bottom-25">
      <div class="column col-sm-12 col-11 col-mx-auto">

        <!-- section fetching error -->
        <section *ngIf="fetchingError">
          <div class="i-error-wrapper d-flex align-center">
            <app-utility-error-template-1 [errorMessage]="'DISCOVER.FETCHING_ERROR'"
                                          style="width: 100%">
              <p [innerText]="'DISCOVER.FETCHING_ERROR_SUB'" translate></p>
            </app-utility-error-template-1>
          </div>
        </section>
        <!-- /section fetching error -->

        <!-- section result -->
        <section *ngIf="!fetchingError" class="d-content-wrapper">

          <!-- filters -->
          <div class="p-bottom-25 p-top-25">
            <app-filters
              [tags]="sectorTags"
              (appliedFilters)="onSelectFilters($event)"
              (searchFieldOutput)="onInputField($event)">
            </app-filters>
          </div>
          <!-- /filters -->

          <!-- section recommended innovations -->
          <section *ngIf="!filterActivated && recommendedInnovationId">
            <div class="p-top-25">

              <h2 class="d-title-secondary text-draft" [ngClass]="{ 'loading-content': !stopLoading }">
                <span>{{ 'DISCOVER.RECOMMENDATION' | translate }}</span>
              </h2>

              <div class="p-top-10">
                <app-cards
                  [allInnovations]="recommendedInnovations"
                  [stopLoading]="stopLoading"
                  (offsetLimit)="onChangePage($event)">
                </app-cards>
              </div>

            </div>
          </section>
          <!-- /section recommended innovations -->

          <!-- section latest innovations -->
          <section *ngIf="!filterActivated">
            <div class="p-top-25">

              <h2 class="d-title-secondary text-draft" [ngClass]="{ 'loading-content': !stopLoading }">
                <span>{{ 'DISCOVER.LATEST' | translate }}</span>
              </h2>

              <div class="p-top-10">
                <app-cards
                  [allInnovations]="latestInnovations"
                  [stopLoading]="stopLoadingLatest">
                </app-cards>
              </div>

            </div>
          </section>
          <!-- /section latest innovations -->

          <!-- section with all innovations -->
          <section>
            <div class="p-top-25">

              <!-- filter applied -->
              <div
                class="text-draft text-normal d-flex m-bottom-10 flex-wrap-wrap text-md c-filter-wrapper"
                [ngClass]="{ 'loading-content': !stopLoading }">

                <div style="margin-bottom: 0.25rem" *ngIf="filterActivated">
                  <span>
                    {{ totalFilteredInnovations }} {{ 'DISCOVER.RESULT' | translate }} {{ 'DISCOVER.FOR' | translate }}
                    <ng-container *ngIf="searchKey">
                      <span class="text-medium">{{ searchKey }}</span>
                      <ng-container *ngIf="selectedFilters.length > 0"> | </ng-container>
                    </ng-container>
                  </span>
                </div>

                <h2 class="d-title-secondary text-draft" [ngClass]="{ 'loading-content': !stopLoading }" *ngIf="!filterActivated">
                  <span>{{ 'DISCOVER.TRENDING' | translate }}</span>
                </h2>

                <!--TODO remove multiling-->
                <div
                  *ngFor="let filter of selectedFilters"
                  class="c-hand c-filter-activate-wrapper m-left-1 m-right-2"
                  (click)="onClickRemove(filter._id)">
                  <span class="text-medium">
                    <ng-container *ngIf="filter.entry && filter.entry.length; else noFilterEntryLabel">
                      {{ (filter.entry | langEntry:'label':userLang:true) | titlecase }}
                    </ng-container>
                    <ng-template #noFilterEntryLabel>
                      {{ (filter | langEntry:'label':userLang:true) | titlecase }}
                    </ng-template>
                    <i class="fas fa-times-circle text-meta"></i>
                  </span>
                </div>

              </div>

              <!-- innovations based on the filtered apply -->
              <div class="p-top-10">
                <app-cards
                  [allInnovations]="filteredInnovations"
                  [total] = "totalFilteredInnovations"
                  [isPagination]="true"
                  (offsetLimit)="onChangePage($event)"
                  [stopLoading]="stopLoading">
                </app-cards>
              </div>

              <!-- if no innovations found then no result -->
              <div *ngIf="filteredInnovations.length === 0" class="p-top-50 flex-centered c-no-result-wrapper">
                <img
                  src="https://res.cloudinary.com/umi/image/upload/v1541075335/app/default-images/icons/no_result.png"
                  class="img-responsive"
                  alt=" ">
                <h3 class="text-normal m-top-50" [innerText]="'DISCOVER.NO_RESULT_HEADING'" translate></h3>
                <span class="text-meta text-medium" [innerText]="'DISCOVER.NO_RESULT_TEXT'" translate></span>
              </div>

            </div>
          </section>
          <!-- /section whith all innovations -->

        </section>
        <!-- / section result -->

      </div>
    </div>
  </section>
  <!-- /content -->

  <!-- community banner -->
  <section *ngIf="!fetchingError" class="d-community-banner-wrapper p-top-20">
    <div class="container fluid grid-2xl">
      <div class="column col-sm-12 col-11 col-mx-auto">
        <div class="flex-between">

          <div class="d-community-msg-wrapper d-flex align-center m-bottom-20">
            <i class="fas fa-paper-plane m-right-50"></i>
            <span [innerText]="'DISCOVER.COMMUNITY_TEXT'" class="p-right-50" translate></span>
          </div>

          <div class="m-bottom-20">
            <a
              [href]="getCommunityUrl()"
              [innerText]="'DISCOVER.BUTTON_COMMUNITY'"
              class="button btn__community is-rounded"
              rel="noopener"
              target="_blank"
              translate>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- /community banner -->

</div>
