<div>
  <strong class="question">{{ question.label[lang] }}</strong>
  <div [ngSwitch]="question.controlType" *ngIf="fullAnswer.answers && (fullAnswer.answers[question.identifier] !== undefined || adminMode)" class="answer">

    <ng-container *ngSwitchCase="'radio'">
      <p *ngIf="!adminMode">
        {{ optionLabel(fullAnswer.answers[question.identifier]) }}
      </p>
      <p *ngIf="adminMode">
        <span
          *ngFor="let option of question.options"
          class="c-hand"
          [ngClass]="{'inactive': option.identifier != fullAnswer.answers[question.identifier]}"
          (click)="selectOption($event, option)">
          {{ optionLabel(option.identifier) }}
        </span>
      </p>
    </ng-container>

    <ng-container *ngSwitchCase="'clearbit'">
      <div *ngIf="!adminMode" class="list">
        <span class="chip" [ngClass]="{'topItem': item.rating === 2, 'badItem': item.rating === 0}" *ngFor="let item of fullAnswer.answers[question.identifier]">
          <img *ngIf="item.logo" [src]=item.logo width="20px" height="20px"/>
          {{item.name}}
          <a *ngIf="item.domain" [href]=link(item.domain) target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
        </span>
      </div>
      <app-autocomplete-input
        *ngIf="adminMode"
        (update)="setAnswer($event)"
        [canEdit]="true"
        [config]="{placeholder: 'company', initialData: fullAnswer.answers[question.identifier] || [], type: 'company'}"
        [adminMode]="adminMode">
      </app-autocomplete-input>
    </ng-container>

    <ng-container *ngSwitchCase="'list'">
      <div *ngIf="!adminMode" class="list">
        <span class="chip" [ngClass]="{'topItem': item.rating === 2, 'badItem': item.rating === 0}" *ngFor="let item of fullAnswer.answers[question.identifier]">
          {{item.text}}
          <a *ngIf="item.link" [href]=item.link target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
        </span>
      </div>
      <app-input-list
        *ngIf="adminMode"
        (update)="setAnswer($event)"
        [config]="{ placeholder: '', initialData: fullAnswer.answers[question.identifier] }"
        [adminMode]="adminMode">
      </app-input-list>
    </ng-container>

    <ng-container *ngSwitchCase="'checkbox'">
      <ul *ngFor="let option of question.options">
        <li
          *ngIf="fullAnswer.answers[question.identifier][option.identifier] === true || adminMode"
          [ngClass]="{'inactive': fullAnswer.answers[question.identifier][option.identifier] != true, 'c-hand': adminMode}"
          (click)="checkOption(option.identifier, $event)">
          {{ optionLabel(option.identifier) }}
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="'textbox'">
      <p>{{fullAnswer.answers[question.identifier]}}</p>
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
      <blockquote *ngIf="fullAnswer.answers[question.identifier] && !adminMode">
        <p>
          {{fullAnswer.answers[question.identifier]}}
          <app-rating-item [adminMode]="adminMode" [prop]="question.identifier" [rating]="fullAnswer.answers[question.identifier + 'Quality']"
                           (ratingChange)="updateQuality($event)"></app-rating-item>
        </p>
      </blockquote>
      <form *ngIf="adminMode">
        <textarea class="form-input" [(ngModel)]="fullAnswer.answers[question.identifier]" name="comment"></textarea>
        <button type="submit" (click)="fullAnswerChange.emit(fullAnswer) && $event.preventDefault()">OK</button>
        <app-rating-item [adminMode]="adminMode" [prop]="question.identifier" [rating]="fullAnswer.answers[question.identifier + 'Quality']"
                         (ratingChange)="updateQuality($event)"></app-rating-item>
      </form>
    </ng-container>

    <ng-container *ngSwitchCase="'scale'">
      <p>{{fullAnswer.answers[question.identifier]}}</p>
    </ng-container>

    <ng-container *ngSwitchCase="'stars'">
      <ul *ngIf="question && fullAnswer.answers[question.identifier]">
        <li *ngFor="let advantage of question.options">
          {{advantage.label | multiling:lang}}: {{ '★'.repeat(fullAnswer.answers[question.identifier][advantage.identifier]) }}
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="'toggle'">
      <label class="form-switch">
        <input type="checkbox" name="toggle-input" [(ngModel)]="fullAnswer.answers[question.identifier]"
               [ngModelOptions]="{standalone: true}" [disabled]="!adminMode">
        <i class="form-icon" [ngClass]="{'active': fullAnswer.answers[question.identifier]}"></i>
      </label>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <p class="noanswer">-</p>
    </ng-container>

  </div>

  <!-- Comment part -->
  <ng-container [ngSwitch]="adminMode">

    <ng-container *ngSwitchCase="false">
      <blockquote *ngIf="fullAnswer.answers && fullAnswer.answers[question.identifier + 'Comment']">
        <p>
          {{fullAnswer.answers[question.identifier + 'Comment']}}
          <app-rating-item [adminMode]="adminMode" [prop]="question.identifier + 'Comment'"
                           [rating]="fullAnswer.answers[question.identifier + 'CommentQuality']"
                           (ratingChange)="updateQuality($event)"></app-rating-item>
        </p>
      </blockquote>
    </ng-container>

    <ng-container *ngSwitchCase="true">
      <i
        class="fa fa-comment"
        *ngIf="!commenting"
        (click)="addComment($event)"></i>
      <form *ngIf="commenting">
        <textarea class="form-input" name="comment"
                  [(ngModel)]="fullAnswer.answers[question.identifier + 'Comment']"></textarea>
        <button type="submit" (click)="fullAnswerChange.emit(fullAnswer) && $event.preventDefault()">OK</button>
        <app-rating-item [adminMode]="adminMode" [prop]="question.identifier + 'Comment'"
                         [rating]="fullAnswer.answers[question.identifier + 'CommentQuality']"
                         (ratingChange)="updateQuality($event)"></app-rating-item>
        <i class="fa fa-trash" (click)="deleteComment($event)"></i>
      </form>
    </ng-container>
  </ng-container>

</div>
