#not-found {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content-wrapper {
    text-align: center;
    flex: 1 0 auto;
    width: 100%;
    padding: 50px 25px;

    img {
      height: 247.4px;
      margin-bottom: 30px;
    }

    p {
      opacity: 0.5;
    }

  }

}

