<div [hidden]="isLoading" class="container fluid grid-2xl bg-white" id="not-found">
  <div class="column col-sm-12 col-11 col-mx-auto">
    <div class="error-wrapper animate-fade is-5">

      <!-- logo -->
      <nav class="navbar">
        <div class="navbar-brand">
          <a [routerLink]="'/user/projects'" class="gtm-menu-logo navbar-item m-no">
            <img
              [ngStyle]="{ 'height': '33px', 'width': '110px' }"
              [alt]="companyShortName"
              [src]="logo">
          </a>
        </div>
      </nav>
      <!-- /logo -->

      <!-- content -->
      <section class="content-wrapper p-top-50 p-bottom-50">

        <img src="https://res.cloudinary.com/umi/image/upload/app/default-images/not-found.svg" alt=" ">

        <h1 class="title is-4 m-bottom-10">
          <ng-container *ngIf="currentLang === 'fr'; else titleEn">Whoops - erreur 404</ng-container>
          <ng-template #titleEn>Whoops - error 404</ng-template>
        </h1>

        <p class="m-bottom-30 text-md mxw-500 m-left-auto m-right-auto">
          <ng-container *ngIf="currentLang === 'fr'; else messageEn">
            Désolé mais la page que vous recherchez n'existe pas, a été supprimée, a changé de nom ou est
            temporairement indisponible.
          </ng-container>
          <ng-template #messageEn>
            Sorry but the page you're looking for doesn't exist, have been removed, name changed or is temporarily
            unavailable.
          </ng-template>
        </p>

        <button
          [routerLink]="'/user/projects'"
          class="button is-primary is-xl"
          id="'btn-homepage'"
          type="button">
          {{ 'COMMON.BUTTON.RETURN_HOMEPAGE' | translate }}
        </button>

      </section>
      <!-- /content -->

    </div>
  </div>
</div>

