<header class="container">
  <div class="columns">
    <div class="column col-10 col-mx-auto navbar">
      <section class="navbar-section">
        <a routerLink="/" appLogo logoMaxWidth="100"></a>
      </section>

      <!-- Non connecté -->
      <section class="navbar-section" *ngIf="!authService.isAuthenticated">
        <a [routerLink]="'/todo'" class="btn btn-link">{{ 'HEADER.ABOUT' | translate}}</a>
        <a [routerLink]="'/todo'" class="btn btn-link">Solution</a>
        <a [routerLink]="'/todo'" class="btn btn-link">{{ 'HEADER.CONTRIBUTORS' | translate}}</a>
        <a [routerLink]="'/todo'" class="btn btn-link">Ressources</a>
        <a [routerLink]="'/todo'" class="btn btn-link">Blog</a>
        <a [routerLink]="'/login'" class="btn btn-link">{{ 'COMMON.LOG_IN' | translate}}</a>
        <a [routerLink]="'/signup'" class="btn btn-primary">{{ 'HEADER.START' | translate}}</a>
      </section>

      <!-- Connecté -->
      <section class="navbar-section" *ngIf="authService.isAuthenticated">
        <a [routerLink]="'/projects'" class="btn btn-link">{{ 'COMMON.MY_PROJECTS' | translate }}</a>
        <a [routerLink]="'/logout'" class="btn btn-link">Logout</a>
        <div class="btn btn-link">Mon compte (ouvre le volet lattéral)</div>

        <!-- Connecté & admin -->
        <div *ngIf="authService.isAdmin">
          <a [routerLink]="'/campaign'" class="btn btn-link">{{ 'COMMON.CAMPAIGNS' | translate}}</a>
          <a [routerLink]="'/user'" class="btn btn-link">{{ 'COMMON.USERS' | translate }}</a>
        </div>
      </section>

    </div>
  </div>
</header>

<app-client-account-sidenav *ngIf="authService.isAuthenticated"></app-client-account-sidenav>
