header
  position relative
  width 100%

  .navbar-fixed
    z-index 1000

    .hide-on-med-and-down .brand-logo
      margin 16px 10px

    .hide-on-large-only .brand-logo
        margin 0.8rem 0.6rem


    nav
      ul
        text-align center
