<div class="small-pagination">

  {{'COMMON.PAGINATION' | translate}}

  <select [ngModel]="perPage" (ngModelChange)="perPage = $event" class="form-select small-select">
    <option *ngFor="let perPage of perPageValues" [value]="perPage">{{perPage}}</option>
  </select>


  <div class="number-of-page" *ngIf="numPages >= 2">

    <a *ngIf="currentPage > 2" (click)="(currentPage = 1) && $event.preventDefault()" href="#">
      «
    </a>

    <a *ngIf="currentPage > 1" (click)="(currentPage > 1 ? currentPage = currentPage - 1 : currentPage = 1) && $event.preventDefault()" href="#">
      <
    </a>

    <div class="">
      {{ (perPage * currentPage) - perPage+1 }}-{{ (perPage * currentPage <= total) ? perPage * currentPage : total }} {{ 'COMMON.OF' | translate }} {{ total }}
    </div>

    <a *ngIf="currentPage < numPages" (click)="(currentPage = currentPage + 1) && $event.preventDefault()" href="#">
      >
    </a>

    <a *ngIf="currentPage < numPages-1" (click)="(currentPage = numPages) && $event.preventDefault()" href="#">
      »
    </a>

  </div>

</div>
