<!-- section fetching error -->
<ng-container *ngIf="fetchingError">
  <div class="section-pad">
    <app-utility-error-template-1 [errorMessage]="'ERROR.FETCHING_ERROR'"></app-utility-error-template-1>
  </div>
</ng-container>
<!-- /section fetching error -->


<!-- section no result -->
<ng-container *ngIf="!fetchingError && total === 0">
  <div class="section-pad">
    <app-message-template [widthMax]="'342px'">
      <span>Do not have any ambassadors to show.</span>
    </app-message-template>
  </div>
</ng-container>
<!-- /section no result -->


<!-- section table -->
<ng-container *ngIf="!fetchingError && total > 0">
  <app-shared-table
    [(config)]="config"
    [data]="tableInfos"
    (editRow)="onClickEdit($event)"
    (removeRows)="onClickRemove($event)"
    (performAction)="performActions($event)"
    (selectRows)="selectPro($event)">
  </app-shared-table>
</ng-container>
<!-- /section table -->


<!-- modal to ask the operator to confirm to delete the ambassador -->
<app-utility-modal [(showModal)]="modalDelete" [title]="'COMMON.MODAL.TITLE_DELETE'">

  <section class="modal-body">
    <ng-container *ngIf="context && context.deleteType === 'Campaign'">

      <ng-container *ngIf="prosToRemoves && prosToRemoves.length === 1">
        <span>Do you really want to delete this ambassador from this project campaign?</span>
      </ng-container>

      <ng-container *ngIf="prosToRemoves && prosToRemoves.length > 1">
        <span>Do you really want to delete all these ambassadors from this project campaign?</span>
      </ng-container>

    </ng-container>


    <ng-container *ngIf="!context">

      <ng-container *ngIf="prosToRemoves && prosToRemoves.length === 1">
        <span>Do you really want to delete this ambassador? This will delete the ambassador from the database completely.</span>
      </ng-container>

      <ng-container *ngIf="prosToRemoves && prosToRemoves.length > 1">
        <span>Do you really want to delete all these ambassadors? This will delete the ambassadors from the database completely.</span>
      </ng-container>

    </ng-container>
  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button (click)="deleteAmbassador($event)" class="button is-primary">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </footer>

</app-utility-modal>
