<div id="message-template-1">
  <div [ngStyle]="{ 'max-width': wrapperWidth ? wrapperWidth : '273px' }" class="m-bottom-10 m-left-auto m-right-auto">

    <div [ngStyle]="{ 'background-color': backgroundColor }" class="message-content-wrapper">
      <ng-content></ng-content>
    </div>

    <div [ngStyle]="{ 'border-top-color': backgroundColor }" class="triangle"></div>

  </div>

  <div class="bot-wrapper">
    <img [src]="imageSrc ? imageSrc : defaultSrc" alt=" " class="img-responsive">
  </div>

</div>
