<div class="container fluid grid-2xl p-top-30" id="admin-settings-subscription-tracking">

  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- subscription tracking -->
    <section>

      <div class="d-flex m-bottom-50">
        <!-- month select -->
        <div class="form-group">
          <label class="form-label" for="select-month">Select a month</label>
          <select class="form-select" id="select-month" [(ngModel)]="monthSelectedSub">
            <option *ngFor="let month of months" [ngValue]="month">{{month.name}}</option>
          </select>
        </div>
        <!-- /month select -->

        <!-- year select -->
        <div class="form-group m-left-25">
          <label class="form-label" for="select-year">Select a year</label>
          <select class="form-select" id="select-year" [(ngModel)]="yearSelectedSub">
            <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
          </select>
        </div>
        <!-- /year select -->
      </div>

      <!-- subscription tracking table -->
      <div>
        <app-shared-table
          [loading]="isLoading"
          [(config)]="queryConfig"
          [data]="trackingTable">
        </app-shared-table>
      </div>
      <!-- /subscription tracking table  -->

    </section>
    <!-- /subscription tracking  -->


  </div>

</div>
