@import "../../../../../style/variables";

#account-page-wrapper {

  .profile-wrapper {
    display: flex;

    .left-content {
      padding-right: 3.15rem;
      padding-top: 1.57rem;
      min-width: 35%;

      .profile-pic {
        height: 120px;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
        background-color: #E0E0E0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 63px;
          margin-bottom: 0;
        }

      }

      h5 {
        margin-top: .9375rem;
        margin-bottom: .1rem;
        font-size: 1.12rem;
      }

      h6 {
        font-weight: normal;
        font-size: .875rem;
        font-style: italic;
      }

      .user-label {
        padding-bottom: 1.57rem;
      }

      .hero-hr {
        width: 100%;
        border: 1px solid $border-color;
        margin-bottom: 1.2rem;
      }

      .user-actions {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;

        li {
          padding: .75rem .6rem;
          transition: all .15s ease-in-out;
          word-break: break-word;
          font-size: .875rem;
          color: $primary-color;
        }

        li:hover {
          cursor: pointer;
          color: white;
          border-radius: .18rem;
          background-color: $primary-color;
          border-color: $primary-color;
        }

      }

    }

    .right-content {
      border-left: 1px solid $border-color;
      padding-left: 3.15rem;

      .title {
        padding-top: .9375rem;
        padding-bottom: .9375rem;
        border-bottom: 1px solid $border-color;

        h6 {
          margin-bottom: .3rem;
          font-size: 1.375rem;
        }

        p {
          color: $meta-color;
          font-size: .875rem;
          padding-bottom: 0;
        }

      }

      .details-form {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        .group {
          display: inline-flex;
          width: 100%;
          position: relative;
        }

        .form-group {
          padding-left: .9375rem;
          padding-right: .9375rem;
          width: 100%;
          position: relative;
        }

        .form-default:disabled {
          background-color: white;
        }

        .input {
          margin-top: .5rem;
        }

        .save {
          padding-top: 1.75rem;
        }

      }

      .suggestion {
        position: absolute;
        max-height: 300px;
        left: .9375rem;
        right: .9375rem;
      }

    }

  }

}


.modal {

  .ghost-edit {
    border: none;
    margin-right: .6rem;
  }

}


/********************************** Media ***************************************/

@media (max-width: 600px) {

  .profile-wrapper, .group {
    flex-direction: column;
  }

  .right-content, .left-content {
    border-left: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .details-form {
    padding-bottom: 0 !important;
  }

}

@media (min-width: 601px) and (max-width: 840px) {

  .group {
    flex-direction: column;
  }

}


@media (min-width: 1280px) {

  #account-page-wrapper {

    .left-content {
      min-width: 25% !important;
    }

    .details-form {
      padding-left: .6rem;
      padding-right: .6rem;
    }

  }


}
