<shared-answer-modal [(modalAnswer)]="modalAnswer" [innoid]="project._id" [adminMode]="false" [questions]="questions"></shared-answer-modal>

<div class="market-exploration">
  <h1>{{'PROJECT_MODULE.EXPLORATION.TITLE' | translate}}</h1>
  <a class="btn btn-primary" href="{{contactUrl}}">
    {{'PROJECT_MODULE.EXPLORATION.CONTACT_BUTTON' | translate}}
  </a>

  <h2>{{'PROJECT_MODULE.EXPLORATION.STATUS_TITLE' | translate}}</h2>
  <ul>
    <li>
      {{'PROJECT_MODULE.EXPLORATION.STATUS.STARTED' | translate}} :
      {{this.project.created | date}}
    </li>
    <li>
      {{'PROJECT_MODULE.EXPLORATION.STATUS.LAUNCHED' | translate}} :
      {{this.project.launched | date}}
    </li>
  </ul>

  <h2>{{'PROJECT_MODULE.EXPLORATION.ANALYTICS_TITLE' | translate}}</h2>
  <ul>
    <li>
      {{'PROJECT_MODULE.EXPLORATION.ANALYTICS.PROFESSIONALS' | translate}} :
      NA
    </li>
    <li>
      {{'PROJECT_MODULE.EXPLORATION.ANALYTICS.PROFESSIONALS_REACHED' | translate}} :
      NA
    </li>
    <li>
      {{'PROJECT_MODULE.EXPLORATION.ANALYTICS.EMAILS_OPENED' | translate}} :
      NA
    </li>
    <li>
      {{'PROJECT_MODULE.EXPLORATION.ANALYTICS.CLICKS' | translate}} :
      NA
    </li>
    <li>
      {{'PROJECT_MODULE.EXPLORATION.ANALYTICS.ANSWERS' | translate}} :
      {{answers.length}}
    </li>
  </ul>

  <h2>{{'PROJECT_MODULE.EXPLORATION.CLICKMAP_TITLE' | translate}}</h2>
  <div class="map centered" width="684" height="339">
    <app-world-map [countries]="countries" [color]="'#0B90C6'"></app-world-map>
  </div>

  <h2>{{'PROJECT_MODULE.EXPLORATION.COMPANIESLIST_TITLE' | translate}}</h2>
  <ul>
    <li *ngFor="let company of companies">
      {{company.name}}
    </li>
  </ul>

  <h2>{{'PROJECT_MODULE.EXPLORATION.INSIGHTS_TITLE' | translate}}</h2>
  <app-answers-list [answers]="answers" (modalAnswerChange)="seeAnswer($event)"></app-answers-list>
</div>
