@import "../../../../../../../style/variables";

#exploration {

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.57rem;

    .btn {
      padding-top: .95rem;
      padding-bottom: .95rem;
    }

  }

  .sts-comment-wrapper {
    display: flex;
    padding-top: 0;

    .status-wrapper {
      min-height: 14.75rem;
      width: 330px;
      background-color: $background-color;
      border-radius: .18rem;
      padding: 1.57rem 1.57rem;
      margin-right: 1.57rem;

      .section-heading {
        color: white;
      }

      .fa-check {
        color: $validation-color;
        margin-right: 0.18rem;
      }

      .fa-times {
        color: $alert-color;
        margin-right: 0.18rem;
      }

      .text-white {
        color: white;
        font-size: 0.95rem;
      }

      .data-wrapper {
        display: flex;
        justify-content: space-between;
      }

    }

    .comment-wrapper {
      flex: 1;

      .operator-wrapper {
        padding-top: 1.57rem;

        span {
          font-weight: 600;
          color: $dark-color;
        }

      }

    }

  }

  .analytic-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .pd-top {
      padding-top: 2.375rem;
    }

    .info-analytic-wrapper {
      margin-bottom: 1.57rem;

      p {
        color: $meta-color;
      }

      .svg-text {
        font-size: .85rem;
        font-weight: 600;
        fill: #FFFFFF;
      }

    }

  }

  .company-name-wrapper {
    list-style: none;

    li {
      padding-top: 0;
      padding-left: 0;
      display: inline-flex;
      width: 33.33%;
    }

  }

}

/********************************** Media ***************************************/
@media (max-width: 840px) {

  #exploration {

    .sts-comment-wrapper {
      flex-direction: column;

      .status-wrapper {
        width: 310px;
        margin-right: 0;
        margin-bottom: 1.57rem;
      }

    }

    .company-name-wrapper {

      li {
        width: 50%;
      }

    }

  }

}

@media (max-width: 600px) {

  #exploration {

    .title-wrapper {
      flex-direction: column;

      .btn {
        width: 40%;
      }

    }

  }

}


@media (max-width: 320px) {

  #exploration {

    .sts-comment-wrapper {

      .status-wrapper {
        width: 100%;
      }

    }

  }

}
