#exploration {

  .ce-title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;

    .btn {
      padding-top: 15px;
      padding-bottom: 15px;
    }

  }

  .ce-comm-wrapper {
    display: flex;
    padding-top: 0;

    .ce-status-wrapper {
      min-height: 236px;
      width: 330px;
      background-color: #4F5D6B;
      border-radius: 3px;
      padding: 25px;
      margin-right: 25px;

      .section-heading {
        color: white;
      }

      .fa-check {
        color: #2ECC71;
        margin-right: 3px;
      }

      .fa-times {
        color: #EA5858;
        margin-right: 3px;
      }

      .text-white {
        color: white;
        font-size: 0.7rem;
      }

      .ce-info-status {
        display: flex;
        justify-content: space-between;
      }

    }

    .ce-comment-wrapper {
      flex: 1;

      div {
        padding-top: 25px;

        span {
          font-weight: 600;
        }

      }

    }

  }

  .ce-analytic-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .pd-top {
      padding-top: 22px;
    }

    .ce-info-analytic {
      margin-bottom: 25px;

      p {
        color: #97A4B1;
      }

      .svg-text {
        font-size: 14px;
        font-weight: 600;
        fill: #FFFFFF;
      }

    }

  }

  .ce-comp-name-wrapper {
    list-style: none;

    li {
      padding-top: 0;
      padding-left: 0;
      display: inline-flex;
      width: 33.33%;
    }

  }

}

/********************************** Media ***************************************/
@media (max-width: 840px) {

  #exploration {

    .ce-comm-wrapper {
      flex-direction: column;

      .ce-status-wrapper {
        width: 310px;
        margin-right: 0;
        margin-bottom: 25px;
      }

    }

    .ce-comp-name-wrapper {

      li {
        width: 50%;
      }

    }

  }

}

@media (max-width: 600px) {

  #exploration {

    .ce-title-wrapper {
      flex-direction: column;

      .btn {
        width: 133.72px;
      }

    }

  }

}


@media (max-width: 320px) {

  #exploration {

    .ce-comm-wrapper {

      .ce-status-wrapper {
        width: 290px;
      }

    }

  }

}
