/***
Defined the border
 */

.border-no {
  border: 0 !important;
}

.br-no {
  border-radius: 0 !important;
}

.br-2 {
  border-radius: 2px !important;
}

.br-4 {
  border-radius: 4px !important;
}

.br-6 {
  border-radius: 6px !important;
}

.br-circle {
  border-radius: 50% !important;
}
