@import "../variables";

.text-primary, .text-warning {
  color: $text-warning-color !important;
}

.text-dark {
  color: $dark-color !important;
}

.text-success {
  color: $success-color !important;
}

.text-error, .text-alert {
  color: $alert-color !important;
}

.text-meta {
  color: $meta-color !important;
}

.text-dark {
  color: $text-secondary-dark-color !important;
}

.text-draft {
  color: $draft-color !important;
}

.text-white {
  color: $white-color !important;
}

.text-secondary {
  color: $text-secondary-color !important;
}

.text-primary {
  color: $text-community-color !important;
}

.text-alert-dark {
  color: $bg-alert-text-color !important;
}

.bg-primary {
  color: $white-color !important;
  background: $bg-primary-color !important;
}

.bg-secondary {
  color: $white-color !important;
  background: $bg-secondary-color !important;
}

.bg-primary {
  color: $white-color !important;
  background: $community-color !important;
}

.bg-gray {
  color: $white-color !important;
  background: $bg-meta-color !important;
}

.bg-dark {
  color: $white-color !important;
  background: $bg-dark-color !important;
}

.bg-success {
  color: $white-color !important;
  background: $success-color !important;
}

.bg-progress {
  color: $white-color !important;
  background: #F79323 !important;
}

.bg-alert {
  color: $white-color !important;
  background: $alert-color !important;
}

.bg-draft {
  color: $white-color !important;
  background: $draft-color !important;
}

.bg-light {
  color: $dark-color !important;
  background: $bg-page-color !important;
}

.bg-white {
  color: $dark-color !important;
  background: $white-color !important;
}

.bg-page {
  background-color: $bg-page-color !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-alert-light {
  background-color: $bg-alert-light-color !important;
}

.bg-gradient-primary {
  background: $primary-gradient-color;
  color: $white-color;
}

.bg-green-light {
  background: $bg-green-light !important;
  color: $white-color;
}

.bg-pending {
  background: $bg-pending-color !important;
  color: $white-color;
}

