@import "../variables";

.text-primary, .text-warning {
  color: $primary-color !important;
}

.text-primary-dark {
  color: $text-primary-dark-color !important;
}

.text-success {
  color: $text-success-color !important;
}

.text-error, .text-alert {
  color: $text-alert-color !important;
}

.text-notify {
  color: $text-meta-color !important;
}

.text-secondary-dark {
  color: $text-secondary-dark-color !important;
}

.text-background {
  color: $text-background-color !important;
}

.text-white {
  color: $light-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.bg-primary {
  color: $light-color;
  background-color: $primary-color !important;
}

.bg-secondary {
  color: $light-color;
  background-color: $secondary-color !important;
}

.bg-gray {
  color: $light-color;
  background-color: $meta-color !important;
}

.bg-dark {
  color: $light-color;
  background-color: $dark-color !important;
}

.bg-success {
  color: $light-color;
  background-color: $success-color !important;
}

.bg-alert {
  color: $light-color;
  background-color: $alert-color !important;
}

.bg-draft {
  color: $light-color;
  background-color: $background-color !important;
}

.bg-light {
  color: $text-primary-dark-color;
  background-color: $bg-page-color !important;
}

