@import "../variables";

.icon {
  outline: none;
  text-decoration: none;
  font-weight: $font-weight-medium;
  font-size: $font-size-md;
  display: inline-block;
  position: relative;
  margin-left: $unit-2;
  margin-right: $unit-2;
  cursor: pointer;
  color: $border-color;

  &.icon-delete {
    color: $alert-color;
  }

  &.icon-success {
    color: $success-color;
  }

  &.icon-meta {
    color: $meta-color;
  }

  &.icon-white {
    color: $light-color;
  }

  &.icon-secondary {
    color: $secondary-color;
  }

}
