@import "../variables";
@import "../animation";

.loading {
  color: transparent !important;
  min-height: $unit-4;
  pointer-events: none;
  position: relative;

  &::after {
    animation: loading 500ms infinite linear;
    border: $border-width-lg solid $primary-color;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: $unit-4;
    left: 50%;
    margin-left: -$unit-2;
    margin-top: -$unit-2;
    position: absolute;
    top: 50%;
    width: $unit-4;
    z-index: 0;
  }

  &.loading-lg {
    min-height: $unit-10;

    &::after {
      height: $unit-8;
      margin-left: -$unit-4;
      margin-top: -$unit-4;
      width: $unit-8;
    }

  }

  &.loading-white {

    &::after {
      border: $border-width-lg solid $light-color;
      border-right-color: transparent;
      border-top-color: transparent;
    }

  }

}


.loading-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 88880;
  overflow: hidden;
  background-color: transparent;

  &::after {
    display: block;
    content: "";
    height: 5px;
    background-color: $primary-color;
    width: 0;
    border-radius: 36px;
    animation: loader 2s infinite ease;
  }

}
