@import "../variables";

.m-auto {
  margin: auto;
}

.m-left-right {
  margin-left: auto;
  margin-right: auto;
}

// left

.m-no-left {
  margin-left: 0 !important;
}

.m-left-1 {
  margin-left: $unit-1;
}

.m-left-3 {
  margin-left: $unit-3;
}

.m-left-2 {
  margin-left: $unit-2;
}

// right

.m-no-right {
  margin-right: 0 !important;
}

.m-right-1 {
  margin-right: $unit-1;
}

.m-right-2 {
  margin-right: $unit-2;
}

.m-right-3 {
  margin-right: $unit-3;
}

// top

.m-top-10 {
  margin-top: 10px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-50 {
  margin-top: 50px;
}

.m-top-100 {
  margin-top: 100px;
}
