
.mxw-full {
  max-width: 100%;
}

.mxw-50 {
  max-width: 50px;
}

.mxw-80 {
  max-width: 80px;
}

.mxw-100 {
  max-width: 100px;
}

.mxw-140 {
  max-width: 140px;
}

.mxw-150 {
  max-width: 150px;
}

.mxw-165 {
  max-width: 165px;
}

.mxw-180 {
  max-width: 180px;
}

.mxw-200 {
  max-width: 200px;
}

.mxw-250 {
  max-width: 250px;
}

.mxw-300 {
  max-width: 300px;
}

.mxw-350 {
  max-width: 350px;
}

.mxw-400 {
  max-width: 400px;
}

.mxw-450 {
  max-width: 450px;
}

.mxw-500 {
  max-width: 500px;
}

.mxw-550 {
  max-width: 550px;
}

.mxw-600 {
  max-width: 600px;
}

