@import "../variables";

.scroll-y {
  display: block;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-x {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll-xy {
  display: block;
  white-space: nowrap;
  overflow: auto;
}
