@import "../variables";
@import "../mixins";

.shape {
  @include control-transition();
  display: inline-flex;
  cursor: default;
  text-align: center;
  justify-content: center;
  background-color: $background-color;
  color: $light-color;
  font-weight: $font-weight-medium;
  align-items: center;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin-right: $unit-2;
  border: $border-width solid $background-color;

  &.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $border-color;
    color: $dark-color;
    border-color: $border-color;
    font-size: $font-size-xs;

    &.circle-md {
      width: 35px;
      height: 35px;
    }

    &.circle-sm {
      width: 20px;
      height: 20px;
    }

    &.circle-xs {
      width: 10px;
      height: 10px;
    }

    &.circle-success {
      background-color: $success-color;
      border-color: $success-color;
    }

    &.circle-alert {
      background-color: $alert-color;
      border-color: $alert-color;
    }

    &.circle-meta {
      background-color: $meta-color;
      border-color: $meta-color;
    }

    &.circle-progress {
      background-color: $progress-color;
      border-color: $progress-color;
    }

  }

  &.rect {
    font-size: $font-size-lg;
    width: 40px;
    height: 40px;
    border-width: $border-width-lg;
    border-radius: $border-radius;
  }

}
