
.w-full {
  width: 100% !important;
}

.w-35 {
  width: 35px !important;
}

.w-50 {
  width: 50px !important;
}

.w-70 {
  width: 70px !important;
}

.w-90 {
  width: 90px;
}

.w-100 {
  width: 100px !important;
}

.w-120 {
  width: 120px;
}

.w-125 {
  width: 125px;
}

.w-128 {
  width: 128px;
}

.w-140 {
  width: 140px !important;
}

.w-150 {
  width: 150px !important;
}

.w-200 {
  width: 200px !important;
}

.w-204 {
  width: 204px;
}

.w-253 {
  width: 253px;
}

.w-300 {
  width: 300px !important;
}

.w-500 {
  width: 500px !important;
}
