<footer>
  <div>
    <p>Langue actuelle : {{ 'COMMON.LANG.'+translate.currentLang.toUpperCase() | translate }}</p>
    <ul>
      <li *ngIf="translate.currentLang !== 'fr'"><a (click)="translate.use('fr')">{{ 'COMMON.LANG.FR' | translate }}</a></li>
      <li *ngIf="translate.currentLang !== 'en'"><a (click)="translate.use('en')">{{ 'COMMON.LANG.EN' | translate }}</a></li>
    </ul>
  </div>
  <div>
    &copy;2017 {{ companyName }} - <a href="#TODO">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a> - <a href="#TODO">{{ 'FOOTER.TERMS' | translate }}</a>
  </div>
</footer>



