<footer class="container">
  <div class="columns">
    <div class="column col-10 col-mx-auto">

      <div class="dropdown">
        <div class="btn-group">
          <button class="btn dropdown-toggle" tabindex="0">
            {{ 'COMMON.LANG.'+translate.currentLang.toUpperCase() | translate }} <i class="icon icon-caret"></i>
          </button>
          <ul class="menu">
            <li *ngIf="translate.currentLang !== 'fr'">
              <a (click)="translate.use('fr')">{{ 'COMMON.LANG.FR' | translate }}</a>
            </li>
            <li *ngIf="translate.currentLang !== 'en'">
              <a (click)="translate.use('en')">{{ 'COMMON.LANG.EN' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="divider"></div>

      ©2017 {{ companyName }}
      • <a [routerLink]="'/legal'">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a>
      • <a [routerLink]="'/terms'">{{ 'FOOTER.TERMS' | translate }}</a>
    </div>
  </div>
</footer>


