@import "../../../../../../style/framework/src/variables";

#discover-description-component {

  .title-primary, .title-secondary {
    color: #3E5164;
    font-weight: $font-weight-normal;
    font-size: 2rem;
    margin-top: 0.5rem;
    font-family: Oswald, sans-serif;
    margin-bottom: $unit-h;
  }

  .summary-wrapper, .issue-wrapper, .solution-wrapper {
    padding-top: $unit-5;
    color: $background-color;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    margin-bottom: 0;
  }

  .section-header {
    padding-bottom: 1.5rem;

    a {
      display: flex;
      align-items: center;

      .fa-angle-left {
        font-size: 1.3rem;
        margin-right: $unit-1;
        color: $primary-color;
      }

      .text-link {
        color: #777777;
        font-weight: $font-weight-normal;

        &:hover, &:focus {
          color: $primary-color;
        }

      }

    }

    .title-primary {
      font-size: 2.3rem;
      margin-bottom: 0;
    }

    .summary-wrapper {
      padding-top: 0.5rem;
      margin-bottom: 0;
    }

  }

  .text.text-notify {
    display: inline-flex;
    color: #777777;
    font-weight: $font-weight-normal;
    align-items: center;
    font-size: $font-size-xs;
    margin-right: 0.75rem;
    margin-bottom: $unit-4;
    margin-top: $unit-4;

    i {
      margin-right: $unit-h;
      font-size: 0.5rem;
    }

  }

  .section-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .media-wrapper {
      display: inline-flex;
      margin: 0.5rem $unit-5 1.5rem;

      img:hover {
        cursor: pointer;
      }

    }

  }

  .section-benefits, .section-issue, .section-solution {
    padding-bottom: $unit-5;
  }

  .section-benefits {
    font-size: $font-size-md;

    .benefit-wrapper {
      margin-top: $unit-3;
      margin-bottom: 0;

      li {
        color: $background-color;
      }

    }

  }

  .section-share {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: $border-width solid #f1f1f1;
    border-bottom: $border-width solid #f1f1f1;

    .button-wrapper {
      text-align: center;

      .btn {
        border-radius: 25px;
        margin: 0.5rem;
      }

    }

    .share-wrapper {
      margin-top: 0.75rem;
      text-align: center;

      .title-secondary {
        font-size: $font-size-sm;
        color: $background-color;
      }

      .btn-round {
        margin: 0.5rem $unit-1;
        width: 40px;
        height: 40px;
        font-size: $font-icon-lg;
      }

      .btn-linkedin {
        background-color: #0077B5;
        border-color: #0077B5;
      }

      .btn-twitter {
        background-color: #48AAEB;
        border-color: #48AAEB;
      }

      .btn-mail {
        background-color: $background-color;
        border-color: $background-color;
      }

      .btn-linkedin:hover, .btn-linkedin:focus, .btn-twitter:hover, .btn-twitter:focus, .btn-mail:hover, .btn-mail:focus {
        box-shadow: $box-shadow-hover;
        color: white;
      }

    }

  }

  .section-related {
    padding-top: 1.5rem;

    .text-note {
      display: flex;
      align-items: center;
      font-family: Oswald, sans-serif;
      font-size: $font-size-sm;
      color: $background-color;
      padding-bottom: 0.75rem;

      .fa-angle-right {
        font-size: 1.3rem;
        margin-right: $unit-1;
        color: $primary-color;
      }

    }

    .card-wrapper {
      justify-content: center;
      margin-left: -$unit-5;
      margin-right: -$unit-5;
      margin-bottom: -1.5rem;

      .card {
        flex: 0 1 280px;
        padding: $unit-2;
        margin-left: $unit-5;
        margin-right: $unit-5;
        border-color: transparent;

        .card-header {

          h6 {
            margin-bottom: 0;
            font-size: $font-size-md;
          }

          a:hover {
            color: $text-primary-color;
          }

          .tag-wrapper {
            flex-wrap: wrap;

            .text.text-notify {
              padding-top: $unit-1;
              padding-right: $unit-2;
              margin: 0;
            }

          }

        }

      }

    }

  }

}

@media (max-width: $size-sm) {

  #discover-description-component {

    .section-related {

      .card-wrapper {
        flex-direction: column;
        margin-right: 0 !important;
        margin-left: 0 !important;

        .card {
          margin-right: auto !important;
          margin-left: auto !important;
        }

      }

    }

  }

}


@media (max-width: $size-xs) {

  #discover-description-component {

    .section-images .media-wrapper {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

  }

}
