@import "../../../../../../style/framework/variables";

#discover-description-component {

  .title-primary, .title-section {
    color: #3E5164;
    font-weight: normal;
    font-size: 2.5rem;
    margin-top: 0.6rem;
    font-family: Oswald, sans-serif;
    margin-bottom: 0.125rem;
  }

  .summary-wrapper, .issue-wrapper, .solution-wrapper {
    padding-top: 1.2rem;
    color: $background;
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 0;
  }

  .section-header {
    padding-bottom: 1.875rem;
    border-bottom: 1px solid #f1f1f1;

    a {
      display: flex;
      align-items: center;

      .fa-angle-left {
        font-size: 26px;
        margin-right: 0.3rem;
        color: $primary;
      }

      .text-link {
        color: #777777;
        font-weight: normal;
      }

      .text-link:hover, .text-link:focus {
        color: $primary;
      }

    }

    .title-primary {
      font-size: 2.875rem;
    }

    .label {
      border-radius: 25px;
      margin-left: 0;
      padding-top: 0.3rem;
      padding-bottom: 0.4rem;
    }

  }

  .section-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-bottom: 1px solid #f1f1f1;

    .media-wrapper {
      display: inline-flex;
      margin: 0.6rem;

      img {
        width: 318px;
        height: 225px;
        display: inline-flex;
        border-radius: 3px;
        object-fit: cover;
      }

      img:hover {
        cursor: pointer;
      }

    }

  }

  .section-benefits, .section-issue, .section-solution {
    padding-top: 0.6rem;
    padding-bottom: 1.2rem;
  }

  .section-benefits {

    .benefit-wrapper {
      margin-top: 1.2rem;

      li {
        color: $background;
        padding: 0 0 0.6rem;
      }

      li:last-child {
        padding: 0;
      }

    }

  }

  .section-share {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;

    .button-wrapper {
      text-align: center;

      .btn {
        border-radius: 25px;
        margin: 0.6rem;
      }

    }

    .share-wrapper {
      margin-top: 0.9375rem;
      text-align: center;

      .title-section {
        font-size: 1rem;
        color: $background;
      }

      .btn-round {
        margin: 0.6rem 0.35rem;
      }

      .btn-linkedin {
        background-color: #0077B5;
      }

      .btn-twitter {
        background-color: #48AAEB;
      }

      .btn-facebook {
        background-color: #4F65A1;
      }

      .btn-mail {
        background-color: $background;
      }

      .btn-linkedin:hover, .btn-linkedin:focus, .btn-twitter:hover, .btn-twitter:focus, .btn-facebook:hover, .btn-facebook:focus, .btn-mail:hover, .btn-mail:focus {
        box-shadow: $box-shadow-hover;
        color: white;
      }

    }

  }

}
