<div class="column col-xs-12 col-11 col-mx-auto section-container" id="discover-description-component">
  <ng-container *ngFor="let innovation of innovationCard">

    <!-- section header -->
    <div class="section-header">

      <!-- back to innovations -->
      <a routerLink="/discover"> <i class="fas fa-angle-left"></i><span class="text-link">{{ 'DISCOVERDESCRIPTION.BACK' | translate }}</span></a>

      <!-- innovation title -->
      <h1 class="title-primary">{{ innovation.title }}</h1>

      <!-- innovation tags -->
      <div *ngFor="let tag of tags" class="label label-draft">#{{ tag }}</div>

      <!-- innovation summary -->
      <div class="summary-wrapper" [innerHTML]="innovation.summary"></div>

    </div>

    <!-- section images -->
    <div *ngIf="innovation.media && innovation.media.length > 0" class="section-images">
      <div *ngFor="let media of innovation.media" class="media-wrapper">

        <!-- if image -->
        <ng-container *ngIf="media?.type === 'PHOTO'">
          <img [src]="getSrc(media.url)" [alt]="'DISCOVERDESCRIPTION.MEDIA' | translate" (click)="mediaToShow($event, media.url)">
        </ng-container>

        <!-- if video -->
        <ng-container *ngIf="media?.type === 'VIDEO'">
          <iframe [src]="domSanitizer.bypassSecurityTrustResourceUrl(media.video.embeddableUrl)" height="225" [ngStyle]="{ 'left': 'O', 'width': '318px', 'border-width': '0' }"></iframe>
        </ng-container>

      </div>
    </div>

    <!-- section benefits -->
    <div *ngIf="innovation.advantages && innovation.advantages.length > 0" class="section-benefits">
      <h1 class="title-section">{{ 'DISCOVERDESCRIPTION.BENEFITS' | translate }}</h1>
      <ul class="benefit-wrapper">
        <li *ngFor="let advantage of innovation.advantages">
          {{ advantage.text | FormatText }}
        </li>
      </ul>
    </div>

    <!-- section issue -->
    <div *ngIf="innovation.problem" class="section-issue">
      <h1 class="title-section">{{ 'DISCOVERDESCRIPTION.ISSUE' | translate }}</h1>
      <div class="issue-wrapper" [innerHTML]="innovation.problem"></div>
    </div>


    <!-- section solution -->
    <div *ngIf="innovation.solution" class="section-solution">
      <h1 class="title-section">{{ 'DISCOVERDESCRIPTION.SOLUTION' | translate }}</h1>
      <div class="solution-wrapper" [innerHTML]="innovation.solution"></div>
    </div>

    <!-- section share -->
    <div class="section-share">

      <!-- actions button -->
      <div class="button-wrapper">
        <a class="btn btn-primary" [href]="contactUs()">{{ 'DISCOVERDESCRIPTION.CONTACT_US' | translate }}</a>
        <a [href]="quizUrl" target="_blank" class="btn ghost-edit" [ngStyle]="{ 'display': quizButtonDisplay }">{{ 'DISCOVERDESCRIPTION.OPINION' | translate }}</a>
      </div>

      <!-- share buttons -->
      <div class="share-wrapper">
        <h1 class="title-section">{{ 'DISCOVERDESCRIPTION.SHARE_TITLE' | translate }}</h1>
        <a [href]="linkedInUrl" target="_blank" class="btn-round btn-linkedin"><i class="fab fa-linkedin-in fa-2x"></i></a>
        <a [href]="twitterUrl" target="_blank" class="btn-round btn-twitter"><i class="fab fa-twitter fa-2x"></i></a>
        <a [href]="facebookUrl" target="_blank" class="btn-round btn-facebook"><i class="fab fa-facebook-f fa-2x"></i></a>
        <a [href]="mailUrl" target="_blank" class="btn-round btn-mail"><i class="fas fa-envelope fa-2x"></i></a>
      </div>

    </div>

  </ng-container>
</div>


<!-- modal to view image -->
<app-modal-media [(showModal)]="modalMedia" [mediaSrc]="selectedMedia"></app-modal-media>
<!-- /modal to view image -->
