<!-- ABTESTING
 1 - switch => disabled si pas 2 scenario modfied dispo -> Active permet la saisie
 2 - Select A / Select B
 3 - Size A / Size B
 4 - Submit disabled si pas de champs correct

 ça serait cool de pouvoir affficher le nombre de pros contactable

 -->

<div >
  <label class="form-switch" style="">
    <input type="checkbox" [disabled]="!(modifiedScenarios.length)" (click)="statusSwitch()" >
    <i class="form-icon"></i>
  </label>



  <form class="form-horizontal" [formGroup]="form" >


    <div class="form-group">
      <select class = "form-select"
              [(ngModel)] = "nameWorkflowA"
              id = "workflowA"
              name = "quelquechoseA"
              formControlName="workflowA"
              >
        <option *ngFor = "let scenario of modifiedScenarios"
                [ngValue] = "scenario.name">
          {{scenario.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <select class = "form-select"
              [(ngModel)] = "nameWorkflowB"
              id = "workflowB"
              name = "quelquechoseB"
              formControlName="workflowB"
              >
        <option *ngFor = "let scenario of modifiedScenarios"
                [ngValue] = "scenario.name">
          {{scenario.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <input type="number" id="sizeA" [(ngModel)]="sizeA" formControlName="sizeA" />
    </div>
    <div class="form-group">
      <input type="number" id="sizeB"  [(ngModel)] = "sizeB" formControlName="sizeB" />
    </div>
    <!-- On click => envoi de données -->
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="startABtesting()">
      Submit
    </button>


  </form>
</div>

