@import "~@umius/umi-style-framework/scss/variables";
@import "~@umius/umi-style-framework/scss/mixins";

#spinner-loader {
  @include flex-position(center);
  @include full-page(fixed);
  background: $white-color;
  flex-direction: column;
  z-index: 9090;

  .loader-wrapper {
    animation: rotate 3s linear infinite;
    transform-origin: bottom center;

    .circle {
      animation: grow 1.5s linear infinite;
      background-color: #00B0FF;
      border-radius: 50%;
      display: inline-block;
      margin: -8px;
      height: 40px;
      width: 40px;
      transform: scale(0);

      &:nth-of-type(2) {
        animation-delay: .75s;
        background-color: #FFB300;
      }

    }

  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes grow {
    50% {
      transform: scale(1);
    }
  }

}
