@import "../../../../style/framework/src/variables";
@import "../../../../style/framework/src/mixins";

#spinner-loader {
  @include flex-centered();
  @include fixed-full-page();
  background: $white-color;
  flex-direction: column;
  z-index: 9090;

  .loader-wrapper {
    animation: rotate 3s linear infinite;
    transform-origin: bottom center;

    .circle {
      animation: grow 1.5s linear infinite;
      background-color: $community-color;
      border-radius: 50%;
      display: inline-block;
      margin: -8px;
      height: 40px;
      width: 40px;
      transform: scale(0);

      &:nth-of-type(2) {
        animation-delay: .75s;
        background-color: $primary-color;
      }

    }

  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes grow {
    50% {
      transform: scale(1);
    }
  }

}
