@import "../../../../../../style/variables";

#discover-description {
  padding-top: 0;

  .hero-container {
    background-color: $background-color;

    h1, .para {
      color: white;
    }

    h6 {
      color: #a4a4a4;
      font-size: 0.875rem;
      margin-bottom: .9375rem;
    }

    .detail-wrapper {
      display: flex;
      justify-content: space-between;

      .summary-wrapper {
        padding-right: 1.2rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .quiz-wrapper {

        .btn {
          padding-top: .875rem;
          padding-bottom: .875rem;

          i {
            vertical-align: middle;
          }

        }

      }

      .share-wrapper {
        background-color: #235273;
        padding: .8125rem 1.125rem 2.215rem 1.125rem;
        color: #fff;
        max-width: 310px;
        flex: 1 0 auto;
        min-height: 13.16rem;
        border-radius: .18rem;

        .para {
          font-size: 0.9375rem;
        }

        .fab, .far {
          margin: .3125rem 0 .3125rem .125rem;
          padding: .736875rem .73875rem;
          border-radius: 0.3125rem;
          cursor: pointer;
          transition: all 0.15s ease-in-out;
        }

        a {
          color: #FFFFFF;
          text-decoration: none;
        }

        #icon-linkedIn {
          padding-left: .84375rem;
          padding-right: .84375rem;
          background-color: #0077B5;
        }

        #icon-linkedIn:hover {
          background-color: white;
          color: #0077B5;
        }

        #icon-twitter {
          background-color: #48AAEB;
        }

        #icon-twitter:hover {
          background-color: white;
          color: #48AAEB;
        }

        #icon-facebook {
          padding-left: 1.21875rem;
          padding-right: 1.21875rem;
          background-color: #4F65A1;
          color: white;
        }

        #icon-facebook:hover {
          background-color: white;
          color: #4F65A1;
        }

        #icon-google {
          background-color: #CC5441;
          padding-right: .5rem;
          padding-left: .5rem;
        }

        #icon-google:hover {
          background-color: white;
          color: #CC5441;
        }

        #icon-mail {
          background-color: $meta-color;
        }

        #icon-mail:hover {
          background-color: white;
          color: $meta-color;
        }

      }

    }

  }

  .section-heading {
    font-weight: 400;
  }

  .media-wrapper {
    display: inline-block;
    margin: .5rem .5rem .5rem 0;

    img {
      width: 318px;
      height: 230px;
      display: inline-block;
    }

  }

  .advantage {
    margin: 0;

    li {
      color: #5D5D5D;
      font-size: 1rem;
      margin: 0;
      padding: .375rem .5rem .375rem .25rem;
    }

    li:last-child {
      padding-bottom: 0;
    }

  }

  .solution-wrapper {
    padding-top: 0;
    padding-bottom: 0;

    .section-heading {
      padding-top: 3.15rem;
    }

  }

}


.modal {

  .modal-container {
    background: transparent;
    box-shadow: none;
    overflow: unset;

    .modal-header {
      background: transparent;
      padding-right: .625rem;
    }

    .modal-body {
      padding: .625rem;
      max-height: 80vh;

      img {
        margin-right: auto;
        margin-left: auto;
        max-height: 600px;
      }

    }

  }

}

/********************************** Media ***************************************/

@media (max-width: 320px) {

  #discover-description {

    .detail-wrapper {

      .share-wrapper {
        max-width: 100% !important;
      }

    }

    .quiz-wrapper {

      .btn {
        padding-left: 1.0625rem;
        padding-right: 1.0625rem;
      }

    }

  }

}

@media (max-width: 600px) {

  #discover-description {

    .media-wrapper {

      img {
        max-width: 100%;
        max-height: unset;
      }

    }

  }

}

@media (max-width: 840px) {

  #discover-description {

    .detail-wrapper {
      flex-direction: column;

      .share-wrapper {
        margin-top: 1.5625rem;
        width: unset !important;
        max-width: 336px;
      }

    }

  }

}
