@import "~@umius/umi-style-framework/scss/variables";

.answer-question {

  .answer-wrapper {
    color: $success-color;

    .label-answer {
      background: #F8F4F4;
      color: $dark-color;
      font-size: 12px;
    }

    .sa-thumbs-up {
      margin-left: $unit-2;
      color: $success-color;

      i {
        vertical-align: 4px;
      }

    }

    .sa-thumbs-down {
      margin-left: $unit-2;
      color: $alert-color;

      i {
        vertical-align: -1px;
      }

    }

    .list-wrapper, .clearbit-wrapper, .checkbox-wrapper, .textarea-wrapper {
      margin: -$unit-1;
    }

    .clearbit-wrapper {

      .label {
        height: 36px;

        img {
          width: 20px;
          height: 20px;
        }

      }

    }

  }

  .textarea-wrapper, .comment-wrapper {

    textarea {
      max-width: 80%;
      margin-right: 10px;
      padding: 10px;
      font-size: 14px;
    }

  }

}// The option likert-scale checked

.answer-question .answer-wrapper #likert-scale{
  font-style: italic;
  font-weight: $font-weight-bold;
}

.answer-question .answer-wrapper .text-dark {
  color: $meta-color;
  font-style: italic;
}

/*the option checked*/
.answer-question .answer-wrapper #likert-scale {
  font-style: italic;
  font-weight: $font-weight-bold;
}

.answer-question .answer-wrapper .text-dark {
  color: $meta-color;
  opacity: 0.6;
  font-style: italic;
}

.answer-question .answer-wrapper #likert-scale .text-normal {
  font-style: normal;
  opacity:1;
}


