@import "../../../../../../style/framework/src/variables";
@import "../../../../../../style/framework/src/mixins";

.answer-question {

  .answer-wrapper {
    color: $text-success-color;

    .label-answer {
      @include label-variant($text-dark-color, #F8F4F4);
      font-size: 12px;
    }

    .sa-thumbs-up {
      margin-left: $unit-2;
      color: $text-success-color;

      i {
        vertical-align: 4px;
      }

    }

    .sa-thumbs-down {
      margin-left: $unit-2;
      color: $text-alert-color;

      i {
        vertical-align: -1px;
      }

    }

    .list-wrapper, .clearbit-wrapper, .checkbox-wrapper, .textarea-wrapper {
      margin: -$unit-1;
    }

    .clearbit-wrapper {

      .label {
        height: 36px;

        img {
          width: 20px;
          height: 20px;
        }

      }

    }

  }

  .textarea-wrapper, .comment-wrapper {

    textarea {
      max-width: 80%;
      margin-right: 10px;
      padding: 10px;
      font-size: 14px;
    }

  }

}// The option likert-scale checked

.answer-question .answer-wrapper #likert-scale{
  font-style: italic;
  font-weight: $font-weight-bold;
}

.answer-question .answer-wrapper .text-primary-dark {
  color: $text-meta-color;
  opacity: 0.33;
  font-style: italic;
}

.answer-question .answer-wrapper #likert-scale .text-normal {
  font-style: normal;
  opacity:1;
}


