<div
  *ngIf="fullAnswer.answers && (fullAnswer.answers[question.identifier]
  || fullAnswer.answers[question.identifier + 'Comment'] || editMode)"
  [id]="question.identifier"
  class="p-top-40 answer-question">

  <!-- label -->
  <div class="text-15 text-bold text-meta p-bottom-15">{{ questionLabel }}</div>
  <!-- /label -->

  <!-- answers -->
  <div [ngSwitch]="question.controlType" class="answer-wrapper">
    <div *ngIf="editMode || fullAnswer.answers[question.identifier]">

      <!-- radio case -->
      <div *ngSwitchCase="'radio'" class="flex-between">

        <!-- edit -->
        <ng-container *ngIf="editMode">
          <div
            (click)="selectOption($event, option)"
            *ngFor="let option of question.options"
            [ngClass]="{ 'text-dark': option.identifier !== fullAnswer.answers[question.identifier] }"
            class="c-hand">
            {{ optionLabel(option.identifier) }}
          </div>
        </ng-container>
        <!-- edit -->

        <!-- not edit mode -->
        <div *ngIf="!editMode && optionLabel(fullAnswer.answers[question.identifier])" class="text-medium">
          {{ optionLabel(fullAnswer.answers[question.identifier]) }}
        </div>
        <!-- /not edit mode -->

        <app-rating-item
          [editMode]="editMode"
          [prop]="question.identifier"
          [rating]="fullAnswer.answers[question.identifier + 'Quality']"
          (ratingChange)="updateQuality($event)">
        </app-rating-item>

      </div>
      <!-- /radio case -->

      <!-- clearbit case -->
      <div *ngSwitchCase="'clearbit'">

        <!-- edit mode -->
        <div *ngIf="editMode">
          <app-utility-auto-complete-input
            (update)="setAnswer($event)"
            [config]="{ placeholder: 'Enter the company name',
            initialData: fullAnswer.answers[question.identifier] || [], type: 'company' }"
            [isAdmin]="adminMode"
            [isEditable]="editMode"
            [isSmall]="true">
          </app-utility-auto-complete-input>
        </div>
        <!-- /edit mode -->

        <!-- not edit mode -->
        <div *ngIf="!editMode && fullAnswer.answers[question.identifier]" class="clearbit-wrapper">
          <div *ngFor="let item of fullAnswer.answers[question.identifier]" class="label label-answer">
            <img *ngIf="item.logo" [src]=item.logo alt=" " class="img-responsive m-right-2">
            <ng-container *ngIf="!item.domain">{{ item.name }}</ng-container>
            <a *ngIf="item.domain" [href]=link(item.domain) target="_blank">{{ item.name }}</a>
            <span *ngIf="item.rating === 2" class="sa-thumbs-up"><i class="fas fa-thumbs-up"></i></span>
            <span *ngIf="item.rating === 0" class="sa-thumbs-down"><i class="fas fa-thumbs-down"></i></span>
          </div>
        </div>
        <!-- /not edit mode -->

      </div>
      <!-- /clearbit case -->

      <!-- list case -->
      <div *ngSwitchCase="'list'">

        <!-- edit mode -->
        <div *ngIf="editMode">
          <app-utility-input-list
            (update)="setAnswer($event)"
            [isSmall]="true"
            [config]="{ placeholder: 'Enter your response',
            initialData: fullAnswer.answers[question.identifier] || [] }"
            [isAdminMode]="adminMode"
            [isEditable]="editMode">
          </app-utility-input-list>
        </div>
        <!-- /edit mode -->

        <!-- not edit mode -->
        <div *ngIf="!editMode && fullAnswer.answers[question.identifier]" class="list-wrapper">
          <div *ngFor="let item of fullAnswer.answers[question.identifier]" class="label label-answer">
            <ng-container *ngIf="!item.link">{{ item.text }}</ng-container>
            <a *ngIf="item.link" [href]=item.link target="_blank">{{ item.text }}</a>
            <span *ngIf="item.rating === 2" class="sa-thumbs-up"><i class="fas fa-thumbs-up"></i></span>
            <span *ngIf="item.rating === 0" class="sa-thumbs-down"><i class="fas fa-thumbs-down"></i></span>
          </div>
        </div>
        <!-- /not edit mode -->

      </div>
      <!-- /list case -->

      <!-- checkbox case -->
      <div *ngSwitchCase="'checkbox'" class="checkbox-wrapper">
        <ng-container *ngFor="let option of question.options">

          <!-- edit mode -->
          <div *ngIf="editMode" class="m-1">
            <div class="">
              <label class="form-checkbox" for="{{question.identifier}}-{{option.identifier}}">
                <input
                  (change)="emitChanges()"
                  [(ngModel)]="fullAnswer.answers[question.identifier][option.identifier]"
                  id="{{question.identifier}}-{{option.identifier}}"
                  type="checkbox">
                <i class="form-icon"></i>
              </label>
              {{ optionLabel(option.identifier) }}
            </div>
          </div>
          <!-- /edit mode -->

          <!-- not edit mode -->
          <div
            *ngIf="(!!fullAnswer.answers[question.identifier] &&
            !!fullAnswer.answers[question.identifier][option.identifier]) && !editMode"
            class="label label-answer">
            {{ optionLabel(option.identifier) }}
          </div>
          <!-- /not edit mode -->

        </ng-container>
      </div>
      <!-- /checkbox case -->

      <!-- textarea case -->
      <div
        *ngSwitchCase="'textarea'"
        [ngStyle]="{'margin-top': answerTags(question.identifier).length > 0 && !editMode ? '-15px' : '0'}"
        class="textarea-wrapper">

        <!-- edit mode -->
        <form *ngIf="editMode" class="d-flex justify-center m-1">

          <label class="d-block flex-full">
            <textarea
              (change)="emitChanges()"
              [(ngModel)]="fullAnswer.answers[question.identifier]"
              class="form-input is-shadowed"
              name="comment"
              rows="4">
             </textarea>
          </label>

          <app-rating-item
            [editMode]="editMode"
            [prop]="question.identifier"
            [rating]="fullAnswer.answers[question.identifier + 'Quality']"
            (ratingChange)="updateQuality($event)">
          </app-rating-item>

        </form>
        <!-- /edit mode -->

        <!-- tags -->
        <div
          *ngIf="answerTags(question.identifier).length > 0 || editMode"
          [ngClass]="{'p-top-20': editMode, 'p-bottom-2': !editMode}"
          class="m-1">
          <app-shared-tags
            [isSmall]="true"
            [tags]="answerTags(question.identifier)"
            [editMode]="editMode"
            [projectId]="projectId"
            (addTag)="addTag($event, question.identifier)"
            (createTag)="createTag($event, question.identifier)"
            (removeTag)="removeTag($event, question.identifier)">
          </app-shared-tags>
        </div>
        <!-- /tags -->

        <!-- not edit mode -->
        <div *ngIf="!editMode && fullAnswer.answers[question.identifier]" class="label label-answer">

          <ng-container *ngIf="!showQuestionTranslation">
            <div class="text-left" style="white-space: pre-line">
              {{fullAnswer.answers[question.identifier]}}
            </div>
            <button
              (click)="showQuestionTranslation = true"
              *ngIf="adminMode && (fullAnswer.used_language.toLowerCase() !== platformLang)"
              class="button is-secondary is-xs is-link">
              {{ 'COMMON.TRANSLATE' | translate }}
            </button>
          </ng-container>

          <ng-container *ngIf="showQuestionTranslation">
            {{ fullAnswer.answers_translations[question.identifier][platformLang] }}
            <button
              (click)="showQuestionTranslation = false"
              *ngIf="adminMode"
              class="button is-secondary is-xs is-link">
              Reset translation
            </button>
          </ng-container>

          <span
            *ngIf="fullAnswer.answers[question.identifier + 'Quality'] === 2"
            class="sa-thumbs-up">
              <i class="fas fa-thumbs-up"></i>
            </span>

          <span
            *ngIf="fullAnswer.answers[question.identifier + 'Quality'] === 0"
            class="sa-thumbs-down">
              <i class="fas fa-thumbs-down"></i>
          </span>

        </div>
        <!-- /not edit mode -->

      </div>
      <!-- /textarea case -->

      <!-- scale case -->
      <div *ngSwitchCase="'scale'" class="text-dark">
        {{ fullAnswer.answers[question.identifier ] }}
      </div>
      <!-- /scale case -->

      <!-- star case -->
      <div *ngSwitchCase="'stars'" class="text-dark">

        <!-- not edit mode -->
        <div *ngIf="fullAnswer.answers[question.identifier] && !editMode">
          <div
            *ngFor="let opt of question.options; let i = index"
            [ngClass]="{'m-bottom-10': i !== (question.options && question.options.length - 1)}">
            {{ optionLabel(opt.identifier) }}:
            <span class="text-primary m-left-2">
              {{ '★'.repeat(fullAnswer.answers[question.identifier][opt.identifier]) }}
            </span>
          </div>
        </div>
        <!-- /not edit mode -->

        <!-- edit mode -->
        <div *ngIf="editMode">
          <div *ngFor="let opt of question.options; index as i" class="d-flex align-center">
            {{ optionLabel(opt.identifier) }}:
            <label
              *ngFor="let value of starCase"
              class="form-radio m-left-2 p-right-10"
              [for]="question.identifier+'-benefit'+i+'-rate'+value">
              <input
                (change)="emitChanges()"
                [(ngModel)]="fullAnswer.answers[question.identifier][opt.identifier]"
                [value]="value"
                [id]="question.identifier+'-benefit'+i+'-rate'+value"
                name="{{question.identifier}}-benefit{{opt.identifier}}"
                type="radio">
              <i class="form-icon"></i> {{ value }}
            </label>
          </div>
        </div>
        <!-- /edit mode -->

      </div>
      <!-- /star case -->

      <!-- ranking case -->
      <div *ngSwitchCase="'ranking'" class="text-dark">
        <!-- not edit mode -->
        <div *ngIf="fullAnswer.answers[question.identifier] && !editMode">
          <div
            *ngFor="let opt of fullAnswer.answers[question.identifier] | keyvalue; let index = index"
            [ngClass]="{'m-bottom-10': index !== (question.options && question.options.length - 1)}">
            {{index + 1}} -
            <span class="m-left-2">
              {{ (opt.value)? optionLabel(question.options[opt.value].identifier):'?' }}
            </span>
          </div>
        </div>
        <!-- /not edit mode -->

        <!-- edit mode -->
        <div *ngIf="editMode">
          <div
            *ngFor="let opt of fullAnswer.answers[question.identifier] | keyvalue; let index = index"
            [ngClass]="{'m-bottom-10': index !== (question.options && question.options.length - 1)}">
            <select [id]="'select-' + question.identifier + '-' + index" (change)="moveListElement(question.identifier, index)">
              <option [selected]="index === j"
                      *ngFor="let a of [].constructor(question.options.length); let j = index">{{ j + 1 }}</option>
            </select>
            <span class="m-left-2">
              {{ optionLabel(question.options[opt.value || index].identifier)}}
            </span>
          </div>
        </div>
        <!-- /edit mode -->

      </div>
      <!-- /star case -->

      <!-- toggle case -->
      <div *ngSwitchCase="'toggle'">
        <label class="form-switch">
          <input
            (change)="emitChanges()"
            [(ngModel)]="fullAnswer.answers[question.identifier]"
            [ngClass]="{ 'disabled': fullAnswer.answers[question.identifier] !== null,
            'active': fullAnswer.answers[question.identifier] }"
            [ngModelOptions]="{ standalone: true }"
            name="toggle-input"
            type="checkbox">
          <i class="form-icon"></i>
        </label>
      </div>
      <!-- /toggle case -->

      <!-- default case -->
      <div *ngSwitchDefault>
        <div class="text-alert">Unknown Response Type.</div>
      </div>
      <!-- /default case -->

      <!-- likert scale case -->
      <div *ngSwitchCase="'likert-scale'" class="flex-between" id="likert-scale">

        <!--not edit mode -->
        <ng-container *ngIf="fullAnswer.answers[question.identifier] && !editMode">
          <div class="c-hand"
            *ngFor="let option of question.options"
            [ngClass]="{'text-normal': editMode,
            'text-dark': option.identifier !== fullAnswer.answers[question.identifier]}">
            {{ optionLabel(option.identifier) }}
          </div>
        </ng-container>
        <!--end no editMode-->

        <!--editMode-->
        <ng-container *ngIf="editMode">
          <div class="c-hand"
            (click)="selectOption($event, option)"
            *ngFor="let option of question.options"
            [ngClass]="{'text-normal': editMode,
            'text-dark': option.identifier !== fullAnswer.answers[question.identifier]}">
            {{ optionLabel(option.identifier) }}
          </div>
        </ng-container>
       <!--end editMode-->
      </div>
      <!-- /likert scale case -->

    </div>
  </div>
  <!-- /answers -->

  <!-- comment part not edit mode -->
  <div
    *ngIf="fullAnswer.answers[question.identifier + 'Comment'] && !editMode"
    class="p-top-20">

    <div class="text-secondary text-medium">Comment</div>

    <div *ngIf="answerTags(question.identifier + 'Comment').length > 0" class="p-top-10 p-bottom-10">
      <app-shared-tags
        (addTag)="addTag($event, question.identifier + 'Comment')"
        (createTag)="createTag($event, question.identifier + 'Comment')"
        (removeTag)="removeTag($event, question.identifier + 'Comment')"
        [editMode]="false"
        [projectId]="projectId"
        [tags]="answerTags(question.identifier + 'Comment')">
      </app-shared-tags>
    </div>

    <div *ngIf="!showCommentTranslation" class="p-top-10 text-dark">
      {{ fullAnswer.answers[question.identifier + 'Comment'] }}
      <button
        (click)="showCommentTranslation = true"
        *ngIf="adminMode && (fullAnswer.used_language.toLowerCase() !== platformLang)"
        class="button is-secondary is-xs is-link">
        {{ 'COMMON.TRANSLATE' | translate }}
      </button>
    </div>

    <div *ngIf="showCommentTranslation" class="p-top-10 text-dark">
      {{ fullAnswer.answers_translations[question.identifier + 'Comment'][platformLang] }}
      <button
        (click)="showCommentTranslation = false"
        *ngIf="adminMode"
        class="button is-secondary is-xs is-link">
        Reset translation
      </button>
    </div>

  </div>
  <!-- /comment part not edit mode -->

  <!-- add tags -->
  <div class="p-top-20 d-flex align-center flex-wrap" *ngIf="adminMode">
    <ng-container *ngFor="let tag of answerTags(question.identifier + 'Comment')">
      <app-utility-editable-tag-label
        [projectId]="projectId"
        [defaultTag]="tag"
        (performAction)="performAction($event, question.identifier + 'Comment', tag)">
      </app-utility-editable-tag-label>
    </ng-container>
    <button class="button is-action is-draft is-circled is-xs" *ngIf="!isAddTag" (click)="showAddTag()">
      <i class="fas fa-plus"></i>
    </button>
    <div *ngIf="isAddTag">
      <app-utility-editable-tag-label
        [projectId]="projectId"
        [defaultTag]="null"
        (performAction)="performAction($event, question.identifier + 'Comment')">
      </app-utility-editable-tag-label>
    </div>
  </div>
  <!-- /add tags -->

  <!-- comment part edit mode -->
  <div *ngIf="editMode" class="p-top-20">

    <div class="text-warning text-medium">
      <span class="c-hand" (click)="commenting = !commenting">
        Comment <i [ngClass]="commenting ? 'icon-arrow-down' : 'icon-arrow-right'" class="icon m-left-1"></i>
      </span>
    </div>

    <div *ngIf="commenting" class="d-flex justify-space comment-wrapper p-top-15">

      <label class="d-block flex-full">
        <textarea
          (change)="emitChanges()"
          [(ngModel)]="fullAnswer.answers[question.identifier + 'Comment']"
          class="form-input is-shadowed"
          name="comment"
          rows="4">
         </textarea>
      </label>

      <app-rating-item
        (ratingChange)="updateQuality($event)"
        [editMode]="editMode"
        [prop]="question.identifier + 'Comment'"
        [rating]="fullAnswer.answers[question.identifier + 'CommentQuality']">
      </app-rating-item>

    </div>

  </div>
  <!-- /comment part edit mode -->

</div>

