<div class="section-header">
  <div class="move-element">
    <i class="fa fa-caret-up" (click)="up()"></i>
    <i class="fa fa-caret-down" (click)="down()"></i>
  </div>

  <form *ngIf="editSection" class="form-group" [formGroup]="formData" novalidate>
    <select class="form-select" formControlName="description">
      <option [ngValue]="'nothing'">{{ "PRESETS.SECTION.DESCRIPTION.nothing" | translate }}</option>
      <option [ngValue]="'1st'">{{ "PRESETS.SECTION.DESCRIPTION.1st" | translate }}</option>
      <option [ngValue]="'2nd'">{{ "PRESETS.SECTION.DESCRIPTION.2nd" | translate }}</option>
    </select>
    <div [formGroup]="formData.get('label')" class="form-group">
      <input type="text" formControlName="en" placeholder="English name" class="form-default">
      <input type="text" formControlName="fr" placeholder="Nom français" class="form-default">
    </div>
  </form>

  <ng-container *ngIf="!editSection">
    <select class="form-select" disabled>
      <option>{{ "PRESETS.SECTION.DESCRIPTION." + formData.get('description').value | translate }}</option>
    </select>
    <div [innerHtml]="formData.get('label.en').value"></div>
  </ng-container>


  <div class="button-actions">
    <button type="button" class="btn btn-xs ghost-edit"
            (click)="(editSection = !editSection) || save($event)"
            [innerHtml]="editSection ? 'Validate' : 'Edit'">
    </button>
    <button *ngIf="!editSection"
            type="button" class="btn btn-xs btn-error"
            (click)="removeSection($event)"
            [innerHtml]="'Delete'">
    </button>
  </div>

</div>

<div *ngIf="true">
  <div *ngFor="let question of questions; let i = index;">
    <app-admin-project-questionnaire-question
      [question]="question"
      (remove)="removeQuestion(question, i)"
      (clone)="cloneQuestion($event, i)"
      (move)="moveQuestion($event, i)">
    </app-admin-project-questionnaire-question>
  </div>

  <div class="add-question" (click)="addQuestion()">
    <button class="btn-round btn-primary"><i class="icon icon-plus"></i></button>
    <div>Add question</div>
  </div>

</div>

