<div class="section-header">
  <div class="move-element">
    <i class="fa fa-caret-up" (click)="up()"></i>
    <i class="fa fa-caret-down" (click)="down()"></i>
  </div>

  <select class="form-select"
          id="sectionType"
          name="section"
          (ngModelChange)="this.updateDescription($event)"
          [(ngModel)]="section.description">
    <option [ngValue]="'nothing'">{{ "PRESETS.SECTION.DESCRIPTION.NOTHING" | translate }}</option>
    <option [ngValue]="'1st'">{{ "PRESETS.SECTION.DESCRIPTION.FIRST" | translate }}</option>
    <option [ngValue]="'2nd'">{{ "PRESETS.SECTION.DESCRIPTION.SECOND" | translate }}</option>
  </select>

  <div *ngIf="!editName">{{section.label?.en}}</div>

  <input type="text" *ngIf="editName" [(ngModel)]="section.label.en" (keyup.enter)="update()" class="form-default">
  <input type="text" *ngIf="editName" [(ngModel)]="section.label.fr" (keyup.enter)="update()" class="form-default">

  <div class="button-actions">
    <!--<button type="button"
            class="btn btn-xs ghost-edit"
            (click)="coolapse()"
            *ngIf="!editName">
      Edit
    </button>-->

    <button type="button" class="btn btn-xs ghost-edit" (click)="editName = !editName" *ngIf="editName">
      Save
    </button>

    <button type="button" class="btn btn-xs ghost-edit" (click)="editName = !editName" *ngIf="!editName">
      Rename
    </button>

    <button type="button" class="btn btn-xs ghost-delete" (click)="removeSection()" *ngIf="!editName">
      Delete
    </button>
  </div>

</div>

<div [hidden]="state.sec">
  <div *ngFor="let question of section.questions; let i1 = index;">
    <app-admin-project-questionnaire-question
      [question]="question"
      [stateIN]="state.quest"
      [index]="i1"
      (questionChange)="updateQuestion($event, i1)"
      (remove)="removeQuestion(question, i1)"
      (stateOUT)="questionState($event)"
      (clone)="cloneQuestion($event, i1)"
      (move)="moveQuestion($event, i1)">
    </app-admin-project-questionnaire-question>
  </div>

  <div class="add-question" (click)="addQuestion()">
    <button class="btn-round btn-primary"><i class="icon icon-plus"></i></button>
    <div>Add question</div>
  </div>

</div>

