<ul id="account-sidenav" class="side-nav">
  <li>
    <div class="userView">
      <div class="background">
        <img src="http://materializecss.com/images/office.jpg">
      </div>
      <span class="white-text name">{{ user.firstName || "" }} {{ user.lastName || "" }}</span>
      <span class="white-text email">{{ user.email || "" }}</span>
    </div>
  </li>
  <!--<li> TODO
    <a [routerLink]="'/'">
      <i class="material-icons left">dashboard</i>
      <span>{{ 'COMMON.DASHBOARD' | translate }}</span>
    </a>
  </li>-->
  <li>
    <a [routerLink]="'/account'">
      <i class="material-icons left">person</i>
      <span>{{ 'COMMON.MY_ACCOUNT' | translate }}</span>
    </a>
  </li>
  <li>
    <a [routerLink]="'/innovations'">
      <i class="material-icons left">folder</i>
      <span>{{ 'COMMON.MY_INNOVATIONS' | translate }}</span>
    </a>
  </li>
  <li>
    <a [routerLink]="'/logout'">
      <i class="material-icons left">power_settings_new</i>
      <span>{{ 'COMMON.LOG_OUT' | translate }}</span>
    </a>
  </li>

  <li><div class="divider"></div></li>

  <!--<li class="subheader"> TODO
    <a>
      <span>{{ 'COMMON.MY_INNOVATIONS' | translate }}</span>
    </a>
  </li>
  <li *ngFor="let innovation of myInnovations; let i = index" class="waves-effect">
    <a [routerLink]="'/'">
      <span>{{(innovation.name || 'Innovation n°' + i ) | translate }}</span> TODO set translations of innovations names when loading account information ! Example : MY_INNOV.MATELAS_COMMUNICANT
    </a>
  </li>-->


  <div class="hide-on-med-and-up">

    <!--<li><div class="divider"></div></li> TODO

    <li *ngIf="authService.isAdmin">
      <a [routerLink]="'/admin'">
        <span>{{ 'COMMON.ADMIN' | translate }}</span>
      </a>
    </li>-->
    <li>
      <a [routerLink]="'/logout'">
        <span>{{ 'COMMON.LOG_OUT' | translate }}</span>
      </a>
    </li>

  </div>
</ul>
