.big-synthesis {
  position: relative;
  background: white;
  padding: 0;
  text-align: center;
  min-width: 220px;
  margin-right: 30px;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 30px;
  max-width: 220px;

  .chart-pie {
    height: auto !important;
    width: 150px !important;
    margin: 0 auto 30px auto;
  }

  .number-ratio {
    color: #8E8E8E;
  }

  .number-ratio span {
    display: block;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 5px;
  }
}
