@import "../../../../../../style/framework/src/variables";

#forget-password-component {

  .main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 auto;

    .title-primary {
      font-size: 1.4rem;
      color: $text-background-color;
    }

    h2 {
      font-size: $font-size-sm;
      font-weight: normal;
      margin-bottom: 0;
    }

    .success-wrapper {
      font-size: $font-size-md;
      color: $success-color;
      text-align: center;

      .break {
        display: none;
      }

    }

    .email {
      padding-top: 1rem;
      padding-bottom: 1.25rem;
      width: 100%;
    }

    .reset-button {
      padding-top: 1.57rem;
      justify-content: center;
    }

  }

}


@media (min-width: $size-md) {

  #forget-password-component {

    .break {
      display: flex !important;
    }

  }

}


@media (min-width: $size-sm) and (max-width: $size-md) {

  #forget-password-component {

    .email {
      width: 95% !important;
    }

  }

}


@media (min-width: $size-md) and (max-width: $size-xl) {

  #forget-password-component {

    .email {
      width: 97% !important;
    }

  }

}


@media (min-width: $size-xl) and (max-width: $size-2x) {

  #forget-password-component {

    .email {
      width: 72% !important;
    }

  }

}


@media (min-width: $size-2x) {

  #forget-password-component {

    .email {
      width: 60% !important;
    }

  }

}

