<div class="container fluid" id="forget-password">
  <div class="column col-sm-12 col-md-8 col-6 col-mx-auto main-wrapper p-top-25 p-bottom-25">

    <!-- Logo section -->
    <section class="text-center">
      <a [href]="companyName">
        <img
          [alt]="companyName"
          [src]="companyLogo"
          height="57.58"
          width="110">
      </a>
    </section>


    <!-- Main content -->
    <section class="form-section flex-centered flex-d-column">

      <!-- Heading -->
      <h1 class="title text-center m-bottom-15">{{ 'FORGET_PASSWORD.HEADING_A' | translate }}</h1>

      <!-- Success text -->
      <h2 class="text-success text-center text-md" [ngStyle]="{ 'display': emailSent ? 'flex' : 'none'}">
        {{ 'FORGET_PASSWORD.SUCCESS_TEXT.A' | translate }}
        {{ companyName.toUpperCase() }}
        {{ 'FORGET_PASSWORD.SUCCESS_TEXT.B' | translate }}
        <br class="break"> {{ 'FORGET_PASSWORD.SUCCESS_TEXT.C' | translate }}
      </h2>

      <!-- Sub heading -->
      <h2 class="text-center" [ngStyle]="{'display': !emailSent ? 'flex' : 'none'  }" >
        {{ 'FORGET_PASSWORD.HEADING_B' | translate }}
      </h2>

      <!-- Email -->
      <div class="email p-top-25 p-bottom-25">
        <form novalidate (submit)="onClickSubmit()" [formGroup]="formData">

          <!-- Email field -->
          <div class="form-group has-error" [ngStyle]="{ 'display': !emailSent ? 'block' : 'none' }">
            <label class="form-label" for="forget-password-email">{{ 'COMMON.LABEL.EMAIL' | translate }}</label>
            <input
              autocomplete="off"
              class="form-input is-shadowed"
              formControlName="email"
              id="forget-password-email"
              placeholder="john@catco.com"
              type="email">
            <div
              *ngIf="formData.get('email').touched && formData.get('email').hasError('required')"
              class="form-input-hint">
              {{ 'COMMON.REQUIRED.EMAIL' | translate }}
            </div>
            <div
              *ngIf="formData.get('email').touched &&
              formData.get('email').hasError('email') && formData.get('email').value !== ''"
              class="form-input-hint">
              {{ 'COMMON.INVALID.EMAIL' | translate }}
            </div>
          </div>

          <!-- Reset button -->
          <div class="justify-center p-top-30" [ngStyle]="{ 'display': !emailSent ? 'flex' : 'none' }">
            <button
              [disabled]="formData.invalid"
              [id]="'forgetPassword-btn-reset'"
              class="button btn-reset"
              type="submit">
              {{ 'FORGET_PASSWORD.BUTTON_TEXT' | translate }}
            </button>
          </div>

          <!-- Login button -->
          <div class="text-center text-sm p-top-15">
            <a
              [id]="'forgetPassword-btn-login'"
              [routerLink]="'/login'"
              class="text-link"
              type="button">
              {{ 'FORGET_PASSWORD.SIGN_IN_TEXT' | translate }}
            </a>
          </div>

        </form>
      </div>

    </section>

    <!-- Sign up -->
    <section class="text-center">
      <span class="text-sm text-meta m-right-20">{{ 'LOG_IN.DOES_NOT_HAVE_ACCOUNT' | translate }}</span>
      <button
        [id]="'forgetPassword-btn-register'"
        class="button text-xs is-sm is-rounded is-outlined"
        routerLink="/register"
        type="button">
        {{'LOG_IN.SIGN_UP' | translate }}
      </button>
    </section>

  </div>
</div>
