@import "../../../../../../style/framework/src/variables";

#forget-password {

  .main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .form-section {
    flex: 1 0 auto;

    .title {
      font-size: 28px;
    }

    h2 {
      font-size: $font-size-sm;
      font-weight: normal;
      margin-bottom: 0;
    }

    .break {
      display: none;
    }

    .email {
      width: 100%;
    }

    .btn-reset {
      min-width: 195px;
    }

  }

}


@media (min-width: $size-md) {

  #forget-password-component {

    .break {
      display: flex !important;
    }

  }

}


@media (min-width: $size-sm) and (max-width: $size-md) {

  #forget-password {

    .email {
      width: 95% !important;
    }

  }

}


@media (min-width: $size-md) and (max-width: $size-xl) {

  #forget-password {

    .email {
      width: 97% !important;
    }

  }

}


@media (min-width: $size-xl) and (max-width: $size-2x) {

  #forget-password {

    .email {
      width: 72% !important;
    }

  }

}


@media (min-width: $size-2x) {

  #forget-password {

    .email {
      width: 60% !important;
    }

  }

}
