<main class="container fluid" id="forget-password-component">
  <div class="column col-xs-12 col-sm-11 col-md-8 col-6 col-mx-auto main-wrapper section-light-pad">

    <!-- Logo section -->
    <section class="text-center">
      <a href="https://www.umi.us"><img src="{{ getLogo() }}" alt=" " height="35px"></a>
    </section>


    <!-- Main content -->
    <section class="form-section">

      <!-- Heading -->
      <h1 class="title-primary text-center">{{ 'FORGET_PASSWORD.HEADING_A' | translate }}</h1>

      <!-- Success text -->
      <h2 class="success-wrapper" [ngStyle]="{ 'display': emailSent ? 'flex' : 'none' }">
        {{ 'FORGET_PASSWORD.SUCCESS_TEXT.A' | translate }} {{companyName}} {{ 'FORGET_PASSWORD.SUCCESS_TEXT.B' | translate }}
        <br class="break"> {{ 'FORGET_PASSWORD.SUCCESS_TEXT.C' | translate }}
      </h2>

      <!-- Sub heading -->
      <h2 class="text-center" [ngStyle]="{'display': !emailSent ? 'flex' : 'none'  }" >
        {{ 'FORGET_PASSWORD.HEADING_B' | translate }}
      </h2>

      <!-- Email -->
      <div class="email">
        <form novalidate (submit)="onClickSubmit()" [formGroup]="formData">

          <!-- Email field -->
          <div class="form-group has-error" [ngStyle]="{ 'display': !emailSent ? 'block' : 'none' }">
            <label class="form-label" for="forget-password-email">{{ 'COMMON.LABEL.EMAIL' | translate }}</label>
            <input
              type="email"
              id="forget-password-email"
              class="form-input"
              formControlName="email"
              placeholder="john@catco.com">
            <span *ngIf="formData.get('email').touched">
              <span class="form-input-hint" *ngIf="formData.get('email').hasError('required')">{{ 'COMMON.REQUIRED.EMAIL' | translate }}</span>
              <span class="form-input-hint" *ngIf="formData.get('email').hasError('email') && formData.get('email').value !== ''">{{ 'COMMON.INVALID.EMAIL' | translate }}</span>
            </span>
          </div>

          <!-- Reset button -->
          <div class="reset-button" [ngStyle]="{ 'display': !emailSent ? 'flex' : 'none' }">
            <button class="btn btn-primary" type="submit" [disabled]="formData.invalid && formData.touched">{{ 'FORGET_PASSWORD.BUTTON_TEXT' | translate }}</button>
          </div>

          <!-- Login button -->
          <div class="text-center" [ngStyle]="{ 'font-size': '0.7rem', 'padding-top': '0.7rem' }">
            <span class="text-link" routerLink="/login">{{ 'FORGET_PASSWORD.SIGN_IN_TEXT' | translate }}</span>
          </div>

        </form>
      </div>

    </section>

    <!-- Sign up -->
    <section class="text-center">
      <span [ngStyle]="{ 'font-size': '0.7rem', 'padding-right': '0.4rem' }">{{ 'LOG_IN.DOES_NOT_HAVE_ACCOUNT' | translate }}</span>
      <button type="button" class="btn btn-sm ghost-primary" routerLink="/register">{{ 'LOG_IN.SIGN_UP' | translate }}</button>
    </section>

  </div>
</main>
