<section class="section-container" id="synthesis-list">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- No shared reports -->
    <div *ngIf="totalReports && !totalReports.length" class="no-report-wrapper text-center">
      <div class="bot-rect">
        {{ 'SHARE.SYNTHESIS_LIST.BOT_TEXT' | translate }}
      </div>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/v1528795403/app/default-images/bot-triangle.svg" class="bot-trian">
      <div>
        <img src="https://res.cloudinary.com/umi/image/upload/v1532612435/app/default-images/bot-advice.svg" alt="Bot" class="bot-image">
      </div>
    </div>
    <!-- /No shared reports -->


    <!-- When reports -->
    <ng-container *ngIf="totalReports && totalReports.length">

      <!-- While fetching -->
      <ng-container *ngIf="displaySpinner">
        <div class="spinner-wrapper">
          <app-shared-loader></app-shared-loader>
        </div>
      </ng-container>
      <!-- /While fetching -->

    </ng-container>
    <!-- /When reports -->


  </div>
</section>

<!--
<section class="section-container" id="projects-list">
    <div class="column col-xs-12 col-11 col-mx-auto">

        &lt;!&ndash; No project &ndash;&gt;
        <div *ngIf="sharedGraph && !sharedGraph.length" class="no-project-wrapper text-center">
            <div class="bot-rect">
                {{ 'PROJECT_MODULE.PROJECTS_LIST.NO_PROJECT.TITLE' | translate }}
                <br>
                {{ 'PROJECT_MODULE.PROJECTS_LIST.NO_PROJECT.CONTENT' | translate }}
            </div>
            <br>
            <img src="https://res.cloudinary.com/umi/image/upload/v1528795403/app/default-images/bot-triangle.svg" class="bot-trian">
            <div>
                <img src="https://res.cloudinary.com/umi/image/upload/v1532612435/app/default-images/bot-advice.svg" alt="Bot" class="bot-image">
            </div>
        </div>
        &lt;!&ndash; /No project &ndash;&gt;

        &lt;!&ndash; Projects &ndash;&gt;
        <ng-container *ngIf="sharedGraph && sharedGraph.length">

            &lt;!&ndash; While fetching &ndash;&gt;
            &lt;!&ndash;<div *ngIf="displaySpinner" class="spinner-wrapper">
                <app-shared-loader></app-shared-loader>
            </div>&ndash;&gt;
            &lt;!&ndash; /While fetching &ndash;&gt;

            &lt;!&ndash; Complete fetching &ndash;&gt;
            <ng-container *ngIf="!displaySpinner">

                &lt;!&ndash; Projects list &ndash;&gt;
                <div class="project-wrapper">
                    <div *ngFor="let graph of sharedGraph" class="content-outer">
                        &lt;!&ndash;<div class="content">
                            <a [routerLink]="#"><img [src]=""  alt="Media"></a>
                            <div class="project-description">
                                <a [routerLink]="getRelevantLink(project)">
                                    <span >{{ project.name || ('PROJECT_MODULE.PROJECTS_LIST.UNTITLED' | translate) }}</span>
                                </a>
                                <p class="date-text">
                                    {{ 'COMMON.ADDED' | translate }} {{ project.created | date:dateFormat }}
                                    •
                                    {{ 'COMMON.UPDATED' | translate }} {{ project.updated | date:dateFormat }}
                                    •
                                    {{ project.collaborators.length }} {{ 'PROJECT_MODULE.COLLABORATORS' | translate }}
                                </p>
                            </div>
                        </div>&ndash;&gt;
                    </div>
                </div>
                &lt;!&ndash; /Projects list &ndash;&gt;

                &lt;!&ndash; Pagination
                <div class="pagination-wrapper">
                    <app-pagination
                            [configValue]="paginationConfig"
                            (configChange)="configChange($event)"
                            [total]="total"
                            [propertyName]="'client-projects'">
                    </app-pagination>
                </div>
                &lt;!&ndash; /Pagination &ndash;&gt;

            </ng-container>
            &lt;!&ndash; /Complete fetching &ndash;&gt;

        </ng-container>
        &lt;!&ndash; /Projects &ndash;&gt;

    </div>
</section>-->
