@import "../../../../../style/variables";

#synthesis-list {

  .no-report-wrapper {
    padding-top: 3.15rem;

    .bot-rect {
      width: 300px;
    }

  }

  .spinner-wrapper {
    padding-top: 3.15rem;
  }

}
