<section class="section-container" id="synthesis-list">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- No shared reports -->
    <div *ngIf="totalReports && !totalReports.length" class="no-report-wrapper text-center">
      <div class="bot-rect">
        {{ 'SHARE.SYNTHESIS_LIST.BOT_TEXT' | translate }}
      </div>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/v1528795403/app/default-images/bot-triangle.svg" class="bot-trian">
      <div>
        <img src="https://res.cloudinary.com/umi/image/upload/v1532612435/app/default-images/bot-advice.svg" alt="Bot" class="bot-image">
      </div>
    </div>
    <!-- /No shared reports -->


    <!-- When reports -->
    <ng-container *ngIf="totalReports && totalReports.length">

      <!-- While fetching -->
      <ng-container *ngIf="displaySpinner">
        <div class="spinner-wrapper">
          <app-shared-loader></app-shared-loader>
        </div>
      </ng-container>
      <!-- /While fetching -->

      <!-- Complete fetching  -->
      <ng-container *ngIf="!displaySpinner">

        <!-- Report list -->
        <div class="report-wrapper">
          <div class="content-outer">
            <div class="content">
              <a><img [src]=""  alt="Media"></a>
              <div class="report-description">
                <a>
                  <span></span>
                </a>
                <p class="date-text">{{ 'SHARE.SYNTHESIS_LIST.SHARED_TEXT.A' | translate }} {{ 'SHARE.SYNTHESIS_LIST.SHARED_TEXT.B' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /Report list -->

        <!-- Pagination -->
        <div class="pagination-wrapper">
          <app-pagination
            [configValue]="paginationConfig"
            (configChange)="configChange($event)"
            [total]="total"
            [propertyName]="'client-synthesis-list'">
          </app-pagination>
        </div>
        <!-- /Pagination -->

      </ng-container>
      <!-- /Complete fetching -->

    </ng-container>
    <!-- /When reports -->

  </div>
</section>
