<div *ngIf="showModal" (click)="toggleState($event)">
  <div class="modal-component" [ngClass]="showModal ? 'active' : 'inactive'">
    <div class="modal-overlay">

      <div class="modal-container" [ngStyle]="{ 'max-width': maxWidth ? maxWidth : '640px' }">

        <div *ngIf="title" class="modal-header">
          <button class="btn btn-clear float-right" id="button-close"></button>
          <div class="modal-title">{{ title | translate }}</div>
        </div>

        <div class="modal-body">
          <ng-content></ng-content>
        </div>

        <div *ngIf="buttonAction" class="modal-footer">
          <button class="btn ghost-edit btn-sm btn-cancel" id="btn-cancel">{{ 'COMMON.CANCEL' | translate }}</button>
          <button *ngIf="!disabledButton" class="btn btn-sm btn-primary" (click)="onClickConfirm($event)">{{ buttonAction | translate }}</button>
          <button *ngIf="disabledButton" class="btn btn-sm btn-primary" (click)="onClickConfirm($event)" [disabled]="disabledButton">{{ buttonAction | translate }}</button>
        </div>

      </div>

    </div>
  </div>
</div>
