<section id="shared-tag-item-component">

  <!-- add tag input -->
  <ng-container *ngIf="editMode">
    <form [formGroup]="tagForm" (ngSubmit)="addTagEmitter($event)">
      <div class="form-group">
        <label for="shared-tag-item"></label>
        <input
          auto-complete
          formControlName="tag"
          [source]="tagSuggestions.bind(this)"
          [list-formatter]="autocompleListFormatter"
          [value-formatter]="autocompleValueFormatter"
          [attr.placeholder]="'COMMON.TAG_LABEL.TAG_PLACEHOLDER' | translate"
          id="shared-tag-item"
          class="form-input">
        <button class="btn btn-round btn-primary" [disabled]="!canAdd"><i class="fas fa-plus"></i></button>
      </div>
    </form>
  </ng-container>
  <!-- /add tag input -->

  <!-- displaying tags -->
  <ng-container *ngIf="tags?.length > 0">
    <div class="tags-wrapper">
      <div *ngFor="let tag of tags" [title]="tag.description | multiling:browserLang()" class="label label-tag">
        <i class="fas fa-tag"></i>
        <span>{{ tag?.label | multiling:browserLang() }}</span>
        <i *ngIf="editMode || isAdmin" class="fas fa-times" (click)="removeTagEmitter($event, tag)"></i>
      </div>
    </div>
  </ng-container>
  <!-- /displaying tags -->

</section>

<!-- modal to create new tag -->
<app-modal [(showModal)]="showModal">
  <h1>Create a new Tag</h1>
  <p>Do you want to create a new tag: "{{tagForm.get('tag').value}}" ?</p>
  <button type="button" (click)="createNewTag();">Create new tag</button>
  <button type="button" (click)="showModal = false">Close</button>
</app-modal>
<!-- /modal to create new tag -->
