<div class="shared-tag-item">

    <form *ngIf="editMode" [formGroup]="tagForm" (ngSubmit)="addTagEmitter($event)">
      <div [ngStyle]="{ 'display': 'flex' }">
        <input
          ng2-auto-complete
          formControlName="tag"
          [source]="tagSuggestions.bind(this)"
          [list-formatter]="autocompleListFormatter"
          [value-formatter]="autocompleValueFormatter"
          [attr.placeholder]="'Add an existing tag'"
          class="form-default">
        <button class="btn-round  btn-primary" [disabled]="!canAdd">
          <i class="icon icon-plus" [ngStyle]="{ 'font-size': '14px' }"></i>
        </button>
      </div>
    </form>

    <div *ngIf="tags?.length > 0" [ngStyle]="{ 'margin-top': '10px' }">
      <div *ngFor="let t of tags" class="tags">
        <div class="tags-wrapper">
          {{ t?.label | multiling:lang }}
          <i *ngIf="editMode" class="icon icon-cross" (click)="removeTagEmitter($event, t)"></i>
        </div>
      </div>
    </div>

</div>

<app-modal *ngIf="showModal" (close)="closeModal();">
  <h1>Create a new Tag</h1>
  <p>Do you want to create a new tag: "{{tagForm.get('tag').value}}" ?</p>
  <button type="button" (click)="createNewTag();">Create new tag</button>
  <button type="button" (click)="closeModal();">Close</button>
</app-modal>
