@import "../../../../../style/variables";

#shared-tag-item-component {

  .form-default.ng-touched.ng-invalid{
    border-color: #E0E0E0;
  }

  .tag-input-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: .6rem;
  }

  .tags-wrapper {
    margin-bottom: .6rem;

    .tags-content {
      display: inline-flex;
      background-color: $background-color;
      color: white;
      border-radius: 25px;
      justify-content: space-between;
      padding: .35rem .9375rem;
      font-weight: 600;
      align-items: center;
      font-size: .6875rem;
      margin: .35rem;

      .tags-body {

        .fa-times {
          cursor: pointer;
          margin-left: .6rem;
          font-size: .75rem;
          font-weight: 600;
          vertical-align: middle;
        }

      }

    }

  }


}
