.shared-tag-item {

  i.big {
    font-size: 28px;
    color: #adadad;
  }

  .flex-container {
    display: flex;
    span {
      margin-left: 10px;
    }
  }

  .form-default {
    margin-top: 0;
    margin-right: 20px;
  }

}
