.shared-tag-item {

  i.big {
    font-size: 28px;
    color: #adadad;
  }

  .form-default {
    margin-top: 0;
    margin-right: 5px;
  }

  .form-default.ng-touched.ng-invalid{
    border-color: #E0E0E0;
  }

  .tags {
    display: inline-flex;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .tags-wrapper {
    font-size: 14px;
    display: flex;
    padding: 8px 15px;
    border-radius: 5px;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    i {
      margin-left: 15px;
      cursor: pointer;
    }

  }

}
