<div [hidden]="isLoading" class="animate-fade is-5" id="admin-project-collection">

  <!-- stats banner -->
  <section>
    <app-admin-stats-banner [config]="statsConfig"></app-admin-stats-banner>
  </section>
  <!-- /stats banner -->

  <!-- content -->
  <div class="container grid-2xl fluid p-top-30 p-bottom-30">
    <div class="column col-sm-12 col-11 col-mx-auto">

      <!--<div>There are {{targetWarnings}} off-target answers here...</div>-->
      <!-- action buttons -->
      <section *ngIf="canAccess(['import']) || canAccess(['export'])" class="text-right m-bottom-15">

        <!-- import -->
        <span
          [ngClass]="{'tooltip': !selectedCampaign, 'm-right-25': canAccess(['export'])}"
          data-tooltip="Select single campaign">
          <label
            *ngIf="canAccess(['import'])"
            [ngClass]="{'disabled': !selectedCampaign}"
            class="button is-primary is-sm is-outlined m-bottom-15">
            <input
              (click)="openImportModal()"
              *ngIf="selectedCampaign"
              [hidden]="true"/>
            {{ isImportingAnswers ? 'importing...' : 'Import' }}
          </label>
        </span>
        <!-- /import -->

        <!-- export -->
        <span [ngClass]="{'tooltip': !selectedCampaign}" data-tooltip="Select single campaign">
          <button
            (click)="onExport()"
            *ngIf="canAccess(['export'])"
            [disabled]="!selectedCampaign"
            class="button is-primary is-sm m-bottom-15"
            id="btn-export-answers">
            Export
          </button>
        </span>
        <!-- /export -->

        <!-- modal to import -->
        <app-utility-modal [(showModal)]="isImportingAnswers" [title]="'Import Board'">

          <section class="modal-body">
            <app-shared-import-answers
              (importingError)="onImport($event)"
              [accessPath]="accessPath"
              [campaign]="selectedCampaign">
            </app-shared-import-answers>
          </section>

          <footer class="modal-footer">
            <ng-container *ngIf="importingErrors && importingErrors.length === 1">
              <app-shared-csv-error [error]="importingErrors[0]"></app-shared-csv-error>
            </ng-container>

            <button
              (click)="closeModal($event)"
              [id]="'btn-cancel'"
              class="button modal-cancel"
              type="button">
              Cancel
            </button>
          </footer>

        </app-utility-modal>
        <!-- /modal to import -->

        <!-- errors modal -->
        <app-utility-modal [(showModal)]="errorsModal" [title]="'Import errors'">

          <section *ngIf="importingErrors && slicedErrors" class="modal-body max-height-365">
            <ng-container *ngIf="importingErrors.length" >
              <div class="flex-d-column d-flex errors-box">
                <span class="text-error text-sm"> {{ importingErrors.length }} error(s) </span>
                <ul>
                  <app-shared-csv-error *ngFor="let err of slicedErrors" [error]="err" [htmlTag]="'li'"></app-shared-csv-error>
                </ul>
              </div>

              <!-- button to show more errors -->
              <div class="text-center" *ngIf="importingErrors.length > slicedErrors.length">
                <a class="text-link text-xs" (click)="onClickSeeMore()">{{ 'COMMON.BUTTON.SEE_MORE' | translate}}</a>
              </div>
              <!-- /button to show more errors -->
            </ng-container>
          </section>

        </app-utility-modal>
        <!-- /errors modal -->


      </section>
      <!-- /action buttons -->

      <!-- table -->
      <section>
        <umius-table
          (customFilter)="onCustomFilter($event)"
          (editRow)="onEdit($event)"
          (performAction)="onActions($event)"
          [(config)]="localConfig"
          [data]="tableData">
        </umius-table>
      </section>
      <!-- /table -->

    </div>
  </div>
  <!-- /content -->

</div>

<!-- sidebar insight preview -->
<app-sidebar
  *ngIf="answers.length > 0 && (canAccess(['view']) || canAccess(['edit']))"
  [(template)]="sidebarValue">
  <app-sidebar-user-answer
    [adminMode]="canAccess(['edit'])"
    [excludedCompanies]="excludedCompanies"
    [projectId]="innovation._id"
    [questions]="questions"
    [innovationCards]="innovation.innovationCards"
    [sidebarState]="sidebarValue.animate_state"
    (answerUpdated)="updateAnswersTable($event)"
    (userAnswerChange)="updateOneAnswer($event)"
    (sendNewPro)="updatePros($event)"
    [userAnswer]="sidebarAnswer">
  </app-sidebar-user-answer>
</app-sidebar>
<!-- /sidebar insight preview -->
