<div [hidden]="isLoading" id="admin-project-collection">

  <!-- stats banner -->
  <section>
    <app-admin-stats-banner [config]="statsConfig"></app-admin-stats-banner>
  </section>
  <!-- /stats banner -->

  <!-- content -->
  <div class="container fluid p-top-30 p-bottom-30">
    <div class="column col-sm-12 col-11 col-mx-auto">

      <!-- action buttons -->
      <section *ngIf="canAccess(['import']) || canAccess(['export'])" class="text-right m-bottom-15">

        <!-- import -->
        <span
          [ngClass]="{'tooltip': !selectedCampaign, 'm-right-25': canAccess(['export'])}"
          data-tooltip="Select single campaign">
          <label
            *ngIf="canAccess(['import'])"
            [ngClass]="{'disabled': !selectedCampaign}"
            class="button is-primary is-sm is-outlined m-bottom-15">
            <input
              (click)="openImportModal()"
              *ngIf="selectedCampaign"
              [hidden]="true"/>
            <i class="fas fa-file-upload icon-left"></i> {{ isImportingAnswers ? 'importing...' : 'Import' }}
          </label>
        </span>
        <!-- /import -->

        <!-- export -->
        <span [ngClass]="{'tooltip': !selectedCampaign}" data-tooltip="Select single campaign">
          <button
            (click)="onExport()"
            *ngIf="canAccess(['export'])"
            [disabled]="!selectedCampaign"
            class="button is-primary is-sm m-bottom-15"
            id="btn-export-answers">
            <i class="fas fa-file-download icon-left"></i> Export
          </button>
        </span>
        <!-- /export -->

      </section>
      <!-- /action buttons -->

      <!-- table -->
      <section>
        <umius-table
          (customFilter)="onCustomFilter($event)"
          (editRow)="onEdit($event)"
          (performAction)="onActions($event)"
          [(config)]="localConfig"
          [data]="tableData">
        </umius-table>
      </section>
      <!-- /table -->

    </div>
  </div>
  <!-- /content -->

</div>

<!-- modal to import -->
<ng-container *ngIf="!!canAccess(['import']) && isImportingAnswers">
  <umius-modal [(showModal)]="isImportingAnswers" title="Import Board">
    <section class="modal-body">
      <app-shared-import-answers
        (importFinished)="isImportingAnswers=false"
        [accessPath]="accessPath"
        [campaign]="selectedCampaign">
      </app-shared-import-answers>
    </section>
  </umius-modal>
</ng-container>
<!-- /modal to import -->

<!-- sidebar insight preview -->
<umius-sidebar-full
  *ngIf="answers.length > 0 && (canAccess(['view']) || canAccess(['edit']))"
  [(template)]="sidebarValue">
  <app-sidebar-user-answer
    [adminMode]="canAccess(['edit'])"
    [excludedCompanies]="excludedCompanies"
    [projectId]="innovation._id"
    [questions]="questions"
    [innovationCards]="innovation.innovationCards"
    [sidebarState]="sidebarValue.animate_state"
    (answerUpdated)="updateAnswersTable($event)"
    (userAnswerChange)="updateOneAnswer($event)"
    (sendNewPro)="updatePros($event)"
    [userAnswer]="sidebarAnswer">
  </app-sidebar-user-answer>
</umius-sidebar-full>
<!-- /sidebar insight preview -->
