#tags-form-component {
  padding-top: 1.875rem;

  .save-button-wrapper {
    text-align: right;
    padding-bottom: 1.25rem;
  }

  .title-primary {
    font-size: 1.2rem;
    margin-bottom: 0.9375rem;
  }

  p {

    .label-text, .text {
      font-size: 0.875rem;
    }

    .label-text {
      font-weight: 600;
    }

  }

  .tag-details-wrapper {
    margin-bottom: 0.9375rem;

    .tag-selector {
      padding-bottom: 0.6rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .form-input {
        margin-top: 0;
      }

      .btn-round {
        margin-left: 1.2rem;
        padding: 1rem 1.06rem;

        i {
          margin-top: 0;
          margin-right: 0;
        }

      }

    }

  }

}
