@import "../../../../../style/framework/src/variables";

#user-answer-component {
  font-size: $font-size-sm;
  padding-top: 1.5rem;

  .form-switch {
    color: $meta-color;
  }

  .form-group {
    margin-bottom: 0.75rem;
  }

  .section-save {
    padding-bottom: 1.25rem;
  }

  .section-details {

    .title-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      h4, .rating-wrapper, .country-wrapper {
        margin-right: 1.25rem;
        margin-bottom: 0.75rem;
      }

      .flex-between {
        align-items: baseline;
      }

      .button-wrapper {
        margin-bottom: 0.75rem;
      }

    }

    .text.text-alert {
      font-size: 0.75rem;
    }

    .linkedin-wrapper, .job-wrapper, .company-wrapper, .email-wrapper {
      padding-bottom: 0.25rem;
    }

    .picto {
      margin-left: 0;
    }

    .receive-wrapper, .i-wrapper {
      padding-top: $unit-5;
      padding-bottom: 0.25rem;
      font-size: $font-size-sm;
    }

  }

  .section-tags {
    padding-top: $unit-5;
  }

  .section-status {
    padding-top: 1.57rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .btn-radio {
      margin-left: auto;
      margin-right: auto;
    }

    .status-rejected, .status-validated, .status-submitted, .status-email {
      margin-bottom: 1.57rem;
    }

    .rejected:hover, .rejected.active {
      background-color: $alert;

      span {
        color: white;
      }

    }

    .submitted:hover, .submitted.active {
      background-color: $progress;

      span {
        color: white;
      }

    }

    .validated:hover, .validated.active {
      background-color: $success;

      span {
        color: white;
      }

    }

    .status-email {

      .form-switch {
        top: -0.25rem;
      }

    }

  }

  .section-questions {
    margin-top: -0.6rem;
  }


}


@media (max-width: 480px) {

  .section-details .title {
    flex-direction: column;
  }

}
