@import "../../../../../style/framework/src/variables";

#user-answer-component {
  font-size: $font-size-sm;
  padding-top: 1.5rem;

  .form-switch {
    color: $meta-color;
  }

  .form-group {
    margin-bottom: 0.75rem;
  }

  .section-save {
    padding-bottom: 1.25rem;
  }

  .section-details {

    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .title-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-right: -1.25rem;

        h4, .rating-wrapper, .country-wrapper {
          margin-right: 1.25rem;
          margin-bottom: 0.75rem;
        }

        .flex-between {
          align-items: baseline;
        }

        h4 {
          word-break: break-all;
        }

      }

      .button-wrapper {
        margin-bottom: 0.75rem;
      }

    }

    .text.text-alert {
      font-size: 0.75rem;
    }

    .linkedin-wrapper, .job-wrapper, .company-wrapper, .email-wrapper {
      padding-bottom: 0.25rem;
    }

    .picto {
      margin-left: 0;
    }

    .receive-wrapper, .i-wrapper {
      padding-top: $unit-5;
      padding-bottom: 0.25rem;
      font-size: $font-size-sm;
    }

  }

  .section-tags, .section-status {
    padding-top: $unit-5;
  }

  .section-status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -$unit-2;

    .btn-radio {
      margin-left: auto;
      margin-right: auto;
    }

    .status-rejected, .status-validated, .status-submitted, .status-email {
      display: inline-flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 1.25rem;
    }

    .rejected:hover, .rejected.active {
      background-color: $alert-color;
      border-color: $alert-color;

      span {
        color: white;
      }

    }

    .submitted:hover, .submitted.active {
      background-color: $progress-color;
      border-color: $progress-color;

      span {
        color: white;
      }

    }

    .validated:hover, .validated.active {
      background-color: $success-color;
      border-color: $success-color;

      span {
        color: white;
      }

    }

    .status-email {

      .form-switch {
        top: -17px;
      }

    }

  }

  .status-gmail {
    margin-left: -$unit-2;

    .text {
      margin-top: $unit-2;
      margin-left: $unit-2;
      font-size: $font-size-sm;
    }

  }

  .question-wrapper {
    padding-bottom: 1.5rem;

    &:last-child {
      padding-bottom: 0;
    }

  }


}
