.answer-wrapper {
  font-size: 14px;

  .fa-pencil-alt {
    color: #97A4B1;
    cursor: pointer;
    vertical-align: 2px;
  }

  .form-group {
    margin-bottom: 10px !important;
    width: 400px;
  }

  .user-wrapper {
    display: flex;
    justify-content: space-between;

   .job {
    display: flex;

     .fa-address-card {
       margin-right: 4.5px;
     }

  }

  .company {
    display: flex;

    .fa-building {
      margin-right: 5px;
    }

  }

    .detail {
      padding-top: 30px;

      .title {
        display: inline-flex;
        vertical-align: middle;

        h6 {
          margin-right: 15px;
          margin-bottom: 10px;
        }

        .country {
          margin-left: 15px;
          display: flex;
        }

        .editMode {
          padding-left: 30px;
        }

      }

      p {
        padding-bottom: 6px;
      }

      .profile {

        .fab {
          color: #1680B9;
          margin-right: 3px;
        }

      }

      .email {

         .fa-envelope {
          margin-right: 1px;
        }

        a {
          color: #FFB300;
        }

        a:hover {
          color: #FFB300;
          text-decoration: underline;
        }

      }

      .time, .ip {
        color: #97a4b1;
      }

    }

    .save {
      display: inline-flex;
      padding-top: 30px;
    }

  }

  .status-wrapper {
    padding-top: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .status-rejected, .status-validated, .status-submitted, .status-email {
      margin-bottom: 25px;
    }

    .rejected:hover, .rejected.active {
      background-color: #EA5858;

      span {
        color: white;
      }

    }

    .submitted:hover, .submitted.active {
      background-color: #F79323;

      span {
        color: white;
      }

    }

    .validated:hover, .validated.active {
      background-color: #2ECC71;

      span {
        color: white;
      }

    }

    .status-email {

      .form-switch {
        top: -4px;
      }

    }

  }

  .tag-wrapper {
    padding-top: 25px;

    .form-label {
      padding-top: 0;
    }

  }

  .ques-wrapper {
    margin-top: -10px;
  }


}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .user-wrapper {
    flex-direction: column;

    .detail {
      order: 1;
    }

    .save {
      order: 0;
      justify-content: flex-end;
    }

  }

}
