@import "../../../../../../../../style/framework/src/variables";

#settings {

  .settings-wrapper {

    .menu-wrapper {
      min-width: 220px;
      margin-right: 50px;

      ul {
        position: sticky;
        top: 0;
        padding: 25px 35px 25px 0;
        border-right: 1px solid $border-default-color;
        margin: 0;
        list-style: none;

        li {
          margin: 15px 0;
          text-align: right;
          font-size: $font-size-lg;
          color: #BFC6D1;
          cursor: pointer;

          a {
            color: #BFC6D1;

            &.active {
              color: $text-community-color;
            }

          }

          &:hover {
            text-decoration: underline;
          }

        }

      }

    }

    .content-wrapper {
      flex: 1;

      .section-wrapper {

        .title {
          color: #4C4C4C;
          margin-bottom: 18px;
        }

        .text-link {
          font-size: 14px;
          color: $text-dark-color;
          font-weight: $font-weight-bold;

          .fas.fa-pen, .fas.fa-plus-circle {
            color: $text-dark-color;
            font-size: 17px;
            margin-right: 8px;
          }

        }

        .roadmap-wrapper {
          display: flex;
          align-items: center;
          margin: 0 25px 0 0;
          list-style: none;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;

            .shape.is-circle {
              margin: 10px 0;
              border: 2px solid $border-default-color;
              background-color: $bg-white-color;
            }

            .divider {
              margin: 0;
              width: 100px;
              border-width: 2px;
            }

          }

          li:first-child {
            margin-top: 0;
          }

        }

        .restitution-wrapper {
          max-width: 755px;
          text-align: center;

          .divider {
            margin-top: 40px;
            max-width: 371px;
            margin-bottom: 40px;
          }

          .form-group {
            max-width: 500px;

            textarea {
              padding: 14.5px;
              font-size: 14px;
              line-height: 1.3;

              &.form-input {

                &:disabled, &.disabled {
                  background: transparent;
                  color: $form-input-color;
                  border-color: $form-border-color;
                  cursor: not-allowed;
                  opacity: 1;
                }

              }

            }

          }

        }

        .collaborator-wrapper, .lang-wrapper {
          display: flex;
          align-items: center;
          font-size: 16px;
          margin-bottom: 10px;

          .button {
            min-width: unset;
            padding-left: 15px;
            padding-right: 15px;
            visibility: hidden;
          }

          &:hover {

            .button {
              visibility: visible;
            }

          }

        }

        .authorise-wrapper {

          .form-checkbox {
            padding-left: 40px;
            padding-right: 8px;

            .form-icon {
              width: 20px;
              height: 20px;
            }

          }

        }

        .divider {
          margin-top: 50px;
          margin-bottom: 40px;
        }

      }

    }

  }

}
