<div id="settings">
  <section class="d-flex flex-wrap settings-wrapper">

    <!-- menu wrapper -->
    <div *ngIf="isVisibleMenu" class="menu-wrapper">
      <ul>
        <ng-container *ngFor="let tab of sections">
          <li
            *ngIf="tab.isVisible"
            [ngClass]="{ 'active': activeView === tab.name }">
            <a
              (click)="activeView = tab.name"
              [href]="'#'+tab.name.toLowerCase()"
              [pageScrollOffset]="42"
              [pageScrollSpeed]="1000"
              class="d-block"
              pageScroll>
              {{ 'CLIENT_PROJECT_SETTINGS.' + tab.name | translate }}
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
    <!-- /menu wrapper -->

    <!-- content wrapper -->
    <div class="content-wrapper">
      <div *ngFor="let section of sections; let i = index;">
        <div
          *ngIf="section.isVisible"
          [id]="section.name.toLowerCase()"
          [ngStyle]="{ 'animation-duration': (i * 150) + 'ms' }"
          class="section-wrapper animate-slide slide-down">
          <div [ngSwitch]="section.name">

            <!-- heading -->
            <h2 class="title is-4 text-bold">{{ 'CLIENT_PROJECT_SETTINGS.HEADING.' + section.name | translate }}</h2>
            <!-- /heading -->

            <!-- TITLE -->
            <div *ngSwitchCase="'TITLE'">
              <div class="d-flex align-center">

                <span class="text-md m-right-15">{{ innovation.name }}</span>

                <span *ngIf="section.isEditable" (click)="openModal($event, section)" class="text-link">
                  <i class="fas fa-pen"></i>{{ 'COMMON.BUTTON.EDIT' | translate }}
                </span>

              </div>
            </div>
            <!-- /TITLE -->

            <!-- PRINCIPAL_OBJECTIVE -->
            <div *ngSwitchCase="'PRINCIPAL_OBJECTIVE'">
              <div class="d-flex align-center">

                <span class="text-md m-right-15">{{ mission.objective.principal[currentLang] }}</span>

                <span *ngIf="section.isEditable" (click)="openModal($event, section)" class="text-link">
                  <i class="fas fa-pen"></i>{{ 'COMMON.BUTTON.EDIT' | translate }}
                </span>

              </div>
            </div>
            <!-- /PRINCIPAL_OBJECTIVE -->

            <!-- SECONDARY_OBJECTIVE -->
            <div *ngSwitchCase="'SECONDARY_OBJECTIVE'">
              <div [ngStyle]="{'max-width': '755px'}">
                <objectives-secondary
                  (objectiveCommentChange)="onChangeComment($event, section)"
                  (objectivesChange)="onChangeSecondaryObjective($event, section)"
                  [isEnabledComment]="section.isEditable"
                  [isEnabledOptions]="enableSecondaryObjectives(section)"
                  [objectiveComment]="mission.objective.comment"
                  [objectives]="mission.objective.secondary">
                </objectives-secondary>
              </div>
            </div>
            <!-- /SECONDARY_OBJECTIVE -->

            <!-- ROADMAP -->
            <div *ngSwitchCase="'ROADMAP'">
              <div class="d-flex align-center">

                <ul class="roadmap-wrapper">
                  <ng-container *ngFor="let milestone of mission.milestoneDates">
                    <li *ngIf="milestone.code !== 'RDO'">
                      {{ milestone.name }} : {{ milestone.dueDate | date:dateFormat }}
                    </li>
                  </ng-container>
                </ul>

                <span *ngIf="section.isEditable" class="text-link">
                  <i class="fas fa-pen"></i>{{ 'COMMON.BUTTON.EDIT' | translate }}
                </span>

              </div>
            </div>
            <!-- /ROADMAP -->

            <!-- RESTITUTION_DATE -->
            <div *ngSwitchCase="'RESTITUTION_DATE'">

              <div class="d-flex align-center">

                <ng-container *ngFor="let milestone of mission.milestoneDates">
                  <ng-container *ngIf="milestone.code === 'RDO'">
                    <span class="text-md m-right-15">{{ milestone.dueDate | date:dateFormat }}</span>
                  </ng-container>
                </ng-container>

                <span *ngIf="section.isEditable" (click)="editRestitutionDate(); dp.toggleCalendar();" class="text-link">
                  <i class="fas fa-pen"></i>{{ 'COMMON.BUTTON.EDIT' | translate }}
                </span>

              </div>

              <div [ngStyle]="{ 'height': '0', 'margin-left': 'unset' }" class="date-picker">
                <label>
                  <input
                    #dp="angular-mydatepicker"
                    (dateChanged)="onChangeRestitutionDate($event)"
                    [locale]="currentLang"
                    [options]="datePickerOptions"
                    [readOnly]="true"
                    [hidden]="true"
                    angular-mydatepicker
                    name="date-restitution">
                </label>
              </div>

            </div>
            <!-- /RESTITUTION_DATE -->

            <!-- OWNER -->
            <div *ngSwitchCase="'OWNER'">

              <p class="text-md text-bold">{{ innovation.owner.name }}</p>

              <div class="d-flex align-center">

                <span class="text-md m-right-15">
                  <ng-container *ngIf="innovation.owner.company && innovation.owner.company.name">
                    {{ innovation.owner.company.name }}
                    &nbsp;•&nbsp;
                  </ng-container>
                  <ng-container *ngIf="innovation.owner.phone">
                    {{ innovation.owner.phone }}
                    &nbsp;•&nbsp;
                  </ng-container>
                  {{ innovation.owner.email }}
                </span>

                <span *ngIf="section.isEditable" (click)="openModal($event, section)" class="text-link">
                  <i class="fas fa-pen"></i>{{ 'COMMON.BUTTON.EDIT' | translate }}
                </span>

              </div>

            </div>
            <!-- /OWNER -->

            <!-- COLLABORATORS -->
            <div *ngSwitchCase="'COLLABORATORS'">

              <div *ngFor="let collaborator of innovation.collaborators" class="collaborator-wrapper">

                <span class="m-right-40">{{ collaborator.email }}</span>

                <span (click)="openDeleteModal($event, section, collaborator)" class="button is-xs is-outlined is-danger">
                    {{ 'COMMON.BUTTON.DELETE' | translate }}
                </span>

              </div>

              <div *ngIf="section.isEditable" (click)="openModal($event, section)" class="text-link m-top-15">
                <i class="fas fa-plus-circle"></i>{{ 'COMMON.BUTTON.COLLABORATOR' | translate }}
              </div>

            </div>
            <!-- /COLLABORATORS -->

            <!-- OPERATOR -->
            <div *ngSwitchCase="'OPERATOR'">

              <p *ngIf="innovation.operator" class="text-md text-bold">
                <ng-container *ngIf="innovation.operator.name; else flName">{{ innovation.operator.name }}</ng-container>
                <ng-template #flName>
                  <ng-container *ngIf="innovation.operator.firstName">{{ innovation.owner.firstName }}</ng-container>
                  <ng-container *ngIf="innovation.operator.firstName">{{ ' ' }}</ng-container>
                  <ng-container *ngIf="innovation.operator.lastName">{{ innovation.owner.lastName }}</ng-container>
                </ng-template>
              </p>

              <div class="d-flex align-center">

                <span *ngIf="innovation.operator; else notAssigned" class="text-md m-right-15">
                  <ng-container *ngIf="innovation.operator.phone">
                    {{ innovation.operator.phone }}
                    &nbsp;•&nbsp;
                  </ng-container>
                  {{ innovation.operator.email }}
                </span>

                <ng-template #notAssigned>
                  <span class="text-md m-right-15">{{ 'CLIENT_PROJECT_SETTINGS.NOT_ASSIGNED' | translate }}</span>
                </ng-template>

                <span *ngIf="section.isEditable" (click)="openModal($event, section)" class="text-link">
                  <i class="fas fa-pen"></i>{{ 'COMMON.BUTTON.EDIT' | translate }}
                </span>

              </div>

            </div>
            <!-- /OPERATOR -->

            <!-- COMMERCIAL -->
            <div *ngSwitchCase="'COMMERCIAL'">

              <p *ngIf="clientProject.commercial" class="text-md text-bold">
                <ng-container *ngIf="clientProject.commercial.name; else flName">{{ clientProject.commercial.name }}</ng-container>
                <ng-template #flName>
                  <ng-container *ngIf="clientProject.commercial.firstName">{{ clientProject.commercial.firstName }}</ng-container>
                  <ng-container *ngIf="clientProject.commercial.firstName">{{ ' ' }}</ng-container>
                  <ng-container *ngIf="clientProject.commercial.lastName">{{ clientProject.commercial.lastName }}</ng-container>
                </ng-template>
              </p>

              <div class="d-flex align-center">

                <span *ngIf="clientProject.commercial; else notAssigned" class="text-md m-right-15">
                  <ng-container *ngIf="clientProject.commercial.phone">
                    {{ clientProject.commercial.phone }}
                    &nbsp;•&nbsp;
                  </ng-container>
                  {{ clientProject.commercial.email }}
                </span>

                <ng-template #notAssigned>
                  <span class="text-md m-right-15">{{ 'CLIENT_PROJECT_SETTINGS.NOT_ASSIGNED' | translate }}</span>
                </ng-template>

                <span *ngIf="section.isEditable" (click)="openModal($event, section)" class="text-link">
                  <i class="fas fa-pen"></i>{{ 'COMMON.BUTTON.EDIT' | translate }}
                </span>

              </div>

            </div>
            <!-- /COMMERCIAL -->

            <!-- LANGUAGE -->
            <div *ngSwitchCase="'LANGUAGE'">

              <div *ngFor="let card of innovation.innovationCards" class="lang-wrapper">

                <span class="m-right-40">
                  {{ 'CLIENT_PROJECT_SETTINGS.PROJECT_IN' | translate }} {{ 'COMMON.LANG.' + card.lang.toUpperCase() | translate }}.
                </span>

                <span
                  *ngIf="innovation.innovationCards.length > 1"
                  (click)="openDeleteModal($event, section, card)"
                  class="button is-xs is-outlined is-danger">
                    {{ 'COMMON.BUTTON.DELETE' | translate }}
                </span>

              </div>

              <div *ngIf="section.isEditable && innovation.innovationCards.length < 2" class="text-link m-top-15">
                <ng-container *ngFor="let card of innovation.innovationCards">
                  <ng-container *ngIf="card.lang ==='en'; else english">
                    <span (click)="addInnovationCard(section, 'fr')">
                      <i class="fas fa-plus-circle"></i>{{ 'COMMON.BUTTON.ADD_LANG_FRENCH' | translate }}
                    </span>
                  </ng-container>
                  <ng-template #english>
                    <span (click)="addInnovationCard(section, 'en')">
                      <i class="fas fa-plus-circle"></i>{{ 'COMMON.BUTTON.ADD_LANG_ENGLISH' | translate }}
                    </span>
                  </ng-template>
                </ng-container>
              </div>

            </div>
            <!-- /LANGUAGE -->

            <!-- AUTHORISATION -->
            <div *ngSwitchCase="'AUTHORISATION'">

              <p class="text-md m-bottom-25">{{ 'CLIENT_PROJECT_SETTINGS.AUTHORISATION_TEXT' | translate }}</p>

              <div class="form-group authorise-wrapper">
                <label class="form-checkbox">
                  <input
                    (change)="onChangeAuthorisation($event, 'social')"
                    [disabled]="!section.isEditable"
                    [checked]="mission.externalDiffusion.social"
                    id="social"
                    type="checkbox">
                  <i class="form-icon"></i> {{ 'CLIENT_PROJECT_SETTINGS.SOCIAL' | translate }}
                </label>
              </div>

              <div class="form-group authorise-wrapper">
                <label class="form-checkbox">
                  <input
                    (change)="onChangeAuthorisation($event, 'umi')"
                    [disabled]="!section.isEditable"
                    [checked]="mission.externalDiffusion.umi"
                    id="umi"
                    type="checkbox">
                  <i class="form-icon"></i> {{ 'CLIENT_PROJECT_SETTINGS.UMI' | translate }}
                </label>
              </div>

              <div class="form-group authorise-wrapper">
                <label class="form-checkbox">
                  <input
                    (change)="onChangeAuthorisation($event, 'community')"
                    [disabled]="!section.isEditable"
                    [checked]="mission.externalDiffusion.community"
                    id="community"
                    type="checkbox">
                  <i class="form-icon"></i> {{ 'CLIENT_PROJECT_SETTINGS.COMMUNITY' | translate }}
                </label>
              </div>

            </div>
            <!-- /AUTHORISATION -->

            <!-- divider -->
            <div *ngIf="i !== sections.length - 1" class="divider"></div>
            <!-- /divider -->

          </div>
        </div>
      </div>
    </div>
    <!-- /content wrapper -->

  </section>
</div>


<!-- modals -->
<modal-empty
  *ngIf="activeModalSection.name && showModal"
  [(showModal)]="showModal"
  [maxWidth]="activeModalSection.name === 'PRINCIPAL_OBJECTIVE' ? '963px' : '640px'">
  <div [ngSwitch]="activeModalSection.name">

    <!-- body -->
    <section class="modal-body p-bottom-40">

      <!-- heading -->
      <h2 [ngSwitch]="{ 'color': '4C4C4C' }" class="title is-4 text-center text-bold m-bottom-50">
        {{ 'CLIENT_PROJECT_SETTINGS.HEADING.' + activeModalSection.name | translate }}
      </h2>
      <!-- /heading -->

      <!-- TITLE -->
      <div *ngSwitchCase="'TITLE'" class="mxw-400 m-left-auto m-right-auto">
        <div class="form-group">
          <label>
            <input
              [(ngModel)]="selectedValue"
              class="form-input is-sm is-shadowed"
              type="text">
          </label>
        </div>
      </div>
      <!-- /TITLE -->

      <!-- PRINCIPAL_OBJECTIVE -->
      <div *ngSwitchCase="'PRINCIPAL_OBJECTIVE'" class="p-top-10 p-bottom-10">
        <objectives-primary [(objective)]="selectedValue"></objectives-primary>
      </div>
      <!-- /PRINCIPAL_OBJECTIVE -->

      <!-- OWNER -->
      <div *ngSwitchCase="'OWNER'" [ngStyle]="{ 'margin-bottom': '180px' }" class="mxw-400 m-left-auto m-right-auto">
        <auto-suggestion (valueSelected)="changeOwner($event)"></auto-suggestion>
      </div>
      <!-- /OWNER -->

      <!-- COLLABORATORS -->
      <div *ngSwitchCase="'COLLABORATORS'" class="mxw-400 m-left-auto m-right-auto">
        <div class="form-group">
          <label>
            <input
              [(ngModel)]="selectedValue"
              placeholder="jhon.smith@gmail.com"
              class="form-input is-sm is-shadowed"
              type="email">
          </label>
        </div>
      </div>
      <!-- /COLLABORATORS -->

      <!-- OPERATOR -->
      <div *ngSwitchCase="'OPERATOR'" class="mxw-400 m-left-auto m-right-auto">
        <div class="form-group">
          <label>
            <select
              [ngModel]="''"
              [ngModelOptions]="{ standalone: true }"
              (change)="onChangeOperator($event)"
              class="form-select">
              <option [value]="''">{{ 'CLIENT_PROJECT_SETTINGS.SELECT_OPERATOR' | translate }}</option>
              <option *ngFor="let operator of operators | async" [value]="operator['_id']">
                {{ operator.firstName }} {{ operator.lastName }}
              </option>
            </select>
          </label>
        </div>
      </div>
      <!-- /OPERATOR -->

      <!-- COMMERCIAL -->
      <div *ngSwitchCase="'COMMERCIAL'" class="mxw-400 m-left-auto m-right-auto">
        <div class="form-group">
          <label>
            <select
              [ngModel]="''"
              [ngModelOptions]="{ standalone: true }"
              (change)="onChangeCommercial($event)"
              class="form-select">
              <option [value]="''">{{ 'CLIENT_PROJECT_SETTINGS.SELECT_COMMERCIAL' | translate }}</option>
              <option *ngFor="let commercial of commercials | async" [value]="commercial['_id']">
                {{ commercial.firstName }} {{ commercial.lastName }}
              </option>
            </select>
          </label>
        </div>
      </div>
      <!-- /COMMERCIAL -->

    </section>
    <!-- /body -->

    <!-- footer -->
    <footer class="modal-footer justify-center">

      <button
        (click)="closeModal()"
        [id]="'btn-cancel'"
        class="button modal-cancel">
        {{ 'COMMON.BUTTON.CANCEL' | translate }}
      </button>

      <button
        [disabled]="!this.selectedValue || isSaving"
        (click)="onClickSaveModal($event)"
        class="button is-community"
        id="btn-save">
        {{ 'COMMON.BUTTON.SAVE' | translate }}
      </button>

    </footer>
    <!-- /footer -->

  </div>
</modal-empty>
<!-- /modals -->


<!-- delete modal -->
<modal-empty *ngIf="showDeleteModal" [(showModal)]="showDeleteModal">

  <!-- body -->
  <section class="modal-body">

    <!-- heading -->
    <h2 [ngSwitch]="{ 'color': '4C4C4C' }" class="title is-4 text-center m-bottom-30 text-bold">
      {{ 'COMMON.MODAL.TITLE_DELETE' | translate }}
    </h2>
    <!-- /heading -->

    <!-- text -->
    <div [ngSwitch]="activeModalSection.name">

      <!-- COLLABORATORS -->
      <div *ngSwitchCase="'COLLABORATORS'">
        <p>{{ 'CLIENT_PROJECT_SETTINGS.MODAL_DELETE.COLLABORATOR' | translate }}</p>
        <p class="text-sm text-medium">{{ selectedValue.email }}</p>
      </div>
      <!-- /COLLABORATORS -->

      <!-- LANGUAGE -->
      <div *ngSwitchCase="'LANGUAGE'">
        <p>{{ 'CLIENT_PROJECT_SETTINGS.MODAL_DELETE.CARD' | translate }}</p>
        <p class="text-sm text-medium">{{ 'COMMON.LANG.' + selectedValue.lang.toUpperCase() | translate }}</p>
      </div>
      <!-- /LANGUAGE -->

    </div>
    <!-- /text -->

  </section>
  <!-- /body -->

  <!-- footer -->
  <footer class="modal-footer justify-center">

    <button
      (click)="closeModal()"
      class="button modal-cancel"
      [id]="'btn-cancel'">
      {{ 'COMMON.BUTTON.CANCEL' | translate }}
    </button>

    <button
      [disabled]="isDeleting"
      (click)="confirmDeleteModal($event)"
      class="button is-community"
      id="btn-confirm">
      {{ 'COMMON.BUTTON.CONFIRM' | translate }}
    </button>

  </footer>
  <!-- /footer -->

</modal-empty>
<!-- /delete modal -->
