<div class="container fluid grid-2xl p-bottom-20" id="project-settings">
  <div class="column col-sm-12 col-11 col-mx-auto">
    <div class="d-flex flex-wrap-wrap settings-wrapper m-left-auto m-right-auto">

      <!-- menu wrapper -->
      <aside *ngIf="isVisibleMenu" class="menu-wrapper">
        <ul>
          <ng-container *ngFor="let tab of sections">
            <li *ngIf="tab.isVisible">
              <a
                (click)="onClickTab(tab.name)"
                [href]="'#'+tab.name.toLowerCase()"
                [ngClass]="{ 'active': activeView === tab.name }"
                [pageScrollOffset]="42"
                [pageScrollSpeed]="1000"
                (pageScrollFinish)="scrollEnd()"
                class="d-block"
                pageScroll>
                {{ 'PROJECT_SETTINGS.' + tab.name | translate }}
              </a>
            </li>
          </ng-container>
        </ul>
      </aside>
      <!-- /menu wrapper -->

      <!-- content wrapper -->
      <div class="content-wrapper p-top-50">
        <section *ngFor="let section of sections; let i = index;">
          <div
            *ngIf="section.isVisible"
            [id]="section.name.toLowerCase()"
            [ngStyle]="{ 'animation-duration': (i * 150) + 'ms' }"
            class="section-wrapper animate-slide slide-down m-bottom-30 relative">
            <div [ngSwitch]="section.name">

              <!-- edit button -->
              <ng-container *ngIf="editButton(section.name)">
                <div (click)="openModal($event, section)" class="icon-container absolute is-overlay btn-edit">
                  <span [attr.data-tooltip]="'COMMON.BUTTON.EDIT' | translate" class="tooltip">
                    <i class="fas fa-pen text-primary"></i>
                  </span>
                </div>
              </ng-container>
              <!-- /edit button -->

              <!-- heading -->
              <h2 class="title is-4 text-bold">
                {{ 'PROJECT_SETTINGS.HEADING.' + section.name | translate }}
              </h2>
              <!-- /heading -->

              <!-- TITLE -->
              <div *ngSwitchCase="'TITLE'">
                <div class="d-flex align-center">
                  <span class="text-md m-right-15">{{ innovation.name }}</span>
                </div>
              </div>
              <!-- /TITLE -->

              <!-- PRINCIPAL_OBJECTIVE -->
              <div *ngSwitchCase="'PRINCIPAL_OBJECTIVE'">
                <div class="text-md">
                  <ng-container *ngIf="mission | mission:'hasMissionTemplate'; else oldPrincipal">
                    {{ mission | mission:'objectiveName' }}
                  </ng-container>
                  <ng-template #oldPrincipal>
                    {{ mission.objective.principal[currentLang] }}
                  </ng-template>
                </div>
              </div>
              <!-- /PRINCIPAL_OBJECTIVE -->

              <!-- SECONDARY_OBJECTIVE -->
              <div *ngSwitchCase="'SECONDARY_OBJECTIVE'">

                <ng-container *ngIf="(mission | mission:'hasMissionTemplate') || !!mission.objective.secondary.length">

                  <!-- template -->
                  <div *ngIf="!!templateComplementary.length; else oldSecondary;" class="p-bottom-15">
                    <div
                      *ngFor="let objective of templateComplementary; let i = index;"
                      class="text-md p-bottom-2">
                      {{i + 1}}. {{ objective | missionQuestion:'objectiveName' }}
                    </div>
                  </div>
                  <!-- /template -->

                  <!-- old objective -->
                  <ng-template #oldSecondary>
                    <div *ngIf="!!mission.objective.secondary.length; else noSecondary" class="p-bottom-20">
                      <div
                        *ngFor="let objective of mission.objective.secondary; let i = index;"
                        class="text-md p-bottom-1">
                        {{i + 1}}. {{ objective[currentLang] }}
                      </div>
                    </div>
                  </ng-template>
                  <!-- /old objective -->

                  <ng-template #noSecondary>
                    <div class="text-md m-bottom-10">{{ 'PROJECT_SETTINGS.NO_SECONDARY' | translate }}</div>
                  </ng-template>

                </ng-container>

                <ng-container *ngIf="!!mission.objectiveComment || !!mission.objective.comment">
                  <div class="text-md text-italics">
                    <ng-container *ngIf="!!mission.objectiveComment; else comment">
                      {{ mission.objectiveComment }}
                    </ng-container>
                    <ng-template #comment>
                      <ng-container *ngIf="!!mission.objective.comment">{{ mission.objective.comment }}</ng-container>
                    </ng-template>
                  </div>
                </ng-container>

              </div>
              <!-- /SECONDARY_OBJECTIVE -->

              <!-- ROADMAP -->
              <div *ngSwitchCase="'ROADMAP'">
                <div class="d-flex align-center p-top-1">
                  <ul class="roadmap-wrapper">
                    <li *ngIf="!!mission.milestoneDates.length" class="active">
                    <span style="padding-top: 2px"  class="d-flex flex-d-column align-center">
                      <span class="shape is-circled is-sm"></span>
                      <span class="divider-vert" [ngClass]="{ 'active': isNextMilestoneReached(0) }"></span>
                    </span>
                      {{ innovation.created | date:dateFormat }} - {{ 'COMMON.LABEL.PREPARATION' | translate }}
                    </li>
                    <ng-container *ngFor="let milestone of mission.milestoneDates; let i = index;">
                      <li *ngIf="!!milestone.dueDate" [ngClass]="{ 'active': isMilestoneReached(milestone.dueDate) }">
                      <span style="padding-top: 2px"  class="d-flex flex-d-column align-center">
                        <span class="shape is-circled is-sm"></span>
                        <span
                          *ngIf="i < mission.milestoneDates.length - 1"
                          [ngClass]="{ 'active': isNextMilestoneReached(i+1) }"
                          class="divider-vert">
                        </span>
                      </span>
                        {{ milestone.dueDate | date:dateFormat }} - {{ milestone.name | translate}}
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
              <!-- /ROADMAP -->

              <!-- RESTITUTION_DATE -->
              <div *ngSwitchCase="'RESTITUTION_DATE'">
                <ng-container *ngIf="!!dateRDO">
                  <div class="text-md">{{ dateRDO.dueDate | date:dateFormat }}</div>
                  <div *ngIf="!!dateRDO.comment" class="text-md text-italics p-top-20">
                    {{ dateRDO.comment }}
                  </div>
                </ng-container>
              </div>
              <!-- /RESTITUTION_DATE -->

              <!-- REPORTING_LANG -->
              <div *ngSwitchCase="'REPORTING_LANG'">
                <div class="text-md">
                  {{ 'COMMON.LANG.' + innovation.settings.reportingLang.toUpperCase() | translate }}.
                </div>
              </div>
              <!-- /REPORTING_LANG -->

              <!-- OWNER -->
              <div *ngSwitchCase="'OWNER'">
                <div class="flex-wrap-wrap text-md flex-start">
                  <span class="text-bold">{{ innovation.owner | user:'fullName' }}</span>
                  <ng-container *ngIf="!!(innovation.owner.company && innovation.owner.company.name)">
                    <span>&nbsp;•&nbsp;</span>
                    <span>{{ innovation.owner.company.name }}</span>
                  </ng-container>
                  <ng-container *ngIf="!!innovation.owner.phone">
                    <span>&nbsp;•&nbsp;</span>
                    <span>{{ innovation.owner.phone }}</span>
                  </ng-container>
                  <ng-container *ngIf="!!innovation.owner.email">
                    <span>&nbsp;•&nbsp;</span>
                    <span>{{ innovation.owner.email }}</span>
                  </ng-container>
                </div>
              </div>
              <!-- /OWNER -->

              <!-- COLLABORATORS -->
              <div *ngSwitchCase="'COLLABORATORS'">
                <ng-container
                  *ngIf="(innovation.collaborators && innovation.collaborators.length === 0
                  && !pendingCollaborators.length); else collaborators">
                  <div class="text-md">{{ 'PROJECT_SETTINGS.NO_COLLABORATORS' | translate }}</div>
                </ng-container>
                <ng-template #collaborators>
                  <div *ngFor="let collaborator of innovation.collaborators" class="collaborator-wrapper">
                    <div class="m-right-40">{{ collaborator.email }}</div>
                    <div
                      (click)="openDeleteModal($event, section, collaborator)"
                      [id]="'open-modal-delete-collaborators'"
                      class="icon-container is-overlay">
                      <span class="tooltip" [attr.data-tooltip]="'COMMON.BUTTON.DELETE' | translate">
                        <i class="icon icon-delete text-alert"></i>
                      </span>
                    </div>
                  </div>
                  <div *ngFor="let pending of pendingCollaborators" class="collaborator-wrapper">
                    <div class="m-right-10">{{ pending }}</div>
                    <div
                      [attr.data-tooltip]="'PROJECT_SETTINGS.TOOLTIP_PENDING' | translate"
                      class="label is-sm is-progress tooltip is-fullwidth m-right-20">
                      {{ 'COMMON.LABEL.PENDING' | translate }}
                    </div>
                    <div
                      (click)="openDeleteModal($event, section, pending, 'PENDING_COLLABORATOR')"
                      [id]="'open-modal-delete-collaborators'"
                      class="icon-container is-overlay">
                      <span class="tooltip" [attr.data-tooltip]="'COMMON.BUTTON.DELETE' | translate">
                        <i class="icon icon-delete text-alert"></i>
                      </span>
                    </div>
                  </div>
                </ng-template>
              </div>
              <!-- /COLLABORATORS -->

              <!-- OPERATOR -->
              <div *ngSwitchCase="'OPERATOR'">

                <ng-container *ngIf="!!(innovation.operator | user:'fullName')">
                  <div class="flex-wrap-wrap text-md flex-start">
                    <span class="text-bold">{{ innovation.operator | user:'fullName' }}</span>
                    <ng-container *ngIf="!!innovation.operator.phone">
                      <span>&nbsp;•&nbsp;</span>
                      <span>{{ innovation.operator.phone }}</span>
                    </ng-container>
                    <ng-container *ngIf="!!innovation.operator.email">
                      <span>&nbsp;•&nbsp;</span>
                      <span>{{ innovation.operator.email }}</span>
                    </ng-container>
                  </div>
                </ng-container>

                <ng-container *ngIf="!(innovation.operator | user:'fullName')">
                  <div class="text-md">{{ 'PROJECT_SETTINGS.NOT_ASSIGNED' | translate }}</div>
                </ng-container>

              </div>
              <!-- /OPERATOR -->

              <!-- COMMERCIAL -->
              <div *ngSwitchCase="'COMMERCIAL'">

                <ng-container *ngIf="!!(clientProject.commercial | user:'fullName')">
                  <div class="flex-wrap-wrap text-md flex-start">
                    <span class="text-bold">{{ clientProject.commercial | user:'fullName' }}</span>
                    <ng-container *ngIf="!!clientProject.commercial.phone">
                      <span>&nbsp;•&nbsp;</span>
                      <span>{{ clientProject.commercial.phone }}</span>
                    </ng-container>
                    <ng-container *ngIf="!!clientProject.commercial.email">
                      <span>&nbsp;•&nbsp;</span>
                      <span>{{ clientProject.commercial.email }}</span>
                    </ng-container>
                  </div>
                </ng-container>

                <ng-container *ngIf="!(clientProject.commercial | user:'fullName')">
                  <div class="text-md">{{ 'PROJECT_SETTINGS.NOT_ASSIGNED' | translate }}</div>
                </ng-container>

              </div>
              <!-- /COMMERCIAL -->

              <!-- LANGUAGE -->
              <div *ngSwitchCase="'LANGUAGE'">
                <div *ngFor="let card of innovation.innovationCards" class="lang-wrapper m-no-bottom">
                  <span class="m-right-40">
                    {{ 'PROJECT_SETTINGS.PROJECT_IN' | translate }}
                    {{ 'COMMON.LANG.' + card.lang | uppercase | translate }}.
                  </span>
                  <span
                    (click)="openDeleteModal($event, section, card)"
                    *ngIf="innovation.innovationCards.length > 1"
                    [id]="'open-modal-delete-innovationCard'"
                    class="icon-container is-overlay">
                    <span class="tooltip" [attr.data-tooltip]="'COMMON.BUTTON.DELETE' | translate">
                      <i class="icon icon-delete text-alert"></i>
                    </span>
                  </span>
                </div>
              </div>
              <!-- /LANGUAGE -->

              <!-- AUTHORISATION -->
              <div *ngSwitchCase="'AUTHORISATION'">

                <p class="text-md m-bottom-25">{{ 'PROJECT_SETTINGS.AUTHORISATION_TEXT' | translate }}</p>

                <div class="form-group authorise-wrapper">
                  <label class="form-checkbox">
                    <input
                      (change)="onChangeAuthorisation($event, 'social')"
                      [disabled]="!section.isEditable"
                      [checked]="mission.externalDiffusion.social"
                      id="social"
                      type="checkbox">
                    <i class="form-icon"></i> {{ 'PROJECT_SETTINGS.SOCIAL' | translate }}
                  </label>
                </div>

                <div class="form-group authorise-wrapper">
                  <label class="form-checkbox">
                    <input
                      (change)="onChangeAuthorisation($event, 'umi')"
                      [disabled]="!section.isEditable"
                      [checked]="mission.externalDiffusion.umi"
                      id="umi"
                      type="checkbox">
                    <i class="form-icon"></i> {{ 'PROJECT_SETTINGS.UMI' | translate }}
                  </label>
                </div>

                <div class="form-group authorise-wrapper">
                  <label class="form-checkbox">
                    <input
                      (change)="onChangeAuthorisation($event, 'community')"
                      [disabled]="!section.isEditable"
                      [checked]="mission.externalDiffusion.community"
                      id="community"
                      type="checkbox">
                    <i class="form-icon"></i> {{ 'PROJECT_SETTINGS.COMMUNITY' | translate }}
                  </label>
                </div>

              </div>
              <!-- /AUTHORISATION -->

            </div>
          </div>
        </section>
      </div>
      <!-- /content wrapper -->

    </div>
  </div>
</div>


<!-- modals -->
<umius-modal
  *ngIf="activeModalSection.name && showModal"
  [(showModal)]="showModal"
  closeBtnClass="text-white"
  [maxWidth]="activeModalSection.name === 'PRINCIPAL_OBJECTIVE' ? (mission | mission:'hasMissionTemplate')
  ? '95%' : '963px' :
  activeModalSection.name === 'SECONDARY_OBJECTIVE' ? '920px' : '640px'">

  <!-- body -->
  <section
    style="background-color: #2E6188"
    [ngSwitch]="activeModalSection.name"
    class="modal-body p-bottom-40">

    <!-- heading -->
    <ng-container
      *ngIf="!(activeModalSection.name === 'PRINCIPAL_OBJECTIVE' && (mission | mission:'hasMissionTemplate') )">
      <h2 class="title is-4 text-white text-center text-bold m-bottom-50">
        {{ 'PROJECT_SETTINGS.HEADING.' + activeModalSection.name | translate }}
      </h2>
    </ng-container>
    <!-- /heading -->

    <!-- TITLE -->
    <ng-container *ngSwitchCase="'TITLE'">
      <div class="form-group mxw-400 m-left-auto m-right-auto">
        <label>
          <input
            [(ngModel)]="selectedValue"
            class="form-input is-sm"
            type="text">
        </label>
      </div>
    </ng-container>
    <!-- /TITLE -->

    <!-- SECONDARY_OBJECTIVE -->
    <ng-container *ngSwitchCase="'SECONDARY_OBJECTIVE'">
      <ng-container *ngIf="(mission | mission:'hasMissionTemplate')  || isOldObjective">

        <!-- template -->
        <ng-container *ngIf="(mission | mission:'hasMissionTemplate') ; else oldSecondary;">
          <div *ngIf="isFetchingTemplates" class="loading is-white"></div>
          <ng-container *ngIf="!isFetchingTemplates">
            <app-market-test-objectives-complementary
              (templateSectionsChange)="onChangeObjectives($event)"
              [(objectiveComment)]="selectedValue['comment']"
              [selectedSectionsObjectives]="selectedValue['sections']"
              [templateSections]="definedTemplate.sections"
              template="TEMPLATE_2">
            </app-market-test-objectives-complementary>
          </ng-container>
        </ng-container>
        <!-- /template -->

        <!-- old objective -->
        <ng-template #oldSecondary>
          <ng-container *ngIf="isOldObjective">
            <app-objectives-secondary
              (objectivesChange)="onChangeObjectives($event)"
              [(objectiveComment)]="selectedValue['comment']"
              [isEnabledOptions]="enableSecondaryObjectives"
              [isTextWhite]="true"
              [objectives]="selectedValue['objectives']">
            </app-objectives-secondary>
          </ng-container>
        </ng-template>
        <!-- /old objective -->

      </ng-container>
    </ng-container>
    <!-- /SECONDARY_OBJECTIVE -->

    <!-- RESTITUTION_DATE -->
    <ng-container *ngSwitchCase="'RESTITUTION_DATE'">

      <app-utility-date-picker
        (selectedDate)="onChangeRestitutionDate($event)"
        [defMonth]="selectedValue['datePickerMonth']"
        [isDisabledUntil]="disabledDate"
        [markDates]="selectedValue['markDates']">
      </app-utility-date-picker>

      <div class="form-group p-top-50 mxw-500 m-left-auto m-right-auto animate-slide slide-down is-3">
        <label>
          <textarea
            (ngModelChange)="onChangeComment($event)"
            [ngModel]="selectedValue.comment"
            [placeholder]="'PROJECT_SETTINGS.RESTITUTION_DATE_COMMENT' | translate"
            class="form-input text-sm"
            id="settings-textarea-restitution-date-comment"
            rows="4">
          </textarea>
        </label>
      </div>

    </ng-container>
    <!-- /RESTITUTION_DATE -->

    <!-- REPORTING_LANG -->
    <div *ngSwitchCase="'REPORTING_LANG'" class="flex-centered">
      <label *ngFor="let lang of ['en', 'fr']" class="form-radio text-white text-medium m-left-10 m-right-10">
        <input
          (change)="onChangeReportingLang($event, lang)"
          [checked]="lang === selectedValue"
          [value]="lang"
          name="reportingLang"
          type="radio">
        <i class="form-icon"></i> {{ 'COMMON.LANG.' + lang | uppercase | translate }}
      </label>
    </div>
    <!-- /REPORTING_LANG -->

    <!-- PRINCIPAL_OBJECTIVE -->
    <ng-container *ngSwitchCase="'PRINCIPAL_OBJECTIVE'">

      <!-- template -->
      <ng-container *ngIf="(mission | mission:'hasMissionTemplate'); else oldPrincipalObjectives">
        <div *ngIf="isFetchingTemplates" class="loading is-white"></div>
        <ng-container *ngIf="!isFetchingTemplates">
          <app-market-test-objectives
            (missionTemplateChange)="onChangeTemplate($event)"
            [(objectiveComment)]="mission.objectiveComment"
            [insideModal]="true"
            [missionTemplate]="mission.template"
            [missionTemplates]="missionTemplates">
          </app-market-test-objectives>
        </ng-container>
      </ng-container>
      <!-- /template -->

      <!-- old objective -->
      <ng-template #oldPrincipalObjectives>
        <div class="p-top-10 p-bottom-10">
          <app-objectives-primary [(objective)]="selectedValue"></app-objectives-primary>
        </div>
      </ng-template>
      <!-- /old objective -->

    </ng-container>
    <!-- /PRINCIPAL_OBJECTIVE -->

    <!-- COLLABORATORS -->
    <ng-container *ngSwitchCase="'COLLABORATORS'">

      <!-- Warning text -->
      <div style="max-width: 530px" class="m-left-auto m-right-auto m-bottom-30">
        <label class="form-checkbox p-left-30 text-white">
          <input
            (change)="onChangeCollaboratorsConsent($event)"
            [ngModel]="selectedValue['consent']"
            id="collaborator-consent"
            type="checkbox">
          <i style="width: 20px; height: 20px" class="form-icon"></i>
          {{ 'PROJECT_SETTINGS.COLLABORATORS_CONSENT' | translate }}
        </label>
      </div>
      <!-- /Warning text -->

      <div class="form-group mxw-400 m-left-auto m-right-auto">
        <label>
          <input
            [(ngModel)]="selectedValue['email']"
            class="form-input is-sm"
            placeholder="jhon.smith@gmail.com"
            type="email">
        </label>
      </div>

    </ng-container>
    <!-- /COLLABORATORS -->

    <!-- checkbox for SECONDARY_OBJECTIVE | PRINCIPAL_OBJECTIVE -->
    <ng-container *ngIf="!isFetchingTemplates && (mission | mission:'hasMissionTemplate')
    && (activeModalSection.name === 'PRINCIPAL_OBJECTIVE' || activeModalSection.name === 'SECONDARY_OBJECTIVE')">
      <div class="p-top-40 m-left-auto m-right-auto mxw-600">
        <label class="form-checkbox p-left-30">
          <input
            (ngModelChange)="objectiveConsent = !objectiveConsent"
            [(ngModel)]="objectiveConsent"
            type="checkbox">
          <i style="width: 20px; height: 20px" class="form-icon"></i>
          <span class="text-white text-medium">
            <ng-container *ngIf="activeModalSection.name === 'PRINCIPAL_OBJECTIVE'">
              {{ 'PROJECT_SETTINGS.PRIMARY_OBJECTIVE_CONSENT' | translate }}
            </ng-container>
            <ng-container *ngIf="activeModalSection.name === 'SECONDARY_OBJECTIVE'">
              {{ 'PROJECT_SETTINGS.SECONDARY_OBJECTIVE_CONSENT' | translate }}
            </ng-container>
          </span>
        </label>
      </div>
    </ng-container>
    <!-- /checkbox for SECONDARY_OBJECTIVE | PRINCIPAL_OBJECTIVE -->

  </section>
  <!-- /body -->

  <!-- footer -->
  <footer style="background-color: #2E6188" class="modal-footer justify-center">

    <button
      (click)="closeModal()"
      [id]="'settings-modal-btn-cancel'"
      class="button is-white is-outlined">
      {{ 'COMMON.BUTTON.CANCEL' | translate }}
    </button>

    <button
      (click)="onClickSaveModal($event)"
      [disabled]="isDisabled || !objectiveConsent"
      [id]="'settings-modal-btn-save'"
      class="button">
      <ng-container
        *ngIf="activeModalSection.name === 'PRINCIPAL_OBJECTIVE' || activeModalSection.name === 'SECONDARY_OBJECTIVE';
        else defBtnSave">
        {{ 'COMMON.BUTTON.CONFIRM' | translate }}
      </ng-container>
      <ng-template #defBtnSave>{{ 'COMMON.BUTTON.SAVE' | translate }}</ng-template>
    </button>

  </footer>
  <!-- /footer -->

</umius-modal>
<!-- /modals -->


<!-- delete modal -->
<umius-modal *ngIf="showDeleteModal" [(showModal)]="showDeleteModal">

  <!-- body -->
  <section class="modal-body">

    <!-- heading -->
    <h2 style="color: #4C4C4C" class="title is-4 text-center m-bottom-30 text-bold">
      {{ 'COMMON.MODAL.TITLE_DELETE' | translate }}
    </h2>
    <!-- /heading -->

    <!-- text -->
    <div [ngSwitch]="activeModalSection.name" class="mxw-550 m-left-auto m-right-auto">

      <!-- COLLABORATORS -->
      <div *ngSwitchCase="'COLLABORATORS'">
        <p>{{ 'PROJECT_SETTINGS.MODAL_DELETE.COLLABORATOR' | translate }}</p>
        <ng-container *ngIf="selectedValue.type === 'PENDING_COLLABORATOR'; else normalCollab">
          <p class="text-sm text-medium">{{ selectedValue.value }}</p>
        </ng-container>
        <ng-template #normalCollab>
          <p class="text-sm text-medium">{{ selectedValue['email'] }}</p>
        </ng-template>
      </div>
      <!-- /COLLABORATORS -->

      <!-- LANGUAGE -->
      <div *ngSwitchCase="'LANGUAGE'">
        <p>{{ 'PROJECT_SETTINGS.MODAL_DELETE.CARD' | translate }}</p>
        <p class="text-sm text-medium">{{ 'COMMON.LANG.' + selectedValue.lang | uppercase | translate }}</p>
      </div>
      <!-- /LANGUAGE -->

    </div>
    <!-- /text -->

  </section>
  <!-- /body -->

  <!-- footer -->
  <footer class="modal-footer justify-center">

    <button
      (click)="closeModal()"
      class="button modal-cancel"
      [id]="'btn-cancel'">
      {{ 'COMMON.BUTTON.CANCEL' | translate }}
    </button>

    <button
      [disabled]="isDeleting"
      (click)="confirmDeleteModal($event)"
      class="button"
      id="btn-confirm">
      {{ 'COMMON.BUTTON.CONFIRM' | translate }}
    </button>

  </footer>
  <!-- /footer -->

</umius-modal>
<!-- /delete modal -->
