<div class="columns">
  <div class="column col-8">
    <app-shared-project-settings [settings]="project.settings" (settingsChange)="updateSettings($event)" [adminMode]="true"></app-shared-project-settings>
  </div>
  <div class="column col-4">
    <h3>Administration</h3>

    <div>
      <h4>Tags management</h4>
      <div class="flex-container">
        <ng-container *ngIf="project?.tags?.length > 0">
          <i class="fa fa-tag"></i>
          <span *ngFor="let t of project?.tags" class="label label-rounded label-primary tag-label">
            <i class="icon icon-cross" (click)="removeTag($event, t)"></i>
            {{t.label | multiling:lang}}
        </span>
        </ng-container>
      </div>
      <form class="form-horizontal" [formGroup]="tagForm" (ngSubmit)="addTag($event)">
        <div class="input-group">
          <input ng2-auto-complete
                 formControlName="tag"
                 [source]="tagSuggestions.bind(this)"
                 [list-formatter]="autocompleListFormatter"
                 [value-formatter]="autocompleValueFormatter"
                 [attr.placeholder]="'Add an existing tag'"
                 class="form-input form-control input-lg">
          <button class="btn btn-primary btn-lg input-group-btn" translate>
            COMMON.ADD
            <i class="icon icon-arrow-right"></i>
          </button>
        </div>
      </form>

      <h4>Presets management</h4>
      <app-autocomplete-input
        (update)="updatePreset($event)"
        [onlyOne]="true"
        [config]="presetAutocomplete">
      </app-autocomplete-input>
    </div>

    <div>
      <h4>Quiz management</h4>
      <p *ngIf="!hasPreset()">To generate a quiz, you need to set a preset for the innovation.</p>
      <button *ngIf="hasPreset()" type="button" class="btn btn-primary btn-lg" [ngClass]="{'disabled': dirty}" (click)="generateQuiz($event)">
        Générer le quiz
      </button>
    </div>

    <hr>
    <div>
      <button [ngClass]="notifClass()" class="btn btn-primary input-group-btn btn-lg" (click)="save($event)"
              data-badge="&#f069;">
        {{ 'COMMON.SAVE' | translate }}
      </button>
    </div>
  </div>
</div>
