<div class="section-container" id="admin-setting">
  <div class="columns">
    <div class="column col-12 col-mx-auto">
      <div class="column col-xs-12 col-11 col-mx-auto">

        <div class="columns">

          <div class="column col-xs-12 col-md-12 col-7 col-mx-auto">
            <app-shared-project-settings
              [settings]="project.settings"
              (settingsChange)="updateSettings($event)"
              [adminMode]="true">
            </app-shared-project-settings>
          </div>

          <div class="column col-xs-12 col-md-12 col-5 col-mx-auto">

            <h3>Administration</h3>

            <div class="tag-managment-wrapper">
              <h6>Tags management</h6>
              <app-shared-tag-item
                [editMode]="true"
                [tags]="project.tags"
                [projectId]="project._id"
                (addTag)="addTag($event)"
                (removeTag)="removeTag($event)">
              </app-shared-tag-item>
            </div>

            <div class="preset-management-wrapper">
              <h6>Presets management</h6>
              <app-autocomplete-input
                (update)="updatePreset($event)"
                [onlyOne]="true"
                [config]="presetAutocomplete">
              </app-autocomplete-input>
            </div>

            <div class="quiz-management-wrapper">
              <h6>Quiz management</h6>
              <p *ngIf="!hasPreset()">To generate a quiz, you need to set a preset for the innovation.</p>
              <button
                *ngIf="hasPreset()"
                type="button"
                class="btn btn-primary"
                [ngClass]="{'disabled': dirty}"
                (click)="generateQuiz($event)">
                Générer le quiz
              </button>
            </div>

            <div class="domain-management-wrapper">
              <h6>Domaine management</h6>
              <form [formGroup]="formData">
                <div class="form-group">
                  <label class="form-label" for="en">En</label>
                  <input
                    type="text"
                    class="form-default"
                    name="domainen"
                    id="en"
                    [(ngModel)]="domain.en"
                    placeholder="Domain name"
                    formControlName="domainen">
                </div>
                <div class="form-group">
                  <label class="form-label" for="fr">Fr</label>
                  <input
                    type="text"
                    class="form-default"
                    name="domainen"
                    id="fr"
                    [(ngModel)]="domain.fr"
                    placeholder="Domain name"
                    formControlName="domainfr">
                </div>
                  <button class="btn btn-primary" type="submit"(click)="updateDomain()">Valider</button>
              </form>
            </div>

            <hr>

            <div class="save-wrapper text-right">
              <button
                [ngClass]="notifyClass()"
                class="btn ghost-primary"
                (click)="save($event)"
                data-badge="&#f069;">
                {{ 'PROJECT_MODULE.SETUP.SAVE_PROJECT' | translate }}
              </button>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
