#admin-setting {

  h3 {
    padding-top: 23px;
  }

  h6 {
    font-size: 1rem;
    margin-top: 25px;
  }

  .tag-management-wrapper, .preset-management-wrapper, .quiz-management-wrapper, .domain-management-wrapper {
    margin-bottom: 25px;
  }

  .save-wrapper {
    padding-top: 25px;
  }

  .badge {
    &[data-badge],
    &:not([data-badge]) {
      &::after {
        background: #F00;
      }
    }
  }

}
