<div class="card">
  <div class="card-content grey-text">
    <span class="card-title grey-text text-darken-2">[FLAG] {{ professional.proName }}</span>
    <div>
      <i class='material-icons tiny left'>person</i>{{ professional.job }}
    </div>
    <div>
      <i class='material-icons tiny left'>business</i>{{ professional.entreprise }}
    </div>
  </div>
  <div class="card-action">
    <a routerLink='/user/abcdefgh/answer/ijklmnopqrstuvwxyz'>Voir la réponse</a> <!-- TODO translate -->
    <a href='mailto: {{ professional.mail }}'>{{ professional.mail | shorten: 22: '...' }}</a>
  </div>
</div>
