<section class="p-bottom-25 p-top-25" id="admin-dashboard-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- When loading -->
    <div *ngIf="spinnerDisplay" class="section-spinner">
      <app-shared-loader></app-shared-loader>
    </div>

    <!-- Loading finished -->
    <ng-container *ngIf="adminLevel > 0 && !spinnerDisplay">

      <!-- Section operator -->
      <div class="section-operator">

        <div *ngIf="operatorData.nbProjectsToValidate || operatorData.nbProjectsToTreat"  class="text">
          <span *ngIf="operatorData.nbProjectsToValidate != 'undefined'">
            {{ operatorData.nbProjectsToValidate }} {{ 'DASHBOARD.PROJECT' | translate }}{{ operatorData.nbProjectsToValidate > 1 ? 's' : '' }} {{ 'DASHBOARD.VALIDATED' | translate }}
          </span>
          <span *ngIf="operatorData.nbProjectsToTreat != 'undefined'">
            {{ operatorData.nbProjectsToTreat }} {{ 'DASHBOARD.RESPONSE' | translate }}{{ operatorData.nbProjectsToTreat > 1 ? 's' : '' }} {{ 'DASHBOARD.PROCESSED' | translate }}
          </span>
        </div>

        <label class="select-wrapper">
          <select
            class="form-select"
            [(ngModel)]="operatorId"
            (ngModelChange)="newOperatorSelected($event)">
            <option value="">{{ 'DASHBOARD.STATS.ALL_OPERATORS' | translate }}</option>
            <option *ngFor="let operator of operators" [ngValue]="operator?._id" [selected]="operatorId === operator?._id">
              {{ operator.firstName + ' ' + operator.lastName }}
            </option>
          </select>
        </label>

      </div>
      <!-- /Section operator -->


      <!-- Section table -->
      <div class="p-top-25">
        <app-admin-missions-list></app-admin-missions-list>
      </div>
      <!-- /Section table -->

    </ng-container>
    <!-- /Loading finished -->


  </div>
</section>

