<section class="section-light-pad" id="admin-dashboard-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- When loading -->
    <div *ngIf="spinnerDisplay" class="section-spinner">
      <app-shared-loader></app-shared-loader>
    </div>

    <!-- Loading finished -->
    <ng-container *ngIf="adminLevel > 2 && !spinnerDisplay">

      <!-- Section operator -->
      <div class="section-operator">

        <div *ngIf="operatorData.nbProjectsToValidate || operatorData.nbProjectsToTreat"  class="text">
          <span *ngIf="operatorData.nbProjectsToValidate != 'undefined'">
            {{ operatorData.nbProjectsToValidate }} {{ 'DASHBOARD.PROJECT' | translate }}{{ operatorData.nbProjectsToValidate > 1 ? 's' : '' }} {{ 'DASHBOARD.VALIDATED' | translate }}
          </span>
          <span *ngIf="operatorData.nbProjectsToTreat != 'undefined'">
            {{ operatorData.nbProjectsToTreat }} {{ 'DASHBOARD.RESPONSE' | translate }}{{ operatorData.nbProjectsToTreat > 1 ? 's' : '' }} {{ 'DASHBOARD.PROCESSED' | translate }}
          </span>
        </div>

        <label class="select-wrapper">
          <select
            class="form-select"
            [(ngModel)]="operatorId"
            (ngModelChange)="newOperatorSelected($event)">
            <option value="">{{ 'DASHBOARD.STATS.ALL_OPERATORS' | translate }}</option>
            <option *ngFor="let operator of operators" [ngValue]="operator._id" [selected]="operatorId === operator._id">
              {{ operator.firstName + ' ' + operator.lastName }}
            </option>
          </select>
        </label>

      </div>
      <!-- /Section operator -->


      <!-- Section table -->
      <div class="section-light-pad rm-pad-bottom">
        <app-admin-projects-list [operatorId]="operatorId" [refreshNeededEmitter]="refreshNeededEmitter"></app-admin-projects-list>
      </div>
      <!-- /Section table -->


      <!-- section batch -->
      <ng-container *ngIf="weekBatches && weekBatches.length > 0">
        <div class="section-batch">

          <!-- navigate labels -->
          <div class="navigate-wrapper">
            <button type="button" class="btn ghost-edit btn-xs" (click)="onClickLast()">Last Week</button>
            <div class="label-wrapper">
              <div class="label label-success">First mail</div>
              <div class="label label-draft">Second mail</div>
              <div class="label label-meta">Third mail</div>
            </div>
            <button type="button" class="btn ghost-edit btn-xs" (click)="onClickNext()">Next Week</button>
          </div>

          <div class="batch-wrapper">
            <div *ngFor="let days of weekBatches; let index1 = index" class="batch">
              <div *ngFor="let batches of days; let index2 = index">

                <p class="text text-center" *ngIf="index2 === 0">{{ getDateString(batches) }}</p>

                <ng-container *ngIf="index2 !== 0">

                  <ng-container *ngIf="index2 < 4">
                    <div class="batch-body">

                      <ng-container *ngIf="getState(batches) === 0">
                        <div class="label label-success" (click)="showPreview($event, batches)">
                          {{ batches.innovation.name  | ellipsis:10 }}  {{ batches.size }}
                        </div>
                      </ng-container>

                      <ng-container *ngIf="getState(batches) === 1">
                        <div class="label label-draft" (click)="showPreview($event, batches)">
                          {{ batches.innovation.name | ellipsis:10 }}  {{ batches.size }}
                        </div>
                      </ng-container>

                      <ng-container *ngIf="getState(batches) === 2">
                        <div class="label label-meta" (click)="showPreview($event, batches)">
                          {{ batches.innovation.name | ellipsis:10 }}  {{ batches.size }}
                        </div>
                      </ng-container>

                    </div>
                  </ng-container>

                  <ng-container *ngIf="index2 === 4">
                    <div class="batch-body">
                      <div class="popover" [ngClass]="{ 'popover-right': index1 === 0, 'popover-left': index1 === 4 }">

                        <div class="text-link">see more...</div>

                        <div class="popover-container popover-sm">
                          <div class="card">
                            <div class="card-body">
                              <div *ngFor="let batchesOver of days; let index3 = index">
                                <div *ngIf="index3 > 0" class="batch-body">

                                  <ng-container *ngIf="getState(batchesOver) === 0">
                                    <div class="label label-success" (click)="showPreview($event, batches)">
                                      {{ batchesOver.innovation.name | ellipsis:10 }}  {{ batchesOver.size }}
                                    </div>
                                  </ng-container>

                                  <ng-container *ngIf="getState(batchesOver) === 1">
                                    <div class="label label-draft" (click)="showPreview($event, batches)">
                                      {{ batchesOver.innovation.name | ellipsis:10 }}  {{ batchesOver.size }}
                                    </div>
                                  </ng-container>

                                  <ng-container *ngIf="getState(batchesOver) === 2">
                                    <div class="label label-meta" (click)="showPreview($event, batches)">
                                      {{ batchesOver.innovation.name | ellipsis:10 }}  {{ batchesOver.size }}
                                    </div>
                                  </ng-container>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </ng-container>

                </ng-container>

              </div>
            </div>
          </div>

        </div>
      </ng-container>
      <!-- /section batch -->


    </ng-container>
    <!-- /Loading finished -->


  </div>
</section>


<!-- innovation preview sidebar-->
<app-sidebar [(template)]="sidebarTemplateValue">
  <app-innovation-preview
    [projectCard]="selectedInnovation"
    [batchInfo]="{ batchSelected:this.selectedBatch, date: this.dateNow }">
  </app-innovation-preview>
</app-sidebar>
<!-- /innovation preview sidebar-->

