@import "../../../../../../style/framework/src/variables";

#admin-dashboard-component {

  .section-operator {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .form-select {
      margin-top: 0;
      min-width: 102px;
    }

    .text {
      color: $background-color;
      font-weight: $font-weight-medium;

      span {
        margin-right: 1.25rem;
      }

    }

    .form-input:not(:disabled):focus, .form-select:not(:disabled):focus {
      border-color: $border-color;
    }

  }

  .section-batch {
    padding-top: 1.25rem;

    .navigate-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .label-wrapper {
        display: flex;

        .label {
          border-radius: 25px;
        }

      }

    }

    .batch-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 0.5rem;

      .batch {
        display: flex;
        flex-direction: column;
        text-align: center;

        p {
          margin-top: 0.8755rem;
          color: $background-color;
          font-weight: 600;
        }

        .batch-body {
          display: flex;
          flex-direction: column;

          .label {
            border-radius: 25px;

            &:hover {
              cursor: pointer;
            }

          }

          .text-link:hover {
            text-decoration: none;
            cursor: default;
          }

        }

      }

    }

  }

}

@media (max-width: $size-sm) {

  #admin-dashboard-component {

    .section-operator {
      flex-direction: column;
      align-items: flex-start !important;

      .text {
        display: flex;
        flex-direction: column;

        span {
          margin-right: 0 !important;
          margin-bottom: .75rem;
        }

      }

    }


    .section-batch {

      .navigate-wrapper {
        flex-direction: column;

        .label-wrapper {
          margin-top: 0.35rem;
          margin-bottom: 0.35rem;
        }

      }

      .batch-wrapper {
        flex-direction: column;
      }

    }

  }
  
}
