#footer {
  background: #4F5D6B;
  font-size: 0.85rem;
  color: white;

  .lang-wrapper {

    .btn-lang {
      background-color: white;
      color: #333333;
      padding: 0.4rem 0.7rem;
      height: 2.4rem;
      border-color: #97A4B1;

      i {
        font-size: .8rem;
      }

    }

    .icon-footer {
      padding-left: 0.7rem;
    }

    .btn-group .btn:first-child:not(:last-child) {
      border-radius: 0.25rem;
    }

    .menu {
      min-width: 6.5rem;
      border-radius: 0.25rem;
      transition: all 0.15s ease;
      text-align: left;
    }

    ul li {
      margin-top: 0;
      padding: 0.3rem;

      a {
        color: #333333;
      }

      a:hover {
        text-decoration: none;
        cursor: pointer;
        color: #FFB300;
      }

    }

  }

  .footer-hr {
    margin-top: 3.15rem;
    border: .5px solid white;
    border-radius: .25rem;
  }

  .information-wrapper {
    padding-top: 3.15rem;
    transition: all 0.35s ease-in-out;

    a{
      color: white;
    }

  }

}


