<div class="column col-8">
  <!-- GEOGRAPHY -->
  <div class="form-group">
    <div class="col-4">
      <label class="form-label">{{ 'PROJECT_EDIT.TARGETING.GEOGRAPHY' | translate }}</label>
    </div>
    <div class="col-8">
      <clickable-worldmap (notifier)="continentModificationDrain($event)"
                          [initialConfiguration]="continentTarget"
                          [canEdit]="true"></clickable-worldmap>
      <a (click)="displayCountriesToExcludeSection = !displayCountriesToExcludeSection" class="c-hand">
        {{ 'PROJECT_EDIT.TARGETING.SPECIFY_COUNTRIES_TO_EXCLUDE' | translate }}
        <i class="icon icon-arrow-right"></i>
      </a>

      <div *ngIf="displayCountriesToExcludeSection">
        <app-autocomplete-input (update)="addCountryToExclude($event)"
                                [canEdit]="true"
                                [config]="getConfig('countries')"></app-autocomplete-input>
      </div>
    </div>
  </div>

  <!-- ACTIVITY SECTORS -->
  <div class="form-group">
    <div class="col-4">
      <label class="form-label" >
        {{ 'PROJECT_EDIT.MARKET.LABEL' | translate }}
      </label>
    </div>
    <div class="col-8">
        <textarea class="form-input" id="innovation-sector"
                  [attr.placeholder]="'PROJECT_EDIT.MARKET.PLACEHOLDER' | translate"
                  rows="5" (change)="updateSettings()"></textarea>
    </div>
  </div>

  <!-- TYPES OF ENTERPRISES -->
  <div class="form-group">
    <div class="col-4">
      <label class="form-label" for="innovation-companies">
        {{ 'PROJECT_EDIT.COMPANIES.LABEL' | translate }}</label>
    </div>
    <div class="col-8">
        <textarea class="form-input" id="innovation-companies"
                  [attr.placeholder]="'PROJECT_EDIT.COMPANIES.PLACEHOLDER' | translate"
                  rows="5" (change)="updateSettings()"></textarea>

      <div class="col-6">
        <a (click)="displayCompanyToExcludeSection = !displayCompanyToExcludeSection" class="c-hand">{{
          'PROJECT_EDIT.COMPANIES.TO_EXCLUDE' | translate }} <i class="icon icon-arrow-right"></i></a>

        <div *ngIf="displayCompanyToExcludeSection">
          <app-autocomplete-input (update)="addCompanyToExclude($event)"
                                  [canEdit]="true"
                                  [config]="getConfig('excludedCompanies')"></app-autocomplete-input>
        </div>
      </div>
    </div>
  </div>

  <!-- PROFESSIONALS PROFILES -->
  <div class="form-group">
    <div class="col-4">
      <label class="form-label" for="innovation-pros">{{ 'PROJECT_EDIT.PROFESSIONALS.LABEL' | translate
        }}</label>
    </div>
    <div class="col-8">
      <textarea class="form-input" id="innovation-pros"
                [attr.placeholder]="'PROJECT_EDIT.PROFESSIONALS.PLACEHOLDER' | translate"
                rows="5" (change)="updateSettings()"></textarea>
      <a (click)="displayPersonsToExcludeSection = !displayPersonsToExcludeSection" class="c-hand">{{
        'PROJECT_EDIT.PROFESSIONALS.TO_EXCLUDE' | translate }} <i class="icon icon-arrow-right"></i></a>

      <div *ngIf="displayPersonsToExcludeSection">
        <app-input-list (update)="addPeopleToExclude($event)"
                        [canEdit]="true"
                        [config]="getConfig('excludedPeople')"></app-input-list>
      </div>
    </div>
  </div>

  <!-- KEYWORDS AND OTHER STUFF -->
  <div class="form-group">
    <div class="col-4">
      <label class="form-label" for="other-comments">{{ 'PROJECT_EDIT.OTHER.LABEL' | translate }}</label>
    </div>
    <div class="col-8">
        <textarea class="form-input" id="other-comments"
                  [(ngModel)]="comments"
                  [attr.placeholder]="'PROJECT_EDIT.OTHER.PLACEHOLDER' | translate"
                  rows="5" (change)="updateSettings()"></textarea>
    </div>
  </div>
  <div class="form-group">

    <div class="col-8" *ngIf="adminMode">
      <a (click)="displayKeywordsSection = !displayKeywordsSection" class="c-hand">{{
        'PROJECT_EDIT.KEYWORDS.LABEL' | translate }} <i class="icon icon-arrow-right"></i></a>

      <div *ngIf="displayKeywordsSection">
        <app-input-list (update)="addKeywordToExclude($event)"
                        [canEdit]="true"
                        [config]="getConfig('keywords')"></app-input-list>
      </div>
    </div>
  </div>

  <!-- BLACKLIST -->
  <div *ngIf="adminMode">
    <div class="container">
      <div class="columns">
        <div class="column col-6">
          Noms de domains à exclure
          <app-input-list (update)="addDomainToExclude($event)"
                          [canEdit]="true"
                          [config]="getConfig('domainBL')"></app-input-list>
        </div>
        <div class="column col-6">
          E-mails à exclure
          <app-input-list (update)="addEMailToExclude($event)"
                          [canEdit]="true"
                          [config]="getConfig('emailBL')"></app-input-list>
        </div>
      </div>
    </div>




    <!--Personnes à exclure
    <app-input-list (update)="addKeywordToExclude($event)"
                    [canEdit]="true"
                    [config]="getConfig('peopleBL')"></app-input-list>-->
  </div>

</div>
