@import "../../../../../style/variables";

#shared-project-settings-component {

  .pd-para, .pd-input {
    margin: 0;
    padding-top: 1.2rem;
  }

  .pd-ques {
    padding-top: 2.5rem;
  }

  .fa-angle-down, .fa-angle-right {
    vertical-align: middle;
    font-size: 20px;
  }

  .borderRed {
    border-color: $alert-color;
  }

  .inp-disabled {
    pointer-events: none;
  }

  p {
    padding: 0;
  }

  .pd-bottom {
    padding-bottom: .95rem;
  }

  .pd-top {
    padding-top: .35rem;
  }

  .text-link:hover {
    text-decoration: none;
  }

  .answer-wrapper {
    background: #F8F4F4;
    color: $dark-color;
    padding: .5rem .95rem;
    border-radius: .18rem;
    display: inline-flex;
    margin-right: .6rem;
    margin-bottom: .6rem;
    font-size: .85rem;
  }

  .help-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 1.2rem;
  }


}