<div *ngIf="innovationSettings" id="shared-project-settings-component">


  <!-- geography section -->
  <div class="section-geography">
    <span class="num-rect">1</span><span class="ques">{{ 'PROJECT_MODULE.SETUP.TARGETING.GEOGRAPHY.LABEL' | translate }}</span>
    <div class="pd-input">
      <app-worldmap
        (updateContinent)="continentModificationDrain($event)"
        [initialConfiguration]="continentTarget"
        [isEditable]="canEdit"
        [width]="'auto'">
      </app-worldmap>
    </div>
  </div>
  <!-- /geography section -->


  <!-- Two columns -->
  <div class="columns">


    <!-- question section -->
    <div class="column col-md-12 col-mx-auto" [ngClass]="adminSide ? 'col-12' : 'col-6' ">

      <!-- Exclude countries -->
      <div *ngIf="!canEdit && innovationSettings.geography.exclude.length > 0">
        <div class="pd-para">
          <span class="ques" [ngStyle]=" { 'font-size': '1rem' }">
            {{ 'PROJECT_MODULE.SETUP.TARGETING.GEOGRAPHY.SPECIFY_COUNTRIES_TO_EXCLUDE' | translate }}
          </span>
          <div class="pd-input">
            <div *ngFor="let country of innovationSettings.geography.exclude" class="answer-wrapper">
              {{ country.name }}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="canEdit">
        <div class="pd-para">
          <span class="ques" [ngStyle]=" { 'font-size': '1rem' }">
            {{ 'PROJECT_MODULE.SETUP.TARGETING.GEOGRAPHY.SPECIFY_COUNTRIES_TO_EXCLUDE' | translate }}
          </span>
          <div class="pd-input">
            <app-autocomplete-input (update)="addCountryToExclude($event)" [config]="getConfig('countries')"></app-autocomplete-input>
          </div>
        </div>
      </div>
      <!-- /Exclude countries -->

    </div>
    <!-- /question section -->


  </div>
  <!-- /Two columns -->

</div>