#project-setting {
  padding-top: 25px;
  padding-bottom: 0;

  .pd-ques {
    padding-top: 40px;
  }

  .pd-para, .pd-input {
    margin: 0;
    padding-top: 20px;
  }

  .icon-arrow-right, .icon-arrow-down {
    margin-left: 2px;
    font-size: 13px;
  }

  .help-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .borderRed {
    border-color: #EA5858;
  }

  .inp-disabled {
    pointer-events: none;
  }

}

/********************************** Media ***************************************/

/*@media (max-width: 840px) {

  #project-setting{

    .help-wrapper {
      display: none;
    }

  }

}*/

