@import "../../../../../style/framework/src/variables";

#batch-form-component {
  padding-top: 1.5rem;

  .section-save {
    padding-bottom: 1.25rem;
  }

  .form-group {
    margin-bottom: $unit-5;

    .text.text-alert {
      font-size: $font-size-xs;
      padding: 0 0 $unit-2 0;
    }

  }

  .form-input {
    max-width: 401px;
  }

}
