<div class="column col-xs-12 col-11 col-mx-auto" id="batch-form-component">
  <form [formGroup]="formData" (ngSubmit)="onSave()" autocomplete="off">

    <!-- section save -->
    <div class="section-save">
      <button *ngIf="!isNewBatch" type="submit" class="btn btn-primary" (click)="onSave()" [disabled]="!activeSaveButton">{{ 'COMMON.SAVE' | translate }}</button>
      <button *ngIf="isNewBatch" type="submit" class="btn btn-primary" (click)="onSave()" [disabled]="!activeSaveButton">{{ 'COMMON.SEND' | translate }}</button>
    </div>

    <!-- no of pros -->
    <div *ngIf="isNewBatch" class="form-group">
      <label class="form-label" for="batch-form-pros">{{ 'COMMON.LABEL.PROS_CONTACT' | translate }}</label>
      <input
        class="form-input"
        formControlName="pros"
        id="batch-form-pros"
        type="number"
        [placeholder]="'COMMON.PLACEHOLDER.PROS_CONTACT' | translate"
        (change)="onKeyboardPress($event)">
      <div *ngIf="errorPros" class="form-error">
        <span>{{ 'COMMON.REQUIRED.PROS_CONTACT' | translate }}</span>
      </div>
    </div>

    <!-- date -->
    <div class="form-group">
      <label class="form-label" for="batch-form-date">{{ 'COMMON.LABEL.DATE' | translate }}</label>
      <input
        class="form-input"
        formControlName="date"
        id="batch-form-date"
        type="date"
        (change)="onKeyboardPress($event)">
      <div *ngIf="isNewBatch" class="form-error">
        <span>{{ 'COMMON.REQUIRED.BATCH_IMMEDIATE' | translate }}</span>
      </div>
    </div>

    <!-- time -->
    <div class="form-group">
      <label class="form-label" for="batch-form-time">{{ 'COMMON.LABEL.TIME' | translate }}</label>
      <input
        class="form-input"
        formControlName="time"
        id="batch-form-time"
        type="time"
        (change)="onKeyboardPress($event)">
      <div *ngIf="isNewBatch" class="form-error">
        <span>{{ 'COMMON.REQUIRED.BATCH_IMMEDIATE' | translate }}</span>
      </div>
    </div>


  </form>

</div>

<!--
<div *ngIf="this.row">
    <form [hidden]="this.formHidden" novalidate [formGroup]="formData" >
      <div class="form-group">
        <button (click)="onSubmit()" class="btn btn-primary">
          {{'COMMON.SAVE' | translate}}
        </button>
      </div>
      <div class="form-group">
        <label class="form-label"> DATE </label>
        <input class="form-input" id="dateMail" name="dateMail" formControlName="dateMail" type="date"
               [value]="this.getdateMail | date:'yyyy-MM-dd'">
      </div>
      <div class="form-group">
        <label class="form-label"> TIME </label>
        <input class="form-input" id="timeMail" name="timeMail" formControlName="timeMail" type="time"
        [value]="this.gettimeMail">
      </div>
    </form>

  &lt;!&ndash;<div *ngIf="thereIsContent"> &ndash;&gt;
  <label class="text-ellipsis"> EN </label>
  <app-text-zone [elementId]="'en'"
                 [readonly]="true"
                 [data]="this.content.en"
  ></app-text-zone>
  <label class="text-ellipsis"> FR </label>
  <app-text-zone [elementId]="'fr'"
                 [readonly]="true"
                 [data]="this.content.fr"
  ></app-text-zone>
</div>
-->
