@import "../../../../../style/framework/src/variables";

#batch-form-component {
  padding-top: 1.875rem;

  .section-save {
    padding-bottom: 1.25rem;
    text-align: right;
  }

  .form-group {
    margin-bottom: 1.2rem;
  }

  .form-input {
    max-width: 401px;
  }

}
