<h3>{{total}} Tags / {{ nbSelected }} sélectionnés</h3>

<table class="table pros" wt-responsive-table>
    <thead>
    <tr>
        <th></th>
        <!--<th><sq-sort [config]="config" (configChange)="loadData($event)" [prop]="'text'">Text</sq-sort></th>--->
        <th>Text</th>
        <th>Notation</th>
        <th>URI</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let datum of data" [ngClass]="{'active': datum.isSelected}">
        <ng-container (click)="selectPro(datum)">
            <td><input type="checkbox" [(ngModel)]="datum.isSelected"/></td>
            <td>{{ datum.text }}</td>
            <td>{{ datum.notation }}</td>
            <td>{{ datum.uri }}</td>
        </ng-container>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="12">
            <sqPagination [config]="config" (configChange)="loadData($event)" [total]="total"></sqPagination>
        </td>
    </tr>
    </tfoot>
</table>

