<h1>{{total}} {{ 'COMMON.QUESTIONNAIRE' | translate }}</h1>
<div *ngIf="editionMode">
  <div class="text-right">
    <button class="btn btn-primary" (click)="goToEditionMode()">
          {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
    <div *ngIf="nameCreated">
      <div class="heading">
        <h2>{{newPreset.name}}</h2>
      </div>
      <div class="body">
        <div *ngFor="let section of newPreset.sections; let i=index">
          <app-admin-project-questionnaire-section
            [section]="section"
            [state]="getState(i)"
            (stateOut)="updateState($event, i)"
            (sectionUpdated)="sectionUpdated($event,i)"
            (questionAdded)="addQuestion($event,i)"
            (sectionRemoved)="sectionRemoved($event)"
            (move)="moveSection($event,i)"
          >
          </app-admin-project-questionnaire-section>
        </div>
        <button class="btn-round btn-primary" (click)="modalsection = true"><i class="icon icon-plus"> </i>  </button><span> ADD SECTION</span>
      </div>
    </div>
</div>




<div *ngIf="!editionMode">

  <div class="text-right">
    <button class="btn btn-primary" (click)="goToEditionMode()">
          {{ 'PRESETS.PRESET.ADD' | translate }}
    </button>
  </div>

<label>{{ 'PRESETS.PRESET.FILTER' | translate }} : <sqFilter [config]="config" (configChange)="loadPresets($event)" [prop]="'name'"></sqFilter></label>

<div class="empty" *ngIf="presets && !presets.length">
  <p class="empty-title h5">{{ 'PRESETS.PRESET.NONE.TITLE' | translate }}</p>
  <p class="empty-subtitle">{{ 'PRESETS.PRESET.NONE.CONTENT' | translate }}</p>
  <div class="empty-action">
    <button [routerLink]="'/admin/presets/presets/new'" class="btn btn-lg btn-primary" (click)="$event.preventDefault()">
      {{ 'PRESETS.PRESET.ADD' | translate }} <i class="icon icon-arrow-right"></i>
    </button>
  </div>
</div>

<div class="columns" *ngIf="presets && presets.length">

  <table class="table presets" wt-responsive-table>
    <thead>
      <tr>
        <th><sq-sort [config]="config" (configChange)="loadPresets($event)" [prop]="'name'">{{ 'COMMON.NAME' | translate }}</sq-sort></th>
        <th>{{ 'PRESETS.SECTIONS' | translate }}</th>
        <th><sq-sort [config]="config" (configChange)="loadPresets($event)" [prop]="'domain'">{{ 'COMMON.DOMAIN' | translate }}</sq-sort></th>
        <th><sq-sort [config]="config" (configChange)="loadPresets($event)" [prop]="'updated'">{{ 'COMMON.UPDATED' | translate }}</sq-sort></th>
        <th><sq-sort [config]="config" (configChange)="loadPresets($event)" [prop]="'created'">{{ 'COMMON.CREATED' | translate }}</sq-sort></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let preset of presets">
        <td><a (click)="linkeditionMode(preset)">{{preset.name}}</a></td>
        <td>{{preset.sections ? preset.sections.length : 0}}</td>
        <td>{{preset.domain}}</td>
        <td>{{preset.created | date : dateFormat}}</td>
        <td>{{preset.updated | date : dateFormat}}</td>
        <td>
          <button class="btn btn-primary" (click)="(selectedPresetToBeCloned = preset) && $event.preventDefault()">
            <i class="far fa-copy"></i> {{ 'COMMON.CLONE' | translate }}
          </button>
        </td>
        <td><a class="delete c-hand" aria-label="Close" role="button" (click)="(selectedPresetIdToBeDeleted = preset._id) && $event.preventDefault()">
          <i class="icon icon-delete"></i>
        </a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="12">
          <sqPagination [config]="config" (configChange)="loadPresets($event)" [total]="total" [propertyName]="'admin-presets'"></sqPagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- MODAL : Are you sure you want to delete this preset ? -->
<div class="modal" [ngClass]="{'active': selectedPresetIdToBeDeleted}">
  <div class="modal-overlay" (click)="(selectedPresetIdToBeDeleted = null) && $event.preventDefault()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(selectedPresetIdToBeDeleted = null) && $event.preventDefault()"></button>
      <div class="modal-title h5">{{ 'PRESETS.PRESET.DELETE_MODAL.TITLE' | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content">{{ 'PRESETS.PRESET.DELETE_MODAL.CONTENT' | translate }}</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" (click)="removePreset($event, selectedPresetIdToBeDeleted)">{{ 'COMMON.DELETE' | translate }}</button>
      <button class="btn btn-primary" (click)="(selectedPresetIdToBeDeleted = null) && $event.preventDefault()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </div>
</div>

<!-- MODAL : Nouveau nom de la preset clônée ? -->
<div class="modal" [ngClass]="{'active': selectedPresetToBeCloned}">
  <div class="modal-overlay" (click)="(selectedPresetToBeCloned = null) && $event.preventDefault()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(selectedPresetToBeCloned = null) && $event.preventDefault()"></button>
      <div class="modal-title h5">{{ 'PRESETS.PRESET.CLONE_MODAL.TITLE' | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content" *ngIf="selectedPresetToBeCloned">
        {{ 'PRESETS.PRESET.CLONE_MODAL.CONTENT' | translate }}
        <input class="form-input" type="text" [(ngModel)]="selectedPresetToBeCloned.name"/>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" [disabled]="!selectedPresetToBeCloned || !selectedPresetToBeCloned.name"
              (click)="clonePreset($event, selectedPresetToBeCloned)">{{ 'COMMON.CLONE' | translate }}</button>
      <button class="btn btn-primary" (click)="(selectedPresetToBeCloned = null) && $event.preventDefault()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </div>
</div>
</div>



<!-- Modal de création de questionnaire-->
<div class="modal" [ngClass]="{'active': (modalquestionnaire && !nameCreated)}">
  <div class="modal-overlay" (click)="(modalquestionnaire = !modalquestionnaire); (editionMode = !editionMode)"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(modalquestionnaire = !modalquestionnaire); (editionMode = !editionMode)"></button>
      <div class="modal-title h5"> CHOISIR UN NOM UNIQUE </div>
    </div>
    <div class="modal-body">
      <div class="content">
        Appuyer sur entrée après avoir écris le nom du questionnaire.
        <input type="text" [(ngModel)]="newPreset.name" (keyup.enter)="createPreset($event)">
        <span *ngIf="errorquestionnaire"> Ce nom est deja pris, veuillez en choisir un nouveau</span>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" (click)="(modalquestionnaire = !modalquestionnaire); (editionMode = !editionMode)">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </div>
</div>

<!-- Modal de création de section-->
<div class="modal" [ngClass]="{'active': (modalsection)}">
  <div class="modal-overlay" (click)="(modalsection = !modalsection)"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(modalsection = !modalsection)"></button>
      <div class="modal-title h5"> CHOISIR UN NOM UNIQUE </div>
    </div>
    <div class="modal-body">
      <div class="content">
        Appuyer sur entrée après avoir écris le nom de la section.
        <input type="text" (keyup.enter)="addSection($event)">
        <span *ngIf="errorsection"> Ce nom est deja pris, veuillez en choisir un nouveau</span>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" (click)="(modalsection = !modalsection)">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </div>
</div>
