<div class="columns" *ngIf="answers && answers.length">
  <table class="table" wt-responsive-table>
    <tbody>
    <tr *ngFor="let answer of answers">
      <td width="40">
        <shared-country-flag [country]="answer.country"></shared-country-flag>
      </td>
      <td>
        <strong>
          {{answer.professional?.firstName || "???"}} {{answer.professional?.lastName || "???"}}<br>
        </strong>
        <small class="email">{{answer.professional?.email || '???'}}</small>
      </td>
      <td>
        {{answer.professional?.jobTitle || "???"}}
      </td>
      <td width="20">
        <span class="follower" *ngIf="answer.follow">
            <i class="fa fa-star"></i>
        </span>
      </td>
      <td width="50">
        <strong *ngIf="answer.progress">{{answer.progress}}%</strong>
      </td>
      <td width="100">
        <button class="btn btn-default" (click)="seeAnswer($event, answer)">
          Show
        </button>
      </td>
    </tr>
  </table>
</div>
