<section class="section-container" id="not-found">
  <div class="column col-xs-12 col-11 col-mx-auto text-center">
    <h1>404 ERROR</h1>
    <span class="bot-rect">{{ 'COMMON.PAGE_NOT_FOUND' | translate }}</span>
    <br>
    <img src="https://res.cloudinary.com/umi/image/upload/v1528795403/app/default-images/bot-triangle.svg" class="bot-trian">
    <div class="bot-wrapper">
      <img src="https://res.cloudinary.com/umi/image/upload/v1532725851/app/default-images/not-found.svg" alt="Bot" class="bot-image">
    </div>
    <div class="link-wrapper">
      <a class="text-link" routerLink="/">{{ 'ERROR.BACK_TO_HOME' | translate }}</a>
    </div>
  </div>
</section>
