<ng-container *ngIf="editMode">
  <section class="rating-item-component">

    <ng-container *ngIf="editMode || rating === 2">
      <div class="thumbs-up-wrapper" [ngClass]="{ 'active': rating === 2 }" (click)="thumbsUp($event)">
        <i class="fas fa-thumbs-up"></i>
      </div>
    </ng-container>

    <ng-container *ngIf="editMode || rating === 0">
      <div class="thumbs-down-wrapper" [ngClass]="{ 'active': rating === 0 }" (click)="thumbsDown($event)">
        <i  class="fas fa-thumbs-down"></i>
      </div>
    </ng-container>

  </section>
</ng-container>


<ng-container *ngIf="!editMode">
  <section class="rating-item-component">

    <ng-container *ngIf="rating === 2">
      <div class="c-thumbs-up-wrapper">
        <i class="fas fa-thumbs-up"></i>
      </div>
    </ng-container>

    <ng-container *ngIf="rating === 0">
      <div class="c-thumbs-down-wrapper">
        <i class="fas fa-thumbs-down"></i>
      </div>
    </ng-container>

  </section>
</ng-container>
