@import "../../../../../../style/framework/src/variables";

.rating-item-component {
  display: flex;

  .fas {
    color: $meta-color;
  }

  .thumbs-down-wrapper, .thumbs-up-wrapper, .c-thumbs-up-wrapper, .c-thumbs-down-wrapper {
    padding: 0.3rem $unit-3;
  }

  .thumbs-up-wrapper {
    border-left: $border-width solid $border-color;
    border-top: $border-width solid $border-color;
    border-bottom: $border-width solid $border-color;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .thumbs-down-wrapper {
    border: $border-width solid $border-color;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .thumbs-up-wrapper:hover, .thumbs-up-wrapper.active {
    background-color: $success-color;
    cursor: pointer;

    .fa-thumbs-up {
      color: $light-color;
    }

  }

  .thumbs-down-wrapper:hover, .thumbs-down-wrapper.active {
    background-color: $alert-color;
    cursor: pointer;

    .fa-thumbs-down {
      color: $light-color;
    }

  }

  .c-thumbs-up-wrapper {
    border: $border-width solid $success-color;
    background-color: $success-color;
    border-radius: $border-radius;
    color: $light-color;

    .fa-thumbs-up {
      color: $light-color;
    }

  }

  .c-thumbs-down-wrapper {
    border: $border-width solid $alert-color;
    border-radius: $border-radius;
    background-color: $alert-color;
    color: $light-color;

    .fa-thumbs-down {
      color: $light-color;
    }

  }

}
