<main class="body-wrapper" id="showcase-component">

  <!-- header -->
  <app-header></app-header>

  <!-- body -->
  <section class="main-wrapper">

    <h1>
      <span *ngFor="let stats of selectedTagsStats; let i = index">
        {{stats.tag.label | multiling:lang}}
        <span *ngIf="i !== selectedTagsStats.length - 1"> / </span>
      </span>
    </h1>
    <span class="text-link" (click)="openSectorsModal = true" [innerText]="'SHOWCASE.MODIFY'" translate></span>

    <hr>

    <div class="professionals">
      {{ stats.totalAnswers }} {{ 'SHOWCASE.PROFESSIONALS' | translate }}
      <p *ngFor="let answer of topAnswers">
        <app-country-flag [country]="answer.country?.flag" [width]="30" [height]="20"></app-country-flag>
        {{ answer.professional?.firstName }} {{ answer.professional?.lastName }}
        - {{ answer.job }} - {{ answer.company?.name }}
      </p>
    </div>

    <hr>

    <div class="innovations">
      {{ stats.totalInnovations }} {{ 'SHOWCASE.INNOVATIONS' | translate }}
    </div>

    <hr>

    <div class="map">
      {{ countriesCount }} {{ 'SHOWCASE.COUNTRIES' | translate }}
      <admin-search-map
        [countriesData]="countries"
        [quartiles]="[1, maxFirstTertile, maxSecondTertile]"
        [width]="'auto'">
      </admin-search-map>
    </div>

  </section>

  <!-- footer -->
  <app-footer></app-footer>

</main>

<app-modal [(showModal)]="openSectorsModal" [modalTitle]="'SHOWCASE.MODAL.TITLE'">

  <form [formGroup]="tagForm" (ngSubmit)="selectTag()">

    <label class="form-switch" for="chooseTag">
      <select class="form-select" formControlName="selectedTag" id="chooseTag">
        <option *ngFor="let tag of sectorTags" [innerText]="tag.label | multiling:lang" [value]="tag._id"></option>
      </select>
    </label>

    <button class="btn btn-primary" [innerText]="'SHOWCASE.MODAL.BUTTON'" translate></button>

  </form>

  <ul>
    <li *ngFor="let stats of selectedTagsStats">
      {{stats.tag.label | multiling:lang}}
      <i class="fas fa-times" (click)="removeStat($event, stats.tag._id)"></i>
    </li>
  </ul>

</app-modal>

