<main class="body-wrapper" id="showcase-component">

  <!-- header -->
  <app-header></app-header>

  <!-- body -->
  <section class="main-wrapper">

    <h1>/!\ Commercial (page en construction) /!\</h1>

    <form [formGroup]="tagForm" (ngSubmit)="selectTag()">

      <label class="form-switch" for="chooseTag">
        <select class="form-select" formControlName="selectedTag" id="chooseTag">
          <option *ngFor="let tag of sectorTags" [innerText]="tag.label | multiling:lang" [value]="tag._id"></option>
        </select>
      </label>

      <button class="btn btn-primary">Add tag</button>

    </form>

    <ul>
      <li *ngFor="let stats of selectedTagsStats">
        {{stats.tag.label | multiling:lang}}
        <i class="fas fa-times" (click)="removeStat($event, stats.tag._id)"></i>
      </li>
    </ul>

    <hr/>

    <p>Innovations: {{stats.totalInnovations}}.</p>

    <p>Answers: {{stats.totalAnswers}}.</p>

    <p>Market Need: {{stats.countNeed}} / {{stats.totalCountNeed}}</p>

    <p>Differentiation: {{stats.countDiff}} / {{stats.totalCountDiff}}</p>

    <p>Generated Leads: {{stats.countLeads}} / {{stats.totalAnswers}}</p>

    <admin-search-map
      [countriesData]="countries"
      [quartiles]="[1, maxFirstTertile, maxSecondTertile]"
      [width]="'auto'">
    </admin-search-map>

    <div>
      <p> Pro with stars : </p>
      <ul>
        <li *ngFor="let answer of topAnswers">
          {{ answer.professional?.firstName }}
          {{ answer.professional?.lastName }}
          {{ answer.job }}
          {{ answer.company?.name }}
        </li>
      </ul>
    </div>

  </section>

  <!-- footer -->
  <app-footer></app-footer>

</main>


