<div class="col {{ compozerComponent.classAddition }} input-field" [formGroup]="form">

  <i *ngIf="compozerComponent.prefixIcon" class="material-icons prefix">{{ compozerComponent.prefixIcon }}</i>

  <textarea *ngIf="type === 'textarea'"
            [formControlName]="compozerComponent.key"
            [id]="compozerComponent.key"
            [ngClass]="{invalid: isFieldInvalid(compozerComponent.key)}"
            [attr.disabled]="compozerComponent.disabled"
            [attr.placeholder]="compozerComponent.placeholder || null"
            [(ngModel)]="compozerComponent.value">
  </textarea>

  <input *ngIf="type === 'textbox'"
         [formControlName]="compozerComponent.key"
         [id]="compozerComponent.key"
         [ngClass]="{invalid: isFieldInvalid(compozerComponent.key)}"
         [attr.disabled]="compozerComponent.disabled"
         [attr.placeholder]="compozerComponent.placeholder || null"
         [type]="compozerComponent.type">

  <select *ngIf="type === 'dropdown'"
          [formControlName]="compozerComponent.key"
          [id]="compozerComponent.key"
          [ngClass]="{invalid: isFieldInvalid(compozerComponent.key)}"
          [attr.disabled]="compozerComponent.disabled"
          [(ngModel)]="compozerComponent.value">

    <option *ngFor="let opt of compozerComponent.options"
            [value]="opt.key"
            [disabled]="opt.disabled">{{opt.value}}
    </option>

  </select>

  <label [attr.for]="compozerComponent.key"
         [appErrorsForm]="form"
         [errorsMessages]="compozerComponent.errorsMessages"
         class="error-form"
         [ngClass]="{active: type !== 'dropdown' && (compozerComponent.placeholder || compozerComponent.value)}">{{ compozerComponent.label | translate }}</label>

</div>
