.big-blue-synthesis {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background: #0B90C6;
  margin-right: 30px;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 30px;
  min-height: 180px;
  padding-top: 25px;
  width: 260px;
  padding-bottom: 25px;
  border-radius: 3px;

  hr {
    margin: 20px;
    width: 80%;
    border-color: white;
  }

  .para {
    padding: 8px 0;
    color: white;
    font-size: 0.7rem;
  }

  .number-answers {
    text-align: center;

    span {
      font-size: 3.2rem;
      font-weight: 400;
    }

    .para {
      padding-top: 4px;
    }

  }

  .number-ratio {
    color: white;
    text-align: center;

    span {
      font-size: 1.6rem;
    }

  }

  .total-score {
    font-size: 27px;
    color: #93E0FE;
    font-weight: 400;
    padding: 20px 0;
  }

  .total-score span {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 64px;
    font-weight: 400;
    color: white;
  }

  .key-benefit {
    font-size: 18px;
    margin-bottom: 10px;
  }


}
