<ng-container *ngIf="mission">
  <section id="objectives-component">


    <div class="section-light-pad">

      <h4 class="subtitle is-4" translate [innerText]="'PROJECT_MODULE.SETUP.OBJECTIVES.OBJECTIVES'"></h4>

      <div *ngIf="editable" class="form-group relative">
        <label for="project-objective"></label>
        <textarea class="form-input" id="project-objective" rows="5"
                  [(ngModel)]="mission.goal"
                  placeholder="Describe the objective of this innovation within 120 words.">
        </textarea>
        <button class="button is-primary" (click)="saveObjectives($event)" translate [innerText]="'COMMON.SAVE'"></button>
      </div>

      <p *ngIf="!editable" [innerText]="mission.goal"></p>

    </div>

    <!-- diffusion -->
    <div class="section-light-pad">

      <!-- ques -->
      <h4 class="subtitle is-4">
        {{ 'PROJECT_MODULE.SETUP.OBJECTIVES.EXTERNAL_DIFFUSION.A' | translate }} {{ companyName }} {{ 'PROJECT_MODULE.SETUP.OBJECTIVES.EXTERNAL_DIFFUSION.B' | translate }}
      </h4>
      <!-- /ques -->

      <!-- selection -->
      <div class="form-group m-top-20">

        <label class="form-radio is-inline">
          <input
            (change)="saveInnovation($event)"
            [(ngModel)]="innovation.external_diffusion"
            [disabled]="innovation.status !== 'EDITING'"
            [value]="false"
            name="external_diffusion"
            type="radio">
          <i class="form-icon"></i>{{ 'COMMON.NO' | translate }}
        </label>

        <label class="form-radio is-inline">
          <input
            (change)="saveInnovation($event)"
            [(ngModel)]="innovation.external_diffusion"
            [disabled]="innovation.status !== 'EDITING'"
            [value]="true"
            name="external_diffusion"
            type="radio">
          <i class="form-icon"></i>{{ 'COMMON.YES' | translate }}
        </label>

      </div>
      <!-- /selection -->

    </div>
    <!-- /diffusion -->


    <div class="section-light-pad" *ngIf="mission.milestoneDates.length > 0">

      <h4 class="subtitle is-4" translate [innerText]="'PROJECT_MODULE.SETUP.OBJECTIVES.ROADMAP'"></h4>

      <p *ngFor="let milestone of mission.milestoneDates">
        <span [innerText]="milestone.name"></span>
        : {{ milestone.dueDate | date:'dd/MM/yyyy' }}
      </p>

    </div>



  </section>
</ng-container>
