@import "../../../../../../style/framework/src/variables";

#executive-professional-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  height: 100%;
  background-color: $bg-color-light;

  .title-primary {
    margin-bottom: 15px;
    font-size: 24px;
  }

  .response-wrapper {
    margin-bottom: 15px;

    .sub-title {
      color: $meta-color;
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 10px;
    }

    .map-wrapper, .abstract-wrapper {
      margin-bottom: 10px;
    }

    .abstract-wrapper {
      color: $text-primary-color;
      font-size: 13px;
      font-weight: normal;
    }

  }

  .profile-wrapper {
    margin-bottom: 10px;

    .profile {
      max-width: 380px;
      min-height: 90px;
      background-color: #F5F5F5;
      margin-bottom: 15px;
      display: flex;

      .icon-wrapper {
        height: inherit;
        width: 57px;
        background-color: #DBDBDB;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fa-user {
          color: white;
          margin-bottom: 10px;
        }

      }

      .detail-wrapper {
        padding: 10px;
        font-size: 13px;
        font-weight: 600;
        width: 100%;

        .job {
          color: $text-background-color;
        }

        .company {
          color: $meta-color;
        }

      }

    }

  }

  .remaining-text {
    font-size: 16px;
    color: #4F5D6B;
    font-weight: 600;

    .text-link {
      font-size: 14px;
    }

  }

}

@media (min-width: $size-lg) {

  #executive-professional-wrapper {
    border-right: $border-width solid $border-color;
  }

}

@media (max-width: $size-lg) {

  #executive-professional-wrapper {
    border-bottom: $border-width solid $border-color;
  }

}

@media (max-width: $size-md) {

  #executive-professional-wrapper {
    border-bottom: none;
  }

}
