<div id="auto-opening-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <img src="../../../../../assets/innovation-cards-assets/umi-innovation-card.svg">
    <div class="modal-footer">

      <div class="input-field">
        <select id="innovation-lang-selector"
                [ngModel]="selectLangOfCardInput"
                (ngModelChange)="setLangInput.emit($event)"
                materialize="material_select">
          <option *ngFor="let opt of langOptions" [value]="opt.key">{{opt.value}}</option>
        </select>
      </div>

      <a class="modal-action modal-close waves-effect waves-green btn-flat"
         (click)="onModalAgree(); closed.emit(true)">Agree</a>
      <a class="modal-action modal-close waves-effect waves-red btn-flat" (click)="closed.emit(true)">Cancel</a>
    </div>
  </div>
</div>
