<div>
  <app-sidebar [template]="more" (closeSidebar)="closeSidebar($event)">
    <app-sidebar-workflow
      [emailsObject]="emailToEdit"
      (emailChange)="updateEmail($event)"
      [inputLanguage]="language">
    </app-sidebar-workflow>
  </app-sidebar>
  <p class="workflow-header">
    <span class="workflow-name">{{ scenario.name }}</span> -
    <a [ngClass]="{'text-warning': language === 'en'}" (click)="changeLanguage('en')">EN</a> |
    <a [ngClass]="{'text-warning': language === 'fr'}" (click)="changeLanguage('fr')">FR</a> -
    <a class="text-error" (click)="deleteModal = true"><i class="fas fa-trash"></i> {{ 'COMMON.DELETE' | translate }}</a>
  </p>
  <app-shared-table [data]="tableInfos" (editRow)="editEmail($event)" [config]="config"></app-shared-table>

  <!-- MODAL : Suppression scénario ? -->
  <div class="modal" [ngClass]="{'active': deleteModal}">
    <div class="modal-overlay" (click)="(deleteModal = null) && $event.preventDefault()"></div>
    <div class="modal-container">
      <div class="modal-header">
        <button class="btn btn-clear float-right" (click)="(deleteModal = null) && $event.preventDefault()"></button>
        <div class="modal-title h5">Suppression du scénario</div>
      </div>
      <div class="modal-body">
        <div class="content">Etes-vous sûr de vouloir supprimer ce scénario ? Cette action est irréversible !</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link" (click)="deleteScenario()">{{ 'COMMON.DELETE' | translate }}</button>
        <button class="btn btn-primary" (click)="(deleteModal = null) && $event.preventDefault()">
          {{ 'COMMON.CANCEL' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
