@import "../../../../../style/framework/src/variables";
@import "../../../../../style/framework/src/mixins";

#table-search-filter {
  margin-right: -20px;

  .button {
    border: none;
  }

  .search-dropdown-wrapper, .search-field-wrapper, .filter-dropdown-wrapper {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    margin-right: $unit-5;
    margin-bottom: $unit-5;

    .form-select {
      max-width: 145px;
    }

  }

  .search-field-wrapper {

    .form-input {
      min-width: 350px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .search-icon {
      left: 7px;

      img {
        width: 14px;
        height: 14px;
      }

    }

    .search-tooltip {
      right: 23px;
      top: -2px;
    }

    .search-cross {
      @include control-transition();
      right: 10px;
      top: 5px;
    }

  }

}

@media screen {

  @media (max-width: $size-sm) {

    #table-search-filter {

      .search-field-wrapper {
        order: 2;
        width: 100%;
        margin-right: 0;

        label {
          width: 100%;
        }

        .form-input {
          max-width: 100%;
          min-width: auto;
        }

      }

    }

  }

}
