@import "../../../../../style/variables";

#login-page {

  .cover-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }

  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .form-wrapper {
      flex: 1 0 auto;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      width: 80%;
      margin-right: auto;
      margin-left: auto;

      .main-heading {
        font-size: 2.15rem;
      }

      .social-wrapper {

        .btn {
          background: #1680B9;
          border-color: #1680B9;
          color: #ffffff;
        }

        .btn:hover {
          background: lighten(#1680B9, 10%);
          border-color: lighten(#1680B9, 10%);
          color: #ffffff;
        }

      }

      .or-wrapper {
        padding-top: 1.57rem;
      }

      .credentials-wrapper {
        padding-top: 1.2rem;
      }

      .submit-wrapper {
        padding-top: 1.2rem;

        .login-button {
          padding-bottom: .85rem;
        }

        .text-link {
          font-size: .85rem;
        }

      }
    }

  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  #login-page {

    .cover-image {
      display: none;
    }

    .form-wrapper {
      width: 90% !important;
    }

    .heading {
      padding-top: 1.57rem;
    }

    .submit-wrapper {
      padding-bottom: 1.57rem;
    }

  }

}

