@import "~@umius/umi-style-framework/scss/variables";

#sidebar-in-page {
  display: flex;
  background: $white-color;
  position: relative;
  height: 100%;
  border-right: 2px solid $primary-color;

  &.is-sticky {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .sidebar-border {
    width: 30px;
    background: $draft-color;
    z-index: 1;
  }

  .sidebar-toggle {
    top: 35px;
    right: -16px;
    z-index: 1;

    .button {

      &.is-primary {
        background-color: $primary-color;
        color: $white-color;
        border-width: 2px;
        transition: all 0.3s ease;
        border-color: $primary-color;

        &:hover {
          background-color: $white-color;
          color: $primary-color;
        }

      }

      &.is-action {
        width: 30px;
        height: 30px;
        padding: 0;
      }

    }

  }

  .sidebar {
    box-shadow: unset;
    position: unset;
    z-index: unset;
    transform-origin: left;
    flex: 1;
    top: unset;
    transition: width 300ms cubic-bezier(0.2, 0, 0, 1) 0s;

    .sidebar-body {
      padding: 35px 25px;
      overflow-x: hidden;
      overflow-y: auto;
      opacity: 0;

      &.active {
        opacity: 1;
        transition: opacity 300ms ease-in-out;
      }

    }

  }

}
