<div class="column col-sm-12 col-11 col-mx-auto p-top-30" id="sidebar-project-pitch">

  <!-- save button -->
  <section *ngIf="type && type !== 'MEDIA' && isEditable" class="text-right m-bottom-20">
    <button
      (click)="onSave($event)"
      [disabled]="isSaving || !toBeSaved"
      style="min-width: 100px"
      class="button is-sm"
      id="sidebarProjectPitch-btn-save">
      {{ (isSaving ? 'COMMON.BUTTON.SAVING_PROJECT' : 'COMMON.BUTTON.SAVE') | translate  }}
    </button>
  </section>
  <!-- /save button -->

  <!-- fields -->
  <section [ngSwitch]="type">

    <!-- media -->
    <div *ngSwitchCase="'MEDIA'">
      <div *ngIf="isEditable && displayUploadOverlay" style="position: absolute; background-color: rgba(58, 66, 77, 0.8); top: 0; left: 0; width: 100%; height: 150vh; z-index: 3; padding: 38px;">
        <div style="background-color: white; border-radius: 6px; padding: 16px 32px 32px 32px;">
          <div style="display: inline-flex; justify-content: flex-end; width: 100%; margin-top: -32px; margin-bottom: 8px"><button class="modal-close" (click)="toggleDisplayUploadOverlay()" style="color: #505D6B;"></button></div>
          <!-- image -->
        <div class="form-group">
        <!--  <app-shared-upload-zone-photo
            [uri]="imagePostUri"
            (cbFn)="onUploadMedia($event, 'IMAGE')">
          </app-shared-upload-zone-photo>-->
          <app-shared-upload-zone-photo
            [mediaId]="editedMediaId"
            [uri]="imagePostUri"
            (cbFn)="onUploadMedia($event, 'IMAGE')">
          </app-shared-upload-zone-photo>
        </div>
        <!-- /image -->

        <div *ngIf="editedMediaIndex === 0 || cardContent.length === 0"
          [attr.data-content]="'COMMON.LABEL.OR' | translate | uppercase"
          class="divider m-top-40 m-bottom-40">
        </div>

        <!-- video -->
        <div class="form-group" *ngIf="editedMediaIndex === 0 || cardContent.length === 0">
          <app-shared-upload-zone-video
            (cbFn)="onUploadMedia($event, 'VIDEO')"
            [isUploading]="isUploadingVideo"
            [innovationId]="innovationId"
            [activeInnovCardId]="activeInnovCardId"
            [mediaId]="editedMediaId">
          </app-shared-upload-zone-video>
        </div>
        <!-- /video -->
        </div>
      </div>
    </div>
    <!-- /media -->

    <!-- title | summary | issue | solution | context -->
    <div *ngSwitchDefault>
      <div class="form-group p-top-10">
        <div *ngIf="isEditable">
          <app-shared-editors
            class="text-sm"
            (textChange)="onTextChange($event)"
            [text]="cardContent"
            [innovationId]="innovationId"
            [elementId]="sectionId"
            [isEditable]="isEditable"
            [isClient]="true"
            [type]="'pitch'">
          </app-shared-editors>
        </div>
        <div *ngIf="!isEditable" [innerHTML]="cardContent | cleanHtml" class="text-sm"></div>
      </div>
    </div>
    <!-- /title | summary | issue | solution -->

    <!-- remaining text -->
    <div
      *ngIf="type && type !== 'MEDIA' && isEditable"
      [ngStyle]="{'color': remaining('COLOR')}"
      class="text-right text-medium text-xs">
      {{ cardContent | characterCountdown:remaining('CHAR') }}
      {{ 'SIDEBAR.PROJECT_PITCH.REMAINING_TEXT' | translate }}
    </div>
    <!-- /remaining text -->

  </section>
  <!-- /fields -->

  <!-- show media -->
 <!-- <section
    *ngIf="type && type === 'MEDIA' && cardContent.length > 0"
    [ngClass]="{ 'p-top-50': isEditable, 'p-top-10': !isEditable }"
    class="d-flex flex-wrap-wrap justify-center p-bottom-50">-->
  <!-- set main media display // choose between 'cropped' or 'adjusted' -->
  <div *ngIf="cardContent.length > 0 && cardContent[0].type === 'PHOTO'" style="display: flex; flex-direction: row; margin-left: 16px;">
    <div>
      <input type="radio" id="crop" name="radios" value="crop" (change)="adjustMedia(cardContent[0], 'crop')" checked>
      <label for="crop" class="m-left-2 m-right-40">Crop main media</label>
    </div>
    <div>
      <input type="radio" id="adjust" name="radios" value="adjust" (change)="adjustMedia(cardContent[0], 'adjust')">
      <label for="adjust" class="m-left-2">Adjust main media</label>
    </div>
  </div>
  <!-- /set main media display -->

    <section *ngIf="type && type === 'MEDIA' && cardContent.length > 0" [ngStyle]=mainContainerStyle style="padding: 16px; display: flex; flex-wrap: wrap; position: relative;">

<!--    <div *ngFor="let media of cardContent" class="text-center media-wrapper animate-fade is-2">-->

      <!-- main media -->
      <div *ngIf="cardContent[0]" class="text-center" [ngStyle]=mainMediaContainerStyle style="object-fit: cover; position: relative;">

        <!-- edit button -->
        <div (click)="toggleDisplayUploadOverlay(cardContent[0].id, 'main')" class="icon-container is-overlay is-primary" style="position: absolute; top: 0; right: 0; float: right; background-color: white;">
            <span (click)="setEditedMediaIndex(0)" class="tooltip" data-tooltip="Edit media">
              <i class="icon icon-edit"></i>
            </span>
        </div>
        <!-- /edit button -->

        <!-- if type === 'PHOTO' -->
        <figure *ngIf="cardContent[0].type === 'PHOTO'" style="width: 100%; height: 100%; object-fit: cover; background-color: #ececec; display: flex; place-content: center;">
          <img
            style="cursor: pointer; height: 100%; object-fit: cover;"
            [src]="cardContent[0].url + '?a=' + cardContent[0].cloudinary.version"
            [ngStyle]="{'width': cardContent[0].isMediaAdjusted || isMediaAdjusted ? !isMediaAdjusted ? '100%' : 'auto' : '100%'}"
            alt=" "
            class="img-responsive">
        </figure>
<!--        (click)="toggleDisplayMediaSlider('showSelected', 0)"-->
        <!-- /if type === 'PHOTO' -->

        <!-- if type === 'VIDEO' -->
        <iframe
          *ngIf="cardContent[0].type === 'VIDEO'"
          style="width: 100%; height: 100%; object-fit: cover; border: none; background-color: #ececec"
          [src]="mediaSrc(cardContent[0], 'VIDEO')" >
        </iframe>
        <!-- /if type === 'VIDEO' -->
      </div>
      <!-- /main media -->

      <!-- secondary medias -->
      <div *ngIf="cardContent.length > 0" style="display: flex; flex-wrap: wrap;" [ngStyle]="(cardContent.length > 0) ? secondaryContainerStyle : null">
        <ng-container *ngFor="let media of cardContent; let i=index;" >
          <div
            *ngIf="media._id !== (cardContent[0] && cardContent[0]._id)"
            class="text-center" style="width: 160px; height: 120px; object-fit: cover; position: relative;">

            <!-- edit and delete buttons -->
            <div style="position: absolute; top: 0; right: 0; float: right; z-index: 2">
              <div class="icon-container is-overlay" (click)="toggleDisplayUploadOverlay(media.id, 'secondary')" style="background-color: white; margin-right: 4px">
                <span class="tooltip" data-tooltip="Edit media" (click)="setEditedMediaIndex(i)">
                  <i class="icon icon-edit"></i>
                </span>
              </div>
              <div class="icon-container is-overlay" (click)="onDeleteMedia(media)" style="background-color: white;">
                <span class="tooltip" data-tooltip="Delete media">
                  <i class="icon icon-delete" style="color: #c93a2a"></i>
                </span>
              </div>
            </div>
            <!-- /edit and delete buttons -->

            <!-- if type === 'PHOTO' -->
            <figure *ngIf="media.type === 'PHOTO'" style="width: 160px; height: 120px; object-fit: cover; background-color: #ececec; display: flex; place-content: center;">
              <img
                style="cursor: pointer; width: 100%; height: 100%; object-fit: cover; background-color: #ececec"
                [src]="media.url + '?a=' + cardContent[i]['cloudinary'].version"
                alt=" "
                class="img-responsive" >
            </figure>
            <!-- /if type === 'PHOTO' -->

            <!-- set principal -->
            <div *ngIf="isNotMainMedia(media) && media['type'] !== 'VIDEO' " class="text-sm text-left set-main-overlay" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
                <span
                  (click)="onSetPrincipal(media, i)"
                  [ngClass]="isSaving ? 'text-disabled' : 'c-hand text-hover-underline'"
                  class="text-primary"
                  style="height: 22px; padding-left: 4px; width: 100%; background-color: #ececec; position: absolute; bottom: 0; right: 0; opacity: 80%"
                  [id]="'btn-principal-media-'+i">
                  Set as main media
                </span>
            </div>
            <!-- /set principal -->

          </div>
        </ng-container>
        <!-- new media card -->
        <div>
<!--         [ngStyle]="{padding: (cardContent.length === 1) ? (cardContent[0].type === 'VIDEO' || cardContent[0]['cloudinary'].width / cardContent[0]['cloudinary'].height > 4/3) ? '8px 0 0 0' : '0 0 0 8px' : null}"-->
          <file-drop class="drop-container media-card text-center justify-center align-center" (click)="toggleDisplayUploadOverlay()">
            <div class="icon-container is-overlay">
                  <span class="tooltip" data-tooltip="Add new media" (click)="setEditedMediaIndex(undefined)">
                    <i class="icon icon-plus"></i>
                  </span>
            </div>
          </file-drop>
        </div>
        <!-- /new media card -->
      </div>
      <!-- /secondary medias -->


      <!-- if type === 'PHOTO' -->
      <!--<figure *ngIf="media['type'] && media['type'] === 'PHOTO' && mediaSrc(media, 'IMAGE')">
        <img
          [src]="mediaSrc(media, 'IMAGE')"
          style="cursor: pointer"
          (click)="mediaToShow(mediaSrc(media, 'IMAGE'))"
          alt=" "
          class="img-responsive"
          height="159"
          width="180">
      </figure>-->
      <!-- /if type === 'PHOTO' -->

      <!-- if type === 'VIDEO' -->
    <!--  <iframe
        *ngIf="media['type'] && media['type'] === 'VIDEO' && mediaSrc(media, 'VIDEO')"
        [src]="mediaSrc(media, 'VIDEO')"
        height="119.25"
        width="180">
      </iframe>-->
      <!-- /if type === 'VIDEO' -->

      <!-- set principal -->
     <!-- <div *ngIf="isNotMainMedia(media) && isEditable" class="text-sm p-top-2">
        <span
          (click)="onSetPrincipal(media)"
          [ngClass]="isSaving ? 'text-disabled' : 'c-hand text-hover-underline'"
          class="text-primary"
          id="sidebarProjectPitch-btn-principal-media">
          {{ 'SIDEBAR.PROJECT_PITCH.SET_PRINCIPAL' | translate }}
        </span>
      </div>-->
      <!-- /set principal -->

      <!-- delete button -->
      <!--<div
        *ngIf="(mediaSrc(media, 'VIDEO') || mediaSrc(media, 'IMAGE')) && isEditable"
        [ngClass]="{'p-top-2': !isNotMainMedia(media)}"
        class="text-sm">
          <span
            (click)="onDeleteMedia(media)"
            [ngClass]="isSaving ? 'text-disabled' : 'c-hand text-hover-underline'"
            class="text-alert"
            id="sidebarProjectPitch-btn-delete-media">
            {{ 'COMMON.BUTTON.DELETE' | translate }}
          </span>
      </div>-->
      <!-- /delete button -->

<!--    </div>-->
  </section>

  <!-- new media card -->
  <div *ngIf="cardContent.length === 0">
    <file-drop class="drop-container media-card text-center" (click)="toggleDisplayUploadOverlay()">
      <div class="icon-container is-overlay">
                  <span class="tooltip" data-tooltip="Add new media" (click)="setEditedMediaIndex(undefined)">
                    <i class="icon icon-plus"></i>
                  </span>
      </div>
    </file-drop>
  </div>
  <!-- /new media card -->
  <!-- /show media -->

  <!-- umi comment -->
  <!-- TODO : remove comment.comment when etherpad-->
  <section *ngIf="(collaborativesComments && collaborativesComments.length > 0) || (comment && comment.comment)" class="p-top-30">
    <div class="d-flex align-center m-bottom-10">
      <div class="d-flex align-center m-right-10">
        <span class="text-lg text-bold m-right-10">{{ 'COMMON.LABEL.COMMENTS' | translate }}</span>
        <img [src]="badgeUmi" alt="" class="img-fit-cover">
      </div>
      <div (click)="toggle($event, 'COMMENT')" class="icon-container is-sm is-overlay">
        <i [ngClass]="showComment ? 'icon-arrow-up' : 'icon-arrow-down'" class="icon"></i>
      </div>
    </div>
    <div *ngIf="showComment" class="message animate-fade is-2">
      <p *ngIf="comment && comment.comment" class="message-body" [innerHTML]="comment.comment"></p>
      <app-comment-list [innovationId]="innovationId" [collaborativesComments]="collaborativesComments" [padID]="padID"></app-comment-list>
    </div>
  </section>
  <!-- /umi comment -->

  <!-- umi suggestion -->
  <section *ngIf="comment && comment.suggestion" class="p-top-30">
    <div class="d-flex align-center m-bottom-10">
      <div class="d-flex align-center m-right-10">
        <span class="text-lg text-bold m-right-10">{{ 'COMMON.LABEL.SUGGESTION' | translate }}</span>
        <img [src]="badgeUmi" alt="" class="img-fit-cover">
      </div>
      <div (click)="toggle($event, 'SUGGESTION')" class="icon-container is-sm is-overlay">
        <i [ngClass]="showSuggestion ? 'icon-arrow-up' : 'icon-arrow-down'" class="icon"></i>
      </div>
    </div>
    <div *ngIf="showSuggestion" class="message animate-fade is-2">
      <p class="message-body" [innerHTML]="comment.suggestion | cleanHtml"></p>
    </div>
  </section>
  <!-- /umi suggestion -->

  <!-- help text -->
  <section *ngIf="type && type !== 'MEDIA' && help('TEXT')" class="p-top-30">
    <div class="d-flex align-center m-bottom-10">
      <span class="text-lg text-bold m-right-10">{{ 'COMMON.LABEL.HELP' | translate }}</span>
      <span (click)="toggle($event, 'HELP')" class="icon-container is-sm is-overlay">
        <i [ngClass]="showHelp ? 'icon-arrow-up' : 'icon-arrow-down'" class="icon"></i>
      </span>
    </div>
    <p *ngIf="showHelp" class="animate-fade is-2 text-sm m-no-bottom" [innerHTML]="help('TEXT')"></p>
  </section>
  <!-- /help text -->

  <!-- example -->
  <section *ngIf="type && type !== 'MEDIA' && help('EXAMPLE')" class="p-top-30">
    <div class="d-flex align-center m-bottom-10">
      <span class="text-lg text-bold m-right-10">{{ 'COMMON.LABEL.EXAMPLE' | translate }}</span>
      <span (click)="toggle($event, 'EXAMPLE')" class="icon-container is-sm is-overlay">
        <i [ngClass]="showExample ? 'icon-arrow-up' : 'icon-arrow-down'" class="icon"></i>
      </span>
    </div>
    <p *ngIf="showExample" class="animate-fade is-2 text-sm m-no-bottom" [innerHTML]="help('EXAMPLE')"></p>
  </section>
  <!-- /example -->

</div>

<!-- modal to view image -->
<!--<umius-modal [(showModal)]="modalMedia" [medias]="[selectedMedia]"></umius-modal>-->
<!-- /modal to view image-->
