@import "../../../../../style/framework/src/variables";

#sidebar-project-pitch {

  .icon {

    &.icon-arrow-down, &.icon-arrow-up {
      color: $text-community-color;

      &:before {
        width: 11px;
        height: 11px;
      }

    }

  }

  .media-wrapper {
    display: inline-flex;
    flex-direction: column;
    margin: 0 15px 30px 15px;

    iframe {
      border: none;
    }

    .text-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

  }

  .box-shadow {
    box-shadow: $box-shadow-form;
  }

}
