<div class="column col-sm-12 col-11 col-mx-auto p-top-30" id="sidebar-project-pitch">

  <!-- save button -->
  <section *ngIf="type && type !== 'MEDIA' && isEditable" class="text-right m-bottom-20">
    <button
      (click)="onSave($event)"
      [disabled]="isSaving || !toBeSaved"
      style="min-width: 100px"
      class="button is-sm"
      id="sidebarProjectPitch-btn-save">
      {{ (isSaving ? 'COMMON.BUTTON.SAVING_PROJECT' : 'COMMON.BUTTON.SAVE') | translate  }}
    </button>
  </section>
  <!-- /save button -->

  <!-- fields -->
  <section [ngSwitch]="type">

    <!-- media -->
    <div *ngSwitchCase="'MEDIA'">
      <ng-container *ngIf="isEditable">

        <!-- image -->
        <div class="form-group p-top-30">
          <app-shared-upload-zone-photo
            [uri]="imagePostUri"
            (cbFn)="onUploadMedia($event, 'IMAGE')">
          </app-shared-upload-zone-photo>
        </div>
        <!-- /image -->

        <div
          [attr.data-content]="'COMMON.LABEL.OR' | translate | uppercase"
          class="divider m-top-40 m-bottom-40">
        </div>

        <!-- video -->
        <div class="form-group">
          <app-shared-upload-zone-video
            (cbFn)="onUploadMedia($event, 'VIDEO')"
            [isUploading]="isUploadingVideo">
          </app-shared-upload-zone-video>
        </div>
        <!-- /video -->

      </ng-container>
    </div>
    <!-- /media -->

    <!-- title | summary | issue | solution | context -->
    <div *ngSwitchDefault>
      <div class="form-group p-top-10">
        <div *ngIf="isEditable">
          <app-shared-editors
            class="text-sm"
            (textChange)="onTextChange($event)"
            [text]="cardContent"
            [innovationId]="innovationId"
            [elementId]="sectionId"
            [isEditable]="isEditable"
            [isClient]="true"
            [type]="'pitch'"
            [lang]="cardLang">
          </app-shared-editors>
        </div>
        <div *ngIf="!isEditable" [innerHTML]="cardContent | cleanHtml" class="text-sm"></div>
      </div>
    </div>
    <!-- /title | summary | issue | solution -->

    <!-- remaining text -->
    <div
      *ngIf="type && type !== 'MEDIA' && isEditable"
      [ngStyle]="{'color': remaining('COLOR')}"
      class="text-right text-medium text-xs">
      {{ cardContent | characterCountdown:remaining('CHAR') }}
      {{ 'SIDEBAR.PROJECT_PITCH.REMAINING_TEXT' | translate }}
    </div>
    <!-- /remaining text -->

  </section>
  <!-- /fields -->

  <!-- show media -->
  <section
    *ngIf="type && type === 'MEDIA' && cardContent.length > 0"
    [ngClass]="{ 'p-top-50': isEditable, 'p-top-10': !isEditable }"
    class="d-flex flex-wrap-wrap justify-center p-bottom-50">
    <div *ngFor="let media of cardContent" class="text-center media-wrapper animate-fade is-2">

      <!-- if type === 'PHOTO' -->
      <figure *ngIf="media['type'] && media['type'] === 'PHOTO' && mediaSrc(media, 'IMAGE')">
        <img
          [src]="mediaSrc(media, 'IMAGE')"
          style="cursor: pointer"
          (click)="mediaToShow(mediaSrc(media, 'IMAGE'))"
          alt=" "
          class="img-responsive"
          height="159"
          width="180">
      </figure>
      <!-- /if type === 'PHOTO' -->

      <!-- if type === 'VIDEO' -->
      <iframe
        *ngIf="media['type'] && media['type'] === 'VIDEO' && mediaSrc(media, 'VIDEO')"
        [src]="mediaSrc(media, 'VIDEO')"
        height="119.25"
        width="180">
      </iframe>
      <!-- /if type === 'VIDEO' -->

      <!-- set principal -->
      <div *ngIf="isNotMainMedia(media) && isEditable" class="text-sm p-top-2">
        <span
          (click)="onSetPrincipal(media)"
          [ngClass]="isSaving ? 'text-disabled' : 'c-hand text-hover-underline'"
          class="text-primary"
          id="sidebarProjectPitch-btn-principal-media">
          {{ 'SIDEBAR.PROJECT_PITCH.SET_PRINCIPAL' | translate }}
        </span>
      </div>
      <!-- /set principal -->

      <!-- delete button -->
      <div
        *ngIf="(mediaSrc(media, 'VIDEO') || mediaSrc(media, 'IMAGE')) && isEditable"
        [ngClass]="{'p-top-2': !isNotMainMedia(media)}"
        class="text-sm">
          <span
            (click)="onDeleteMedia(media)"
            [ngClass]="isSaving ? 'text-disabled' : 'c-hand text-hover-underline'"
            class="text-alert"
            id="sidebarProjectPitch-btn-delete-media">
            {{ 'COMMON.BUTTON.DELETE' | translate }}
          </span>
      </div>
      <!-- /delete button -->

    </div>
  </section>
  <!-- /show media -->

  <!-- umi comment -->
  <!-- TODO : remove comment.comment when etherpad-->
  <section *ngIf="(collaborativesComments && collaborativesComments.length > 0) || (comment && comment.comment)" class="p-top-30">
    <div class="d-flex align-center m-bottom-10">
      <div class="d-flex align-center m-right-10">
        <span class="text-lg text-bold m-right-10">{{ 'COMMON.LABEL.COMMENTS' | translate }}</span>
        <img [src]="badgeUmi" alt="" class="img-fit-cover">
      </div>
      <div (click)="toggle($event, 'COMMENT')" class="icon-container is-sm is-overlay">
        <i [ngClass]="showComment ? 'icon-arrow-up' : 'icon-arrow-down'" class="icon"></i>
      </div>
    </div>
    <div *ngIf="showComment" class="message animate-fade is-2">
      <p *ngIf="comment && comment.comment" class="message-body" [innerHTML]="comment.comment"></p>
      <app-comment-list [innovationId]="innovationId" [collaborativesComments]="collaborativesComments" [padID]="padID"></app-comment-list>
    </div>
  </section>
  <!-- /umi comment -->

  <!-- umi suggestion -->
  <section *ngIf="comment && comment.suggestion" class="p-top-30">
    <div class="d-flex align-center m-bottom-10">
      <div class="d-flex align-center m-right-10">
        <span class="text-lg text-bold m-right-10">{{ 'COMMON.LABEL.SUGGESTION' | translate }}</span>
        <img [src]="badgeUmi" alt="" class="img-fit-cover">
      </div>
      <div (click)="toggle($event, 'SUGGESTION')" class="icon-container is-sm is-overlay">
        <i [ngClass]="showSuggestion ? 'icon-arrow-up' : 'icon-arrow-down'" class="icon"></i>
      </div>
    </div>
    <div *ngIf="showSuggestion" class="message animate-fade is-2">
      <p class="message-body" [innerHTML]="comment.suggestion | cleanHtml"></p>
    </div>
  </section>
  <!-- /umi suggestion -->

  <!-- help text -->
  <section *ngIf="type && type !== 'MEDIA' && help('TEXT')" class="p-top-30">
    <div class="d-flex align-center m-bottom-10">
      <span class="text-lg text-bold m-right-10">{{ 'COMMON.LABEL.HELP' | translate }}</span>
      <span (click)="toggle($event, 'HELP')" class="icon-container is-sm is-overlay">
        <i [ngClass]="showHelp ? 'icon-arrow-up' : 'icon-arrow-down'" class="icon"></i>
      </span>
    </div>
    <p *ngIf="showHelp" class="animate-fade is-2 text-sm m-no-bottom" [innerHTML]="help('TEXT')"></p>
  </section>
  <!-- /help text -->

  <!-- example -->
  <section *ngIf="type && type !== 'MEDIA' && help('EXAMPLE')" class="p-top-30">
    <div class="d-flex align-center m-bottom-10">
      <span class="text-lg text-bold m-right-10">{{ 'COMMON.LABEL.EXAMPLE' | translate }}</span>
      <span (click)="toggle($event, 'EXAMPLE')" class="icon-container is-sm is-overlay">
        <i [ngClass]="showExample ? 'icon-arrow-up' : 'icon-arrow-down'" class="icon"></i>
      </span>
    </div>
    <p *ngIf="showExample" class="animate-fade is-2 text-sm m-no-bottom" [innerHTML]="help('EXAMPLE')"></p>
  </section>
  <!-- /example -->

</div>

<!-- modal to view image -->
<umius-modal [(showModal)]="modalMedia" [medias]="[selectedMedia]"></umius-modal>
<!-- /modal to view image-->
