<h3>{{total}} Tags</h3>

<div [hidden]="false">
    <app-admin-tag-new></app-admin-tag-new>
</div>

<table class="table pros" wt-responsive-table>
    <thead>
    <tr>
        <th></th>
        <th><sq-sort [config]="config" (configChange)="loadData($event)" [prop]="'label'">Label</sq-sort></th>
        <th><sq-sort [config]="config" (configChange)="loadData($event)" [prop]="'description'">Description</sq-sort></th>
        <th><sq-sort [config]="config" (configChange)="loadData($event)" [prop]="'status'">Status</sq-sort></th>
        <th><sq-sort [config]="config" (configChange)="loadData($event)" [prop]="'attachments'" >Attachments</sq-sort></th>
        <th><sq-sort [config]="config" (configChange)="loadData($event)" [prop]="'created'" >Created</sq-sort></th>
        <th>{{ 'CAMPAIGNS.ACTIONS' | translate }}</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let datum of data" [ngClass]="{'active': datum.isSelected}">

        <ng-container [ngSwitch]="editDatum[datum._id]">

            <ng-container *ngSwitchCase="true">
                <td><input type="checkbox" [(ngModel)]="datum.isSelected"/></td>
                <td><input type="text" size="25" [(ngModel)]="datum.label" alt="label" placeholder="label"/></td>
                <td><input type="text" size="45" [(ngModel)]="datum.description" alt="description" placeholder="description"/></td>
                <td>{{ datum.status }}</td>
                <td><input type="select" size="5" [(ngModel)]="datum.attachments" alt="status" placeholder="status"/></td>
                <td>{{ datum.created | date}}</td>
                <td>
                    <button class="btn btn-action" (click)="editDatum[datum._id] = false"><i class="fa fa-times"></i></button>
                    <button class="btn btn-action" (click)="updateEntry(datum, $event)"><i class="fa fa-save"></i></button>
                </td>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <ng-container (click)="selectPro(datum)">
                    <td><input type="checkbox" [(ngModel)]="datum.isSelected"/></td>
                    <td>{{ datum.label }}</td>
                    <td>{{ datum.description }}</td>
                    <td>{{ datum.status }}</td>
                    <td>{{ datum.attachments.length || 0 }}</td>
                    <td>{{ datum.created | date }}</td>
                </ng-container>
                <td>
                    <button class="btn btn-action" (click)="editDatum[datum._id] = true"><i class="fa fa-edit"></i></button>
                </td>
            </ng-container>

        </ng-container>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="12">
            <sqPagination [config]="config" (configChange)="loadData($event)" [total]="total"></sqPagination>
        </td>
    </tr>
    </tfoot>
</table>

