<div>
    <div>Espacio para crear tags</div>
    <div>La lista
        <table>
            <thead>
                <th>Sel.</th>
                <th width="240">Tag name</th>
                <th width="240">Tag type</th>
                <th width="480">Description</th>
                <th width="240">Level</th>
                <th width="120">Tagged objects</th>
                <th width="120">Date</th>
            </thead>
            <tbody>
                <tr>
                    <td>CB</td>
                    <td>test</td>
                    <td>Sector</td>
                    <td>Desc</td>
                    <td>1</td>
                    <td>0</td>
                    <td>Today</td>
                </tr>
            </tbody>
            <tfoot>
            pagination
            </tfoot>
        </table>
    </div>
</div>
