<div id="editable-tag-label" class="is-draft is-sm">

  <div class="tag-container label is-draft is-rounded">
    <i class="fas fa-tag icon-left"></i>
    <label class="d-block w-full" *ngIf="isEditable">
      <input
        (focusout)="focusOut()"
        (keyup)="addNewTags($event)"
        [disabled]="!isEditable"
        [list-formatter]="autocompleteListFormatter"
        [source]="tagSuggestions.bind(this)"
        [value-formatter]="autocompleteValueFormatter"
        [value]="defaultTag"
        (input)="valueOnChange($event.target['value'])"
        [min-chars]="2"
        type="text"
        class="form-input is-xs text-white"
        auto-complete>
    </label>

    <div *ngIf="!isEditable" (click)="onEdit($event)">
      {{defaultTag}}
    </div>
    <i class="fas fa-times icon-right"
       (click)="deleteTag($event)"
       *ngIf="!isEditable"></i>
  </div>

</div>
