<div class="main-container" id="admin-settings">

  <div class="page-header">
    <div class="container">
      <div class="columns">
        <div class="column col-11 col-mx-auto">
          <h1>Settings</h1>

          <ul class="tabs">
            <li *ngFor="let tab of tabs">
              <a routerLinkActive="active" [routerLink]="tab" [routerLinkActiveOptions]="{ exact: true }">
                {{ tab[0].toUpperCase() + tab.slice(1) | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column col-11 col-mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
