.not-synthesis-wrapper {

  path, g {
    fill: #E2E2E2;
    cursor: pointer;
  }

  g.selected, path.selected, .selected g, .selected path {
    fill: #2ECC71;
  }

  g.clickable:not(.selected):hover, path.clickable:not(.selected):hover, .clickable:not(.selected):hover g, .clickable:not(.selected):hover path {
    fill: #FFB300;
  }

  g.disabled, path.disabled, .disabled g, .disabled path {
    cursor: not-allowed;
  }

}

.synthesis-wrapper {

  path, g {
    fill: #97A4B1;
    cursor: pointer;
  }

  g.selected, path.selected, .selected g, .selected path {
    fill: #E2E2E2;
  }

}



