<div id="admin-campaign-workflows-component">

  <app-admin-campaign-stats></app-admin-campaign-stats>

  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- section select workflow -->
    <div class="section-light-container remove-bottom">
      <div class="form-group">
        <label class="form-label" for="admin-campaign-workflows">{{ 'COMMON.LABEL.SELECT_WORKFLOW' | translate }}</label>
        <select
          class="form-select"
          id="admin-campaign-workflows"
          [ngModel]="templates ? templates[0] : null"
          (ngModelChange)="onClickSelect($event)"
          [ngModelOptions]="{ standalone: true }">
          <option *ngIf="templates.length === 0" [ngValue]="null">{{ 'COMMON.LABEL.SELECT' | translate }}</option>
          <option *ngFor="let template of templates" [ngValue]="template">{{ template.name }}</option>
        </select>
        <button type="button" class="btn btn-sm btn-primary" (click)="onClickImport()">{{ 'COMMON.BUTTON.IMPORT' | translate }}</button>
        <button *ngIf="!noResult" type="button" class="btn btn-sm btn-primary" (click)="onClickTestWorkflow()">{{ 'CAMPAIGNS.WORKFLOW_PAGE.BUTTON.TEST_WORKFLOW' | translate }}</button>
      </div>
    </div>


    <!-- section no campaign -->
    <div *ngIf="!availableScenarios || !availableScenarios.length" class="section-light-container remove-bottom">
      <app-message-space [widthMax]="'354px'">
        {{ 'CAMPAIGNS.WORKFLOW_PAGE.BOT.MESSAGE_A' | translate }}
        <br>
        {{ 'CAMPAIGNS.WORKFLOW_PAGE.BOT.MESSAGE_B' | translate }}
      </app-message-space>
    </div>


    <!-- section campaign -->
    <div *ngIf="availableScenarios && availableScenarios.length">

      <p class="text-error" *ngIf="modifiedScenarios.length === 0">
        Vous devez avoir au moins un workflow avec tous les emails modifiés
      </p>
      <div *ngFor="let scenario of availableScenarios">
        <app-admin-edit-workflow
          [scenario]="scenario"
          [defaultScenario]="campaign.settings.defaultWorkflow"
          [signatures]="signatures"
          (scenarioChange)="updateAvailableScenario($event)"
          (deletedScenario)="removeScenario($event)"
          (defaultScenarioChange)="setDefaultScenario($event)"
          [isDeletable]="campaign.settings.defaultWorkflow != scenario.name && campaign.settings.ABsettings.nameWorkflowA !=scenario.name && campaign.settings.ABsettings.nameWorkflowB !=scenario.name"
        >
        </app-admin-edit-workflow>
      </div>
    </div>
  </div>
</div>

<!-- modal to ask for the confirmation if importing the same template -->
<app-modal [(showModal)]="modalImport" [modalTitle]="'COMMON.MODAL.TITLE_CONFIRMATION'">
  {{ modalContent | translate }}
  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="onClickConfirm()">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>
</app-modal>
<!-- /modal to ask for the confirmation if importing the same template -->
