@import "../../../../../../../style/framework/src/variables";

#admin-campaign-workflows-component {

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .form-label, .form-select, .btn {
      margin-bottom: 1.25rem;
    }

    .form-select {
      max-width: 350px;
      margin-left: $unit-5;
      margin-right: $unit-5;
    }

    .btn-primary {
      margin-right: $unit-5;
    }

  }

}
