@import "../../../../../../../style/framework/src/variables";

#admin-campaign-workflows-component {

  .stat {

    .stat-container:first-child {
      background-color: $secondary-color;
    }

    .stat-container:nth-child(2) {
      background-color: #2fa4d4;
    }

    .stat-container:last-child {
      background-color: #5faece;
    }

    .stat-container {
      border-right: none;
    }

    .stat-heading, .stat-value {
      color: $light-color;
    }

    .stat-sub-heading {
      opacity: 0.7;
      color: $light-color;
    }

  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .form-label, .form-select, .btn {
      margin-bottom: 1.25rem;
    }

    .form-select {
      max-width: 350px;
      margin-left: $unit-5;
      margin-right: $unit-5;
    }

    .btn-primary {
      margin-right: $unit-5;
    }

  }

}
