<ng-container *ngIf="campaign">
  <section id="admin-campaign-workflows-component">

    <!-- section stats -->
    <ul class="stat">

      <!-- stat col 1 -->
      <li class="stat-container fluid">
        <h5 class="stat-heading">{{ 'CAMPAIGNS.STATS.HEADING.RECEPTION' | translate }}</h5>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.GOOD_EMAILS' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('good_emails') }}</span>
        </div>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.RECEIVED' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('received') }}</span>
        </div>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.BOUNCES' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('bounces') }}</span>
        </div>
      </li>

      <!-- stat col 2 -->
      <li class="stat-container fluid">
        <h5 class="stat-heading">{{ 'CAMPAIGNS.STATS.HEADING.INTERACTION' | translate }}</h5>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.OPENED' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('opened') }}%</span>
        </div>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.CLICKED' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('clicked') }}%</span>
        </div>
      </li>

      <!-- stat col 3 -->
      <li class="stat-container fluid">
        <h5 class="stat-heading">{{ 'CAMPAIGNS.STATS.HEADING.DISPLAY' | translate }}</h5>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.EMAIL' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('email') }}</span>
        </div>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.QUESTIONNAIRE' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('questionnaire') }}</span>
        </div>
      </li>

    </ul>
    <!-- /section stats -->


    <div class="column col-xs-12 col-11 col-mx-auto">

      <!-- section select workflow -->
      <div class="section-light-pad rm-pad-bottom">
        <div class="form-group">

          <label class="form-label" for="admin-campaign-workflows">{{ 'COMMON.LABEL.SELECT_WORKFLOW' | translate }}</label>

          <select
            class="form-select"
            id="admin-campaign-workflows"
            [ngModel]="templates ? templates[0] : null"
            (ngModelChange)="onClickSelect($event)"
            [ngModelOptions]="{ standalone: true }">
            <option *ngIf="templates.length === 0" [ngValue]="null">{{ 'COMMON.LABEL.SELECT' | translate }}</option>
            <option *ngFor="let template of templates" [ngValue]="template">{{ template.name }}</option>
          </select>

          <button type="button" class="btn btn-sm btn-primary" (click)="onClickImport()">{{ 'COMMON.BUTTON.IMPORT' | translate }}</button>

          <ng-container *ngIf="availableScenarios && availableScenarios.length">
            <button type="button" class="btn btn-sm btn-primary" (click)="onClickTestWorkflow()">{{ 'CAMPAIGNS.WORKFLOW_PAGE.BUTTON.TEST_WORKFLOW' | translate }}</button>
          </ng-container>

        </div>
      </div>
      <!-- /section select workflow -->

      <!-- section no campaign -->
      <ng-container *ngIf="!availableScenarios || !availableScenarios.length">
        <div class="section-pad">
          <app-message-space [widthMax]="'354px'">
            {{ 'CAMPAIGNS.WORKFLOW_PAGE.BOT.MESSAGE_A' | translate }}
            <br>
            {{ 'CAMPAIGNS.WORKFLOW_PAGE.BOT.MESSAGE_B' | translate }}
          </app-message-space>
        </div>
      </ng-container>
      <!-- /section no campaign -->

      <!-- section campaign -->
      <ng-container *ngIf="availableScenarios && availableScenarios.length">

        <ng-container *ngIf="modifiedScenarios.length === 0">
          <div class="text text-alert text-medium">You must have at least one workflow with all modified emails.</div>
        </ng-container>

        <div *ngFor="let scenario of availableScenarios" class="section-light-pad">
          <app-admin-edit-workflow
            [scenario]="scenario"
            [defaultScenario]="campaign.settings.defaultWorkflow"
            [signatures]="signatures"
            (scenarioChange)="updateAvailableScenario($event)"
            (deletedScenario)="removeScenario($event)"
            (defaultScenarioChange)="setDefaultScenario($event)"
            [isDeletable]="campaign.settings.defaultWorkflow != scenario.name && campaign.settings.ABsettings.nameWorkflowA !=scenario.name && campaign.settings.ABsettings.nameWorkflowB !=scenario.name">
          </app-admin-edit-workflow>
        </div>

      </ng-container>
      <!-- /section campaign -->

    </div>

  </section>
</ng-container>


<!-- modal to ask for the confirmation if importing the same template -->
<app-modal [(showModal)]="modalImport" [modalTitle]="'COMMON.MODAL.TITLE_CONFIRMATION'">
  {{ modalContent | translate }}
  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="onClickConfirm()">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>
</app-modal>
<!-- /modal to ask for the confirmation if importing the same template -->
