<div class="main-container" id="admin-emails">

  <div class="page-header">
    <div class="container">
      <div class="columns">
        <div class="column col-11 col-mx-auto">
          <h1>Emails</h1>

          <ul class="tabs">
            <li><a [routerLink]="'/admin/emails/queue'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              File d'attente
            </a></li>
            <li><a [routerLink]="'/admin/emails/blacklist'" routerLinkActive="active">
              Blacklist
            </a></li>
            <li><a [routerLink]="'/admin/emails/countries'" routerLinkActive="active">
              Countries management
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column col-11 col-mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
