<ng-container *ngIf="innovations">

  <section class="section-pad animate-page" id="projects-list-component">
    <div class="column col-xs-12 col-11 col-mx-auto">

      <!-- section add button -->
      <div class="text-right">
        <button routerLink="new" (click)="$event.preventDefault()" class="btn btn-primary">
          {{ 'PROJECT_MODULE.PROJECTS_LIST.ADD_PROJECT' | translate }}
        </button>
      </div>

      <!-- section no project -->
      <ng-container *ngIf="noResult">
        <div class="section-pad rm-pad-bottom">
          <app-message-space [widthMax]="'380px'">
            {{ 'PROJECT_MODULE.PROJECTS_LIST.NO_PROJECT.TITLE' | translate }}
            <br>
            {{ 'PROJECT_MODULE.PROJECTS_LIST.NO_PROJECT.CONTENT' | translate }}
          </app-message-space>
        </div>
      </ng-container>

      <!-- section projects -->
      <ng-container *ngIf="!noResult">
        <div class="section-pad rm-pad-bottom">

          <!-- projects -->
          <div class="card-wrapper" [@listAnimation]="innovations.length">
            <div *ngFor="let innovation of innovations" class="card-project">
              <div class="card-content">

                <a [routerLink]="getRelevantLink(innovation)"><img [src]="getImage(innovation)" alt=" "></a>

                <div class="project-description">

                  <a [routerLink]="getRelevantLink(innovation)">
                    <span>{{ innovation.name || ('PROJECT_MODULE.PROJECTS_LIST.UNTITLED' | translate) }}</span>
                  </a>

                  <p class="text text-notify">
                    {{ 'COMMON.ADDED' | translate }} {{ innovation.created | date:dateFormat }}
                    •
                    {{ 'COMMON.UPDATED' | translate }} {{ innovation.updated | date:dateFormat }}
                    •
                    {{ innovation.collaborators.length }} {{ 'PROJECT_MODULE.COLLABORATORS' | translate }}
                    |
                    <span class="icon icon-delete tooltip" [attr.data-tooltip]="'COMMON.BUTTON.DELETE' | translate" (click)="onClickDelete($event, innovation._id)">
                      <i class="fas fa-trash-alt"></i>
                    </span>
                  </p>

                </div>

              </div>
            </div>
          </div>

          <!-- section pagination -->
          <ng-container *ngIf="innovations.length > 10">
            <div class="flex-end section-light-pad rm-pad-bottom">
              <app-pagination
                [configValue]="paginationConfig"
                (configChange)="configChange($event)"
                [total]="total"
                [propertyName]="'client-projects'">
              </app-pagination>
            </div>
          </ng-container>

        </div>
      </ng-container>
      <!-- /section projects -->

    </div>
  </section>


  <!-- delete project confirmation modal -->
  <app-modal [(showModal)]="deleteModal" [modalTitle]="'COMMON.MODAL.TITLE_DELETE'">
    {{ 'PROJECT_MODULE.PROJECTS_LIST.DELETE_PROJECT_MODAL.CONTENT' | translate }}
    <div class="modal-footer">
      <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
      <button class="btn btn-sm btn-primary" (click)="onClickSubmit($event)">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
    </div>
  </app-modal>
  <!-- /delete project confirmation modal -->

</ng-container>
