@import "../../../../../../style/framework/src/variables";

#projects-list-component {

  .section-no-project {
    padding-top: 3.15rem;
    text-align: center;
  }


  .section-projects-list {
    padding-top: 3.15rem;

    .project-wrapper {

      .content-outer {
        margin-bottom: 1.57rem;

        .content {
          display: inline-flex;
          width: 100%;

          img {
            border-radius: 3px;
            width: 120px;
            height: 100px;
            margin-right: 1.2rem;
          }

          img:hover {
            box-shadow: $box-shadow-hover;
            cursor: pointer;
          }

          .project-description {
            border-bottom: 1px solid $border;
            width: 100%;

            span {
              font-size: 1.4rem;
            }

            span:hover {
              color: $primary;
              cursor: pointer;
            }

            .date-text {
              margin-top: 0.95rem;
              font-size: 0.875rem;
              color: $meta;
              font-weight: 600;
            }

            .text-link {
              font-size: 0.875rem;
              font-weight: 600;
              color: $alert;
            }

            .text-link:hover {
              color: $alert;
            }

          }

        }

      }

    }

  }

}
