@import "../../../../../../style/framework/src/variables";

#projects-list {

  .card-wrapper {
    margin-bottom: -30px;

    .card {
      min-height: 108px;
      margin-bottom: 30px;
      border: none;

      .card-image {
        display: flex;
        margin-left: unset;
        margin-right: $unit-5;
        padding-top: 0;

        img {
          border-radius: $border-radius;
          width: 120px;
          height: 100px;
          max-width: unset;
          object-fit: unset;

          &:hover {
            box-shadow: $box-shadow-5;
            cursor: pointer;
          }

        }

      }

      .card-body {
        border-bottom: $border-width solid $border-default-color;
        padding-top: 0;
      }

    }

  }

}
