<div class="p-top-50 p-bottom-50" id="projects-list">
  <div class="container grid-2xl">
    <div class="column col-sm-12 col-11 col-mx-auto">

      <!-- add project button -->
      <section *ngIf="innovations.length > 0 && !isError" class="text-right">
        <button [id]="'btn-new'" routerLink="new" class="button is-lg">
          {{ 'PROJECT_MODULE.PROJECTS_LIST.ADD_PROJECT' | translate }}
        </button>
      </section>
      <!-- /add project button -->

      <!-- no projects -->
      <section *ngIf="innovations.length === 0 && !isError" class="text-center p-top-100">

        <h1 class="title is-4 text-bold m-bottom-10">
          {{ 'PROJECT_MODULE.PROJECTS_LIST.NO_PROJECT.TITLE' | translate }}
        </h1>

        <p class="text-sm">{{ 'PROJECT_MODULE.PROJECTS_LIST.NO_PROJECT.CONTENT' | translate }}</p>

        <div class="p-top-30">
          <button [id]="'btn-new'" routerLink="new" class="button is-lg">
            {{ 'PROJECT_MODULE.PROJECTS_LIST.ADD_PROJECT' | translate }}
          </button>
        </div>

      </section>
      <!-- /no projects -->

      <!-- if projects -->
      <section *ngIf="innovations.length > 0 && !isError" class="p-top-25">
        <div class="card-wrapper" [@listAnimation]="innovations.length">
          <div *ngFor="let innovation of innovations" class="card">
            <div class="d-inline-flex w-full">

              <a [routerLink]="getRelevantLink(innovation)" class="card-image">
                <img
                  width="120"
                  height="100"
                  [src]="getImage(innovation)"
                  alt=" ">
              </a>

              <div class="card-body">

                <a [routerLink]="getRelevantLink(innovation)" class="text-no-underline">
                  <span style="font-size: 22px">
                    {{ innovation.name || ('PROJECT_MODULE.PROJECTS_LIST.UNTITLED' | translate) }}
                  </span>
                </a>

                <p class="text-sm m-top-15 text-meta m-no-bottom text-medium">
                  {{ 'COMMON.ADDED' | translate }} {{ innovation.created | date:dateFormat }}
                  •
                  {{ 'COMMON.UPDATED' | translate }} {{ innovation.updated | date:dateFormat }}
                  •
                  {{ innovation.collaborators.length }} {{ 'PROJECT_MODULE.COLLABORATORS' | translate }}
                  |
                  <span
                    (click)="onClickDelete($event, innovation._id)"
                    class="icon-container is-overlay">
                      <span [attr.data-tooltip]="'COMMON.BUTTON.DELETE' | translate" class="tooltip">
                        <i class="fas text-alert fa-trash-alt"></i>
                      </span>
                    </span>
                </p>

              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- /if projects -->

      <!-- pagination if projects -->
      <section *ngIf="total > 10" class="flex-centered p-top-30">
        <umius-pagination-template1
          [(pagination)]="pagination"
          [totalCount]="total"
          class="w-full">
        </umius-pagination-template1>
      </section>
      <!-- /pagination if projects -->

    </div>
  </div>
</div>

<!-- delete project confirmation modal -->
<umius-modal [(showModal)]="deleteModal" [title]="'COMMON.MODAL.TITLE_DELETE'">

  <section class="modal-body">
    {{ 'PROJECT_MODULE.PROJECTS_LIST.DELETE_PROJECT_MODAL.CONTENT' | translate }}
  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button
      (click)="onClickSubmit($event)"
      class="button is-primary">
      {{ 'COMMON.BUTTON.CONFIRM' | translate }}
    </button>
  </footer>

</umius-modal>
<!-- /delete project confirmation modal -->
