@import "../../../../../../style/framework/src/variables";

#projects-list-component {

  .card-wrapper {
    margin-bottom: -1.5rem;

    .card-project {
      margin-bottom: 1.5rem;

      .card-content {
        width: 100%;

        img {
          border-radius: $border-radius;
          margin-right: $unit-5;
          width: 120px;
          height: 100px;

          &:hover {
            box-shadow: $box-shadow-hover-umi;
            cursor: pointer;
          }

        }

        .project-description {
          border-bottom: $border-width solid $border-color;
          width: 100%;

          a span {
            font-size: 1.1rem;
          }

          .text {
            font-size: $font-size-sm;
            margin-top: 0.75rem;
            margin-bottom: $unit-2;
          }

          .icon {
            margin-left: 0;
          }

        }

      }

    }

  }

}
