<div class="container discover-section">
  <div class="columns">
    <div class="column col-11 col-mx-auto">

      <!-- Page Heading -->
      <h1>{{ 'DISCOVER.TITLE' | translate }}</h1>
      <!-- /Page Heading -->

      <!-- Page Description and Search Box -->
      <div class="columns">
        <div class="column col-md-12 col-8">
          <p class="discover-description">{{ 'DISCOVER.PAGE_DESCRIPTION' | translate }}</p>
        </div>
        <div class="column col-md-12 col-4 search-margin-top">
          <app-autocomplete-search></app-autocomplete-search>
        </div>
      </div>
      <!-- /Page Description and Search Box -->

      <!-- Innovation Cards -->
      <div class="columns row-padding">
        <div class="column col-md-12 col-4">
          <div class="card">
            <div class="card-image">
              <img src="https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg" class="img-responsive">
            </div>
            <div class="card-header">
              <div class="card-title"> {{ innovationCardTitle }}
              </div>
              <div class="card-subtitle text-gray"></div>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
              <p>Available in:  <span>En</span> </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Innovation Cards -->

    </div>
  </div>
</div>
