.discover-description {
  color: #878787;
  font-size:  1.1rem;
  line-height: 1.8rem;
  margin-top: 12px;
  margin-bottom: 5px;
}

h2 {
  color: #0B90C6;
  font-size: 1.6rem;
  line-height: 2.15rem;
  margin-top: 88px;
}

.row-margin {
  margin-bottom: 15px;
}

.card-title {
  color: #333333;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.card-body {
  color: #878787;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.card-footer {

  span {
    border: none;
    color: #acb3c2;
    padding-top: 6px;
  }

  span:hover {
    background-color: transparent;
    color: #0B90C6;
    cursor: pointer;
  }

}

@media(max-width: 960px) {

  .margin-top {
    margin-top: 30px;
  }

}



