h1::after {
  border-radius: 1px;
}

.discover-description {
  color: #878787;
  font-size:  1.1rem;
  line-height: 1.8rem;
  margin-top: 12px;
  margin-bottom: 5px;
}

h2 {
  color: #0B90C6;
  font-size: 1.6rem;
  line-height: 2.15rem;
  margin-top: 88px;
}

.card-title {
  color: #333333;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.card-body {
  color: #878787;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.card-footer {

  span {
    color: #acb3c2;
  }

}

@media(max-width: 840px) {

  .margin-top {
    margin-top: 30px;
  }

  .margin-bottom {
    padding-top: 30px;
  }
}


