//import
@import '../../../../../style/client-styles';

// Text color
$card-title-color: #333333 !default;
$card-body-color: #878787 !default;

.hero-light-container {

  h1::after {
    display: none !important;
  }

  #padding-top {
    padding-top: 8px;
  }

}

.section-container {
  padding-bottom: 34px;

  #row-padding {
    padding-bottom: 16px;
  }

  .card {

    .card-image {
      height: 200px;
      width: 100%;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
      }

    }

    .card-header {
      height: 95px;
      cursor: pointer;

      .card-title {
        color: $card-title-color;
        font-size: 1rem;
      }

    }

    .card-body {
      height: 120px;
      color: $card-body-color;
      font-size: 0.8rem;
      text-align: justify;
    }

    .card-footer {
      height: 56px;

      span {
        border: none;
        color: $primary-color;
      }

      span:hover {
        background-color: transparent;
        color: $hover-color;
        cursor: pointer;
      }

      #lang-divider {
        color: $card-body-color;
      }

      #lang-divider:hover {
        color: $card-body-color;
        cursor: default;
      }

    }

  }

}

*:focus{
  outline: none !important;
}

@media (max-width: 960px) {

  .card-header {
    height: 107px !important;
  }

  .card-body {
    height: 260px !important;
  }

}





