<div [hidden]="!canAccess()" class="container fluid grid-2xl" id="admin-questions-library">
  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- error message while fetching -->
    <ng-container *ngIf="fetchingError; else noError">
      <app-utility-message-error></app-utility-message-error>
    </ng-container>
    <!-- /error message while fetching -->

    <!-- no fetching error -->
    <ng-template #noError>
      <div class="p-top-30 p-bottom-50">

        <!-- add question -->
        <div class="text-right p-bottom-30">
          <span
            [attr.data-tooltip]="'You are not authorized. If it\'s a mistake, please contact you manager.'"
            [ngClass]="{'tooltip is-multiline': !canAccess(['add'])}">
            <button
              (click)="onAddQuestion($event)"
              [disabled]="!canAccess(['add']) || isAdding"
              [id]="'adminQuestionsLibrary-btn-add-question'"
              class="button is-primary is-sm"
              type="button">
              <ng-container *ngIf="!isAdding else addQuestion">
                <i class="icon icon-plus icon-left"></i> Add a new question
              </ng-container>
              <ng-template #addQuestion>is adding a question...</ng-template>
            </button>
          </span>
        </div>
        <!-- /add question -->

        <!-- table -->
        <section>
          <app-shared-table
            (editRow)="onNavigateTo($event)"
            [(config)]="config"
            [data]="tableData">
          </app-shared-table>
        </section>
        <!-- /table -->

      </div>
    </ng-template>
    <!-- /no fetching error -->

  </div>
</div>

<app-utility-modal-empty *ngIf="canAccess(['add']) && showModal" [(showModal)]="showModal">

  <section class="modal-body">
    <h2 class="title is-4 text-center text-bold m-bottom-30">Add a question from Scratch</h2>

    <div class="form-group mxw-450 m-left-auto m-right-auto p-top-20">
      <label class="form-label">Type*</label>
      <select [(ngModel)]="newQuestion.controlType" class="form-select is-sm" required>
        <option [ngValue]="''" selected>{{ 'COMMON.QUESTIONNAIRE_TYPE.CHOOSE' | translate }}</option>
        <option value="radio">{{ 'COMMON.QUESTIONNAIRE_TYPE.radio' | translate }}</option>
        <option value="checkbox">{{ 'COMMON.QUESTIONNAIRE_TYPE.checkbox' | translate }}</option>
        <option value="textarea">{{ 'COMMON.QUESTIONNAIRE_TYPE.textarea' | translate }}</option>
        <option value="scale">{{ 'COMMON.QUESTIONNAIRE_TYPE.scale' | translate }}</option>
        <option value="stars">{{ 'COMMON.QUESTIONNAIRE_TYPE.stars' | translate }}</option>
        <option value="ranking">{{ 'COMMON.QUESTIONNAIRE_TYPE.ranking' | translate }}</option>
      </select>
    </div>

    <div class="form-group mxw-450 m-left-auto m-right-auto p-top-20 p-bottom-20">
      <label class="form-label">Identifier*</label>
      <input
        (ngModelChange)="onChangeIdentifier($event)"
        [ngModel]="newQuestion.identifier"
        class="form-input is-sm"
        maxlength="23"
        placeholder="Enter the unique identifier. Like: ContactOwner"
        required>
      <ng-container *ngIf="!identifierError.letter && !identifierError.exist; else identError">
        <p class="text-xs text-alert text-medium m-top-2 m-bottom-h">Note:</p>
        <ul class="text-xs text-notify text-medium m-left-2 m-no">
          <li class="m-top-h">Should be less than or equal to 23.</li>
          <li class="m-top-h">Try to have only characters ex: ContactOwner.</li>
          <li class="m-top-h">Should be an unique.</li>
          <li class="m-top-h">Not case sensitive means ContactOwner or contactOwner is same.</li>
          <li class="m-top-h">Two question can not have same identifier.</li>
          <li class="m-top-h">Once defined can not be changed later.</li>
        </ul>
      </ng-container>
      <ng-template #identError>
        <p class="form-error">
          <ng-container *ngIf="identifierError.exist">The identifier is already assigned to a question.</ng-container>
          <ng-container *ngIf="identifierError.letter">The identifier should only contains characters.</ng-container>
        </p>
      </ng-template>
    </div>

  </section>

  <footer class="modal-footer justify-center">

    <button
      (click)="onCloseModal()"
      [id]="'btn-cancel'"
      class="button modal-cancel"
      type="button">
      Cancel
    </button>

    <button
      (click)="onCreate($event)"
      [disabled]="!newQuestion.identifier || !newQuestion.controlType"
      [id]="'adminQuestionsLibrary-btn-modal-create'"
      class="button is-community"
      type="button">
      Create
    </button>

  </footer>

</app-utility-modal-empty>
