.items {

  //Items list
  div.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .top-profil {
      background: #16A085 !important;
    }

    > div {
      color: #5d5d5d;
      background: white;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
      padding: 8px 12px;
      border-radius: 3px;
      font-size: 0.7rem;
      width: 49%;
      margin-bottom: 5px;
      border: 1px solid #F2F2F2;

      .flex-container {
        align-items: flex-start;
      }

    }

    // Horizontals bars
    .market-item {
      flex: 1;
      margin-left: 10px;
      margin-right: 10px;
      font-weight: 600;

      a {
        color: black;
      }

      a:hover, a:focus {
        color: black;
      }

      .item-occurrence {
        font-size: 0.6rem;
        color: white;
        padding: 0 4px;
        border-radius: 500px;
        background: #0B90C6;
      }

      .fa-filter {
        color: #0B90C6;
        cursor: pointer;
      }

    }

  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .clickable-url {
    cursor: pointer;
  }

}

/********************************** Media ***************************************/


@media (max-width: 600px) {

  .items {

    .items-list {
      flex-direction: column;

      > div {
        width: 100% !important;
      }

    }

  }

}
