@import "../../../../../../../style/framework/src/variables";

#item-list-component {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -$unit-5;
  font-size: 0.75rem;

  .card {
    margin-bottom: $unit-5;
    min-height: 6rem;
    flex: 0 1 calc(32% - 1rem);

    .card-body {
      padding: 0.75rem;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .filter-wrapper, .popup-wrapper {
        position: absolute;
        top: 7px;
        visibility: hidden;
      }

      .filter-wrapper {
        left: 16px;
      }

      .popup-wrapper {
        right: 16px;
      }

    }

    &:hover {

      .filter-wrapper, .popup-wrapper {
        visibility: visible !important;
      }

    }

  }

}


@media (max-width: $size-sm) {

  #item-list-component {
    flex-direction: column;

    .card {
      min-height: 100% !important;
    }

  }

}

