@import "../../../../../../../style/framework/src/variables";

#item-list {
  display: flex;
  justify-content: space-between;
  font-size: 15px;

  .card {
    min-height: 120px;
    flex: 0 1 calc(32% - 20px);

    .card-body {
      flex-direction: column;

      img {
        width: 50px;
        height: 50px;
      }

      .popup-wrapper {
        position: absolute;
        top: 7px;
        visibility: hidden;
      }

      .popup-wrapper {
        right: 11px;
      }

    }

    &:hover {

      .popup-wrapper {
        visibility: visible !important;
      }

    }

  }

}


@media (max-width: $size-sm) {

  #item-list {
    flex-direction: column;

    .card {
      min-height: 100% !important;
    }

  }

}

