<div class="projects-stats">
  <select class="form-select" [(ngModel)]="operatorId" (ngModelChange)="newOperatorSelected($event)">
    <option value="">Tous opérateurs</option>
    <option *ngFor="let operator of operators" [ngValue]="operator._id" [selected]="operatorId === operator._id">{{
      operator.firstName + ' ' + operator.lastName }}
    </option>
  </select>

  <div *ngIf="operatorData.nbProjectsToValidate"><span>{{ operatorData.nbProjectsToValidate }}</span> projets à valider</div>
  <div *ngIf="operatorData.nbProjectsToTreat"><span>{{ operatorData.nbProjectsToTreat }}</span> réponses à traiter</div>
  <div *ngIf="operatorData.nbProjectsToFind"><span>{{ operatorData.nbProjectsToFind }}</span> réponses manquantes</div>
</div>
<div class="emails-stats">
  <select class="form-select" [(ngModel)]="nbDaysOfStats" (ngModelChange)="newPeriodOfStatsSelected($event)">
    <option value="30" [ngValue]="30" selected="selected">30 derniers jours</option>
    <option value="14" [ngValue]="14">2 dernières semaines</option>
    <option value="7" [ngValue]="7">dernière semaine</option>
    <option value="1" [ngValue]="1">dernières 24h</option>
  </select>
  <div *ngIf="statistics.percentFoundedPros">Pros trouvés : <span>{{ statistics.percentFoundedPros }}</span></div>
  <div *ngIf="statistics.percentFoundedEmails">Emails trouvés : <span>{{ statistics.percentFoundedEmails }}%</span></div>
  <div *ngIf="statistics.percentOkEmails">Emails OK : <span>{{ statistics.percentOkEmails }}%</span></div>
  <div *ngIf="statistics.percentReceivedEmails">Emails reçus : <span>{{ statistics.percentReceivedEmails }}%</span></div>
</div>

<div class="content">
  <app-admin-projects-list [status]="'PREPARING'"></app-admin-projects-list>

  <app-admin-projects-list [status]="'EVALUATING'"></app-admin-projects-list>

  <app-admin-projects-list [status]="'DONE'"></app-admin-projects-list>
</div>
