<div class="projects-stats">
  <select class="form-select" [(ngModel)]="operatorId" (ngModelChange)="newOperatorSelected($event)">
    <option value="">Tous opérateurs</option>
    <option *ngFor="let operator of operators" [ngValue]="operator._id" [selected]="operatorId === operator._id">{{
      operator.firstName + ' ' + operator.lastName }}
    </option>
  </select>

  <div *ngIf="operatorData.nbProjectsToValidate"><span>{{ operatorData.nbProjectsToValidate }}</span> projet{{ operatorData.nbProjectsToValidate>1?'s':'' }} à valider</div>
  <div *ngIf="operatorData.nbProjectsToTreat"><span>{{ operatorData.nbProjectsToTreat }}</span> réponse{{ operatorData.nbProjectsToTreat>1?'s':'' }} à traiter</div>
</div>
<div class="emails-stats">
  <select class="form-select" [(ngModel)]="nbDaysOfStats" (ngModelChange)="newPeriodOfStatsSelected($event)">
    <option [value]="''">Comparer...</option>
    <option [value]="'30'" [ngValue]="30" selected="selected">Dernier mois</option>
    <option [value]="'365'" [ngValue]="365">Dernière année</option>
  </select>
  <div *ngIf="statistics.percentFoundedPros">Pros trouvés : <span>{{ statistics.percentFoundedPros }}</span></div>
  <div *ngIf="statistics.percentFoundedEmails">Emails trouvés : <span>{{ statistics.percentFoundedEmails }}%</span></div>
  <div *ngIf="statistics.percentOkEmails">Emails OK : <span>{{ statistics.percentOkEmails }}%</span></div>
  <div *ngIf="statistics.percentReceivedEmails">Emails reçus : <span>{{ statistics.percentReceivedEmails }}%</span></div>
</div>

<div class="content">
  <app-admin-projects-list [status]="'WITHOUT_OPERATOR'" [operators]="operators"></app-admin-projects-list>

  <app-admin-projects-list [status]="'PREPARING'" [operatorId]="operatorId" [refreshNeededEmitter]="refreshNeededEmitter"></app-admin-projects-list>

  <app-admin-projects-list [status]="'EVALUATING'" [operatorId]="operatorId" [refreshNeededEmitter]="refreshNeededEmitter"></app-admin-projects-list>

  <app-admin-projects-list [status]="'DONE'" [operatorId]="operatorId" [refreshNeededEmitter]="refreshNeededEmitter"></app-admin-projects-list>
</div>


