<div id="admin-campaign-quiz-component">

  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- section no quiz -->
    <div *ngIf="noResult" class="section-container remove-bottom">
      <app-message-space [widthMax]="'354px'">
        {{ 'CAMPAIGNS.QUIZ_PAGE.BOT' | translate }}
      </app-message-space>
    </div>


    <!-- section quiz -->
    <div *ngIf="!noResult" class="section-quiz">
      <p>{{ 'CAMPAIGNS.QUIZ_PAGE.HEADING' | translate }}</p>
      <ul>
        <li *ngFor="let url of quizLinks">
          <a [href]="url" target="_blank">{{ url }}</a>
        </li>
      </ul>
    </div>

  </div>

</div>
