@import "../../../../../../../style/framework/src/variables";

#admin-campaign-quiz-component {

  .section-quiz {
    padding-top: 1.57rem;

    p {
      padding-bottom: 0.9375rem;
    }

    ul {

      li {
        font-size: 0.9375rem;

        a:hover {
          text-decoration: underline;
          color: $primary;
        }

      }

    }

  }

}
