#admin-campaign-quiz-component {

  .section-no-quiz {
    padding-top: 4.6875rem;
    text-align: center;
  }

  .section-quiz {
    padding-top: 1.57rem;

    p {
      padding-bottom: .9375rem;
    }

    ul {

      li {
        font-size: .9375rem;

        a:hover {
          text-decoration: underline;
          color: #FFB300;
        }

      }

    }

  }

}
