<section id="admin-community-members-component">
  <div class="column col-xs-12 col-11 col-mx-auto">


    <!-- section bot when fetching error -->
    <ng-container *ngIf="fetchingError">
      <div class="section-light-pad rm-pad-bottom">
        <app-error-template-1 [errorMessage]="'ERROR.FETCHING_ERROR'"></app-error-template-1>
      </div>
    </ng-container>


    <!-- section bot when no result -->
    <ng-container *ngIf="noResult">
      <div class="section-light-pad rm-pad-bottom">
        <app-message-space>
          <span>Don't have any projects to show.</span>
        </app-message-space>
      </div>
    </ng-container>


    <!-- section table -->
    <ng-container *ngIf="!noResult && !fetchingError">
      <app-shared-table
        [config]="config"
        [data]="tableInfos"
        (editRow)="onClickShow($event)">
      </app-shared-table>
    </ng-container>


  </div>
</section>
