<section id="admin-community-members-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- section bot when no result -->
    <ng-container *ngIf="noResult">
      <div class="section-light-pad rm-pad-bottom">
        <app-message-space>
          <span>Don't have any projects to show.</span>
        </app-message-space>
      </div>
    </ng-container>

    <!-- section table -->
    <ng-container *ngIf="!noResult">
      <app-shared-table
        [config]="config"
        (configChange)="configChanges($event)"
        [data]="tableInfos"
        (editRow)="onClickShow($event)">
      </app-shared-table>
    </ng-container>

  </div>
</section>
