@import "~@umius/umi-style-framework/scss/variables";

#user-form-component {
  padding-top: 25px;

  .save-wrapper {
    padding-bottom: 25px;
  }

  .form-group {
    margin-bottom: 20px;
    position: relative;
  }

  .operator-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 15px;

    .form-switch {
      margin-bottom: 10px;
    }

  }

  .domain-wrapper {
    padding-bottom: 15px;

    .fa-pencil-alt {
      font-size: 15px;
      margin-left: 5px;
      vertical-align: 1px;
    }

  }

  .projects-wrapper {
    padding-bottom: 20px;
  }

  .pro-quiz-wrapper {
    padding-top: 10px;

    p {
      margin-top: $unit-1;
      font-size: $font-size-sm;
      margin-bottom: 0;
      cursor: pointer;

      .fa-link {
        font-size: 12px;
      }

    }

  }

}
