<section id="user-form-component">
  <div class="column col-sm-12 col-11 col-mx-auto">
    <form novalidate [formGroup]="userForm" (ngSubmit)="onClickSave()" autocomplete="off">

      <!-- save button -->
      <div class="buttons">
        <button type="button"
                class="button is-secondary is-outlined"
                *ngIf="canImpersonate"
                (click)="impersonateUser($event)">Impersonate</button>
        <button
          type="submit"
          class="button is-primary"
          *ngIf="isEditable"
          [disabled]="userForm.invalid">
          {{ 'COMMON.BUTTON.SAVE' | translate }}
        </button>
      </div>

      <!-- operator -->
      <ng-container *ngIf="isEditUser">
        <div class="operator-wrapper">

          <ng-container *ngIf="authService.userId !== user.id">
            <div  class="domain-wrapper">

              <ng-container *ngIf="!editInstanceDomain">
                <label class="form-label">
                  Actual role:
                  <span>{{ userForm.get('roles').value }}</span>
                  <a *ngIf="isEditable" (click)="startEditInstanceDomain($event)">
                    <ng-container *ngIf="!isSelf && adminLevel()"><i class="fas fa-pencil-alt"></i></ng-container>
                  </a>
                </label>
              </ng-container>

              <ng-container *ngIf="editInstanceDomain">
                <div class="form-group d-flex align-center">
                  <label class="form-label" for="roles-list" style="width: fit-content">New role:</label>
                  <select class="form-select is-sm5 m-left-10" style="width: auto"
                          id="roles-list"
                          formControlName="roles"
                          name="roles-list">
                    <option *ngFor="let role of roles" [value]="role.name">
                      {{ role.name }}
                    </option>
                  </select>
                </div>
              </ng-container>
            </div>
          </ng-container>

          <ng-container *ngIf="canAffectAsAdmin">
            <label class="form-switch" for="user-form-role">
              <input
                type="checkbox"
                name="role"
                id="user-form-role"
                [checked]="userForm.value.roles === 'admin'"
                (change)="changeRole($event)">
              <i class="form-icon"></i>{{ 'COMMON.LABEL.ADMIN' | translate }}
            </label>
          </ng-container>

        </div>
      </ng-container>

      <!-- operator -->
      <ng-container *ngIf="isEditUser">
        <div class="operator-wrapper">
          <label class="form-label">
            <span>{{getLoginAttempts()}}</span>
            <a *ngIf="!!user['attempts']" (click)="resetLoginAttempts($event)">
              <ng-container *ngIf="!isSelf && adminLevel()"><i class="fas fa-redo"></i></ng-container>
            </a>
          </label>
        </div>
      </ng-container>

      <!-- domain management -->
      <ng-container *ngIf="isEditUser">
        <div  class="domain-wrapper">

          <ng-container *ngIf="!editInstanceDomain">
            <label class="form-label">
              Actual domain:
              <span>{{ userForm.get('domain').value }}</span>
              <a *ngIf="isEditable" (click)="startEditInstanceDomain($event)">
                <ng-container *ngIf="!isSelf && !isSuperAdmin"><i class="fas fa-pencil-alt"></i></ng-container>
              </a>
            </label>
          </ng-container>

          <ng-container *ngIf="editInstanceDomain">
            <label class="form-label">New domain:</label>
            <app-utility-auto-complete-input
              id="domain"
              (update)="updateInstanceDomain($event)"
              [onlyOne]="true"
              [config]="buildInstanceDomainListConfig()">
            </app-utility-auto-complete-input>
          </ng-container>
        </div>
      </ng-container>

      <!-- projects -->
      <ng-container *ngIf="isEditUser">
        <div class="projects-wrapper">

          <label class="form-label" for="user-form-projects">Collaborates to {{ projects.length }} projects.</label>

          <ng-container *ngIf="projects.length > 0">
            <select class="form-select" id="user-form-projects" (change)="selectProject($event)">
              <option selected>View the projects</option>
              <option *ngFor="let project of projects" [value]="project._id">{{ project.name || "Untitled" }} </option>
            </select>
          </ng-container>

          <ng-container *ngIf="selectedProject">
            <a class="text-link" [href]="'/user/admin/projects/project/' + selectedProject" target="_blank">Visit the project</a>
          </ng-container>

        </div>
      </ng-container>

      <!-- is shielded? -->
      <ng-container *ngIf="isProfessional && isProShielded">
        <div class="form-group">
          <label class="form-label"></label>
          <span><i class="fas fa-user-shield"></i></span> This professional protected by shield.
        </div>
      </ng-container>


      <!-- show tags -->
      <ng-container *ngIf="isProfessional && tags.length > 0">
        <div class="form-group">
          <label class="form-label">Tags</label>
          <app-shared-tags [tags]="tags" (removeTag)="removeTag($event)" [editMode]="true"></app-shared-tags>
        </div>
      </ng-container>

        <!-- email -->
        <div class="form-group has-error">
            <label class="form-label" for="user-form-email">{{ 'COMMON.LABEL.EMAIL' | translate }}</label>
            <input
                    class="form-input"
                    formControlName="email"
                    id="user-form-email"
                    type="email"
                    placeholder="john@catco.com"
                    (change)="onEmailChange()">
            <span class="form-input-hint" *ngIf="userForm.get('email').touched && userForm.get('email').invalid">
          <span *ngIf="userForm.get('email').hasError('required')">{{ 'COMMON.REQUIRED.EMAIL' | translate }}</span>
          <span *ngIf="userForm.get('email').hasError('email') && userForm.get('email').value !== ''">{{ 'COMMON.INVALID.EMAIL' | translate }}</span>
        </span>
        </div>

      <!-- first name -->
      <div class="form-group has-error">
        <label class="form-label" for="user-form-firstName">{{ 'COMMON.LABEL.FIRSTNAME' | translate }}</label>
        <input
          class="form-input"
          formControlName="firstName"
          id="user-form-firstName"
          type="text"
          placeholder="John">
        <span class="form-input-hint" *ngIf="userForm.get('firstName').touched && userForm.get('firstName').invalid && userForm.get('firstName').hasError('required')">
          {{ 'COMMON.REQUIRED.FIRSTNAME' | translate }}
        </span>
      </div>

      <!-- last name -->
      <div class="form-group has-error">
        <label class="form-label" for="user-form-lastName">{{ 'COMMON.LABEL.LASTNAME' | translate }}</label>
        <input
          class="form-input"
          formControlName="lastName"
          id="user-form-lastName"
          type="text"
          placeholder="Smith">
        <span class="form-input-hint" *ngIf="userForm.get('lastName').touched && userForm.get('lastName').invalid && userForm.get('lastName').hasError('required')">
          {{ 'COMMON.REQUIRED.LASTNAME' | translate }}
        </span>
      </div>

      <!-- Phone number -->
      <ng-container *ngIf="isEditUser">
        <div class="form-group has-error">
          <label class="form-label" for="user-form-phone">{{ 'COMMON.LABEL.PHONE' | translate }}</label>
          <input
            class="form-input"
            formControlName="phone"
            id="user-form-phone"
            type="text"
            placeholder="+33 4 12 34 56 78">
        </div>
      </ng-container>

      <!-- job -->
      <div class="form-group">
        <label class="form-label" for="user-form-jobTitle">{{ 'COMMON.LABEL.JOBTITLE' | translate }}</label>
        <input
          class="form-input"
          formControlName="jobTitle"
          id="user-form-jobTitle"
          type="text"
          [attr.placeholder]="'COMMON.PLACEHOLDER.JOBTITLE' | translate">
      </div>

      <!-- company -->
      <div class="form-group relative" formGroupName="company">
        <label class="form-label" for="user-form-company">{{ 'COMMON.LABEL.COMPANY' | translate }}</label>
        <input
          (keyup)="onSuggestCompanies()"
          [attr.placeholder]="'COMMON.PLACEHOLDER.COMPANY' | translate"
          class="form-input"
          formControlName="name"
          id="user-form-company"
          type="text">
        <ul
          *ngIf="userForm.get('company.name').value"
          [ngStyle]="{ 'display': displayCompanySuggestion ? 'block' : 'none' }"
          class="menu menu__fixed-height">
          <li
            *ngFor="let company of companySuggestion"
            class="menu-item">
            <div (click)="onCompanySelect(company)" class="d-flex align-center">
              <img
                [alt]="company.name"
                [src]="company.logo"
                class="m-right-2 img-responsive"
                style="height: 36px; max-width: 110px;">
              <span>{{ company.name | titlecase}}</span>
            </div>
          </li>
        </ul>
      </div>

      <!-- country -->
      <div class="form-group">
        <label class="form-label" for="user-form-country">{{ 'COMMON.LABEL.COUNTRY' | translate }}</label>
        <input
          (keyup)="onSuggestCountries()"
          [attr.placeholder]="'COMMON.PLACEHOLDER.COUNTRY' | translate"
          class="form-input"
          formControlName="country"
          id="user-form-country"
          type="text">
        <ul
          *ngIf="userForm.get('country').value"
          [ngStyle]="{ 'display': displayCountrySuggestion ? 'block' : 'none' }"
          class="menu menu__fixed-height">
          <li
            (click)="onValueSelect(suggestion)"
            *ngFor="let suggestion of countriesSuggestion.sort()"
            class="menu-item">
            {{ suggestion }}
          </li>
        </ul>
      </div>

      <!-- language
      //Guillaume
      -->
      <div class="form-group">
        <label class="form-label" for="user-form-language">{{ 'COMMON.LABEL.LANGUAGE' | translate }}</label>
        <input
          (keyup)="onSuggestLanguages()"
          [attr.placeholder]="'COMMON.PLACEHOLDER.LANGUAGE' | translate"
          class="form-input"
          formControlName="language"
          id="user-form-language"
          type="text">
        <ul
          *ngIf="userForm.get('language').value"
          [ngStyle]="{ 'display': displayLanguageSuggestion ? 'block' : 'none' }"
          class="menu menu__fixed-height">
          <li
            (click)="onValueSelectLanguage(suggestion)"
            *ngFor="let suggestion of languagesSuggestion.sort()"
            class="menu-item">
            {{ suggestion | titlecase }}
          </li>
        </ul>
      </div>

      <!-- url -->
      <ng-container *ngIf="isProfessional">
        <div class="form-group">
          <label class="form-label" for="user-form-profileUrl">{{ 'COMMON.LABEL.PROFILE_URL' | translate }}</label>
          <input
            class="form-input"
            formControlName="profileUrl"
            id="user-form-profileUrl"
            type="text"
            placeholder="http://www.linkedin.com/in/johnsmith">
          <span class="form-input-hint" *ngIf="userForm.get('profileUrl').touched && userForm.get('profileUrl').invalid && userForm.get('profileUrl').hasError('required')">
            {{ 'COMMON.REQUIRED.URL' | translate }}
          </span>
        </div>
      </ng-container>

      <!-- Display all keywords associated to the professional -->
      <ng-container *ngIf="isProfessional && campaign && pro.personId">
        <div class="pro-quiz-wrapper">
          <a class="text-link" *ngIf="!proKeywords" (click)="showKeywords()">Voir keywords</a>
          <ul *ngIf="proKeywords">
            <li *ngFor="let keywords of proKeywords">{{ keywords }}</li>
          </ul>
        </div>
      </ng-container>

      <!-- link to quiz URI -->
      <ng-container *ngIf="isProfessional && campaign">
        <div class="pro-quiz-wrapper">
          <a (click)="openQuizUri(pro, $event)" class="text-link">{{ 'COMMON.ADD-ANSWER' | translate }}</a>
          <p><a [href]="getQuizUrl(pro)" target="_blank">Link to the professional's quiz <i class="fas fa-link"></i></a></p>
        </div>
      </ng-container>

    </form>
  </div>
</section>
