$header-background: #4F5D6B;

.main-container {
  background: $header-background;
  padding-top: 20px;
  padding-bottom: 20px;

  .navbar-toggler-icon {
    position: absolute;
    top: 20px;
    right: 6.5%;

    .fa-bars {
      color: #FFFFFF;
    }

  }

  .navbar {
    display: block;

    .nav-item-wrapper {
      flex: 1;
      display: none;

      .navbar-nav {
        list-style: none;
        margin-left: 0;
        text-align: center;

        .navbar-item {
          margin-top: 0;
          padding: 40px 0;

          a {
            opacity: 0.5;
            letter-spacing: 0.66px;
            color: #FFFFFF;
            text-decoration: none;
            font-size: 0.75rem;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
          }

          a:hover {
            opacity: 1;
            color: #FFB300;
            cursor: pointer;
          }

          a.active {
            opacity: 1;
            color: #FFB300;
          }

        }

      }

    }

  }

}


/********************************** Media ***************************************/

@media (max-width: 767px) {

  .navbar-toggler {
    right: 6.5% !important;
  }

}

@media (min-width: 931px) {

  .navbar-toggler-icon {
    display: none !important;
  }

  .navbar {
    display: flex !important;

    .nav-item-wrapper {
      padding-top: 8px !important;
      flex: unset !important;
      display: block !important;

      .navbar-nav {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        display: inline-flex !important;
        justify-content: flex-end !important;

        .navbar-item {
          margin-left: 41px !important;
          padding: 0 !important;
        }

      }

    }

  }

}



