@import "../../../../../../../style/framework/src/variables";
@import "../../../../../../../style/framework/src/mixins";

#showcase-answers {
  height: 100%;

  .see-more-wrapper, .icon {
    @include control-transition();
    visibility: hidden;
  }

  .icon {
    top: -6px;
    right: 0;
    font-size: $font-icon-xl;
  }

  h2, h3 {
    margin-bottom: 0.25rem;
  }

  h3 {
    font-family: $font-family-oswald;
    color: $secondary-color;
    font-size: 1.85rem;

    span {
      color: #3E5164;
    }

  }

  .card-wrapper {
    border-bottom: $border-width solid $border-color;
    padding: $unit-5 0;
    min-height: 70px;
    margin-bottom: 0;

    .card-content {
      align-items: center;
    }

    .info-wrapper {
      margin-left: $unit-5;
      max-width: 73%;
    }

    p {
      margin-left: $unit-2;
      margin-top: -6px;
      margin-bottom: 0;
    }

  }

  &:hover {

    .icon, .see-more-wrapper {
      visibility: visible;
    }

  }

}

.card-wrapper {
  flex-wrap: wrap;
  margin-right: -$unit-5;
  margin-bottom: -$unit-5;

  .card {
    padding: 0.5rem;
    margin-bottom: $unit-5;
    border-width: $border-width-lg;

    label {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      input[type="checkbox"] {
        display: none;
      }

    }

    p {
      margin-left: $unit-2;
      margin-top: -6px;
      margin-bottom: 0;
    }

    &.active {
      border-color: $success-color;
    }

    &:hover {
      box-shadow: none;
    }

  }

}

@media (max-width: $size-sm) {

  .card-main {
    margin-right: 0 !important;
  }

}
