<section id="admin-users" class="section-light-pad">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <div class="restrict-width">


      <!-- fetching error -->
      <ng-container *ngIf="fetchingError">
        <div class="a-u-error-wrapper d-flex align-center">
          <app-error-template-1 [errorMessage]="'ERROR.ERRORS.FETCHING'"></app-error-template-1>
        </div>
      </ng-container>
      <!-- /fetching error -->


      <!-- TODO
      <div class="invitation-pending" *ngIf="pending_invitations && pending_invitations.length > 0">
        <h3>{{ 'USERS.WAITING_INVITATIONS' | translate }}</h3>
        <p>{{ pending_invitations.join(', ') }}</p>
      </div> -->


      <!-- if juan -->
      <ng-container *ngIf="isJuan() && !fetchingError">
        <div class="text-right m-bottom-25">
          <button (click)="synchronizeSRTUsers()" class="btn btn-sm rounded shadow btn-edit" type="button">Update everybody</button>
        </div>
      </ng-container>
      <!-- /if juan -->


      <!-- table users -->
      <ng-container *ngIf="!fetchingError">
        <app-shared-table
          (editRow)="onClickEdit($event)"
          [(config)]="config"
          [data]="table">
        </app-shared-table>
      </ng-container>
      <!-- /table users -->


    </div>
  </div>
</section>


<!-- sidebar -->
<app-sidebar [(template)]="sidebarValue">
  <app-user-form
    (finalUserData)="updateUser($event)"
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type"
    [user]="selectedUser">
  </app-user-form>
</app-sidebar>
<!-- /sidebar -->



<!--<section class="section-light-pad" id="admin-users-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    &lt;!&ndash; TODO
    <div class="invitation-pending" *ngIf="pending_invitations && pending_invitations.length > 0">
      <h3>{{ 'USERS.WAITING_INVITATIONS' | translate }}</h3>
      <p>{{ pending_invitations.join(', ') }}</p>
    </div> &ndash;&gt;

    &lt;!&ndash; section table &ndash;&gt;
    <app-shared-table
      [data]="tableInfos"
      [(config)]="config"
      (editRow)="editUser($event)"
      (removeRows)="deleteUsersModal($event)">
    </app-shared-table>
    &lt;!&ndash; /section table &ndash;&gt;

      <div *ngIf="isJuan()">
          <button (click)="synchronizeSRTUsers()">Update everybody</button>
      </div>
  </div>
</section>


&lt;!&ndash; modal to ask admin to delete the user &ndash;&gt;
<app-modal [(showModal)]="modalDelete" [modalTitle]="'COMMON.MODAL.TITLE_DELETE'">
  {{ 'COMMON.USER.DELETE_BOARD.CONTENT' | translate }}
  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="onClickSubmit()">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>
</app-modal>
&lt;!&ndash; /modal to ask admin to delete the user &ndash;&gt;


&lt;!&ndash; sidebar to edit user &ndash;&gt;
<app-sidebar [(template)]="sidebarValue">
  <app-user-form
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type"
    [user]="currentUser"
    (finalUserData)="updateUser($event)">
  </app-user-form>
</app-sidebar>
&lt;!&ndash; sidebar to edit user &ndash;&gt;-->
