<section class="section-light-pad" id="admin-users-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- TODO
    <div class="invitation-pending" *ngIf="pending_invitations && pending_invitations.length > 0">
      <h3>{{ 'USERS.WAITING_INVITATIONS' | translate }}</h3>
      <p>{{ pending_invitations.join(', ') }}</p>
    </div> -->

    <!-- section table -->
    <app-shared-table
      [data]="tableInfos"
      [config]="config"
      (configChange)="configChange($event)"
      (editRow)="editUser($event)"
      (removeRows)="deleteUsersModal($event)"
      (performAction)="performActions($event)">
    </app-shared-table>
    <!-- /section table -->

      <div *ngIf="isJuan()">
          <button (click)="synchronizeSRTUsers()">Update everybody</button>
      </div>
  </div>
</section>


<!-- modal to ask admin to delete the user -->
<app-modal [(showModal)]="modalDelete" [modalTitle]="'COMMON.MODAL.TITLE_DELETE'">
  {{ 'COMMON.USER.DELETE_BOARD.CONTENT' | translate }}
  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="onClickSubmit()">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>
</app-modal>
<!-- /modal to ask admin to delete the user -->


<!-- sidebar to edit user -->
<app-sidebar [(template)]="sidebarValue">
  <app-user-form
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type"
    [user]="currentUser"
    (finalUserData)="updateUser($event)">
  </app-user-form>
</app-sidebar>
<!-- sidebar to edit user -->
