<section id="admin-signatures-library">
  <div class="restrict-width">


    <!-- fetching error -->
    <ng-container *ngIf="fetchingError">
      <div class="a-s-l-error-wrapper d-flex align-center">
        <app-error-template-1 [errorMessage]="'ERROR.ERRORS.FETCHING'"></app-error-template-1>
      </div>
    </ng-container>
    <!-- /fetching error -->


    <!-- no signature -->
    <ng-container *ngIf="!fetchingError">
      <div class="a-s-l-create-signature-wrapper d-flex align-center">
        <app-message-template-2 [animation]="true" [ngStyle]="{ 'width': '100%' }">

          <div class="text-center">

            <h4 [innerText]="'COMMON.SIGNATURES.NO_SIGNATURES_ADMIN'" class="text-background" translate></h4>

            <div class="m-top-25">
              <button (click)="onClickAdd()" class="btn btn-primary rounded shadow" type="button">
                <i class="fas fa-plus m-no-left"></i>
                {{ 'COMMON.BUTTON.ADD' | translate }}
              </button>
            </div>

          </div>

        </app-message-template-2>
      </div>
    </ng-container>
    <!-- /no signature -->


  </div>
</section>


<!-- sidebar -->
<app-sidebar [(template)]="sidebarValue">
  <app-sidebar-signature
    [sidebarState]="sidebarValue.animate_state"
    [signature]="signatureToEdit"
    (signatureChange)="updateSignature($event)">
  </app-sidebar-signature>
</app-sidebar>
<!-- /sidebar -->


<!-- modal -->
<app-modal [(showModal)]="modalAdd" [modalTitle]="'COMMON.MODAL.TITLE_CREATE'">

  <div class="flex-centered">
    <div class="form-group" [ngStyle]="{ 'width': '75%' }">
      <label class="form-label" for="add-email">{{ 'COMMON.LABEL.SIGNATURE_NAME' | translate }}</label>
      <input
        [(ngModel)]="newSignatureName"
        class="form-input"
        id="add-email"
        name="emailName"
        [placeholder]="'COMMON.PLACEHOLDER.SIGNATURE_NAME' | translate"
        type="text">
    </div>
  </div>

  <div class="modal-footer">

    <button [innerText]="'COMMON.BUTTON.CANCEL'" class="btn btn-sm btn-cancel" translate></button>

    <button
      (click)="onClickConfirm()"
      [disabled]="!newSignatureName"
      [innerText]="'COMMON.BUTTON.CONFIRM'"
      class="btn btn-sm btn-primary"
      translate>
    </button>

  </div>

</app-modal>
<!-- /modal -->

<!--
<div>

  <app-sidebar [template]="more" (closeSidebar)="closeSidebar($event)">
    <app-sidebar-signature
      [signature]="signatureToEdit"
      (signatureChange)="updateSignature($event)">
    </app-sidebar-signature>
  </app-sidebar>

  <div class="empty" *ngIf="!signatures.length">
    <div class="empty-action">
      <button (click)="newSignatureName = 'signature'; onClickAdd()" class="btn btn-primary">
        Créer une signature
      </button>
    </div>
  </div>

  <div class="text-right">
    <button *ngIf="signatures.length" (click)="newSignatureName = 'signature'; onClickAdd()" class="btn btn-primary">
      Créer une signature
    </button>
  </div>

  <app-shared-table
    [(config)]="config"
    [data]="tableInfos"
    (editRow)="editSignature($event)"
    (removeRows)="removeSignatures($event)">
  </app-shared-table>
</div>


&lt;!&ndash; modal to add the new signature &ndash;&gt;
<app-modal [(showModal)]="modalAdd" [modalTitle]="'COMMON.MODAL.TITLE_CREATE'">

  <div class="form-group">
    <label class="form-label" for="add-email">Signature Name</label>
    <input
      type="text"
      id="add-email"
      [(ngModel)]="newSignatureName"
      name="emailName"
      placeholder="Enter the email name"
      class="form-input">
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="createSignature()" [disabled]="!newSignatureName">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>

</app-modal>
&lt;!&ndash; /modal to add the new signature &ndash;&gt;
-->
