@import "../variables";

@mixin avatar-variant($color: $draft-color, $bg-color: $bg-border-color) {
  background: $bg-color;
  color: $color;
}

@mixin avatar-base($size: $unit-8) {
  font-size: $size / 2;
  height: $size;
  width: $size;
}
