@import "../variables";

@mixin button-default-variant($color: $bg-primary-color) {
  color: $text-white-color;
  background-color: $color;
  border-color: $color;

  &:hover {
    background-color: lighten($color, 10%);
    border-color: lighten($color, 10%);
  }

  &:focus, &.active, &:active  {
    color: $text-white-color;
    background-color: $color;
    border-color: $color;
  }

  &[disabled], &:disabled, &.disabled {
    background-color: $color;
    border-color: $color;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.5;
  }

}

@mixin button-outline-variant($color: $bg-primary-color) {
  color: $color;
  border-color: $color;
  background-color: transparent;

  &:focus, &.active, &:active  {
    color: $color;
    border-color: $color;
  }

  &:hover, &:focus, &.active, &:active {

    @if $color == $bg-primary-color {
      background-color: $hover-background-color;
    }

    @if $color == $bg-secondary-color {
      background-color: lighten($color, 53%);
    }

    @if $color == $bg-alert-color {
      background-color: lighten($color, 34%);
    }

    @if $color == $bg-success-color {
      background-color: lighten($color, 46%);
    }

    @if $color == $bg-meta-color {
      background-color: lighten($color, 30%);
    }

    @if $color == $bg-draft-color {
      background-color: lighten($color, 57%);
    }

  }

  &[disabled], &:disabled, &.disabled {
    cursor: not-allowed;
    background-color: transparent;
    border-color: $color;
    box-shadow: none;
    opacity: 0.5;
  }

}

@mixin button-link-variant($color: $bg-primary-color) {
  color: $color;
  border: none;
  background-color: transparent;

  &:focus, &:hover {
    color: $color;
    border: none;
    text-decoration: underline;
    background-color: transparent;
  }

  &.active, &:active  {
    color: $color;
    border: none;
    background-color: transparent;
  }

  &[disabled], &:disabled, &.disabled {
    cursor: not-allowed;
    background-color: transparent;
    box-shadow: none;
    opacity: 0.5;
    text-decoration: none;
  }

}

@mixin button-default-action-variant($color: $bg-primary-color) {
  color: $text-white-color;
  background-color: $color;
  border-color: $color;
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  &:focus, &.active, &:active  {
    color: $text-white-color;
    background-color: $color;
    border-color: $color;
  }

  &:hover {
    background-color: lighten($color, 10%);
    border-color: lighten($color, 10%);
  }

  &[disabled], &:disabled, &.disabled {
    cursor: not-allowed;
    background-color: $color;
    border-color: $color;
    box-shadow: none;
    opacity: 0.5;
  }

}

@mixin button-loading-variant($color: $bg-white-color) {
  min-width: 4.25rem;

  &:after {
    border-bottom-color: $color;
    border-left-color: $color;
  }

}

@mixin button-shadow-variant($color: $bg-primary-color) {
  color: $text-white-color;
  background-color: $color;
  border-color: $color;
  box-shadow: $box-shadow-button-hover;

  &[disabled], &:disabled, &.disabled {
    box-shadow: none;
  }

}








// Todo remove
@mixin button-ghost-variant($color: $primary-color) {
  color: $color;
  background-color: transparent;
  border-color: $color;
  border-width: $border-width-lg;

  &:focus, &:active, &.active {
    color: $color;
    background-color: transparent;
    border-color: $color;
    border-width: $border-width-lg;
  }

  &:hover {
    color: lighten($color, 15%);
    background-color: transparent;
    border-color: lighten($color, 15%);
  }

}


