.big-blue-synthesis
  text-align center

  canvas
    width 150px !important
    height auto !important
    margin 0 auto 30px


  p.final-synthesis
    color #8E8E8E

    span
      &.percent
        font-size 30px
        font-weight 400
        display block
        margin-bottom 5px

      &.synthesis-text
        margin-top 0
        font-size 14px
        font-weight 600
