<div class="main-container" id="admin-project">

  <div class="page-header">
    <div class="container">
      <div class="columns">
        <div class="column col-11 col-mx-auto">
          <h1>{{ this.project.name }}</h1>

          <ul class="tabs">
            <li *ngFor="let tab of authorizedTabs">
              <a routerLinkActive="active" [routerLink]="baseUrl + tab" [routerLinkActiveOptions]="{ exact: true }">
                {{ 'PROJECT.' + tab.toUpperCase() | translate }}
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column col-11 col-mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
