<div class="main-container admin-project">

  <div class="section-light-container heading">
    <div class="column col-xs-12 col-11 col-mx-auto">

      <div class="title-button-wrapper">
        <h1>{{ this.project.name }}</h1>
        <div class="project-progress">
          <label class="form-label">Preparation</label>
          <app-progress-bar class="progress" [width]="calculatePercentage('preparation')+'%'" [backgroundColor]="getColor(calculatePercentage('preparation'))"></app-progress-bar>
        </div>
        <a [href]="clientSideUrl" target="_blank"><button class="btn ghost-primary">View client side</button></a>
      </div>


      <ul class="tabs">
        <li *ngFor="let tab of authorizedTabs">
          <a routerLinkActive="active" [routerLink]="baseUrl + tab" [routerLinkActiveOptions]="{ exact: true }">
            {{ 'PROJECT.' + tab.toUpperCase() | translate }}
          </a>
        </li>
      </ul>

    </div>
  </div>

  <router-outlet></router-outlet>

</div>
