.admin-project {

  .heading {
    background-color: white;
    padding-bottom: 0;
  }

  .title-button-wrapper {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 23px;
      color: #4F5D6B;
      font-weight: 500;
    }

    .btn {
      margin-bottom: 25px;
    }

  }

  .tabs {
    border-bottom: 1px solid #D8D8D8;

    li {
      flex: unset;

      a {
        background: white;
        color: #4F5D6B;
        font-weight: 500;
        padding-right: 40px;
        text-align: center;
        margin-right: 25px;
      }

    }

  }

  .project-progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 30%;

    .progress {
      margin: 10px;
      width: 100px;
    }
  }

  .tabs li a:hover, .tabs li a.active {
    color:  #FFB300;
    border-bottom: 5px solid #FFB300;
  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .tabs li {
    flex: 1 0 auto;
  }

}
