<div *ngIf="this.row">
    <form [hidden]="this.formHidden" novalidate [formGroup]="formData" >
      <div class="form-group">
        <button (click)="onSubmit()" class="btn btn-primary">
          {{'COMMON.SAVE' | translate}}
        </button>
      </div>
      <div class="form-group">
        <label class="form-label"> DATE </label>
        <input class="form-input" id="dateMail" name="dateMail" formControlName="dateMail" type="date"
               [value]="this.getdateMail | date:'yyyy-MM-dd'">
      </div>
      <div class="form-group">
        <label class="form-label"> TIME </label>
        <input class="form-input" id="timeMail" name="timeMail" formControlName="timeMail" type="time"
        [value]="this.gettimeMail">
      </div>
    </form>

  <!--<div *ngIf="thereIsContent"> -->
  <label class="text-ellipsis"> EN </label>
  <app-text-zone [elementId]="'en'"
                 [readonly]="true"
                 [data]="this.content.en"
  ></app-text-zone>
  <label class="text-ellipsis"> FR </label>
  <app-text-zone [elementId]="'fr'"
                 [readonly]="true"
                 [data]="this.content.fr"
  ></app-text-zone>
</div>
