.mxw-full {
  max-width: 100% !important;
}

.mxw-50 {
  max-width: 50px !important;
}

.mxw-80 {
  max-width: 80px !important;
}

.mxw-100 {
  max-width: 100px !important;
}

.mxw-140 {
  max-width: 140px !important;
}

.mxw-150 {
  max-width: 150px !important;
}

.mxw-165 {
  max-width: 165px !important;
}

.mxw-180 {
  max-width: 180px !important;
}

.mxw-200 {
  max-width: 200px !important;
}

.mxw-250 {
  max-width: 250px !important;
}

.mxw-280 {
  max-width: 280px !important;
}

.mxw-300 {
  max-width: 300px !important;
}

.mxw-350 {
  max-width: 350px !important;
}

.mxw-400 {
  max-width: 400px !important;
}

.mxw-450 {
  max-width: 450px !important;
}

.mxw-480 {
  max-width: 480px !important;
}

.mxw-500 {
  max-width: 500px !important;
}

.mxw-550 {
  max-width: 550px !important;
}

.mxw-600 {
  max-width: 600px !important;
}

.mxw-650 {
  max-width: 650px !important;
}

.mxw-700 {
  max-width: 700px !important;
}

.mxw-750 {
  max-width: 750px !important;
}

.mxw-800 {
  max-width: 800px !important;
}

.mxw-840 {
  max-width: 840px !important;
}

