<div class="main-container" id="admin-campaign">

  <div class="page-header">
    <div class="container">
      <div class="columns">
        <div class="column col-11 col-mx-auto">
          <h1><strong>Campaign</strong> / {{ campaign.title }}</h1>
          <a [routerLink]="'/admin/projects/project/' + campaign.innovation._id + '/settings'" class="back-to-project">Back to project</a>

          <ul class="tabs">
            <li class="tab-item" *ngFor="let tab of authorizedTabs">
              <a [routerLink]="baseUrl + tab" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                {{ 'CAMPAIGNS.' + tab.toUpperCase() | translate }}
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="toolbar" *ngIf="campaign.stats">

    <div class="section-1">
      <div class="title">
        <i class="fas fa-sync c-hand" (click)="updateStats()" *ngIf="autorizedActions(2)"></i>
        Professionals</div>

      <div class="stat">
        <div class="subtitle">Added</div>
        <div class="number">{{campaign.stats.nbPros}}</div>
      </div>

      <div class="stat">
        <div class="subtitle">To contact</div>
        <div class="number">{{campaign.stats.nbPros90}} / {{ratio(campaign.stats.nbPros90, campaign.stats.nbPros)}}%</div>
      </div>

      <div class="stat">
        <div class="subtitle">Contacted</div>
        <div class="number">{{campaign.stats.nbProsSent}} / {{ratio(campaign.stats.nbProsSent, campaign.stats.nbPros90)}}%</div>
      </div>
    </div>


    <div class="section-2">
      <div class="title">Interaction</div>

      <div class="stat">
        <div class="subtitle">Opened</div>
        <div class="number">{{campaign.stats.nbProsOpened}} / {{ratio(campaign.stats.nbProsOpened, campaign.stats.nbProsSent)}}%</div>
      </div>

      <div class="stat">
        <div class="subtitle">Clicked</div>
        <div class="number">{{campaign.stats.nbProsClicked}} / {{ratio(campaign.stats.nbProsClicked, campaign.stats.nbProsOpened || 1)}}%</div>
      </div>
    </div>


    <div class="section-3">
      <div class="title">Insights</div>

      <div class="stat">
        <div class="subtitle">Started</div>
        <div class="number">{{campaign.stats.nbStartedAnswers}} / {{ratio(campaign.stats.nbStartedAnswers, campaign.stats.nbProsClicked || 1)}}%</div>
      </div>

      <div class="stat">
        <div class="subtitle">Sent</div>
        <div class="number">{{campaign.stats.nbAnswers}} / {{ratio(campaign.stats.nbAnswers, campaign.stats.nbStartedAnswers)}}%</div>
      </div>

      <div class="stat">
        <div class="subtitle">Validated</div>
        <div class="number">{{campaign.stats.nbValidatedAnswers}} / {{ratio(campaign.stats.nbValidatedAnswers, campaign.stats.nbStartedAnswers)}}%</div>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="columns">
      <div class="column col-11 col-mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
