@import "../../../../../../../style/variables";

#admin-campaign-component {
  padding-top: 0;

  .section-header {
    padding-top: 1.57rem;

    background-color: white;

    .heading-wrapper {
      padding-bottom: 1.57rem;

      span {
        font-weight: 600;
        font-size: 1.4375rem;
      }

      .title {
        color: $meta-color;
        font-weight: normal;
      }

      .text-link {
        font-weight: 600;
        font-size: .875rem;
      }

    }

    .tabs-wrapper {

      .tabs {
        border-bottom: 1px solid $border-color;

        li {
          flex: unset;
          min-width: 110px;
        }

        a {
          background-color: white;
          color: $background-color;
          border-bottom: 4px solid transparent;
          font-weight: 500;
        }

        a:hover {
          border-bottom-color: $primary-color;
          color: $primary-color;
        }

        .active {
          color: $primary-color !important;
          border-bottom-color: $primary-color !important;
        }

      }

    }

  }

}


/********************************** Media ***************************************/

@media (max-width: 600px) {

  #admin-campaign-component {

    .tabs {
      border-bottom: none !important;

      li {
        flex: 1 0 auto;
        border-bottom: 1px solid $border-color;
      }

    }

    .section-stats {

      .content-wrapper {
        flex-direction: column;

        h5 {
          margin-right: 0 !important;
          margin-bottom: 1.2rem;
        }

      }

    }

  }

}
