@import "../../../../../../../style/framework/src/variables";

#admin-campaign-component {

  .section-header {
    padding-top: 1.25rem;
    background-color: $bg-color-light;

    .heading-wrapper {
      padding-bottom: 1.25rem;

      .title-primary {
        font-size: 1.15rem;
      }

      .title-campaign {
        color: $meta-color;
        font-weight: normal;
      }

    }

  }

}

@media (max-width: 600px) {

  #admin-campaign-component {

    .section-stats {

      .content-wrapper {
        flex-direction: column;

        h5 {
          margin-right: 0 !important;
          margin-bottom: 1.2rem;
        }

      }

    }

  }

}
