.big-blue-synthesis
  position relative
  background #0b90c6
  padding 1.8rem
  padding-top 0
  text-align center
  min-width 14rem
  margin-right 30px
  font-size 14px
  color #fff
  margin-bottom 0.5rem
  max-width 220px

  p
    margin-top 0
    margin-bottom 1rem

  span, p.final-synthesis
    display block
    margin-top 1rem
    margin-bottom 0

    &.big
      margin-top 0
      font-size 64px
      font-weight 300


  .chart-pie
    height auto !important
    width 150px !important
    margin 0 auto 30px auto
