<div class="modal modal-lg active" *ngIf="modalAnswer">
  <div class="modal-overlay" (click)="close($event)"></div>
  <div class="modal-container">
    <div class="modal-header">
      <h3 class="text-center" *ngIf="adminMode">
        <span class="label label-rounded"
              [ngClass]="{
              'label-success': modalAnswer.status === 'VALIDATED',
              'label-warning': modalAnswer.status === 'TO_COMPLETE',
              'label-error': modalAnswer.status === 'REJECTED',
              'label-primary': modalAnswer.status === 'SUBMITTED'
              }">
          {{ modalAnswer.status?.toLowerCase() }}
        </span>
        Réponse <span *ngIf="modalAnswer.status != 'VALIDATED'">non </span>validée
      </h3>
      <div class="flex">
        <div>
          <h3>
            {{modalAnswer.professional?.firstName}} {{modalAnswer.professional?.lastName}}
            <app-rating-item [adminMode]="adminMode" [big]="true" [prop]="profile" [rating]="modalAnswer.profileQuality" (ratingChange)="updateProfileQuality($event)"></app-rating-item>
          </h3>
          <h6 *ngIf="modalAnswer.job || modalAnswer.professional?.jobTitle">
            <i class="far fa-address-card" aria-hidden="true"></i>
            {{modalAnswer.job || modalAnswer.professional?.jobTitle}}
          </h6>
          <h6 *ngIf="modalAnswer.company?.name || modalAnswer.professional?.company">
            <i class="far fa-building" aria-hidden="true"></i>
            {{modalAnswer.company?.name || modalAnswer.professional?.company}}
          </h6>
          <!-- TODO: remove answer.follow
            <small *ngIf="modalAnswer.follow">{{ 'MARKET_REPORT.PROFESSIONAL.FOLLOW' | translate }}</small>
          -->
        </div>
        <div *ngIf="adminMode">
          <strong>Time spent : </strong>
          {{floor(modalAnswer.time_elapsed/60)}} min.
          {{floor(modalAnswer.time_elapsed%60)}} sec.
          <br>
          <strong>IP : </strong>{{modalAnswer.ip}}<br>
          <shared-tag-item *ngIf="adminMode" [big]="true" [prop]="profile" [tags]="modalAnswer.tags" (tagsChange)="updateTags($event)"></shared-tag-item>
          <label class="form-switch" for="toggleAdmin">
            <input type="checkbox" name="toggleAdmin" id="toggleAdmin"
                   (change)="(editMode = !editMode) && $event.preventDefault()">
            <i class="form-icon"></i>Edition  <i class="fas fa-pencil"></i>
          </label>
        </div>
        <div>
          <a *ngIf="(modalAnswer.professional?.firstName || modalAnswer.professional?.lastName) && modalAnswer.professional?.profileUrl"
             href="{{modalAnswer.professional?.profileUrl}}" target="_blank">
            <i class="fas fa-user" aria-hidden="true"></i>
            {{ 'MARKET_REPORT.POPUP.PROFIL' | translate }}
          </a><br>
          <a href="mailto: {{modalAnswer.professional?.email}}">{{modalAnswer.professional?.email}}</a><br>
          {{ 'MARKET_REPORT.POPUP.RECEIVED' | translate }} {{modalAnswer.date | date : dateFormat}} à {{modalAnswer.date | date:'HH:mm'}}<br>
          <div class="d-flex">
            <country-flag [country]="modalAnswer.country" [width]="30" [height]="20"></country-flag>
            &nbsp;
            {{(modalAnswer.country) ? modalAnswer.country.name : ""}}
            &nbsp;
            <div class="popover popover-bottom">
              <i class="fas fa-edit"></i>
              <div class="popover-container">
                <div class="input-group">
                  <app-autocomplete-input
                    (update)="updateCountry($event)" [onlyOne]="true"
                    [config]="{placeholder: 'pays', initialData: modalAnswer.country ? [modalAnswer.country] : [], type: 'countries'}"
                  ></app-autocomplete-input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div *ngFor="let question of questions">
        <app-answer-question
          [adminMode]="editMode"
          [question]="question"
          [fullAnswer]="modalAnswer"
          (fullAnswerChange)="updateAnswer($event)"
        ></app-answer-question>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-error"
              *ngIf="adminMode && (modalAnswer.status === 'SUBMITTED' || modalAnswer.status === 'TO_COMPLETE')"
              (click)="changeStatus($event, 'REJECTED')">
        <i class="fas fa-trash"></i> Rejeter
      </button>
      <button class="btn btn-warning"
              *ngIf="adminMode && (modalAnswer.status === 'SUBMITTED' || modalAnswer.status === 'TO_COMPLETE' || modalAnswer.status === 'REJECTED' || (modalAnswer.status === 'DRAFT' && modalAnswer.professional?.email))"
              (click)="changeStatus($event, 'TO_COMPLETE')">
        <i class="fas fa-rocket"></i> À compléter
      </button>
      <button class="btn btn-success"
              *ngIf="adminMode && (modalAnswer.status !== 'VALIDATED' && modalAnswer.professional?.email)"
              (click)="changeStatus($event, 'VALIDATED')">
        <i class="fas fa-check"></i> Valider
      </button>
      <button class="btn btn-error"
              *ngIf="adminMode && (modalAnswer.status === 'VALIDATED' && modalAnswer.professional?.email)"
              (click)="changeStatus($event, 'SUBMITTED')">
        <i class="fas fa-minus"></i> Invalider
      </button>
      <button *ngIf="adminMode" class="btn btn-primary" (click)="save($event)">{{ 'COMMON.SAVE' | translate }}</button>
      <button class="btn btn-default" (click)="close($event)">{{ 'MARKET_REPORT.POPUP.BACK' | translate }}</button>
    </div>
  </div>
</div>
