<div class="modal modal-lg active" *ngIf="modalAnswer">
  <div class="modal-overlay" (click)="close()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <h3 class="text-center" *ngIf="adminMode">
        <span class="label label-rounded"
              [ngClass]="{
              'label-success': modalAnswer.status === 'VALIDATED',
              'label-warning': modalAnswer.status === 'TO_COMPLETE',
              'label-error': modalAnswer.status === 'REJECTED',
              'label-primary': modalAnswer.status === 'SUBMITTED'
              }">
          {{ modalAnswer.status.toLowerCase() }}
        </span>
        Réponse <span *ngIf="modalAnswer.status != 'VALIDATED'">non </span>validée
      </h3>
      <div class="flex">
        <div>
          <h3>
            {{modalAnswer.professional?.firstName}} {{modalAnswer.professional?.lastName}}
            <shared-rating-item [adminMode]="adminMode" [big]="true" [prop]="profile" [rating]="modalAnswer.profileQuality" (ratingChange)="updateProfileQuality($event)"></shared-rating-item>
          </h3>
          <h6>{{modalAnswer.job}}</h6>
          <h6 *ngIf="modalAnswer.professional?.company">
            <i class="fa fa-building-o" aria-hidden="true"></i>
            {{modalAnswer.professional?.company}}
          </h6>
          <small *ngIf="modalAnswer.follow">{{ 'MARKET_REPORT.PROFESSIONAL.FOLLOW' | translate }}</small>
        </div>
        <div *ngIf="adminMode">
          <strong>Time spent : </strong>
          {{floor(modalAnswer.time_elapsed/60)}} min.
          {{floor(modalAnswer.time_elapsed%60)}} sec.
          <br>
          <strong>IP : </strong>{{modalAnswer.ip}}<br>
          <shared-tag-item *ngIf="adminMode" [big]="true" [prop]="profile" [tags]="modalAnswer.tags" (tagsChange)="updateTags($event)"></shared-tag-item>
        </div>
        <p>
          <a *ngIf="(modalAnswer.professional?.firstName || modalAnswer.professional?.lastName) && modalAnswer.professional?.profileUrl"
             href="{{modalAnswer.professional?.profileUrl}}" target="_blank">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{ 'MARKET_REPORT.POPUP.PROFIL' | translate }}
          </a><br>
          <a href="mailto: {{modalAnswer.professional?.email}}">{{modalAnswer.professional?.email}}</a><br>
          {{ 'MARKET_REPORT.POPUP.RECEIVED' | translate }} {{modalAnswer.date | date : dateFormat}} à {{modalAnswer.date | date:'HH:mm'}}<br>
          <img *ngIf="modalAnswer.country" [src]="buildImageUrl(modalAnswer.country.notation)" width="30" height="20">
          {{(modalAnswer.country) ? modalAnswer.country.text : ""}}
        </p>
      </div>
    </div>
    <div class="modal-body">
      <div *ngFor="let question of questions">
        <shared-answer-question
          [adminMode]="adminMode"
          [question]="question"
          [fullAnswer]="modalAnswer"
          (ratingChange)="updateQuality($event)"
        ></shared-answer-question>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-error"
              *ngIf="adminMode && (modalAnswer.status === 'SUBMITTED' || modalAnswer.status === 'TO_COMPLETE')"
              (click)="changeStatus('REJECTED')">
        <i class="fa fa-trash"></i> Rejeter
      </button>
      <button class="btn btn-warning"
              *ngIf="adminMode && (modalAnswer.status === 'SUBMITTED' || modalAnswer.status === 'TO_COMPLETE' || modalAnswer.status === 'REJECTED' || (modalAnswer.status === 'DRAFT' && modalAnswer.professional.email))"
              (click)="changeStatus('TO_COMPLETE')">
        <i class="fa fa-rocket"></i> À compléter
      </button>
      <button class="btn btn-success"
              *ngIf="adminMode && (modalAnswer.status !== 'VALIDATED' && modalAnswer.professional.email)"
              (click)="changeStatus('VALIDATED')">
        <i class="fa fa-check"></i> Valider
      </button>
      <button class="btn btn-error"
              *ngIf="adminMode && (modalAnswer.status === 'VALIDATED' && modalAnswer.professional.email)"
              (click)="changeStatus('SUBMITTED')">
        <i class="fa fa-minus"></i> Invalider
      </button>
      <button *ngIf="adminMode" class="btn btn-primary" (click)="save()">{{ 'COMMON.SAVE' | translate }}</button>
      <button class="btn btn-default" (click)="close()">{{ 'MARKET_REPORT.POPUP.BACK' | translate }}</button>
    </div>
  </div>
</div>
