@import "../../../../../../../../../style/framework/src/variables";

#admin-community-member-component {

  .section-header {
    background-color: $bg-color-light;

    .name-wrapper {
      border-bottom: $border-width solid $border-color;
      padding-bottom: $unit-5;

      .title-primary {
        font-size: 1.15rem;
        margin-bottom: 0;
        margin-right: $unit-5;
      }

    }

  }

  .section-details {

    .info-wrapper {
      justify-content: space-between;

      .info-body {
        flex-direction: column;
        flex: 2;
        padding-top: 1.25rem;
        padding-right: $layout-spacing;

        .form-group {
          margin-bottom:  0.5rem;
          position: relative;
        }

        .form-label {
          color: $form-meta-color;
        }

        .form-input, .form-select, .input-suggestion, .form-textarea .form-input {
          max-width: 380px;
        }

        .form-textarea {
          margin-bottom: $unit-5;

          .form-input {
            padding-right: 0.75rem;
          }

        }

        .tags-wrapper {
          overflow: auto;
          max-height: 933px;

          .tags {

            .form-checkbox {

              .form-icon {
                border-width: 2px;
                border-color: $border-meta-color;
                background: transparent;
              }

              .form-icon::before {
                height: 10px;
                width: 5px;
                margin-left: -2px;
                margin-top: -6px;
              }

              span {
                font-size: 12px;
              }

            }

            .form-checkbox input:checked + .form-icon, .form-checkbox input:checked + .form-icon::before {
              border-color: $primary-color;
            }

          }

        }

        &.tag-info-body {
          flex: 1;
        }

      }

    }

    .suggested-wrapper {

      .title-secondary {
        font-size: $font-size-md;
      }

      .card-wrapper {
        flex-wrap: wrap;
        margin-right: -$unit-5;
        margin-bottom: -1.5rem;

        .card {
          flex: 0 1 210px;
          margin-right: $unit-5;
          border: none;
          overflow: hidden;
          background-color: transparent;
          margin-bottom: 1.5rem;

          .card-image {

            img {
              height: 130px;
            }

            .btn {
              visibility: hidden;
              top: 35%;
              left: 27%;
            }

          }

          .card-header {

            .card-title {
              font-size: 0.65rem;
            }

          }

          &:hover {
            box-shadow: none;

            .btn {
              visibility: visible !important;
            }

          }

        }

      }

    }

  }

}


@media (max-width: $size-sm) {

  #admin-community-member-component {

    .info-wrapper, .card-wrapper {
      flex-direction: column;
    }

    .form-textarea, .form-input, .suggestion, .form-select {
      max-width: 480px !important;
    }

    .info-body {
      padding-right: 0 !important;
    }

    .suggested-wrapper {

      .card, .card-wrapper {
        margin-right: unset !important;
      }

    }

  }

}
