@import "../../../../../../style/framework/src/variables";

.shared-preset-section {

  .header-wrapper {
    background-color: $bg-draft-color;
    min-height: 40px;
    border-radius: 10px;
    padding: 20px 25px 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: $text-white-color;
    box-shadow: 0 4px 16px rgba(20,23,28,0.25);

    .form-input {
      min-width: 200px;
    }

    .move-arrows {
      display: flex;
      flex-direction: column;
      font-size: 13px;
      margin-right: 15px;

      i {
        cursor: pointer;

        &:hover {
          color: $text-primary-color;
        }

      }

    }

  }

  #sharedPresetSection-btn-add-question {

    .icon-container {
      color: $text-white-color;

      &::before {
        background-color: $bg-primary-color;
      }

    }

  }
}
