@import "../../../../../../../style/framework/src/variables";

.popover {

  .icon {
    margin: 0;

    .fas {
      font-size: 18px;
    }

  }

  .popover-container {

    .card {
      list-style: none;
      margin: 0;

      .card-body {
        margin-top: 0;
        padding: 0.75rem;
        border-bottom: $border-width solid $border-color;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }

      }

    }

  }

}
