@import "../../../../../../../style/variables";

.item-menu-sandwich {
  cursor: pointer;
  font-size: 1.375rem;
  opacity: 0.5;
  align-self: auto;
}

.item-menu-sandwich:hover {
  opacity: 1;
}

.users-menu {
  background: white;
  box-shadow: $box-shadow;
  max-width: 290px;
  z-index: 3;

  ul li {
    border-bottom: 1px solid $border-color;
    padding: .9375rem 0;
    margin: 0;
    list-style: none;
    color: $text-dark;

    &:last-child {
      border-bottom: none;
    }

  }

}
