<div id="market-test-objectives">

  <!-- heading -->
  <h1 class="title text-white text-center is-4 text-bold">
    {{ 'MARKET_TEST_OBJECTIVES.HEADINGS.CATEGORY' | translate }}
  </h1>
  <!-- /heading -->

  <!-- categories -->
  <div class="flex-centered flex-wrap p-top-10">
    <a
      (click)="onChangeCategory($event, category)"
      *ngFor="let category of objectivesCategory"
      [href]="'#arrow-templates'"
      [id]="'market-test-category-'+category.toLowerCase()"
      [ngClass]="{'active': selectedCategory === category}"
      class="objectives-category m-bottom-25 m-left-10 m-right-10 box-info"
      pageScroll>
      <h4>{{ 'MARKET_TEST_OBJECTIVES.CATEGORY.TITLE.' + category | translate }}</h4>
      <p>{{ 'MARKET_TEST_OBJECTIVES.CATEGORY.DESCRIPTION.' + category | translate }}</p>
    </a>
  </div>
  <!-- /categories -->

  <ng-container *ngIf="!!selectedCategory">

    <!-- arrow -->
    <div class="flex-centered p-top-20">
      <img
        alt="Arrow bottom"
        class="img-responsive"
        src="https://res.cloudinary.com/umi/image/upload/app/default-images/configurator/arrow-bottom.svg">
    </div>
    <!-- /arrow -->

    <!-- text -->
    <div class="text-center p-top-40">
      <h2 class="text-bold text-white title is-4">{{ 'MARKET_TEST_OBJECTIVES.WHAT_NEXT' | translate }}</h2>
    </div>
    <!-- /text -->

    <!-- mission templates -->
    <div class="section-templates relative">

      <!-- templates -->
      <div class="flex-between templates-wrapper relative">
        <ng-container *ngFor="let template of missionTemplates; let i = index;">

          <div
            [ngClass]="{'disabled': !selectedCategory || template['category'] !== selectedCategory}"
            class="template-case relative">

            <a [href]="'#arrow-methodology'" pageScrollOffset="10" pageScroll class="d-block">
              <p
                [ngClass]="{'active': selectedTemplate._id === template._id}"
                (click)="onChangeTemplate($event, template)"
                [id]="'market-test-template-'+templateName(template).toLowerCase()"
                class="box-info text-white text-medium text-md flex-centered">
                {{ templateName(template) }}
              </p>
            </a>

            <!-- boat start / middle -->
            <ng-container *ngIf="(i === 0 && (!selectedCategory || (selectedCategory === 'INNOVATE' &&
            !selectedTemplate._id))) || (i === 3 && selectedCategory === 'INNOVATION' &&
            !selectedTemplate._id)">
              <div class="boat-image hide-lg">
                <img
                  alt="Compass active"
                  class="img-responsive animate-fade is-9 is-boat"
                  src="https://res.cloudinary.com/umi/image/upload/app/default-images/configurator/boat.svg">
              </div>
            </ng-container>
            <!-- boat start / middle -->

            <!-- compass / boat image -->
            <div class="boat-image compass-image">

              <ng-container *ngIf="selectedCategory === template['category']; else compassInactive">
                <ng-container *ngIf="selectedTemplate._id === template._id; else compassActive">
                  <img
                    alt="Compass active"
                    class="img-responsive animate-fade is-9 is-boat"
                    src="https://res.cloudinary.com/umi/image/upload/app/default-images/configurator/boat.svg">
                </ng-container>
                <ng-template #compassActive>
                  <img
                    alt="Compass active"
                    class="img-responsive animate-fade is-5"
                    src="https://res.cloudinary.com/umi/image/upload/app/default-images/configurator/compass-active.svg">
                </ng-template>
              </ng-container>

              <ng-template #compassInactive>
                <img
                  alt="Compass inactive animate-fade is-5"
                  class="img-responsive"
                  src="https://res.cloudinary.com/umi/image/upload/app/default-images/configurator/compass-inactive.svg">
              </ng-template>

            </div>
            <!-- /compass / boat image -->

          </div>
        </ng-container>
      </div>
      <!-- /templates -->

      <div class="market-path hide-lg"></div>

      <!-- island image -->
      <div class="island-image hide-lg absolute">
        <img
          [src]="'https://res.cloudinary.com/umi/image/upload/app/default-images/configurator/island-'+currentLang+'.png'"
          alt="Test island"
          class="img-responsive">
      </div>
      <!-- /island image -->

    </div>
    <!-- /mission templates -->

  </ng-container>

  <!-- arrow -->
  <div class="flex-centered p-top-40 p-bottom-50" id="arrow-templates">
    <img
      *ngIf="!!selectedTemplate._id"
      alt="Arrow bottom"
      class="img-responsive"
      src="https://res.cloudinary.com/umi/image/upload/app/default-images/configurator/arrow-bottom.svg">
  </div>
  <!-- /arrow -->

  <!-- methodology -->
  <div
    [ngClass]="selectedTemplate._id ? 'wrapper-expand' : 'wrapper-collapse'"
    class="section-methodology m-left-auto m-right-auto">
    <ng-container *ngIf="!!selectedTemplate._id">
      <app-market-test-methodology
        [objective]="templateName(selectedTemplate, 'en')">
      </app-market-test-methodology>
    </ng-container>
  </div>
  <!-- /methodology -->

  <!-- arrow -->
  <div id="arrow-methodology" class="flex-centered p-top-50">
    <img
      *ngIf="!!selectedTemplate._id"
      alt="Arrow bottom"
      class="img-responsive"
      src="https://res.cloudinary.com/umi/image/upload/app/default-images/configurator/arrow-bottom.svg">
  </div>
  <!-- /arrow -->

  <!-- if template selected -->
  <ng-container *ngIf="!!selectedTemplate._id">

    <!-- text -->
    <div class="text-center p-top-40 p-bottom-10">
      <h2 class="text-bold text-white title is-4">{{ 'MARKET_TEST_OBJECTIVES.ALSO_LIKE' | translate }}</h2>
      <h3 class="text-bold text-white subtitle text-lg">{{ 'MARKET_TEST_OBJECTIVES.SEVERAL_CHOICES' | translate }}</h3>
    </div>
    <!-- /text -->

    <!-- complementary objectives -->
    <app-market-test-objectives-complementary
      (objectivesComplementaryChange)="onChangeObjectivesComplementary($event)"
      [(objectiveComment)]="objectiveComment"
      [objectivesComplementary]="selectedTemplate.complementary">
    </app-market-test-objectives-complementary>
    <!-- /complementary objectives -->

  </ng-container>
  <!-- /if template selected -->

</div>
