<div [hidden]="!canAccess()" class="container fluid grid-2xl p-top-30" id="admin-enterprise-bulk-edit-management">
  <div class="column col-sm-12 col-11 col-mx-auto">
    <!-- select column to edit -->
    <section class="main-form-wrapper p-top-15">
      <div class="input-column">
        <span class="text is-sm">Patterns
        <i class="fas fa-info-circle is-primary" id="syntax-hover"
           [title]="'first_name, last_name, first_initial, last_initial'"></i>
        </span>
        <app-utility-input-list
          (update)="patternsUpdate($event)"
          [config]="patternConfig"
          [isSmall]="true"
          [isEditable]="true">
        </app-utility-input-list>
        <ng-container
          *ngTemplateOutlet="answerArea; context: {$implicit: getContext('patterns', patterns)}">
        </ng-container>
      </div>
      <div class="input-column">
        <span class="text is-sm">Enterprise url</span>
        <input class="form-input is-shadowed" [(ngModel)]="enterpriseUrlModel" (keyup.enter)="updateUrl()">
      </div>
      <div class="input-column">
        <span class="text is-sm">Industry</span>
        <app-utility-auto-suggestion
          [config]="industrySelectConfig"
          [isSmallInput]="true"
          (valueAdded)="getValueSelected($event)"
          (valueSelected)="getValueSelected($event)">
        </app-utility-auto-suggestion>
        <ng-container
          *ngTemplateOutlet="answerArea; context: {$implicit: getContext('industry', industries)}">
        </ng-container>
      </div>
      <div class="input-column">
        <span class="text is-sm">Brand</span>
        <app-utility-input-list
          style="height: 40px"
          (update)="brandUpdate($event)"
          [isSmall]="true"
          [config]="brandConfig"
          [isEditable]="true">
        </app-utility-input-list>
        <ng-container
          *ngTemplateOutlet="answerArea; context: {$implicit: getContext('brand', brands)}">
        </ng-container>
      </div>
      <div class="input-column">
        <span class="text is-sm">Enterprise Type</span>
        <app-utility-auto-suggestion
          [isSmallInput]="true"
          [config]="enterpriseTypeSelectConfig"
          (valueAdded)="getValueSelected($event)"
          (valueSelected)="getValueSelected($event)">
        </app-utility-auto-suggestion>
        <ng-container
          *ngTemplateOutlet="answerArea; context: {$implicit: getContext('enterpriseType', enterpriseTypes)}">
        </ng-container>
      </div>
      <div class="input-column">
        <span class="text is-sm">Geographical Zone</span>
        <app-utility-input-list
          style="height: 40px"
          (update)="geoZoneUpdate($event)"
          [config]="geoConfig"
          [isSmall]="true"
          [isEditable]="true">
        </app-utility-input-list>
        <ng-container
          *ngTemplateOutlet="answerArea; context: {$implicit: getContext('geoZone', geoZones)}">
        </ng-container>
      </div>
      <div class="input-column">
        <span class="text is-sm">Enterprise size</span>
        <app-utility-auto-suggestion
          [isSmallInput]="true"
          [config]="enterpriseSizeSelectConfig"
          (valueAdded)="getValueSelected($event)"
          (valueSelected)="getValueSelected($event)">
        </app-utility-auto-suggestion>
      </div>
      <div class="input-column">
        <span class="text is-sm">Value chain</span>
        <app-utility-auto-suggestion
          [config]="valueChainSelectConfig"
          [isSmallInput]="true"
          (valueAdded)="getValueSelected($event)"
          (valueSelected)="getValueSelected($event)">
        </app-utility-auto-suggestion>
        <ng-container
          *ngTemplateOutlet="answerArea; context: {$implicit: getContext('valueChain', valueChains)}">
        </ng-container>
      </div>
    </section>
    <!-- /select column to edit -->

    <!-- companies selected table -->
    <section class="p-bottom-15 p-top-20">
      <app-shared-table
        [(config)]="config"
        (sendUndoFilled)="undoFilled($event)"
        [data]="companiesTable">
      </app-shared-table>
    </section>
    <!-- /companies selected table -->

    <!-- button -->
    <section class="p-bottom-30 p-top-4" style="display: flex">
      <button class="button is-primary is-lg is-outlined"
              (click)="return()">
        Cancel
      </button>

      <button class="button is-primary is-lg is-outlined"
              (click)="cancel()">
        Discard
      </button>

      <button class="button is-primary is-lg"
              style="margin-left: auto"
              (click)="updateChange()">
        Update
      </button>
    </section>
    <!-- /button -->


  </div>
</div>

<ng-template #answerArea let-context>
  <ul class="answers-wrapper">
    <li *ngFor="let answer of context.answerList; let i = index">

      <!-- text -->
      <div class="answer-wrapper text-sm text-primary-dark m-right-2">
        <span
          *ngIf="context.type !== 'valueChain' && context.type !== 'enterpriseType'">{{answer.text || answer.name || answer.label || answer.expression }}</span>
        <span *ngIf="context.type === 'valueChain' || context.type === 'enterpriseType'">{{answer}}</span>
      </div>
      <!-- /text -->
      <!-- icons -->
      <div class="icons-wrapper">
        <!-- delete icon -->
        <div
          (click)="deleteItem(context.type, answer)"
          class="icon-container m-no-right is-overlay">
            <span [attr.data-tooltip]="'COMMON.TOOLTIP.DELETE' | translate" class="tooltip">
              <i class="icon icon-delete text-alert"></i>
            </span>
        </div>
        <!-- /delete icon -->

      </div>
      <!-- /icons -->

    </li>
  </ul>
</ng-template>
