<div [hidden]="!canAccess()" class="container fluid grid-2xl p-top-30" id="admin-enterprise-bulk-edit-management">
  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- select column to edit -->
    <section class="main-form-wrapper">

      <!-- selector column-->
      <ng-container>
        <div class="selector-wrapper">
          <span
            class="text-sm text-secondary-dark text-label text-normal">{{ 'COMMON.LABEL.SELECT_COLUMN_TO_EDIT' | translate }}
            :</span>
          <label>
            <select class="form-select" [(ngModel)]="columnAttrsSelected" (ngModelChange)="getInputType()">
              <option *ngFor="let column of companiesTable._columns.slice(2, companiesTable._columns.length)"
                      [value]="column._attrs">
                {{ column._name | translate | FormatText }}
              </option>
            </select>
          </label>
        </div>
        <!-- /selector column -->

        <!-- input value for the column - text type -->
        <div class="input-text-wrapper" *ngIf="inputType === 'text'">
            <span
              class="text-sm text-secondary-dark text-label text-normal">
            {{columnAttrsSelected | translate | FormatText}}
            </span>

          <label>
            <input
              class="form-input is-shadowed"
              [(ngModel)]="inputValue"
              id="input-form-inputValue"
              placeholder="Start typing..."
              type="text">
          </label>

          <!-- update button -->
          <button class="form-button is-primary is-outlined is-sm"
                  (click)="update()" [hidden]="inputValue===''">
            {{'COMMON.BUTTON.UPDATE' | translate }}
          </button>
          <!-- /update button -->
        </div>
        <!-- /input value for the column - text type  -->

      </ng-container>
    </section>
    <!-- /select column to edit -->


    <!-- companies selected table -->
    <section class="p-bottom-30 p-top-20">
      <app-shared-table
        [(config)]="config"
        [data]="companiesTable">
      </app-shared-table>
    </section>
    <!-- /companies selected table -->

  </div>
</div>

<app-utility-modal
  [title]="'Update'"
  [footer]="true"
  [(showModal)]="isShowModal"
  [maxWidth]="'380px'">
  <section class="modal-body">

    <!-- input form -->
    <form novalidate [formGroup]="form"
          *ngIf="inputType === 'objectArray' && columnAttrsSelected!== 'geographicalZone'"
          class="form-wrapper">
      <div class="input-wrapper">
        <div class="form-group">
          <label class="form-label" for="form-object-array">{{columnAttrsSelected | translate | FormatText }}</label>
          <app-utility-input-list
            [isSmall]="true"
            (update)="objectListUpdate($event)"
            [config]="objectConfig"
            [isEditable]="isEditable">
          </app-utility-input-list>
          <input class="form-input" formControlName="formObjectArray" type="hidden" id="form-object-array">
        </div>
      </div>
    </form>
    <!-- /input form -->

    <!-- update button -->
    <button class="form-button button is-primary is-outlined is-sm"
            style="position: absolute; right: 10px; bottom: 5px"
            (click)="update()" [hidden]="this.newObjectList.length===0">
      {{'COMMON.BUTTON.UPDATE' | translate }}
    </button>
    <!-- /update button -->

  </section>
</app-utility-modal>
