.main-container {
  background: #f2f2f2;
  padding-top: 25px;
  font-size: 0.65rem;
  color: #333333;

  .lang-section {

    .lang-button {
      background-color: #FAFAFA;
      color: #333333;
      padding: 0.4rem 0.7rem;
      height: 2.4rem;
      border-radius: 0.25rem !important;
      border-color: #333333;
      font-size: 0.7rem;
    }

    .icon-global {
      padding-right: 0.1rem;
      font-size: 0.6rem;
    }

    .icon-footer {
      padding-left: 0.7rem;
    }

    .btn:focus {
      box-shadow: none !important;
    }

    .btn-group .btn:first-child:not(:last-child) {
      border-radius: 0.25rem;
    }

    .menu {
      min-width: 6.5rem;
      border-radius: 0.25rem;
      transition: all 0.3s ease;
      text-align: left;
    }

    ul li {
      margin-top: 0;
      padding: 0.3rem;

      a {
        color: #333333;
      }

      a:hover {
        text-decoration: none;
        cursor: pointer;
        color: #0B90C6;
      }

    }

  }

  .footer-hr {
    margin-top: 35px;
    margin-bottom: 20px;
    border: .5px solid #333333;
    border-radius: .25rem;
  }

  .information-section {
    padding-top: 10px;
    transition: all 0.35s ease-in-out;

    a{
      color: #333333;
    }

  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .text-right {
    text-align: left!important;
  }

}
