//import
@import '../../../style/client-styles';

.main-container {
  background-color: #262831;
  padding-top: 25px;

  #lang-section {

    #lang-button {
      background-color: #FAFAFA;
      color: #333333;
      padding: 0.5rem 0.8rem;
      height: 2.4rem;
      border-radius: 0.25rem !important;
      border-color: unset !important;
    }

    .icon-footer {
      padding-left: 0.4rem;
    }

    .btn:focus {
      box-shadow: none !important;
    }

    .btn-group .btn:first-child:not(:last-child) {
      border-radius: 0.25rem;
    }

    .menu {
      min-width: 7rem;
      border-radius: 0.25rem;
      transition: all 0.3s ease;
      text-align: left;
    }

    ul li {
      margin-top: 0;
      padding: 0.3rem;

      a {
        color: #333333;
      }

      a:hover {
        text-decoration: none;
        cursor: pointer;
        color: $hover-color;
      }

    }

  }

  #footer-hr {
    margin-top: 35px;
    margin-bottom: 20px;
    border: 1px solid $para-color;
    border-radius: .25rem;
  }

  #information-section {
    padding-top: 10px;

    a{
      color: $primary-color;
      text-decoration: none;
    }

    a:hover {
      color: $hover-color;
    }

  }

}


