<div id="shared-professionals-list">
  <umius-table
    (configChange)="onConfigChange($event)"
    (editRow)="onClickEdit($event)"
    (performAction)="onClickActions($event)"
    (removeRows)="onClickDelete($event)"
    (selectRows)="onSelectRows($event)"
    [config]="localConfig"
    [data]="table">
  </umius-table>
</div>


<!-- sidebar -->
<umius-sidebar-full [(template)]="sidebarValue">

  <!-- professional -->
  <ng-container *ngIf="isProfessionalSidebar">
    <app-user-form
      (finalProfessionalData)="updateProfessional($event)"
      [campaign]="campaign"
      [isEditable]="canAccess(['user', 'edit'])"
      [pro]="selectedProfessional"
      [sidebarState]="sidebarValue.animate_state"
      [type]="sidebarValue.type">
    </app-user-form>
  </ng-container>
  <!-- /professional -->

  <!-- tags -->
  <app-sidebar-tags
    (newTags)="addProfessionalTags($event)"
    *ngIf="isTagsSidebar"
    [isEditable]="canAccess(['user', 'edit'])"
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type">
  </app-sidebar-tags>
  <!-- /tags -->

  <!-- sidebar to advanced search -->
  <div class="m-top-10 p-30" *ngIf="isFiltersSidebar">
    <app-shared-targeting-world
      (geographyChange)="onGeographyChange($event)"
      [(geography)]="geography"
      [isShowSearch]="true"
      [isEditable]="true">
    </app-shared-targeting-world>
  </div>

</umius-sidebar-full>
<!-- /sidebar -->


<!-- modal deletion-->
<umius-modal
  *ngIf="canAccess(['user', 'delete'])"
  [(showModal)]="modalDelete"
  [title]="'Delete Board'">

  <section class="modal-body">
    <div>Do you really want to delete the selected professional(s)?</div>
    <ul class="d-flex flex-wrap-wrap text-sm text-meta text-medium m-top-3">
      <li *ngFor="let professional of professionalsToRemove" class="m-right-3 m-top-1">
        {{ professional?.firstName }} {{ professional?.lastName }}
      </li>
    </ul>
  </section>

  <footer class="modal-footer">
    <button [disabled]="isDeleting" class="button modal-cancel" type="button">Cancel</button>
    <button
      [disabled]="isDeleting"
      (click)="onClickConfirm()"
      class="button is-primary"
      type="button">
      <ng-container *ngIf="isDeleting; else textDelete">
        deleting the professionals...
      </ng-container>
      <ng-template #textDelete>
        Confirm
      </ng-template>
    </button>
  </footer>

</umius-modal>
<!-- /modal deletion-->

<!-- modal-remove pro from campaign -->
<umius-modal
  *ngIf="canAccess(['user', 'edit'])"
  [(showModal)]="isShowModal"
  [title]="'Remove Professional'">

  <section class="modal-body">
    <div>
      Remove these professionals from this campaign?
    </div>
  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel" type="button" (click)="closeRemoveProModal()">Cancel</button>
    <button
      (click)="onClickConfirmRemovePros()"
      class="button is-primary"
      type="button">
      Confirm
    </button>
  </footer>

</umius-modal>
<!-- /modal-remove pro from campaign  -->
