@import'../../sidebar';

.sidebar-wrapper {
  width: 452px;
}

.sidebar-content {
  padding-top: 30px;
}

.terms-container {
  padding-top: 22px;
  font-size: 0.7rem;
  color: #97A4B1;
  padding-left: 15px;
  padding-right: 15px;
}

.signup-button {
  padding-top: 30px;
}

.mand-text {
  margin-top: 20px;
  padding-bottom: 10px;
}





