<div *ngIf="isBrowser" class="text-sm text-medium" id="piechart">

  <p *ngIf="showFavorable && pieChart" class="m-bottom-15 d-flex align-center justify-center">
    <ng-container  *ngIf="!editFavorableAnswersLabel">
      <span *ngIf="pieChart.percentage">
        {{ pieChart.percentage || 0 }}% {{ favorableAnswersLabel[reportingLang] || ('MARKET_REPORT.PIE_CHART' | translateIn: reportingLang) }}
      </span>
      <span  *ngIf="!pieChart.percentage && favorableAnswersLabel[reportingLang]">
        {{ favorableAnswersLabel[reportingLang]}}
      </span>
    </ng-container>

    <span *ngIf="editFavorableAnswersLabel" class="d-flex align-center">
      <span *ngIf="pieChart.percentage" class="m-right-4">{{ pieChart.percentage || 0 }}%</span>
      <input class="form-input text-sm" type="text" (focusout)="editFavorableAnswersLabel = false"
             [(ngModel)]="favorableAnswersLabel[reportingLang]"
             (ngModelChange)="positiveLabelChanged.emit(favorableAnswersLabel)">
    </span>

    <sub
      (click)="editFavorableAnswersLabel = !editFavorableAnswersLabel"
      *ngIf="!readonly"
      [attr.data-tooltip]="'Edit favorable answers label'"
      class="tooltip c-hand m-left-2">
      <img
        [src]="picto.edit.blue"
        alt="Edit"
        class="img-responsive">
    </sub>
  </p>

  <canvas
    class="c-hand"
    *ngIf="pieChart"
    [chartType]="'pie'"
    [colors]="colors"
    [datasets]="datasets"
    [labels]="pieChart.labels | multiling:reportingLang"
    [legend]="false"
    [options]="options"
    (chartClick)="chartClicked($event)"
    baseChart>
  </canvas>

  <ul *ngIf="pieChart" class="pie-data-wrapper animate-fade is-5">
    <li *ngFor="let label of (pieChart.labels | multiling:reportingLang); let i = index">
      <span
        class="shape is-circle is-xs m-right-1"
        [ngStyle]="{ 'background-color': colors[0].backgroundColor[i], 'border-color': colors[0].backgroundColor[i] }">
      </span>
      <span class="m-right-1">{{ pieChart.data[i] }}</span>
      <span class="m-right-1">{{ label }}</span>
      ({{ pieChart.labelPercentage[i] }})
    </li>
  </ul>

</div>
