<div *ngIf="isBrowser" class="text-sm text-medium" id="piechart">

  <p *ngIf="showFavorable && pieChart && pieChart.percentage" class="m-bottom-15">
    {{ pieChart.percentage || 0 }}% {{ 'MARKET_REPORT.PIE_CHART' | translate }}
  </p>

  <canvas
    class="c-hand"
    *ngIf="pieChart"
    [chartType]="'pie'"
    [colors]="colors"
    [datasets]="datasets"
    [labels]="pieChart.labels | multiling:lang"
    [legend]="false"
    [options]="options"
    (chartClick)="chartClicked($event)"
    baseChart>
  </canvas>

  <ul *ngIf="pieChart" class="pie-data-wrapper animate-fade is-5">
    <li *ngFor="let label of (pieChart.labels | multiling:lang); let i = index">
      <span
        class="shape is-circle is-xs m-right-1"
        [ngStyle]="{ 'background-color': colors[0].backgroundColor[i], 'border-color': colors[0].backgroundColor[i] }">
      </span>
      <span class="m-right-1">{{ pieChart.data[i] }}</span>
      <span class="m-right-1">{{ label }}</span>
      ({{ pieChart.labelPercentage[i] }})
    </li>
  </ul>

</div>
