<div class="container fluid" id="admin-project-description">
  <div class="column col-sm-12 col-11 col-mx-auto p-top-30 p-bottom-30">

    <!-- notify team -->
    <ng-container>
      <div class="text-center m-bottom-30">
        <button
          (click)="openModal($event, 'NOTIFY_TEAM')"
          [disabled]="isSendingNotification"
          class="button is-outlined"
          id="btn-notify-team">
          <i class="fas fa-bell icon-left"></i> Notify project team
        </button>
      </div>
    </ng-container>
    <!-- /notify team -->

    <p>START MENU KEBAB</p>
    <app-menu-kebab>
      <ng-container *ngFor="let item of items;">
        <ng-container *kebabCarouselItem>
          <div class="item">{{item}}</div>
        </ng-container>
      </ng-container>
    </app-menu-kebab>
    <p>START MENU KEBAB</p>

    <!-- sections dynamic -->
    <section
      *ngFor="let section of activeInnovCard.sections; let i=index;"
      [ngClass]="{'has-border': i > 0}"
      [ngStyle]="{ 'animation-duration': ((i + 1) * 110) + 'ms' }"
      class="animate-slide slide-down section-wrapper">
      <div
        [ngClass]="{'flex-d-column': !showComment[i.toString(10)] && !showSuggestion[i.toString(10)]}"
        class="section-body flex-d-column">

        <!-- content -->
        <div class="section-content">
          <div class="form-group">

            <!-- label / actions -->
            <div class="d-flex align-center flex-wrap-wrap m-bottom-15">

              <div class="d-flex align-center flex-wrap-wrap title-wrapper m-no-bottom" style="min-width: 100%">

                <label
                  [for]="section.type+i"
                  [id]="section.type.toUpperCase()+'-'+i + 1+'href'"
                  class="form-label m-right-20">
                  <span class="shape is-rounded bg-draft text-sm text-white">{{ i + 1 }}</span>
                  <ng-container *ngIf="!isEditable">{{ section.title }}</ng-container>
                  <ng-container *ngIf="isEditable">
                    <input
                      (change)="updateInnovation()"
                      [(ngModel)]="section.title"
                      [id]="section.type.toLowerCase()+'-'+i + 1"
                      autocomplete="off"
                      class="form-input is-sm is-shadowed w-300"
                      type="text">
                  </ng-container>
                </label>

                <!-- edit-preview button -->
                <button
                  *ngIf="isEditable"
                  [attr.data-tooltip]="!(getPadPreviewMode(i.toString()))? 'Preview':'Edit'"
                  (click)="padPreviewModeOnChange(i.toString())"
                  class="button tooltip is-circled is-outlined text-no-underline m-right-15 is-xs text-sm"
                  type="button">
                  <i *ngIf="getPadPreviewMode(i.toString())" class="fas fa-pencil-alt"></i>
                  <i *ngIf="!getPadPreviewMode(i.toString())" class="fas fa-eye"></i>
                </button>
                <!-- /edit-preview button -->

                <div class="d-flex align-center justify-center m-left-auto">

                  <a
                    (click)="onShowComment($event,  i.toString(10))"
                    [ngClass]="{'is-draft': !showComment[i.toString(10)]}"
                    class="button is-link text-medium is-sm p-1 m-no has-no-min-width">
                    Comment
                  </a>

                  <a
                    (click)="onShowSuggestion($event,  i.toString(10))"
                    [ngClass]="{'is-draft': !showSuggestion[i.toString(10)]}"
                    class="button is-link text-medium is-sm p-1 m-no has-no-min-width">
                    Suggestion
                  </a>

                  <!-- visibility -->
                  <div
                    *ngIf="isEditable"
                    (click)="toggleVisibility($event, i)"
                    [ngClass]="{'m-right-15': section.type === 'OTHER'}"
                    class="icon-container is-overlay">
                    <span [attr.data-tooltip]="section.visibility ? 'Hide section' : 'Un-hide section'" class="tooltip">
                      <i [ngClass]="section.visibility ? 'fas fa-eye' : 'fas fa-eye-slash'" class="text-alert"></i>
                    </span>
                  </div>
                  <!-- /visibility -->

                  <!-- delete -->
                  <div
                    (click)="openModal($event, 'DELETE_SECTION', i)"
                    *ngIf="isEditable && section.type === 'OTHER'"
                    class="icon-container is-overlay">
                    <span class="tooltip" data-tooltip="Delete section">
                      <i class="text-alert icon icon-delete"></i>
                    </span>
                  </div>
                  <!-- /delete -->

                </div>

              </div>

            </div>
            <!-- /label / actions -->

            <app-shared-editors
              [hidden]="!isEditable || getPadPreviewMode(i.toString())"
              [isEditable]="isEditable"
              (textChange)="onContentChange($event, 'sections', i)"
              [text]="section.content"
              [innovationId]="innovation._id"
              [elementId]="section.etherpadElementId || section.type.toLowerCase()+'-'+i + 1 + '-' + currentLang"
              [type]="'pitch'">
            </app-shared-editors>

            <ng-container *ngIf="getPadPreviewMode(i.toString())">
              <div [innerHTML]="activeInnovCard.sections[i].content | cleanHtml" class="pad-preview-mode"></div>
            </ng-container>

            <ng-container *ngIf="!isEditable">
              <p [innerHTML]="section.content" class="text-15"></p>
            </ng-container>

          </div>
        </div>
        <!-- /content -->

        <!-- suggestion / comments -->
        <div *ngIf="showComment[i.toString(10)] || showSuggestion[i.toString(10)]" class="section-suggestion">

          <!-- comment -->
          <ng-container *ngIf="showComment[i.toString(10)]">
            <div [id]="section.type.toUpperCase()+'-'+i + 1+'href-comment'" class="m-bottom-20">

              <!-- toggle button -->
              <div (click)="onToggleComment($event, i.toString(10))" class="d-inline-flex align-center c-hand">
                <div class="icon-container is-sm is-overlay m-right-1">
                  <i
                    [ngClass]="toggleComment[i.toString(10)] ? 'icon icon-arrow-up' : 'icon icon-arrow-down'"
                    class="text-primary">
                  </i>
                </div>
                <span class="text-medium">Comment</span>
              </div>
              <!-- /toggle button -->

              <!-- text -->
              <div class="m-top-20">

                <div
                  [hidden]="!isEditableComment"
                  [ngClass]="{'is-hidden': !toggleComment[i.toString(10)]}"
                  class="box-shadow">
                  <app-shared-editor-tinymce
                    (onTextChange)="onCommentChange($event, 'sections', 'comment', i,
                    section.type, section.etherpadElementId)"
                    [data]="zoneData('sections', 'comment', section.type, section.etherpadElementId)"
                    [id]="section.type.toLowerCase()+'-'+i + 1+'-comment'">
                  </app-shared-editor-tinymce>
                </div>

                <ng-container *ngIf="!isEditableComment">
                  <div [ngClass]="{'is-hidden': !toggleComment[i.toString(10)]}" class="comment-text">
                    <p
                      [innerHTML]="zoneData('sections', 'comment', section.type, section.etherpadElementId)">
                    </p>
                  </div>
                </ng-container>

              </div>
              <!-- /text -->

            </div>
          </ng-container>
          <!-- /comment -->

          <!-- suggestion -->
          <ng-container *ngIf="showSuggestion[i.toString(10)]">
            <div [id]="section.type.toUpperCase()+'-'+i + 1+'href-suggestion'">

              <!-- toggle button -->
              <div (click)="onToggleSuggestion($event, i.toString(10))" class="d-inline-flex align-center c-hand">
                <div class="icon-container is-sm is-overlay m-right-1">
                  <i
                    [ngClass]="toggleSuggestion[i.toString(10)] ? 'icon icon-arrow-up' : 'icon icon-arrow-down'"
                    class="text-primary">
                  </i>
                </div>
                <span class="text-medium">Suggestion</span>
              </div>
              <!-- /toggle button -->

              <!-- text -->
              <div class="m-top-20">

                <div
                  [hidden]="!isEditableComment"
                  [ngClass]="{'is-hidden': !toggleSuggestion[i.toString(10)]}"
                  class="box-shadow">
                  <app-shared-editors
                    (textChange)="onCommentChange($event, 'sections', 'suggestion', i,
                    section.type, section.etherpadElementId)"
                    [isEditable]="isEditableComment"
                    [text]="zoneData('sections', 'suggestion', section.type, section.etherpadElementId)"
                    [innovationId]="innovation._id"
                    [elementId]="section.etherpadElementId || section.type.toLowerCase()+'-'+i + 1 + '-' + currentLang"
                    type="suggestion">
                  </app-shared-editors>
                </div>

                <ng-container *ngIf="!isEditableComment">
                  <div [ngClass]="{'is-hidden': !toggleSuggestion[i.toString(10)]}" class="comment-text">
                    <p
                      [innerHTML]="zoneData('sections', 'suggestion', section.type, section.etherpadElementId)">
                    </p>
                  </div>
                </ng-container>

              </div>
              <!-- /text -->

            </div>
          </ng-container>
          <!-- /suggestion -->

        </div>
        <!-- /suggestion / comments -->

      </div>
    </section>
    <!-- /sections dynamic -->

    <!-- add new section -->
    <section *ngIf="isEditable" class="text-center section__add">
      <button
        (click)="openModal($event, 'NEW_SECTION')"
        class="button is-info is-lg"
        type="button">
        <i class="fas fa-plus-circle icon-left text-lg"></i> Add a new section
      </button>
    </section>
    <!-- /add new section -->

    <!-- section title -->
    <section class="animate-slide slide-down section-wrapper" style="animation-duration: 100ms">
      <div [ngClass]="{'flex-d-column': !showComment['title'] && !showSuggestion['title']}" class="section-body">

        <!-- content -->
        <div class="section-content">
          <div class="form-group">

            <div class="d-flex align-center flex-wrap-wrap title-wrapper" style="min-width: 100%">

              <label class="form-label m-right-20" for="project-title" id="project-title-href">
                <span class="shape is-rounded bg-draft text-sm text-white">
                  {{activeInnovCard.sections.length + 1}}
                </span>
                Title
              </label>

              <!-- edit-preview button -->
              <button
                (click)="padPreviewModeOnChange('title')"
                *ngIf="isEditable"
                [attr.data-tooltip]="!(getPadPreviewMode('title'))? 'Preview':'Edit'"
                class="button tooltip is-circled is-outlined text-no-underline m-right-15 is-xs text-sm"
                type="button">
                <i *ngIf="getPadPreviewMode('title')" class="fas fa-pencil-alt"></i>
                <i *ngIf="!getPadPreviewMode('title')" class="fas fa-eye"></i>
              </button>
              <!-- edit-preview button -->

              <div class="d-flex justify-start align-center m-left-auto">
                <a
                  (click)="onShowComment($event,  'title')"
                  [ngClass]="{'is-draft': !showComment['title']}"
                  class="button is-link text-medium is-sm p-1 m-no has-no-min-width">
                  Comment
                </a>
                <a
                  (click)="onShowSuggestion($event,  'title')"
                  [ngClass]="{'is-draft': !showSuggestion['title']}"
                  class="button is-link text-medium is-sm p-1 m-no has-no-min-width">
                  Suggestion
                </a>
              </div>

            </div>

            <app-shared-editors
              [hidden]="!isEditable || getPadPreviewMode('title')"
              id="project-title"
              (textChange)="onContentChange($event, 'title')"
              [text]="activeInnovCard.title"
              [innovationId]="innovation._id"
              [elementId]="'title-' + currentLang"
              type="pitch"
              [isEditable]="isEditable">
            </app-shared-editors>

            <ng-container *ngIf="getPadPreviewMode('title')">
              <div [innerHTML]="activeInnovCard.title | cleanHtml" class="pad-preview-mode"></div>
            </ng-container>

            <ng-container *ngIf="!isEditable">
              <p [innerHTML]="activeInnovCard.title" class="text-15"></p>
            </ng-container>

          </div>
        </div>
        <!-- /content -->

        <!-- suggestion / comments -->
        <div *ngIf="showComment['title'] || showSuggestion['title']" class="section-suggestion">

          <!-- comment -->
          <ng-container *ngIf="showComment['title']">
            <div [id]="'project-title-href-comment'" class="m-bottom-20">

              <!-- toggle button -->
              <div (click)="onToggleComment($event, 'title')" class="d-inline-flex align-center c-hand">
                <div class="icon-container is-sm is-overlay m-right-1">
                  <i
                    [ngClass]="toggleComment['title'] ? 'icon icon-arrow-up' : 'icon icon-arrow-down'"
                    class="text-primary">
                  </i>
                </div>
                <span class="text-medium">Comment</span>
              </div>
              <!-- /toggle button -->

              <!-- text -->
              <div class="m-top-20">

                <div
                  [hidden]="!isEditableComment"
                  [ngClass]="{'is-hidden': !toggleComment['title']}"
                  class="box-shadow">
                  <app-shared-editor-tinymce
                    (onTextChange)="onCommentChange($event, 'title', 'comment')"
                    [data]="zoneData('title', 'comment')"
                    id="title-comment">
                  </app-shared-editor-tinymce>
                </div>

                <ng-container *ngIf="!isEditableComment">
                  <div [ngClass]="{'is-hidden': !toggleComment.title}" class="comment-text">
                    <p [innerHTML]="zoneData('title', 'comment')"></p>
                  </div>
                </ng-container>

              </div>
              <!-- /text -->

            </div>
          </ng-container>
          <!-- /comment -->

          <!-- suggestion -->
          <ng-container *ngIf="showSuggestion['title']">
            <div [id]="'project-title-href-suggestion'">

              <!-- toggle button -->
              <div (click)="onToggleSuggestion($event, 'title')" class="d-inline-flex align-center c-hand">
                <div class="icon-container is-sm is-overlay m-right-1">
                  <i
                    [ngClass]="toggleSuggestion['title'] ? 'icon icon-arrow-up' : 'icon icon-arrow-down'"
                    class="text-primary">
                  </i>
                </div>
                <span class="text-medium">Suggestion</span>
              </div>
              <!-- /toggle button -->

              <!-- text -->
              <div class="m-top-20">

                <div
                  [hidden]="!isEditableComment"
                  [ngClass]="{'is-hidden': !toggleSuggestion['title']}"
                  class="box-shadow">
                  <app-shared-editors
                    [isEditable]="isEditableComment"
                    (textChange)="onCommentChange($event, 'title', 'suggestion')"
                    [text]="zoneData('title', 'suggestion')"
                    [innovationId]="innovation._id"
                    [elementId]="'title-' + currentLang"
                    type="suggestion">
                  </app-shared-editors>
                </div>

                <ng-container *ngIf="!isEditableComment">
                  <div [ngClass]="{'is-hidden': !toggleSuggestion.title}" class="comment-text">
                    <p [innerHTML]="zoneData('title', 'suggestion')"></p>
                  </div>
                </ng-container>

              </div>
              <!-- /text -->

            </div>
          </ng-container>
          <!-- /suggestion -->

        </div>
        <!-- /suggestion / comments -->

      </div>
    </section>
    <!-- /section title -->

    <!-- section summary -->
    <section class="animate-slide slide-down section-wrapper has-border" style="animation-duration: 220ms">
      <div [ngClass]="{'flex-d-column': !showComment['summary'] && !showSuggestion['summary']}" class="section-body">

        <!-- content -->
        <div class="section-content">
          <div class="form-group">

            <div class="d-flex align-center flex-wrap-wrap title-wrapper" style="min-width: 100%">

              <label class="form-label m-right-20" for="project-title" id="project-summary-href">
                <span class="shape is-rounded bg-draft text-sm text-white">
                  {{activeInnovCard.sections.length + 2}}
                </span>
                Summary
              </label>

              <!-- edit-preview button -->
              <button
                (click)="padPreviewModeOnChange('summary')"
                *ngIf="isEditable"
                [attr.data-tooltip]="!(getPadPreviewMode('summary'))? 'Preview':'Edit'"
                class="button tooltip is-circled is-outlined text-no-underline m-right-15 is-xs text-sm"
                type="button">
                <i *ngIf="getPadPreviewMode('summary')" class="fas fa-pencil-alt"></i>
                <i *ngIf="!getPadPreviewMode('summary')" class="fas fa-eye"></i>
              </button>
              <!-- edit-preview button -->

              <div class="d-flex justify-start align-center m-left-auto">
                <a
                  (click)="onShowComment($event,  'summary')"
                  [ngClass]="{'is-draft': !showComment['summary']}"
                  class="button is-link text-medium is-sm p-1 m-no has-no-min-width">
                  Comment
                </a>
                <a
                  (click)="onShowSuggestion($event,  'summary')"
                  [ngClass]="{'is-draft': !showSuggestion['summary']}"
                  class="button is-link text-medium is-sm p-1 m-no has-no-min-width">
                  Suggestion
                </a>
              </div>

            </div>

            <app-shared-editors
              [hidden]="!isEditable || getPadPreviewMode('summary')"
              id="project-summary"
              (textChange)="onContentChange($event, 'summary')"
              [text]="activeInnovCard.summary"
              [innovationId]="innovation._id"
              [elementId]="'summary-' + currentLang"
              type="summary"
              [isEditable]="isEditable">
            </app-shared-editors>

            <ng-container *ngIf="getPadPreviewMode('summary')">
              <div [innerHTML]="activeInnovCard.summary | cleanHtml" class="pad-preview-mode"></div>
            </ng-container>

            <ng-container *ngIf="!isEditable">
              <p [innerHTML]="activeInnovCard.summary" class="text-15"></p>
            </ng-container>

          </div>
        </div>
        <!-- /content -->

        <!-- suggestion / comments -->
        <div *ngIf="showComment['summary'] || showSuggestion['summary']" class="section-suggestion">

          <!-- comment -->
          <ng-container *ngIf="showComment['summary']">
            <div [id]="'project-summary-href-comment'" class="m-bottom-20">

              <!-- toggle button -->
              <div (click)="onToggleComment($event, 'summary')" class="d-inline-flex align-center c-hand">
                <div class="icon-container is-sm is-overlay m-right-1">
                  <i
                    [ngClass]="toggleComment['summary'] ? 'icon icon-arrow-up' : 'icon icon-arrow-down'"
                    class="text-primary">
                  </i>
                </div>
                <span class="text-medium">Comment</span>
              </div>
              <!-- /toggle button -->

              <!-- text -->
              <div class="m-top-20">

                <div
                  [hidden]="!isEditableComment"
                  [ngClass]="{'is-hidden': !toggleComment['summary']}"
                  class="box-shadow">
                  <app-shared-editor-tinymce
                    (onTextChange)="onCommentChange($event, 'summary', 'comment')"
                    [data]="zoneData('summary', 'comment')"
                    id="summary-comment">
                  </app-shared-editor-tinymce>
                </div>

                <ng-container *ngIf="!isEditableComment">
                  <div [ngClass]="{'is-hidden': !toggleComment.summary}" class="comment-text">
                    <p [innerHTML]="zoneData('summary', 'comment')"></p>
                  </div>
                </ng-container>

              </div>
              <!-- /text -->

            </div>
          </ng-container>
          <!-- /comment -->

          <!-- suggestion -->
          <ng-container *ngIf="showSuggestion['summary']">
            <div [id]="'project-summary-href-suggestion'">

              <!-- toggle button -->
              <div (click)="onToggleSuggestion($event, 'summary')" class="d-inline-flex align-center c-hand">
                <div class="icon-container is-sm is-overlay m-right-1">
                  <i
                    [ngClass]="toggleSuggestion['summary'] ? 'icon icon-arrow-up' : 'icon icon-arrow-down'"
                    class="text-primary">
                  </i>
                </div>
                <span class="text-medium">Suggestion</span>
              </div>
              <!-- /toggle button -->

              <!-- text -->
              <div class="m-top-20">

                <div
                  [hidden]="!isEditableComment"
                  [ngClass]="{'is-hidden': !toggleSuggestion['summary']}"
                  class="box-shadow">
                  <app-shared-editors
                    [isEditable]="isEditableComment"
                    (textChange)="onCommentChange($event, 'summary', 'suggestion')"
                    [text]="zoneData('summary', 'suggestion')"
                    [innovationId]="innovation._id"
                    [elementId]="'summary-' + currentLang"
                    type="suggestion">
                  </app-shared-editors>
                </div>

                <ng-container *ngIf="!isEditableComment">
                  <div [ngClass]="{'is-hidden': !toggleSuggestion.summary}" class="comment-text">
                    <p [innerHTML]="zoneData('summary', 'suggestion')"></p>
                  </div>
                </ng-container>

              </div>
              <!-- /text -->

            </div>
          </ng-container>
          <!-- /suggestion -->

        </div>
        <!-- /suggestion / comments -->

      </div>
    </section>
    <!-- /section summary -->

    <!-- section media -->
    <section
      [ngStyle]="{ 'animation-duration': ((activeInnovCard.sections.length) * 110) + 'ms' }"
      class="section-wrapper has-border p-no-bottom"
      id="project-media">

      <div class="section-body" style="flex-direction: row">

        <!-- image -->
        <div class="section-content">
          <div class="form-group">
            <div class="title-wrapper">
              <label class="form-label" id="project-media-href">
                <span class="shape is-rounded bg-draft text-sm text-white">
                  {{ activeInnovCard.sections && activeInnovCard.sections.length + 3 || 4 }}
                </span>
                Add medias
              </label>
            </div>
            <div *ngIf="isEditable" class="bg-white box-shadow">
              <app-shared-upload-zone-photo
                [uri]="'/innovation/'+innovation._id+'/innovationCard/'+activeInnovCard._id+'/media/image'"
                (cbFn)="uploadImage($event)">
              </app-shared-upload-zone-photo>
            </div>
          </div>
        </div>
        <!-- /image -->

        <!-- video -->
        <div style="padding-top: 45px" class="section-suggestion">
          <div *ngIf="isEditable" class="bg-white box-shadow">
            <app-shared-upload-zone-video
              (cbFn)="uploadVideo($event)"
              [isUploading]="isUploadingVideo">
            </app-shared-upload-zone-video>
          </div>
        </div>
        <!-- /video -->

      </div>

      <!-- medias display -->
      <div
        *ngIf="activeInnovCard.media.length"
        style="margin-left: -10px; margin-right: -20px"
        class="d-flex flex-wrap-wrap">

        <!-- principal media -->
        <div *ngIf="activeInnovCard.principalMedia" class="text-center media-wrapper">

          <!-- if type === 'PHOTO' -->
          <figure *ngIf="activeInnovCard.principalMedia['type'] && activeInnovCard.principalMedia['type'] === 'PHOTO'
          && mediaSrc(activeInnovCard.principalMedia, 'IMAGE')">
            <img
              style="cursor: pointer"
              (click)="mediaToShow(mediaSrc(activeInnovCard.principalMedia, 'IMAGE'))"
              [src]="mediaSrc(activeInnovCard.principalMedia, 'IMAGE')"
              alt=" "
              class="img-responsive"
              height="159"
              width="240">
          </figure>
          <!-- /if type === 'PHOTO' -->

          <!-- if type === 'VIDEO' -->
          <iframe
            *ngIf="activeInnovCard.principalMedia['type'] && activeInnovCard.principalMedia['type'] === 'VIDEO'
            && mediaSrc(activeInnovCard.principalMedia, 'VIDEO')"
            [src]="mediaSrc(activeInnovCard.principalMedia, 'VIDEO')"
            height="159"
            width="240">
          </iframe>
          <!-- /if type === 'VIDEO' -->

          <span class="text-sm p-top-1">Main media</span>

          <!-- delete button -->
          <div *ngIf="isEditable" class="text-sm p-top-1">
            <span
              (click)="onDeleteMedia(activeInnovCard.principalMedia)"
              [ngClass]="isSavingMedia ? 'text-disabled' : 'c-hand text-hover-underline'"
              class="text-alert"
              [id]="'btn-delete-principal-media'">
              Delete media
            </span>
          </div>
          <!-- /delete button -->

        </div>
        <!-- /principal media -->

        <!-- secondary medias -->
        <ng-container *ngIf="activeInnovCard.media.length > 0">
          <ng-container *ngFor="let media of activeInnovCard.media; let i=index;">
            <div
              *ngIf="media._id !== (activeInnovCard.principalMedia && activeInnovCard.principalMedia._id)"
              class="media-wrapper text-center">

              <!-- if type === 'PHOTO' -->
              <figure *ngIf="media['type'] && media['type'] === 'PHOTO' && mediaSrc(media, 'IMAGE')">
                <img
                  style="cursor: pointer"
                  (click)="mediaToShow(mediaSrc(media, 'IMAGE'))"
                  [src]="mediaSrc(media, 'IMAGE')"
                  alt=" "
                  class="img-responsive"
                  height="159"
                  width="240">
              </figure>
              <!-- /if type === 'PHOTO' -->

              <!-- if type === 'VIDEO' -->
              <iframe
                *ngIf="media['type'] && media['type'] === 'VIDEO' && mediaSrc(media, 'VIDEO')"
                [src]="mediaSrc(media, 'VIDEO')"
                height="159"
                width="240">
              </iframe>
              <!-- /if type === 'VIDEO' -->

              <!-- set principal -->
              <div *ngIf="isNotMainMedia(media) && isEditable" class="text-sm p-top-2">
                <span
                  (click)="onSetPrincipal(media)"
                  [ngClass]="isSavingMedia ? 'text-disabled' : 'c-hand text-hover-underline'"
                  class="text-primary"
                  [id]="'btn-principal-media-'+i">
                  Set as main media
                </span>
              </div>
              <!-- /set principal -->

              <!-- delete button -->
              <div
                *ngIf="isEditable && (mediaSrc(media, 'VIDEO') || mediaSrc(media, 'IMAGE'))"
                class="text-sm p-top-1">
                  <span
                    (click)="onDeleteMedia(media)"
                    [ngClass]="isSavingMedia ? 'text-disabled' : 'c-hand text-hover-underline'"
                    class="text-alert"
                    [id]="'btn-delete-media-'+i">
                    Delete media
                  </span>
              </div>
              <!-- /delete button -->

            </div>
          </ng-container>
        </ng-container>
        <!-- /secondary medias -->

      </div>
      <!-- /medias display -->

    </section>
    <!-- section media -->

  </div>
</div>

<!-- modal to add New section | Delete section -->
<umius-modal *ngIf="isEditable" [(showModal)]="showModal">

  <section class="modal-body">

    <h2 [ngSwitch]="{ 'color': '4C4C4C' }" class="title is-4 text-center text-bold m-bottom-30">
      <ng-container *ngIf="modalType === 'NEW_SECTION'">Add new section</ng-container>
      <ng-container *ngIf="modalType === 'NOTIFY_TEAM'">Notify project team</ng-container>
      <ng-container *ngIf="modalType === 'DELETE_SECTION'">Delete section</ng-container>
    </h2>

    <div [ngSwitch]="modalType">

      <!-- notify team -->
      <div *ngSwitchCase="'NOTIFY_TEAM'">
        You are about to send an email to the Market Test project team.
        <div class="p-left-15 p-top-10">
          <p class="m-bottom-1">
            Last mailing date: {{ notificationJobs.length ? (notificationJobs[0].updated | date:'dd/MM/y') : 'NA' }}
          </p>
          <p>Number of mailings: {{ notificationJobs.length }}</p>
        </div>
      </div>
      <!-- /notify team -->

      <!-- delete section -->
      <div *ngSwitchCase="'DELETE_SECTION'">
        Do you really want to delete this section? Please keep in mind that to delete
        the section successfully you have to save the project.
      </div>
      <!-- /delete section -->

      <!-- new section -->
      <div *ngSwitchCase="'NEW_SECTION'" class="mxw-450 m-left-auto m-right-auto">

        <!-- title -->
        <div class="form-group m-bottom-20">
          <label class="form-label" for="new-section-title">Title</label>
          <input
            [(ngModel)]="newSection.title"
            class="form-input is-sm is-shadowed"
            id="new-section-title"
            placeholder="Add the new section title here..."
            type="text">
        </div>
        <!-- /title -->

        <!-- type -->
        <div class="form-group m-bottom-20">
          <label class="form-label" for="new-section-type">Type</label>
          <select
            [(ngModel)]="newSection.type"
            id="new-section-type"
            class="form-select is-shadowed is-sm">
            <!--<option value="ISSUE">Issue</option>-->
            <!--<option value="SOLUTION">Solution</option>-->
            <option value="OTHER">Other</option>
          </select>
        </div>
        <!-- /type -->

        <p class="text-alert text-sm">
          Please keep in mind that to create a new section successfully you have to save the project.
        </p>

      </div>
      <!-- /new section -->

    </div>

  </section>

  <footer [ngSwitch]="modalType" class="modal-footer justify-center">

    <button
      (click)="closeModal()"
      [id]="'btn-cancel'"
      class="button modal-cancel"
      type="button">
      Cancel
    </button>

    <!-- notify team -->
    <button
      (click)="onNotifyTeam($event)"
      *ngSwitchCase="'NOTIFY_TEAM'"
      [disabled]="isSendingNotification"
      class="button "
      id="btn-modal-confirm-notify-team"
      type="button">
      Confirm
    </button>
    <!-- notify team -->

    <!-- new section -->
    <button
      *ngSwitchCase="'NEW_SECTION'"
      (click)="createNewSection($event)"
      [disabled]="!newSection.title"
      class="button "
      type="button">
      Confirm
    </button>
    <!-- new section -->

    <!-- delete section -->
    <button
      *ngSwitchCase="'DELETE_SECTION'"
      (click)="deleteSection($event)"
      class="button "
      type="button">
      Confirm
    </button>
    <!-- delete section -->

  </footer>

</umius-modal>
<!-- /modal to add New section | Delete section -->

<!-- modal to view image -->
<umius-modal [(showModal)]="modalMedia" [medias]="[selectedMedia]"></umius-modal>
<!-- /modal to view image-->
