<form novalidate [formGroup]="formData">
  <div class="form-group-inline-space">
    <label class="form-switch" for="operator">
      <input type="checkbox" name="operator" id="operator" formControlName="isOperator">
      <i class="form-icon"></i>
      {{ 'PROJECT_LIST.OPERATOR' | translate }}
    </label>

    <button (click)="onSubmit()" class="btn btn-primary">
      {{'COMMON.SAVE' | translate}}
    </button>
  </div>
  <div class="form-group">
    <label class="form-label" for="firstName">{{ "COMMON.FIRSTNAME" | translate }}</label>
    <input class="form-default" id="firstName" name="firstName" formControlName="firstName" type="text"
           placeholder="John">
  </div>
  <div class="form-group">
    <label class="form-label" for="lastName">{{ "COMMON.LASTNAME" | translate }}</label>
    <input class="form-default" id="lastName" name="lastName" formControlName="lastName" type="text"
           placeholder="Doe">
  </div>

  <div class="form-group">
    <label class="form-label" for="email">{{ "COMMON.EMAIL" | translate }}</label>
    <input class="form-default" id="email" name="email" formControlName="email" type="email"
           placeholder="john.doe@gmail.com">
  </div>

  <div class="form-group">
    <label class="form-label" for="lang">{{ "COMMON.LANGUAGE" | translate }}</label>
    <select class="form-select" id="lang" name="lang" formControlName="language">
      <option value="en">{{ 'COMMON.LANG.EN' | translate }}</option>
      <option value="fr">{{ 'COMMON.LANG.FR' | translate }}</option>
    </select>
  </div>

  <div class="form-group">
    <label class="form-label" for="jobTitle">{{ "COMMON.JOBTITLE" | translate }}</label>
    <input class="form-default" id="jobTitle" name="jobTitle" formControlName="jobTitle" type="text"
           placeholder="{{ 'MY_ACCOUNT.JOB_TITLE_EXAMPLE' | translate }}">
  </div>

  <div class="form-group">
    <label class="form-label" for="companyName">{{ "COMMON.COMPANY" | translate }}</label>
    <input class="form-default" id="companyName" name="companyName" formControlName="companyName" type="text"
           placeholder="United Motion Ideas">
  </div>

  <div class="form-group">
    <button class="btn btn-xs ghost-delete" (click)="removeUser()">{{'COMMON.DELETE' | translate}}</button>
  </div>

</form>

