<section id="showcase-clients" class="relative">

  <!-- bar icon -->
  <ng-container *ngIf="isAdmin && totalClients.length > 0">
    <div class="icon-container is-overlay text-meta absolute" (click)="openModal($event)">
      <span class="tooltip" [attr.data-tooltip]="'Menu'">
        <i class="icon icon-menu"></i>
      </span>
    </div>
  </ng-container>

  <!-- heading 1st -->
  <h2 class="text text-meta" [innerText]="'SHOWCASE.CLIENTS_TITLE'" translate></h2>
  <!-- /heading 1st -->

  <!-- heading
  <h3 class="text-normal" [innerText]="'SHOWCASE.CLIENTS'" translate></h3>
      /heading -->

  <!-- section client logos -->
  <div class="d-flex text-center s-c-card-wrapper flew-wrap-wrap">
      <div *ngFor="let client of topClients" class="s-c-card-content animate-zoomIn">

        <ng-container *ngIf="client.logo">
          <div [attr.data-tooltip]="client.name" class="tooltip">
            <img [src]="client.logo" [alt]="client.name" height="50" class="img-fit-cover">
          </div>
        </ng-container>

        <ng-container *ngIf="!client.logo">
          <div class="text-draft text-medium">
            <span class="text-name">{{ client.name }}</span>
          </div>
        </ng-container>

      </div>
  </div>
  <!-- /section client logos -->

</section>

<!-- modal to select clients -->
<app-utility-modal [(showModal)]="modalShow" [maxWidth]="'840px'" [enableCloseButton]="true">

  <section class="modal-body">
    <div class="section-card columns text-center">
      <ng-container *ngFor="let client of totalClients">
        <div class="card modal-card badge badge-save" (click)="onChangeClient($event, client)" [ngClass]="{ 'active': selectedClients[client.name] }">

          <i class="fas fa-check-circle"></i>

          <div class="card-header">
            <div *ngIf="client.logo" class="card-img tooltip" [attr.data-tooltip]="client.name">
              <img [src]="client.logo" height="50" [alt]="client.name"/>
            </div>
            <div *ngIf="!client.logo" class="card-title text-draft"><span>{{ client.name }}</span></div>
          </div>

        </div>
      </ng-container>
    </div>
  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button (click)="onClickApply($event)" class="button is-primary">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </footer>

</app-utility-modal>
<!-- /modal to select innovations -->
