@import "../../../../../../../style/framework/src/variables";

#showcase-clients {
  height: 100%;

  .icon {
    top: -6px;
    right: 0;
    margin-right: 0;
    font-size: $font-icon-xl;
  }

  .see-more-wrapper, .icon {
    visibility: hidden;
  }

  &:hover {
    .icon, .see-more-wrapper {
      visibility: visible;
    }
  }

  h2, h3 {
    margin-bottom: 0.25rem;
  }

  h3 {
    font-family: $font-family-oswald;
    color: #3E5164;;
    font-size: 1.85rem;
  }

  .s-c-card-wrapper {
    flex-direction: column;
    padding-top: $unit-5;

    .s-c-card-content {
      margin-bottom: $unit-5;

      img {
        height: 50px;
        width: auto;
      }

      .text-name {
        font-size: 0.75rem;
      }

    }

  }

}


@media (max-width: $size-xl) {

  #showcase-clients {

    .s-c-card-wrapper {
      flex-direction: row;
    }

  }

}
