<section id="showcase-clients-component" class="relative d-flex">

  <!-- bar icon -->
  <ng-container *ngIf="adminPass && topClients.length > 0">
    <div class="icon icon-meta absolute" (click)="openModal($event)">
      <i class="fas fa-2x fa-bars"></i>
    </div>
  </ng-container>

  <!-- section heading -->
  <div class="section-heading">

    <!-- heading 1st -->
    <h2 class="text text-notify" [innerText]="'SHOWCASE.CLIENTS_TITLE'" translate></h2>

    <!-- heading count -->
    <h3 class="text-normal"><span [innerText]="'SHOWCASE.CLIENTS'" translate></span></h3>

  </div>
  <!-- /section heading -->

  <!-- section innovations -->
  <div class="section-card d-flex text-center">
    <div *ngFor="let client of topClients" class="card flex-centered animate-appear">

      <div class="card-header">
        <div *ngIf="client.logo" class="card-img tooltip" [attr.data-tooltip]="client.name">
          <img [src]="client.logo" [alt]="client.name"/>
        </div>
        <div *ngIf="!client.logo" class="card-title text-background"><span>{{ client.name }}</span></div>
      </div>

    </div>
  </div>
  <!-- /section innovations -->

  <!-- section see more -->
  <ng-container *ngIf="topClients.length > 6">
    <div class="text-right section-light-pad rm-pad-bottom">
      <span class="text-link" (click)="openModal($event)" [innerText]="'SHOWCASE.SEE_MORE'" translate></span>
    </div>
  </ng-container>

</section>


<!-- modal to select clients -->
<app-modal [(showModal)]="modalShow" [widthMax]="'90vw'">

  <div class="section-card d-flex text-center">
    <ng-container *ngFor="let client of totalClients">
      <div class="card flex-centered modal-card badge badge-save" [ngClass]="{ 'active': activeClient(client) && adminPass }">

        <i class="fas fa-check-circle"></i>

        <ng-container *ngIf="adminPass">
          <label class="absolute">
            <input type="checkbox" (change)="onChangeClient($event, client)" [checked]="activeClient(client)">
          </label>
        </ng-container>

        <div class="card-header">
          <div *ngIf="client.logo" class="card-img tooltip" [attr.data-tooltip]="client.name">
            <img [src]="client.logo" [alt]="client.name"/>
          </div>
          <div *ngIf="!client.logo" class="card-title text-background"><span>{{ client.name }}</span></div>
        </div>

      </div>
    </ng-container>
  </div>


  <ng-container *ngIf="adminPass">
    <div class="modal-footer">
      <button class="btn btn-sm btn-cancel" [innerText]="'COMMON.BUTTON.CANCEL'" translate></button>
      <button class="btn btn-sm btn-secondary" (click)="onClickApply($event)" [innerText]="'COMMON.BUTTON.CONFIRM'" translate></button>
    </div>
  </ng-container>

</app-modal>
<!-- /modal to select innovations -->
