<main class="body-wrapper" id="user-component">

  <!-- Header -->
  <app-header></app-header>

  <!-- Body -->
  <section class="main-wrapper">
    <router-outlet></router-outlet>
  </section>

  <!-- Footer -->
  <app-footer></app-footer>

</main>


<!-- Displaying loader
<div class="display-loader" *ngIf="displayLoader">

   Company logo
  <div *ngIf="getDomain() === 'umi'" class="logo-wrapper">
    <img src="{{ getLogo() }}" alt="UMI" height="40px">
  </div>

   Loader
  <app-shared-loader></app-shared-loader>

</div>
-->
