@import "../../../style/framework/src/variables";

.main-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-wrapper {
  flex: 1 0 auto;
}

.progress {
  position: fixed;
  z-index: 88880;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  margin: 0;
  background: #f0f1f4 linear-gradient(to right, $primary-color 30%, #f0f1f4 30%) top left/150% 150% no-repeat;
}
