<div class="section-container">
  <div class="columns">
    <div class="column col-11 col-mx-auto">

      <!-- Section 1 -->
      <div class="section-1 columns col-gapless">

        <!-- Ques 1 and 2 column -->
        <div class="column col-md-12 col-6 col-mx-auto ques-section">

          <div class="ques-1">
            <span class="num-rect">1</span><span class="c-para">{{ 'PROJECT_MODULE.NEW_PROJECT.DESCRIPTION.LINE1' | translate }}</span>
            <div class="form-group label-con">
              <label class="form-radio">
                <input type="radio" name="choosenLang">
                <i class="form-icon"></i> {{ 'COMMON.LANG.EN' | translate }}
              </label>
              <label class="form-radio">
                <input type="radio" name="choosenLang" checked>
                <i class="form-icon"></i> {{ 'COMMON.LANG.FR' | translate }}
              </label>
            </div>
          </div>

          <div class="ques-2">
            <span class="num-rect">2</span><span class="c-para">{{ "PROJECT_MODULE.NEW_PROJECT.COMPANY_NAME_LABEL" | translate }}</span>
            <div class="form-group label-con">
              <input type="text" class="form-input form-input-default" name="name">
            </div>
          </div>

        </div>

        <!-- Image column -->
        <div class="column col-md-12 col-6 col-mx-auto image-section text-center">
          <span class="bot-text">{{ "PROJECT_MODULE.NEW_PROJECT.BOT" | translate }}</span>
          <div class="bot-image">
            <img src="https://res.cloudinary.com/umi/image/upload/v1526304268/app/default-images/create_project_bot.svg" class="img-responsive">
          </div>
        </div>

      </div>

      <!-- Section 2 -->
      <div class="ques-3">
        <span class="num-rect">3</span><span class="c-para">{{ 'PROJECT_MODULE.NEW_PROJECT.INNOVATION_TYPE_LABEL' | translate }}</span>
        <div class="form-group">

        </div>
      </div>

    </div>
  </div>
</div>

<!--<div class="container section-container">
  <div class="columns">
    <form novalidate [formGroup]="formData" (ngSubmit)="onSubmit()" class="column col-10 col-mx-auto">

      <div class="columns">
        <div class="column col-7 col-mx-auto">

          <h3 class="text-center">1. {{'PROJECT_MODULE.NEW_PROJECT.DESCRIPTION.LINE1' | translate }}</h3>
          <p class="text-center">
            {{ 'PROJECT_MODULE.NEW_PROJECT.DESCRIPTION.LINE2' | translate }}
          </p>
          <div class="form-group text-center language-choice">
            <label class="form-radio">
              <input type="radio" value="en" name="choosenLang" formControlName="choosenLang">
              <i class="form-icon"></i> {{ 'COMMON.LANG.EN' | translate }}
            </label>
            <label class="form-radio">
              <input type="radio" value="fr" name="choosenLang" formControlName="choosenLang">
              <i class="form-icon"></i> {{ 'COMMON.LANG.FR' | translate }}
            </label>
          </div>

          <div class="form-group text-center">
            <label class="form-label h3" for="name">2. {{ "PROJECT_MODULE.NEW_PROJECT.COMPANY_NAME_LABEL" | translate }}</label>
            <input class="form-input" id="name" name="name" formControlName="name" type="text"
                   placeholder="">
          </div>

          <h3 class="text-center">3. {{'PROJECT_MODULE.NEW_PROJECT.INNOVATION_TYPE_LABEL' | translate }}</h3>
          <div class="form-group text-center type-choice">
            <label class="form-radio">
              <input type="radio" value="insights" name="type" formControlName="type">
              <i class="form-icon"></i> GetInsights
            </label>
            <label class="form-radio">
              <input type="radio" value="apps" name="type" formControlName="type">
              <i class="form-icon"></i> GetApps
            </label>
            <label class="form-radio">
              <input type="radio" value="leads" name="type" formControlName="type">
              <i class="form-icon"></i> GetLeads
            </label>
          </div>

        </div>
      </div>

      <button type="submit" class="btn btn-xxl btn-primary centered tooltip-top"
              [attr.data-tooltip]="'PROJECT_MODULE.NEW_PROJECT.FORM_NOT_VALID' | translate"
              [disabled]="formData.invalid" [ngClass]="{'tooltip': formData.invalid}">
        {{ 'PROJECT_MODULE.NEW_PROJECT.CREATE' | translate }}
      </button>

      <div class="columns">
        <div class="column col-4">
          <div class="tip">
            <img src="https://res.cloudinary.com/umi/image/upload/app/picto-download.svg" width="56" height="">
            <h3>{{ 'PROJECT_MODULE.NEW_PROJECT.DOWNLOAD' | translate }}</h3>
          </div>
        </div>

        <div class="column col-4">
          <div class="tip">
            <img src="https://res.cloudinary.com/umi/image/upload/app/picto-lock.svg" width="56" height="">
            <h3>{{ 'PROJECT_MODULE.NEW_PROJECT.PRIVATE' | translate }}</h3>
          </div>
        </div>

        <div class="column col-4">
          <div class="tip">
            <img src="https://res.cloudinary.com/umi/image/upload/app/picto-blind.svg" width="56" height="">
            <h3>{{ 'PROJECT_MODULE.NEW_PROJECT.ANONYMOUS' | translate }}</h3>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>-->
