#newProject {
  padding-top: 50px;
  padding-bottom: 50px;

  .ques-section {
    order: 1;

    .ques-2 {
      padding-top: 50px;
    }

  }

  .image-section {
    order: 0;
    padding-bottom: 50px;

    .bot-text {
      animation-name: zoomIn;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      z-index: 2;
      background: #4FC8DA;
      color: white;
    }

    .bot-trian {
      padding-left: 150px;
      animation-name: slideInDown;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      margin-top: -1px;
    }

    .bot-image .img-responsive {
      display: inline-block;
    }

  }

  .ques-3 {
    padding-top: 50px;

    .selection-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .selection-container label {
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-end;
    }

    label input[type=radio] {
      display: none;
    }

    .circle {
      margin-top: -15px;
      margin-left: 17px;
      background: transparent;
      i {
        color: transparent;
      }
    }

    .offers {
      padding: 36px 18px;
      border: 4px solid #dddddd;
      border-radius: 5px;
      word-wrap: break-word;
      width: 328px;
      cursor: pointer;
      background: #FAFAFA;
      ul {
        margin-bottom: 0;
        li {
          font-size: 0.7rem;
          color: #262831;
        }
      }
    }

    .offers:hover {
      transition: all 0.35s ease-in-out;
      border-color: #FFB300;
      background-color: #FFF9EB;
    }

    label input[type=radio]:checked + .circle {
      transition: all 0.35s ease-in-out;
      border-color: #2ECC71;
      background: #2ECC71;
      i {
        color: white;
      }
    }

    label input[type=radio]:checked + .circle + .offers {
      transition: all 0.35s ease-in-out;
      border-color: #2ECC71;
    }

  }

  .create {
    padding-top: 55px;
  }

  .general-info {
    padding-top: 75px;

    .fas, .far{
      color: #4F5D6B;
    }

    .fas:hover, .far:hover {
      color: #FFB300;
    }

    .text {
      width: 221px;
      display: inline-block;
    }

  }

}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/********************************** Media ***************************************/

@media (max-width: 320px) {

  .offers {
    width: 293px !important;
  }

}

@media (min-width: 321px) and (max-width: 360px) {

  .offers {
    width: 295px !important;
  }

}

@media (min-width: 768px) {

  .ques-3 {
    padding-top: 0 !important;
  }

  .selection-container label {
    margin-right: 20px;
  }

  .offers {
    width: 323px !important;
  }

}

@media (min-width: 840px) {

  #newProject {

    .ques-section {
      order: 0;

      .ques-2 {
        padding-top: 72px;
      }

    }

    .image-section {
      order: 1;
    }

  }

}


