.c-section-container {

  .ques-section {
    order: 1;

    .ques-2 {
      padding-top: 50px;

      .form-input-default {
        border: 1px solid #E0E0E0;
        color: #484848;
        padding: 22px 10px;
      }

    }

  }

  .num-rect {
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    padding: 6px 13px 7px 15px;
    background: #262831;
    margin-right: 20px;
    display: inline-block;
  }

  .label-con {
    padding-top: 30px;
  }

  .image-section {
    order: 0;
    padding-bottom: 50px;

    .bot-text {
      animation-name: zoomIn;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
    }

    .bot-image {
      padding-top: 15px;

      .img-responsive {
        display: inline-block;
      }

    }

  }

  .ques-3 {
    padding-top: 45px;

    .disp {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .disp label {
      margin-bottom: 20px;
    }

    label input[type=radio] {
      display: none;
    }

    .offers {
      padding: 36px 18px;
      border: 5.4px solid #dddddd;
      border-radius: 3.14px;
      word-wrap: break-word;
      width: 328px;
      cursor: pointer;
      background: #FAFAFA;

      ul {
        margin-bottom: 0;

        li {
          font-size: 0.7rem;
          color: #262831;
        }

      }

    }

    label input[type=radio]:checked + .offers{
      border-color: #2ECC71;
      background: rgba(46,204,113,0.45);
    }

  }

  .general-info {
    padding-top: 60px;

    .padding-bottom {
      padding-bottom: 40px;
    }

    .c-heading-3 {
      font-size: 0.9rem;
      font-weight: normal;
      width: 221px;
      display: inline-block;
    }
  }

  .create {
    padding-top: 80px;

    .primary-button {
      font-size: 1.4rem;
      padding: 30px 44px 34.5px;
      height: 85.5px;
    }

  }

}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

/********************************** Media ***************************************/

@media (max-width: 320px) {

  .offers {
    width: 293px !important;
  }

  .create {

    .primary-button {
      padding: 7.5px 18px 8.5px !important;
    }

  }

}

@media (min-width: 321px) and (max-width: 360px) {

  .offers {
    width: 295px !important;
  }

  .create {

    .primary-button {
      padding: 15px 22px 17px !important;
    }

  }

}

@media (min-width: 768px) {

  .disp label {
    margin-right: 20px;
  }

  .offers {
    width: 323px !important;
  }

  .create {

    .primary-button {
      padding-left: 89px !important;
      padding-right: 89px !important;
    }

  }

  .padding-bottom {
    padding-bottom: 0 !important;
  }

}

@media (min-width: 840px) {

  .c-section-container {

    .ques-section {
      order: 0;

      .ques-2 {

        .form-input-default {
          width: 500px;
        }

      }

    }

    .image-section {
      order: 1;
      padding-bottom: unset !important;

    }

    .ques-3 {
      padding-top: 35px;

      .disp label {
        margin-right: 39px;
        margin-bottom: 39px;
      }

    }

    .general-info {
      padding-top: 41px !important;
    }

  }

}


