<app-shared-loader *ngIf="!project"></app-shared-loader>

<div *ngIf="project">
  <div class="project-header">
    <div class="container">
      <div class="columns">
        <div class="column col-10 col-mx-auto">
          <div class="columns">
            <div class="column col-7">
              <h1>{{ project.name }}</h1>
              <div class="metas">
                {{ project.owner.name }}
                / {{ project.owner.companyName }}
                • {{ 'COMMON.ADDED' | translate }} {{ project.created | date:dateFormat }}
                • {{ 'COMMON.UPDATED' | translate }} {{ project.updated | date:dateFormat }}
              </div>
            </div>
            <div class="column col-5 collaborators">
              <button class="btn btn-bordered" (click)="(displayAddCollaboratorsModal = true) && $event.preventDefault()">
                <i class="icon icon-plus"></i> {{ 'PROJECT_EDIT.ADD_COLLABORATORS' | translate }}
              </button>
              <div>
                <span *ngFor="let collaborator of project.collaborators"
                      class="chip tooltip tooltip-bottom"
                      [attr.data-tooltip]="collaborator.email">
                  {{ collaborator.name }}
                  <a (click)="removeCollaborator($event, collaborator)" class="btn btn-clear" aria-label="Close"
                     role="button"></a>
                </span>
              </div>
            </div>
          </div>
          <ul class="step">
            <li class="step-item" [ngClass]="{ 'active': project.status === 'EDITING' && !project.reviewing }">
              <a [routerLink]="" (click)="$event.preventDefault()">
                {{ 'COMMON.PROJECT_STATE.EDITING' | translate }}
              </a>
            </li>
            <li class="step-item" [ngClass]="{ 'active': project.status === 'SUBMITTED' }">
              <a [routerLink]="" (click)="$event.preventDefault()">
                {{ 'COMMON.PROJECT_STATE.SUBMITTED' | translate }}
              </a>
            </li>
            <li class="step-item" [ngClass]="{ 'active': project.status === 'EDITING' && !!project.reviewing }">
              <a [routerLink]="" (click)="$event.preventDefault()">
                {{ 'COMMON.PROJECT_STATE.REVIEWING' | translate }}
              </a>
            </li>
            <li class="step-item" [ngClass]="{ 'active': project.status === 'EVALUATING' }">
              <a [routerLink]="" (click)="$event.preventDefault()">
                {{ 'COMMON.PROJECT_STATE.EVALUATING' | translate }}
              </a>
            </li>
            <li class="step-item" [ngClass]="{ 'active': project.status === 'DONE' }">
              <a [routerLink]="" (click)="$event.preventDefault()">
                {{ 'COMMON.PROJECT_STATE.DONE' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="project-help">
    <div class="container">
      <div class="columns">
        <div class="column col-10 col-mx-auto">
          <h3 class="hide-lg">{{ 'PROJECT_EDIT.HOW' | translate }}</h3>
          <div class="flex-container">
            <ul class="steps hide-md">
              <li><a pageScroll href="#targeting"><span>1</span> {{ 'PROJECT_EDIT.STEP1' | translate }}</a> <i
                class="icon icon-arrow-right"></i></li>
              <li><a pageScroll href="#description"><span>2</span> {{ 'PROJECT_EDIT.STEP2' | translate }}</a> <i
                class="icon icon-arrow-right"></i></li>
              <li><a pageScroll href="#submit"><span>3</span> {{ 'PROJECT_EDIT.STEP3' | translate }}</a> <i
                class="icon icon-arrow-right"></i></li>
            </ul>
            <button *ngIf="canEdit"  [ngClass]="'btn btn-primary btn-lg' + (shouldSave ? ' badge' : '')" data-badge="!" (click)="save() && $event.preventDefault()">
              {{ 'COMMON.SAVE_DRAFT' | translate }}
            </button>
            <p *ngIf="lastSavedDate" class="last-saved"> {{ 'COMMON.LAST_SAVED_AT' | translate }} {{ lastSavedDate |
              date:'HH:mm:ss' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column col-10 col-mx-auto">
        <form novalidate [formGroup]="formData" class="form-horizontal">
          <h2 class="anchor" id="targeting">1. {{ 'PROJECT_EDIT.STEP1' | translate }}</h2>

          <div class="column col-8">
            <div class="form-group">
              <div class="col-4">
                <label class="form-label">{{ 'PROJECT_EDIT.PRESET.LABEL' | translate }}</label>
              </div>
              <div class="col-8">
                <label class="form-radio">
                  <input type="radio" value="apps" formControlName="type">
                  <i class="form-icon"></i> {{ 'PROJECT_EDIT.PRESET.TYPE1' | translate }}
                </label>
                <label class="form-radio">
                  <input type="radio" value="insights" formControlName="type" checked="checked">
                  <i class="form-icon"></i> {{ 'PROJECT_EDIT.PRESET.TYPE2' | translate }}
                </label>
                <label class="form-radio">
                  <input type="radio" value="leads" formControlName="type">
                  <i class="form-icon"></i> {{ 'PROJECT_EDIT.PRESET.TYPE3' | translate }}
                </label>
              </div>
            </div>
          </div>

          <div class="column col-8">
            <app-shared-project-settings [settings]="project.settings" (settingsChange)="updateSettings($event)"></app-shared-project-settings>
          </div>
        </form>

        <div class="divider"></div>

        <h2 class="anchor" id="description">2. {{ 'PROJECT_EDIT.STEP2' | translate }}</h2>
        <div>
          <div class="columns">
            <div class="column col-8">
              <app-shared-project-edit-cards [project]="project" (cardsChange)="updateCards($event)" (projectChange)="updateProject($event)"></app-shared-project-edit-cards>
            </div>
            <div class="column col-1"></div>
            <div class="column col-3">
              <div class="help-block">
                <h3 class="text-center">{{ 'COMMON.HELP' | translate }}</h3>
                {{ 'PROJECT_EDIT.HELP.MUST_BE' | translate }} :
                <ul>
                  <li>{{ 'PROJECT_EDIT.HELP.NO_AD' | translate }}</li>
                  <li>{{ 'PROJECT_EDIT.HELP.NO_TECH' | translate }}</li>
                  <li>{{ 'PROJECT_EDIT.HELP.BRIEF' | translate }}</li>
                </ul>

                <div class="divider"></div>

                {{ 'PROJECT_EDIT.HELP.EXAMPLES' | translate }} :<br>

                <modal title="PROJECT_EDIT.HELP.EXAMPLE_TITLE" size='lg'>
                  <img
                    [src]="'https://res.cloudinary.com/umi/image/upload/c_scale,h_201,w_94/app/project-sample01.png'"
                    width="94" height="201" button class="c-zoom-in">
                  <app-client-project-edit-example1 content></app-client-project-edit-example1>
                </modal>
                <modal title="PROJECT_EDIT.HELP.EXAMPLE_TITLE" size='lg'>
                  <img
                    [src]="'https://res.cloudinary.com/umi/image/upload/c_scale,h_201,w_94/app/project-sample02.png'"
                    width="94" height="201" button class="pointer" class="c-zoom-in">
                  <app-client-project-edit-example2 content></app-client-project-edit-example2>
                </modal>

                <div class="divider"></div>

                <modal title="PROJECT_EDIT.HELP.PREVIEW" size='lg'>
                  <button button class="btn btn-lg centered">
                    {{ 'PROJECT_EDIT.HELP.PREVIEW' | translate }}
                  </button>
                  <app-client-project content [project]=project></app-client-project>
                </modal>

                <pdf-generator class="btn btn-lg centered" [model]="getModel()" *ngIf="project.status !== 'EDITING'">
                </pdf-generator>

              </div>
            </div>
          </div>
          <div *ngIf="canEdit">
            <h2 class="anchor" id="submit">3. {{ 'PROJECT_EDIT.STEP3' | translate }}</h2>
            <div>

              <form novalidate [formGroup]="formData" class="form-horizontal">
                <div>
                  <label class="form-checkbox c-hand">
                    <input type="checkbox" name="external_diffusion" formControlName="external_diffusion">
                    <i class="form-icon"></i> {{ 'PROJECT_EDIT.EXTERNAL_DIFFUSION_A' | translate }}
                    &nbsp;{{companyName}}&nbsp;
                    {{ 'PROJECT_EDIT.EXTERNAL_DIFFUSION_B' | translate }}
                  </label>
                </div>
              </form>

              <div class="project-submit">
                <h3 class="text-center">{{ 'PROJECT_EDIT.SUBMIT.TITLE' | translate }}</h3>
                <button class="btn btn-xxl btn-primary centered" (click)="submitProjectToValidation($event)">
                  {{ 'PROJECT_EDIT.SUBMIT.BUTTON' | translate }}
                </button>

                <p class="text-center">
                  {{ 'PROJECT_EDIT.SUBMIT.DESCRIPTION.LINE1' | translate }}<br>
                  {{ 'PROJECT_EDIT.SUBMIT.DESCRIPTION.LINE2' | translate }}
                </p>
              </div>
            </div>
            <!--<div *ngIf="isAdmin && project.status === 'SUBMITTED'">
              <div class="project-submit">
                <h3 class="text-center">Validation du projet</h3>
                <button class="btn btn-xxl btn-primary centered" (click)="validateProject($event)">
                  Valider
                </button>
                <button class="btn btn-xxl btn-error centered" (click)="askRevision($event)">
                  Demander une révision
                </button>
              </div>
            </div>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL : Add collaborators FORM (STEP 1) -->
<div class="modal" [ngClass]="{'active': displayAddCollaboratorsModal}">
  <div class="modal-overlay" (click)="(displayAddCollaboratorsModal = false) && $event.preventDefault()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(displayAddCollaboratorsModal = false) && $event.preventDefault()"></button>
      <div class="modal-title h5">{{ 'PROJECT_EDIT.ADD_COLLABORATORS_MODAL.TITLE' | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content">{{ 'PROJECT_EDIT.ADD_COLLABORATORS_MODAL.CONTENT' | translate }}</div>
      <input type="text" [(ngModel)]="collaborators_emails" placeholder="alan.turing@gmail.com, joan.clarke@gmail.com">
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" (click)="(displayAddCollaboratorsModal = false) && $event.preventDefault()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button class="btn btn-primary" [disabled]="!validCollaboratorsList()" (click)="addCollaborators($event)">{{
        'COMMON.ADD' | translate }}
      </button>
    </div>
  </div>
</div>


<!-- MODAL : Add collaborators (STEP 2) -->
<div class="modal" [ngClass]="{'active': displayCollaboratorsAddingProcess}">
  <div class="modal-overlay" (click)="(displayCollaboratorsAddingProcess = false) && $event.preventDefault()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(displayCollaboratorsAddingProcess = false) && $event.preventDefault()"></button>
      <div class="modal-title h5">{{ 'PROJECT_EDIT.ADD_COLLABORATORS_MODAL.TITLE' | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content">
        <p *ngIf="collaboratorsAddingProcess.usersAdded.length">
          {{ collaboratorsAddingProcess.usersAdded.length }} {{ 'PROJECT_EDIT.ADD_COLLABORATORS_MODAL.USERS_ADDED' | translate }}.
        </p>

        <div *ngIf="collaboratorsAddingProcess.invitationsToSend.length">
          <p >
            {{ collaboratorsAddingProcess.invitationsToSend.length }} {{ 'PROJECT_EDIT.ADD_COLLABORATORS_MODAL.TO_SEND_EMAIL' | translate }}
          </p>
          <p align="center">
            <a class="btn btn-primary"
               [href]="'mailto:' + collaboratorsAddingProcess.invitationsToSend.join(',') + '?body=' + collaboratorsAddingProcess.inviteUrl">
              {{ 'COMMON.INVITE' | translate }}
            </a>
          </p>
        </div>

        <div *ngIf="collaboratorsAddingProcess.invitationsToSendAgain.length">
          <p>
            {{ collaboratorsAddingProcess.invitationsToSendAgain.length }} {{ 'PROJECT_EDIT.ADD_COLLABORATORS_MODAL.TO_RESEND_EMAIL' | translate }}"
          </p>
          <p align="center">
            <a class="btn btn-primary"
               [href]="'mailto:' + collaboratorsAddingProcess.invitationsToSendAgain.join(',') + '?body=' + collaboratorsAddingProcess.inviteUrl">
              {{ 'COMMON.REINVITE' | translate }}
            </a>
          </p>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <!--<button class="btn btn-primary" (click)="(displayCollaboratorsAddingProcess = false) && $event.preventDefault()">
        {{ 'COMMON.I_FINISHED' | translate }}
      </button>-->
    </div>

    <div class="modal-footer">
    </div>
  </div>
</div>
