<ng-container>
  <div class="d-flex m-3">
  <label class="m-right-20">
    <select class="form-select is-sm" [(ngModel)]="question.attitudeMeasure">
<!--      <option value="">{{ 'COMMON.LIKERT_TYPE.CHOOSE' | translate }}</option>
      <option value="agreement">{{ 'COMMON.LIKERT_TYPE.AGREEMENT' | translate }}</option>
      <option value="satisfaction">{{ 'COMMON.LIKERT_TYPE.FREQUENCY' | translate }}</option>
      <option value="frequency">{{ 'COMMON.LIKERT_TYPE.FREQUENCY' | translate }}</option>
      <option value="use">{{ 'COMMON.LIKERT_TYPE.USE' | translate }}</option>
      <option value="quality">{{ 'COMMON.LIKERT_TYPE.QUALITY' | translate }}</option>
      <option value="relevance">{{ 'COMMON.LIKERT_TYPE.RELEVANCE' | translate }}</option>-->
      <option *ngFor="let type of measuresOptions[question.attitudeMeasure]" [ngValue]="type">{{'COMMON.LIKERT_TYPE.'| translate }}</option>
     <!-- <option *ngFor="let type of sectionTypes" [ngValue]="type">{{type | titlecase}}</option>-->
    </select>

    <!--{{question.attitudeMeasure}}-->

  <!--  <option [ngValue]="true">Essential</option>
    <option>{{ 'PRESETS.QUESTION.TYPE.' + question.controlType | translate }}</option>-->


    <p>{{question.attitudeMeasure}} cliqué !</p>

    <div *ngIf="question.attitudeMeasure" class="choice">
      <h1 *ngFor="let element of measuresOptions[question.attitudeMeasure]">{{element}}</h1>
    </div>
  </label>
  </div>
</ng-container>

<!-- Pseudo code

// relier avec une variable ce nouveau composant qui represente les types de mesure d'attitudes
//ce composant sera relié à son par parent qui est shared-questionnaire-question
// Ce composant doit etre lié avec le choix d'option likert scale
// ce composant doit afficher les types sous forme de liste
// ce composant doit etre physiquement etre a coté des choix des types de question
//ce composant doit afficher 5 option de choix non editable et non changeable ou ne peuvent pas etre deplacer
// aucune option ne peut etre rajoutée
//en fonction du type choisi le composant affiche les choix relié à cette sélection

// ce composant à deux parents le shared-questinnaire-component et  [(ngModel)]="question.controlType"
//

-->
<!--<div [id]="'question-' + questionIndex" class="shared-questionnaire-question-likert">
  <div [ngClass]="{'is-edit-mode': editMode}" class="header-wrapper flex-between">-->
