@import "../style/variables";

.spinner-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .fas {
    color: $primary-color;
  }

}

.body-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*.loader-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 500000;
}

.progress {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: $primary-color;
}*/

