@import "../style/variables";

.spinner-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

