<!-- Showing spinner for 400ms -->
<ng-container *ngIf="displayLoading">
  <div class="spinner-wrapper">
    <app-shared-loader></app-shared-loader>
  </div>
</ng-container>

<!-- Showing main body -->
<ng-container *ngIf="!displayLoading">
  <main class="body-wrapper">
    <simple-notifications [options]="notificationsOptions" class="hide-on-small-and-down"></simple-notifications>
    <!--<progress class="progress" max="100" *ngIf="displayLoader"></progress>-->
    <router-outlet></router-outlet>
  </main>
</ng-container>
