#body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// height for header
#app-header {
  min-height: 3.9rem;
}

// Spaces around the main application components
#main {
  flex: 1 0 auto;
}

.loader-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 500000;
}

.progress {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: #3498DB;
}

#wait {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;

  div {
    flex: 1;
  }
  .fas {
    color: #3498DB;
  }
}

@media (min-width: 840px) {

  #app-header {
    min-height: 4.2rem
  }

}
