<div class="card email">
  <div class="card-header">
    <div class="d-flex">
      <div class="card-title h5" *ngIf="!editionMode">{{ email.subject }}</div>
      <div class="card-title h5" *ngIf="editionMode">
        <div class="form-group d-flex">Objet: <input type="text" [(ngModel)]="email.subject" name="subject" class="form-input"/></div>
      </div>
      <div class="chip">
        <span class="avatar avatar-sm">{{ email.language.toUpperCase() }}</span>
        {{ email.profile }}
      </div>
    </div>
    <label class="form-switch" *ngIf="email.content != null">
      <input type="checkbox" (change)="(editionMode = !editionMode) && $event.preventDefault()">
      <i class="form-icon"></i>Edition  <i class="fa fa-pencil"></i>
    </label>
  </div>
  <div class="card-body">
    <h4 *ngIf="editionMode">Contenu</h4>
    <text-zone [elementId]="email.language + email.step + email.profile"
               [readonly]="!editionMode"
               [data]="email.content || ''"
               (onEditorKeyup)="updateContent($event)"></text-zone>
    <button *ngIf="editionMode" type="submit" class="btn btn-primary centered" (click)="save()">Sauvegarder</button>
    <p *ngIf="editionMode">Variables : *|URL_QUIZ|*, *|TITLE|*, *|CAMPAIGN_SLUG|*, *|PITCH|*, *|FULL_NAME|*, *|FIRSTNAME|*, *|LASTNAME|*, *|URL_PICTURE|*</p>
  </div>
  <!--
  <div class="card-footer" *ngIf="email.content != null">
    <a (click)="removeEmail()" class="text-error"><i class="fa fa-trash"></i> {{ 'COMMON.DELETE' | translate }}</a>
  </div>-->
</div>
