.email {
  margin: 25px;

  .card-header {
    display: flex;
    justify-content: space-between;

    .chip {
      margin-left: 15px;

      .avatar-sm {
        font-size: 0.7rem;
        font-weight: bold;
        padding: 2px;
      }
    }
  }
}
