<div [ngClass]="{'project-preparation': status==='PREPARING', 'project-launched': status==='EVALUATING', 'project-completed': status==='DONE'}" *ngIf="projects.length">
  <div class="title-section" *ngIf="status==='PREPARING'"><span>{{total}}</span> {{ "PROJECT_LIST.IN_PREPARATION" | translate }}</div>
  <div class="title-section" *ngIf="status==='EVALUATING'"><span>{{total}}</span> {{ "PROJECT_LIST.LAUNCHED" | translate }}</div>
  <div class="title-section" *ngIf="status==='DONE'"><span>{{total}}</span> {{ "PROJECT_LIST.FINISHED" | translate }}</div>
  <div class="title-section" *ngIf="status==='WITHOUT_OPERATOR'"><span>{{total}}</span> {{ "PROJECT_LIST.TO_ASSIGN" | translate }}</div>

  <table class="table">
    <thead>
    <tr>
      <th width="80"></th>
      <th>{{ "PROJECT_LIST.TITLE" | translate }}</th>
      <th *ngIf="status==='PREPARING'" width="90" class="text-center">{{ "PROJECT_LIST.TAGGING" | translate }}</th>
      <th *ngIf="status==='PREPARING' || status==='EVALUATING'" width="90" class="text-center">{{ "PROJECT_LIST.PROFESSIONALS" | translate }}</th>
      <th *ngIf="status==='PREPARING' || status==='EVALUATING'" width="100" class="text-center">{{ "PROJECT_LIST.EMAILS_OK" | translate }}</th>
      <th *ngIf="status==='PREPARING'" width="90" class="text-center">{{ "PROJECT_LIST.STATUS" | translate }}<i class="icon icon-arrow-down"></i></th>
      <th *ngIf="status==='EVALUATING'" width="70" class="text-center">{{ "PROJECT_LIST.RECEIVED" | translate }}</th>
      <th *ngIf="status==='EVALUATING'" width="80" class="text-center">{{ "PROJECT_LIST.OPENED" | translate }}</th>
      <th *ngIf="status==='EVALUATING'" width="80" class="text-center">{{ "PROJECT_LIST.CLICKED" | translate }}</th>
      <th *ngIf="status==='EVALUATING'" width="80" class="text-center">{{ "PROJECT_LIST.TO_TACKLE" | translate }}</th>
      <th *ngIf="status==='EVALUATING'" width="80" class="text-center">{{ "PROJECT_LIST.DELAY" | translate }} <i class="icon icon-arrow-down"></i></th>
      <th *ngIf="status==='DONE'" width="120" class="text-center">{{ "PROJECT_LIST.CONCLUSIONS" | translate }} <i class="icon icon-arrow-down"></i></th>
      <th *ngIf="status==='DONE'" width="100" class="text-center">{{ "PROJECT_LIST.DELIVERED" | translate }}</th>
      <th *ngIf="status==='DONE'" width="130" class="text-center">{{ "PROJECT_LIST.THANKS" | translate }}</th>
      <th *ngIf="status==='EVALUATING' || status==='DONE'" width="90" class="text-center">{{ "PROJECT_LIST.ANSWERS" | translate }}</th>
      <th *ngIf="status==='WITHOUT_OPERATOR'" width="120" class="text-center">{{ "PROJECT_LIST.OPERATOR" | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects">
      <td class="project-image">
        <a [routerLink]="getRelevantLink(project)" target="_blank">
          <img [src]="getPrincipalMedia(project)" class="img-fit-cover" width="80px" height="80px"/>
        </a>
      </td>
      <td class="project-description">
        <span class="title"><a [routerLink]="getRelevantLink(project)" title="">{{ project.name || '--' }}</a></span>
        <span class="metas"><span *ngIf="project.owner">{{ project.owner.firstName }} {{ project.owner.lastName }}<span *ngIf="project.owner.companyName"> / {{ project.owner.companyName }}</span>
            • </span>
            {{ 'COMMON.ADDED' | translate }} {{ project.created | date:dateFormat }}
            • {{ 'COMMON.UPDATED' | translate }} {{ project.updated | date:dateFormat }}
            <span *ngIf="status==='EVALUATING'">• {{ 'COMMON.LAUNCHED' | translate }} {{ project.launched | date:dateFormat }}</span>
            • <a (click)="(selectedProjectIdToBeDeleted = project._id) && $event.preventDefault()" class="text-error c-hand">
                {{ 'COMMON.DELETE' | translate }}
              </a></span>
      </td>

      <td *ngIf="status==='PREPARING' && project.tags.length" class="project-tagging">OK</td>
      <td *ngIf="status==='PREPARING' && !project.tags.length" class="project-tagging warning">TODO</td>

      <td *ngIf="status==='PREPARING' || status==='EVALUATING'" class="project-professional"
          [ngClass]="{'warning': project.stats.pros < 7000}"> <!-- Pros -->
        {{project.stats.pros}}
      </td>

      <td *ngIf="status==='PREPARING' || status==='EVALUATING'" class="project-emails-ok"
          [ngClass]="{'warning': project.stats.emailsOK < 5000}"> <!-- Emails OK -->
        {{project.stats.emailsOK}}
      </td>
      <td *ngIf="status==='PREPARING'" class="project-status"
          [ngClass]="{'alert': project.status === 'SUBMITTED'}"> <!-- Statut -->
        <a [routerLink]=getRelevantLink(project) target="_blank">
          {{ 'DASHBOARD.PROJECT_STATE.' + (project.reviewing ? 'REVIEWING' : project.status) | translate }}
        </a>
      </td>
      <td *ngIf="status==='EVALUATING'" class="project-email-received"
          [ngClass]="{'alert': ratio(project.stats.received, project.stats.emailsOK) < 99}"> <!-- Reçus -->
        {{ratio(project.stats.received, project.stats.emailsOK)}}%
      </td>
      <td *ngIf="status==='EVALUATING'" class="project-email-opened"
          [ngClass]="{'warning': ratio(project.stats.opened, project.stats.received) < 10}"> <!-- Ouverts -->
        {{ratio(project.stats.opened, project.stats.received)}}%
      </td>
      <td *ngIf="status==='EVALUATING'" class="project-email-clicked"
          [ngClass]="{'warning': ratio(project.stats.clicked, project.stats.opened) < 10}"> <!-- Cliqués -->
        {{ratio(project.stats.clicked, project.stats.opened)}}%
      </td>
      <td *ngIf="status==='EVALUATING'" class="project-to-check"><a [routerLink]="null" target="_blank">{{project.stats.submittedAnswers}}</a></td> <!-- À traiter -->
      <td *ngIf="status==='EVALUATING'" class="project-time-limit warning" ng-init="delai = getDelai(project.launched)"
          [ngClass]="{
            'warning': getDelai(project.launched) <= 4 && getDelai(project.launched) > 0,
            'alert': getDelai(project.launched) <= 0
          }">{{ getDelai(project.launched) | dateTransform}}</td> <!-- Délai
      <!-- Conclusions -->
      <td *ngIf="status==='DONE' && project.conclusions" class="project-conclusion">OK*</td>
      <td *ngIf="status==='DONE' && !project.conclusions" class="project-conclusion warning"><a [routerLink]=getRelevantLink(project) target="_blank" title="">TODO</a></td>
      <!-- Restitution -->
      <td *ngIf="status==='DONE' && project.restitution" class="project-restitution c-hand" (click)="updateRestitutionState($event, project)">OK</td>
      <td *ngIf="status==='DONE' && !project.restitution" class="project-restitution c-hand warning" (click)="updateRestitutionState($event, project)">TODO</td>
      <!-- Remerciements -->
      <td *ngIf="status==='DONE' && project.thanks" class="project-thanks c-hand" (click)="updateThanksState($event, project)">OK</td>
      <td *ngIf="status==='DONE' && !project.thanks" class="project-thanks c-hand warning" (click)="updateThanksState($event, project)">TODO</td>
      <td *ngIf="status==='EVALUATING' || status==='DONE'" class="project-answer"
          [ngClass]="{
          'alert': project.stats.answers <= 20,
          'warning': project.stats.answers <= 25 && project.stats.answers > 20,
          'all-is-fine': project.stats.answers > 25}"> <!-- Réponses -->
        {{project.stats.answers}}
      </td>
      <td *ngIf="status==='WITHOUT_OPERATOR'"> <!-- Opérateur -->
        <select [disabled]="disableOperatorsList()"
                class="form-select"
                [(ngModel)]="project.operator"
                (ngModelChange)="setOperator($event, project)">
          <option [ngValue]="undefined" *ngIf="!project.operator">{{ "PROJECT_LIST.NONE" | translate }}</option>
          <option *ngFor="let operator of operators" [ngValue]="operator._id">
            {{ operator.firstName + ' ' + operator.lastName }}
          </option>
        </select>
      </td>
    </tr>
    <tr *ngIf="status==='DONE'">
      <td colspan="6">
        <p class="italic">* La colonne Conclusions indique uniquement si la rédaction d'une conclusion a été commencée.</p>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="see-all text-right" *ngIf="projects.length < total">
    <a class="c-hand" (click)="seeMore($event)" title="">{{"PROJECT_LIST.SEE_MORE" | translate }}</a>
    <i class="icon icon-arrow-down"></i>
  </div>
</div>




<!-- MODAL : Are you sure you want to delete this project ? -->
<div class="modal" [ngClass]="{'active': selectedProjectIdToBeDeleted}">
  <div class="modal-overlay" (click)="(selectedProjectIdToBeDeleted = null) && $event.preventDefault()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(selectedProjectIdToBeDeleted = null) && $event.preventDefault()"></button>
      <div class="modal-title h5">{{ 'MY_PROJECTS.DELETE_PROJECT_MODAL.TITLE' | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content">{{ 'MY_PROJECTS.DELETE_PROJECT_MODAL.CONTENT' | translate }}</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" (click)="removeProject($event, selectedProjectIdToBeDeleted)">{{ 'COMMON.DELETE' | translate }}</button>
      <button class="btn btn-primary" (click)="(selectedProjectIdToBeDeleted = null) && $event.preventDefault()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </div>
</div>

<!--
<app-shared-table [config]="config" [data]="tableInfos" (configChange)="loadProjects($event)"></app-shared-table>
-->
