<section id="admin-projects" class="section-light-pad">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <div class="restrict-width">


      <!-- fetching error -->
      <ng-container *ngIf="fetchingError">
        <div class="a-p-error-wrapper d-flex align-center">
          <app-error-template-1 [errorMessage]="'ERROR.ERRORS.FETCHING'"></app-error-template-1>
        </div>
      </ng-container>
      <!-- /fetching error -->


      <!-- table -->
      <ng-container *ngIf="!fetchingError">
        <app-shared-table [(config)]="config" [data]="table" (editRow)="navigate($event)"></app-shared-table>
      </ng-container>
      <!-- /table -->


    </div>
  </div>
</section>
