<section id="admin-projects" class="section-light-pad">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <div class="restrict-width">

      <!-- fetching error -->
      <ng-container *ngIf="fetchingError">
        <div class="a-p-error-wrapper d-flex align-center">
          <app-error-template-1 [errorMessage]="'ERROR.ERRORS.HEADING_1'" style="width: 100%">
            <h5 class="subtitle text-background">{{ 'ERROR.ERRORS.FETCHING_MESSAGE_1' | translate }}</h5>
          </app-error-template-1>
        </div>
      </ng-container>
      <!-- /fetching error -->

      <!-- no fetching error -->
      <ng-container *ngIf="!fetchingError">

        <!-- import button -->
        <div class="text-right p-bottom-25">
          <label class="button is-primary is-outlined">
            <input #fileupload type="file" [hidden]="true" (change)="onClickImport(fileupload.files[0])" />
            <i class="fas fa-file-import icon-left"></i> {{ 'COMMON.BUTTON.IMPORT_PROJECT' | translate }}
          </label>
        </div>

        <!-- projects table -->
        <app-shared-table [(config)]="config" [data]="table" (editRow)="navigate($event)"></app-shared-table>

      </ng-container>
      <!-- /no fetching error -->

    </div>
  </div>
</section>
