@import "../../../../../../../../style/framework/src/variables";

#wordpress-filters {

  .animate-appear {
    animation-duration: .5s;
  }

  .sector-wrapper, .sector-suggested {

    .label {
      padding: 0;
    }

    label {
      padding: $unit-2 $unit-4;
    }

    label input[type="checkbox" i] {
      display: none;
    }

    h3 {
      margin-bottom: 0.6rem;
      font-size: $font-size-sm;
    }

  }

  .sector-wrapper {
    flex-wrap: wrap;
    margin: -$unit-1;
  }

  .sector-suggested {
    padding-top: 1rem;
  }

}


