<div class="col s12 answers" *ngIf="showDetails">
  <div class="divider"></div>

  <!-- WORLD MAP -->
  <div class="col s12 answers" *ngIf="question.answerType === 'worldmap'">
    <div class="col xl4 l6 s12" *ngFor="let professional of infographic.answers;">
      <div class="answer" *ngIf="professional != null">
        <app-shared-infographic-professional-card [professional]="professional"></app-shared-infographic-professional-card>
      </div>
    </div>
  </div>

  <!-- RÉPONSES CHOIX MULTIPLES -->
  <app-shared-infographic-answers-qcm *ngIf="question.answerType === 'qcm'" class="answer" [title]="question.statTitle" [answers]="getAllAnswersToQuestion()" [propositions]="question.answerPossibilities"></app-shared-infographic-answers-qcm>

  <!-- RÉPONSES UNIQUES  -->
  <div *ngIf="question.answerType === 'string' || question.answerType === 'comment'">
    <div class="for-item row" *ngFor="let fullAnswer of infographic.answers;">
      <div *ngIf="getAnswerToQuestion(fullAnswer) != null">

        <app-shared-infographic-answer-string *ngIf="question.answerType === 'string'" class="col s6 answer" [answerObject]="fullAnswer" [answer]="getAnswerToQuestion(fullAnswer)"></app-shared-infographic-answer-string>

        <app-shared-infographic-comment *ngIf="question.answerType === 'comment'" class="col s12 answer" [answerObject]="fullAnswer" [answer]="getAnswerToQuestion(fullAnswer)"></app-shared-infographic-comment>

      </div>
    </div>
  </div>

</div>
