.answers
  margin-top 4rem
  text-align center

  .for-item
    &:nth-child(odd) .answer
      background-color #0b90c6

    &:nth-child(even) .answer
      background-color #4fa9ce

    .answer
      font 14px/24px 'Open Sans', sans-serif
      width 100%
      margin 1rem -0.75rem
      padding 1rem 1rem
      text-align left
      border-radius 0.1rem
      position relative
