<section>

  <form [formGroup]="inputForm" (ngSubmit)="addProposition(inputForm)">

    <ng-container *ngIf="canEdit">
      <div class="flex-between">
        <input
          auto-complete
          formControlName="answer"
          [list-formatter]="autocompleteListFormatter.bind(this)"
          [source]="suggestions.bind(this)"
          value-property-name="id"
          [display-property-name]="identifier"
          [attr.placeholder]="placeholder | translate"
          class="form-input"
          [ngStyle]="{ 'width': '100%' }">
        <button *ngIf="addButton" class="btn btn-round btn-primary" [disabled]="!canAdd" translate><i class="fas fa-plus"></i></button>
      </div>
    </ng-container>

  </form>

  <ul *ngFor="let answer of answerList; index as i" class="input-answer-wrapper">

    <ng-container *ngIf="!adminMode">
      <li>

        <span [innerHTML]="answer[identifier]"></span>

        <ng-container *ngIf="canOrder">
          <i class="fas fa-angle-up" aria-label="Up" role="button" (click)="up($event, i)"></i>
          <i class="fas fa-angle-down" aria-label="Down" role="button" (click)="down($event, i)"></i>
        </ng-container>

        <a class="delete" aria-label="Close" role="button" (click)="rmProposition($event, i)">
          <img src="https://res.cloudinary.com/umi/image/upload/app/delete.svg" width="" height="" alt=" ">
        </a>

      </li>
    </ng-container>


    <ng-container *ngIf="adminMode">
      <li>

        <span [innerHTML]="answer[identifier]"></span>

        <div class="popover popover-left">

          <i class="fas fa-pencil-alt"></i>

          <div class="popover-container">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label class="form-label" for="autocomplete-text">Answer</label>
                  <input autocomplete="off" type="text" id="autocomplete-text" class="form-input" [(ngModel)]="answer[identifier]" name="text"/>
                </div>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-primary btn-xs" type="submit" (click)="updateItem($event)">Update</button>
              </div>
            </div>
          </div>

        </div>

        <div class="popover popover-left">

          <i class="fas fa-at" [ngClass]="{'active': answer.domain && answer.domain.length > 0}"></i>

          <div class="popover-container">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label class="form-label" for="domain">Domain Name</label>
                  <input autocomplete="off" type="text" id="domain" class="form-input" [(ngModel)]="answer.domain" name="domain"/>
                </div>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-primary btn-xs" type="submit" (click)="updateItem($event)">Update</button>
              </div>
            </div>
          </div>

        </div>

        <i class="fas fa-thumbs-up" [ngClass]="{'active': answer.rating === 2}" (click)="thumbsUp($event, i)"></i>

        <i class="fas fa-thumbs-down" [ngClass]="{'active': answer.rating === 0}" (click)="thumbsDown($event, i)"></i>

        <a class="delete" aria-label="Close" role="button" (click)="rmProposition($event, i)">
          <img src="https://res.cloudinary.com/umi/image/upload/app/delete.svg" width="" height="" alt=" ">
        </a>

      </li>
    </ng-container>

  </ul>

</section>
