<ng-template #errorSection>
  <span *ngIf="error.column" class="text-bold"> Column {{ error.column }} - </span> {{ error.error }}
  <span *ngIf="error.lines && error.lines.length">
    - Lines {{ (error.lines.length > 10) ? error.lines.slice(0, 10) + '...' : error.lines }}
  </span>
</ng-template>

<ng-container [ngSwitch]="htmlTag">
  <li *ngSwitchCase="'li'" class="text-error text-xs m-right-3">
    <template [ngTemplateOutlet]="errorSection"></template>
  </li>

  <span *ngSwitchCase="'span'" class="text-error text-xs m-right-3">
    <template [ngTemplateOutlet]="errorSection"></template>
  </span>
</ng-container>

