<section id="admin-emails-library-component">

  <div class="text-right">
    <button type="button" (click)="onClickAdd()" class="btn btn-primary">Add</button>
  </div>

  <ng-container *ngIf="emails.length > 0">
    <div class="section-light-pad rm-pad-bottom">
      <app-shared-table
        [(config)]="config"
        [data]="tableInfos"
        (editRow)="editEmail($event)"
        (removeRows)="removeEmails($event)">
      </app-shared-table>
    </div>
  </ng-container>

  <ng-container *ngIf="emails.length === 0">
    <div class="section-pad rm-pad-bottom">
      <app-message-template-1 [widthMax]="'320px'">
        Don't have any emails? Create the email by clicking on "Add" button.
      </app-message-template-1>
    </div>
  </ng-container>

</section>


<!-- sidebar to edit email -->
<app-sidebar [(template)]="sidebarValue">
  <app-workflow
    [id]="getId()"
    [emailsObject]="emailToEdit"
    (emailChange)="updateEmail($event)"
    [signatures]="signatures"
    [inputLanguage]="language">
  </app-workflow>
</app-sidebar>
<!-- /sidebar to edit email -->

<!-- modal to add the new email -->
<app-modal [(showModal)]="modalAdd" [modalTitle]="'COMMON.MODAL.TITLE_CREATE'">

  <div class="form-group">
    <label class="form-label" for="add-email">Email Name</label>
    <input
      type="text"
      id="add-email"
      [(ngModel)]="newEmailName"
      name="emailName"
      placeholder="Enter the email name"
      class="form-input">
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="onClickConfirm()" [disabled]="!newEmailName">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>

</app-modal>
<!-- /modal to add the new email -->
