<section id="admin-emails-library-component">

  <div class="text-right">
    <button type="button" (click)="onClickAdd()" class="button">Add</button>
  </div>

  <ng-container *ngIf="emails.length > 0">
    <div class="p-top-25">
      <umius-table
        [(config)]="config"
        [data]="tableInfos"
        (editRow)="editEmail($event)"
        (removeRows)="removeEmails($event)">
      </umius-table>
    </div>
  </ng-container>

  <ng-container *ngIf="emails.length === 0">
    <div class="p-top-50">
      <app-message-template [widthMax]="'320px'">
        Don't have any emails? Create the email by clicking on "Add" button.
      </app-message-template>
    </div>
  </ng-container>

</section>


<!-- sidebar to edit email -->
<umius-sidebar-full [(template)]="sidebarValue">
  <app-sidebar-workflow
    [id]="getId()"
    [emailObject]="emailToEdit"
    (emailChange)="updateEmail($event)"
    [signatures]="signatures"
    [inputLanguage]="language">
  </app-sidebar-workflow>
</umius-sidebar-full>
<!-- /sidebar to edit email -->

<!-- modal to add the new email -->
<umius-modal [(showModal)]="modalAdd" [title]="'COMMON.MODAL.TITLE_CREATE'">

  <div class="form-group">
    <label class="form-label" for="add-email">Email Name</label>
    <input
      type="text"
      id="add-email"
      [(ngModel)]="newEmailName"
      name="emailName"
      placeholder="Enter the email name"
      class="form-input">
  </div>

  <div class="modal-footer">
    <button class="button modal-cancel is-sm">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="button is-sm" (click)="onClickConfirm()"
            [disabled]="!newEmailName">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>

</umius-modal>
<!-- /modal to add the new email -->
