<main class="container fluid" id="login-component">
  <section class="section-main">
    <div class="columns col-gapless">

      <!-- image -->
      <section class="column col-md-6 col-xl-7 col-8 col-mx-auto cover-image" [ngStyle]="{ 'background-image': 'url(' + getBackgroundImage() + ')' }"></section>

      <!-- login -->
      <section class="column col-sm-12 col-md-6 col-xl-5 col-4 col-mx-auto section-login section-light-pad">

        <!-- logo -->
        <div><a href="{{ getCompanyUrl() }}"><img src="{{ getLogoWBG() }}" height="35px" alt=" "></a></div>

        <!-- form -->
        <div class="form">

          <!-- heading -->
          <h1 class="title-primary">{{ 'LOG_IN.HEADING' | translate }}</h1>

          <!-- details -->
          <div class="credentials-wrapper">
            <form (submit)="onContinue()"  [formGroup]="formData">

              <div class="form-group">
                <label class="form-label" for="login-email">{{ 'COMMON.LABEL.EMAIL' | translate }}</label>
                <input
                  type="email"
                  id="login-email"
                  class="form-input"
                  formControlName="email"
                  placeholder="john@catco.com">
                <span *ngIf="formData.get('email').touched">
                <span class="form-error" *ngIf="formData.get('email').hasError('required')">{{ 'COMMON.REQUIRED.EMAIL' | translate }}</span>
                <span class="form-error" *ngIf="formData.get('email').hasError('email') && formData.get('email').value !== ''">{{ 'COMMON.INVALID.EMAIL' | translate }}</span>
              </span>
              </div>

              <div class="form-group">
                <label class="form-label" for="login-password">{{ 'COMMON.LABEL.PASSWORD' | translate }}</label>
                <input
                  class="form-input"
                  id="login-password"
                  type="password"
                  formControlName="password"
                  [attr.placeholder]="'COMMON.PASSWORD_PLACEHOLDER' | translate ">
                <span class="form-error" *ngIf="formData.get('password').hasError('required') && formData.get('password').touched">{{ 'COMMON.REQUIRED.PASSWORD' | translate }}</span>
              </div>

              <!-- Login button and forget password -->
              <div class="submit-wrapper">
                <div class="login-button">
                  <button class="btn btn-primary gtm-signin-email" type="submit" [disabled]="formData.invalid">{{ 'LOG_IN.LOG_IN_BTN' | translate }}</button>
                </div>
                <p>{{ 'LOG_IN.FORGOT_PASSWORD.A' | translate }} <span class="text-link" routerLink="forgetpassword">{{ 'LOG_IN.FORGOT_PASSWORD.B' | translate }}</span></p>
              </div>

            </form>
          </div>

          <!-- LinkedIn -->
          <div class="linkedIn-wrapper" *ngIf="checkIsMainDomain()">

            <!-- Or -->
            <div class="or-wrapper">
              <span class="or-divider"> {{ 'COMMON.OR' | translate }} </span>
            </div>

            <button class="btn btn-secondary gtm-signin-linkedin" (click)="linkedInEvent()">
                <i class="fab fa-1x fa-linkedin-in"></i>{{ 'LOG_IN.LOG_IN_LINKEDIN' | translate }}
            </button>
          </div>

        </div>

        <!-- Sign up -->
        <div class="text-center">
          <span [ngStyle]="{ 'font-size': '0.7rem', 'padding-right': '0.5rem' }">{{ 'LOG_IN.DOES_NOT_HAVE_ACCOUNT' | translate }}</span>
          <button type="button" class="btn btn-sm ghost-primary" routerLink="/register">{{ 'LOG_IN.SIGN_UP' | translate }}</button>
        </div>

      </section>
      <!-- /Login -->

    </div>
  </section>
</main>
