<div class="container fluid" id="login">
  <div class="main-wrapper d-flex">

    <!-- left side -->
    <div [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }" class="cover-image">
      <ng-container *ngIf="isDomainUMI">
        <div class="logo-wrapper p-top-20 p-left-40">
          <a [href]="companyUrl" class="d-inline-flex">
            <img [alt]="companyName" [src]="logo" class="img-responsive">
          </a>
        </div>
      </ng-container>
    </div>
    <!-- /left side -->

    <!-- right side -->
    <div class="content-body">

      <!-- sign up -->
      <div class="flex-end">
        <span class="text-13 text-meta m-right-20">{{ 'LOG_IN.DOES_NOT_HAVE_ACCOUNT' | translate }}</span>
        <a
          [href]="'/register'"
          [id]="'login-btn-signup'"
          [routerLink]="'/register'"
          class="button text-xs is-sm is-rounded is-outlined"
          type="button">
          {{ 'LOG_IN.SIGN_UP' | translate }}
        </a>
      </div>
      <!-- /sign up  -->

      <!-- body -->
      <section class="content-login flex-centered">
        <div class="login-form">

          <h1 class="title text-center">{{'LOG_IN.HEADING' | translate}}</h1>

          <form (submit)="onClickLogin()" [formGroup]="formData" autocomplete="off">

            <div class="form-group m-bottom-20 has-error">
              <label class="form-label text-xs" for="login-email">{{ 'COMMON.LABEL.EMAIL' | translate }}</label>
              <input
                class="form-input"
                formControlName="email"
                id="login-email"
                placeholder="john@catco.com"
                type="text">
              <ng-container *ngIf="formData.get('email').touched">
                <span *ngIf="formData.get('email').hasError('required')" class="form-input-hint">
                  {{ 'COMMON.REQUIRED.EMAIL' | translate }}
                </span>
                <span
                  *ngIf="formData.get('email').hasError('email') && formData.get('email').value !== ''"
                  class="form-input-hint">
                  {{ 'COMMON.INVALID.EMAIL' | translate }}
                </span>
              </ng-container>
            </div>

            <div class="form-group has-error">

              <div class="flex-between">
                <label class="form-label text-xs" for="login-password">{{ 'COMMON.LABEL.PASSWORD' | translate }}</label>
                <a
                  [href]="'forgetpassword'"
                  [id]="'login-btn-forgot-password'"
                  [routerLink]="'forgetpassword'"
                  class="gtm-change-password text-xs text-underline text-link">
                  {{ 'COMMON.LABEL.FORGOT_PASSWORD' | translate }}
                </a>
              </div>

              <input
                [attr.placeholder]="'COMMON.PASSWORD_PLACEHOLDER' | translate "
                class="form-input"
                formControlName="password"
                id="login-password"
                type="password">

              <ng-container *ngIf="formData.get('password').touched">
                <span *ngIf="formData.get('password').hasError('required')" class="form-input-hint">
                  {{ 'COMMON.REQUIRED.PASSWORD' | translate }}
                </span>
              </ng-container>

            </div>
            <!-- tentatives + contact UMI  -->
            <ng-container *ngIf="nbTentatives<3">
              <div class="m-bottom-15 text-alert text-sm d-flex">
                <span class="text-xs">{{ nbTentatives + ' ' + ('COMMON.LABEL.TENTATIVE_LEFT' | translate) }}</span>
                <span
                  (click)="showContactUMIModal()"
                  *ngIf="nbTentatives ===0"
                  [id]="'login-btn-modal-contact'"
                  class="text-link text-underline m-left-auto text-xs">
                Contact UMI support
              </span>
              </div>
            </ng-container>
            <!-- /tentatives + contact UMI-->

            <!-- login button -->
            <div class="p-top-30">
              <button
                [disabled]="formData.invalid || displayLoading || displayLoadingLinkedIn || nbTentatives < 1"
                [id]="'login-btn-submit'"
                class="button is-fullwidth gtm-signin-email"
                style="height: 50px"
                type="submit">
                <ng-container *ngIf="!displayLoading">{{ 'LOG_IN.LOG_IN_BTN' | translate }}</ng-container>
                <span *ngIf="displayLoading" class="loading is-white"></span>
              </button>
            </div>
            <!-- /login button  -->

            <!-- domain UMI -->
            <ng-container *ngIf="isDomainUMI">

              <div class="text-center p-top-25 p-bottom-30">
                <div class="divider" [attr.data-content]="'COMMON.OR' | translate"></div>
              </div>

              <!-- linkedin -->
              <div class="text-center">
                <button
                  (click)="onClickLinkedIn()"
                  [disabled]="displayLoading || displayLoadingLinkedIn"
                  [id]="'login-btn-linkedin'"
                  class="button text-sm is-lg gtm-signin-linkedin">
                  <span *ngIf="displayLoadingLinkedIn" class="loading is-white"></span>
                  <ng-container *ngIf="!displayLoadingLinkedIn">
                    <i class="fab fa-linkedin-in icon-left"></i> {{ 'LOG_IN.LOG_IN_LINKEDIN' | translate }}
                  </ng-container>
                </button>
              </div>
              <!-- /linkedin -->

            </ng-container>
            <!-- /domain UMI -->

          </form>

        </div>
      </section>
      <!-- /body -->

    </div>
    <!-- /right side -->

  </div>
</div>

<umius-modal maxWidth="550px" title="Contact UMI support" [(showModal)]="isShowModal">
  <section class="modal-body p-top-15 p-bottom-15 p-left-25 p-right-25">
    <!-- info -->
    <div class="text text-center">
      <p class="title m-top-10">We are here to help</p>
      <p class="text text-sm">Having trouble logging into the platform?
        Let us know what happened and we'll do our best to help!</p>
    </div>
    <!-- /info -->

    <!-- send message form -->
    <div class="form p-bottom-25 p-top-25 flex-centered">
      <div class="w-full p-30">
        <form [formGroup]="helpMessageForm" (ngSubmit)="sendMessageToUMISupport()">
          <!-- message form -->
          <div class="form-group">
            <textarea id="textarea"
                      class="form-input"
                      formControlName="message"
                      placeholder="Write your message here" rows="3">
            </textarea>
          </div>
          <!-- /message form -->

          <!-- email form -->
          <div class="form-group has-error m-top-4">
            <label class="form-label" for="contact-email">{{ 'COMMON.LABEL.EMAIL' | translate }}</label>
            <input
              type="email"
              id="contact-email"
              class="form-input"
              formControlName="contactEmail"
              placeholder="john@catco.com">
            <span *ngIf="helpMessageForm.get('contactEmail').touched">
                <span *ngIf="helpMessageForm.get('contactEmail').hasError('required')" class="form-input-hint">
                  {{ 'COMMON.REQUIRED.EMAIL' | translate }}
                </span>
                <span
                  *ngIf="helpMessageForm.get('contactEmail').hasError('contactEmail') && helpMessageForm.get('contactEmail').value !== ''"
                  class="form-input-hint">
                  {{ 'COMMON.INVALID.EMAIL' | translate }}
                </span>
              </span>
          </div>
          <!-- /email form -->

          <!-- send+cancel buttons -->
          <div class="d-flex p-top-20">
            <div class="btn-cancel" style="margin-right: auto">
              <button
                (click)="cancelMessage()"
                class="button modal-cancel">
                Cancel
              </button>
            </div>

            <div class="login-button" style="margin-left: auto">
              <button
                id="message-submit"
                class="button"
                type="submit"
                [disabled]="helpMessageForm.invalid">
                Send
              </button>
            </div>
          </div>
          <!-- /send+cancel buttons -->
        </form>
      </div>
    </div>
    <!-- /send message form -->
  </section>
</umius-modal>
