@import "../../../../style/framework/src/variables";

#login {

  .cover-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }

  .section-login {
    flex-direction: column;
    min-height: 100vh;

    .logo-wrapper {
      height: 35px;
    }

    .form {
      flex: 1 0 auto;
      flex-direction: column;
      width: 100%;
      margin-right: auto;
      margin-left: auto;

      .title-primary {
        font-size: 1.4rem;
      }

      .credentials-wrapper {
        width: 80%;

        .submit-wrapper {
          padding-top: 1rem;

          .login-button {
            padding-bottom: 0.7rem;

            .btn {
              min-width: 150px;
            }

            .loading {
              position: absolute;
              left: 25px;
            }

          }

          p, .text-link {
            font-size: 0.7rem;
            margin-bottom: 0;
          }

        }

      }

      .linkedIn-wrapper {
        padding-top: 0.8rem;

        .or-wrapper {
          padding-bottom: 1.25rem;
        }

        .btn {
          min-width: 250px;
        }

        .loading {
          margin-right: 20px;
        }

      }

    }

  }

}


@media (max-width: $size-sm) {

  #login {

    .cover-image {
      display: none;
    }

    .credentials-wrapper {
      width: 90% !important;
    }

  }

}

