.fcp {
  display: flex;
  color: #97A4B1;
  font-size: 14px;
  font-weight: 600;

  .flag {
    margin-top: 1px;
    margin-right: 15px;
  }

}

.p-comment {
  font-size: 14px;
  color: #484848;
  padding-bottom: 0;
}
