@import "../../../../../../../style/variables";

.fcp-wrapper {
  display: flex;
  color: $meta-color;
  font-size: .875rem;
  font-weight: 600;

  .flag {
    margin-top: .06rem;
    margin-right: .9375rem;
  }

}

.p-comment {
  font-size: .875rem;
  color: $text-dark;
  padding-bottom: 0;
}
