@import "../../../../../../../style/framework/src/variables";

#professional-comment-2-component {
  height: 100%;
  font-size: $font-size-sm;

  .detail-wrapper {
    align-items: center;

    .flag-wrapper {
      margin-bottom: $unit-2;
      margin-right: 0.75rem;
    }

  }

  .text {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

}

