<app-shared-loader *ngIf="!preset"></app-shared-loader>

<ng-container *ngIf="preset">

  <h1>{{preset.name}}</h1>

  <div class="text-right">
    <button type="button" class="btn btn-primary" (click)="savePreset($event)">
      Save
    </button>
  </div>

  <div class="body">
    <div *ngFor="let section of preset.sections; let i=index">
      <app-shared-preset-section [section]="section" [sectionIndex]="i"></app-shared-preset-section>
    </div>

    <div class="add-section" (click)="addSection()">
      <button class="btn-round btn-primary"><i class="icon icon-plus"></i></button>
      <div>Add section</div>
    </div>
  </div>

</ng-container>
