<div [hidden]="!preset && !preset._id">

  <!-- title and save button -->
  <section>
    <h2 class="title text-20">{{ preset.name }}</h2>
  </section>
  <!-- /title and save button -->

  <!-- sections -->
  <ng-container *ngIf="preset.sections && preset.sections.length > 0">
    <section
      *ngFor="let section of preset.sections; let i = index;"
      [ngClass]="{'m-bottom-30': (i + 1) < preset.sections.length}">
      <app-shared-preset-section
        [isEditable]="isEditable"
        [sectionIndex]="i"
        [section]="section">
      </app-shared-preset-section>
    </section>
  </ng-container>
  <!-- /sections -->

  <!-- add section -->
  <section *ngIf="isEditable" class="p-bottom-30 text-center">
    <div class="divider m-bottom-50"></div>
    <button
      (click)="addSection($event)"
      [id]="'sharedPreset-btn-add-section'"
      class="button is-xl is-primary"
      type="button">
      Add new section
    </button>
    <div class="divider m-top-50"></div>
  </section>
  <!-- /add section -->

</div>
