<div class="container">
  <h2>Welcome {{name}}</h2>
  <div *ngIf="isAdmin">
    <p>Hey, you're an admin. You have super powers and as a well known rice maker said,
      "With great powers comes great responsibility", pay attention to what you do around here.</p>
    <p>Happy UMIing</p>

  </div>
  <div *ngIf="!isAdmin">
    <p>Please, read this note carefully...</p>
    <p>Happy UMIing</p>
  </div>

  <div>
    <p>I understand and accept the terms:</p>
    <button class="btn btn-action" (click)="acceptTerms()">Accept</button>
  </div>

</div>


