<file-drop
  (onFileDrop)="dropped($event)"
  [attr.customstyle]="'upload-zone'"
  [id]="'shared-upload-zone-photo'"
  [ngClass]="{'is-error': isWrongFormat || isWrongSize}"
  class="drop-container text-center">

  <!-- uploading -->
  <div *ngIf="isUploading">
    <p class="text-sm text-medium text-draft">{{ 'COMMON.MEDIA.UPLOADING' | translate }}</p>
    <div class="loading is-primary is-lg"></div>
  </div>
  <!-- /uploading -->

  <!-- not uploading -->
  <ng-container *ngIf="!isUploading">

    <input (change)="dropped($event)" type="file" #fileInput>

    <ng-container *ngIf="!isWrongFormat && !isWrongSize">
      <i style="font-size: 70px" class="fas text-primary fa-cloud-upload-alt"></i>
      <p class="text-13 text-draft m-top-1 m-no-bottom">{{ 'COMMON.PLACEHOLDER.MEDIA_SLIDE' | translate }}</p>
    </ng-container>

    <ng-container *ngIf="isWrongFormat || isWrongSize">
      <i style="font-size: 50px" class="fas text-alert fa-exclamation-triangle"></i>
      <p class="text-13 text-alert m-top-2 m-no-bottom text-medium">
        {{ isWrongFormat ? ('COMMON.MEDIA.WRONG_FORMAT' | translate) : ('COMMON.MEDIA.WRONG_SIZE' | translate) }}
      </p>
    </ng-container>

    <!-- or || Try -->
    <p class="text-sm text-primary-dark m-top-10 m-bottom-15">
      {{!isWrongFormat && !isWrongSize ? ('COMMON.OR' | translate | lowercase) : ('COMMON.LABEL.TRY_AGAIN' | translate)}}
    </p>
    <!-- /or || try -->

    <!-- upload button -->
    <button
      (click)="fileInput.click()"
      [id]="'sharedUploadZonePhoto-btn-upload'"
      class="button is-outlined is-info is-sm">
      <i class="fas fa-upload icon-left"></i>
      {{ 'COMMON.BUTTON.UPLOAD_PICTURE' | translate }}
    </button>
    <!-- /upload button -->

    <!-- info text -->
    <p class="text-xs text-primary-dark m-top-2">
      {{ 'COMMON.MEDIA.FORMAT' | translate }}, {{ 'COMMON.MEDIA.SIZE' | translate }}
    </p>
    <!-- /info text -->

  </ng-container>
  <!-- not uploading -->

</file-drop>



