@import "../../../../../style/variables";

.upload-area {
  border: 2px dashed $border-color;
  padding-left: .35rem;
  padding-right: .35rem;
  position: relative;
  border-radius: .18rem;
  min-height: 15.625rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .para {
    font-size: 0.85rem;
  }

}

.upload-area:hover {
  border-color: $primary-color;
  background-color: $hover-background-color;
}

.my-drop-zone {
  transition: all 0.15s ease-in-out;
  border-color: $primary-color;
}

.nv-file-over {
  transition: all 0.15s ease-in-out;
  border-color: $alert-color;
} /* Default class applied to drop zones on over */

.another-file-over-class {
  transition: all 0.15s ease-in-out;
  border-color: $validation-color;
}




