<div
  ng2FileDrop
  class="drop-container file-field input-field upload-area"
  ngClass="{error: errors.medias, 'nv-file-over': hasBaseDropZoneOver}"
  (fileOver)="fileOverBase($event)"
  [uploader]="uploader">

  <div class="upload-button" ngClass="{ error: errors.medias }">

    <div style="height:0;overflow:hidden">
      <!-- let $event propagate here -->
      <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)"
                 (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      </file-drop>
    </div>

    <div class="text-center" *ngIf="!loading">
      <button class="btn btn-primary" (click)="fileInput.click($event)">
        <i class="fas fa-upload"></i>{{ 'PROJECT_MODULE.SETUP.PITCH.MEDIA.UPLOAD_PICTURE' | translate }}
      </button>
      <p class="para">{{ 'COMMON.OR' | translate | lowercase }} {{ 'PROJECT_MODULE.SETUP.PITCH.MEDIA.SLIDE' | translate }}</p>
    </div>

    <div class="loading loading-lg" *ngIf="loading"></div>

  </div>

</div>
