@import "../../../../../style/variables";

file-drop.drop-container {
  border: 2px dashed $border-color;
  position: relative;
  border-radius: 3px;
  min-height: 15.625rem;
  display: flex;

  input {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: inherit;
  }

  .para {
    font-size: 0.875rem;
    text-align: center;
  }

}

file-drop.drop-container:hover {
  border-color: $primary-color;
  background-color: $hover-background-color;
}

.nv-file-over {
  transition: all 0.15s ease-in-out;
  border-color: $alert-color;
}

.loading::after {
  border-color: $primary-color;
  border-right-color: transparent;
  border-top-color: transparent;
}