@import "../../../../../style/framework/src/variables";

#search-tool-component {

  .section-search {
    width: 582px;
    margin-left: auto;
    margin-right: auto;

    .form-group {

      &:hover .form-input {
        box-shadow: $box-shadow-hover;
      }

      .form-input {
        border-radius: 25px;
        border-color: $border-color !important;
        padding-left: 25px;
        padding-right: 55px;
        height: 45px;
      }

      .search-icon {
        right: 23px;
        top: 8px;
      }

    }

  }

  .video-responsive {
    max-height: 80vh;
  }

  .disappear {
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  .appear {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
  }

  .section-result {
    padding-top: 0.75rem;
  }

  .title-primary {
    font-size: $font-size-md;
    letter-spacing: 2px;
  }

  .title-secondary {
    font-size: 2.85rem;
    margin-bottom: 0;
  }

  .map-wrapper {
    width: 80%;
    margin-right: $unit-2;
  }

  .stat-wrapper {
    font-size: $font-size-sm;
    list-style: none;

    .shape.circle.circle-sm {
      width: 13px;
      height: 13px;
    }

    .circle-2 {
      border-color: #99E04B;
      background-color: #99E04B;
    }

    .circle-3 {
      border-color: #94E9B8;
      background-color: #94E9B8;
    }

    .circle-4 {
      border-color: #D9D9D9;
      background-color: #D9D9D9;
    }

  }

}
