@import "../../../../../style/framework/src/variables";

#search-tool-component {

  .section-search {
    width: 582px;
    margin-left: auto;
    margin-right: auto;
  }

  .history-wrapper {
    right: 1px;
    top: 2px;
    width: 40px;
    height: 40px;

    .fas {
      font-size: 20px;
    }

    &:hover {
      box-shadow: $box-shadow-umi;
    }

  }

  .video-responsive {
    max-height: 70vh;
  }

  .video-machine {
    max-height: 50vh;
  }

  .animate-card-appear {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
  }

  .animate-card-appear {
    animation-duration: 0.5s;
  }

  .professional-count-wrapper {
    min-height: 110px;
  }

  .title-primary {
    font-size: $font-size-md;
    letter-spacing: 2px;
  }

  .title-secondary {
    font-size: 2.85rem;
    font-weight: 300;
    margin-bottom: 0;
  }

  .title-pro {
    font-size: $unit-5;
    margin-bottom: $unit-5;
  }

  .map-wrapper {
    width: 80%;
  }

  .info-wrapper {
    font-size: $font-size-sm;
    right: 6.5%;
    list-style: none;

    .shape.circle.circle-sm {
      width: 13px;
      height: 13px;
    }

    .circle-3 {
      border-color: #99E04B;
      background-color: #99E04B;
    }

    .circle-2 {
      border-color: #94E9B8;
      background-color: #94E9B8;
    }

    .circle-4 {
      border-color: #D9D9D9;
      background-color: #D9D9D9;
    }

  }

  .stat {
    background-color: #F5F8FA;

    .stat-container {
      padding: 0.75rem;
    }

    .stat-sub-heading {
      font-size: $font-size-md;
    }

  }

  .card-wrapper {
    margin-bottom: -$unit-5;
    padding-bottom: 2.5rem;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      margin-bottom: $unit-5;
      min-height: 250px;
      font-size: 0.75rem;
      padding: $layout-spacing;

      &:hover {
        box-shadow: none;
      }

      .text-job, .text-email {
        font-size: $font-size-sm;
      }

      .text-email {
        color: transparent;
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
      }

      .card-footer {
        margin: auto;
        width: 45px;
        padding: 0;
        height: 45px;

        &.no-logo {
          width: 100%;
          font-size: $font-size-sm;

          .text-link {
            color: $text-primary-color;
          }

        }

      }

    }

  }

}


@media (max-width: $size-sm) {

  .section-search {
    width: 90% !important;
  }

  .flex-centered {
    flex-direction: column;

    .map-wrapper {
      width: 100% !important;
    }

    .info-wrapper {
      display: flex;
      right: auto !important;
      position: relative;

      li {
        margin: $unit-2 !important;
      }

    }

  }

  .stat-container, .card-wrapper {
    flex-direction: column;
  }

  .card {
    min-height: 258px !important;
  }
  
}
