<div id="search-tool-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- section search bar -->
    <section class="section-search section-pad rm-pad-bottom">
      <form [formGroup]="searchForm" (ngSubmit)="onClickSearch()">
        <div class="form-group relative">

          <label for="search-form-input"></label>
          <input
            class="form-input"
            formControlName="keywords"
            id="search-form-input"
            type="text">

          <span class="search-icon absolute text-notify c-hand" (click)="onClickSearch()"><i class="fas fa-search"></i></span>

        </div>
      </form>
    </section>
    <!-- /section search bar -->

    <!-- section showing video when no search -->
    <ng-container *ngIf="noResult">
      <div [ngClass]=" { 'disappear': searchStarted } ">
        <section class="section-light-pad rm-pad-bottom">
          <div class="video-responsive">
            <iframe
              allowfullscreen
              frameborder="0"
              mozallowfullscreen
              src="https://player.vimeo.com/video/313136787?autoplay=1&loop=1"
              webkitallowfullscreen>
            </iframe>
          </div>
        </section>
      </div>
    </ng-container>
    <!-- /section showing video when no search -->

    <!-- section to show result -->
    <ng-container *ngIf="!noResult">
      <section class="section-light-pad" [ngClass]=" { 'appear': searchContinue } ">

        <!-- metadata display -->
        <ng-container *ngIf="metadata">
          <div class="text-center">

            <h2 class="title-secondary text-background">
              <ng-container *ngIf="professionalCount < 100">< </ng-container>
              <ng-container *ngIf="professionalCount === 20000">+ </ng-container>
              {{ professionalCount }}
            </h2>

            <h1 class="title-primary text-notify">PROFESSIONALS FOUND</h1>

          </div>
        </ng-container>
        <!-- /metadata display -->

        <!-- when searching for professionals -->
        <ng-container *ngIf="!searchStopped && searchContinue">
          Video
        </ng-container>
        <!-- /when searching for professionals -->

        <!-- when searching for professionals done -->
        <ng-container *ngIf="searchStopped">
          <div class="section-light-pad" [ngClass]=" { 'appear': searchStopped } ">

            <!-- display stats -->
            <div class="text-center">
            </div>

            <admin-search-map [width]="'auto'" [quartiles]="[50, 100, 200]" [countriesData]="metadata"></admin-search-map>


          </div>
        </ng-container>
        <!-- /when searching for professionals done -->

      </section>
    </ng-container>
    <!-- /section to show result -->


  </div>
</div>
