<div class="section-container" id="projectSurvey">
  <div class="columns">
    <div class="column col-12 col-mx-auto">
      <div class="column col-xs-12 col-11 col-mx-auto">

        <div *ngIf="!project.quizId">
          <div class="bot-wrapper text-center">
            <span class="bot-rect">{{'PROJECT_MODULE.SETUP.SURVEY.NOQUIZ' | translate}}</span>
            <br>
            <img src="https://res.cloudinary.com/umi/image/upload/v1528795403/app/default-images/bot-triangle.svg" class="bot-trian">
            <div><img src="https://res.cloudinary.com/umi/image/upload/v1528795365/app/default-images/bot-1.svg" alt="Bot"></div>
          </div>
        </div>

        <ng-container *ngIf="project.quizId">
          <p>{{'PROJECT_MODULE.SETUP.SURVEY.DONTSHAREQUIZ' | translate}}</p>
          <a href="{{url}}" target="_blank">{{url}}</a>
        </ng-container>

      </div>
    </div>
  </div>
</div>
