@import "../../../../../../style/variables";

#admin-monitoring-component {
  padding-top: 0;


  .section-header {
    background: white;
    padding-top: 1.57rem;

    .main-heading {
      color: $background-color;
      font-size: 1.4375rem;
      font-weight: normal;
    }

    .tabs {
      border-bottom: 1px solid #D8D8D8;

      li {
        flex: unset;

        a {
          background: white;
          color: #4F5D6B;
          font-weight: 500;
          padding-right: 40px;
          text-align: center;
          margin-right: 1.57rem;
        }

      }

    }

    .tabs li a:hover, .tabs li a.active {
      color:  #FFB300;
      border-bottom: 5px solid #FFB300;
    }

  }


  .section-other {
    padding-top: 1.57rem;
  }


}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .tabs {
    border-bottom: none !important;

    li {
      flex: 1 0 auto;

      a {
        margin-right: 0 !important;
        border-bottom: 1px solid #D8D8D8;
      }

    }

  }

}
