@import "../../../../../../../style/framework/src/variables";

#question-conclusion-component {
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow-umi;

  .conclusion-wrapper {
    flex: 2;

    .title-primary {
      font-size: 1.35rem;
      margin-bottom: 1.25rem;
    }

    .title-secondary {
      font-size: $font-size-lg;
      font-weight: $font-weight-medium;
    }

    .tag-wrapper {
      margin: -$unit-2;

      .label.label-tag {

        &:hover {
          background-color: $primary-color;
        }

      }

    }

    .op-text {
      color: $primary-color;
      font-size: 0.75rem;
      margin-bottom: 0.75rem;
    }

  }

  .stat-wrapper {
    background-color: $background-color;
    color: $light-color;
  }

}

@media (max-width: $size-md) {

  #question-conclusion-component {
    flex-direction: column;
  }

}

@media (max-width: $size-sm) {

  #question-conclusion-component {

    .conclusion-wrapper {
      padding: 1.25rem !important;
    }

  }

}
