@import "../../../../../../../style/framework/src/variables";

#question-conclusion-component {
  justify-content: space-between;

  .conclusion-wrapper {
    flex: 1;

    .title-primary {
      font-size: 1.35rem;
      margin-bottom: 0;
    }

    .tag-wrapper {
      margin: -$unit-1;
      margin-top: 0.25rem;

      .label.label-tag {
        background-color: $success-color;
      }

    }

    .title-secondary {
      margin-top: 1.25rem;
      margin-bottom: 0;
      font-size: $font-size-lg;
    }

    .op-text {
      margin-top: 1.25rem;
      font-size: 0.75rem;
      margin-bottom: 0.75rem;
    }

  }

  .stats-wrapper {
    width: 360px;
    background-color: $background-color;
    color: $light-color;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

}

@media (max-width: $size-lg) {

  #question-conclusion-component {
    justify-content: unset;
    flex-direction: column;

    .stats-wrapper {
      width: 100%;
    }

  }

}
