@import "../../../../../../style/framework/src/variables";

#wordpress-discover-description {

  .d-d-error-wrapper, .d-d-content-wrapper {
    min-height: 50vh;
  }

  .d-d-title, .d-d-title-secondary {
    color: #3E5164;
    font-weight: $font-weight-normal;
    font-size: 2rem;
    margin-top: 0.5rem;
    font-family: $font-family-oswald;
    margin-bottom: $unit-h;
  }

  .fa-angle-left, .fa-angle-right {
    font-size: 1.3rem;
  }

  .label.label-tag {
    padding-left: 0;
    padding-top: 0;
    background-color: $bg-white-color;
  }

  img {
    height: 177px;
  }

  .d-d-back-link {

    .text-link {
      color: #777777;

      &:hover, &:focus {
        color: $primary-color;
      }

    }

  }

  .d-d-tags-wrapper {

    .label.label-tag {
      font-size: 0.65rem;
    }

  }

  .d-d-summary-wrapper, .d-d-issue-wrapper, .d-d-solution-wrapper {
    padding-top: $unit-5;
    color: $text-draft-color;
    font-size: 0.75rem;
    font-weight: $font-weight-normal;
  }

  .d-d-media-wrapper {
    margin: 0.5rem 0.5rem 1.5rem;
  }

  .d-d-share-wrapper {
    border-top: $border-width solid $border-light-color;
    border-bottom: $border-width solid $border-light-color;

    .d-d-action-buttons-wrapper {

      .btn {
        margin: 0.5rem;
      }

    }

    .d-d-share-buttons-wrapper {

      .btn-round {
        margin: 0.5rem $unit-1;

        &.btn-round-md {

          i {
            font-size: 16px;
          }

        }

        &.btn-linkedin {
          background-color: #0077B5;
          border-color: #0077B5;
        }

        &.btn-twitter {
          background-color: #48AAEB;
          border-color: #48AAEB;
        }

        &.btn-mail {
          background-color: $text-draft-color;
          border-color: $text-draft-color;
        }

        &.btn-linkedin:hover, &.btn-linkedin:focus, &.btn-twitter:hover, &.btn-twitter:focus, &.btn-mail:hover, &.btn-mail:focus {
          box-shadow: $box-shadow-button-hover;
        }

      }

    }

  }

  .d-d-text {
    font-family: $font-family-oswald;
  }

  .d-d-cards-wrapper {
    margin-left: -$unit-2;
    margin-right: -$unit-2;

    .card {
      flex: 0 1 310px;
      max-width: 310px;
      padding: $unit-2;
      margin-left: $unit-2;
      margin-right: $unit-2;
      border: none;

      .card-header {

        a:hover {
          transition: all 0.3s ease;
          color: $primary-color;
        }

      }

    }

  }

}

@media (max-width: $size-sm) {

  #wordpress-discover-description {

    .d-d-cards-wrapper {
      flex-direction: column;

      .card {
        margin-left: auto !important;
        margin-right: auto !important;
      }

    }

  }

}
