<div class="container col-10 col-mx-auto section-container">
  <h2>Templates de mails</h2>
  <button class="btn btn-primary" (click)="importModal = true">Importer un template de la bibliothèque</button>

  <div>
    <h2>Campagne : {{campaign.title}}</h2>

    <h3> Choix du Workflow par défault</h3>

    <form>
      <select class = "form-select"
              [(ngModel)] = "modalSelectDefault[1]"
              id = "workflow"
              name = "quelquechose"
              (ngModelChange) ="areYouSureYouWantToChange($event)">
        <option *ngFor = "let scenario of modifiedScenarios"
                [ngValue] = "scenario.name">
          {{scenario.name}}
        </option>
      </select>
    </form>
    <div *ngFor="let scenario of availableScenarios">
      <br>
      <app-shared-edit-scenario
        *ngIf="scenario.emails && scenario.emails.length"
        [scenario]="scenario"
        [inCampaign]="true"
        (scenarioChange)="updateAvailableScenario(scenario)"
        (removeScenario)="removeScenario(scenario)"
      ></app-shared-edit-scenario>
    </div>
  </div>
</div>


<!-- MODAL : Import d'un template -->
<div class="modal" [ngClass]="{'active': importModal}">
  <div class="modal-overlay" (click)="(importModal = false) && $event.preventDefault()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(importModal = false) && $event.preventDefault()"></button>
      <div class="modal-title h5">Import d'un template</div>
    </div>
    <div class="modal-body">
      <div class="content">
        Liste des templates existants :
        <p *ngIf="!templates">
          Il n'y a pas de template dans la bibliothèque
        </p>
        <table class="table" *ngIf="templates">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Nombre d'emails</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let template of templates">
            <td>{{ template.name }}</td>
            <td>{{ template.emails.length }}</td>
            <td><button class="btn btn-primary" (click)="importTemplate(template)">Importer</button></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" (click)="(importModal = false) && $event.preventDefault()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </div>
</div>


<!-- Modal selection  d'un workflow par default -->
<div class="modal" [ngClass]="{'active': modalSelectDefault[0]}">
  <div class="modal-overlay" (click)="(modalSelectDefault[0] = !modalSelectDefault[0])"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(modalSelectDefault[0] = !modalSelectDefault[0])"></button>
      <div class="modal-title h5">{{ 'CAMPAIGNS.SELECT_DEFAULT.TITLE' | translate }}</div>
      <div class="modal-body">{{'CAMPAIGNS.SELECT_DEFAULT.CONTENT' | translate}}</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" (click)="changeDefaultWorkflow()">{{ 'COMMON.UPDATE' | translate }}</button>
      <button class="btn btn-primary" (click)="resetDefaultWorkflow()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
    </div>
  </div>
</div>


