/* === Horizontals bars === */

.flex-container {
  display: flex;
  justify-content: space-between;
}

.item-occurrence {
  font-weight: 600;
  font-size: 14px;
  color: #0878A5;
  padding: 0 4px;
  border-radius: 500px;
  background: rgba(255, 255, 255, 0.8);
}
