<section class="section-pad animate-page" id="synthesis-list-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- section no reports -->
    <ng-container *ngIf="noResult">
      <app-message-space [widthMax]="'369px'">
        <span>{{ 'SHARE.SYNTHESIS_LIST.BOT_TEXT' | translate }}</span>
      </app-message-space>
    </ng-container>

    <!-- section reports -->
    <ng-container *ngIf="!noResult">
      <div class="report-wrapper">
        <div *ngFor="let report of totalReports" class="card-report">
          <div class="card-content d-inline-flex">

            <a [href]="getRelevantLink(report)"><img [src]="getMedia(report)" alt=" "></a>

            <div class="report-description">

              <a [href]="getRelevantLink(report)">
                <span>{{ report.name }}</span>
              </a>

              <p class="text text-notify text-medium">
                {{ 'SHARE.SYNTHESIS_LIST.SHARED_TEXT.A' | translate }} {{ report.owner.firstName + " " + report.owner.lastName }}
                {{ 'SHARE.SYNTHESIS_LIST.SHARED_TEXT.B' | translate }} {{ report.date | date:dateFormat }}
              </p>

            </div>

          </div>
        </div>
      </div>
    </ng-container>

  </div>
</section>

