@import "../../../../../../style/framework/src/variables";

#synthesis-list-component {

  .report-wrapper {
    margin-bottom: -1.5rem;

    .card-report {
      margin-bottom: 1.5rem;

      .card-content {
        width: 100%;

        img {
          border-radius: $border-radius;
          margin-right: $unit-5;

          &:hover {
            box-shadow: $box-shadow-hover-umi;
            cursor: pointer;
          }

        }

        .report-description {
          border-bottom: $border-width solid $border-color;
          width: 100%;

          a span {
            font-size: 1.1rem;
          }

          .text {
            font-size: $font-size-sm;
            margin-top: 0.75rem;
          }

        }

      }

    }

  }

}
