@import "../../../../../../style/framework/src/variables";

.shared-preset-question {

  .header-wrapper {
    background-color: $bg-meta-color;
    border-radius: 6px;
    padding: 10px 25px 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: $text-white-color;
    position: relative;

    &.is-edit-mode {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .form-input {
      min-width: 200px;
    }

    .form-select {
      min-width: 156px;
    }

    .move-arrows {
      display: flex;
      flex-direction: column;
      font-size: 13px;
      margin-right: 15px;

      i {
        cursor: pointer;

        &:hover {
          color: $text-primary-color;
        }

      }

    }

    .buttons-wrapper {
      position: absolute;
      background-color: $bg-meta-color;
      padding: 10px 14px 10px 20px;
      right: 12px;
    }

  }

  .question-body {
    background-color: $bg-white-color;
    padding: 20px 50px 10px 50px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    .question-content {
      flex: 1;

      .lang-label {
        min-width: 125px;
        border-radius: 4px;
        font-size: 13px;

        .label {
          width: 21px;
          height: 21px;
          margin-left: 15px;
        }

      }

      &.has-border {
        border-left: 1px solid $border-default-color;
        padding-left: 30px;
      }

      &.has-more-content {
        padding-top: 10px;
        padding-bottom: 10px;

        textarea {
          max-width: 90%;
          font-size: 13px;
          min-height: 100px;
        }

      }

    }

    .question-toolbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .button {
        position: relative;

        .label {
          position: absolute;
          top: -15px;
          right: -15px;
        }

      }

    }

    .question-labelling-options {

      .form-group {
        flex: 1;
        margin-bottom: 25px;

        &:not(:last-child) {
          margin-right: 20px;
        }

      }

    }

    .options-wrapper {
      display: flex;
      justify-content: space-between;
      margin-right: -20px;
      overflow-x: auto;
      padding-top: 15px;

      .card {
        min-width: 270px;
        flex: 1;
        margin-right: 20px;
        border-radius: 5px;
        border-width: 2px;
        margin-bottom: 20px;
        min-height: 100px;
        padding: 10px 15px;
        background-color: #F2F2F2;
      }

    }

    #sharedPresetQuestion-btn-add-item {
      border-color: transparent;
    }

  }

}
