<div class="column col-sm-12 col-11 col-mx-auto p-top-30" id="sidebar-campaign">
  <form novalidate [formGroup]="campaignForm" (ngSubmit)="onSave()" autocomplete="off">

    <!-- save button -->
    <div *ngIf="isEditable" class="text-right p-bottom-30">
      <button
        class="button  is-sm"
        id="btn-save"
        type="submit">
        Save
      </button>
    </div>
    <!-- /save button -->

    <!-- campaign name -->
    <div *ngIf="isEditName" class="form-group">
      <label class="form-label" for="sidebar-campaign-title">Campaign Name</label>
      <input
        class="form-input is-shadowed"
        formControlName="title"
        id="sidebar-campaign-title"
        placeholder="Enter the campaign name"
        type="text">
    </div>
    <!-- /campaign name -->

    <div *ngIf="isEditName" class="form-group">
      <label class="form-label" for="sidebar-campaign-title">GDPR mode for the campaign:
        <input
          formControlName="rgpd"
          id="sidebar-campaign-mode"
          type="checkbox">
        <i class="form-icon"></i>
        {{ isGDPRMode ? 'Activated' : 'Deactivated' }}
      </label>
      <div>
      </div>
    </div>

  </form>
</div>
