@import "../../../../../../style/framework/src/variables";

#admin-project {

  .header-wrapper {
    border-bottom: $border-width solid $border-default-color;
  }

  .tab {
    border-bottom: none;
  }

}

@media (max-width: $size-md) {

  #admin-project {

    .header-wrapper {

      .flex-between {
        margin-bottom: 0.5rem;

        .dropdown.is-right .menu {
          left: 0;
        }

      }

    }

  }

}
