<div [hidden]="isLoading" class="container fluid grid-2xl" id="admin-project">

  <!-- error message while fetching -->
  <section *ngIf="fetchingError" class="column col-sm-12 col-11 col-mx-auto">
    <app-utility-message-error></app-utility-message-error>
  </section>
  <!-- /error message while fetching -->

  <!-- no fetching error -->
  <div [hidden]="fetchingError">

    <!-- banner project message  -->
    <app-utility-banner [(showBanner)]="showBanner" [position]="'relative'">
      This project has been updated by someone else -
      <span (click)="updateProject()" class="text-white c-hand text-medium text-underline">
        Update
      </span>
    </app-utility-banner>
    <!-- banner project message  -->

    <!-- section header -->
    <section class="p-top-25 bg-white">
      <div class="column col-sm-12 col-11 col-mx-auto">

        <!-- heading / actions button -->
        <div class="flex-between flex-wrap">

          <!-- heading / view like client / objective -->
          <div class="m-right-15 m-bottom-15">

            <div class="d-flex align-center flex-wrap m-bottom-1">
              <h1 class="title is-4 text-background m-bottom-2">{{ title }}</h1>
              <a
                [routerLink]="['/user/projects/', project._id]"
                class="button is-link is-sm"
                target="_blank">
                View like client
              </a>
            </div>

            <!-- mission objective -->
            <div
              *ngIf="mission.objective && mission.objective.principal
              && mission.objective.principal['en'] && mission.objective.principal['en'] !== 'Other'"
              [ngStyle]="{ 'min-height': '25px' }"
              class="m-bottom-1">
              <div class="objective-wrapper">
                <i [ngClass]="iconClass"></i>
                {{ mission.objective.principal[currentLang] }}
              </div>
            </div>
            <!-- /mission objective -->

          </div>
          <!-- /heading / view like client / objective -->

          <!-- actions button -->
          <div *ngIf="isTech" class="dropdown is-right m-bottom-15">

            <a class="button is-danger is-sm is-outlined dropdown-toggle" tabindex="0">
              Actions <i class="icon icon-caret icon-right"></i>
            </a>

            <ul class="menu is-md">
              <li (click)="openModal($event, 'PROJECT')" class="menu-item">
                Export project
              </li>
              <li (click)="onClickImportFollowUp($event)" class="menu-item">
                Import follow up emails
              </li>
            </ul>

          </div>
          <!-- /actions button -->

        </div>
        <!-- /heading / actions button -->

        <!-- Todo -->
        <!-- tabs *ngIf="canAccess([tab.key])"  -->
        <ul class="tab">
          <ng-container *ngFor="let tab of tabs">
            <li class="tab-item">
              <a
                (click)="activatedTab = tab.name; setPageTitle()"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/user/admin/projects/project', project._id, tab.route]"
                routerLinkActive="active">
                {{ tab.name }}
              </a>
            </li>
          </ng-container>
        </ul>
        <!-- /tabs -->

      </div>
    </section>
    <!-- /section header -->

    <!-- different pages -->
    <div>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
    <!-- /different pages -->

  </div>
  <!-- /no fetching error -->

</div>


<!-- modals for different actions -->
<app-utility-modal *ngIf="isTech" [(showModal)]="showModal" [enableCloseButton]="true">
  <section class="modal-body">

    <!-- project modal -->
    <div *ngIf="isProjectModal">

      <div class="text-center m-bottom-25">
        <h3 [innerText]="'PROJECT.MODAL.SELECT_FIELD'" class="text-background text-normal" translate></h3>
      </div>

      <div class="form-group">

        <label class="form-checkbox">
          <input type="checkbox" checked disabled>
          <i class="form-icon"></i> {{ 'PROJECT.MODAL.BASE' | translate }}
        </label>

        <label
          *ngFor="let status of status"
          class="form-checkbox">
          <input
            (change)="projectExportConfig['answers'][status] = !projectExportConfig['answers'][status]"
            [checked]="projectExportConfig['answers'][status]"
            type="checkbox">
          <i class="form-icon"></i> {{ 'CAMPAIGNS.' + status | translate }}
        </label>

        <label class="form-checkbox">
          <input
            (change)="projectExportConfig.campaigns = !projectExportConfig['campaigns']"
            [checked]="projectExportConfig['campaigns']"
            type="checkbox">
          <i class="form-icon"></i> {{ 'PROJECT.CAMPAIGNS' | translate }}
        </label>

        <label class="form-checkbox">
          <input
            (change)="projectExportConfig.anonymous = !projectExportConfig['anonymous']"
            [checked]="projectExportConfig['anonymous']"
            type="checkbox">
          <i class="form-icon"></i> {{ 'PROJECT.MODAL.ANON' | translate }}
        </label>

      </div>

    </div>
    <!-- /project modal -->

    <!-- export button -->
    <div class="m-top-40 m-bottom-15 text-center">
      <button (click)="onClickExport($event)" class="button is-primary is-lg" type="button">
        <ng-container *ngIf="isProjectModal">{{ 'COMMON.BUTTON.EXPORT_PROJECT' | translate }}</ng-container>
      </button>
    </div>
    <!-- /export button -->

  </section>
</app-utility-modal>
<!-- /modals for different actions -->

