@import "../../../../../../style/framework/src/variables";

#admin-project {

  .a-p-error-wrapper {
    min-height: 75vh;
  }

  .a-p-header {
    background-color: $bg-color-light;
    border-bottom: $border-width solid $border-color;
  }

  .tab {
    border-bottom: none;

    li:last-child {
      border-bottom: none;
    }

  }

}

