<header class="container fluid grid-2xl" id="header">
  <div class="column col-sm-12 col-11 col-mx-auto">
    <nav [ngClass]="{'animate-fade is-5': !hide}" class="navbar">

      <!-- brand -->
      <div class="navbar-brand">
        <a routerLink="/" class="gtm-menu-logo navbar-item m-no">
          <img
            [ngStyle]="{'width': '110px', 'height': '33px'}"
            [alt]="company"
            [src]="logo"
            height="33"
            width="110">
        </a>
      </div>
      <!-- /brand -->

      <!-- hamburger icon for mobile -->
      <div class="navbar-burger" (click)="toggleMenuState()">
        <i class="icon icon-menu"></i>
        <span class="m-left-2 text-medium">Menu</span>
      </div>
      <!-- /hamburger icon for mobile -->

      <!-- navigation -->
      <div class="navbar-menu">

        <!-- example page -->
        <a
          (click)="onClickLink()"
          *ngIf="user && user.state === 'confirmed' && !backOfficeValue && !isMainDomain"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/sample/synthesis/5bdc16754fee81110e4d509b/8b56a140263e9faf8765207da396a8a0'"
          class="gtm-menu-sample-synthesis navbar-item"
          routerLinkActive="active"
          target="_blank">
          <span>{{ 'HEADER.EXAMPLE' | translate }}</span>
        </a>
        <!-- /example page -->

        <!-- discover page -->
        <a
          (click)="onClickLink()"
          *ngIf="!backOfficeValue"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/discover'"
          class="gtm-menu-discover navbar-item"
          routerLinkActive="active">
          <span>{{ 'HEADER.DISCOVER' | translate }}</span>
        </a>
        <!-- /discover page -->

        <!-- client my projects -->
        <a
          (click)="onClickLink()"
          *ngIf="user && user.state === 'confirmed' && !backOfficeValue"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/user/projects'"
          class="gtm-menu-my-projects navbar-item"
          routerLinkActive="active">
          <span>{{ 'HEADER.MY_PROJECTS' | translate }}</span>
        </a>
        <!-- /client my projects -->

        <!-- client shared reports -->
        <a
          (click)="onClickLink()"
          *ngIf="user && user.state === 'confirmed' && !backOfficeValue"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/user/synthesis'"
          class="gtm-menu-my-reports navbar-item"
          routerLinkActive="active">
          <span>{{ 'HEADER.SHARED_REPORTS' | translate }}</span>
        </a>
        <!-- /client shared reports -->

        <!-- admin routes -->
        <ng-container *ngIf="user && user.state === 'confirmed' && backOfficeValue">
          <ng-container *ngFor="let route of adminRoutes">
            <a
              (click)="onClickLink()"
              *ngIf="hasAdminSide && canAccessRoute(route.key)"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="route.pageLink"
              class="navbar-item"
              routerLinkActive="active">
              <span>{{ route.pageName }}</span>
            </a>
          </ng-container>
        </ng-container>
        <!-- /admin routes -->

        <!-- language select dropdown -->
        <div class="navbar-item has-dropdown dropdown-lang">

          <span>
            <a class="dropdown-toggle">
              <img
                [src]="'https://res.cloudinary.com/umi/image/upload/c_fill,h_11,w_16/app/flags/'+flag+'.png'"
                [alt]="currentLang.toUpperCase()">
                <i [ngStyle]="{'font-size': '10px'}" class="icon icon-arrow-down"></i>
            </a>
          </span>

          <!-- options -->
          <ul class="navbar-dropdown p-no">
            <li (click)="setLang('fr')" [title]="'COMMON.LANG.FR' | translate" class="navbar-item text-center">
              <img [src]="'https://res.cloudinary.com/umi/image/upload/c_fill,h_11,w_16/app/flags/FR.png'" alt="FR">
            </li>
            <li (click)="setLang('en')" [title]="'COMMON.LANG.EN' | translate" class="navbar-item text-center">
              <img [src]="'https://res.cloudinary.com/umi/image/upload/c_fill,h_11,w_16/app/flags/US.png'" alt="EN">
            </li>
          </ul>

        </div>
        <!-- /language select dropdown -->

        <!-- contact us button -->
        <div *ngIf="!backOfficeValue" class="navbar-item has-button">
          <a
            [href]="getContactUrl()"
            class="button is-info is-sm text-background is-outlined"
            rel="noopener"
            target="_blank">
            {{ 'HEADER.CONTACT_US' | translate }}
          </a>
        </div>
        <!-- /contact us button -->

        <!-- account dropdown -->
        <div class="navbar-item has-dropdown has-avatar dropdown-user is-right m-no-right">

          <!-- user unconfirmed -->
          <figure  *ngIf="user && user.state === 'unconfirmed'" class="avatar dropdown-toggle is-lg text-notify">
            <i class="fas fa-user"></i>
          </figure>
          <!-- user unconfirmed -->

          <!-- user confirmed -->
          <figure
            *ngIf="user && user.state === 'confirmed'"
            class="avatar dropdown-toggle is-lg"
            [attr.data-initial]="!hasProfilePic() ? userInitial : ''">
            <img *ngIf="hasProfilePic()" [src]="profilePicture" class="img-responsive" alt=" ">
          </figure>
          <!-- /user confirmed -->

          <!-- options -->
          <div [ngStyle]="{'width': '300px'}" class="navbar-dropdown">

            <a
              *ngIf="user && user.state === 'confirmed'"
              (click)="onClickLink()"
              [routerLink]="'/user/account'"
              class="gtm-menu-my-account navbar-item user-info-wrapper">

              <figure class="avatar is-lg m-right-2" [attr.data-initial]="!hasProfilePic() ? userInitial : ''">
                <img *ngIf="hasProfilePic()" [src]="profilePicture" class="img-responsive" alt=" ">
              </figure>

              <div class="d-flex info">
                <span class="text-medium text-ellipsis">{{ userName }}</span>
                <span [ngStyle]="{'font-size': '13px'}" class="text-ellipsis">{{ user.email }}</span>
              </div>

            </a>

            <!-- admin side -->
            <a
              (click)="toggleBackOfficeState(); onClickLink();"
              *ngIf="!backOfficeValue && hasAdminSide"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="adminDefaultRoute"
              class="navbar-item"
              routerLinkActive="active">
              {{ 'HEADER.ADMIN_SIDE' | translate }}
            </a>
            <!-- /admin side -->

            <!-- client side -->
            <a
              (click)="toggleBackOfficeState(); onClickLink();"
              *ngIf="backOfficeValue && hasAdminSide"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="'/user/projects'"
              class="navbar-item"
              routerLinkActive="active">
              {{ 'HEADER.CLIENT_SIDE' | translate }}
            </a>
            <!-- client side -->

            <!-- account page -->
            <a
              (click)="onClickLink(); onClickAccount();"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="'/user/account'"
              class="gtm-menu-my-account navbar-item"
              routerLinkActive="active">
              {{ 'HEADER.MY_ACCOUNT' | translate }}
            </a>
            <!-- account page -->

            <div class="navbar-divider"></div>

            <!-- log out -->
            <a
              (click)="onClickLink()"
              [routerLink]="'/logout'"
              class="navbar-item">
              {{ 'HEADER.LOG_OUT' | translate }}
            </a>
            <!-- /log out -->

          </div>
          <!-- /options -->

        </div>
        <!-- /account dropdown  -->

      </div>
      <!-- /navigation -->

    </nav>
  </div>
</header>

<!-- sidebar for mobile device -->
<div
  (click)="closeSidebar()"
  [@animateSidebarBackdrop]="sidebarValues.animate_state"
  class="sidebar-backdrop"
  id="header-sidebar">
</div>

<div class="sidebar" [@animateSidebar]="sidebarValues.animate_state">
  <div class="sidebar-container">
    <nav class="navbar-sidebar">
      <div class="navbar-menu">

        <!-- account and pic -->
        <a
          (click)="onClickLink()"
          *ngIf="user && user.state === 'confirmed'"
          [routerLink]="'/user/account'"
          class="gtm-menu-my-account navbar-item user-info-wrapper text-background">
          <figure class="avatar is-lg c-hand m-right-2" [attr.data-initial]="!hasProfilePic() ? userInitial : ''">
            <img *ngIf="hasProfilePic()" [src]="profilePicture" class="img-responsive" alt=" ">
          </figure>
          <div class="d-flex info">
            <span class="text-ellipsis">{{ userName }}</span>
            <span [ngStyle]="{'font-size': '13px'}" class="text-ellipsis text-normal">{{ user.email }}</span>
          </div>
        </a>
        <!-- /account and pic -->

        <!-- example page -->
        <a
          (click)="onClickLink()"
          *ngIf="user && user.state === 'confirmed' && !backOfficeValue && !isMainDomain"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/sample/synthesis/5bdc16754fee81110e4d509b/8b56a140263e9faf8765207da396a8a0'"
          class="gtm-menu-sample-synthesis navbar-item"
          routerLinkActive="active"
          target="_blank">
          {{ 'HEADER.EXAMPLE' | translate }}
        </a>
        <!-- /example page -->

        <!-- discover page -->
        <a
          (click)="onClickLink()"
          *ngIf="!backOfficeValue"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/discover'"
          class="gtm-menu-discover navbar-item"
          routerLinkActive="active">
          {{ 'HEADER.DISCOVER' | translate }}
        </a>
        <!-- /discover page -->

        <!-- client my projects -->
        <a
          (click)="onClickLink()"
          *ngIf="user && user.state === 'confirmed' && !backOfficeValue"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/user/projects'"
          class="gtm-menu-my-projects navbar-item"
          routerLinkActive="active">
          {{ 'HEADER.MY_PROJECTS' | translate }}
        </a>
        <!-- /client my projects -->

        <!-- client shared reports -->
        <a
          (click)="onClickLink()"
          *ngIf="user && user.state === 'confirmed' && !backOfficeValue"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/user/synthesis'"
          class="gtm-menu-my-reports navbar-item"
          routerLinkActive="active">
          {{ 'HEADER.SHARED_REPORTS' | translate }}
        </a>
        <!-- /client shared reports -->

        <!-- admin routes -->
        <ng-container *ngIf="user && user.state === 'confirmed' && backOfficeValue">
          <ng-container *ngFor="let route of adminRoutes">
            <a
              (click)="onClickLink()"
              *ngIf="hasAdminSide && canAccessRoute(route.key)"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="route.pageLink"
              class="navbar-item"
              routerLinkActive="active">
              {{ route.pageName }}
            </a>
          </ng-container>
        </ng-container>
        <!-- /admin routes -->

        <!-- account page -->
        <a
          (click)="onClickLink(); onClickAccount();"
          *ngIf="user && user.state === 'confirmed'"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/user/account'"
          class="gtm-menu-my-account navbar-item"
          routerLinkActive="active">
          {{ 'HEADER.MY_ACCOUNT' | translate }}
        </a>
        <!-- /account page -->

        <!-- admin side -->
        <a
          (click)="toggleBackOfficeState(); onClickLink();"
          *ngIf="user && user.state === 'confirmed' && !backOfficeValue && hasAdminSide"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="adminDefaultRoute"
          class="navbar-item"
          routerLinkActive="active">
          {{ 'HEADER.ADMIN_SIDE' | translate }}
        </a>
        <!-- admin side -->

        <!-- client side -->
        <a
          (click)="toggleBackOfficeState(); onClickLink();"
          *ngIf="user && user.state === 'confirmed' && backOfficeValue && hasAdminSide"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/user/projects'"
          class="navbar-item"
          routerLinkActive="active">
          {{ 'HEADER.CLIENT_SIDE' | translate }}
        </a>

        <!-- language change -->
        <a (click)="toggleLangOptions($event)" class="navbar-item flex-between">
          <img
            [src]="'https://res.cloudinary.com/umi/image/upload/c_fill,h_11,w_16/app/flags/'+flag+'.png'"
            [alt]="currentLang.toUpperCase()">
          <i class="icon icon-arrow-down"></i>
        </a>

        <ng-container *ngIf="showLangs">
          <a class="navbar-item lang-wrapper" (click)="setLang('fr')">
            <img [src]="'https://res.cloudinary.com/umi/image/upload/c_fill,h_11,w_16/app/flags/FR.png'" alt="FR">
          </a>
          <a class="navbar-item lang-wrapper" (click)="setLang('en')">
            <img [src]="'https://res.cloudinary.com/umi/image/upload/c_fill,h_11,w_16/app/flags/US.png'" alt="FR">
          </a>
        </ng-container>
        <!-- /language change -->

        <!-- contact us -->
        <a
          *ngIf="!backOfficeValue"
          [href]="getContactUrl()"
          class="navbar-item"
          rel="noopener"
          target="_blank">
          {{ 'HEADER.CONTACT_US' | translate }}
        </a>
        <!-- /contact us -->

        <!-- log out -->
        <a
          (click)="onClickLink()"
          [routerLink]="'/logout'"
          class="navbar-item">
          {{ 'HEADER.LOG_OUT' | translate }}
        </a>
        <!-- /log out -->

      </div>
    </nav>
  </div>
</div>
<!-- /sidebar for mobile device -->
