@import "../../../../style/framework/src/variables";

#header-component {
  border: 1px solid $border-light-color;

  .navbar {

    .mobile-menu {

      .logo {
        padding-top: 5px;
      }

    }

    .navigation-wrapper {

      .header-account-dropdown {

        a {
          opacity: 1;
        }

        .dropdown-menu {

          .drop-item {
            padding: 0;

            a {
              padding: 0.5rem 1.1rem;
            }

            .drop-item-user {
              display: flex;
              align-items: center;

              span:after {
                display: none;
              }

              .d-flex {
                margin-left: $unit-2;
                flex-direction: column;
                color: $text-background-color;

                .text-email {
                  font-size: 0.65rem;
                }

              }

            }

          }

          .divider {
            margin: 0.5rem 1.1rem;
          }

        }

      }

    }

  }

}


@media (max-width: $size-md) {

  #header-component {

   /* .navbar {
      flex-direction: column;
    }

    .menu-item {
      display: flex;
      flex-direction: column;
    }

    .menu-item:last-child {
      padding-right: 0.6rem;
    }

    .mobile-menu {
      width: 100%;
    }

    .mobile-toggle {
      display: flex !important;
    }
*/
  }

}

@media (min-width: 841px) {

  #header-component {

    .mobile-toggle {
      display: none !important;
    }

    /*.navigation-wrapper {
      display: inline-flex !important;
    }*/

  }

}
