@import "../../../../style/framework/src/variables";

@media (max-width: $size-md) {

  #header-component {

    .navbar {
      flex-direction: column;
    }

    .menu-item {
      display: flex;
      flex-direction: column;
    }

    .menu-item:last-child {
      padding-right: 0.6rem;
    }

    .mobile-menu {
      width: 100%;
    }

    .mobile-toggle {
      display: flex !important;
    }

  }

}

@media (min-width: 841px) {

  #header-component {

    .mobile-toggle {
      display: none !important;
    }

    .navigation-wrapper {
      display: inline-flex !important;
    }

  }

}
