@import "../../../../style/framework/src/variables";

#header {
  border-bottom: $border-width solid $border-light-color;

  .navbar {
    border-bottom: 0;

    .navbar-menu {

      .navbar-item {

        &.dropdown-lang {

          .navbar-dropdown {
            min-width: unset;
            width: 46px;
            left: -4px;

            .navbar-item {
              height: 42px;
              padding: $unit-2;
              justify-content: center;
            }

          }

        }

        &.dropdown-user {

          .user-info-wrapper {

            .info {
              flex-direction: column;
              word-break: break-all;
              max-width: 195px;
              justify-content: center;
            }

          }

        }

      }

    }

  }

}

.sidebar {
  width: 260px !important;

  .sidebar-container {

    .navbar-sidebar {

      .navbar-menu {

        .navbar-item {

          &.lang-wrapper {
            background-color: $bg-page-color;
            padding-left: 40px;
          }

        }

      }

    }

  }

}

@media screen and (min-width: $size-lg) {

  #header {

    .navbar {

      .navbar-menu {

        .navbar-item {

          &.has-button .button {
            border-width: $border-width-lg;
          }

        }

      }

    }

  }

}
