#admin-card {
  padding-top: 0;

  .button-sticky {
    background-color: #F5F5F5;
    padding-bottom: 20px;
    padding-top: 20px;

    .func-button {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

  }

}



@media (max-width: 600px) {

  .func-button {

    .btn-primary {
      margin-bottom: 20px;
    }

  }

}

@media (min-width: 600px) {

  .button-sticky {
    position: sticky;
    top: 0;
    z-index: 3;
  }


}
