@import "../../../../../style/variables";

#innovation-preview-component {

  .hero-container {
    background-color: $background-color;

    h1, h6 {
      color: white;
    }

    h6 {
      font-size: 1.12rem;
    }

    .summary {
      padding-left: .3rem;
      color: white;
    }

    .media-wrapper {
      display: flex;
      flex-wrap: wrap;

      .gap {
        margin-top: .9375rem;
        margin-right: 1.57rem;
      }

    }

  }

  .advantage {

    li {
      color: $dark-color;
      padding:  .375rem .5rem .375rem .18rem;
    }

    li:last-child {
      padding-bottom: 0;
    }

  }

  .container-section {
    padding-top: 1.57rem;
    padding-bottom: 0;

    p {
      padding-bottom: 0;
    }

  }

}
