<section id="innovation-preview-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- nothing to show -->
    <ng-container *ngIf="innovationCard && innovationCard.problem === '' && innovationCard.summary === ''
    && innovationCard.title === '' && innovationCard.advantages.length === 0">
      <app-message-space [widthMax]="'321px'">
        {{ 'DISCOVERDESCRIPTION.SIDEBAR_BOT_MESSAGE' | translate }}
      </app-message-space>
    </ng-container>
    <!-- /nothing to show -->

    <!-- innovation card -->
    <ng-container *ngIf="innovationCard && (innovationCard.problem !== '' || innovationCard.summary !== ''
    || innovationCard.title !== '' || innovationCard.advantages.length !== 0)">

      <!-- section header -->
      <div class="section-header">

        <!-- innovation title -->
        <h1 class="title-primary">{{ innovationCard.title }}</h1>

        <!-- batch date -->
        <ng-container *ngIf="getDate">
          <h6 class="text text-notify">{{ 'DASHBOARD.SENDINGDATE' | translate }} {{ getDate | date: dateFormat }}</h6>
        </ng-container>

        <!-- innovation summary -->
        <div *ngIf="innovationCard.summary" class="summary-wrapper" [innerHTML]="innovationCard.summary"></div>

      </div>
      <!-- /section header -->

      <!-- section images -->
      <ng-container *ngIf="innovationCard.media && innovationCard.media.length > 0">
        <div class="section-images">
          <div *ngFor="let media of innovationCard.media" class="media-wrapper">

            <!-- if image -->
            <ng-container *ngIf="media?.type === 'PHOTO'">
              <img [src]="getSrc(media)" [alt]=" ">
            </ng-container>

            <!-- if video -->
            <ng-container *ngIf="media?.type === 'VIDEO'">
              <iframe [src]="domSanitizer.bypassSecurityTrustResourceUrl(media.video.embeddableUrl)"
                      height="119px" [ngStyle]="{ 'left': 'O', 'width': '180px', 'border-width': '0' }"></iframe>
            </ng-container>

          </div>
        </div>
      </ng-container>
      <!-- /section images -->

      <!-- section benefits -->
      <ng-container *ngIf="innovationCard.advantages && innovationCard.advantages.length > 0">
        <div class="section-benefits">
          <h2 class="title-secondary">{{ 'DISCOVERDESCRIPTION.BENEFITS' | translate }}</h2>
          <ul class="benefit-wrapper">
            <li *ngFor="let advantage of innovationCard.advantages">
              {{ advantage.text | FormatText }}
            </li>
          </ul>
        </div>
      </ng-container>
      <!-- /section benefits -->

      <!-- section issue -->
      <ng-container *ngIf="innovationCard.problem">
        <div class="section-issue">
          <h2 class="title-secondary">{{ 'DISCOVERDESCRIPTION.ISSUE' | translate }}</h2>
          <div class="issue-wrapper" [innerHTML]="innovationCard.problem"></div>
        </div>
      </ng-container>
      <!-- /section issue -->

      <!-- section solution -->
      <ng-container *ngIf="innovationCard.solution">
        <div class="section-solution">
          <h2 class="title-secondary">{{ 'DISCOVERDESCRIPTION.SOLUTION' | translate }}</h2>
          <div class="solution-wrapper" [innerHTML]="innovationCard.solution"></div>
        </div>
      </ng-container>
      <!-- /section solution -->

    </ng-container>
    <!-- /innovation card -->

  </div>
</section>
