<div id="innovation-preview-component">

  <div
    *ngIf="innovationCard && innovationCard.problem === ''
    && innovationCard.summary === ''
    && innovationCard.title === ''
    && innovationCard.advantages.length === 0"
    class="text-center"
    [ngStyle]="{ 'padding-top': '3.15rem' }">
    <app-message-space>
      {{ 'DISCOVERDESCRIPTION.SIDEBAR_BOT_MESSAGE' | translate }}
    </app-message-space>
  </div>


  <div
    *ngIf="innovationCard && (innovationCard.problem !== ''
    || innovationCard.summary !== ''
    || innovationCard.title !== ''
    || innovationCard.advantages.length !== 0)">

    <!-- Hero section -->
    <div class="hero-container">
      <div class="column col-xs-12 col-11 col-mx-auto">

        <!-- Title -->
        <h1 class="main-heading">{{ innovationCard.title }}</h1>

        <!-- Batch date -->
        <h6 *ngIf="getDate">{{ 'DASHBOARD.SENDINGDATE' | translate }} {{ getDate | date: dateFormat }}</h6>

        <!-- Summary -->
        <div class="summary" [innerHtml]="innovationCard.summary"></div>

        <!-- Media -->
        <div class="media-wrapper">
          <div *ngFor="let media of innovationCard.media">

            <!-- Video -->
            <div *ngIf="media?.type === 'VIDEO'" class="gap">
              <iframe [src]="domSanitizer.bypassSecurityTrustResourceUrl(media.video.embeddableUrl)" width="220" height="146" frameborder="0"></iframe>
            </div>

            <!-- Image -->
            <div *ngIf="media?.type === 'PHOTO'" class="gap">
              <img [src]="media.url" [alt]="'COMMON.MEDIA_NOT_AVAILABLE' | translate" width="220" height="146">
            </div>

          </div>
        </div>

      </div>
    </div>


    <!-- Advantage section -->
    <div class="container-section">
      <div class="column col-xs-12 col-11 col-mx-auto">
        <h2 class="section-heading">{{ 'DISCOVERDESCRIPTION.BENEFITS' | translate }}</h2>
        <ul class="advantage">
          <li *ngFor="let advantage of innovationCard.advantages;">
            {{ advantage.text[0] | uppercase }}{{advantage.text|slice:1}}
          </li>
        </ul>
      </div>
    </div>


    <!-- Issue section -->
    <div class="container-section">
      <div class="column col-xs-12 col-11 col-mx-auto">
        <h2 class="section-heading">{{ 'DISCOVERDESCRIPTION.ISSUE' | translate }}</h2>
        <div [innerHtml]="innovationCard.problem"></div>
      </div>
    </div>


    <!-- Solution section -->
    <div class="container-section">
      <div class="column col-xs-12 col-11 col-mx-auto">
        <h2 class="section-heading">{{ 'DISCOVERDESCRIPTION.SOLUTION' | translate }}</h2>
        <div [innerHtml]="innovationCard.solution"></div>
      </div>
    </div>

  </div>


</div>
