<div class="country-management-wrapper">
  <div class="form-group-inline-right">
    <button class="btn btn-primary" (click)="filterCountry()">{{'COMMON.EXCLUDE-COUNTRIES' | translate}}</button>
  </div>

  <app-shared-table [data]="countriesTable"
                    [(config)]="config"
                    (editRow)="editCountry($event)"
                    (removeRows)="deleteCountriesModal($event)"></app-shared-table>

  <app-sidebar
    [template]="more" (closeSidebar)="closeSidebar($event)">
    <app-emails-form
      [sidebarState]="sidebarState"
      [type]="more.type" (countryToFilter)="addCountry($event)"
      [countryInfos]="currentCountry" (editCountry)="countryEditionFinish($event)">
    </app-emails-form>
  </app-sidebar>
</div>


<!-- modal to delete -->
<app-modal [(showModal)]="showDeleteModal" [modalTitle]="'COMMON.MODAL.TITLE_DELETE'">

  {{ 'USERS.PITCH-DELETE' | translate }}
  <ul>
    <li *ngFor="let country of countriesToRemove">{{country.name}}</li>
  </ul>

  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="removeCountries()">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>

</app-modal>
<!-- /modal to delete -->
