<section class="section-light-container" id="admin-community-responses-component">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <app-shared-answers-list [config]="config"></app-shared-answers-list>
  </div>
</section>

<!-- sidebar insight preview -->
<app-sidebar [(template)]="sidebarValue">
    <app-user-answer
            [sidebarState]="sidebarValue.animate_state"
            [adminMode]="adminMode || true"
            [(userAnswer)]="modalAnswer"
            [projectId]="campaign.innovation._id"
            [questions]="questions"
            (answerUpdated)="updateAnswer($event)">
    </app-user-answer>
</app-sidebar>
<!-- /sidebar insight preview -->