@import "../../../../style/variables";

#message-space-component {

  .message-wrapper {
    padding: 1.2rem .95rem;
    border-radius: .18rem;
    color: $dark-color;
    border: 1px solid $border-color;
    display: inline-block;
    width: 100%;
    font-size: .9375rem;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    z-index: 3;
  }

  .triangle-wrapper {
    padding-left: 150px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    margin-top: -2px;
  }

  .bot-wrapper {
    height: 9.37rem;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }


}
