@import "../../../../../../../style/variables";

.star-wrapper {

  div {
    margin-bottom: 1.57rem;

    .note-label {
      display: flex;
      justify-content: space-between;
      font-size: 1.12rem;
      color: $background-color;
      margin-bottom: 1.57rem;
      font-weight: 600;

      .vote-wrapper {
        font-size: .875rem;
        color: $meta-color;
      }

    }

    .no-grade-wrapper {
      font-size: .875rem;
      color: $meta-color;
    }

  }



}
