@import "../../../../../../../style/framework/src/variables";

#star-component {
  margin-bottom: -1.25rem;
  font-size: $font-size-md;

  .data-wrapper {
    margin-bottom: 1.25rem;

    .star-label-wrapper {
      margin-bottom: 0.75rem;
    }

    .text-notify {
      font-size: $font-size-sm;
    }

  }

}
