<section id="header-unauth-component">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <nav class="navbar">

      <div class="menu-view">

        <!-- logo -->
        <div class="pad">
          <a routerLink="/" class="gtm-menu-logo">
            <img src="{{ getLogo() }}" [alt]=" " height="28px">
          </a>
        </div>

        <!-- buttons -->
        <div class="pad">
          <button type="button" class="btn ghost-primary btn-xs" [ngStyle]="{ 'margin-right': '.6rem' }" (click)="onClickSignIn($event)" id="button-signIn">{{ 'COMMON.LOG_IN' | translate }}</button>
          <button type="button" class="btn btn-primary btn-xs" (click)="onClickSignUp($event)">{{ 'COMMON.SIGN_UP' | translate }}</button>
        </div>


        <!-- sign in wrapper -->
        <div class="signIn-wrapper" [ngStyle]="{ 'display': toggleSignInForm ? 'block' : 'none' }" id="header-unauth-signInForm">
          <div class="column col-xs-12 col-11 col-mx-auto">

            <!-- heading -->
            <div class="text-center">
              <h1 class="main-heading">{{ 'LOG_IN.HEADING' | translate }}</h1>
            </div>

            <!-- form -->
            <form novalidate [formGroup]="formData" (submit)="onClickContinue()">

              <!-- email address -->
              <div class="form-group">
                <label class="form-label" for="header-unauth-email">{{ 'COMMON.EMAIL' | translate }}</label>
                <input
                  type="email"
                  id="header-unauth-email"
                  class="form-default"
                  formControlName="email"
                  placeholder="john@catco.com">
                <span class="form-error" *ngIf="formData.get('email').touched">
                  <span *ngIf="formData.get('email').hasError('required')">{{ 'COMMON.REQUIRED.EMAIL' | translate }}</span>
                  <span *ngIf="formData.get('email').hasError('email') && formData.get('email').value !== ''">{{ 'COMMON.INVALID.EMAIL' | translate }}</span>
                </span>
              </div>

              <!-- password -->
              <div class="form-group">
                <label class="form-label" for="header-unauth-password">{{ 'COMMON.PASSWORD' | translate }}</label>
                <input
                  class="form-default"
                  type="password"
                  id="header-unauth-password"
                  formControlName="password"
                  [attr.placeholder]="'COMMON.PASSWORD_PLACEHOLDER' | translate ">
                <span class="form-error" *ngIf="formData.get('password').hasError('required') && formData.get('password').touched">{{ 'COMMON.REQUIRED.PASSWORD' | translate }}</span>
              </div>

              <!-- login button -->
              <div class="login-button text-center">
                <button class="btn btn-primary gtm-signin-email" type="submit" [disabled]="formData.invalid">
                  {{ 'LOG_IN.LOG_IN_BTN' | translate }}
                </button>
              </div>

            </form>

          </div>
        </div>
        <!-- /sign in wrapper -->

      </div>

    </nav>
  </div>
</section>


<!-- sign up sidebar -->
<app-sidebar [template]="sidebarValue" (closeSidebar)="closeSidebar($event)">
  <app-signup-form
    [sidebarState]="sidebarValue.animate_state"
    (finalOutput)="createUser($event)"></app-signup-form>
</app-sidebar>
