@import "../../../../style/framework/src/variables";

#header {
  border-bottom: $border-width solid $border-light-color;

  .navbar {

    .navbar-brand {
      padding-top: 5px;
    }

    .menu {

      .menu-item.navbar-contact-button .button.is-info.is-outlined {
        color: $text-background-color;
        border-color: transparent;
        border-width: $border-width-lg;

        &:hover {
          border-color: $border-meta-color;
        }

      }

    }

    .navigation-wrapper {

      .menu {
        flex-wrap: wrap;
      }

    }

  }

}

@media (max-width:$size-sm) {

  #header {

    .navbar-contact-button {
      display: none;
    }

  }

}
