@import "../../../../style/framework/src/variables";

#header-unauth-component {
  border: 1px solid $border-light-color;

  .navbar {

    .logo {
      padding-top: 5px;
    }

    .navigation-wrapper {

      .header-lang-dropdown {

        a {
          height: 35px;

          span:after {
            bottom: 3px;
          }

          .fa-angle-down {
            margin-left: $unit-2;
          }

        }

        .dropdown-menu {
          width: 46px;
          right: -7px;
          padding: 0;

          .drop-item{
            padding: 0.5rem;
          }

        }

        &:hover {

          .fa-angle-down {
            color: $primary-color !important;
          }

          span:after {
            visibility: visible;
            background-color: $primary-color;
            transform: scaleX(1);
          }

        }

      }

    }

  }

}
