<div class="form-group-inline-right">
  <button class="btn btn-primary" (click)="excludeEmails()">{{'BLACKLISTS.BLACKLIST-EMAILS-DOMAINS' | translate}}</button>
</div>

<app-shared-table [data]="emailInfos" [config]="config" (configChange)="loadEmails($event)" (editRow)="editBlacklist($event)"></app-shared-table>

<app-sidebar
  [template]="more" (closeSidebar)="closeSidebar($event)">
  <app-emails-form
    [sidebarState]="sidebarState"
    [type]="more.type"
    [editBlacklistEmail]="currentEmailToBlacklist" (editBlacklist)="blacklistEditionFinish($event)"
    (emailsToBlacklists)="addEmailsToBlacklistFinish($event)">
  </app-emails-form>
</app-sidebar>
