@import "framework/src/variables";

.stat {

  &.is-admin-campaign {

    .stat-container:first-child {
      background-color: $bg-secondary-color !important;
    }

    .stat-container:nth-child(2) {
      background-color: #2fa4d4 !important;
    }

    .stat-container:last-child {
      background-color: #5faece !important;
    }

    .stat-container {
      border-right: none !important;
    }

    .stat-heading, .stat-value {
      color: $text-white-color !important;
    }

    .stat-sub-heading {
      opacity: 0.7 !important;
      color: $text-white-color !important;
    }

  }

}
