@import "~@umius/umi-style-framework/scss/variables";

.pws-wrapper {
  display: flex;

  .sidebar-wrapper {
    max-width: 265px;
  }

  .content-wrapper {
    flex: 1;
    padding-left: 35px;
    padding-right: 35px;
  }

}

@media screen {

  @media (min-width: 1441px) {

    .pws-wrapper .sidebar-wrapper {
      max-width: 330px;
    }

  }

}
