@import "framework/src/variables";

@media print and (color) {

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: A4 landscape;
    margin: 0;
  }

  html, body, .main-wrapper, .body-wrapper {
    width: 100%;
    height: 20.95cm;
    margin: 0;
    padding: 0;
    flex: unset !important;
    min-height: unset !important;
  }

  app-modal, app-header, app-footer, app-sidebar, .banner, app-market-report-sidebar {
    display: none !important;
  }

  p {
    margin-bottom: 4px;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4px;

    li {
      margin-top: 4px;
    }

  }


  /********************************** Innovation Card ***************************************/

  #setup-component, .header, #project-component .section-header {
    display: none !important;
  }

  #project-component {
    padding-bottom: 0 !important;
  }

  #innovation-card-print {
    display: flex !important;
    color: $text-primary-color;
    font-size: 13px;
    width: 100%;
    height: 20.95cm;

    .column-1, .column-2, .column-3 {
      width: 33.33%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 15px;

      .title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
      }

    }

    .column-1 {
      background-color: #D8D8D8;

      .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
      }

      .image-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .advantage-wrapper {

        .title {
          font-weight: normal;
          font-size: 20px;
          margin-bottom: 10px;
        }

        .summary-text {
          margin-bottom: 0;
        }

        .advantages {

          li:first-child {
            margin-top: 0;
          }

        }

      }

    }

    .issue-text, .solution-text {
      margin-bottom: -4px;
    }

  }


  /********************************** Market report ***************************************/

  #market-report {
    margin-bottom: 0 !important;
    padding: 0 !important;
    background-color: $bg-color-light !important;

    .text, .text-link {
      font-size: 14px !important;
    }

    .column {
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }

    .sticky-wrapper, .menu-wrapper, #key-learning, #professionals, #market-map, #professional-print, #questions, #conclusion {
      display: none !important;
    }

    #main-page, #umi-intro {
      display: flex !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .main-page, .umi-intro {
      box-shadow: none !important;
      padding: 0 !important;
    }

    .main-page {
      padding: 25px !important;

      .title-primary {
        font-size: 42px !important;
      }

      .summary {
        font-size: 14px !important;
      }

      .goal-text {
        font-size: 12px !important;
      }

      .footer-wrapper {

        p {
          font-size: 14px !important;
        }

      }

    }

    #umi-intro {
      padding-top: 10px !important;

      .umi-intro {
        margin: auto;
        max-width: 90% !important;
      }

    }


    #executive-report {

      #executive-report-wrapper {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        height: 100%;

        .title-primary {
          font-size: 20px !important;
        }

        .sub-title, .abstract-professional, .details, .conclusion-text, .operator-contact .name, .operator-contact .job, .operator-contact .phone
        , .section-second h6, .remaining-text, .abstract-wrapper {
          font-size: 12px !important;
        }

        .operator-contact .job, .operator-contact .phone, .operator-contact .text-link, .section-second .address, .remaining-text .text-link {
          font-size: 11px !important;
        }

        .page-first, .second-page-wrapper {
          flex-direction: row !important;
          height: 800px !important;
        }

        .section-wrapper {
          width: 33.33% !important;
        }

        .section {
          padding: 20px !important;
          display: inline-flex !important;
        }

        .sections {
          width: 66.67% !important;
        }

        .section-2, .section-4 {
          height: 50% !important;
          display: flex !important;
          border-bottom: 1px solid $border-color !important;
        }

        .section-4 {
          width: 50% !important;
          border-left: 1px solid $border-color !important;
        }

        .section-2:last-child {
          border-bottom: none !important;
        }

        .section-4:last-child, .section-4:nth-child(3) {
          border-bottom: none !important;
        }

        .section-4:nth-child(1), .section-4:nth-child(3) {
          border-left: none !important;
        }

        .second-page {
          padding-top: 0 !important;

          .second-page-wrapper {
            min-height: 100% !important;
          }

        }

        #executive-professional-wrapper {
          justify-content: flex-start !important;
          padding: 20px !important;
          border-right: 1px solid #E0E0E0 !important;

          .title-primary {
            margin-bottom: 10px !important;
          }

          .section-2-wrapper {
            margin-bottom: 10px !important;
          }

          .professional-profile-wrapper {
            margin-bottom: 0 !important;

            .profile {
              margin-bottom: 10px !important;

              .details {

                p {
                  margin: 0 0 2px 0 !important;
                }

              }

            }

          }

        }

        #executive-section-wrapper {

          /*.executive-pie-chart {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .percentage {
              margin-bottom: 10px !important;
            }

            .chart-pie {
              width: 300px !important;
              margin-bottom: 10px !important;
            }

            .data {
              margin-right: 5px !important;
              margin-bottom: 5px !important;
            }

          }*/

          .title-wrapper {
            margin-bottom: 15px !important;
          }

          .content-wrapper {
            height: 229px !important;
            justify-content: flex-start !important;
            margin-bottom: 10px !important;
          }

          .tag {
            margin-bottom: 5px !important;
          }

          .tag:last-child {
            margin-bottom: 0 !important;
          }

          .executive-star-wrapper {
            margin-bottom: 0 !important;

            .note-label, .star-label-wrapper {
              margin-bottom: 5px !important;
            }

          }

          .executive-bar-chart-wrapper {

            .row-1-wrapper, .row-2-wrapper, .row-3-wrapper, .margin, .executive-answer-wrapper {
              margin-bottom: 5px !important;
            }

          }

        }

        #executive-conclusion-wrapper {

          .section-first, .section-second {
            padding: 20px !important;
          }

          .title-primary, .conclusion-text {
            margin-bottom: 10px !important;
          }

          .logo-address {
            margin-top: 20px !important;
          }

        }

      }

    }

  }

}
