@import "framework/src/variables";

@media print and (color) {

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: A4 landscape;
    margin: 0;
  }

  html, body, .main-wrapper, .body-wrapper {
    width: 100%;
    height: 20.95cm;
    margin: 0;
    padding: 0;
    flex: unset !important;
    min-height: unset !important;
  }

  app-modal, app-header, app-footer, app-sidebar, .banner, app-market-report-sidebar, aside {
    display: none !important;
  }

  p {
    margin-bottom: 4px;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4px;

    li {
      margin-top: 4px;
    }

  }


  /********************************** Innovation Card ***************************************/

  #setup-component, .header, #project-component .section-header {
    display: none !important;
  }

  #project-component {
    padding-bottom: 0 !important;
  }

  #innovation-card-print {
    display: flex !important;
    color: $text-primary-color;
    font-size: 13px;
    width: 100%;
    height: 20.95cm;

    .column-1, .column-2, .column-3 {
      width: 33.33%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 15px;

      .title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
      }

    }

    .column-1 {
      background-color: #D8D8D8;

      .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
      }

      .image-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .advantage-wrapper {

        .title {
          font-weight: normal;
          font-size: 20px;
          margin-bottom: 10px;
        }

        .summary-text {
          margin-bottom: 0;
        }

        .advantages {

          li:first-child {
            margin-top: 0;
          }

        }

      }

    }

    .issue-text, .solution-text {
      margin-bottom: -4px;
    }

  }


  /********************************** Market report ***************************************/

  #market-report, #market-report-container {
    background-color: $bg-color-light !important;

    #key-learnings, #origin-responses, #map, #professionals, #questions, #conclusion {
      display: none !important;
    }

    .text, .text-link {
      font-size: 14px !important;
    }

    .column {
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }

    #main-page, #umi-intro {
      display: block !important;
    }

    .main-page {
      padding: 50px 25px 0 !important;

      .text-executive {
        display: block !important;
      }

      .content-wrapper {
        min-height: unset !important;
        height: 780px;

        .summary, .text-owner {
          font-size: 16px;
        }

      }

      .footer-wrapper {
        font-size: 14px;

        p, a {
          font-size: 12px;
        }

      }

    }

    #umi-intro {
      background-color: $bg-color-light !important;

      img {
        width: 1320px !important;
        height: 922px !important;
      }

    }


    #executive-report {
      padding: 0 !important;

      #executive-report-wrapper {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        .page-first, .second-page-wrapper {
          flex-direction: row !important;
          height: 934.5px !important;
        }

        .title-primary {
          font-size: 20px !important;
          margin-bottom: 10px !important;
        }

        #more-text, #professional-more {
          display: none !important;
        }

        .section-wrapper {
          width: 33.33% !important;
          height: 100%;
        }

        .section {
          padding: 20px !important;
          display: inline-flex !important;
        }

        .sections {
          width: 66.67% !important;
        }

        .section-2, .section-4 {
          height: 50% !important;
          display: flex !important;
          border-bottom: 1px solid $border-color !important;
        }

        .section-4 {
          width: 50% !important;
          border-left: 1px solid $border-color !important;
        }

        .section-2:last-child {
          border-bottom: none !important;
        }

        .section-4:last-child, .section-4:nth-child(3) {
          border-bottom: none !important;
        }

        .section-4:nth-child(1), .section-4:nth-child(3) {
          border-left: none !important;
        }

        .second-page {
          padding-top: 0 !important;

          .second-page-wrapper {
            min-height: 100% !important;
          }

        }

        #executive-professional-wrapper {
          padding: 20px !important;
          border-right: $border-width solid $border-color;

          .response-wrapper, .profile {
            margin-bottom: 10px !important;
          }

          .sub-title, #professional-abstract {
            font-size: 12px !important;
          }

          .detail-wrapper, .remaining-text {
            font-size: 11px !important;
          }

        }

        #executive-section-wrapper {

          .title-primary {
            margin-bottom: 0 !important;
          }

          .sub-title {
            font-size: 12px !important;
          }

          .content-wrapper {
            padding-bottom: 10px !important;
          }

          .abstract-wrapper {
            font-size: 11px !important;
          }

        }

        #executive-conclusion-wrapper {

          .section-first, .section-second {
            padding: 20px !important;
          }

          .conclusion-text {
            margin-bottom: 10px !important;
          }

          .conclusion-text, .name, .section-second h6 {
            font-size: 12px !important;
          }

          .section-second {
            min-height: unset !important;
          }

          .job, .phone, .text-link, .address {
            font-size: 11px !important;
          }

        }

      }

    }

  }

}
