@media print {

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: A4 landscape;
    margin: 0;
  }

  html, body, .body-wrapper {
    width: 100%;
    height: 20.95cm;
    margin: 0;
    padding: 0;
    flex: unset !important;
    min-height: unset !important;
  }

  app-utility-modal, app-header, app-footer, sidebar, .banner, sidebar-left, aside, .print-hide {
    display: none !important;
  }

  p {
    margin-bottom: 4px;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4px;

    li {
      margin-top: 4px;
    }

  }

  /********************************** Executive Report ***************************************/

  // first page
  #project-front-page {
    padding: 25px 25px 0 !important;

    .front-body {
      min-height: unset !important;
      height: 775px;

      &.no-header {
        min-height: unset !important;
        height: 835px;
      }

    }

  }

  // 3rd and 4th page
  #report {

    .first-page {
      margin-top: 20px;
      min-height: unset;
      height: 934.5px;
    }

    .second-page {
      min-height: unset;
      height: 920px;
    }

  }

}
