@import "framework/src/variables";

@media print and (color) {

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: A4 landscape;
    margin: 0;
  }

  html, body, .body-wrapper {
    width: 100%;
    height: 20.95cm;
    margin: 0;
    padding: 0;
    flex: unset !important;
    min-height: unset !important;
  }

  app-utility-modal, app-header, app-footer, sidebar, .banner, sidebar-left, aside, .print-hide {
    display: none !important;
  }

  p {
    margin-bottom: 4px;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4px;

    li {
      margin-top: 4px;
    }

  }

  /********************************** Executive Report ***************************************/

  // first page
  #project-front-page {
    padding: 25px 25px 0 !important;

    .front-body {
      min-height: unset !important;
      height: 775px;

      &.no-header {
        min-height: unset !important;
        height: 835px;
      }

    }

  }

  // 3rd and 4th page
  #report {

    .first-page {
      min-height: unset;
      height: 934.5px;
    }

    .second-page {
      min-height: unset;
      height: 931.5px;
    }

  }



  /********************************** Innovation Card ***************************************/

  #setup-component, .header, #project-component .section-header {
    display: none !important;
  }

  #project-component {
    padding-bottom: 0 !important;
  }

  #innovation-card-print {
    display: flex !important;
    color: $text-dark-color;
    font-size: 13px;
    width: 100%;
    height: 20.95cm;

    .column-1, .column-2, .column-3 {
      width: 33.33%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 15px;

      .title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
      }

    }

    .column-1 {
      background-color: #D8D8D8;

      .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
      }

      .image-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .advantage-wrapper {

        .title {
          font-weight: normal;
          font-size: 20px;
          margin-bottom: 10px;
        }

        .summary-text {
          margin-bottom: 0;
        }

        .advantages {

          li:first-child {
            margin-top: 0;
          }

        }

      }

    }

    .issue-text, .solution-text {
      margin-bottom: -4px;
    }

  }

}
