@import "~@umius/umi-style-framework/scss/umi";

// This is the style that are related to the notification that we see in the bottom.
.simple-notification-wrapper {
  z-index: 9999 !important;
  max-width: 300px;
  width: 100% !important;
}

.simple-notification .sn-progress-loader {
  height: 2px !important;
  left: 3px !important;
  width: 98% !important;
}

.simple-notification {
  box-shadow: 0 4px 16px rgba(20,23,28,0.25);
  border: none !important;
  border-radius: 4px !important;
  padding: 10px !important;
  word-wrap: break-word !important;
  min-height: unset !important;
}

.simple-notification .sn-title {
  font-size: 15px !important;
  line-height: $line-height !important;
  padding-right: 0 !important;
  font-weight: $font-weight-bold;
  padding-bottom: 5px !important;
}

.simple-notification .sn-content {
  font-size: 13px !important;
  line-height: $line-height !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.simple-notification.success {
  background: $notification-bg-success-color !important;
  color: $notification-text-success-color !important;

  .sn-title {
    color: $notification-text-success-color !important;
  }

  .icon svg {
    fill: $notification-text-success-color !important;
  }

}

.simple-notification.error {
  background: $notification-bg-alert-color !important;
  color: $notification-text-alert-color !important;

  .sn-title {
    color: $notification-text-alert-color !important;
  }

  .icon svg {
    fill: $notification-text-alert-color !important;
  }

}

.simple-notification .icon {
  width: 25px !important;
  height: 25px !important;
  top: 12px !important;
  right: 12px !important;
  padding: 0 !important;
}
