@import "framework/src/variables";
@import "framework/src/mixins";

// This stylesheet contains the styles that are related to the upload zone photo.

file-drop.drop-container {
  border: $border-width-lg dashed $border-color;
  position: relative;
  border-radius: $border-radius;
  min-height: 12.5rem;
  display: flex;
  padding: $unit-2;

  input {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: inherit;
  }

  .text {
    font-size: $font-size-sm;
    color: $text-primary-color;
    margin-top: $unit-2;
  }

}

.ngx-file-drop__drop-zone, .ngx-file-drop__content {
  height: inherit !important;
  margin: 0 !important;
  border: none !important;
  width: 100%;
}

.ngx-file-drop__content {
  color: transparent !important;
  height: 100% !important;
  flex-direction: column;
}

file-drop.drop-container:hover {
  border-color: $primary-color;
  background-color: $hover-background-color;
}

.nv-file-over {
  @include control-transition();
  border-color: $alert-color;
}
