@import "~@umius/umi-style-framework/scss/variables";
@import "~@umius/umi-style-framework/scss/mixins";

// styles that are related to the upload zone photo/video.

file-drop.media-card {
  width: 160px;
  min-height: 120px !important;
}

.upload-video-zone, file-drop.drop-container {
  border: $border-width-lg dashed $border-default-color;
  position: relative;
  border-radius: $border-radius;
  min-height: 250px;
  flex-direction: column;
  padding: $unit-2;

  &:hover {
    border-color: $primary-color;
    background-color: #FFF9EB;
  }

  &.is-error {
    border-color: $alert-color;
  }

}

file-drop.drop-container {
  flex-direction: row;
  display: flex;
  padding: 6px $unit-2;

  input {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: inherit;
  }

}

.ngx-file-drop__drop-zone, .ngx-file-drop__content {
  height: inherit !important;
  margin: 0 !important;
  border: none !important;
  width: 100%;
}

.ngx-file-drop__content {
  color: transparent !important;
  height: 100% !important;
  flex-direction: column;
}

.nv-file-over {
  @include control-transition();
  border-color: $alert-color;
}
