@import "framework/src/variables";

// This stylesheet contains the styles that are related to the upload zone photo.

file-drop.drop-container {
  border: $border-width-lg dashed $border-color;
  position: relative;
  border-radius: $border-radius;
  min-height: 12.5rem;
  display: flex;
}


#dropZone {
  width: 100%;
  height: inherit;

  .content {
    min-height: inherit;
  }

}
