/*
    This stylesheet contains all the class related to the button on our platform.
    Like: primary button, secondary button, disabled button and ghost button.
 */


/*
    Color variables for buttons.
 */

$primary-color: #FFB300;
$secondary-color: #0B90C6;
$success-color: #2ECC71;
$error-color: #EA5858;
$disabled-color: #DBDBDB;
$edit-color: #97A4B1;


/*
    Normal button class that you always have to add with every button type.
    Class name: button
 */

.btn {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  line-height: 1.4;
  background: transparent none;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 5px;
  height: 51px;
  padding: 8px 30px;
  font-weight: 600;
  transition: background-color 0.15s ease-in-out,
              color 0.15s ease-in-out,
              border-bottom-color 0.15s ease-in-out,
              border-left-color 0.15s ease-in-out,
              border-right-color 0.15s ease-in-out,
              border-top-color 0.15s ease-in-out;

  i {
    margin-right: 10px;
    font-size: 20px;
  }

  .icon {
    font-size: 14px;
    vertical-align: middle;
  }

  .icon-plus {
    font-size: 14px;
  }

}


/*
    This is a round button with a icon in it.
 */

.btn-round {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  background: transparent none;
  border: 1px solid transparent;
  align-items: center;
  transition: background-color 0.15s ease-in-out,
              color 0.15s ease-in-out,
              border-bottom-color 0.15s ease-in-out,
              border-left-color 0.15s ease-in-out,
              border-right-color 0.15s ease-in-out,
              border-top-color 0.15s ease-in-out;

  i {
    font-size: 14px;
  }

}


/*
    Disabled style for the button, you don't have to add any class
    rather than btn class
 */

.btn:disabled, .btn[disabled], .btn.disabled, .btn-round:disabled, .btn-round[disabled], .btn-round.disabled {
  color: #a9a9a9 !important;
  background-color: $disabled-color !important;
  border-color: $disabled-color !important;
  cursor: not-allowed;
  pointer-events: auto;
  opacity: 1;
}


/*
    Primary button class that you have to add with button class.
    Class name: btn-primary
 */

.btn-primary:not(:disabled), .btn-primary:not(:disabled):focus, .btn-primary:not(:disabled):active {
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:not(:disabled):hover {
  color: white;
  background-color: lighten($primary-color, 15%);
  border-color: lighten($primary-color, 15%);
}


/*
    Secondary button class that you have to add with button class.
    Class name: btn-secondary
 */

.btn-secondary:not(:disabled), .btn-secondary:not(:disabled):focus, .btn-secondary:not(:disabled):active {
  color: white;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn-secondary:not(:disabled):hover {
  color: white;
  background-color: lighten($secondary-color, 15%);
  border-color: lighten($secondary-color, 15%);
}


/*
    Error button class that you have to add with button class.
    Class name: btn-error
 */

.btn-error:not(:disabled), .btn-error:not(:disabled):focus, .btn-error:not(:disabled):active {
  color: white;
  background-color: $error-color;
  border-color: $error-color;
}

.btn-error:not(:disabled):hover {
  color: white;
  background-color: lighten($error-color, 15%);
  border-color: lighten($error-color, 15%);
}


/*
    Ghost primary button class that you have to add with button class.
    Class name: ghost-primary
 */

.ghost-primary:not(:disabled), .ghost-primary:not(:disabled):focus, .ghost-primary:not(:disabled):active {
  color: $primary-color;
  background-color: transparent;
  border-color: $primary-color;
  border-width: 2px;
}

.ghost-primary:not(:disabled):hover {
  color: lighten($primary-color, 15%);
  background-color: transparent;
  border-color: lighten($primary-color, 15%);
}


/*
    Ghost delete button class that you have to add with button class.
    Class name: ghost-delete
 */

.ghost-delete:not(:disabled), .ghost-delete:not(:disabled):focus, .ghost-delete:not(:disabled):active {
  color: $error-color;
  background-color: transparent;
  border-color: $error-color;
  border-width: 2px;
}

.ghost-delete:not(:disabled):hover {
  color: lighten($error-color, 15%);
  background-color: transparent;
  border-color: lighten($error-color, 15%);
}


/*
    Ghost edit button class that you have to add with button class.
    Class name: ghost-edit
 */

.ghost-edit:not(:disabled), .ghost-edit:not(:disabled):focus, .ghost-edit:not(:disabled):active {
  color: $edit-color;
  background-color: transparent;
  border-color: $edit-color;
  border-width: 2px;
}

.ghost-edit:not(:disabled):hover {
  color: lighten($edit-color, 15%);
  background-color: transparent;
  border-color: lighten($edit-color, 15%);
}


/*
    Scroll to top button
 */
.btn-scroll {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4F5D6B;
  box-shadow: 0 1px 10px rgba(0,0,0,.1), 0 2px 40px rgba(0,0,0,.2);
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 11;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

  i {
    font-size: 14px;
  }

}

.btn-scroll:hover {
  background-color: lighten(#4F5D6B, 10%);
  cursor: pointer;
}


/*
    Radio button
 */
.radio-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  margin: 20px auto 0 auto;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  span {
    color: #E0E0E0;
    font-size: 21px;
  }

}



/*
    To make a button large just add this class with the btn class and
    color button class. Class name: btn-lg
*/

.btn-lg {
  padding-left: 84px !important;
  padding-right: 84px !important;
  height: 70px !important;
  font-size: 24px !important;
}


/*
    To make a button small just add this class with the btn class and
    color button class. Class name: btn-sm
*/

.btn-sm {
  height: 45px !important;
  padding: 8px 30px !important;
}


/*
    To make a button extra small just add this class with the btn class and
    color button class. Class name: btn-xs
*/

.btn-xs {
  height: 35px !important;
  padding: 5px 15px !important;
}


/********************************** Media ***************************************/

@media (max-width: 600px) {

  .btn-lg {
    padding-left: 45px !important;
    padding-right: 45px !important;
  }

}
