/********************************** Color ***************************************/

// Elements color
$primary-element: #FFB300;
$secondary-element: #0B90C6;
$meta-element: #97A4B1;
$validation-element: #2ECC71;
$alert-element: #EA5858;

$primary-hover: #246a99;
$primary-dark: #333333;

// Text color
$para-color: #484848;
$title-color: #333333;

// Backgrounds
$page-background: #333333;
$header-background: #4F5D6B;

//Primary button
$button-color: #ffb300;
$button-disabled-color: #dbdbdb;

$primary-color: #3498DB !default;
$hover-color: #246a99 !default;

//Text color
$hero-title: #333333 !default;
$hero-subtitle: #878787;
$hero-description: #A4A4A4;
$section-title: #0B90C6;
$section-description: #878787;

// Headings

.c-heading-1 {
  color: $primary-dark;
  font-size: 1.7rem;
  font-weight: 600;
}

.c-heading-2 {
  color: $primary-dark;
  font-size: 1.35rem;
  font-weight: 600;
}

.c-heading-3 {
  color: $primary-dark;
  font-size: 1.25rem;
  font-weight: 600;
}

// Paragraph

.c-para {
  font-size: 0.9rem;
  color: $para-color;
  padding: 16px 0;
  margin: 0;
}

// Button Default Style

.button {
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
  border-color: $primary-color;
  min-height: 50px;
  padding: 10px 30px;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

// Padding Remove

.padding-lr-rm {
  padding-left: 0;
  padding-right: 0;
}

/********************************** Hero Styles ***************************************/

.hero-title {
  padding: 0 0 20px 0;
  color: $hero-title;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}

.hero-subtitle {
  color: $hero-subtitle;
  font-size:  1.1rem;
  padding: 16px 0;
  margin: 0;
}

.hero-description {
  font-size: 0.9rem;
  color: $hero-description;
  padding: 16px 0;
  margin: 0;
}

.hero-hr {
  width: 125px;
  border: 2px solid $primary-color;
  border-radius: .25rem;
  margin-bottom: 16px;
}

/********************************** Section Styles ***************************************/

.section-title {
  padding: 0 0 25px 0;
  color: $primary-dark;
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.section-description {
  padding: 0 0 25px 0;
  color: $section-description;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}



