/*
    This stylesheet contains all the class related to the container
    on our platform.
 */


/*
    Main container
 */
.main-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


/*
    Hero container
 */
.hero-container {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}


/*
    Hero light container
 */
.hero-light-container {
  padding-top: 50px;
  padding-bottom: 25px;
  margin: 0;
}


/*
    Section container
 */
.section-container {
  padding-top: 3.15rem;
  padding-bottom: 3.15rem;
  margin: 0;
}


/*
    Section light container
 */
.section-light-container {
  padding-top: 1.57rem;
  padding-bottom: 1.57rem;
  margin: 0;
}

/*
    Section inline container
 */
.section-inline-container {
  padding: 50px;
}

/*
    Section inline light container
 */
.section-inline-light-container {
  padding: 1.57rem;
}


/********************************** Media ***************************************/
@media (max-width: 600px) {

  .section-inline-container {
    padding: 25px;
  }

  .section-inline-light-container {
    padding: 12.5px;
  }

}
