@import "variables";

/*
    This stylesheet contains all the form related class
    on our framework.
 */


/*
    Removing the focus default style.
 */

*:focus {
  box-shadow: none !important;
  outline: none !important;
}







/*
    Form group inline styles
*/

.form-group-inline-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .input-group{
    margin-left: 5%;
  }

}

.form-group-inline-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .input-group{
    margin-right: 5%;
  }
}

.form-group-inline-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}








/*
    This is to show the suggestion list when the user types in form
    input like as a suggestion list. Just add this class to '<ul>' element,
    and add the input in '<li>'. Class name: suggestion
 */

.suggestion {
  display: flex;
  flex-direction: column;
  box-shadow: $box-shadow;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
  background-color: #F2F2F2;
  outline: none;
  overflow: auto;

  li {
    transition: all .15s ease-in-out;
    word-break: break-word;
    font-size: .875rem;
    color: $input-color;
    padding: 0;

    a{
      text-decoration: none;
      display: flex;
      padding: 1rem .9375rem;
    }

  }

  li:hover {
    background-color: $border-color;
    border-color: $border-color;
    cursor: pointer;
  }

}


/*
    Textarea.
 */

textarea {
  resize: none;
  padding-right: 1.87rem !important;

}


/*
    Form slide button
  */











/*
    Form switch
  */

.form-switch {
  padding-left: 2.5rem;
  padding-right: 0.2rem;
}

.form-switch-padding {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}


/*
    Form checkbox
 */

.form-checkbox {
  padding-left: 1.5rem;
}

.form-checkbox .form-icon {
  width: 1rem;
  height: 1rem;
  top: .21rem;
  border-color: $border-color;
}

.form-checkbox .form-icon::before {
  height: 11px;
  width: 7px;
  margin-left: -3px;
  margin-top: -7px;
}

.form-checkbox input:focus + .form-icon {
  box-shadow: none !important;
  background: white;
  -webkit-box-shadow: none !important;
  border-color: $border-color;
}

.form-checkbox input:checked + .form-icon, .form-checkbox input:active + .form-icon {
  background: $validation-color;
  border-color: $validation-color;
}


/*
    TinyMCE
  */

.mce-tinymce {
  box-shadow: none !important;
  width: inherit !important;
}

/********************************** Media ***************************************/

@media (min-width: 1441px) {

  .restrict-width {
    max-width: 50% !important;
  }
  
}

@media (max-width: 600px) {


  .form-switch .form-icon::before {
    top: -4px !important;
  }


}
