@import "variables";

/*
    This stylesheet contains all the form related class
    on our platform.
 */


/*
    Removing the focus default style.
 */

*:focus {
  box-shadow: none !important;
  outline: none !important;
}



/*
    Form group style
*/

.form-group {
  margin-bottom: 1.2rem !important;
}


/*
    Form label style
 */

.form-label {
  color: $dark-color;
  font-weight: 600;
  font-size: .85rem;
  line-height: 1.5;
  display: block;
}

/*
    Form input style. Just add this class when you are
    defining the input of the form or any other. Class
    name: .form-default
 */

.form-default {
  border: 1px solid $border-color;
  font-size: .85rem;
  color: $input-color;
  border-radius: .35rem;
  display: block;
  width: 100%;
  outline: none;
  min-height: 3.125rem;
  position: relative;
  background: white none;
  padding: .9rem;
  transition: all 0.15s ease-in-out;
  margin-top: .5rem;
}


/*
    Placeholder style
 */

.form-default:not(:disabled):placeholder-shown {
  color: $placeholder-color;
}


/*
    Focus on input style
 */

.form-default:not(:disabled):focus {
  border-color: $primary-color;
}


/*
    Error on input style
 */

.form-default.ng-touched.ng-invalid{
  border-color: $alert-color;
}


/*
    Form input is disabled.
 */

.form-default:disabled, .form-default.disabled {
  background: $disabled-color;
  color: $disabled-text-color;
  border-color: $disabled-color;
  cursor: not-allowed;
  opacity: 1;
}



/*
    Form group inline styles
*/

.form-group-inline-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .input-group{
    margin-left: 5%;
  }

}

.form-group-inline-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .input-group{
    margin-right: 5%;
  }
}

.form-group-inline-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*
    Form error style.  Add this class to show the error related to the
    input. Class name: form-error
 */

.form-error {
  color: $alert-color;
  font-size: .75rem;
  padding: .3rem 0;
}


/*
    Form input radio button
 */

.form-radio {
  padding-left: 1.57rem;
  padding-right: 1.57rem;
  color: $dark-color;
}

.form-radio .form-icon {
  height: 1rem !important;
  top: 0.2rem !important;
  width: 1rem !important;
}

.form-radio input:checked + .form-icon {
  border: none !important;
  background: $validation-color;
}

/*
    Form input radio button disabled
 */

.form-radio input:disabled + .form-icon {
  cursor: not-allowed;
}


/*
    This is to show the suggestion list when the user types in form
    input like as a suggestion list. Just add this class to '<ul>' element,
    and add the input in '<li>'. Class name: suggestion
 */

.suggestion {
  box-shadow: $box-shadow;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
  background-color: white;
  outline: none;

  li {
    padding: .5rem .6rem;
    transition: all .15s ease-in-out;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;

    a{
      color: $dark-color;
      text-decoration: none;
    }

  }

  li:hover {
    background:  #F2F2F2;
    border-color: #F2F2F2;
  }

}


/*
    Textarea.
 */
textarea {
  resize: none;
  padding-right: 1.87rem !important;

}

/*
    Form slide button
  */


.form-switch .form-icon::before {
  background: $meta-color;
  border-color: $meta-color;
  height: .95rem;
  top: -0.01rem;
}

.form-switch .form-icon  {
  border-color: $border-color;
  background-color: #FFFFFF;
  height: 1rem;
}

.form-switch input:checked + .form-icon::before {
  background: $validation-color;
}

.form-switch input:checked + .form-icon  {
  border-color: rgba(46,204,113,0.45) !important;
  background: rgba(46,204,113,0.45);
}

.form-switch input:focus + .form-icon {
  border-color: $border-color;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}


/*
    Form switch
  */

.form-switch {
  padding-left: 2.5rem;
  padding-right: 0.2rem;
}

.form-switch-padding {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}


/*
    TinyMCE
  */
.mce-tinymce {
  box-shadow: none !important;
  width: inherit !important;
}
