@import "variables";

/*
    This stylesheet contains all the styles that are common
    for everywhere on the framework.
 */








/*
    This is to show the rectangle box of bot text. Just add the class 'bot-rect'
    to the text element and add class 'bot-trian' to the triangle image.
 */

.bot-rect {
  padding: 1.2rem .95rem;
  border-radius: .18rem;
  color: $dark-color;
  border: 1px solid $border-color;
  display: inline-block;
  max-width: 273px;
  width: 100%;
  font-size: .9375rem;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  z-index: 3;
}

.bot-triangle {
  padding-left: 150px;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  margin-top: -2px;
}

.bot-image {
  height: 9.37rem;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}


/*
    This is to show the numbering of the question in the form. Just add the class 'num-rect'
    to the number.
 */

.num-rect {
  color: white;
  border-radius: .35rem;
  font-size: 1.1rem;
  font-weight: 600;
  font-style: normal;
  padding: .45rem .95rem;
  background: $background-color;
  margin-right: 1.2rem;
  display: inline-block;
}


/*
    This is to show the circle with icon check. Just add this class to div and
    icon check.
 */

.circle-check {
  border-radius: 50%;
  height: 1.57rem;
  width: 1.57rem;
  background: transparent;
  display: inline-block;
  position: absolute;
  z-index: 2;

  i {
    color: transparent;
    display: flex;
    justify-content: center;
    padding-top: .375rem;
    font-size: .85rem;
  }

}


/*
    This is to show the remaining characters length in form.
 */

.charRemaining {
  display: flex;
  justify-content: flex-end;
  position: relative;

  span {
    position: absolute;
    margin-top: -25px;
    margin-left: -15px;
    font-size: .75rem;
    color: $meta-color;
  }

}


/*
    Disabled cursor
 */
.c-disabled {
  pointer-events: none;
}

.discreet-link {
  color: #97A4B1;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.discreet-link:hover,
.discreet-link.active {
  color: $primary-color;
}


/*
    No result & fetching result
 */
.section-no-result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 1.57rem;
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;

  .bot-image {
    height: 9.37rem;
    margin-bottom: .6rem;
  }

  .main-heading {
    color: #A0A4AF;
    margin-bottom: .6rem;
  }

  p {
    padding-bottom: 0;
    font-size: .875rem;
  }

}


/*
    Spinner display
 */
.section-spinner {
  display: flex;
  justify-content: center;
}


/*
    Message Banner
 */
.banner-wrapper {
  background-color: $validation-color;
  color: white;
  font-weight: 600;
  font-size: .875rem;
  padding: .9375rem;
  text-align: center;

  .text-link {
    color: white;
    text-decoration: underline;
  }

}


/*
    Pagination wrapper
 */
.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.57rem;
}


/*
    Campaign stats
 */
.campaign-stats-wrapper {
  display: flex;

  .stat1, .stat2, .stat3 {
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    display: flex;
    flex: 1;
    animation-name: fadeIn;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;

    .container {
      display: flex;
      width: 92%;
      margin: 0 auto;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      padding-left: .4rem;
      padding-right: .4rem;
    }

    .heading, .title, .value {
      color: white;
      margin-bottom: 0;
    }

    .heading, .value {
      font-size: 1rem;
    }

    .heading {
      margin-right: .6rem;

      .fa-sync-alt {
        color: $primary-color;
        margin-right: .6rem;
      }

      .fa-sync-alt:hover {
        color: lighten($primary-color, 15%);
        cursor: pointer;
      }

    }

    .value {
      font-weight: normal;
    }

    .title {
      opacity: .7;
      font-size: .75rem;
    }

    .content {
      margin: 0 .6rem .6rem .6rem;
      text-align: center;
    }

  }

  .stat1 {
    background-color: $secondary-color;
  }

  .stat2 {
    background-color: #2FA4D4;
  }

  .stat3 {
    background-color: #5FAECE;
  }

}


/********************************** Media ***************************************/

@media (max-width: 600px) {

  .campaign-stats-wrapper {

    .container {
      flex-direction: column;

      .heading {
        margin-right: 0 !important;
        margin-bottom: 1.2rem;
      }

    }

  }

}
