@import "framework/variables";

/*
    Ng2 auto complete npm module style.
 */


.ng2-auto-complete-wrapper {
  display: inline-flex;
  flex: 1;
  max-width: 100%;
}

.ng2-auto-complete > ul {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  list-style: none;
  z-index: 2;
  background-color: white;
  border: none !important;
}

.ng2-auto-complete > ul li {
  padding: .5rem .6rem !important;
  transition: all .35s ease-in-out;
  cursor: pointer;
  margin-top: .125rem !important;
  margin-bottom: .125rem !important;
  border-radius: .125rem !important;
  border-bottom: none !important;
  color: $text-primary !important;
}

.ng2-auto-complete > ul li:hover, .ng2-auto-complete > ul li.selected {
  background:  #F2F2F2 !important;
  border-color: #F2F2F2 !important;
}
