@import "variables";

/*
    This stylesheet contains the css related to the popover
    on our framework.
 */

.popover {

  .popover-container {
    padding: 0;

    .card {

      .card-header, .card-body,  .card-body:last-child, .card-footer {
        padding: .6rem;
      }

    }

  }

}


/********************************** Media ***************************************/

@media (max-width: 600px) {

  .popover {

    .popover-right, .popover-left, .popover-bottom {

      .popover-container {
        transform: translate(-50%,-100%) scale(1) !important;
        top: 0 !important;
        left: 50% !important;
        right: unset !important;
        bottom: unset !important;
      }

    }

  }
  
}
