@media print and (color) {

  /*
  @page:first {
    size: 5.5in 8.5in;
    margin: 0;
  }

  @page:right{
    @bottom-left {
      content: "My book";
      font-size: 40px;
      color: #333;
    }
  }

  @page:right{
    @bottom-right {
      content: "Page " counter(page) " of " counter(pages);
    }
  }

  @page :right {
    @top-right {
      content: string(doctitle);
      margin: 30pt 0 10pt 0;
      font-size: 8pt;
    }
  }

  .page-footer:after {
    counter-increment: page;
    content: counter(page);
   }

  .page-footer {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  */


  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: A4 landscape;
    // margin: 1.5cm 1.5cm;
  }

  body {
    width: 29.7cm;
    height: 29.7cm;
    margin: 0;
    padding: 0;
  }


  /* =========================================================================
    Innovation card
    ========================================================================== */

  #setup, .header-project, footer, app-header {
    display: none !important;
  }

  .innovation-card-print {
    display: block !important;
    font-size: 14px;
    color: #333;
    line-height: 1.6;

    .section-light-container {
      padding: 0 !important;
    }

    .section-heading {
      margin: 0 0 8px !important;
    }

    .innovation-wrapper {
      display: flex;
      justify-content: space-between;

      .main-media {
        margin-bottom: 10px;
      }

      .summary-wrapper {
        padding-right: 0;
        flex: 1.3;

        p {
          padding-bottom: 25px;
        }

        .section-heading {
          margin-bottom: 15px;
        }

        .advantage-wrapper {
          margin: 0;

          li {
            margin: 0;
            padding: 3px 8px 3px 4px !important;
          }

          li:last-child {
            padding-bottom: 0;
          }

        }

      }

      .issue-wrapper {
        padding-left: 15px;
        padding-right: 0;
        flex: 0.8;
      }

      .solution-wrapper {
        padding-left: 15px;
        flex: 0.8;
      }

    }
  }

  /********************************** Market report ***************************************/

  #market-report {

    .sticky-wrapper, .menu-button-print {
      display: none;
    }

    #executive-report-wrapper, #main-page {
      padding-top: 0;
      padding-bottom: 0 !important;
      page-break-after: always;
    }

    .column {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100vh;
    }

    #main-page {

      .front-page-print {
        height: 100%;
        padding: 10px;
        page-break-inside: avoid;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .body-wrapper {
          min-height: unset;
          flex: 1;
        }

        .footer-wrapper {
          width: 100%;
        }

      }

    }

   #executive-report-wrapper {

     .page-first {

       #executive-professional-wrapper {
         display: none;
       }

     }


  }


  }

  /*
  app-admin h2,
  .navbar,
  .admin-buttons,
  .tab,
  footer,
  .sidebar,
  #app-header,
  .see-answer,
  .market-report-btn,
  .item-menu-sandwich,
  .bar-stats i,
  .container.main-container,
  .btn.btn-action.circle,
  .popover.popover-bottom,
  .fas.fa-filter,
  .fas.fa-link {
    display: none !important;
  }

  .col-10 {
    width: 100% !important;
    padding: 0;
  }

  .market-report {

    .column.col-10.col-mx-auto > h1 {
      display: none !important;
    }

    .content {
      margin-left: 10px;
    }

    .frontcover {
      margin-top: 150px;
      page-break-after: always;

      img {
        display: block !important;
        margin-bottom: 30px;
      }

      .subtitle {
        display: block !important;
        margin-bottom: 80px;
      }
    }

    h2 {
      margin-left: 0 !important;
      font-size: 32px !important;
      margin-bottom: 20px !important;
    }

    .big-blue-synthesis,
    .big-synthesis {
      padding: 5px 15px 25px 15px !important;
      margin-right: 20px !important;
      margin-bottom: 20px !important;
      min-width: 200px !important;
      max-width: 200px !important;
    }

    .umi-synthesis .title {
      string-set: doctitle content();
      color: #0c90c6 !important;
      font-size: 25px !important;
    }

    .bar-chart-component .horizontal-bar {
      width: 99% !important;
    }

    .page-break {
      page-break-before: always !important;
    }

    .white-frame {
      padding: 0 !important;
      margin: 0 !important;
      box-shadow: none !important;
    }

    section {
      page-break-before: always;
    }

    .desc {
      color: #333 !important;
      line-height: 20px !important;

      p {
        margin: 0 0 0.3rem;
      }
    }

    .items {
      .clickable-url {
        display: none;
      }

      div.items-list > div {
        page-break-inside: avoid;
        color: #333 !important;
        background: transparent !important;
        padding: 0 0 !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        width: 49%;
        font-size: 12px !important;
        font-weight: normal !important;
      }
    }

    ul.comments,
    ul.comments-bar {
      padding: 0;
      margin: 0;

      li {
        page-break-inside: avoid;
        color: #333 !important;
        background: transparent !important;
        padding: 0 0 !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;

        app-country-flag img {
          position: relative;
          top: 4px;
        }

        .professional-comment {
          color: #333 !important;
          padding: 8px 0 0 0 !important;

          & > div > p {
            font-weight: 600;
            margin: 0;
            font-size: 12px !important;
            text-overflow: ellipsis;
          }

          .comment-desc {
            font-weight: normal;
            margin-left: 44px;
            display: block;
            top: -10px;
            position: relative;
            font-size: 12px !important;
          }
        }
      }
    }

    ul.comments {
      page-break-before: always;
    }

    ul.comments-bar li app-country-flag img {
      position: relative;
      top: -4px;
    }

    .world-map .map {
      height: 260px !important;
      page-break-inside: avoid;
    }

    .world-map {
      page-break-after: always;
    }

    .prosList {
      page-break-inside: avoid;
    }

    .professional-item {
      page-break-inside: avoid;
      box-shadow: none !important;
      margin: 20px 5px 0px 5px !important;
      color: #333 !important;
      padding: 0 !important;
    }

    .prosList .professional-item:nth-child(9) {
      page-break-after: always;
    }

    app-pro-tag {
      page-break-inside: avoid;
    }

    .bloc {
      margin-top: 0 !important;
      margin-bottom: 30px;
    }

    .scale-component {
      page-break-inside: avoid;
    }

    .scale-component .vertical-bar {
      height: 250px !important;
    }

    .big-blue-synthesis .total-score {
      padding: 0 !important;
    }

    .stars-component .star-ratings-css,
    .stars-component .popover-container {
      display: inline-block;

      .top,
      .grade-number {
        color: #0c90c6 !important;
      }

      .grade-number {
        font-size: 1.1em !important;
      }
    }

    .stars-component .popover-container {
      max-width: 100% !important;
      box-shadow: none !important;
      margin-left: 20px;

      small {
        display: inline-block;
        margin-left: 15px;
      }
    }

    .market-item {
      position: relative;
      margin-left: 10px !important;
      margin-bottom: 15px !important;
    }

    .market-item::before {
      position: absolute;
      content: "•";
      display: block;
      width: 5px;
      height: 5px;
      left: -10px;
    }

    .professional-item.top-profil {
      color: #333 !important;
      background: transparent !important;
    }

    .professional-item.top-profil:before {
      top: -20px !important;
    }
  }*/

  /*
      Market report
  */

/*  .s-print {
    background-color: white !important;
  }

  .sticky-wrapper, .s-menuButton-print, .scrollButton-print, .answer-button-wrapper, .comment-button-wrapper {
    display: none !important;
  }

  .s-frontPage-print, .s-innovationPage-print, .s-targeting-print, .s-analytics-print, .s-origin-print, .s-map-print,
  .s-professional-print, .s-conclusion-print, .s-keyLearning-print {
    padding-top: 0;
    padding-bottom: 0 !important;
    page-break-after: always;
  }


  .s-frontPage-print {

    .section-inline-container {
      padding: 0 !important;
    }

    .body-wrapper {
      min-height: 85vh !important;
    }

  }

  .s-innovationPage-print {

    .section-inline-container {
      padding: 0 !important;
    }

    .innovation-wrapper {
      flex-direction: column;

      .issue-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 25px;
      }

      .solution-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 25px;
      }

    }

  }

  .s-targeting-print {

    .section-inline-container {
      padding: 0 !important;
    }

    .answer-wrapper {
      background: #4F5D6B !important;
      color: white !important;
    }

  }

  .s-analytics-print {

    .section-inline-container {
      padding: 0 !important;
    }

    .name-wrapper li {
      width: 50% !important;
    }

  }

  .ques-conclusion-wrapper {
    flex-direction: row !important;

    .divider-wrapper {
      display: block !important;
    }

    .stat-wrapper {
      padding-top: 0 !important;
      padding-bottom: 25px !important;
    }

    .pie-chart-print {
      flex: 1 !important;
      padding-top: 50px !important;
    }

  }

  .bar-chart {

    .answer-wrapper {
      flex-direction: row !important;
    }

  }

  .s-origin-print {

    .section-inline-container {
      padding-top: 25px !important;
      padding-bottom: 25px !important;
    }

  }

  .s-map-print {
    align-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }

  .s-professional-print {
    page-break-inside: avoid;

    .professional-wrapper {
      flex-direction: row !important;

      .profile {
        flex: 0 1 calc(32% - 1rem) !important;
        height: 150px !important;
      }

    }

  }

  .s-questions-print {
    padding-top: 0;
    padding-bottom: 0 !important;
  }

  .s-question-print {
    page-break-after: always;
  }

  .s-item-print {
    flex: 0 1 calc(32% - 1rem) !important;
    min-height: 100px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;

    .value {

      p {
        padding-top: 15px !important;
        font-size: 15px !important;

      }

    }

  }*/


}
