// this is for the help disk widget.
// todo find better solution.
#jsd-widget {
  visibility: hidden;
}

// calculate page height => 65px (Header) + 45px (Footer)
.page-height {
  min-height: calc(100vh - 110px);
}

.header-height {
  min-height: 65px !important;
}

.footer-height {
  min-height: 45px !important;
}

.header-bg-color {
  background-color: #2E6188 !important;
}

@import "../style/shared-editors";
@import "../style/admin-executive-report";
@import "../style/admin-campaign-stat";
@import "../style/tinymce-style";
@import "../style/shared-market-report";
@import "../style/ng2autocomplete-style";
@import "../style/upload-zone-photo-video";
@import "../style/simple-notification-style";
@import "../style/date-picker";

// print style
@import "../style/print";





