@import "variables";

/*
    This stylesheet contains all the styles related to the text on our platform.
    Like: headings, text-link etc.
 */







/*
    Question style
 */
.ques {
  font-size: 1.1rem;
  color: $hero-heading;
}


/*
    Para style
 */
.para {
  font-size: 1.1rem;
  color: $paragraph-color;
  padding: 1rem 0;
  margin: 0;
}


/*
    Hero hr style
 */
.hero-hr {
  width: 125px;
  border: 2px solid white;
  border-radius: .25rem;
  margin-bottom: 1rem;
}


/*
    Page heading
 */
.main-heading {
  font-size: 1.7rem;
}


/*
    Section heading
 */
.section-heading {
  font-size: 1.625rem;
  font-weight: 300;
  color: $secondary-color;
}
