@import "variables";

/*
    This stylesheet contains all the styles related to the text on our platform.
    Like: headings, text-link etc.
 */


/*
    h1, h2, h3, h4, h5, and h6 common style
 */

h1, h2, h3, h4, h5, h6 {
  color: $hero-heading;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 1.57rem;
}


/*
    h1
 */

h1 {
  font-size: 34px;
}


/*
    h2
 */

h2 {
  font-size: 32px;
}


/*
    h3
 */

h3 {
  font-size: 30px;
}


/*
    h4
 */

h4 {
  font-size: 28px;
}


/*
    h5
 */

h5 {
  font-size: 26px;
}


/*
    h6
 */

h6 {
  font-size: 24px;
}


/*
    Text style that has link. Class name: text-link
 */

.text-link, .text-link:active, .text-link:focus, .text-link:visited {
  color: $primary-color;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.text-link:hover {
  color: $primary-color;
  text-decoration: underline;
}


/*
    Question style
 */
.ques {
  font-size: 18px;
  color: $hero-heading;
}


/*
    Para style
 */
.para {
  font-size: 18px;
  color: $paragraph-color;
  padding: 16px 0;
  margin: 0;
}


/*
    Hero hr style
 */
.hero-hr {
  width: 125px;
  border: 2px solid white;
  border-radius: .25rem;
  margin-bottom: 16px;
}


/*
    Page heading
 */
.main-heading {
  font-size: 1.7rem;
}


/*
    Section heading
 */
.section-heading {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 25px;
  color: $secondary-color;
}
