/*
    Base variables
 */

$primary-color: #FFB300;
$secondary-color: #0B90C6;
$validation-color: #2ECC71;
$alert-color: #EA5858;
$disabled-color: #DBDBDB;
$meta-color: #97A4B1;
$background-color: #4F5D6B;
$dark-color: #333333;
$border-color: #E0E0E0;
$page-color: #F5F5F5;
$progress-color: #F79323;
$hover-background-color: #FFF9EB;


/*
    Form variables
 */

$placeholder-color: #AAB2BD;
$input-color: #262831;
$label-color: #333333;


/*
    Text variables
 */

$hero-heading: #333333;
$hero-subHeading: #878787;
$hero-description: #A4A4A4;
$section-heading: #0B90C6;
$section-description: #878787;
$paragraph-color: #5D5D5D;
$text-dark: #484848;


/*
    Button variables
 */

$disabled-text-color: #a9a9a9;


/*
    Tabs variable
 */

$tabs-border-color: #CDCDCD;


/*
    Box shadow
 */

$box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
$box-shadow-hover: 0 2px 8px 2px rgba(20,23,28,.15);


/*
    Filter
 */

$filter-section-heading: #4F5D6B;
