<!--
<shared-answer-modal [(modalAnswer)]="modalAnswer" [innoid]="campaign.innovation._id" [adminMode]="true" [questions]="questions"></shared-answer-modal>
-->

<!--<h2>{{ total }} {{ 'CAMPAIGNS.ANSWERS' | translate }}</h2>-->

<div *ngIf="autorizedActions(2)" class="text-right">
  <label class="btn ghost-primary btn-primary">
    <input #fileupload type="file" [hidden]="true" (change)="importAnswers(fileupload.files[0], $event)" />
   {{ 'CAMPAIGNS.IMPORT-ANSWERS' | translate }}
  </label>

  <button class="btn btn-primary" (click)="exportAnswers($event)">
    {{ 'CAMPAIGNS.EXPORT-ANSWERS' | translate }}
  </button>
</div>

<app-answers-list [answers]="answers"
                  (modalAnswerChange)="seeAnswer($event)"
                  (validateAnswers)="changeStatus($event, 'VALIDATED_NO_MAIL')"
                  (rejectAnswers)="changeStatus($event, 'REJECTED')">
</app-answers-list>

<!-- Insight preview -->
<sidebar
  [template]="sidebarTemplateValue"
  (closeSidebar)="closeSidebar($event)">
  <app-user-answer
    [adminMode]="adminMode()"
    [mode]="editMode"
    [(userAnswer)]="modalAnswer"
    [innovationId]="campaign.innovation._id"
    [questions]="questions">
  </app-user-answer>
</sidebar>
