@import "../../../../../../../style/framework/src/variables";

#admin-project-preparation {

  .header-btn-action-wrapper {
    background: $bg-white-color;
    position: absolute;
    right: 7px;
    top: 21px;
  }

}
