@import "~@umius/umi-style-framework/scss/variables";

#admin-project-preparation {

  .container {
    .lang-menu {
      width: 100%;
      height: 2.5em;
      background-color: #e1e7ea;
    }
  }

  .header-wrapper {
    z-index: 2;
    top: 0;
  }

  .header-btn-action-wrapper {
    background: $white-color;
    position: absolute;
    right: 7px;
    top: 7px;
  }

  .button {

    &.is-saved {
      border-color: $success-color;
      background-color: $success-color;
      position: relative;

      .shape.is-circled {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -16px;
        right: -23px;
        border: 2px solid $white-color;
        color: $white-color;
        background-color: $success-color;
      }

    }

  }

}
