<section id="showcase-innovations" class="relative">


  <!-- bar icon -->
  <ng-container *ngIf="isAdmin && innovations.length > 0">
    <div class="icon icon-meta absolute tooltip tooltip-left tooltip-hide-sm" [attr.data-tooltip]="'SHOWCASE.TOOLTIP.EDIT_INNOVATIONS' | translate" (click)="openModal($event)">
      <i class="fas fa-bars"></i>
    </div>
  </ng-container>
  <!-- /bar icon -->


  <!-- heading 1st -->
  <h2 class="text text-notify" [innerText]="'SHOWCASE.INNOVATIONS_TITLE'" translate></h2>
  <!-- /heading 1st -->


  <!-- heading count -->
  <h3 class="text-normal">
    {{ count }} <span [innerText]="'SHOWCASE.INNOVATIONS'" translate></span>
  </h3>
  <!-- /heading count -->


  <!-- section innovations -->
  <div class="section-card-wrapper section-light-pad rm-pad-top d-flex text-center">
    <div *ngFor="let innovationCard of topCards" class="card card-3 animate-zoomIn">
      <a [routerLink]="['/discover', innovationCard._id, lang]" target="_blank" class="text-primary text-xs">

        <div class="card-image media-hover">

          <figure>
            <img [src]="innovationCard.media" [alt]="innovationCard.title" width="186" height="116">
          </figure>

          <div class="media-hover-button">
            <span class="text-medium">{{ 'DISCOVER.LEARN_MORE' | translate }}</span>
          </div>

        </div>

        <div class="card-header">
          <div class="card-title text-xs">{{ innovationCard.title }}</div>
        </div>

      </a>
    </div>
  </div>
  <!-- /section innovations -->


  <!-- section see more -->
  <div class="see-more-wrapper absolute text-right">
    <a [routerLink]="['/discover']" [queryParams]="{ tag: tags }" class="text-link" target="_blank" [innerText]="'SHOWCASE.SEE_MORE'" translate></a>
  </div>
  <!-- /section see more -->


</section>


<!-- modal to select innovations -->
<app-modal [(showModal)]="modalShow" [widthMax]="'90vw'" [modalPosition]="'70px'">

  <div class="modal-card-wrapper d-flex text-center">
    <ng-container *ngFor="let innovationCard of cards">
      <div class="card modal-card badge badge-save" [ngClass]="{ 'active': activeInnovation(innovationCard) }">

        <i class="fas fa-check-circle"></i>

        <label class="absolute">
          <input type="checkbox" (change)="onChangeInnovation($event, innovationCard)" [checked]="activeInnovation(innovationCard)">
        </label>

        <figure class="card-image">
          <img [src]="innovationCard.media" alt=" " width="186" height="116">
        </figure>

        <div class="card-header">
          <div class="card-title text-xs">{{ innovationCard.title }}</div>
        </div>

      </div>
    </ng-container>
  </div>


  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel" [innerText]="'COMMON.BUTTON.CANCEL'" translate></button>
    <button class="btn btn-sm btn-primary" (click)="onClickApply($event)" [innerText]="'COMMON.BUTTON.CONFIRM'" translate></button>
  </div>

</app-modal>
<!-- /modal to select innovations -->
