@import "../../../../../../../style/framework/src/variables";
@import "../../../../../../../style/framework/src/mixins";

#showcase-innovations {
  height: 100%;

  .see-more-wrapper, .icon {
    @include control-transition();
    visibility: hidden;
  }

  .icon {
    top: -6px;
    right: 0;
    margin-right: 0;
    font-size: $font-icon-xl;
  }

  h2, h3 {
    margin-bottom: 0.25rem;
  }

  h3 {
    font-family: $font-family-oswald;
    color: $secondary-color;
    font-size: 1.85rem;

    span {
      color: #3E5164;
    }

  }

  .section-card-wrapper {

    .card-3  {
      overflow: hidden;
      min-width: 218px;

      a {
        padding: $unit-4;
      }

      &:hover {
        box-shadow: $box-shadow-hover-umi;
        cursor: pointer;

      }

    }

  }

  .see-more-wrapper {
    right: 0;
    bottom: 0;
  }

  &:hover {

    .icon, .see-more-wrapper {
      visibility: visible;
    }

  }

}

.section-card-wrapper, .modal-card-wrapper {
  flex-wrap: wrap;
  margin-right: -$unit-5;

  .card-3, .modal-card {
    margin-bottom: $unit-5;
    border: none;
    background-color: transparent;

    .card-image {

      img {
        height: 116px;
        margin-left: auto;
        margin-right: auto;
      }

    }

  }

}


.modal-card-wrapper {
  justify-content: space-between;

  .modal-card {
    margin-right: $unit-5;
    max-width: 200px;

    .card-image {
      padding-top: 0;
    }

    label {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      input[type="checkbox"] {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }

    }

    &.active {
      border-color: $success-color;
    }

  }

}


@media (max-width: $size-sm) {

  .section-card-wrapper, .modal-card-wrapper {
    margin-right: 0 !important;
  }

  .modal-card {
    margin-left: auto;
    margin-right: auto !important;
  }

}
