<div (click)="toggleState($event)" [ngClass]="showModal ? 'active': 'inactive'" class="modal">
  <div class="modal-overlay"></div>
  <div [ngStyle]="{ 'max-width': maxWidth }" class="modal-container">

    <!-- header -->
    <ng-container *ngIf="!!title && showModal">
      <header
        [ngClass]="{'is-white': isHeaderBgWhite, 'has-bottom-border': headerBottomBorder}"
        class="modal-header">
        <p class="modal-title">{{ title | translate }}</p>
        <button [id]="'modal-btn-close'" aria-label="close" class="close" type="button"></button>
      </header>
    </ng-container>
    <!-- /header -->

    <!-- content -->
    <ng-container *ngIf="showModal">
      <ng-content></ng-content>
    </ng-container>
    <!-- /content -->

    <!-- close button -->
    <ng-container *ngIf="enableCloseButton && showModal">
      <button
        [id]="'modal-btn-close'"
        aria-label="close"
        class="modal-close is-sm"
        type="button">
      </button>
    </ng-container>
    <!-- /close button -->
  </div>
</div>
