<div (click)="toggleState($event)" [ngClass]="showModal ? 'active': 'inactive'" class="modal">
  <div class="modal-overlay"></div>
  <div [ngStyle]="{ 'max-width': maxWidth }" class="modal-container">

    <!-- header -->
    <header
      *ngIf="title"
      [ngClass]="{'is-white': isHeaderBgWhite, 'has-bottom-border': headerBottomBorder}"
      class="modal-header">
      <p class="modal-title">{{ title | translate }}</p>
      <button [id]="'modal-btn-close'" aria-label="close" class="close" type="button"></button>
    </header>
    <!-- /header -->

    <!-- content -->
    <ng-content></ng-content>
    <!-- /content -->

    <!-- close button -->
    <div *ngIf="enableCloseButton">
      <button
        [id]="'modal-btn-close'"
        aria-label="close"
        class="modal-close is-sm"
        type="button">
      </button>
    </div>
    <!-- /close button -->

  </div>
</div>
