@import "../../../../../../../style/variables";

#projects-list-component {

  .section-no-project {
    padding-top: 3.15rem;
    text-align: center;

    .bot-rect {
      max-width: 354px;
      animation-name: slideInDown;
    }

    .bot-triangle {
      animation-duration: 4s;
    }

  }


  .section-projects-list {
    padding-top: 3.15rem;

    .project-wrapper {

      .content-outer {
        margin-bottom: 1.57rem;

        .content {
          display: inline-flex;
          width: 100%;

          img {
            border-radius: .18rem;
            width: 120px;
            height: 100px;
            margin-right: 1.2rem;
            cursor: pointer;
          }

          img:hover {
            box-shadow: $box-shadow-hover;
          }

          .project-description {
            border-bottom: .06rem solid $border-color;
            width: 100%;

            span {
              font-size: 1.4rem;
            }

            span:hover {
              color: $primary-color;
              cursor: pointer;
            }

            .date-text {
              margin-top: 0.95rem;
              font-size: 0.85rem;
              color: $meta-color;
              font-weight: 600;
            }

          }

        }

      }

    }

    .pagination-wrapper {
      display: flex;
      justify-content: flex-end;
      padding-top: 3.15rem;
    }

  }


}
