@import "../../../../../../../style/variables";

#projects-list {

  .no-project-wrapper {
    padding-top: 3.15rem;

    .bot-rect {
      width: 300px;
    }

  }

  .project-wrapper {
    padding-top: 3.15rem;

    .content-outer-wrapper {
      margin-bottom: 1.57rem;

      .content-wrapper {
        display: inline-flex;
        width: 100%;
        cursor: pointer;

        img {
          border-radius: .25rem;
          width: 120px;
          height: 100px;
          margin-right: 1.2rem;
        }

        .project-description {
          border-bottom: .06rem solid $border-color;
          width: 100%;

          h6 {
            font-size: 1.4rem;
            margin-bottom: 0.95rem;
          }

          .date-text-wrapper {
            font-size: 0.85rem;
            color: $meta-color;
            font-weight: 600;
          }

        }

      }

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

}
