<section class="section-container" id="projects-list">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- Add project button -->
    <div class="text-right">
      <button [routerLink]="'/project/new'" (click)="$event.preventDefault()" class="btn btn-primary">
        {{ 'PROJECT_MODULE.PROJECTS_LIST.ADD_PROJECT' | translate }}
      </button>
    </div>

    <!-- No project -->
    <div *ngIf="projects && !projects.length" class="no-project-wrapper text-center">
      <div class="bot-rect">
        {{ 'PROJECT_MODULE.PROJECTS_LIST.NO_PROJECT.TITLE' | translate }}
        <br>
        {{ 'PROJECT_MODULE.PROJECTS_LIST.NO_PROJECT.CONTENT' | translate }}
      </div>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/v1528795403/app/default-images/bot-triangle.svg" class="bot-trian">
      <div>
        <img src="https://res.cloudinary.com/umi/image/upload/v1532612435/app/default-images/bot-advice.svg" alt="Bot" class="bot-image">
      </div>
    </div>

    <!-- Projects list -->
    <div *ngIf="projects && projects.length" class="project-wrapper">
      <div *ngFor="let project of projects" class="content-outer-wrapper">
        <div class="content-wrapper">
          <img [src]="getPrincipalMedia(project)" [routerLink]="getRelevantLink(project)" alt="Media">
          <div class="project-description">
            <span [routerLink]="getRelevantLink(project)">{{ project.name || ('PROJECT_MODULE.PROJECTS_LIST.UNTITLED' | translate) }}</span>
            <p class="date-text-wrapper">
              {{ 'COMMON.ADDED' | translate }} {{ project.created | date:dateFormat }}
              •
              {{ 'COMMON.UPDATED' | translate }} {{ project.updated | date:dateFormat }}
              •
              {{ project.collaborators.length }} {{ 'PROJECT_MODULE.COLLABORATORS' | translate }}
            </p>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="pagination-wrapper">
        <app-pagination
          [configValue]="paginationConfig"
          (configChange)="configChange($event)"
          [total]="total"
          [propertyName]="'client-projects'">
        </app-pagination>
      </div>

    </div>

  </div>
</section>

