<section class="section-container" id="projects-list-component">
  <div class="column col-xs-12 col-11 col-mx-auto">


    <!-- Section add button -->
    <div class="text-right">
      <button routerLink="new" (click)="$event.preventDefault()" class="btn btn-primary">
        {{ 'PROJECT_MODULE.PROJECTS_LIST.ADD_PROJECT' | translate }}
      </button>
    </div>


    <!-- Section no project -->
    <div *ngIf="innovations.length === 0" class="section-no-project">
      <div class="bot-rect">
        {{ 'PROJECT_MODULE.PROJECTS_LIST.NO_PROJECT.TITLE' | translate }}
        <br>
        {{ 'PROJECT_MODULE.PROJECTS_LIST.NO_PROJECT.CONTENT' | translate }}
      </div>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/v1542810952/app/default-images/bot/triangle.svg" class="bot-triangle">
      <div>
        <img src="https://res.cloudinary.com/umi/image/upload/v1542810328/app/default-images/bot/info.svg" class="bot-image">
      </div>
    </div>


    <!-- Section projects -->
    <div *ngIf="innovations.length > 0" class="section-projects-list">

      <!-- Projects -->
      <div class="project-wrapper" [@listAnimation]="innovations.length">
        <div *ngFor="let innovation of innovations" class="content-outer">
          <div class="content">
            <a [routerLink]="getRelevantLink(innovation)"><img [src]="getImage(innovation)"></a>
            <div class="project-description">
              <a [routerLink]="getRelevantLink(innovation)">
                <span >{{ innovation.name || ('PROJECT_MODULE.PROJECTS_LIST.UNTITLED' | translate) }}</span>
              </a>
              <p class="date-text">
                {{ 'COMMON.ADDED' | translate }} {{ innovation.created | date:dateFormat }}
                •
                {{ 'COMMON.UPDATED' | translate }} {{ innovation.updated | date:dateFormat }}
                •
                {{ innovation.collaborators.length }} {{ 'PROJECT_MODULE.COLLABORATORS' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div *ngIf="innovations.length > 10" class="pagination-wrapper">
        <app-pagination
          [configValue]="paginationConfig"
          (configChange)="configChange($event)"
          [total]="total"
          [propertyName]="'client-projects'">
        </app-pagination>
      </div>

    </div>


  </div>
</section>
