<div *ngIf="request" class="column col-sm-12 col-11 col-mx-auto p-top-30">

  <h1 class="title is-4 m-bottom-15">
    <ng-container *ngIf="request['pros']">{{ request['pros'] }}</ng-container>
    <ng-container *ngIf="request['cost'] && request['cost']['totalCost']">
      ({{ request['cost']['totalCost'] }}€)
    </ng-container>
  </h1>

  <h6 class="text-normal">
    Launched by:
    <ng-container *ngIf="request.metadata && request.metadata.user && request.metadata.user.name">
      {{ request.metadata.user.name }}
    </ng-container>
    <ng-container *ngIf="request['created']">
      on {{ request['created'] | date:'d/MM/yy'}} at {{ request['created'] | date:'hh:mm:ss'}}
    </ng-container>
  </h6>

  <h6>
    Last time used: {{lastTimeUsed}}
  </h6>

  <h6 *ngIf="request.elapsedTime" class="text-normal">Time: {{ request.elapsedTime  | date:'mm:ss' }}</h6>

  <!-- Geographical targeting -->
  <h6 class="p-top-4">Geographical targeting:</h6>

  <div class="text-sm text-normal">
    {{request.targetting}}
  </div>
  <!-- /Geographical targeting -->


  <!-- Professional targeting -->
  <h6 class="p-top-4">Professional targeting:</h6>

  <div class="text-sm text-normal">
    <div>
      Seniority levels:
      <span class="text-success" *ngIf="seniorityLevels.included">{{seniorityLevels.included}}</span>
      <span *ngIf="seniorityLevels.included && seniorityLevels.excluded">/</span>
      <span class="text-alert" *ngIf="seniorityLevels.excluded">{{seniorityLevels.excluded}}</span>
    </div>

    <div class="m-top-2">
      Job typologies:
      <span class="text-success" *ngIf="includedJobCate.length">
        <ng-container *ngFor="let includedJob of includedJobCate; index as i">
          {{includedJob.jobName}}({{includedJob.included}})
          <ng-container *ngIf="i !== includedJobCate.length - 1">,</ng-container>
        </ng-container>
      </span>

      <span *ngIf="mixedJobCate.length && includedJobCate.length">/</span>

      <span class="text-normal" *ngIf="mixedJobCate.length">
        <ng-container *ngFor="let mixedJob of mixedJobCate; index as i">
          {{mixedJob.jobName}}(<span class="text-success">{{mixedJob.included}}</span>/<span
          class="text-alert">{{mixedJob.excluded}}</span>)
          <ng-container *ngIf="i !== mixedJobCate.length - 1">,</ng-container>
        </ng-container>
      </span>

      <span *ngIf="excludedJobCate.length && mixedJobCate.length">/</span>

      <span class="text-alert" *ngIf="excludedJobCate.length">
        <ng-container *ngFor="let excludedJob of excludedJobCate; index as i">
          {{excludedJob.jobName}}({{excludedJob.excluded}})
          <ng-container *ngIf="i !== excludedJobCate.length - 1">,</ng-container>
        </ng-container>
      </span>
    </div>

    <div class="m-top-2">
      Logical operator:
      <span *ngIf="request.targetPros">{{request.targetPros.searchOperator | uppercase}}</span>
    </div>
  </div>

  <!-- /Professional targeting -->

  <div
    *ngIf="canAccess(['view', 'results']) || canAccess(['view', 'campaign'])
    || canAccess(['view', 'project'])"
    class="text-md p-top-20">
    <h2 class="title is-5 m-no-bottom">Links:</h2>
    <ul>
      <li *ngIf="canAccess(['view', 'results'])" class="text-link text-primary-dark text-sm text-normal">
        <a
          [href]="'/user/admin/search/results/' + request['_id']"
          target="_blank">
          Requests
        </a>
      </li>
      <li
        *ngIf="request['campaign'] && request['innovation'] && canAccess(['view', 'campaign'])"
        class="text-link text-primary-dark text-sm text-normal m-top-1">
        <a
          [href]="campaignLink"
          target="_blank">
          Campaign
        </a>
      </li>
      <li
        *ngIf="request['innovation'] && canAccess(['view', 'project'])"
        class="text-link text-primary-dark text-sm text-normal m-top-1">
        <a
          [href]="'/user/admin/projects/project/' + request['innovation']"
          target="_blank">
          Market Test
        </a>
      </li>
    </ul>
  </div>

  <div class="p-top-25 text-center">
    <button
      (click)="getChildren()"
      *ngIf="request['entity'] === 'PERSON_BY_COUNTRIES' && canAccess(['view', 'requests'])"
      class="button is-outlined is-sm is-info"
      type="button">
      <ng-container *ngIf="showChildren">Hide the requests</ng-container>
      <ng-container *ngIf="!showChildren">Show the requests</ng-container>
    </button>
  </div>

  <!-- table -->
  <div *ngIf="showChildren" class="p-top-30">
    <app-shared-table
      [(config)]="config"
      [data]="tableInfos"
      (editRow)="goToRequest($event)"
      (performAction)="onClickActions($event)">
    </app-shared-table>
  </div>
  <!-- /table -->

</div>

