
:is(i,.icon-container, .icon, .icon-more-horiz) ::before {
  color: #4F5D6B;
  height:5px;
  width:5px;
  transform: rotate(90deg);
}

.button.is-link{
  font-size:12px;
  color: #4F5D6B;
  font-weight: bold;
 }

.fa-plus-circle, {
  color: #FFB300;
}
