@import "~@umius/umi-style-framework/scss/variables";

.carousel-wrapper {
  //overflow: hidden;
  margin-top: -6px;

  //buttons controls
  :is(#btn-kebab, .icon-more-horiz) ::before {
    color: #4F5D6B;
    height:5px;
    width:5px;
    transform: rotate(90deg);
    margin-bottom: 2px;
  }

  :is(i, .icon-container, .icon-arrow-right, .icon-arrow-left) ::before {
    color: #4F5D6B;
    border: 3px solid #4F5D6B;
    border-bottom: 0;
    border-right: 0;
  }

  #btn-kebab, .btn__view {
    align-items: center;
    justify-content: center;
    margin-top: -12px;
    width: 150px;
    color: #4F5D6B;
  }

  .btn__view{
    color: #4F5D6B;
    width: fit-content;
    margin-top: 12px;
  }

  .btn__next {
    margin-top: -8px;
  }

  .btn__prev {
    margin-top: -11px;
  }

  //buttons items
  .carousel__container__button{
    margin-top: 6px;
    div{
      width: fit-content;
    }

    &:hover {
      cursor: pointer;
    }

    &.button.is-link{
      font-size:12px;
      color: #4F5D6B;
      font-weight: bold;
    }

    .primary-color{
      color: $primary-color;
      font-size: 14px;
      text-decoration: underline solid 2.5px;
      text-underline-offset: 0.7rem;
    }

    &.text__button {
      font-weight: 400;
      font-size:12px;
    }

  }

}
