<div class="container">
  <div class="columns">
    <div class="column col-10 col-mx-auto">

      <h1>{{ 'COMMON.MY_USERS' | translate }}</h1>

      <button class="btn btn-lg btn-primary">{{ 'MY_USERS.INVITE_USER' | translate }} <i class="icon icon-arrow-right"></i></button>

      <div class="invitation-pending">
        <h3>{{ 'MY_USERS.WAITING_INVITATIONS' | translate }}</h3>
        <p>kcaulfield@umi.us, kcaulfield@unitedmotionideas.com, hello@umi.us</p>
      </div>

      <table class="table users">
        <thead>
        <tr>
          <th width="80"></th>
          <th>Nom <i class="icon icon-arrow-down"></i></th>
          <th width="120" class="text-center">Entreprise</th>
          <th width="120" class="text-center">Date d'ajout</th>
          <th width="90" class="text-center">Projet</th>
          <th width="120" class="text-center">Etude payée</th>
          <th width="100" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="user-image">
            <img [src]="'https://res.cloudinary.com/umi/image/upload/app/woman.png'" width="80" height="80">
          </td>
          <td class="user-description">
            <span class="title">Karine Caulfield</span>
            <span class="metas"><a href="#" title="">kcaulfield@umi.us</a></span>
          </td>
          <td class="user-company">UMI</td>
          <td class="user-added">15/11/2017</td>
          <td class="user-project"><a href="#" title="">5</a></td>
          <td class="user-launched-study"><a href="#" title="">2</a></td>
          <td class="user-revoke"><a href="#" title="">Révoquer</a></td>
        </tr>

        <!-- A afficher au clic et si l'utilisateur a des projets-->
        <tr>
          <td colspan="7">
            <table class="table user-projects">
              <tr>
                <td width="80" class="user-projects-image">
                  <img [src]="'https://res.cloudinary.com/umi/image/upload/app/woman.png'" width="80" height="80">
                </td>
                <td class="user-projects-description">
                  <span class="title"><a href="#" title="">Automated hand disinfection solution using an organic disinfectant</a> <i class="icon icon-arrow-right"></i></span>
                  <span class="metas">Ajouté le 21/04/17 • Modifié le 28/07/17</span> • <span class="label">Collaborator</span>
                </td>
                <td width="110" class="user-projects-status">
                  <span class="project-status-description"><img [src]="'https://res.cloudinary.com/umi/image/upload/app/picto-description.svg'" width="" height=""> Description</span>
                  <!--
                  Autres status de projet
                  <span class="project-status-submitted"><img src="images/picto-submitted.svg" width="" height=""> Soumis</span>
                  <span class="project-status-reviewed"><img src="images/picto-reviewed.svg" width="" height=""> Révision</span>
                  <span class="project-status-launched"><img src="images/picto-launched.svg" width="" height=""> Lancé</span>
                  <span class="project-status-done"><img src="images/picto-done.svg" width="" height=""> Terminé</span>
                  -->
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="user-image">
            <img [src]="'https://res.cloudinary.com/umi/image/upload/app/woman.png'" width="80" height="80">
          </td>
          <td class="user-description">
            <span class="title">Karine Caulfield</span>
            <span class="metas"><a href="#" title="">kcaulfield@umi.us</a></span>
          </td>
          <td class="user-company">UMI</td>
          <td class="user-added">15/11/2017</td>
          <td class="user-project">0</td>
          <td class="user-launched-study">0</td>
          <td class="user-revoke"><a href="#" title="">Révoquer</a></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
