<div>
  <h2>
    {{total}} {{ 'SEARCH.HISTORY.SEARCHES' | translate }}
    <span *ngIf="status==='PROCESSING'"> en cours</span>
    <span *ngIf="status==='QUEUED'"> en attente</span>
  </h2>
  <h4 *ngIf="paused" class="text-error">Module en pause</h4>
  <h4 *ngIf="!paused" class="text-success">Module en fonctionnement</h4>
  <table class="table">
    <thead>
    <tr>
      <th width="80">{{ 'SEARCH.HISTORY.TYPE' | translate }}</th>
      <th>{{ 'SEARCH.HISTORY.REQUEST' | translate }}</th>
      <th width="80" *ngIf="!mails">{{ 'SEARCH.COUNTRY' | translate }}</th>
      <th width="60">{{ 'SEARCH.HISTORY.TIME' | translate }}</th>
      <th width="100">{{ 'SEARCH.HISTORY.DATE' | translate }}</th>
      <th width="110">{{ 'SEARCH.HISTORY.STATUS' | translate }}</th>
      <th width="80">{{ 'SEARCH.HISTORY.COST' | translate }}</th>
      <th width="20">{{ 'SEARCH.HISTORY.FLAG' | translate }}</th>
      <th width="80" *ngIf="!mails">Campagne</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-request [ngForOf]="requests">
      <tr>
        <td>
          <div [ngClass]="request.entity" *ngIf="request.entity==='PERSON' || request.entity==='PERSON_BY_REGIONS'"><i class="fa fa-users"></i></div>
          <div [ngClass]="request.entity" *ngIf="request.entity==='PERSON_BY_COUNTRIES'" (click)="getChildren(request)"><i class="fa fa-globe"></i></div>
          <div [ngClass]="request.entity" *ngIf="request.entity==='MAIL' || request.entity==='MAIL_ADDRESS'"><i class="fa fa-envelope"></i></div>
        </td>

        <td>
          <a *ngIf="(request.entity==='PERSON' || request.entity==='PERSON_BY_COUNTRIES' || request.entity==='PERSON_BY_REGIONS') && !campaignId"
            [routerLink]="'/admin/search/results/' + request._id">{{request.keywords[0].original}}</a>
          <a *ngIf="(request.entity==='PERSON' || request.entity==='PERSON_BY_COUNTRIES' || request.entity==='PERSON_BY_REGIONS') && campaignId"
             [routerLink]="'/admin/campaigns/campaign/' + campaignId + '/results/' + request._id">{{request.keywords[0].original}}</a>
          <a *ngIf="mails" href="">{{request.keywords[0].original}}</a>
          <a *ngIf="request.entity==='MAIL'" href="">{{request.keywords[0].original}}</a>
          <br/>
          <small *ngIf="request.entity==='PERSON'">{{request.results ? request.results.person.length : 0}} résultats | {{request.metadata.user.name}}</small>
          <small *ngIf="request.entity==='PERSON_BY_COUNTRIES'">{{request.totalResults}} résultats | {{request.metadata.user.name}}</small>
          <small *ngIf="request.entity==='PERSON_BY_REGIONS'">{{request.totalResults}} résultats | {{request.metadata.user.name}}</small>
        </td>

        <td class="text-center" *ngIf="!mails">
          <country-flag *ngIf="request.country" [country]="request.country" [width]="30" [height]="20"></country-flag>
        </td>

        <td>
          <small>{{ request.elapsedTime | date:'m:ss' }}</small>
        </td>

        <td>
          <small>{{request.created | date:'d/MM/yy à hh:mm:ss'}}</small>
        </td>

        <td class="stats">
          <div class="text-success" *ngIf="request.status === 'DONE'">
            {{ 'SEARCH.HISTORY.DONE' | translate }}
          </div>
          <div class="text-warning" *ngIf="request.status === 'PROCESSING'" class="tooltip c-hand" data-tooltip="Arrêter">
            <i class="fa fa-times" (click)="stopRequest(request._id)">
              &nbsp; {{ 'SEARCH.HISTORY.PROCESSING' | translate }}
            </i>
          </div>
          <div class="text-error" *ngIf="request.status === 'QUEUED'">
            <span (click)="cancelRequest(request._id, true)" class="tooltip c-hand" data-tooltip="Annuler">
              {{ 'SEARCH.HISTORY.QUEUED' | translate }}
            </span>
          </div>
          <div class="text-error" *ngIf="request.status === 'CANCELED'">
            <span (click)="cancelRequest(request._id, false)" class="tooltip c-hand" data-tooltip="Mettre en attente">
              {{ 'SEARCH.HISTORY.CANCELED' | translate }}
            </span>
          </div>
        </td>

        <td class="text-center">
          {{request.cost.totalCost}} €
        </td>

        <td class="text-center stats">
          <i class="fa fa-envelope text-error" *ngIf="request.flag==='EMAILS_QUEUED'"></i>
          <i class="fa fa-envelope text-success" *ngIf="request.flag==='EMAILS_FOUND'"></i>
          <i class="fa fa-envelope text-warning" *ngIf="request.flag==='EMAILS_SEARCHING'"></i>
          <i class="fa fa-check-square-o text-success" *ngIf="request.flag==='PROS_ADDED'"></i>
        </td>

        <td class="text-center" *ngIf="!mails">
          <button class="btn btn-default btn-sm" *ngIf="!campaign && request.campaign">
            <a [routerLink]="'/admin/campaigns/campaign/' + request.campaign">
              <i class="fa fa-eye"></i> Campagne
            </a>
          </button>
        </td>
      </tr>
      <tr [hidden]="!request.show || request.entity != 'PERSON_BY_COUNTRIES'"
          *ngFor="let childRequest of request.request">
        <td>
          <div class="PERSONSMALL"><i class="fa fa-user"></i></div>
        </td>
        <td>
          <a *ngIf="(childRequest.entity==='PERSON' || childRequest.entity==='PERSON_BY_COUNTRIES' || childRequest.entity==='PERSON_BY_REGIONS') && !campaignId"
             [routerLink]="'/admin/search/results/' + childRequest._id">{{childRequest.keywords[0].original}}</a>
          <a *ngIf="(childRequest.entity==='PERSON' || childRequest.entity==='PERSON_BY_COUNTRIES' || childRequest.entity==='PERSON_BY_REGIONS') && campaignId"
             [routerLink]="'/admin/campaigns/campaign/' + campaignId + '/results/' + childRequest._id">{{childRequest.keywords[0].original}}</a>
          <a *ngIf="mails" href="">{{childRequest.keywords[0].original}}</a>
          <a *ngIf="childRequest.entity==='MAIL'" href="">{{childRequest.keywords[0].original}}</a>
          <br/>
          <small *ngIf="childRequest.entity==='PERSON'">{{childRequest.results ? childRequest.results.person.length : 0}} résultats | {{childRequest.metadata.user.name}}</small>
          <small *ngIf="childRequest.entity==='PERSON_BY_COUNTRIES'">{{childRequest.totalResults}} résultats | {{childRequest.metadata.user.name}}</small>
          <small *ngIf="childRequest.entity==='PERSON_BY_REGIONS'">{{childRequest.totalResults}} résultats | {{childRequest.metadata.user.name}}</small>
        </td>

        <td class="text-center" *ngIf="!mails">
          <country-flag *ngIf="childRequest.country" [country]="childRequest.country" [width]="30" [height]="20"></country-flag>
        </td>

        <td>
          <small>{{ childRequest.elapsedTime | date:'m:ss' }}</small>
        </td>

        <td>
          <small>{{childRequest.created | date:'d/MM/yy à hh:mm:ss'}}</small>
        </td>

        <td class="stats">
          <div class="text-success" *ngIf="childRequest.status === 'DONE'">
            {{ 'SEARCH.HISTORY.DONE' | translate }}
          </div>
          <div class="text-warning" *ngIf="childRequest.status === 'PROCESSING'" class="tooltip c-hand" data-tooltip="Arrêter">
            <i class="fa fa-times" (click)="stopChildRequest(childRequest._id)">
              &nbsp; {{ 'SEARCH.HISTORY.PROCESSING' | translate }}
            </i>
          </div>
          <div class="text-error" *ngIf="childRequest.status === 'QUEUED'">
            <span (click)="cancelChildRequest(childRequest._id, true)" class="tooltip c-hand" data-tooltip="Annuler">
              {{ 'SEARCH.HISTORY.QUEUED' | translate }}
            </span>
          </div>
          <div class="text-error" *ngIf="childRequest.status === 'CANCELED'">
            <span (click)="cancelChildRequest(childRequest._id, false)" class="tooltip c-hand" data-tooltip="Mettre en attente">
              {{ 'SEARCH.HISTORY.CANCELED' | translate }}
            </span>
          </div>
        </td>

        <td class="text-center">
          {{childRequest.cost.totalCost}} €
        </td>

        <td class="text-center stats">
          <i class="fa fa-envelope text-error" *ngIf="childRequest.flag==='EMAILS_QUEUED'"></i>
          <i class="fa fa-envelope text-success" *ngIf="childRequest.flag==='EMAILS_FOUND'"></i>
          <i class="fa fa-envelope text-warning" *ngIf="childRequest.flag==='EMAILS_SEARCHING'"></i>
          <i class="fa fa-check-square-o text-success" *ngIf="childRequest.flag==='PROS_ADDED'"></i>
        </td>

        <td class="text-center" *ngIf="!mails">
          <button class="btn btn-default btn-sm" *ngIf="!campaign && childRequest.campaign">
            <a [routerLink]="'/admin/campaigns/campaign/' + childRequest.campaign">
              <i class="fa fa-eye"></i> Campagne
            </a>
          </button>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>
  <tfoot>
  <tr>
    <td colspan="12">
      <sqPagination [config]="config" (configChange)="loadHistory()" [total]="total"></sqPagination>
    </td>
  </tr>
  </tfoot>
</div>
