<div id="shared-search-history">

  <!-- google request -->
  <section class="text-md text-medium p-bottom-30">
    <div *ngIf="canAccess(['launch', 'googleRequests'])" class="icon-container m-right-1 is-overlay is-sm">
      <span [attr.data-tooltip]="'Relaunch google request'" class="tooltip">
        <i (click)="relaunchRequests()" class="c-hand fa fa-bolt text-primary-dark"></i>
      </span>
    </div>
    <span *ngIf="paused" class="text-error">Module is paused.</span>
    <span *ngIf="!paused" class="text-success">Module is functioning.</span>
    <span [ngClass]="{ 'text-success': googleQuota > 10000, 'text-warning': googleQuota < 10000 && googleQuota > 5000,
    'text-error': googleQuota < 5000}">
    {{ googleQuota }} remaining google requests. {{ waitingTime }} minutes of waiting time.</span>
  </section>
  <!-- /google request -->

  <!-- search by innovation -->
  <section *ngIf="canAccess(['searchBy', 'innovation'])" class="mxw-700 m-left-auto m-right-auto p-bottom-30">
    <app-utility-auto-complete-input
      (update)="updateInnovation($event)"
      [config]="{placeholder: 'Search an innovation here...', type: 'innovation'}">
    </app-utility-auto-complete-input>
  </section>
  <!-- /search by innovation -->

  <!-- robot suggested -->
  <section *ngIf="suggestions.length" class="p-bottom-30">
    <h5>Robot suggested searches</h5>
    <ul class="d-flex flex-wrap">
      <li *ngFor="let suggestion of suggestions" class="text-sm m-right-20">{{ suggestion }}</li>
    </ul>
  </section>
  <!-- /robot suggested -->

  <!-- table -->
  <section>
    <app-shared-table
      (editRow)="openSidebar($event)"
      (performAction)="onClickActions($event)"
      [(config)]="config"
      [data]="tableInfos"
    ></app-shared-table>
  </section>
  <!-- /table -->

</div>


<!-- sidebar to request details -->
<app-sidebar *ngIf="canAccess(['view'])" [(template)]="sidebarValue">
  <app-sidebar-search-history
    [accessPath]="accessPath"
    [request]="selectedRequest">
  </app-sidebar-search-history>
</app-sidebar>
<!-- /sidebar to advanced search -->

<div class="m-right-1 p-bottom-30 float-right">
    <i class="fas fa-question-circle" title="Pro identification: The module is identifying pros thanks to google scraping
Email reconstruction: The module is testing email pattern to (in)validate them"></i>
</div>

<!-- MODAL : Ajout de pros à une campagne -->
<app-utility-modal
  *ngIf="canAccess(['add', 'toCampaign'])"
  [(showModal)]="addToCampaignModal"
  [title]="'Add to a campaign'">

  <section class="modal-body">

    <div class="m-bottom-25">
      <label class="form-switch" for="launchNewRequests">
        <input
          type="checkbox"
          name="role"
          id="launchNewRequests"
          [checked]="launchNewRequests"
          (change)="launchNewRequests = !launchNewRequests">
        <i class="form-icon"></i>Launch new queries to complete targeting
      </label>
      <p class="text-error" *ngIf="launchNewRequests">
        <span *ngIf="geography && geography.include && geography.include.length">
          The requests will be launched in {{ geography.include.length }} countries in the new campaign.
        </span>
        Check the request on google to be sure not to find too many professionals
      </p>
    </div>

    <p class="form-label">{{ totalPros }} Professional(s) selected</p>

    <div [ngStyle]="{'min-height': chosenCampaign && chosenCampaign._id ? 'auto': '300px'}">
      <app-utility-auto-complete-input
        (update)="updateCampaign($event)"
        [onlyOne]="true"
        [config]="{placeholder: 'Search a campaign here...', initialData: chosenCampaign, type: 'campaign'}">
      </app-utility-auto-complete-input>
    </div>

    <div *ngIf="chosenCampaign && chosenCampaign._id" class="p-top-25">
      <app-shared-targeting-world
        [(geography)]="geography"
        [isEditable]="true">
      </app-shared-targeting-world>
    </div>

  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel">Cancel</button>
    <button
      (click)="addToCampaign(chosenCampaign, true)"
      [disabled]="!chosenCampaign"
      class="button is-primary">
      Add and see the campaign
    </button>
    <button
      (click)="addToCampaign(chosenCampaign)"
      [disabled]="!chosenCampaign"
      class="button is-primary">
      Confirm
    </button>
  </footer>

</app-utility-modal>
