<div class="column col-6 col-mx-auto p-20">
  <app-autocomplete-input
    (update)="updateInno($event)"
    [config]="{placeholder: 'Innovation', type: 'innovation'}">
  </app-autocomplete-input>
</div>

<app-shared-table
  [(config)]="config"
  [data]="tableInfos"
  (editRow)="openSidebar($event)"
  (performAction)="onClickActions($event)"
></app-shared-table>


<!-- sidebar to request details -->
<app-sidebar [(template)]="sidebarValue">
  <app-sidebar-search-history
    [request]="selectedRequest">
  </app-sidebar-search-history>
</app-sidebar>
<!-- /sidebar to advanced search -->
