/*h1 {
  margin-top: 50px;
}*/
$primary-color: #3498DB;
$body-font-color-darker: #333333;

.tab-item > label:hover {
  cursor: pointer;
}

.tab-content {
  display: none;
}

.tab-locator:nth-of-type(1):checked ~ .tab-block > .tab-item:nth-of-type(1) > label > a,
.tab-locator:nth-of-type(2):checked ~ .tab-block > .tab-item:nth-of-type(2) > label > a,
.tab-locator:nth-of-type(3):checked ~ .tab-block > .tab-item:nth-of-type(3) > label > a,
.tab-locator:nth-of-type(4):checked ~ .tab-block > .tab-item:nth-of-type(4) > label > a {
  border-bottom-color: $primary-color;
  color: $primary-color;
}

.tab-locator:nth-of-type(1):checked ~ .tabs > .tab-content:nth-of-type(1),
.tab-locator:nth-of-type(2):checked ~ .tabs > .tab-content:nth-of-type(2),
.tab-locator:nth-of-type(3):checked ~ .tabs > .tab-content:nth-of-type(3),
.tab-locator:nth-of-type(4):checked ~ .tabs > .tab-content:nth-of-type(4){
  display:block;
}

.project {
  display: flex;
  border: 1px solid #D3D3D3;
  margin-top: 65px;

  .description {
    padding: 35px 70px;
    width: 100%;
  }

  .title a {
    color: $body-font-color-darker;
    font-size: 1.2rem;
  }

  .title a:hover {
    text-decoration: none;
    color: $primary-color;
  }

  .metas {
    font-size: 0.7rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .step .step-item a {
    font-size: 0.8rem;
  }
}

