<div class="column col-sm-12 col-11 col-mx-auto p-top-30 p-bottom-20 text-sm" id="sidebar-user-answer">

  <!-- labels Status | Mail type -->
  <div *ngIf="adminMode && (!editMode || mailType)" class="m-bottom-10">
    <div
      [ngClass]="{ 'is-danger': userAnswer.status === 'REJECTED' || userAnswer.status === 'REJECTED_GMAIL' ||
      userAnswer.status === 'REJECTED_UMIBOT', 'is-info': userAnswer.status === 'DRAFT',
      'is-progress': userAnswer.status === 'SUBMITTED', 'is-success': userAnswer.status === 'VALIDATED'
      || userAnswer.status === 'VALIDATED_NO_MAIL' || userAnswer.status === 'VALIDATED_UMIBOT' }"
      class="label m-right-15">
      {{ 'SIDEBAR_USER_ANSWER.STATUS.' + userAnswer.status | translate }}
    </div>
    <div *ngIf="mailType" class="label is-info">{{ mailType }}</div>
  </div>
  <!-- /labels Status | Mail type -->

  <!-- blacklisted company -->
  <div
    *ngIf="adminMode && userAnswer.localStatus !== 'draft' && userAnswer.blacklistedCompany"
    class="text-alert m-bottom-10">
    <i class="fas fa-exclamation-triangle m-right-10"></i>
    <span class="text-medium">This answer may come from a blacklisted company!</span>
  </div>
  <!-- /blacklisted company -->

  <!-- buttons -->
  <div *ngIf="adminMode" class="flex-between flex-wrap m-bottom-30">

    <!-- reassign answer | edit answer -->
    <div *ngIf="userAnswer.localStatus !== 'draft'" class="d-flex align-center">
      <label *ngIf="!assignNewPro" class="form-switch m-right-20 p-no-bottom" for="sidebar-user-answer-editMode">
        <input
          (change)="OnChangeEdit($event)"
          [checked]="editMode"
          [disabled]="isSaving"
          id="sidebar-user-answer-editMode"
          type="checkbox">
        <i class="form-icon"></i> Edit answer
      </label>
      <label *ngIf="!editMode" class="form-switch p-no-bottom m-right-20" for="sidebar-user-answer-reassign">
        <input
          (change)="onChangeAssign($event)"
          [checked]="assignNewPro"
          [disabled]="isReassigning"
          id="sidebar-user-answer-reassign"
          type="checkbox">
        <i class="form-icon"></i> Reassign answer
      </label>
    </div>
    <!-- /reassign answer | edit answer -->

    <!-- reassign the answer to new pro -->
    <div *ngIf="userAnswer.localStatus !== 'draft' && assignNewPro && !editMode">
      <button
        class="button  is-sm"
        (click)="onReassignAnswer($event)"
        [disabled]="!newPro.firstName || !newPro.lastName || !newPro.email || isReassigning"
        id="btn-confirm-assign"
        type="button">
        <ng-container *ngIf="!isReassigning; else assignText">Confirm</ng-container>
        <ng-template #assignText>reassigning the answer...</ng-template>
      </button>
    </div>
    <!-- /reassign the answer to new pro -->

    <!-- import -->
    <div *ngIf="userAnswer.localStatus === 'draft'">
      <button
        (click)="onImportAnswer($event)"
        [disabled]="isImporting"
        class="button is-sm is-outlined  m-right-20"
        id="btn-import-answer"
        type="button">
        <ng-container *ngIf="!isImporting; else importText">Import</ng-container>
        <ng-template #importText>importing the answer...</ng-template>
      </button>
    </div>
    <!-- /import -->

    <!-- save -->
    <button
      (click)="onSaveAnswer($event)"
      *ngIf="!assignNewPro"
      [disabled]="isSaving || !toBeSaved"
      class="button is-sm "
      id="btn-save"
      type="button">
      <ng-container *ngIf="!isSaving; else saveText">Save</ng-container>
      <ng-template #saveText>saving the answer...</ng-template>
    </button>
    <!-- /save -->

  </div>
  <!-- /buttons -->

  <!-- when reassign the answer to new pro -->
  <div *ngIf="adminMode && assignNewPro && !editMode">
    <app-reassign-answer (proToAssign)="onProToAssign($event)"></app-reassign-answer>
  </div>
  <!-- /when reassign the answer to new pro -->

  <!-- user details not assignPro -->
  <div *ngIf="!assignNewPro">

    <!-- name | flag | rating | language -->
    <div class="d-flex align-center flex-wrap">

      <!-- name -->
      <h1 class="title is-4 m-right-25 m-bottom-20">

        <ng-container *ngIf="professionalName; else profDef">
          {{ professionalName | FormatText:true }}
        </ng-container>
        <ng-template #profDef>{{ 'MARKET_REPORT.ANONYMOUS' | translate }}</ng-template>

        <sup *ngIf="professional.language && !editMode" class="p-left-1 text-meta">
          {{ userAnswer.professional.language }}
        </sup>

      </h1>
      <!-- /name -->

      <!-- language -->
      <div *ngIf="editMode" class="m-right-25 m-bottom-20">
        <span
          (click)="onClickLanguage('fr')"
          [ngClass]="professional.language === 'fr' ? 'text-primary' : 'text-dark'"
          class="text-link p-right-10 text-normal tooltip"
          data-tooltip="Set pro lang French">
          fr
        </span>
        <span
          (click)="onClickLanguage('en')"
          [ngClass]="professional.language === 'en' ? 'text-primary' : 'text-dark'"
          class="text-link text-normal tooltip"
          data-tooltip="Set pro lang English">
          en
        </span>
      </div>
      <!-- /language -->

      <!-- rating -->
      <div *ngIf="editMode" class="m-right-25 m-bottom-20">
        <app-rating-item
          (ratingChange)="updateProfileQuality($event)"
          [editMode]="adminMode"
          [prop]="'profile'"
          [rating]="userAnswer.profileQuality">
        </app-rating-item>
      </div>
      <!-- /rating -->

      <!-- country -->
      <div class="d-flex align-center m-bottom-20">
        <umius-country-flag
          [country]="userAnswer.country"
          [width]="50"
          [height]="35">
        </umius-country-flag>
        <div
          (click)="onClickEdit('COUNTRY')"
          *ngIf="editMode"
          class="tooltip m-top-20 m-left-10" data-tooltip="Edit country">
          <i class="fas fa-pencil-alt text-primary"></i>
        </div>
      </div>
      <!-- /country -->

    </div>
    <!-- /name | flag | rating | language -->

    <!-- country edit -->
    <div *ngIf="editCountry" class="m-bottom-30 form-group mxw-500">
      <label class="form-label">Country</label>
      <app-utility-auto-complete-input
        (update)="updateCountry($event)"
        [isSmall]="true"
        [config]="{ placeholder: 'Enter the country', type: 'countries' }"
        [onlyOne]="true">
      </app-utility-auto-complete-input>
    </div>
    <!-- /country edit -->

    <!-- Show warnings when the targeting is off-->
    <div [hidden]="!adminMode">
      <div *ngIf="!editCountry" class="m-bottom-30 form-group mxw-500">
        <div *ngFor="let warning of answerWarnings" class="answer-warnings">
          <span>{{'SIDEBAR_USER_ANSWER.' + warning.message | translate }} <i class="fas fa-exclamation-triangle"></i></span>
        </div>
      </div>
    </div>
    <!-- /Show warnings when the targeting is off-->

    <!-- linkedin -->
    <div *ngIf="adminMode && professional.profileUrl" class="m-bottom-10">
      <i class="fab text-secondary fa-linkedin-in m-right-10"></i>
      <a [href]="professional.profileUrl" target="_blank" class="text-link">
        {{ professional.profileUrl }}
      </a>
    </div>
    <!-- /linkedin -->

    <!-- job -->
    <div *ngIf="professional.jobTitle || userAnswer.job || editMode" class="m-bottom-10">
      <i class="fas fa-address-card text-meta m-right-10"></i>
      {{ userAnswer.job || professional.jobTitle |  FormatText:true }}
      <span
        (click)="onClickEdit('JOB')"
        *ngIf="editMode"
        class="tooltip" data-tooltip="Edit job">
        <i class="fas fa-pencil-alt text-primary"></i>
      </span>
    </div>
    <!-- /job -->

    <!-- edit job title -->
    <div *ngIf="editJob" class="form-group m-top-20 m-bottom-30">
      <label class="form-label" for="sidebar-user-answer-job">Job Title</label>
      <input
        (change)="enableSave()"
        [(ngModel)]="userAnswer.job"
        class="form-input is-sm is-shadowed"
        id="sidebar-user-answer-job"
        placeholder="Enter the job"
        type="text">
    </div>
    <!-- /edit job title -->

    <!-- company -->
    <div *ngIf="(userAnswer.company && userAnswer.company.name) || professional.company || editMode"
         class="m-bottom-10">

      <i class="fas fa-building text-meta m-right-10"></i>

      <span [ngClass]="{'popover': excludedCompanies.length > 0, 'is-right': excludedCompanies.length > 0
      && companyLength <= 30}">
        {{ (userAnswer.company && userAnswer.company.name) || professional.companyOriginalName | FormatText:true }}
        <div *ngIf="excludedCompanies.length > 0" class="popover-container is-sm">
          <div
            style="overflow-y: auto; max-height: 300px"
            class="p-top-20 p-left-25 p-bottom-20 p-right-25">
            <h3 class="text-center text-sm">Companies blacklisted by the client</h3>
            <ul class="m-no">
              <li *ngFor="let company of excludedCompanies" class="m-top-h text-xs">
                {{ company.name }}
              </li>
            </ul>
          </div>
        </div>
      </span>

      <span
        (click)="onClickEdit('COMPANY')"
        *ngIf="editMode"
        class="tooltip" data-tooltip="Edit company">
        <i class="fas fa-pencil-alt text-primary"></i>
      </span>

    </div>
    <!-- /company -->

    <!-- edit company -->
    <div *ngIf="editCompany" class="form-group m-top-20 m-bottom-30 mxw-500">
      <label class="form-label" for="sidebar-user-answer-company">Company</label>
      <input
        (change)="enableSave()"
        [(ngModel)]="userAnswer.company.name"
        class="form-input is-sm is-shadowed"
        id="sidebar-user-answer-company"
        placeholder="Enter the company name"
        type="text">
    </div>
    <!-- /edit company -->

    <!-- email -->
    <div *ngIf="professional.email" class="m-bottom-10">
      <i class="fas fa-envelope text-meta m-right-10"></i>
      <a [href]="'mailto:'+professional.email" target="_blank" class="text-link">
        {{ professional.email }}
      </a>
    </div>
    <!-- /email -->

    <!-- second email -->
    <div *ngIf="adminMode" class="m-bottom-10">
      <i class="fas fa-envelope text-meta m-right-10"></i>
      <ng-container *ngIf="professional.secondEmail; else emailText">
        <a [href]="'mailto:'+professional.secondEmail" target="_blank" class="text-link">
          {{ professional.secondEmail }}
        </a>
      </ng-container>
      <ng-template #emailText>
        No second email
        <span
          (click)="onClickEdit('SECOND_EMAIL')"
          *ngIf="editMode"
          class="tooltip" data-tooltip="Edit second email">
          <i class="fas fa-pencil-alt text-primary"></i>
        </span>
      </ng-template>
    </div>
    <!-- /second email -->

    <!-- edit second email -->
    <div *ngIf="editSecondEmail" class="form-group m-top-20 m-bottom-30 mxw-500">
      <label class="form-label" for="sidebar-user-answer-email">Second Email</label>
      <input
        (change)="enableSave()"
        [(ngModel)]="newEmail"
        class="form-input is-sm is-shadowed"
        id="sidebar-user-answer-email"
        placeholder="Enter the second email"
        type="email">
    </div>
    <!-- /edit second email -->

  </div>
  <!-- /user details not assignPro -->

  <!-- received date and time, and time spent -->
  <div *ngIf="adminMode && (userAnswer.created || userAnswer.time_elapsed)" class="text-meta text-bold m-bottom-10">
    <ng-container *ngIf="userAnswer.created">
      {{ 'SIDEBAR_USER_ANSWER.RECEIVED.A' | translate }}
      {{ createdDate(userAnswer.created) }}
      {{ 'SIDEBAR_USER_ANSWER.RECEIVED.B' | translate }}
      {{ createdTime(userAnswer.created)  }}
    </ng-container>
    <ng-container *ngIf="adminMode && userAnswer.created && userAnswer.time_elapsed">&nbsp; • &nbsp;</ng-container>
    <ng-container *ngIf="adminMode && userAnswer.time_elapsed">
      {{ 'SIDEBAR_USER_ANSWER.RECEIVED.C' | translate }} {{ floor(userAnswer.time_elapsed / 60) }} min.
      {{ floor(userAnswer.time_elapsed % 60) }} sec.
    </ng-container>
  </div>
  <!-- /received date and time, and time spent -->

  <!-- ip -->
  <div *ngIf="userAnswer.ip && adminMode" class="text-meta text-bold m-bottom-10">
    IP: {{ userAnswer.ip }}
  </div>
  <!-- /ip -->

  <!-- auto tags -->
  <div *ngIf="autoTags.length > 0" class="d-none m-top-20">
    <label class="form-label p-bottom-10">Auto Tags</label>
    <div class="tags-wrapper">
      <div *ngFor="let tag of autoTags" class="label is-draft is-rounded">
        <i class="fas fa-tag icon-left"></i>
        {{ tag }}
      </div>
    </div>
  </div>
  <!-- /auto tags -->

  <!-- tags -->
  <div class="m-top-20">
    <label class="form-label p-bottom-10">Tags</label>
    <app-shared-tags
      (addTag)="addTag($event)"
      (createTag)="createTag($event)"
      (removeTag)="removeTag($event)"
      [editMode]="adminMode"
      [isSmall]="true"
      [projectId]="projectId"
      [tags]="userAnswer.tags && userAnswer.tags.length? userAnswer.tags:[]">
    </app-shared-tags>
  </div>
  <!-- /tags -->

  <!-- status -->
  <div
    *ngIf="adminMode && userAnswer.status !== 'REJECTED_GMAIL' && userAnswer.localStatus !== 'draft'"
    class="m-top-25 m-bottom-10 flex-wrap flex-between status-wrapper">
    <div *ngFor="let status of answerStatus" class="d-inline-flex flex-d-column align-center text-center m-top-10">
      <div [ngClass]="status.class" class="label m-bottom-10">
        {{ 'SIDEBAR_USER_ANSWER.STATUS.' + status.name | translate }}
      </div>
      <label [ngClass]="status.class" class="form-radio p-no-left p-right-15">
        <input
          (change)="updateStatus($event, status.name)"
          [checked]="status.name === userAnswer.status"
          [id]="status.name"
          name="sidebar-user-answer-status"
          type="radio">
        <i class="form-icon"></i>
      </label>
    </div>
  </div>
  <!-- /status -->

  <!-- rejected by gmail -->
  <div *ngIf="adminMode && userAnswer.status === 'REJECTED_GMAIL'" class="m-top-20">
    <div class="label is-danger">{{ 'SIDEBAR_USER_ANSWER.STATUS.REJECTED_GMAIL' | translate }}</div>
    <p *ngIf="meta && !editMode" [innerHTML]="meta" class="m-top-15"></p>
  </div>
  <!-- /rejected by gmail -->

  <!-- questions -->
  <div *ngFor="let question of questions">
    <app-answer-question
      (fullAnswerChange)="enableSave()"
      [adminMode]="adminMode"
      [editMode]="editMode"
      [fullAnswer]="userAnswer"
      [projectId]="projectId"
      [currentLang]="currentLang"
      [question]="question">
    </app-answer-question>
  </div>
  <!-- /questions -->

</div>

