@import "../../../../../style/framework/src/variables";

#sidebar-user-answer {

  .fas, .fab {
    width: 20px;
    text-align: left;
  }

  .fas.fa-pencil-alt {
    cursor: pointer;
    margin-left: $unit-2;
    width: unset;
  }

  .tags-wrapper {
    margin: -$unit-2;
  }

  .answer-warnings {
    color: $alert-color;
    font-style: oblique;
  }

  .status-wrapper {

    .form-radio {

      .form-icon {
        width: 20px;
        height: 20px;
      }

      &.is-danger input {

        &:checked + .form-icon {
          background: $bg-alert-color none;
          border-color: $border-alert-color;
        }

      }

      &.is-progress input {

        &:checked + .form-icon {
          background: $bg-progress-color none;
          border-color: $border-progress-color;
        }

      }

    }

  }

}
