@import "~@umius/umi-style-framework/scss/variables";

#sidebar-user-answer {

  .fas, .fab {
    width: 20px;
    text-align: left;
  }

  .fas.fa-pencil-alt {
    cursor: pointer;
    margin-left: $unit-2;
    width: unset;
  }

  .tags-wrapper {
    margin: -$unit-2;
  }

  .answer-warnings {
    color: $alert-color;
    font-style: oblique;
  }

  .status-wrapper {

    .form-radio {

      .form-icon {
        width: 20px;
        height: 20px;
      }

      &.is-danger input {

        &:checked + .form-icon {
          border: 2px solid $alert-color;
        }

        &:checked + .form-icon::before {
          background: $alert-color none;
        }

      }

      &.is-progress input {

        &:checked + .form-icon {
          border: 2px solid #F79323;
        }

        &:checked + .form-icon::before {
          background: #F79323 none;
        }
      }

    }

  }

}
