<section id="change-password">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <form novalidate autocomplete="off" [formGroup]="formData"  (ngSubmit)="onSubmit()">

      <!-- Old password -->
      <div class="form-group">
        <label class="form-label" for="oldPassword">{{ 'COMMON.OLD_PASSWORD' | translate }}</label>
        <input
          class="form-default"
          id="oldPassword"
          type="password"
          formControlName="oldPassword"
          [attr.placeholder]="'COMMON.OLD_PASSWORD_PLACEHOLDER' | translate">
        <div class="form-error" *ngIf="formData.get('oldPassword').touched && formData.get('oldPassword').invalid">
          <span *ngIf="formData.get('oldPassword').hasError('required')">{{ 'COMMON.REQUIRED.OLD_PASSWORD' | translate }}</span>
        </div>
      </div>

      <!-- New password -->
      <div class="form-group">
        <label class="form-label" for="newPassword">{{ 'COMMON.NEW_PASSWORD' | translate }}</label>
        <input
          class="form-default"
          id="newPassword"
          type="password"
          formControlName="newPassword"
          [attr.placeholder]="'COMMON.NEW_PASSWORD_PLACEHOLDER' | translate">
        <div class="form-error" *ngIf="formData.get('newPassword').touched && formData.get('newPassword').invalid">
          <span *ngIf="formData.get('newPassword').hasError('required')">{{ 'COMMON.REQUIRED.NEW_PASSWORD' | translate }}</span>
          <span *ngIf="formData.get('newPassword').hasError('minlength')">{{ 'COMMON.INVALID.PASSWORD_TOO_SHORT' | translate }}</span>
        </div>
      </div>

      <!-- Confirm password -->
      <div class="form-group">
        <label class="form-label" for="confirmPassword">{{ 'COMMON.CONFIRM_PASSWORD' | translate }}</label>
        <input
          class="form-default"
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          [attr.placeholder]="'COMMON.CONFIRM_PASSWORD_PLACEHOLDER' | translate">
        <div class="form-error" *ngIf="formData.get('confirmPassword').touched && formData.get('confirmPassword').invalid">
          <span *ngIf="formData.get('confirmPassword').hasError('required')">{{ 'COMMON.REQUIRED.CONFIRM_PASSWORD' | translate }}</span>
        </div>
      </div>

      <!-- Update button -->
      <div class="update-button text-center">
        <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">{{ 'COMMON.UPDATE' | translate }}</button>
      </div>

    </form>
  </div>
</section>
