<div class="section-container" id="admin-card">
  <div class="columns">
    <div class="column col-12 col-mx-auto">

      <div class="columns operator-comment">
        <div class="column col-8 centered">
          <h6>Commentaire pour le client :</h6>
          <text-zone
            [elementId]="'comments'"
            [readonly]="false"
            [data]="project?.comments"
            (onTextChange)="commentKeyupHandlerFunction($event)">
          </text-zone>
        </div>
      </div>

      <div class="button-sticky">
        <div class="column col-xs-12 col-11 col-mx-auto">
          <div class="func-button">

            <div>
              <div class="circle-check"><i class="fas fa-save"></i></div>
              <button
                class="btn ghost-primary"
                (click)="save($event)"
                [disabled]="!shouldSave">
                {{ 'PROJECT_MODULE.SETUP.SAVE_PROJECT' | translate }}
              </button>
              <p *ngIf="lastSavedDate" [ngStyle]="{ 'margin-left': '10px' , 'display': 'inline-flex' }">
                {{ 'COMMON.LAST_SAVED_AT' | translate }} {{ lastSavedDate | date:'HH:mm:ss' }}
              </p>
            </div>

            <div *ngIf="project.status !== 'EDITING' && project.status !== 'DONE'">
              <div *ngIf="project.status === 'SUBMITTED'" [ngStyle]="{ 'margin-right': '30px' , 'display': 'inline-flex' }">
                <button class="btn btn-primary" (click)="validateProject()">
                  Validation du projet
                </button>
              </div>
              <div [ngStyle]="{ 'display': 'inline-flex' }">
                <button class="btn btn-error centered" (click)="askRevision()">
                  Demander une révision
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <app-shared-project-edit-cards
        [project]="project"
        [canEdit]="true"
        (projectChange)="updateProject($event)">
      </app-shared-project-edit-cards>

    </div>
  </div>
</div>
