@import "../../../../../../../style/framework/src/variables";

#pro-tag {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: $font-size-sm;
  flex-direction: column;
  height: 100%;

  .tags-wrapper {
    margin: -$unit-1;
  }

}
