.pro-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.7rem;
  height: 100%;

  .user {
    display: inline-flex;
    flex-direction: column;

    .detail {

      .flag {
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
      }

    }

    .profile, .email {
      margin-bottom: 10px;

      a {
        color: #0B90C6;
      }

      a:hover {
        color: #0B90C6;
        text-decoration: underline;
      }

    }

    .job, .company {
      margin-bottom: 10px;

      i {
        font-size: 15px;
        margin: auto 8px auto 5px;
      }

    }

  }

  .answer {
    text-decoration: underline;
    cursor: pointer;
  }

}
