@import "../../../../../style/framework/src/variables";
@import "../../../../../style/framework/src/mixins";

#filter-multi {
  flex-wrap: wrap;

  .type-wrapper, .search-box-wrapper {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    margin-right: $unit-5;
    margin-bottom: $unit-5;

    .form-select {
      max-width: 150px;
    }

  }

  .text-label {
    margin-right: 0.5rem;
  }

  .search-box-wrapper {
    position: relative;

    .form-input {
      min-width: 350px;
      padding-left: 40px;
      padding-right: 40px;
    }

    .search-icon {
      position: absolute;
      left: 10px;
      cursor: pointer;

      img {
        width: 17px;
        height: 17px;
      }

    }

    .search-cross {
      @include control-transition();
      position: absolute;
      right: 10px;
      cursor: pointer;

      .fa-times {
        color: $meta-color;
        font-size: $font-icon-lg;
      }

    }

  }

  .form-input:not(:disabled):focus, .form-select:not(:disabled):focus {
    border-color: $border-color;
  }

  &.table-view {

    .form-select, .form-input {
      height: 40px;
      font-size: 0.65rem;
    }

  }

}

@media (max-width: $size-sm) {

  #filter-multi {

    .type-wrapper {

      .form-select {
        min-width: 100% !important;
      }

    }

    .search-box-wrapper {
      margin-right: 0 !important;
      order: 2;
      width: 100%;

      .form-input {
        min-width: 100% !important;
      }

    }

  }
  
}

@media (max-width: $size-md) {

  #filter-multi {

    .search-box-wrapper {

      .form-input {
        min-width: 100%;
      }

    }

  }

}
