@import "~@umius/umi-style-framework/scss/variables";

#executive-objective {

  .has-error {
    border-color: $alert-color !important;
  }

  .has-success {
    border-color: $success-color !important;
  }

  .content-wrapper.has-border {

    h4 {
      margin-bottom: 0;
    }

    div {
      font-size: $font-size-sm;
      text-align: center;
    }

  }

}
