@import "../../../../../../../style/framework/src/variables";

#executive-objective {

  .content-wrapper.has-border {

    h4 {
      margin-bottom: 0;
    }

    div {
      font-size: $font-size-sm;
      text-align: center;
    }

  }

}
