<main class="p-top-50 p-bottom-50" id="welcome-page">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <section>

      <h1 class="title-primary text-center">{{ 'WELCOME.WELCOME' | translate }} {{ name }}!</h1>
      <p class="text p-top-20 text-center">{{ 'WELCOME.MAIN_SENTENCE' | translate }}</p>

      <ng-container *ngIf="isMainDomain()">
        <div class="p-top-30">

          <ng-container *ngIf="isAdmin">
            <div>

              <p class="text">{{ 'WELCOME.ADMIN_SENTENCE' | translate }}</p>

              <div class="form-group">
                <label class="form-label">
                  <input class="form-input" type="text" [(ngModel)]="tokenEmail">
                </label>
              </div>

            </div>
          </ng-container>

          <h2 class="p-top-25 title-secondary text-center">Happy UMIing!</h2>

          <div class="section-terms text-center">

            <span class="text">{{ 'WELCOME.I_UNDERSTAND' | translate }}</span>

            <span class="text-link">
              <a target="_blank" rel="noopener" [href]="'https://www.umi.us' + (translate.currentLang==='fr' ? '/fr/conditions-generales/' : '/terms-and-conditions/')">
                {{ 'WELCOME.TERMS' | translate }}
              </a>
            </span>

          </div>

        </div>
      </ng-container>

      <ng-container *ngIf="!isMainDomain()">
        <div class="text text-center">{{ 'WELCOME.I_UNDERSTAND' | translate }} {{ 'WELCOME.TERMS' | translate }}</div>
      </ng-container>

      <div class="p-top-25 text-center">
        <button class="btn btn-primary" (click)="acceptTerms($event)" [disabled]="isAdmin && !tokenEmail">
          {{ 'COMMON.ACCEPT' | translate }}
        </button>
      </div>

    </section>
  </div>
</main>
