@import "../../../../style/framework/src/variables";

#welcome-page {

  .title-primary {
    font-size: 1.4rem;
    color: $text-background-color;
  }

  .title-secondary {
    font-size: 1.1rem;
    font-weight: 600;
    color: $text-background-color;
  }

  .section-terms {

    .text-link {
      font-size: $font-size-md;
      margin-left: $unit-h;
    }

  }


  .form-group {
    max-width: 60%;
  }

}


@media (max-width: $size-sm) {

  #welcome-page {

    .form-group {
      max-width: 100%;
    }

  }

}

@media (min-width: 1280px) {

  #welcome-page {

    .form-group {
      max-width: 30%;
    }

  }

}
