#welcome-page {

  .content-wrapper, .admin-text-wrapper, .happy-text-wrapper {
    padding-top: 1.57rem;
  }

  .happy-text-wrapper, .terms-wrapper {
    padding-bottom: 1.57rem;
  }

  .form-input {
    width: 60%;
  }

}

/********************************** Media ***************************************/
@media (max-width: 600px) {

  #welcome-page {

    .form-input {
      width: 100%;
    }

  }

}

@media (min-width: 1280px) {

  #welcome-page {

    .form-input {
      width: 30%;
    }

  }

}
