<div class="container section-container">
  <div class="columns">
    <div class="column col-10 col-mx-auto">
      <h1>{{ 'RESET_PASSWORD.TITLE' | translate }}</h1>
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formData" class="form-horizontal">
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="email">{{ "COMMON.EMAIL" | translate }}</label>
          </div>
          <div class="col-9">
            <input class="form-input" id="email" name="email" formControlName="email" type="email" placeholder="john.doe@gmail.com">
          </div>
        </div>

        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="password">{{ "COMMON.PASSWORD" | translate }}</label>
          </div>
          <div class="col-9">
            <input class="form-input" id="password" name="password" formControlName="password" type="password"
                   placeholder="**********">
          </div>
        </div>

        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="passwordConfirm">{{ "COMMON.PASSWORD_CONFIRM" | translate }}</label>
          </div>
          <div class="col-9">
            <input class="form-input" id="passwordConfirm" name="passwordConfirm" formControlName="passwordConfirm" type="password"
                   placeholder="**********">
          </div>
        </div>

        <button type="submit" class="btn btn-primary centered" [disabled]="formData.invalid">{{ 'COMMON.UPDATE' | translate }}</button>
      </form>

    </div>
  </div>
</div>
