<form (ngSubmit)="onSubmit()" novalidate [formGroup]="form">

  <div class="row no-margin-bottom" *ngFor="let row of compozer.rows">
    <div *ngFor="let component of row.components">
      <app-dynamic-form-question *ngIf="component.compozerType === 'question'" [compozerComponent]="component" [form]="form"></app-dynamic-form-question>
      <app-dynamic-form-content *ngIf="component.compozerType === 'content'" [compozerComponent]="component"></app-dynamic-form-content>
      <app-dynamic-form-html *ngIf="component.compozerType === 'html'" [compozerComponent]="component"></app-dynamic-form-html>
    </div>
  </div>

  <div class="row" *ngIf="formOnSubmit.observers.length">
    <div class="input-btn col s12">
      <button type="submit" [disabled]="form.invalid" class="waves-effect waves-light btn">{{ submitButton }}</button>
    </div>
  </div>
</form>
