// Icon plus, minus, cross
.icon-plus, .icon-minus, .icon-cross {

  &::before {
    background: currentColor;
    height: $icon-border-width;
    width: 100%;
  }

}

.icon-plus, .icon-cross {

  &::after {
    background: currentColor;
    height: 100%;
    width: $icon-border-width;
  }

}

.icon-cross {

  &::before {
    width: 100%;
  }

  &::after {
    height: 100%;
  }

  &::before, &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

}

// Icon delete
.icon-delete {

  &::before {
    border: $icon-border-width solid currentColor;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top: 0;
    height: .75em;
    top: 60%;
    width: .75em;
  }

  &::after {
    background: currentColor;
    box-shadow: -.25em .2em, .25em .2em;
    height: $icon-border-width;
    top: $icon-border-width/2;
    width: .5em;
  }

}

// Icon edit
.icon-edit {

  &::before {
    border: $icon-border-width solid currentColor;
    height: .4em;
    transform: translate(-40%, -60%) rotate(-45deg);
    width: .85em;
  }

  &::after {
    border: .15em solid currentColor;
    border-top-color: transparent;
    border-right-color: transparent;
    height: 0;
    left: 5%;
    top: 95%;
    transform: translate(0, -100%);
    width: 0;
  }

}

// Icon check
.icon-check {

  &::before {
    border: $icon-border-width solid currentColor;
    border-right: 0;
    border-top: 0;
    height: .5em;
    width: .9em;
    transform: translate(-50%, -75%) rotate(-45deg);
  }

}

// Icon copy
.icon-copy {
  &::before {
    border: $icon-border-width solid currentColor;
    border-radius: 2px;
    border-right: 0;
    border-bottom: 0;
    height: .8em;
    left: 40%;
    top: 35%;
    width: .8em;
  }
  &::after {
    border: $icon-border-width solid currentColor;
    border-radius: 2px;
    height: .8em;
    left: 60%;
    top: 60%;
    width: .8em;
  }
}
