.tooltips {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.tooltips-text {
  width: 108px;
  left: 115%;
  padding: 2px 5px;
}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .tooltips {
    display: block;
  }

  .tooltips-text {
    display: none;
  }

}
