<div [hidden]="!canAccess()" class="container fluid grid-2xl" id="admin-project-questionnaire">
  <div class="column col-sm-12 col-11 col-mx-auto p-top-30 p-bottom-30">

    <!-- section actions -->
    <section
      *ngIf="canAccess(['import']) || canAccess(['quiz', 'generate'])
      || quizLink && canAccess(['quiz', 'view'])"
      [ngClass]="quizLink && canAccess(['quiz', 'view']) ? 'flex-between' : 'flex-end'"
      class="flex-wrap-wrap">

      <!-- quiz link -->
      <div *ngIf="quizLink && canAccess(['quiz', 'view'])" class="p-bottom-30 m-right-15 d-flex flex-wrap-wrap">
        <p class="text-dark m-right-2 text-sm m-no-bottom">Quiz URL:</p>
        <a [href]="quizLink" class="text-link text-secondary text-sm text-break" target="_blank">{{ quizLink }}</a>
      </div>
      <!-- /quiz link -->

      <div *ngIf="canAccess(['import']) || canAccess(['quiz', 'generate'])">

        <!-- import preset -->
        <button
          (click)="openPresetSelection($event)"
          *ngIf="canAccess(['import']) && !hasMissionTemplate"
          class="button is-info is-sm m-right-25 is-outlined m-bottom-30"
          id="btn-import-preset"
          type="button">
          Import preset
        </button>
        <!-- /import preset -->

        <!-- generate quiz -->
        <button
          (click)="generateQuiz($event)"
          *ngIf="(!!innovation.preset || hasMissionTemplate) && canAccess(['quiz', 'generate'])"
          class="button is-primary is-sm m-bottom-30"
          id="btn-generate-quiz"
          type="button">
          Generate quiz
        </button>
        <!-- /generate quiz -->

      </div>

    </section>
    <!-- /section actions -->

    <!-- section client comments -->
    <section *ngIf="innovation.questionnaireComment">
      <h2 class="title is-4">{{ 'COMMON.LABEL.CLIENT_COMMENTS' | translate }}</h2>
      <p class="client-comments label justify-start text-left text-15 text-normal">
        {{innovation.questionnaireComment}}
      </p>
    </section>
    <!-- /section client comments -->

    <!-- section to add preset  -->
    <section *ngIf="canAccess(['view']) || canAccess(['edit'])" class="m-top-15">

      <ng-container *ngIf="hasMissionTemplate; else oldPresets">
        <div [ngClass]="{'d-flex justify-around flex-wrap-wrap': !!rightMirrorLanguage}">

          <div [ngClass]="{'questionnaire-column': !!rightMirrorLanguage}">
            <div class="d-flex flex-d-column p-bottom-20">
              <div class="dropdown">
                <a class="button dropdown-toggle is-primary is-outlined is-xs p-no-left" tabindex="0">
                  <ng-container [ngSwitch]="leftMirrorLanguage['status']">
                    <i class="fas fa-check-circle text-success" *ngSwitchCase="'DONE'"></i>
                    <i class="fas fa-times-circle text-error" *ngSwitchDefault></i>
                  </ng-container>
                  <span class="m-left-10">{{leftMirrorLanguage.alias}}</span>
                  <i *ngIf="cardsLanguages && cardsLanguages.length > 2" class="fas fa-caret-down"> </i>
                </a>
                <ul class="menu" *ngIf="cardsLanguages && cardsLanguages.length > 2">
                  <ng-container *ngFor="let lang of cardsLanguages">
                    <li class="menu-item"
                        *ngIf="lang.type !== rightMirrorLanguage.type && lang.type !== leftMirrorLanguage.type"
                        (click)="selectMirrorLanguage($event, lang, 'left')">
                      <div class="d-flex align-center">
                        <ng-container [ngSwitch]="lang['status']">
                          <i class="fas fa-check-circle text-success" *ngSwitchCase="'DONE'"></i>
                          <i class="fas fa-times-circle text-error" *ngSwitchDefault></i>
                        </ng-container>
                        <span class="m-left-10">{{lang.alias}}</span>
                        <ng-container>
                          <button class="button is-circled m-left-auto is-draft is-xs tooltip is-left"
                                  [attr.data-tooltip]="'This language \n is hidden \n on client side'"
                                  *ngIf="lang['hidden']">
                            <i class="fa fa-eye-slash"></i>
                          </button>
                        </ng-container>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
              <!--              <div class="form-group">-->
              <!--                <label class="form-label">{{leftMirrorLanguage.alias}} Objective</label>-->
              <!--                <input type="text" class="form-input" [value]="getObjective('en')">-->
              <!--              </div>-->
            </div>
            <app-shared-questionnaire
              (templateChange)="updatePreset($event, 'TEMPLATE')"
              [cardsSections]="cardsSections"
              [isEditable]="canAccess(['edit'])"
              [languageSelected]="'en'"
              [template]="mission.template">
            </app-shared-questionnaire>
          </div>

          <div *ngIf="!!rightMirrorLanguage"
               [ngClass]="{'questionnaire-column': !!rightMirrorLanguage}">
            <div class="d-flex flex-d-column p-bottom-20">
              <div class="dropdown">
                <a class="button dropdown-toggle is-primary is-outlined is-xs p-no-left" tabindex="0">
                  <ng-container [ngSwitch]="rightMirrorLanguage['status']">
                    <i class="fas fa-check-circle text-success" *ngSwitchCase="'DONE'"></i>
                    <i class="fas fa-times-circle text-error" *ngSwitchDefault></i>
                  </ng-container>
                  <span class="m-left-10">{{rightMirrorLanguage.alias}}</span>
                  <i *ngIf="cardsLanguages && cardsLanguages.length > 3" class="fas fa-caret-down"> </i>
                </a>
                <ul class="menu" *ngIf="cardsLanguages && cardsLanguages.length > 3">
                  <ng-container *ngFor="let lang of cardsLanguages">
                    <li class="menu-item"
                        *ngIf="lang.type !== rightMirrorLanguage.type && lang.type !== leftMirrorLanguage.type"
                        (click)="selectMirrorLanguage($event, lang, 'right')">
                      <div class="d-flex align-center">
                        <ng-container [ngSwitch]="lang['status']">
                          <i class="fas fa-check-circle text-success" *ngSwitchCase="'DONE'"></i>
                          <i class="fas fa-times-circle text-error" *ngSwitchDefault></i>
                        </ng-container>
                        <span class="m-left-10">{{lang.alias}}</span>
                        <ng-container>
                          <button class="button is-circled m-left-auto is-draft is-xs tooltip is-left"
                                  [attr.data-tooltip]="'This language \n is hidden \n on client side'"
                                  *ngIf="lang['hidden']">
                            <i class="fa fa-eye-slash"></i>
                          </button>
                        </ng-container>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
              <!--              <div class="form-group">-->
              <!--                <label class="form-label">French Objective</label>-->
              <!--                <input type="text" class="form-input" [value]="getObjective('fr')">-->
              <!--              </div>-->
            </div>

            <app-shared-questionnaire
              (templateChange)="updatePreset($event, 'TEMPLATE')"
              [cardsSections]="cardsSections"
              [isEditable]="canAccess(['edit'])"
              [languageSelected]="'fr'"
              [template]="mission.template">
            </app-shared-questionnaire>
          </div>

        </div>
      </ng-container>

      <ng-template #oldPresets>
        <ng-container *ngIf="!!innovation.preset">
          <app-shared-preset
            (save)="updatePreset($event, 'PRESET')"
            [isEditable]="canAccess(['edit'])"
            [presetLanguages]="cardsLanguages"
            [preset]="innovation.preset"
            [sectionsNames]="sectionsNames">
          </app-shared-preset>
        </ng-container>
      </ng-template>

    </section>
    <!-- /section to add preset -->

  </div>
</div>


<!-- modal -->
<umius-modal
  *ngIf="canAccess(['import']) && !hasMissionTemplate"
  [(showModal)]="showPresetModal"
  [title]="'Import Board'">

  <section class="modal-body" style="height: 250px">

    <div class="form-group">
      <label class="form-label" for="preset-choice">{{ 'COMMON.LABEL.PRESET' | translate }}</label>
      <input
        auto-complete
        class="form-input"
        id="preset-choice"
        type="text"
        [accept-user-input]="false"
        [list-formatter]="autocompletePresetListFormatter"
        [source]="presetSuggestions"
        (valueChanged)="choosePreset($event)"
        [attr.placeholder]="'COMMON.PLACEHOLDER.PRESET_NAME' | translate">
    </div>

  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel">Cancel</button>
    <button [disabled]="!chosenPreset" (click)="importPreset($event)" class="button is-primary">
      Confirm
    </button>
  </footer>

</umius-modal>
<!-- /modal -->
