<div class="column col-sm-12 col-11 col-mx-auto p-top-30" id="sidebar-tags">

  <!-- save button -->
  <div *ngIf="isEditable" class="text-right p-bottom-30">
    <button
      (click)="onClickSave()"
      [disabled]="!enableSaveButton"
      class="button is-sm "
      type="button">
      Save
    </button>
  </div>
  <!-- /save button -->

  <!-- different templates based on type -->
  <div [ngSwitch]="type">

    <!-- type ADD_TAGS -->
    <div *ngSwitchCase="'ADD_TAGS'">
      <label class="form-label">Tag Name</label>
      <app-shared-tags
        (addTag)="onAddTag($event)"
        (createTag)="onCreateTag($event)"
        (removeTag)="onRemoveTag($event)"
        [editMode]="isEditable"
        [placeholder]="placeholder"
        [projectId]="projectId"
        [tags]="tags"
        [type]="tagType">
      </app-shared-tags>
    </div>
    <!-- /type ADD_TAGS -->

    <!-- type EDIT_TAG -->
    <div *ngSwitchCase="'EDIT_TAG'">

      <!-- when not to set tag as original -->
      <div *ngIf="!needToSetOriginalTag">

        <!-- label -->
        <h1 class="title is-5 relative">
          Original Tag Details
          <span
            (click)="needToSetOriginalTag = true"
            *ngIf="isEditable"
            [attr.data-tooltip]="'Edit tag'"
            style="top: -12px"
            class="absolute tooltip c-hand m-left-2">
              <i class="fas fa-edit text-warning text-xs"></i>
            </span>
        </h1>
        <!-- /label -->

        <!-- id -->
        <div class="p-bottom-15">
          <p class="form-label m-no-bottom">ID</p>
          <p class="text-md m-no-bottom">{{ tag.originalTagId }}</p>
        </div>
        <!-- /id -->

        <!-- name TODO remove multiling -->
        <div class="p-bottom-15">
          <p class="form-label m-no-bottom">Name</p>
          <ng-container *ngIf="tag.entry && tag.entry.length; else noSidebarOriginalEntry">
            <p class="text-md m-no-bottom">{{ tag.entry | langEntry:'originalLabel':lang }}</p>
          </ng-container>
          <ng-template #noSidebarOriginalEntry>
            <p class="text-md m-no-bottom">{{ tag.originalLabel | multiling:lang }}</p>
          </ng-template>
        </div>
        <!-- /name -->

        <!-- type -->
        <div>
          <p class="form-label m-no-bottom">Type</p>
          <p class="text-md">{{ tag.type | titlecase }}</p>
        </div>
        <!-- /type -->

      </div>
      <!-- /when not to set tag as original -->

      <!-- when to set tag -->
      <div *ngIf="needToSetOriginalTag" class="p-bottom-10">
        <label class="form-label p-bottom-15" for="sidebar-tags-tagSelector">
          Choose the tag to associate with this actual tag
        </label>
        <div class="flex-between">

          <input
            [(ngModel)]="tag.originalTagId"
            [attr.placeholder]="placeholder"
            [list-formatter]="autocompleListFormatter"
            [ngModelOptions]="{standalone: true}"
            style="max-width: 80%"
            [source]="suggestions.bind(this)"
            [value-formatter]="autocompleValueFormatter"
            auto-complete
            class="form-input is-shadowed"
            id="sidebar-tags-tagSelector"
            select-value-of="_id">

          <div>
            <button
              (click)="connectToTag(tag)"
              [attr.data-tooltip]="'Add tag'"
              class="button tooltip is-circled is-sm is-primary">
              <i class="icon icon-plus"></i>
            </button>
          </div>

        </div>
      </div>
      <!-- /when to set tag -->

      <!-- label TODO remove multiling -->
      <div class="p-top-25">

        <h1 class="title is-5 m-bottom-20">Actual Tag Label</h1>

        <div class="form-group">
          <label [for]="'sidebar-tags-enLabel'" class="form-label">English</label>
          <ng-container *ngIf="tag.entry; else noSidebarTagLabelEn">
            <input
              #sideTagEntryLabelEn
              (ngModelChange)="updateTagEntry(sideTagEntryLabelEn.value, 'label', 'en')"
              [disabled]="!isEditable"
              [ngModelOptions]="{ standalone: true }"
              [ngModel]="tag.entry|langEntry:'label':'en'"
              [placeholder]="'Enter the label in English'"
              class="form-input is-shadowed"
              [id]="'sidebar-tags-enLabel'"
              type="text">
          </ng-container>
          <ng-template #noSidebarTagLabelEn>
            <input
              (ngModelChange)="saveButton(true)"
              [(ngModel)]="tag.label.en"
              [disabled]="!isEditable"
              [ngModelOptions]="{ standalone: true }"
              [placeholder]="'Enter the label in English'"
              class="form-input is-shadowed"
              [id]="'sidebar-tags-enLabel'"
              type="text">
          </ng-template>
        </div>

        <div class="form-group">
          <label [for]="'sidebar-tags-frLabel'" class="form-label">French</label>
            <ng-container *ngIf="tag.entry; else noSidebarTagLabelFr">
              <input
                #sideTagEntryLabelFr
                (ngModelChange)="updateTagEntry(sideTagEntryLabelFr.value, 'label', 'fr')"
                [disabled]="!isEditable"
                [ngModelOptions]="{ standalone: true }"
                [ngModel]="tag.entry|langEntry:'label':'fr'"
                [placeholder]="'Enter the label in French'"
                class="form-input is-shadowed"
                id="sidebar-tags-frLabel"
                type="text">
            </ng-container>
          <ng-template #noSidebarTagLabelFr>
            <input
              (ngModelChange)="saveButton(true)"
              [(ngModel)]="tag.label.fr"
              [disabled]="!isEditable"
              [ngModelOptions]="{ standalone: true }"
              [placeholder]="'Enter the label in French'"
              class="form-input is-shadowed"
              [id]="'sidebar-tags-frLabel'"
              type="text">
          </ng-template>
        </div>

      </div>
      <!-- /label -->

      <!-- description TODO remove multiling -->
      <div class="p-top-20">

        <h1 class="title is-5 m-bottom-20">Actual Tag Description</h1>

        <div class="form-group">
          <label [for]="'sidebar-tags-enDesc'" class="form-label">English</label>
          <ng-container *ngIf="tag.entry; else noSidebarTagDescEn">
            <textarea
              #sideTagEntryDescEn
              (ngModelChange)="updateTagEntry(sideTagEntryDescEn.value, 'description', 'en')"
              [disabled]="!isEditable"
              [ngModelOptions]="{ standalone: true }"
              [ngModel]="tag.entry|langEntry:'description':'en'"
              [placeholder]="'Write down the description in English'"
              class="form-input is-shadowed p-10"
              [id]="'sidebar-tags-enDesc'"
              rows="3"
              type="text">
          </textarea>
          </ng-container>
          <ng-template #noSidebarTagDescEn>
            <textarea
              (ngModelChange)="saveButton(true)"
              [(ngModel)]="tag.description.en"
              [disabled]="!isEditable"
              [ngModelOptions]="{ standalone: true }"
              [placeholder]="'Write down the description in English'"
              rows="3"
              class="form-input is-shadowed p-10"
              type="text"
              [id]="'sidebar-tags-enDesc'">
          </textarea>
          </ng-template>
        </div>

        <div class="form-group">
          <label [for]="'sidebar-tags-frDesc'" class="form-label">French</label>
          <ng-container *ngIf="tag.entry; else noSidebarTagDescFr">
            <textarea
              #sideTagEntryDescFr
              (ngModelChange)="updateTagEntry(sideTagEntryDescFr.value, 'description', 'fr')"
              [disabled]="!isEditable"
              [ngModelOptions]="{ standalone: true }"
              [ngModel]="tag.entry|langEntry:'description':'fr'"
              [placeholder]="'Write down the description in French'"
              class="form-input is-shadowed p-10"
              [id]="'sidebar-tags-frDesc'"
              rows="3"
              type="text">
          </textarea>
          </ng-container>
          <ng-template #noSidebarTagDescFr>
            <textarea
              (ngModelChange)="saveButton(true)"
              [(ngModel)]="tag.description.fr"
              [disabled]="!isEditable"
              [ngModelOptions]="{ standalone: true }"
              [placeholder]="'Write down the description in French'"
              rows="3"
              class="form-input is-shadowed p-10"
              type="text"
              id="sidebar-tags-frDesc">
          </textarea>
          </ng-template>
        </div>

      </div>
      <!-- /description -->

    </div>
    <!-- /type EDIT_TAG -->

  </div>
  <!-- /different templates based on type -->

</div>

