<app-shared-infographic-synthesis-worldmap *ngIf="question.answerType === 'worldmap'"
                                           [importantValue]="infographic.answers.length" [secondValue]="getPercentOfFollow()">
</app-shared-infographic-synthesis-worldmap>

<app-shared-infographic-synthesis-string *ngIf="question.answerType === 'string' ||  question.answerType === 'comment'"
                                         [importantValue]="getQuantityAnswers()" [secondValue]="getPercentAnswers()">
</app-shared-infographic-synthesis-string>

<app-shared-infographic-synthesis-number *ngIf="question.answerType === 'number'"
                                         [importantValue]="getMoyenneOfAnswers()" [secondValue]="getPercentAnswers()">
</app-shared-infographic-synthesis-number>

<app-shared-infographic-synthesis-qcm *ngIf="question.answerType === 'qcm'"
                                      [answers]="getAllAnswersToQuestion()" [propositions]="question.answerPossibilities"
                                      [secondValue]="getPercentFavorable()">
</app-shared-infographic-synthesis-qcm>
