@import "../../../../../../../style/framework/src/variables";

#admin-project-campaigns {

  .card-wrapper {
    margin-bottom: 30px;

    .card-content {
      background-color: $bg-white-color;
      min-height: 42px;
      border-radius: 6px;
      padding: 20px 25px;

      a {
        font-size: 22px;
      }

      .label.is-success {
        margin: 0 10px 0 0;
      }

    }

  }

}
