<div [hidden]="!canAccess()" class="container fluid" id="admin-project-campaigns">
  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- error message while fetching -->
    <app-utility-message-error *ngIf="!isLoading && fetchingError"></app-utility-message-error>
    <!-- /error message while fetching -->

    <!-- no fetching error -->
    <div [hidden]="fetchingError && !isLoading" class="p-top-30 p-bottom-50">

      <!-- section add campaign -->
      <section *ngIf="canAccess(['add'])" class="text-right p-bottom-50">
        <button
          (click)="onAddCampaign($event)"
          [disabled]="isAddingCampaign"
          class="button is-shadowed is-sm"
          id="btn-add-campaign"
          type="button">
          <i class="fas fa-plus-circle icon-left"></i> {{ isAddingCampaign ? 'is adding...' : 'Add a new campaign' }}
        </button>
      </section>
      <!-- /section add campaign -->

      <!-- section campaigns -->
      <section [@listAnimation]="campaigns.length" style="margin-bottom: -30px; margin-right: -20px;">
        <div class="card-3">
          <div *ngFor="let campaign of campaigns; let i = index" class="card relative text-center">

            <div style="top: 0; left: 0" class="absolute">
              <div *ngIf="campaign.type === 'COMMUNITY'" class="label is-sm text-bold is-success">
                {{ campaign.type }}
              </div>
              <div *ngIf="!!campaign.rgpd" class="label is-sm text-bold is-warning">
                GDPR MODE ON
              </div>
            </div>

            <div class="card-header p-top-50">
              <a
                (click)="onNavigation(campaign)"
                [routerLink]="route(campaign._id)"
                class="card-title text-hover-underline"
                routerLinkActive="active">
                {{ campaign.title }}
              </a>
            </div>

            <!-- edit button -->
            <ng-container *ngIf="canAccess(['edit'])">
              <button
                (click)="onEditCampaign($event, campaign)"
                class="button tooltip is-circled absolute is-outlined is-xs text-sm"
                data-tooltip="Edit campaign"
                style="top: 5px; right: 5px;"
                type="button">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </ng-container>
            <!-- /edit button -->

            <div class="card-body">

              {{ stats(campaign, 'nbFirstTierMails') }} Good email(s)

              <div *ngIf="canAccess(['campaign', 'batch', 'quiz'])" class="m-top-15">
                <ng-container *ngIf="!!quizURL('fr', campaign)">
                  <span
                    (click)="copyQuizLink('fr', campaign)"
                    class="text-meta text-hover-underline c-hand text-sm text-medium m-left-h m-right-h">
                  Copy FR quiz link
                </span>
                </ng-container>
                <ng-container *ngIf="!!quizURL('en', campaign)">
                  |
                  <span
                    (click)="copyQuizLink('en', campaign)"
                    class="text-meta text-hover-underline c-hand text-sm text-medium m-left-h m-right-h">
                  Copy EN quiz link
                </span>
                </ng-container>
              </div>

            </div>

            <div *ngIf="canAccess(['delete'])" class="card-footer">
              <button (click)="onDelete($event, campaign)" class="button is-link is-danger">Delete</button>
            </div>

          </div>
        </div>

      </section>
      <!-- /section campaigns -->

    </div>
    <!-- /no fetching error -->

  </div>
</div>


<!-- modal to ask the admin to delete the campaign -->
<umius-modal
  *ngIf="canAccess(['delete'])"
  [(showModal)]="activateModal"
  [title]="'Delete Board'">

  <section class="modal-body">
    Do you really want to delete this campaign?
  </section>

  <footer class="modal-footer">
    <button (click)="closeModal($event)" class="button modal-cancel">Cancel</button>
    <button (click)="onConfirmDelete()" class="button is-primary">Confirm</button>
  </footer>

</umius-modal>
<!-- /modal to ask the admin to delete the campaign -->


<!-- sidebar to edit campaign -->
<umius-sidebar-full *ngIf="canAccess(['edit'])" [(template)]="sidebarValue">
  <app-sidebar-campaign
    (campaignOutput)="updateCampaign($event)"
    [campaign]="selectCampaign"
    [isEditable]="canAccess(['edit'])"
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type">
  </app-sidebar-campaign>
</umius-sidebar-full>
<!-- /sidebar to edit campaign -->
