<div class="section-light-container" id="admin-project-campaigns-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- section add campaign -->
    <div *ngIf="getAuthorizationLevel(2)" class="section-add-campaign">
      <button class="btn btn-primary" (click)="onClickAdd($event)">{{ 'CAMPAIGNS.ADD_BUTTON' | translate }}</button>
    </div>

    <!-- section no campaign -->
    <div *ngIf="noResult" class="section-no-campaign">
      <app-message-space
        [messageA]="'CAMPAIGNS.BOT_TEXT.A'"
        [messageB]="'CAMPAIGNS.BOT_TEXT.B'"
        [widthMax]="'354px'">
      </app-message-space>
    </div>

    <!-- section campaigns -->
    <div *ngIf="!noResult" class="section-campaigns-list">
      <div class="campaign-wrapper" [@listAnimation]="campaigns.length">
        <div *ngFor="let campaign of campaigns" class="content-outer">
          <div class="content">
            <a [routerLink]="'/user/admin/campaigns/campaign/' + campaign._id + '/answers'">
              <span class="title">{{ campaign.title }}</span>
            </a>
            <span *ngIf="getAuthorizationLevel(2)" class="edit" (click)="onClickEdit($event, campaign)">{{ 'CAMPAIGNS.EDIT_BUTTON' | translate }}</span>
            <p class="details">
              {{ campaign.stats ? campaign.stats['campaign']['nbProfessionals'] || 0 : 0 }} {{ 'CAMPAIGNS.PROFESSIONAL' | translate  }}
              •
              {{ campaign.stats ? ((campaign.stats['campaign']['nbValidatedResp']||0)+(campaign.stats['campaign']['nbToValidateResp'] || 0)) : 0 }} {{ 'CAMPAIGNS.ANSWERS' | translate }}
              •
              {{ campaign.status | FormatText }} {{ 'CAMPAIGNS.STATUS' | translate }}
              <ng-container *ngIf="getAuthorizationLevel(2)">
                |
                <span class="update" (click)="OnClickUpdateStatus($event, campaign)">{{ 'CAMPAIGNS.UPDATE_BUTTON' | translate }}</span>
                |
                <span class="clone">{{ 'CAMPAIGNS.CLONE_BUTTON' | translate }}</span>
                |
                <span class="delete" (click)="OnClickDelete($event, campaign)">{{ 'CAMPAIGNS.DELETE_BUTTON' | translate }}</span>
              </ng-container>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- modal to ask the admin to delete the campaign -->
<app-modal [(showModal)]="activateModal" [modalTitle]="'COMMON.CAMPAIGN.DELETE_BOARD.HEADING'">
  {{ 'COMMON.CAMPAIGN.DELETE_BOARD.CONTENT' | translate }}
  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="onClickSubmit()">{{ 'COMMON.SUBMIT' | translate }}</button>
  </div>
</app-modal>
<!-- /modal to ask the admin to delete the campaign -->


<!-- sidebar to edit campaign -->
<app-sidebar [(template)]="sidebarValue">
  <app-campaign-form
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type"
    [campaign]="selectCampaign"
    (campaignOutput)="updateCampaign($event)">
  </app-campaign-form>
</app-sidebar>
<!-- /sidebar to edit campaign -->
