@import "../../../../../../../style/variables";


#admin-project-campaigns-component {

  .section-add-campaign {
    text-align: right;
    padding-bottom: 1.57rem;
  }

  .section-no-campaign {
    padding-top: 3.15rem;
    text-align: center;

    .bot-rect {
      max-width: 354px;
    }

  }

  .section-campaigns-list {

    .campaign-wrapper{

      .content-outer {
        margin-bottom: 1.57rem;

        .content {
          background-color: white;
          min-height: 6.625rem;
          border-radius: 3px;
          padding: 1.2rem;

          .title {
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: .6rem;
          }

          .title:hover {
            color: $primary-color;
            cursor: pointer;
          }

          .details {
            font-size: 0.85rem;
            color: $meta-color;
            font-weight: 600;
            padding-left: .35rem;
            padding-bottom: 0;
          }

        }

      }

    }

  }


}


.btn-danger {
  background-color: #ff0000;
  color: #FFFFFF;
  border-color: transparent;
}

.btn-action {
  float: left;
  margin-right: 10px;
}

#admin-campaign {
  padding-top: 0;

  .sticky-section {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
  }

}


@media (min-width: 600px) {

  .sticky-section {
    position: sticky;
    top: 0;
    z-index: 3;
  }


}
