@import "../../../../../../../style/framework/src/variables";

#admin-project-campaigns-component {

  .card-campaign {
    margin-bottom: 1.5rem;

    .card-content {
      background-color: $bg-color-light;
      min-height: 2.120rem;
      border-radius: $border-radius;
      padding: $unit-5;

      a {

        span {
          font-size: 1.1rem;
          margin-right: 0.25rem;
        }

      }

      .text {
        font-weight: $font-weight-medium;
        font-size: $font-size-sm;
        margin-top: 0.5rem;
        margin-bottom: 0;
      }

      .clone:hover {
        cursor: not-allowed;
      }

      .icon {
        margin-left: 0;
      }

    }

  }

}
