<section class="section-light-pad rm-pad-bottom" id="admin-project-campaigns-component">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- section add campaign -->
    <ng-container *ngIf="getAuthorizationLevel(2)">
      <div class="section-light-pad rm-pad-top text-right">
        <button class="btn btn-primary" (click)="onClickAdd($event)">{{ 'CAMPAIGNS.ADD_BUTTON' | translate }}</button>
      </div>
    </ng-container>

    <!-- section no campaign -->
    <ng-container *ngIf="campaigns.length === 0">
      <div class="section-pad rm-pad-bottom">
        <message-template-1 [widthMax]="'354px'">
          {{ 'CAMPAIGNS.BOT_TEXT.A' | translate }}
          <br>
          {{ 'CAMPAIGNS.BOT_TEXT.B' | translate }}
        </message-template-1>
      </div>
    </ng-container>

    <!-- section campaigns -->
    <ng-container *ngIf="campaigns.length > 0">
      <div class="section-light-pad rm-pad-bottom">
        <div [@listAnimation]="campaigns.length">
          <div *ngFor="let campaign of campaigns" class="card-campaign">
            <div class="card-content">
              <a [routerLink]="'/user/admin/campaigns/campaign/' + campaign._id + '/answers'">
                <span>{{ campaign.title }}</span>
              </a>
              <span *ngIf="campaign.type === 'COMMUNITY'" class="label is-success">{{campaign.type}}</span>
              <span *ngIf="getAuthorizationLevel(2)" class="text-link text-sm" (click)="onClickEdit($event, campaign)">{{ 'CAMPAIGNS.EDIT_BUTTON' | translate }}</span>
              <p class="d-flex text text-notify align-center">
                {{ campaign.stats ? campaign.stats['campaign']['nbProfessionals'] || 0 : 0 }} {{ 'CAMPAIGNS.PROFESSIONAL' | translate  }}
                •
                {{ campaign.stats ? ((campaign.stats['campaign']['nbValidatedResp']||0)+(campaign.stats['campaign']['nbToValidateResp'] || 0)) : 0 }} {{ 'CAMPAIGNS.ANSWERS' | translate }}
                •
                {{ campaign.status | FormatText }} {{ 'CAMPAIGNS.STATUS' | translate }}
                <ng-container *ngIf="getAuthorizationLevel(2)">
                  |
                  <span class="text-link" (click)="onClickUpdateStatus($event, campaign)">{{ 'CAMPAIGNS.UPDATE_BUTTON' | translate }}</span>
                  <!--|
                  <span class="text text-notify clone">{{ 'CAMPAIGNS.CLONE_BUTTON' | translate }}</span>-->
                  |
                  <span (click)="onClickDelete($event, campaign)" class="icon-container is-overlay text-alert">
                    <span class="tooltip" data-tooltip="Delete Campaign">
                      <i class="icon icon-delete"></i>
                    </span>
                  </span>
                </ng-container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</section>


<!-- modal to ask the admin to delete the campaign -->
<app-utility-modal [(showModal)]="activateModal" [title]="'COMMON.MODAL.TITLE_DELETE'">

  <section class="modal-body">
    {{ 'COMMON.CAMPAIGN.DELETE_BOARD.CONTENT' | translate }}
  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button (click)="onClickSubmit()" class="button is-primary">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </footer>

</app-utility-modal>
<!-- /modal to ask the admin to delete the campaign -->


<!-- sidebar to edit campaign -->
<app-sidebar [(template)]="sidebarValue">
  <app-campaign-form
    (campaignOutput)="updateCampaign($event)"
    [campaign]="selectCampaign"
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type">
  </app-campaign-form>
</app-sidebar>
<!-- /sidebar to edit campaign -->
