@import "../../../../../../../../style/framework/src/variables";
@import "../../../../../../../../style/framework/src/mixins";

#innovation-card-print {
  display: none;
}

#setup-component {

  .section-header {

    .content-wrapper {
      flex-wrap: wrap;

      .title-primary {
        font-size: 1.35rem;
      }

      .button-wrapper {
        list-style: none;
        flex-wrap: wrap;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0.75rem;

        li {
          margin-top: 0;
          margin-right: $unit-5;
          margin-bottom: $unit-2;
          position: relative;

          &:last-child {
            margin-right: 0;
          }

        }

        .shape {
          position: absolute;
          right: 0;
          margin-top: -12px;
          margin-right: -11px;
          visibility: hidden;
          z-index: $zindex-0;

          &.circle {
            width: 25px;
            height: 25px;
          }

          .fas {
            color: $light-color;
          }

        }

        .save-disabled {

          .ghost-primary {
            border-color: $button-border-color !important;
            color: $button-disabled-text-color !important;
            background-color: $button-disabled-bg-color !important;
            cursor: not-allowed;
          }

        }

        .save-active {

          .ghost-primary {
            border-color: $success-color !important;
            color: #262831 !important;

            &:hover {
              background-color: $hover-background-color !important;
              box-shadow: none;
            }

          }

          .shape {
            background-color: $success-color !important;
            border-color: $success-color;
            visibility: visible;
          }

        }

      }

    }

  }

  .section-tabs {

    .tab {

      .tab-item {
        min-width: 150px;
        margin-right: $unit-5;
      }

      .pitch-check, .targeting-check, .survey-check {
        background: $border-color;
        color: $text-primary-color;
        font-weight: $font-weight-medium;
        font-size: 10px;
      }

      .fa-check {
        margin-right: 0;
        font-size: $font-size-sm;
      }

      .complete {
        @include control-transition();
        background-color: $success-color;
        color: $light-color;
        border-color: $success-color;
      }

    }

  }


}


@media (min-width: $size-md) {

  #setup-component {

    .sticky {
      position: sticky;
      background-color: white;
      top: 0;
      box-shadow: $box-shadow-hover-umi;
      z-index: 11;
    }

  }

}

