<div *ngIf="innovation" class="innovation-card-print">

  <!-- Innovation detail -->
  <div class="section-light-container">
    <div class="section-inline-container innovation-wrapper white-background">

      <!-- Column 1 -->
      <div class="summary-wrapper">
        <h1 class="main-heading">{{ innovation.innovationCards[selectedInnovationIndex].title }}</h1>
        <div [innerHtml]="innovation.innovationCards[selectedInnovationIndex].summary"></div>

        <div *ngIf="innovation.principalMedia?.type === 'PHOTO'" class="main-media">
          <img
            [src]="innovation.principalMedia.url"
            [alt]=" "
            width="150px" height="">
        </div>

        <h1 class="section-heading">{{ 'DISCOVERDESCRIPTION.BENEFITS' | translate }}</h1>
        <ul class="advantage-wrapper">
          <li *ngFor="let advantage of innovation.innovationCards[selectedInnovationIndex].advantages;">
            {{ advantage.text[0] | uppercase }}{{ advantage.text | slice:1 }}
          </li>
        </ul>
      </div>

      <!-- Column 2 -->
      <div class="issue-wrapper">
        <h1 class="section-heading">{{ 'DISCOVERDESCRIPTION.ISSUE' | translate }}</h1>
        <div [innerHtml]="innovation.innovationCards[selectedInnovationIndex].problem"></div>
      </div>

      <!-- Column 3 -->
      <div class="solution-wrapper">
        <h1 class="section-heading">{{ 'DISCOVERDESCRIPTION.SOLUTION' | translate }}</h1>
        <div [innerHtml]="innovation.innovationCards[selectedInnovationIndex].solution"></div>
      </div>
    </div>
  </div>
  <!-- /Innovation detail -->

</div>



<div *ngIf="innovation" class="section-container animate-page" id="setup-component">

  <!-- project under submitted status -->
  <div *ngIf="innovation.status === 'SUBMITTED'" class="banner-wrapper">
    {{ 'PROJECT_MODULE.SETUP.MESSAGE.SUBMITTED' | translate }}
  </div>

  <!-- project under evaluating and reviewing status -->
  <div *ngIf="innovation.reviewing && innovation.status === 'EDITING'" class="banner-wrapper">
    {{ 'PROJECT_MODULE.SETUP.MESSAGE.REVIEWING.A' | translate }}
    <span>{{ 'PROJECT_MODULE.SETUP.MESSAGE.REVIEWING.B' | translate }}</span>
    {{ 'PROJECT_MODULE.SETUP.MESSAGE.REVIEWING.C' | translate }}
  </div>

  <!-- project under evaluating status -->
  <div *ngIf="innovation.status === 'EVALUATING'" class="banner-wrapper">
    {{ 'PROJECT_MODULE.SETUP.MESSAGE.EVALUATING' | translate }}
  </div>

  <!-- project under done status message -->
  <div *ngIf="innovation.status === 'DONE'" class="banner-wrapper">
    {{ 'PROJECT_MODULE.SETUP.MESSAGE.DONE' | translate }}
  </div>


  <!-- header section -->
  <div class="section-header" [ngClass]="{ 'sticky': scrollOn }">
    <div class="column col-xs-12 col-11 col-mx-auto">
      <div class="content">

        <!-- Title -->
        <h1 class="main-heading">{{ 'PROJECT_MODULE.SETUP.TITLE' | translate }}</h1>

        <!-- Buttons -->
        <div class="buttons-wrapper">
          <span>
            <button class="btn ghost-primary gtm-print-card">
              {{ 'PROJECT_MODULE.SETUP.PRINT_BUTTON' | translate }}
            </button>
          </span>
          <span>
            <button class="btn ghost-primary gtm-preview-card" (click)="onClickPreview($event)">
              {{ 'PROJECT_MODULE.SETUP.PREVIEW_BUTTON' | translate }}
            </button>
          </span>
          <span [ngClass]="buttonSaveClass">
            <div class="circle-check"><i class="fas fa-save"></i></div>
            <button class="btn btn-primary ghost-primary" (click)="onClickSave($event)">
              {{ 'PROJECT_MODULE.SETUP.SAVE_PROJECT' | translate }}
            </button>
          </span>
          <span [ngStyle]="{ 'margin-right': '0' }">
            <button
              [disabled]="innovation.status !== 'EDITING'"
              class="btn btn-primary gtm-submit-project">
              {{ 'PROJECT_MODULE.SETUP.SUBMIT_PROJECT' | translate }}
            </button>
          </span>
        </div>

      </div>
    </div>
  </div>
  <!-- /header section -->


  <!-- tab section -->
  <div class="column col-xs-12 col-11 col-mx-auto section-tabs">
    <ul class="tabs">
      <li>
        <a [routerLink]="['setup', 'targeting']" [ngClass]="{ 'active': currentPage === 'targeting' }" class="gtm-edit-market-targeting" (click)="setCurrentTab($event, 'targeting')">
          <i class="fas fa-check targeting-check"></i>
          {{ 'PROJECT_MODULE.SETUP.TARGETING_TAB' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="['setup', 'pitch']" [ngClass]="{ 'active': currentPage === 'pitch' }" class="gtm-edit-market-targeting" (click)="setCurrentTab($event, 'pitch')">
          <i class="fas fa-check pitch-check"></i>
          {{ 'PROJECT_MODULE.SETUP.PITCH_TAB' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="['setup', 'survey']" [ngClass]="{ 'active': currentPage === 'survey' }" class="gtm-edit-market-targeting" (click)="setCurrentTab($event, 'survey')">
          <i class="fas fa-check survey-check"></i>
          {{ 'PROJECT_MODULE.SETUP.SURVEY_TAB' | translate }}
        </a>
      </li>
    </ul>
  </div>
  <!-- /tab section -->


  <!-- different section -->
  <div class="column col-xs-12 col-11 col-mx-auto section-different">

    <!-- targeting -->
    <div *ngIf="currentPage === 'targeting'">
      <app-targeting [project]="innovation" (settingsChange)="updateSettings($event)"></app-targeting>
    </div>

    <!-- pitch -->
    <div *ngIf="currentPage === 'pitch'">
      <app-pitch [project]="innovation" (pitchChange)="updatePitch($event)"></app-pitch>
    </div>

    <!-- survey -->
    <div *ngIf="currentPage === 'survey'">
      <app-survey [project]="innovation"></app-survey>
    </div>

  </div>
  <!-- /different section -->


</div>



<!-- innovation preview sidebar -->
<app-sidebar [template]="sidebarValue" (closeSidebar)="closeSidebar($event)">
  <app-innovation-preview [innovation]="innovation.innovationCards[selectedInnovationIndex]"></app-innovation-preview>
</app-sidebar>
<!-- /innovation preview sidebar -->
