@import "../../../../../../../../style/variables";

.innovation-card-print {
  display: none;
}


#setup-component {
  padding-top: 0;
  padding-bottom: 0;


  .section-header {
    padding-top: 1.57rem;

    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .buttons-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: .9375rem;

        span {
          margin-right: .6rem;
          margin-bottom: .6rem;
        }

        .circle-check {
          margin-top: -12px;
          margin-left: -11px;
          visibility: hidden;
        }

      }

    }

  }


  .section-tabs {

    .tabs {
      border-bottom: 1px solid $border-color;

      li {
        flex: unset;
        width: 150px;
      }

      a {
        background-color: white;
        color: $background-color;
        border-bottom: 4px solid transparent;
        font-weight: 500;
      }

      a:hover {
        border-bottom-color: $primary-color;
        color: $primary-color;
      }

      .pitch-check, .targeting-check, .survey-check {
        color: $validation-color;
        transition: all 0.15s ease-in-out;
        display: none;
      }

      .active {
        color: $primary-color !important;
        border-bottom-color: $primary-color !important;
      }

    }

  }


  .section-different {
    padding-top: 3.15rem;
  }


}


/********************************** Media ***************************************/

@media (min-width: 840px) {

  #setup-component {

    .sticky {
      position: sticky;
      background-color: white;
      top: 0;
      box-shadow: $box-shadow;
      z-index: 11;
    }

  }

}


@media (max-width: 600px) {

  #setup-component {

    .tabs {
      border-bottom: none !important;

      li {
        flex: 1 0 auto;
        border-bottom: 1px solid $border-color;
      }

    }

  }

}
