<div id="setup" class="relative">

  <!-- banner project message  -->
  <ng-container *ngIf="showBanner">
    <app-utility-banner [(showBanner)]="showBanner" [background]="banner.background" position="relative">
      {{ banner.message | translate }}
    </app-utility-banner>
  </ng-container>
  <!-- banner project message  -->

  <!-- header -->
  <section [ngClass]="{'header_sticky': scrollOn}" class="p-top-10 bg-white">
    <div class="container fluid grid-2xl">
      <div class="column col-sm-12 col-11 col-mx-auto">
        <div style="min-height: 60px" class="flex-between flex-wrap-wrap">

          <!-- title -->
          <h2  style="font-size: 22px" class="title m-bottom-15">
            {{ 'PROJECT_SETUP.TITLE' | translate }}
          </h2>
          <!-- /title -->

          <!-- buttons currentPage === 'PITCH' -->
          <div *ngIf="currentPage === 'PITCH'" class="d-flex flex-wrap-wrap align-center animate-fade is-4">

            <!-- card example -->
            <button
              (click)="onViewExample($event)"
              *ngIf="quizExample"
              class="button is-link is-sm m-bottom-15 p-no"
              id="btn-quiz-example">
              <i class="fas fa-file-alt icon-left text-lg"></i>
              <span class="text-hover-underline">{{ 'COMMON.BUTTON.EXAMPLE' | translate }}</span>
            </button>
            <!-- card example -->

            <!-- preview -->
            <a
              *ngIf="previewLink"
              [href]="previewLink"
              [ngClass]="{'m-right-15': hasDropdownLang}"
              class="button is-link is-sm m-bottom-15 p-no text-no-underline"
              id="btn-preview"
              target="_blank">
              <i class="fas fa-eye icon-left text-lg"></i>
              <span class="text-hover-underline">{{ 'COMMON.BUTTON.PREVIEW' | translate }}</span>
            </a>
            <!-- /preview -->

            <!-- card lang -->
            <ng-container>
              <div class="m-bottom-15 m-right-15">
                <div class="dropdown">
                  <!-- language selected -->
                  <a class="button dropdown-toggle is-primary is-outlined d-flex align-center justify-start" tabindex="0">
                    <ng-container *ngTemplateOutlet="langStatus; context:{$implicit: languageSelected}">
                    </ng-container>
                     <i class="fas fa-caret-down is-sm" *ngIf="innoCardLanguages && innoCardLanguages.length > 1"></i>
                  </a>
                  <!-- /language selected -->

                  <!-- available languages -->
                  <ul class="menu">
                    <li class="menu-item"
                        *ngFor="let language of innoCardLanguages"
                        (click)="selectLanguage($event, language)">
                      <label class="fullspace d-flex align-center">
                          <ng-container *ngTemplateOutlet="langStatus; context:{$implicit: language}">
                          </ng-container>
                      </label>
                    </li>
                  </ul>
                  <!-- available languages -->
                </div>
              </div>

              <!-- language status + name template -->
              <ng-template #langStatus let-context>
                <ng-container>
                  <button class="button is-circled is-xs"
                          [ngClass]="context?.status === 'EDITING'? 'is-danger': 'is-success'">
                    <i style="font-size: 20px" [ngClass]="context?.status ==='EDITING'? 'fa fa-times-circle': 'fa fa-check-circle'"></i>
                  </button>
                  <span class="m-left-3 m-right-3">{{context?.alias}}</span>
                </ng-container>
              </ng-template>
              <!-- /language status + name template -->

            </ng-container>
            <!-- /card lang -->

          </div>
          <!-- /buttons currentPage === 'PITCH' -->

          <!-- button currentPage === 'TARGETING' -->
          <div *ngIf="currentPage === 'TARGETING' && saveChanges" class="animate-fade is-4 m-bottom-15">
            <button
              (click)="onSaveProject($event)"
              [disabled]="isSavingProject"
              [ngClass]="{'badge-active': activeSaveBadge}"
              class="button is-sm badge badge-icon"
              id="btn-project-save"
              style="min-width: 100px">
              <i class="fas fa-save" *ngIf="activeSaveBadge"></i>
              <ng-container *ngIf="isSavingProject; else defSaveText">
                {{ 'COMMON.BUTTON.SAVING_PROJECT' | translate }}
              </ng-container>
              <ng-template #defSaveText>
                {{ 'COMMON.BUTTON.SAVE' | translate }}
              </ng-template>
            </button>
          </div>
          <!-- /button currentPage === 'TARGETING' -->

        </div>
      </div>
    </div>
  </section>
  <!-- /header -->

  <!-- tabs -->
  <section class="container grid-2xl fluid">
    <div class="column col-sm-12 col-11 col-mx-auto">
      <ul class="tab">
        <li *ngFor="let tab of tabs" class="tab-item">
          <a
            (click)="navigateTo($event, tab.route)"
            [id]="tab.route"
            [ngClass]="tab.tracking"
            [routerLink]="tab.route"
            routerLinkActive="active">
            {{ 'PROJECT_SETUP.TAB.' + tab.name | translate }}
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- /tabs -->

  <div>
    <router-outlet></router-outlet>
  </div>

</div>


<!-- modal to innovation card add lang -->
<!--<umius-modal [(showModal)]="showCardModal">-->

<!--  &lt;!&ndash; body &ndash;&gt;-->
<!--  <section class="modal-body p-bottom-40">-->
<!--    <h2 style="color: #4C4C4C" class="title is-4 text-center text-bold m-bottom-50">-->
<!--      {{ 'PROJECT_SETUP.ADD_PROJECT_MODAL.HEADING' | translate }}-->
<!--    </h2>-->
<!--    <div class="mxw-550 m-right-auto m-left-auto">-->
<!--      {{ 'PROJECT_SETUP.ADD_PROJECT_MODAL.INFO' | translate }}-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash; body &ndash;&gt;-->

<!--  &lt;!&ndash; footer &ndash;&gt;-->
<!--  <footer class="modal-footer justify-center">-->

<!--    <button-->
<!--      [disabled]="isAddingCard"-->
<!--      (click)="closeModal()"-->
<!--      class="button modal-cancel"-->
<!--      id="btn-cancel">-->
<!--      {{ 'COMMON.BUTTON.CANCEL' | translate }}-->
<!--    </button>-->

<!--    <button-->
<!--      (click)="addInnovationCard($event)"-->
<!--      [disabled]="isAddingCard"-->
<!--      class="button "-->
<!--      id="btn-confirm-card">-->
<!--      <ng-container *ngIf="isAddingCard; else defConfirmText">-->
<!--        {{ 'COMMON.BUTTON.ADDING_LANG' | translate }}-->
<!--      </ng-container>-->
<!--      <ng-template #defConfirmText>-->
<!--        {{ 'COMMON.BUTTON.CONFIRM' | translate }}-->
<!--      </ng-template>-->
<!--    </button>-->

<!--  </footer>-->
<!--  &lt;!&ndash; /footer &ndash;&gt;-->

<!--</umius-modal>-->
<!-- modal to innovation card add lang -->
