{{ innovation.collaborators.length }}
<!--
<section class="section-container" id="setup">

  &lt;!&ndash; Messages &ndash;&gt;
  <div class="column col-xs-12 col-11 col-mx-auto">

    &lt;!&ndash; Project under submitted status message &ndash;&gt;
    <div *ngIf="projectStatus === 'SUBMITTED'" class="msg-wrapper">
      <div class="content text-center">{{ 'PROJECT_MODULE.SETUP.MESSAGE.SUBMITTED' | translate }}</div>
    </div>

    &lt;!&ndash; Project under reviewing status message &ndash;&gt;
    <div *ngIf="project.reviewing && projectStatus === 'EDITING'" class="msg-wrapper">
      <div class="content text-center">
        {{ 'PROJECT_MODULE.SETUP.MESSAGE.REVIEWING.A' | translate }}
        <span>{{ 'PROJECT_MODULE.SETUP.MESSAGE.REVIEWING.B' | translate }}</span>
        {{ 'PROJECT_MODULE.SETUP.MESSAGE.REVIEWING.C' | translate }}
      </div>
    </div>

    &lt;!&ndash; Project under evaluating status message &ndash;&gt;
    <div *ngIf="projectStatus === 'EVALUATING'" class="msg-wrapper">
      <div class="content text-center">{{ 'PROJECT_MODULE.SETUP.MESSAGE.EVALUATING' | translate }}</div>
    </div>

    &lt;!&ndash; Project under done status message &ndash;&gt;
    <div *ngIf="projectStatus === 'DONE'" class="msg-wrapper">
      <div class="content text-center">{{ 'PROJECT_MODULE.SETUP.MESSAGE.DONE' | translate }}</div>
    </div>

  </div>

  &lt;!&ndash; Buttons &ndash;&gt;
  <div class="heading-button-wrapper" [ngClass]="{ 'setup-scroll-sticky': scrollOn }">
    <div class="column col-xs-12 col-11 col-mx-auto">
      <div class="content-wrapper">

        &lt;!&ndash; Heading &ndash;&gt;
        <h2 class="main-heading">{{ 'PROJECT_MODULE.SETUP.TITLE' | translate }}</h2>

        &lt;!&ndash; Buttons &ndash;&gt;
        <div class="func-btn-wrapper">
          <span>
            <button class="btn ghost-primary gtm-print-card" (click)="printInnovationCard($event)">
              {{ 'PROJECT_MODULE.SETUP.PRINT_BUTTON' | translate }}
            </button>
          </span>
          <span>
            <button class="btn ghost-primary gtm-preview-card" (click)="showInnovation($event)">
              {{ 'PROJECT_MODULE.SETUP.PREVIEW_BUTTON' | translate }}
            </button>
          </span>
          <span [ngClass]="saveButtonClass">
            <div class="circle-check"><i class="fas fa-save"></i></div>
            <button class="btn btn-primary ghost-primary" (click)="saveProject($event)">
              {{ 'PROJECT_MODULE.SETUP.SAVE_PROJECT' | translate }}
            </button>
          </span>
          <span>
            <button
              [disabled]="projectStatus !== 'EDITING'"
              class="btn btn-primary gtm-submit-project"
              (click)="submitButton($event)">
              {{ 'PROJECT_MODULE.SETUP.SUBMIT_PROJECT' | translate }}
            </button>
          </span>
        </div>

      </div>
    </div>
  </div>

  &lt;!&ndash; Tab section &ndash;&gt;
  <div class="column col-xs-12 col-11 col-mx-auto">
    <div class="tabs-container">
      <ul class="tabs">
        <li>
          <a [routerLink]="['setup', 'targeting']" [ngClass]="{'active': currentTab == 'targeting'}" class="gtm-edit-market-targeting">
            <i class="fas fa-check targeting-check" [ngStyle]="{ 'display': targetingFormValid ? 'inline-block' : 'none' }"></i>
            {{ 'PROJECT_MODULE.SETUP.TARGETING_TAB' | translate }}
          </a>
        </li>
        <li>
          <a [routerLink]="['setup', 'pitch']" [ngClass]="{'active': currentTab == 'pitch'}" class="gtm-edit-description">
            <i class="fas fa-check pitch-check" [ngStyle]="{ 'display': pitchFormValid ? 'inline-block' : 'none' }"></i>
            {{ 'PROJECT_MODULE.SETUP.PITCH_TAB' | translate }}
          </a>
        </li>
        <li>
          <a [routerLink]="['setup', 'survey']" [ngClass]="{'active': currentTab == 'survey'}" class="gtm-edit-questionnaire">
            <i class="fas fa-check survey-check" [ngStyle]="{ 'display': project.quizId ? 'inline-block' : 'none' }"></i>
            {{ 'PROJECT_MODULE.SETUP.SURVEY_TAB' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  &lt;!&ndash; Targeting component &ndash;&gt;
  <div *ngIf="currentTab === 'targeting'">
    <app-project-targeting
      [project]="project"
      (newSettings)="updateSettings($event)"
      [showTargetingFieldError]="showTargetingFieldError">
    </app-project-targeting>
  </div>

  &lt;!&ndash; Pitch component &ndash;&gt;
  <div *ngIf="currentTab === 'pitch'">
    <app-project-pitch
      [project]="project"
      [changesSaved]="changesSaved"
      (saveChanges)="saveInnovation($event)"
      [showPitchFieldError]="showPitchFieldError"
      (innovationToPreview)="innovationIndex($event)">
    </app-project-pitch>
  </div>

  &lt;!&ndash; Survey component &ndash;&gt;
  <div *ngIf="currentTab === 'survey'">
    <app-project-survey
      [project]="project"
      (surveyCreated)="!!project.quizId">
    </app-project-survey>
  </div>

</section>

&lt;!&ndash; Modal to ask user to sure about submitting the projects-list &ndash;&gt;
<div class="modal" [ngClass]="{'active': projectToBeSubmitted}">
  <div class="modal-overlay" (click)="closeModal($event)"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="closeModal($event)"></button>
      <div class="modal-title">{{ 'PROJECT_MODULE.SETUP.PITCH.DESCRIPTION.MODAL.TITLE' | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content">{{ 'PROJECT_MODULE.SETUP.PITCH.DESCRIPTION.MODAL.CONTENT' | translate }}</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary btn-sm" (click)="submitProject($event)">
        {{ 'PROJECT_MODULE.SETUP.PITCH.DESCRIPTION.SUBMIT_BUTTON' | translate }}
      </button>
    </div>
  </div>
</div>
&lt;!&ndash; /Modal to ask user to sure about submitting the projects-list &ndash;&gt;


&lt;!&ndash; Innovation preview sidebar &ndash;&gt;
<sidebar [template]="sidebarTemplateValue" (closeSidebar)="closeSidebar($event)">
  <app-innovation-preview [innovation]="project.innovationCards[innovationPreviewIndex]"></app-innovation-preview>
</sidebar>
&lt;!&ndash; /Innovation preview sidebar &ndash;&gt;


&lt;!&ndash; Print innovation &ndash;&gt;
<div id="innovation-card-print">

  &lt;!&ndash; Column 1 &ndash;&gt;
  <div class="column-1">

    &lt;!&ndash; Title &ndash;&gt;
    <h1 class="main-heading">{{ project.innovationCards[innovationPreviewIndex].title }}</h1>

    &lt;!&ndash; Summary &ndash;&gt;
    <div class="summary-text" [innerHTML]="project.innovationCards[innovationPreviewIndex].summary"></div>

    &lt;!&ndash; Image &ndash;&gt;
    <div class="image-wrapper">
      <img
        [src]="getImageSrc(project.innovationCards[innovationPreviewIndex])"
        [alt]="'COMMON.MEDIA_NOT_AVAILABLE' | translate"
        height="146px" width="220px">
    </div>

    &lt;!&ndash; Advantages &ndash;&gt;
    <div class="advantage-wrapper">
      <h1 class="main-heading">{{ 'DISCOVERDESCRIPTION.BENEFITS' | translate }}</h1>
      <ul class="advantages">
        <li *ngFor="let advantage of project.innovationCards[innovationPreviewIndex].advantages">
          {{ advantage.text | FormatText }}
        </li>
      </ul>
    </div>

  </div>
  &lt;!&ndash; Column 1 &ndash;&gt;


  &lt;!&ndash; Column 2 &ndash;&gt;
  <div class="column-2">

    &lt;!&ndash; Title &ndash;&gt;
    <h1 class="main-heading">{{ 'DISCOVERDESCRIPTION.ISSUE' | translate }}</h1>

    &lt;!&ndash; Issues text &ndash;&gt;
    <div class="issue-text" [innerHtml]="project.innovationCards[innovationPreviewIndex].problem"></div>

  </div>
  &lt;!&ndash; /Column 2 &ndash;&gt;


  &lt;!&ndash; Column 3 &ndash;&gt;
  <div class="column-3">

    &lt;!&ndash; Title &ndash;&gt;
    <h1 class="main-heading">{{ 'DISCOVERDESCRIPTION.SOLUTION' | translate }}</h1>

    &lt;!&ndash; Solution text &ndash;&gt;
    <div class="solution-text" [innerHtml]="project.innovationCards[innovationPreviewIndex].solution"></div>

  </div>
  &lt;!&ndash; /Column 3 &ndash;&gt;


</div>
&lt;!&ndash; /Print innovation &ndash;&gt;
-->
