@import "../../../../../../../../style/framework/src/variables";

#innovation-card-print {
  display: none;
}


#setup-component {
  padding-top: 0;
  padding-bottom: 0;


  .section-header {
    padding-top: 1.57rem;

    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .buttons-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: .9375rem;

        span {
          margin-right: 1.2rem;
          margin-bottom: .6rem;
        }

        .circle-check {
          margin-top: -12px;
          margin-left: -11px;
          visibility: hidden;

          i {
            color: white;
          }

        }

        .save-disabled {

          .ghost-primary {
            border-color: $border !important;
            color: $button-disabled-text !important;
            background-color: $border !important;
            cursor: not-allowed;
          }

        }

        .save-active {

          .ghost-primary {
            border-color: $success !important;
            color: #262831  !important;
          }

          .ghost-primary:hover {
            background-color: $hover-background !important;
            box-shadow: none;
          }

          .circle-check {
            background: $success !important;
            visibility: visible;
            animation-name: fadeIn;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
          }

        }

      }

    }

  }


  .section-tabs {

    .tab {

      .tab-item {
        min-width: 150px;
      }

      a {
        border-bottom-width: 4px;
        margin-right: 1.2rem;

        .btn-round {
          display: inline-flex;
          width: 35px;
          height: 35px;
          margin-right: 0.9375rem;
        }

      }

      .pitch-check, .targeting-check, .survey-check {
        background: $border;
        color: $text-primary;
        font-weight: 600;
        font-size: 10px;
      }

      .fa-check {
        margin-right: 0;
        font-size: 14px;
      }

      .complete {
        background-color: $success;
        transition: all 0.15s ease-in-out;
        color: white;
      }

    }

  }


  .section-different {
    padding-top: 3.15rem;
  }


}


/********************************** Media ***************************************/

@media (min-width: 840px) {

  #setup-component {

    .sticky {
      position: sticky;
      background-color: white;
      top: 0;
      box-shadow: $box-shadow;
      z-index: 11;
    }

  }

}

