@import "../../../../../../../style/framework/src/variables";

#executive-pitch {

  .has-error {
    border-color: $alert-color !important;
  }

  .has-success {
    border-color: $success-color !important;
  }

  .content-wrapper {

    &.has-border {

      .text-wrapper {
        min-height: 212px;
      }

    }

  }

}
