<div id="shared-follow-up-admin">

  <!-- emails and finish button -->
  <div class="header-wrapper">

    <!-- emails -->
    <div [ngClass]="{'p-right-40': canAccess(['workflow', 'send'])}" class="email-wrapper">

      <!-- appointment -->
      <div class="email-content">
        <div style="line-height: 1" class="text-bold m-bottom-2">
          <span style="color: #1E3147" class="text-sm m-right-2">
            {{ 'SHARED_FOLLOW_UP.INTERVIEW' | translate }}
          </span>
          <span
            (click)="onClickSee($event, 'interview')"
            *ngIf="canAccess(['workflow', 'view']) || canAccess(['workflow', 'edit'])"
            style="margin-top: 3px"
            class="text-link text-xs">
            {{ 'SHARED_FOLLOW_UP.BUTTON_SEE' | translate }}
          </span>
        </div>

        <div style="line-height: 1" class="text-meta text-medium text-13">
          <span>{{ prosInterview.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }} | </span>
          <span>{{ prosInterviewSent.length }} {{ 'SHARED_FOLLOW_UP.EMAILS_SENT' | translate }} </span>
        </div>
      </div>
      <!-- /appointment -->

      <div class="divider-vert is-lg"></div>

      <!-- open -->
      <div class="email-content">
        <div style="line-height: 1" class="text-bold m-bottom-2">
          <span style="color: #1E3147" class="text-sm m-right-2">
            {{ 'SHARED_FOLLOW_UP.OPENING' | translate }}
          </span>
          <span
            (click)="onClickSee($event, 'opening')"
            *ngIf="canAccess(['workflow', 'view']) || canAccess(['workflow', 'edit'])"
            style="margin-top: 3px"
            class="text-link text-xs">
            {{ 'SHARED_FOLLOW_UP.BUTTON_SEE' | translate }}
          </span>
        </div>

        <div style="line-height: 1" class="text-meta text-medium text-13">
          <span>{{ prosOpening.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }} | </span>
          <span>{{ prosOpeningSent.length }} {{ 'SHARED_FOLLOW_UP.EMAILS_SENT' | translate }} </span>
        </div>
      </div>
      <!-- /open -->

      <div class="divider-vert is-lg"></div>

      <!-- thank -->
      <div class="email-content">
        <div style="line-height: 1"   class="text-bold m-bottom-2">
          <span style="color: #1E3147" class="text-sm m-right-2">
            {{ 'SHARED_FOLLOW_UP.NOFOLLOW' | translate }}
          </span>
          <span
            (click)="onClickSee($event, 'noFollow')"
            *ngIf="canAccess(['workflow', 'view']) || canAccess(['workflow', 'edit'])"
            style="margin-top: 3px"
            class="text-link text-xs">
            {{ 'SHARED_FOLLOW_UP.BUTTON_SEE' | translate }}
          </span>
        </div>

        <div style="line-height: 1" class="text-meta text-medium text-13">
          <span>{{ prosNoFollow.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }} | </span>
          <span>{{ prosNoFollowSent.length }} {{ 'SHARED_FOLLOW_UP.EMAILS_SENT' | translate }} </span>
        </div>
      </div>
      <!-- /thank -->

    </div>
    <!-- /emails -->

    <!-- button -->
    <div *ngIf="canAccess(['workflow', 'send'])" class="text-center">

      <button
        (click)="openModal($event)"
        class="button is-lg"
        id="btn-send-mail">
        {{ 'SHARED_FOLLOW_UP.BUTTON_DONE' | translate }}
      </button>

      <p class="text-meta m-top-2 m-no-bottom text-sm">
        {{ prosWithoutObjective.length }} {{ 'SHARED_FOLLOW_UP.CONTACT_WITHOUT_OBJECTIVE' | translate }}
      </p>

    </div>
    <!-- /button -->

  </div>
  <!-- /emails and finish button -->

  <!-- table -->
  <div class="p-top-30">

    <h6 class="text-sm text-meta m-bottom-10">
      <span class="text-draft">{{ tableInfos._total === -1 ? 0 : tableInfos._total }}</span> contacts /
      <span class="text-draft">{{ prosWithoutObjective.length }}</span>
      {{ 'SHARED_FOLLOW_UP.WITHOUT_OBJECTIVE' | translate }}
    </h6>

    <div>
      <umius-table
        (dropdownAction)="assignObjective($event)"
        (editRow)="seeAnswer($event)"
        (performAction)="performActions($event)"
        [(config)]="config"
        [data]="tableInfos">
      </umius-table>
    </div>

  </div>
  <!-- /table -->

</div>

<!-- answer sidebar -->
<ng-container *ngIf="!!canAccess(['view', 'answer']) || !!canAccess(['edit', 'answer'])">
  <umius-sidebar-full [(template)]="sidebarAnswer">
    <app-sidebar-user-answer
      [adminMode]="canAccess(['edit', 'answer'])"
      [userAnswer]="modalAnswer"
      [projectId]="project._id"
      [innovationCards]="project.innovationCards"
      [questions]="questions">
    </app-sidebar-user-answer>
  </umius-sidebar-full>
</ng-container>
<!-- /answer sidebar -->

<!-- filter sidebar -->
<ng-container *ngIf="!!canAccess()">
  <umius-sidebar-inline [(template)]="sidebarTemplate">
    <app-sidebar-filter-answers
      [answers]="answers"
      [innovation]="project"
      [isViewsEditable]="canAccess(['edit', 'views'])"
      [questions]="questions"
      (selectedAnswers)="updateAnswers($event)"
      [templateType]="sidebarTemplate.type">
    </app-sidebar-filter-answers>
  </umius-sidebar-inline>
</ng-container>
<!-- /filter sidebar -->

<!-- modal for mails -->
<ng-container *ngIf="!!(emailTemplate.name && showEmailsModal && canAccess(['workflow']))">
  <umius-modal [(showModal)]="showEmailsModal" [maxWidth]="'1080px'">
    <section class="modal-body p-top-30 p-bottom-30 p-left-50 p-right-50">

      <!-- heading -->
      <h5 class="title text-lg text-bold text-center">
        {{ 'SHARED_FOLLOW_UP.' + this.modalTemplateType.toUpperCase() | translate }}
      </h5>
      <!-- /heading -->

      <!-- close button -->
      <div style="right: 15px; top: 21px" class="absolute">
        <button (click)="closeModal($event)" class="close text-meta" type="button"></button>
      </div>
      <!-- /close button -->

      <!-- mail wrapper TODO delete the commented part after multilang migration -->
      <!--<div>
        <app-shared-mail-editor
          [isEditableMode]="canAccess(['workflow', 'edit'])"
          [canTestMails]="canAccess(['workflow', 'test'])"
          [templateType]="'FOLLOW-UP'"
          [professionals]="pros"
          [(ccEmail)]="ccEmail"
          [customFields]="customFields"
          (sendTestEmails)="sendTestEmails()"
          [(emailsObject)]="emailsObject">
        </app-shared-mail-editor>
      </div>-->
      <div>
        <app-shared-follow-up-admin-editor
          (sendTestEmails)="sendTestEmails()"
          [isEditableMode]="canAccess(['workflow', 'edit'])"
          [canTestMails]="canAccess(['workflow', 'test'])"
          [professionals]="pros"
          [(ccEmail)]="ccEmail"
          [customFields]="customFields"
          [(emailTemplate)]="emailTemplate">
        </app-shared-follow-up-admin-editor>
      </div>
      <!-- /mail wrapper -->

      <!-- save button -->
      <div *ngIf="canAccess(['workflow', 'edit'])" class="text-center">
        <button
          (click)="saveProject()"
          style="width: 141px"
          class="button">
          {{ 'COMMON.BUTTON.SAVE' | translate }}
        </button>
      </div>
      <!-- /save button -->

    </section>
  </umius-modal>
</ng-container>
<!-- /modal for mails -->

<!-- modal for warning : objective already assigned -->
<ng-container *ngIf="!!canAccess(['edit', 'objective'])">
  <umius-modal [(showModal)]="showWarningModal" [title]="'Objective Board'">

    <section class="modal-body">
      <p>{{ 'SHARED_FOLLOW_UP.MODAL.WARNING_1' | translate }}</p>
      <ul>
        <li *ngFor="let pro of pendingAction.assignedAnswers">
          {{ pro.name }}: {{ 'SHARED_FOLLOW_UP.BUTTON.' + pro.objective | translate }}
        </li>
      </ul>
      <p class="text-sm p-top-10 text-alert">{{ 'SHARED_FOLLOW_UP.MODAL.WARNING_2' | translate }}</p>
    </section>

    <footer class="modal-footer">
      <button class="button modal-cancel">Cancel</button>
      <button
        (click)="updateManyObjectives(pendingAction.answersIds, pendingAction.objective)"
        class="button">
        Confirm
      </button>
    </footer>

  </umius-modal>
</ng-container>
<!-- /modal for warning : objective already assigned -->

<!-- modal for sending emails : are you sure ? -->
<ng-container *ngIf="!!(showSendModal && canAccess(['workflow', 'send']))">
  <umius-modal [(showModal)]="showSendModal">
    <section class="modal-body p-top-30 p-bottom-30 p-left-50 p-right-50">

      <!-- heading -->
      <h5 class="title text-lg text-bold text-center">
        {{ prosInterview.length + prosOpening.length + prosNoFollow.length }}
        {{ 'SHARED_FOLLOW_UP.MODAL.EMAILS_READY' | translate }}
      </h5>
      <!-- /heading -->

      <!-- close button -->
      <div style="right: 15px; top: 21px" class="absolute">
        <button (click)="closeModal($event)" class="close text-meta" type="button"></button>
      </div>
      <!-- /close button -->

      <!-- content -->
      <div style="width: 150px" class="p-bottom-20">
        <div class="columns">

          <!-- image -->
          <div class="column col-sm-12 col-6 col-mx-auto">
            <div class="p-top-15">
              <img
                src="https://res.cloudinary.com/umi/image/upload/v1574086949/pictos/mix/email.svg"
                alt=" "
                class="img-responsive m-auto">
            </div>
          </div>
          <!-- /image -->

          <!-- emails -->
          <div class="column col-sm-12 col-6">
            <div class="d-flex justify-center flex-d-column p-top-40">

              <!-- appointment -->
              <div class="p-top-1 p-bottom-3">

                <div style="line-height: 1; color:#1E3147" class="text-bold m-bottom-2 text-sm">
                  {{ 'SHARED_FOLLOW_UP.INTERVIEW' | translate }}
                </div>

                <div style="line-height: 1" class="text-meta text-medium">
                  {{ prosInterview.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }}
                </div>

              </div>
              <!-- /appointment -->

              <div class="divider is-lg"></div>

              <!-- open -->
              <div class="p-top-2 p-bottom-3">

                <div style="line-height: 1; color:#1E3147" class="text-bold m-bottom-2 text-sm">
                  {{ 'SHARED_FOLLOW_UP.OPENING' | translate }}
                </div>

                <div style="line-height: 1" class="text-meta text-medium">
                  {{ prosOpening.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }}
                </div>

              </div>
              <!-- /open -->

              <div class="divider is-lg"></div>

              <!-- thank -->
              <div class="p-top-2 p-bottom-3">

                <div style="line-height: 1; color:#1E3147" class="text-bold m-bottom-2 text-sm">
                  {{ 'SHARED_FOLLOW_UP.NOFOLLOW' | translate }}
                </div>

                <div style="line-height: 1" class="text-meta text-medium">
                  {{ prosNoFollow.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }}
                </div>

              </div>
              <!-- /thank -->

            </div>
          </div>
          <!-- /emails -->

        </div>
      </div>
      <!-- /content -->

      <!-- button -->
      <div class="text-center">
        <button
          (click)="onClickConfirm($event)"
          [disabled]="loadingButton"
          class="button is-lg">
          {{ 'SHARED_FOLLOW_UP.BUTTON.INFORM_UMI' | translate }}
        </button>
      </div>
      <!-- /button -->

    </section>
  </umius-modal>
</ng-container>
<!-- /modal for sending emails : are you sure ? -->
