<div *ngIf="canAccess()" class="container fluid grid-2xl animate-fade is-5" id="admin-presets-list">
  <div class="column col-sm-12 col-11 col-mx-auto">

    <!-- error message while fetching -->
    <section *ngIf="fetchingError">
      <app-utility-message-error></app-utility-message-error>
    </section>
    <!-- /error message while fetching -->

    <!-- no fetching error -->
    <div *ngIf="!fetchingError" class="p-top-30 p-bottom-30">

      <!-- add button -->
      <section *ngIf="canAccess(['add'])" class="text-right p-bottom-30">
        <button
          (click)="onClickAdd()"
          class="button is-primary is-sm"
          type="button">
          Add questionnaire
        </button>
      </section>
      <!-- /add button -->

      <!-- no questionnaire -->
      <section *ngIf="noResult && total === 0" class="p-top-20">
        <app-message-template [widthMax]="'354px'">
          Don't have any questionnaires?
          <span *ngIf="canAccess(['add'])">
            <br>
            Try to add a one by clicking on "Add" button.
          </span>
        </app-message-template>
      </section>
      <!-- /no questionnaire -->

      <!-- questionnaires -->
      <section *ngIf="!noResult">
        <umius-table
          (editRow)="showPreset($event)"
          (performAction)="onClickActions($event)"
          (removeRows)="OnClickDelete($event)"
          [(config)]="config"
          [data]="table">
        </umius-table>
      </section>
      <!-- /questionnaires -->

    </div>
    <!-- /no fetching error -->

  </div>
</div>


<!-- modal -->
<app-utility-modal
  *ngIf="canAccess(['add']) || canAccess(['clone']) || canAccess(['delete'])"
  [(showModal)]="modalOpen"
  [title]="modalTitle">

  <section class="modal-body">

    <!-- isAdd / isCloneAdd -->
    <div *ngIf="isModalAdd || isModalCloneAdd" class="form-group">
      <label class="form-label" for="add-preset" *ngIf="isModalAdd">Preset Name</label>
      <label class="form-label" for="add-preset" *ngIf="isModalCloneAdd">Preset Clone</label>
      <input
        [(ngModel)]="newPresetName"
        class="form-input is-shadowed"
        id="add-preset"
        name="preset"
        [placeholder]="'Enter the preset name' | translate"
        type="text">
    </div>
    <!-- /isAdd / isCloneAdd -->

    <!-- isDelete -->
    <div *ngIf="isModalDelete">
      <span class="text-medium">Do you really want to delete the selected preset(s)?</span>
      <ul class="d-flex flex-wrap-wrap text-sm m-top-3">
        <li *ngFor="let preset of presetsToRemove" class="m-right-3 m-top-1">
          {{ preset.name }}
        </li>
      </ul>
    </div>
    <!-- /isDelete -->

    <!-- isClone -->
    <div *ngIf="isModalClone">
      <span class="text-medium">Do you really want to clone the selected preset?</span>
      <ul class="text-sm m-top-3">
        <li class="m-top-1">{{ presetToClone.name }}</li>
      </ul>
    </div>
    <!-- /isClone -->

  </section>

  <footer class="modal-footer">

    <button class="button modal-cancel">Cancel</button>

    <!-- isAdd || isCloneAdd -->
    <button
      (click)="isModalAdd ? onAddConfirm() : onClickCloneAdd()"
      *ngIf="isModalAdd || isModalCloneAdd"
      [disabled]="!newPresetName"
      class="button is-primary"
      type="button">
      Confirm
    </button>
    <!-- /isAdd || /isCloneAdd -->

    <!-- isDelete -->
    <button
      (click)="onDeleteConfirm()"
      *ngIf="isModalDelete"
      class="button is-primary"
      type="button">
      Confirm
    </button>
    <!-- /isDelete -->

    <!-- isClone -->
    <button
      (click)="onCloneConfirm()"
      *ngIf="isModalClone"
      class="button is-primary"
      type="button">
      Confirm
    </button>
    <!-- /isClone -->

  </footer>

</app-utility-modal>
<!-- /modal -->
