<section id="admin-presets-list">
  <div class="restrict-width">


    <!-- fetching error -->
    <ng-container *ngIf="fetchingError">
      <div class="a-p-l-error-wrapper d-flex align-center">
        <app-error-template-1 [errorMessage]="'ERROR.ERRORS.FETCHING'"></app-error-template-1>
      </div>
    </ng-container>
    <!-- /fetching error -->


    <!-- no questionnaire -->
    <ng-container *ngIf="!fetchingError && total === 0">
      <div class="a-p-l-create-questionnaire-wrapper d-flex align-center">
        <app-message-template-2 [animation]="true" [ngStyle]="{ 'width': '100%' }">

          <div class="text-center">

            <h4 [innerText]="'PRESETS.NO_PRESETS'" class="text-background" translate></h4>

            <div class="m-top-25">
              <button (click)="onClickAdd()" class="btn btn-primary rounded shadow" type="button">
                <i class="fas fa-plus m-no-left"></i>
                {{ 'COMMON.BUTTON.ADD' | translate }} questionnaire
              </button>
            </div>

          </div>

        </app-message-template-2>
      </div>
    </ng-container>
    <!-- /no questionnaire -->


    <!-- questionnaire -->
    <ng-container *ngIf="!fetchingError && total > 0">

      <!-- add button -->
      <div class="text-right p-bottom-25">
        <button (click)="onClickAdd()" class="btn btn-primary btn-sm rounded shadow" type="button">
          <i class="fas fa-plus m-no-left"></i>
          {{ 'COMMON.BUTTON.ADD' | translate }} questionnaire
        </button>
      </div>
      <!-- /add button -->

      <!-- table -->
      <app-shared-table
        (editRow)="showPreset($event)"
        (removeRows)="OnClickDelete($event)"
        (performAction)="onClickActions($event)"
        [(config)]="config"
        [data]="table">
      </app-shared-table>
      <!-- /table -->

    </ng-container>
    <!-- /questionnaire-->


  </div>
</section>


<!-- modal -->
<app-modal [(showModal)]="modalOpen" [modalTitle]="modalTitle">

  <!-- isAdd -->
  <ng-container *ngIf="isModalAdd || isModalCloneAdd">
    <div class="form-group" [ngStyle]="{ 'max-width': '430px' }">
      <label class="form-label" for="add-preset" *ngIf="isModalAdd">{{ 'COMMON.LABEL.PRESET_NAME' | translate }}</label>
      <label class="form-label" for="add-preset" *ngIf="isModalCloneAdd">Preset Clone</label>
      <input
        [(ngModel)]="newPresetName"
        class="form-input"
        id="add-preset"
        name="preset"
        [placeholder]="'COMMON.PLACEHOLDER.PRESET_NAME' | translate"
        type="text">
    </div>
  </ng-container>
  <!-- /isAdd -->

  <!-- isDelete -->
  <ng-container *ngIf="isModalDelete">
    <div class="text-background text-medium">{{ 'PRESETS.MODAL.DELETE' | translate }}</div>

    <ul class="d-flex flex-wrap text-xs text-notify text-medium m-top-3">
      <li *ngFor="let preset of presetsToRemove" class="m-right-3 m-top-1">
        {{ preset.name }}
      </li>
    </ul>
  </ng-container>
  <!-- /isDelete -->

  <!-- isClone -->
  <ng-container *ngIf="isModalClone">
    <div class="text-background text-medium">{{ 'PRESETS.MODAL.CLONE' | translate }}</div>

    <ul class="d-flex flex-wrap text-xs text-notify text-medium m-top-3">
      <li class="m-right-3 m-top-1">
        {{ presetToClone.name }}
      </li>
    </ul>
  </ng-container>
  <!-- /isClone -->

  <div class="modal-footer">

    <button [innerText]="'COMMON.BUTTON.CANCEL'" class="btn btn-sm btn-cancel" translate></button>

    <!-- isAdd || isCloneAdd -->
    <ng-container *ngIf="isModalAdd || isModalCloneAdd">
      <button
        (click)="isModalAdd ? onAddConfirm() : onClickCloneAdd()"
        [disabled]="!newPresetName"
        [innerText]="'COMMON.BUTTON.CONFIRM'"
        class="btn btn-sm btn-primary"
        translate>
      </button>
    </ng-container>
    <!-- /isAdd || /isCloneAdd -->

    <!-- isDelete -->
    <ng-container *ngIf="isModalDelete">
      <button
        (click)="onDeleteConfirm()"
        [innerText]="'COMMON.BUTTON.CONFIRM'"
        class="btn btn-sm btn-primary"
        translate>
      </button>
    </ng-container>
    <!-- /isDelete -->

    <!-- isClone -->
    <ng-container *ngIf="isModalClone">
      <button
        (click)="onCloneConfirm()"
        [innerText]="'COMMON.BUTTON.CONFIRM'"
        class="btn btn-sm btn-primary"
        translate>
      </button>
    </ng-container>
    <!-- /isClone -->

  </div>

</app-modal>
<!-- /modal -->
