header {
  position: relative;

  .brand-logo {
    margin: 16px 10px;

    span {
      position: absolute;
      bottom: -.75rem;
      right: 0;
      font-size: .75rem;
      line-height: 1rem;
      letter-spacing: .075rem;
    }
  }

  nav {
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
