<div
  class="main-container sidebar-wrapper"
  id="sidebar-wrapper"
  (click)="toggleState($event, content)"
  [@animateWrapper]="state">

  <div
    class="sidebar-content"
    [@animateContent]="state"
    id="sidebar"
    [ngStyle]="{ 'width': size ? size : '452px' }">

    <div #content>

      <!-- Heading -->
      <div class="sidebar-header">
        <div class="column col-xs-12 col-11 col-mx-auto">
          <div class="header-content">
            <span>{{ title | translate }}</span>
            <span><i class="icon icon-cross" id="close" (click)="toggleState($event, content)"></i></span>
          </div>
        </div>
      </div>

      <!-- Content -->
      <ng-content></ng-content>

    </div>

  </div>

</div>
