<div [@animateSidebar]="state" [ngStyle]="{ 'width': size ? size : '452px'  }" class="sidebar is-right">
  <div #content class="sidebar-container">

    <!-- header -->
    <header class="sidebar-header">
      <div class="column col-xs-12 col-11 col-mx-auto">
        <div class="flex-between relative">
          <p class="sidebar-title" [innerText]="title" translate></p>
          <button (click)="toggleState($event, content)" aria-label="close" class="close absolute" id="close" type="button"></button>
        </div>
      </div>
    </header>
    <!-- /header -->

    <!-- content -->
    <section class="sidebar-body p-bottom-50">
      <ng-content></ng-content>
    </section>
    <!-- /content -->

  </div>
</div>
