@import "../../../style/framework/src/variables";

.sidebar {

  .sidebar-container {

    .header {
      background: $primary-gradient-color;
    }

    .sidebar-header {
      color: $light-color;
      padding: 1.1rem 0;

      .title {
        margin-bottom: 0;
      }

      .btn {
        min-width: 0;
      }

    }

  }

}
