<div id="pitch">

  <!-- description edition -->
  <div class="main-wrapper is-description">
    <div class="content-wrapper animate-fade is-5">

      <!-- heading / sub heading -->
      <section class="text-center">
        <h1 class="title is-4 text-bold">{{ 'PROJECT_PITCH.DESCRIPTION.HEADING' | translate }}</h1>
        <h2 class="subtitle">{{ 'PROJECT_PITCH.DESCRIPTION.SUB_HEADING' | translate }}</h2>
      </section>
      <!-- /heading / sub heading -->

      <!-- action buttons -->
      <section>

      </section>
      <!-- /action buttons -->

      <!-- sections -->
      <section
        *ngFor="let section of sections"
        [ngClass]="{ 'is-filled': (section.content && section.content.length),
        'is-not-filled': !(section.content && section.content.length > 0),
        'is-active': activeSection === section.type }"
        class="field-wrapper">

        <!-- header -->
        <div class="flex-between w-full">
          <div class="d-flex align-center m-right-1">
            <span class="m-right-2 field-heading">
              <ng-container *ngIf="section.type === 'ISSUE' || section.type === 'SOLUTION'; else defTitle">
                {{ section.title | InnovCardTitle:section.content:activeInnovCard.lang }}
              </ng-container>
              <ng-template #defTitle>
                {{ section.title }}
              </ng-template>
            </span>
            <span *ngIf="sectionCommentLabel(section.type)" class="label is-primary is-sm text-xs p-left-3 p-right-3">
              {{ 'COMMON.LABEL.COMMENT' | translate }} UMI
            </span>
          </div>
          <span (click)="openSidebar(section.type, section.content)" class="icon-container is-overlay">
            <img src="https://res.cloudinary.com/umi/image/upload/app/default-images/pictos/picto-edit.svg" alt="">
          </span>
        </div>
        <!-- /header -->

        <!-- content -->
        <div
          *ngIf="section.type !== 'MEDIA'"
          [ngStyle]="{'margin-bottom': section.type === 'SUMMARY' ? '-8px' : '0'}"
          [innerHTML]="section.content"
          class="text-sm p-top-h">
        </div>
        <!-- /content -->

        <!-- content for section === 'MEDIA' -->
        <div
          *ngIf="section.type === 'MEDIA'"
          [ngStyle]="{ 'margin-left': '-10px', 'margin-right': '-15px' }"
          class="m-top-10 d-flex flex-wrap">

          <!-- principal media -->
          <div
            *ngIf="activeInnovCard.principalMedia && mediaSrc(activeInnovCard.principalMedia)"
            class="text-center media-wrapper">
            <figure>
              <img
                [src]="mediaSrc(activeInnovCard.principalMedia)"
                alt=" "
                class="img-responsive"
                height="79.5"
                width="120">
            </figure>
            <span class="text-xs p-top-1">{{ 'PROJECT_PITCH.DESCRIPTION.MAIN_MEDIA' | translate }}</span>
          </div>
          <!-- /principal media -->

          <!-- secondary medias -->
          <ng-container *ngIf="section.content && section.content.length > 0">
            <ng-container *ngFor="let media of section.content">
              <div
                *ngIf="mediaSrc(media) &&
                media._id !== (activeInnovCard.principalMedia && activeInnovCard.principalMedia._id)"
                class="media-wrapper">
                <figure>
                  <img
                    [src]="mediaSrc(media)"
                    alt=" "
                    class="img-responsive"
                    height="79.5"
                    width="120">
                </figure>
              </div>
            </ng-container>
          </ng-container>
          <!-- /secondary medias -->

        </div>
        <!-- /content for section === 'MEDIA' -->

      </section>
      <!-- /sections -->

    </div>
  </div>
  <!-- /description edition -->

  <!-- questionnaire -->
  <div class="main-wrapper is-questionnaire">
    <div class="content-wrapper animate-fade is-5">

      <!-- heading / sub heading -->
      <section class="text-center">
        <h1 class="title is-4 text-bold">{{ 'PROJECT_PITCH.QUESTIONNAIRE.HEADING' | translate }}</h1>
        <h2 class="subtitle">{{ 'PROJECT_PITCH.QUESTIONNAIRE.SUB_HEADING' | translate }}</h2>
      </section>
      <!-- /heading / sub heading -->

    </div>
  </div>
  <!-- /questionnaire -->

</div>


<!-- sidebar to edit innovation card field -->
<app-sidebar [(template)]="sidebarValue">
  <app-sidebar-project-pitch
    (saveProject)="onSaveProject($event)"
    [cardContent]="cardContent"
    [(isSaving)]="isSaving"
    [comment]="operatorComment"
    [imagePostUri]="imagePostUri"
    [isEditable]="isEditable"
    [mainMedia]="activeInnovCard.principalMedia"
    [pitchHelp]="pitchHelp"
    [type]="sidebarValue.type">
  </app-sidebar-project-pitch>
</app-sidebar>
<!-- /sidebar to edit innovation card field -->
