@import "~@umius/umi-style-framework/scss/variables";

#pitch {
  display: flex;
  min-height: calc(100vh - 446px);

  .main-wrapper {
    flex: 1;

    .content-wrapper {
      max-width: 666px;
      padding: 35px 70px 50px 70px;

      .subtitle {
        font-size: 18px;
        color: #9E9E9E;
        font-weight: normal;
        margin-bottom: 35px;
      }

    }

    &.is-description {
      background-color: #F5F5F5;

      .content-wrapper {
        margin-left: auto;

        .field-wrapper {
          min-height: 65px;
          max-width: 526px;
          border: 2px solid transparent;
          margin-bottom: 25px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 3px;
          padding: 15px 25px;
          transition: all 0.3s ease;
          overflow: hidden;

          &.is-not-filled {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #000000;
            background-color: transparent;
            border-style: dashed;
            border-color: #C3CBD3;
          }

          &.is-filled {
            background-color: #E2E5E8;
            border-color: #E2E5E8;
            font-size: 18px;

            .field-heading {
              font-weight: $font-weight-bold;
            }

          }

          &.is-active {
            background-color: $draft-color;
            color: $white-color;
            border-color: $draft-color;
            transition: background-color, border 0.5s ease;
          }

          .media-wrapper {
            display: inline-flex;
            flex-direction: column;
            margin: 0 15px 10px 10px;

            img {
              width: 120px;
              height: 79.5px;
            }

          }

        }

      }

    }

    &.is-questionnaire {
      background-color: $white-color;

      .content-wrapper {
        margin-right: auto;

        .preset-wrapper {
          font-size: 14px;

          p {
            font-size: 12px;
            opacity: 0.5;
            font-weight: 600;
            margin: 0;
          }

          .icon {

            &.icon-arrow-down, &.icon-arrow-up {
              color: $primary-color;

              &:before {
                width: 10px;
                height: 10px;
              }

            }

          }

          .label {
            background-color: #B2B2B2;
            color: $white-color;
          }

        }

        .comment-wrapper {
          max-width: 526px;
          margin-left: auto;
          margin-right: auto;

          .divider {
            max-width: 350px;
            margin: 30px auto;
          }

          .form-group {

            textarea {
              font-size: 14px;
              padding: 10px 15px;
            }

          }

        }

      }

    }

  }

}

.authorise-wrapper {
  margin-left: auto;
  margin-right: auto;

  .form-checkbox {
    padding-left: 30px;
    padding-right: 8px;

    .form-icon {
      width: 20px;
      height: 20px;
    }

  }

}

.slider-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;

  &:hover {
  background-color: rgba(10, 10, 10, 0.3);
  color: white;
  transition: ease .5s;
  }
}

.controllers {
  color: white;
  width: 47px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  margin: 5%;
  padding-right: 2px;

  &:hover {
    background-color: rgba(10, 10, 10, 0.3);
    color: white;
    transition: ease .5s;
  }
}


@media screen {

  @media (max-width: $size-xl) {

    #pitch {
      flex-direction: column;

      .main-wrapper {
        max-width: $size-xl;

        &.is-description, &.is-questionnaire {

          .content-wrapper {
            padding-left: 35px;
            padding-right: 35px;
            margin-left: auto;
            margin-right: auto;

            .field-wrapper {
              max-width: 596px;
            }

          }

        }


      }

    }

  }

  @media (max-width: $size-sm) {

    #pitch {

      .main-wrapper {

        &.is-description, &.is-questionnaire {

          .content-wrapper {
            padding-left: 15px;
            padding-right: 15px;

            .action-btn-wrapper {
              flex-wrap: wrap;
              justify-content: center;

              > div {
                margin-right: 0 !important;
                width: 100%;
              }

              .button {
                width: 100%;
              }

            }

          }

        }


      }

    }

  }


}
