@import "../../../../../../../style/framework/src/variables";

#horizontal-stacked-chart {

  .horizontal-stacked-data-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 0;

    li {
      display: inline-flex;
      align-items: center;
      margin-right: 15px;
      font-size: 13px;
    }

    #validation {
    color: darkred;
    font-size: x-large;
      z-index: 100;
  }

  }

}

.max-width-250 {
  max-width: 250px;
}
