<div class="main-container" id="signup">
  <div class="columns">
    <div class="column col-12 col-mx-auto">

      <div class="columns col-gapless">

        <div class="column col-md-6 col-xl-7 col-8 col-mx-auto cover-image"
             [ngStyle]="{ 'background-image': 'url(' + backgroundImage() + ')'}">
        </div>

        <div class="column col-sm-12 col-md-6 col-xl-5 col-4 col-mx-auto signup-container">

          <!-- Logo -->
          <div class="text-center">
            <a href="https://www.umi.us"><img src="{{ getLogo() }}" alt="UMI" height="35px"></a>
          </div>

          <div class="register-container">

            <!-- Bot -->
            <div class="bot-container">
              <span class="bot-text">{{ 'SIGN_UP.SIGN_UP_HELLO' | translate }}</span>
              <br>
              <img src="https://res.cloudinary.com/umi/image/upload/v1526396724/app/default-images/triangle.svg" class="bot-trian">
              <div>
                <img src="https://res.cloudinary.com/umi/image/upload/v1526839959/app/default-images/login-bot.svg" alt="Bot">
              </div>
            </div>

            <!-- Heading -->
            <div class="heading text-center">
              <h2>{{ 'SIGN_UP.HEADING' | translate }}</h2>
            </div>

            <!-- LinkedIn -->
            <div class="social-container text-center" *ngIf="checkIsMainDomain()">
              <a class="primary-button" (click)="linkedInSignUp($event)">
                <span><i class="fab fa-1x fa-linkedin-in"></i>{{ 'SIGN_UP.SIGN_UP_LINKEDIN' | translate }}</span>
              </a>
            </div>

            <!-- Or -->
            <div class="or-container text-center">
              <span> {{ 'COMMON.OR' | translate }} </span>
            </div>

            <!-- Sign up button -->
            <div class="sign-container text-center">
              <a class="primary-button" (click)="onSignUpClick($event)">
                <span><i class="far fa-1x fa-envelope"></i>{{ 'SIGN_UP.SIGN_UP_EMAIL' | translate }}</span>
              </a>
            </div>

            <!-- Sign up sidebar -->
            <app-user-form-sidebar></app-user-form-sidebar>

          </div>

          <!-- Sign in -->
          <div class="signin-container text-center">
            <span [ngStyle]="{ 'font-size': '0.7rem', 'padding-right': '10px' }">{{ 'SIGN_UP.HAVE_ACCOUNT' | translate }}</span>
            <a class="primary-button ghost-button" routerLink="/login">{{ 'COMMON.LOG_IN' | translate }}</a>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
