label
  width 100%

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s 0s; // remove the yellow of autofill
}

.btn-linkedin {
  background: #0177B6;
}

.btn-linkedin:hover {
  background: #00689E;
}
