#sign-up {

  .cover-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    min-height: 100vh;
  }

  .sign-up-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 15px;
    min-height: 100vh;

    .register-wrapper {
      flex: 1 0 auto;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      flex-direction: column;

      .social-wrapper {

        .btn {
          background: #1680B9;
          border-color: #1680B9;
          color: white;
          width: 280px;
          padding-left: 0;
          padding-right: 0;
        }

        .btn:hover {
          background: lighten(#1680B9, 10%);
          border-color: lighten(#1680B9, 10%);
          color: white;
        }

      }

      .or-wrapper {
        padding-top: 25px;
      }

      .sign-wrapper {
        padding-top: 25px;

        .btn {
          width: 280px;
          padding-left: 0;
          padding-right: 0;

          i {
            vertical-align: middle;
          }

        }

      }

    }

    .signin-wrapper {

      .btn-sm {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }

    }

  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  #sign-up {

    .cover-image {
      display: none;
    }

    .heading {
      padding-top: 25px;
    }

  }

}
