<div class="container main-container" [ngStyle]="{ 'background-image': 'url(' + backgroundImage() + ')'}">
  <div class="columns">
    <div class="column col-12 col-mx-auto">

      <!-- Logo -->
      <div class="logo-container text-center">
        <img src="{{ logoName() }}" alt="Logo" height="35px" class="logo">
      </div>
      <!-- /Logo -->

      <!-- Main container -->
      <div class="column col-xs-11 col-sm-11 col-11 col-mx-auto sign-up-container text-center">

        <h1 class="text heading text-left">{{ 'SIGN_UP.SIGN_UP' | translate }}</h1>

        <!-- LinkedIn -->
        <div class="button-container" *ngIf="isMainDomain()">
          <a class="btn primary-button" (click)="linkedInSignIn($event)">
            <span><i class="fab fa-1x fa-linkedin-in"></i>{{ 'SIGN_UP.SIGN_UP_LINKEDIN' | translate }}</span>
          </a>
        </div>
        <!-- /LinkedIn -->

        <!-- Or -->
        <div class="or-container text-center">
          <span>{{ 'COMMON.OR' | translate }}</span>
        </div>
        <!-- /Or -->

        <!-- Sign up button -->
        <div class="signup-button">
          <a class="btn primary-button button-signup">
            <span><i class="far fa-1x fa-envelope"></i>{{ 'SIGN_UP.SIGN_UP_EMAIL' | translate }}</span>
          </a>
        </div>
        <!-- /Sign up button -->

        <!-- Sign in -->
          <p class="text">{{ 'SIGN_UP.HAVE_ACCOUNT' | translate }}
            <a class="text-link" routerLink="/login">{{ 'COMMON.LOG_IN' | translate }}</a>
          </p>
        <!-- /Sign in -->

      </div>
      <!-- /Main container -->

    </div>
  </div>
</div>

<!--
<div class="container section-container">
  <div class="columns">
    <div class="column col-7 col-xl-10 col-md-11 col-mx-auto">
      <h1 *ngIf="!isInvitation">{{ 'SIGN_UP.SIGN_UP_TO_CONTINUE' | translate }}</h1>
      <h1 *ngIf="isInvitation">{{ 'SIGN_UP.SIGN_UP_TO_JOIN_PROJECT' | translate }}</h1>
      <div class="columns">
        <div class="column col-4 left">
          <p>
            {{ 'SIGN_UP.HAVE_ACCOUNT' | translate }}
            <a routerLink="/login">{{ 'COMMON.LOG_IN' | translate }}</a>
          </p>
        </div>
        <div class="column col-8 right">
          <div *ngIf="isMainDomain()">
            <button class="btn btn-lg btn-primary btn-linkedin" (click)="linkedInSignIn($event)">
              {{ 'SIGN_UP.SIGN_UP_LINKEDIN' | translate }}
            </button>
            <div class="divider text-center" [attr.data-content]="'COMMON.OR' | translate"></div>
          </div>
          <button class="btn btn-lg btn-email" (click)="(displayEmailForm = true) && $event.preventDefault()">
            {{ 'SIGN_UP.SIGN_UP_EMAIL' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" [ngClass]="{'active': displayEmailForm}">
  <div class="modal-overlay" (click)="(displayEmailForm = false) && $event.preventDefault()"></div>
  <div class="modal-container signup-form">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="(displayEmailForm = false) && $event.preventDefault()"></button>
      <h2 class="modal-title">{{ 'SIGN_UP.SIGN_UP_EMAIL' | translate }}</h2>
    </div>
    <form novalidate (ngSubmit)="onSubmit($event)" [formGroup]="formData">
      <div class="modal-body">
        <div class="content">
          <div class="columns">
            <div class="column col-6">
              <label>
                <span>{{ 'COMMON.FIRSTNAME' | translate }}</span>
                <input type="text" placeholder="John" formControlName="firstName">
              </label>
              <div class="error"
                   *ngIf="formData.get('firstName').hasError('required') && formData.get('firstName').touched">
                {{ 'COMMON.REQUIRED.FIRSTNAME' | translate }}
              </div>
            </div>

            <div class="column col-6">
              <label>
                <span>{{ 'COMMON.LASTNAME' | translate }}</span>
                <input type="text" placeholder="Doe" formControlName="lastName">
              </label>
              <div class="error"
                   *ngIf="formData.get('lastName').hasError('required') && formData.get('lastName').touched">
                {{ 'COMMON.REQUIRED.LASTNAME' | translate }}
              </div>
            </div>

            <div class="column col-6">
              <label>
                <span>{{ 'COMMON.COMPANY' | translate }}</span>
                <input type="text" placeholder="{{domainCompanyName}}" formControlName="companyName">
              </label>
              <div class="error"
                   *ngIf="formData.get('companyName').hasError('required') && formData.get('companyName').touched">
                {{ 'COMMON.REQUIRED.COMPANY' | translate }}
              </div>
            </div>

            <div class="column col-6">
              <label>
                <span>{{ 'COMMON.JOBTITLE' | translate }}</span>
                <input type="text" [placeholder]="'SIGN_UP.EXAMPLE_JOBTITLE' | translate" formControlName="jobTitle">
              </label>
              <div class="error"
                   *ngIf="formData.get('jobTitle').hasError('required') && formData.get('jobTitle').touched">
                {{ 'COMMON.REQUIRED.JOBTITLE' | translate }}
              </div>
            </div>

            <div class="column col-6">
              <label>
                <span>{{ 'COMMON.EMAIL' | translate }}</span>
                <input type="email" placeholder="john.doe@gmail.com" formControlName="email">
              </label>
              <div class="error"
                   *ngIf="formData.get('email').hasError('required') && formData.get('email').touched">
                {{ 'COMMON.REQUIRED.EMAIL' | translate }}
              </div>
              <div class="error"
                   *ngIf="formData.get('email').hasError('email') && formData.get('email').touched">
                {{ 'COMMON.INVALID.EMAIL' | translate }}
              </div>
            </div>

            <div class="column col-6">
              <label>
                <span>{{ 'COMMON.PASSWORD' | translate }}</span>
                <input type="password" placeholder="••••••••••" formControlName="password">
              </label>
              <div class="error"
                   *ngIf="formData.get('password').hasError('required') && formData.get('password').touched">
                {{ 'COMMON.REQUIRED.PASSWORD' | translate }}
              </div>
              <div class="error"
                   *ngIf="formData.get('password').hasError('minlength') && formData.get('password').touched">
                {{ 'COMMON.INVALID.PASSWORD_TOO_SHORT' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>{{'SIGN_UP.SIGNUP_MESSAGE' | translate}}</p>
        <button type="submit" class="btn btn-primary submit-button" [disabled]="formData.invalid">{{ 'SIGN_UP.SIGN_UP_BTN' | translate }}</button>
      </div>
    </form>
  </div>
</div>
-->
