<div [id]="'section-' + sectionIndex" class="shared-questionnaire-section">

  <!-- header -->
  <div class="header-wrapper flex-between w-full">

    <!-- move button / description -->
    <div class="d-flex align-center m-bottom-10 w-full">

      <div
        *ngIf="isEditable || canAccess(['section', 'order'])"
        data-tooltip="Move section"
        class="move-arrows tooltip">
        <i (click)="up($event)" [ngClass]="{'disabled': sectionIndex === 0}" class="icon icon-arrow-up"></i>
        <i
          (click)="down($event)"
          [ngClass]="{'disabled': sectionIndex === (sections.length - 1)}"
          class="icon icon-arrow-down">
        </i>
      </div>

      <!-- view -->
      <ng-container *ngIf="!editSection">

        <label class="tooltip m-right-20" data-tooltip="Section type">
          <select class="form-select is-sm" disabled>
            <option>{{ isLibraryView? (cardSectionName() | titlecase) : (cardSectionTitle() | titlecase)}}</option>
          </select>
        </label>

        <div class="d-flex flex-wrap-wrap w-full justify-end">
          <div
            *ngIf="languageSelected"
            class="m-right-20 d-flex align-center tooltip"
            data-tooltip="Section name">
              <label class="form-label text-normal text-white m-right-2 m-no-bottom">
                {{ 'COMMON.LANG.' + languageSelected | uppercase | translate }}:
              </label>
            <span [lang]="languageSelected" class="w-full"> {{ sectionName(languageSelected) }} </span>
          </div>
        </div>

      </ng-container>
      <!-- /view -->

      <!-- edit -->
      <ng-container *ngIf="editSection">

        <ng-container *ngIf="isLibraryView; else defCardSection">
          <ng-container *ngIf="accessPath.length && !canAccess(['section', 'edit', 'type']); else defSEditType">
            <p class="m-right-20 m-no-bottom">{{ section.type | titlecase }}</p>
          </ng-container>
          <ng-template #defSEditType>
            <label class="m-right-20">
              <select (change)="notifyChanges()" [(ngModel)]="section.type" class="form-select is-sm">
                <option *ngFor="let type of sectionTypes" [ngValue]="type">{{type | titlecase}}</option>
              </select>
            </label>
          </ng-template>
        </ng-container>

        <ng-template #defCardSection>
        <label class="m-right-20" >
            <select
              #identifier
              (change)="onChangeCardSection(identifier.value)"
              [id]="section.type | lowercase"
              class="form-select is-sm">
              <option>{{ cardSectionTitle() | titlecase }}</option>
              <option>--------------</option>
              <ng-container *ngFor="let cardSection of cardsSections[languageSelected]">
                <ng-container *ngIf="cardSectionTitle() !== cardSection.title">
                  <option [value]="cardSection._id">{{ cardSection.title }}</option>
                </ng-container>
              </ng-container>
              <option *ngIf="section.type !== 'NOTHING'" [value]="'NOTHING'">Nothing</option>
            </select>
          </label>

        </ng-template>

        <!-- name -->
        <div class="m-right-20 d-flex align-center">
          <label class="form-label text-normal text-white m-right-2 m-no-bottom">
            {{ 'COMMON.LANG.' + languageSelected | uppercase | translate }}:
          </label>
          <ng-container *ngIf="accessPath.length && !canAccess(['section', 'edit', 'name']); else defSEditName">
            <p [lang]="languageSelected" class="m-no-bottom">{{ sectionName(languageSelected) }}</p>
          </ng-container>
          <ng-template #defSEditName>
            <input
              #name
              (change)="onChangeName(name.value, languageSelected)"
              [ngModel]="sectionName(languageSelected)"
              [lang]="languageSelected"
              class="form-input is-sm"
              type="text">
          </ng-template>
        </div>
        <!-- /name -->

      </ng-container>
      <!-- /edit -->

    </div>
    <!-- /move button / description -->

    <!-- edit / delete buttons -->
    <div class="d-flex align-center">

      <!-- delete -->
      <div
        (click)="removeSection($event)"
        *ngIf="editSection && (isEditable || canAccess(['section', 'delete']))"
        [id]="'sharedQuestionnaireSection-btn-delete-section'"
        class="icon-container is-overlay m-bottom-10 m-right-15">
        <span data-tooltip="Delete" class="tooltip">
          <i class="icon icon-delete text-white"></i>
        </span>
      </div>
      <!-- /delete -->

      <!-- edit -->
      <div
        (click)="editSection = !editSection"
        *ngIf="isEditable || canAccess(['section', 'edit'])"
        [id]="'sharedQuestionnaireSection-btn-edit-section'"
        class="icon-container is-overlay m-bottom-10 m-right-15">
        <span [attr.data-tooltip]="editSection ? 'Stop editing' : 'Edit'" class="tooltip">
          <img [src]="picto.edit.white" alt=" " class="img-responsive">
        </span>
      </div>
      <!-- /edit -->

      <!-- collapse -->
      <div
        (click)="isCollapsed = !isCollapsed"
        class="icon-container is-overlay m-bottom-10">
        <span [attr.data-tooltip]="isCollapsed ? 'Expand section' : 'Collapse section'" class="tooltip">
          <i [ngClass]="isCollapsed ? 'icon-arrow-up' : 'icon-arrow-down'" class="icon text-white"></i>
        </span>
      </div>
      <!-- /collapse -->

    </div>
    <!-- /edit / delete buttons -->

  </div>
  <!-- /header -->

  <!-- questions -->
  <ng-container *ngIf="section.questions.length > 0">
    <div

      *ngFor="let ques of section.questions; let i = index;"
      [ngStyle]="{'width': '95%', 'display': isCollapsed ? 'none' : 'block'}"
      class="m-top-2 m-left-auto">

      <!-- library -->
      <ng-container *ngIf="isLibraryView; else defQuesView">
        <app-shared-questionnaire-question
          (valueToSave)="valueToSave.emit($event)"
          [accessPath]="accessPath.concat(['question'])"
          [isEssential]="ques['essential']"
          [isLibraryView]="true"
          [questionIndex]="i"
          [languageSelected]="languageSelected"
          [question]="ques['question']"
          [sectionIndex]="sectionIndex">
        </app-shared-questionnaire-question>
      </ng-container>
      <!-- /library -->

      <!-- default -->
      <ng-template #defQuesView>
        <app-shared-questionnaire-question
          [isEditable]="isEditable"
          [questionIndex]="i"
          [question]="ques"
          [languageSelected]="languageSelected"
          [sectionIndex]="sectionIndex">
        </app-shared-questionnaire-question>
      </ng-template>
      <!-- /default -->

    </div>
  </ng-container>
  <!-- /questions -->

  <!-- add question -->
  <ng-container *ngIf="isEditable || (canAccess(['question', 'add']) && isLibraryView)">
    <div *ngIf="!isCollapsed" class="text-center m-top-25 m-bottom-50">
      <button
        (click)="addNewQuestion($event)"
        [id]="'sharedQuestionnaireSection-btn-add-question'"
        class="button is-outlined is-draft text-bold is-sm p-2"
        type="button">
        <span class="icon-container is-sm is-overlay active m-right-10">
          <i class="icon icon-plus"></i>
        </span>
        Add a new question
      </button>
    </div>
  </ng-container>
  <!-- /add question -->

</div>


<umius-modal *ngIf="isLibraryView && showModal" [(showModal)]="showModal" [maxWidth]="'840px'">

  <section class="modal-body">

    <h2 class="title is-4 text-center text-bold m-bottom-30">Add question</h2>

    <p class="m-bottom-15">Select the way you would like to add the question.</p>

    <!-- from scratch -->
    <div class="form-group">
      <label class="form-radio">
        <input
          (change)="onChangeAddQuestion('SCRATCH')"
          [checked]="questionToAdd.from === 'SCRATCH'"
          name="addQuestion"
          type="radio"
          value="SCRATCH">
        <i class="form-icon"></i> From Scratch
      </label>
    </div>

    <div *ngIf="questionToAdd.from === 'SCRATCH'" class="mxw-600 m-left-auto m-right-auto">

      <div class="form-group mxw-400 m-right-auto p-top-20">
        <label class="form-label">Type*</label>
        <select [(ngModel)]="questionToAdd.value['controlType']" class="form-select is-sm " required>
          <option [ngValue]="''" selected>{{ 'COMMON.QUESTIONNAIRE_TYPE.CHOOSE' | translate }}</option>
          <option value="radio">{{ 'COMMON.QUESTIONNAIRE_TYPE.radio' | translate }}</option>
          <option value="checkbox">{{ 'COMMON.QUESTIONNAIRE_TYPE.checkbox' | translate }}</option>
          <option value="textarea">{{ 'COMMON.QUESTIONNAIRE_TYPE.textarea' | translate }}</option>
          <option value="scale">{{ 'COMMON.QUESTIONNAIRE_TYPE.scale' | translate }}</option>
          <option value="stars">{{ 'COMMON.QUESTIONNAIRE_TYPE.stars' | translate }}</option>
          <option value="ranking">{{ 'COMMON.QUESTIONNAIRE_TYPE.ranking' | translate }}</option>
          <option value="likert-scale">{{ 'COMMON.QUESTIONNAIRE_TYPE.likert-scale' | translate }}</option>
        </select>
      </div>

      <div class="form-group p-top-20 p-bottom-20">
        <label class="form-label">Identifier*</label>
        <div class="flex-between w-full">
          <div class="mxw-400 w-full">
            <input
              (ngModelChange)="onChangeIdentifier($event)"
              [ngModel]="questionToAdd.value['identifier']"
              class="form-input is-sm"
              maxlength="23"
              placeholder="Enter the unique identifier. Like: ContactOwner"
              required
              type="text">
          </div>
          <div>
            <button
              (click)="onCheckAvailability($event)"
              [disabled]="!questionToAdd.value['identifier'] || isCheckingAvailability || isAvailableIdentifier"
              class="button is-outlined is-sm m-left-25">
              <ng-container *ngIf="!isCheckingAvailability">Check availability</ng-container>
              <ng-container *ngIf="isCheckingAvailability"><span class="loading is-primary"></span></ng-container>
            </button>
          </div>
        </div>
        <ng-container
          *ngIf="!identifierError.letter && !identifierError.exist && !isAvailableIdentifier; else showIdentText">
          <p class="text-xs text-alert text-medium m-top-2 m-bottom-h">Note:</p>
          <ul class="text-xs text-meta text-medium m-left-2 m-no">
            <li class="m-top-h">Should be less than or equal to 23.</li>
            <li class="m-top-h">Try to have only characters ex: ContactOwner.</li>
            <li class="m-top-h">Should be an unique.</li>
            <li class="m-top-h">Not case sensitive means ContactOwner or contactOwner is same.</li>
            <li class="m-top-h">Two question can not have same identifier.</li>
            <li class="m-top-h">Once defined can not be changed later.</li>
          </ul>
        </ng-container>
        <ng-template #showIdentText>
          <ng-container *ngIf="isAvailableIdentifier; else identError">
            <p class="form-error text-success">The identifier is available.</p>
          </ng-container>
          <ng-template #identError>
            <p class="form-error">
              <ng-container *ngIf="identifierError.exist">The identifier is already assigned to a question.</ng-container>
              <ng-container *ngIf="identifierError.letter">The identifier should only contains characters.</ng-container>
            </p>
          </ng-template>
        </ng-template>
      </div>

    </div>
    <!-- /from scratch -->

    <!-- from library -->
    <div class="form-group">
      <label class="form-radio">
        <input
          (change)="onChangeAddQuestion('LIBRARY')"
          [checked]="questionToAdd.from === 'LIBRARY'"
          name="addQuestion"
          type="radio"
          value="LIBRARY">
        <i class="form-icon"></i> From Library
      </label>
    </div>

    <ng-container *ngIf="questionToAdd.from === 'LIBRARY'">
      <div [ngStyle]="{'min-height': '180px'}" class="m-top-10 m-bottom-30">
        <div class="mxw-450 m-left-auto m-right-auto">
          <umius-auto-suggestion
            (valueSelected)="questionSelected($event)"
            [config]="searchConfig"
            [isSmallInput]="true">
          </umius-auto-suggestion>
        </div>
        <div
          *ngFor="let value of questionToAdd.value"
          [attr.data-tooltip]="value.label"
          class="label  is-rounded is-sm m-top-15 m-right-10 m-left-10 tooltip is-multiline">
          <span class="text-ellipsis w-120 m-right-2">{{ value.label }}</span>
          <span class="icon-container is-xs is-overlay text-white">
            <i (click)="onRemoveFromList(value['ques']['question']['_id'])" class="icon icon-cross"></i>
          </span>
        </div>
      </div>
    </ng-container>
    <!-- /from library -->

  </section>

  <footer class="modal-footer justify-center">

    <button
      (click)="closeModal()"
      [id]="'btn-cancel'"
      class="button modal-cancel"
      type="button">
      Cancel
    </button>

    <button
      (click)="onAddQuestion($event)"
      [disabled]="isDisabled"
      class="button "
      type="button">
      Add
    </button>

  </footer>

</umius-modal>
