<div [id]="'section-' + sectionIndex" class="shared-questionnaire-section">

  <!-- header -->
  <div class="header-wrapper flex-between">

    <!-- move button / description -->
    <div class="d-flex align-center m-bottom-10">

      <div *ngIf="isEditable" data-tooltip="Move section" class="move-arrows tooltip">
        <i (click)="up($event)" [ngClass]="{'disabled': sectionIndex === 0}" class="icon icon-arrow-up"></i>
        <i
          (click)="down($event)"
          [ngClass]="{'disabled': sectionIndex === (sections.length - 1)}"
          class="icon icon-arrow-down">
        </i>
      </div>

      <ng-container *ngIf="!editSection">

        <label class="m-right-20">
          <select class="form-select is-sm" disabled>
            <option>{{ section.identifier || section.type | titlecase }}</option>
          </select>
        </label>

        <div class="d-flex flex-wrap">
          <div *ngFor="let lang of questionnaireLangs" class="m-right-20 d-flex align-center">
            <ng-container *ngIf="questionnaireLangs.length > 1">
              <label [for]="lang" class="form-label text-normal text-white m-right-2 m-no-bottom">
                {{ 'COMMON.LANG.' + lang | uppercase | translate }}:
              </label>
            </ng-container>
            {{ sectionName(lang) }}
          </div>
        </div>

      </ng-container>

      <ng-container *ngIf="editSection">

        <ng-container *ngIf="sectionsNames.length > 0; else types">
          <label class="m-right-20">
            <select (change)="notifyChanges()" [(ngModel)]="section.identifier" class="form-select is-sm">
              <option *ngFor="let name of sectionsNames; let idx = index" [ngValue]="idx">{{ name }}</option>
              <option [ngValue]="'nothing'">Nothing</option>
            </select>
          </label>
        </ng-container>

        <ng-template #types>
          <label class="m-right-20">
            <select (change)="notifyChanges()" [(ngModel)]="section.type" class="form-select is-sm">
              <option *ngFor="let section of sections" [ngValue]="section.type">{{section.type | titlecase}}</option>
            </select>
          </label>
        </ng-template>

        <!-- name -->
        <div *ngFor="let lang of questionnaireLangs" class="m-right-20 d-flex align-center">
          <label [for]="lang" class="form-label text-normal text-white m-right-2 m-no-bottom">
            {{ 'COMMON.LANG.' + lang | uppercase | translate }}:
          </label>
          <input
            #name
            (change)="onChangeName(name.value, lang)"
            [attr.placeholder]="'Section name in ' + (lang === 'fr' ? 'French' : 'English')"
            [id]="lang"
            [ngModel]="sectionName(lang)"
            class="form-input is-sm"
            type="text">
        </div>
        <!-- /name -->

      </ng-container>

    </div>
    <!-- /move button / description -->

    <!-- edit / delete buttons -->
    <div class="d-flex align-center">

      <!-- delete -->
      <div
        (click)="removeSection($event)"
        *ngIf="editSection && isEditable"
        [id]="'sharedQuestionnaireSection-btn-delete-section'"
        class="icon-container is-overlay m-bottom-10 m-right-15">
        <span data-tooltip="Delete" class="tooltip">
          <i class="icon icon-delete text-white"></i>
        </span>
      </div>
      <!-- /delete -->

      <!-- edit -->
      <div
        (click)="editSection = !editSection"
        *ngIf="isEditable"
        [id]="'sharedQuestionnaireSection-btn-edit-section'"
        class="icon-container is-overlay m-bottom-10 m-right-15">
        <span [attr.data-tooltip]="editSection ? 'Stop editing' : 'Edit'" class="tooltip">
          <img [src]="picto.edit.white" alt=" " class="img-responsive">
        </span>
      </div>
      <!-- /edit -->

      <!-- collapse -->
      <div
        (click)="isCollapsed = !isCollapsed"
        class="icon-container is-overlay m-bottom-10">
        <span [attr.data-tooltip]="isCollapsed ? 'Expand section' : 'Collapse section'" class="tooltip">
          <i [ngClass]="isCollapsed ? 'icon-arrow-up' : 'icon-arrow-down'" class="icon text-white"></i>
        </span>
      </div>
      <!-- /collapse -->

    </div>
    <!-- /edit / delete buttons -->

  </div>
  <!-- /header -->

  <!-- questions -->
  <ng-container *ngIf="section.questions.length > 0">
    <div
      *ngFor="let question of section.questions; let i = index;"
      [ngStyle]="{'width': '95%', 'display': isCollapsed ? 'none' : 'block'}"
      class="m-top-2 m-left-auto">
      <app-shared-questionnaire-question
        [isEditable]="isEditable"
        [questionIndex]="i"
        [question]="question"
        [sectionIndex]="sectionIndex">
      </app-shared-questionnaire-question>
    </div>
  </ng-container>
  <!-- /questions -->

  <!-- add question -->
  <ng-container *ngIf="isEditable">
    <div *ngIf="!isCollapsed " class="text-center m-top-25 m-bottom-50">
      <button
        (click)="addNewQuestion($event)"
        [id]="'sharedQuestionnaireSection-btn-add-question'"
        class="button is-outlined is-draft text-bold is-sm"
        type="button">
        <span class="icon-container is-sm is-overlay active m-right-10">
          <i class="icon icon-plus"></i>
        </span>
        Add question
      </button>
    </div>
  </ng-container>
  <!-- /add question -->

</div>
