@import "~@umius/umi-style-framework/scss/variables";

#error-template-1 {

  .et1-message-wrapper {
    max-width: 75%;
  }

}

@media (max-width: $size-sm) {

  #error-template-1 {

    .et1-message-wrapper {
      order: 2;
      max-width: 100%;
    }

  }

}
