<div class="project-form-wrapper">
  <div class="column col-11 col-mx-auto">
    <form novalidate [formGroup]="formData" (ngSubmit)="onSubmit()">

      <!-- Save only -->
      <div class="text-right submit-wrapper" *ngIf="isBlacklist || isAddEmail">
        <button type="submit" class="btn btn-primary">
          {{'COMMON.SAVE' | translate}}
        </button>
      </div>

      <!-- Email -->
      <div class="form-group" *ngIf="isBlacklist">
        <label class="form-label" for="email">{{ 'COMMON.EMAIL' | translate }}</label>
        <input
          class="form-default"
          formControlName="email"
          id="email"
          type="email"
          placeholder="john@catco.com">
        <div class="form-error" *ngIf="formData.get('email').touched && formData.get('email').invalid">
          <span *ngIf="formData.get('email').hasError('required')">{{ 'COMMON.REQUIRED.EMAIL' | translate }}</span>
          <span *ngIf="formData.get('email').hasError('email') && formData.get('email').value !== ''">{{ 'COMMON.INVALID.EMAIL' | translate }}</span>
        </div>
      </div>

      <!-- Expiration Date -->
      <div class="form-group" *ngIf="isBlacklist">
        <label class="form-label" for="expirationDate">{{ 'COMMON.EXPIRATION' | translate }}</label>
        <div class="form-group-inline-left">
          <input type="checkbox" [checked]="formData.value.expiration === ''"
                 (change)="resetExpirationDate($event.srcElement.checked)"/>
          <label class="form-label">{{'COMMON.NEVER' | translate}}</label>
        </div>
        <label class="form-label" for="expirationDate">{{ 'COMMON.EXPIRATION-SPECIFY' | translate }}</label>
        <input
          class="form-default"
          formControlName="expiration"
          [value]="formData.value.expiration | date:'yyyy-MM-dd'"
          id="expirationDate"
          type="date">
      </div>

      <!-- Add email -->
      <div class="form-group" *ngIf="isAddEmail">
        <label class="form-label">{{ 'COMMON.ADD-EMAIL' | translate }}</label>
        <div class="input-group">
          <app-input-list (update)="addEmail($event)" [config]="{initialData: formData.get('email').value}">
          </app-input-list>
        </div>
      </div>

    </form>
  </div>
</div>
