<section id="admin-workflow-library-component">

  <div class="text-right">
    <button type="button" (click)="onClickAdd()" class="btn btn-primary">Add</button>
  </div>

  <ng-container *ngIf="scenarios.length > 0">
    <div *ngFor="let scenario of scenarios" class="section-light-pad rm-pad-bottom">
      <app-admin-edit-workflow
        [scenario]="scenario"
        (scenarioChange)="updateScenario($event)"
        [signatures]="signatures"
        (deletedScenario)="deleteScenario($event)">
      </app-admin-edit-workflow>
    </div>
  </ng-container>

</section>


<!-- modal to add the new workflow -->
<app-modal [(showModal)]="modalAdd" [modalTitle]="'COMMON.MODAL.TITLE_CREATE'">

  <div class="form-group">
    <label class="form-label" for="add-workflow">Workflow Name</label>
    <input
      type="text"
      id="add-workflow"
      [(ngModel)]="newScenarioName"
      name="scenarioName"
      placeholder="Enter the workflow name"
      class="form-input">
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" (click)="onClickConfirm()" [disabled]="!newScenarioName">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </div>

</app-modal>
<!-- /modal to add the new workflow -->
