<form #f="ngForm" novalidate (ngSubmit)="f.form.valid && addProposition(answer); (answer = undefined)">

  <div class="flex-between">
    <input
      type="text"
      class="form-input"
      name="answers"
      [(ngModel)]="answer"
      required
      [attr.placeholder]="placeholder | translate">
    <button class="btn btn-round btn-primary" translate><i class="fas fa-plus"></i></button>
  </div>

  <ul *ngFor="let a of answerList; index as i" class="input-answer-wrapper">

    <ng-container *ngIf="!adminMode">
      <li>
        <span>{{ a.text }}</span>
        <a class="delete" aria-label="Close" role="button" (click)="rmProposition(i)">
          <img src="https://res.cloudinary.com/umi/image/upload/app/delete.svg" width="" height="" alt=" ">
        </a>
      </li>
    </ng-container>

    <ng-container *ngIf="adminMode">
      <li>

        <span>{{ a.text }}</span>

        <div class="popover popover-left">

          <i class="fas fa-pencil-alt"></i>

          <div class="popover-container">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label>
                    <input autocomplete="off" type="text" class="form-input" id="text" [(ngModel)]="a.text" name="text"/>
                  </label>
                </div>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-primary btn-xs" type="submit" (click)="updateItem($event)">Update</button>
              </div>
            </div>
          </div>

        </div>

        <i class="fas fa-thumbs-up" [ngClass]="{ 'active': a.rating === 2 }" (click)="thumbsUp($event, i)"></i>

        <i class="fas fa-thumbs-down" [ngClass]="{'active': a.rating === 0}" (click)="thumbsDown($event, i)"></i>

        <a class="delete" aria-label="Close" role="button" (click)="rmProposition(i)">
          <img src="https://res.cloudinary.com/umi/image/upload/app/delete.svg" width="" height="" alt=" ">
        </a>

      </li>
    </ng-container>

  </ul>

</form>
