@import "../../../../style/framework/src/variables";
@import "../../../../style/framework/src/mixins";

#input-list {

  .il-input-form {

    label {
      width: 80%;
    }

    .form-input {
      border-color: $border-color;
    }

    .button.is-action {
      box-shadow: $box-shadow-5;
      height: 2.5rem;
      width: 2.5rem;

      i {
        font-size: $font-icon-md;
      }

      &:hover {
        transform: scale(1.08);
      }

    }

  }

  .il-answer-wrapper {
    margin: 1rem 0 0 0;
    list-style: none;

    li {
      @include control-transition();
      margin-top: 0.5rem;
      border-radius: $border-radius;
      background-color: #F8F4F4;
      padding: $unit-2 $unit-2 $unit-2 $unit-3;

      &:first-child {
        margin-top: 0;
      }

      .il-answer, .il-icons-wrapper {
        display: flex;
        align-items: center;
      }

      .il-answer {
        width: 100%;

        label {
          width: 90%;
        }

      }

      .il-icons-wrapper {

        .il-icon-wrapper {
          @include inline-flex-centered();
          width: 35px;
          height: 35px;
          position: relative;
          text-align: center;
          margin-right: $unit-2;
        }

        .icon-overlay {

          &:hover {

            &::before {
              background-color: rgba(0, 0, 0, 0.04);
            }

          }

        }

        .icon, .fa-thumbs-up, .fa-thumbs-down {
          font-size: $font-icon-md;
        }

        .fa-thumbs-up, .fa-thumbs-down {
          color: $meta-color;
        }

        .fa-thumbs-up {

          &.active {
            color: $success-color;
          }

        }

        .fa-thumbs-down {

          &.active {
            color: $alert-color;
          }

        }

      }

    }

  }

}
