<div id="input-list">
  <form #f="ngForm" (ngSubmit)="f.form.valid && addProposition(answer); (answer = undefined)" novalidate>

    <!-- input area -->
    <div class="flex-between input-form">

      <label class="m-right-2">
        <input
          type="text"
          class="form-input"
          name="answers"
          [(ngModel)]="answer"
          required
          [attr.placeholder]="placeholder | translate">
      </label>

      <button type="submit" class="button is-action is-circled is-primary is-no-hover-effect p-no">
        <i class="icon icon-plus"></i>
      </button>

    </div>
    <!-- /input area -->

    <!-- answers area -->
    <ul class="input-list-answer-wrapper">
      <li *ngFor="let answer of answerList; let i = index" class="flex-between">

        <div class="answer-wrapper d-flex align-center text-sm text-primary-dark text-medium m-right-2">

          <span *ngIf="!(enableUpdate && i === indexNumber)">{{ answer.text }}</span>

          <label *ngIf="enableUpdate && i === indexNumber">
            <input
              autocomplete="off"
              type="text"
              class="form-input is-sm"
              [name]="'text' + [i]"
              [ngModel]="answerList[i].text"
              #updateAnswer
              (keyup.enter)="updateProposition($event, i, updateAnswer.value)">
          </label>

        </div>

        <div class="icons-wrapper d-flex align-center p-left-3">

          <!-- edit icon -->
          <div
            [attr.data-tooltip]="(!(enableUpdate && i === indexNumber) ? 'COMMON.TOOLTIP.EDIT' : 'COMMON.TOOLTIP.READONLY') | translate"
            class="text-center m-right-2 icon-wrapper tooltip relative">
            <span (click)="onClickEdit($event, i)" class="icon-overlay">
              <i class="icon icon-edit text-notify"></i>
            </span>
          </div>
          <!-- /edit icon -->

          <!-- if admin mode -->
          <ng-container *ngIf="adminMode">

            <!-- thumbs-up icon -->
            <div class="text-center m-right-2 icon-wrapper relative">
              <span (click)="thumbsUp($event, i)" class="icon-overlay">
                <i [ngClass]="{ 'active': answer.rating === 2 }" class="fas fa-thumbs-up c-hand"></i>
              </span>
            </div>
            <!-- /thumbs-up icon -->

            <!-- thumbs-down icon -->
            <div class="text-center m-right-2 icon-wrapper relative">
              <span (click)="thumbsDown($event, i)" class="icon-overlay">
                <i [ngClass]="{ 'active': answer.rating === 0 }" class="fas fa-thumbs-down c-hand"></i>
              </span>
            </div>
            <!-- /thumbs-down icon -->

          </ng-container>
          <!-- /if admin mode -->

          <!-- delete icon -->
          <div [attr.data-tooltip]="'COMMON.TOOLTIP.DELETE' | translate" class="text-center p-bottom-h icon-wrapper tooltip relative">
            <span (click)="removeProposition(i)" class="icon-overlay">
              <i class="icon icon-delete text-alert"></i>
            </span>
          </div>
          <!-- /delete icon -->

        </div>

      </li>
    </ul>
    <!-- answers area -->

  </form>
</div>

