@import "../../../../../../style/variables";

#synthesis-complete {

  .message-wrapper {
    background-color: $validation-color;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: .95rem;
    text-align: center;

    p {
      padding-bottom: 0;
    }

  }

  .spinner-wrapper {
    padding-top: 3.15rem;
  }

}

