@import "../../../../../../style/framework/src/variables";

#synthesis-complete-component {

  .no-found-wrapper {
    padding-top: 5rem;
    padding-bottom: 2.15rem;
  }

  .report-wrapper {
    background-color: $page-color;
  }

}
