<section id="synthesis-complete-component">

  <!-- message -->
  <div class="banner-wrapper" *ngIf="!notFound && !displayReport && authService.adminLevel < 2">{{ 'SHARE.MESSAGE' | translate }}</div>


  <!-- market report -->
  <ng-container *ngIf="!displayReport && !notFound">
    <app-shared-market-report
      [project]="project"
      [adminMode]="false"
      [sharable]="true">
    </app-shared-market-report>
  </ng-container>


  <!-- not found message -->
  <div *ngIf="notFound" class="column col-xs-12 col-11 col-mx-auto">
    <div class="section-not-found">
      <div class="bot-rect">{{ 'SHARE.NOT_FOUND' | translate }}</div>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/v1542810952/app/default-images/bot/triangle.svg" class="bot-triangle" alt=" ">
      <div>
        <img src="https://res.cloudinary.com/umi/image/upload/v1542810328/app/default-images/bot/info.svg" class="bot-image" alt=" ">
      </div>
    </div>
  </div>


</section>
