<h3>{{total}} Pros / {{ nbSelected }} sélectionnés</h3>
<smart-select [ngClass]="{'text-success': smartSelect}" (selectChange)="updateSelection($event)" [select]="smartSelect || {offset: config.offset, limit: config.limit}"></smart-select>
<table class="table-old pros" wt-responsive-table>
  <thead>
    <tr>
      <th></th>
      <th><app-shared-sort [config]="config" (configChange)="loadPros($event)" [prop]="'country'">{{ 'COMMON.LABEL.COUNTRY' | translate }}</app-shared-sort></th>
      <th><app-shared-sort [config]="config" (configChange)="loadPros($event)" [prop]="'firstName'" >{{ 'COMMON.LABEL.NAME' | translate }}</app-shared-sort></th>
      <th><app-shared-sort [config]="config" (configChange)="loadPros($event)" [prop]="'jobTitle'">{{ 'COMMON.LABEL.JOBTITLE' | translate }}</app-shared-sort></th>
      <th *ngIf="requestId"><app-shared-sort [config]="config" (configChange)="loadPros($event)" [prop]="'company.name'">{{ 'COMMON.LABEL.COMPANY' | translate }}</app-shared-sort></th>
      <th><app-shared-sort [config]="config" (configChange)="loadPros($event)" [prop]="'email'">{{ 'COMMON.LABEL.EMAIL' | translate }}</app-shared-sort></th>
      <th><app-shared-sort [config]="config" (configChange)="loadPros($event)" [prop]="'emailConfidence'">{{ 'CAMPAIGNS.EMAIL_CONFIDENCE' | translate }}</app-shared-sort></th>
    </tr>
    <tr>
      <th></th>
      <th><sqFilter [config]="config" (configChange)="loadPros($event)" prop="country"></sqFilter></th>
      <th>
        <sqFilter [config]="config" (configChange)="loadPros($event)" prop="firstName"></sqFilter>
        <sqFilter [config]="config" (configChange)="loadPros($event)" prop="lastName"></sqFilter>
      </th>
      <th><sqFilter [config]="config" (configChange)="loadPros($event)" prop="jobTitle"></sqFilter></th>
      <th *ngIf="requestId"><sqFilter [config]="config" (configChange)="loadPros($event)" prop="company.name"></sqFilter></th>
      <th><sqFilter [config]="config" (configChange)="loadPros($event)" prop="email"></sqFilter></th>
      <th><sqFilter [config]="config" (configChange)="loadPros($event)" prop="emailConfidence"></sqFilter></th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let pro of pros" [ngClass]="{'active': pro.isSelected}" (click)="selectPro(pro)">
    <td><input type="checkbox" [(ngModel)]="pro.isSelected"/></td>
    <td><app-country-flag [country]="pro.country"></app-country-flag></td>
    <td>
      <a *ngIf="pro.profileUrl" [href]="pro.profileUrl" target="_blank"><i class="fa fa-link"></i></a>
      <i class="fa fa-list" (click)="showKeywords(pro._id)"></i>
      <span class="title">{{ pro.firstName }} {{ pro.lastName }}</span>
    </td>
    <td>{{ pro.jobTitle }}</td>
    <td>
      <span *ngIf="requestId">{{ pro.company.name }}</span>
      <span *ngIf="!requestId">{{ pro.company }}</span>
    </td>
    <td>
      <span class="metas"><a [href]="'mailto:' + pro.email">{{ pro.email }}</a></span>
    </td>
    <td><progress class="progress tooltip" [attr.data-tooltip]="pro.emailConfidence || 0 + '%'" [value]="pro.emailConfidence || 0" max="100"></progress></td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="12">
      <app-pagination [configValue]="paginationConfig"
                      (configChange)="changePaginationConfig($event)"
                      [total]="total"
                      [propertyName]="'shared-pros'"></app-pagination>
    </td>
  </tr>
  </tfoot>
</table>

<app-modal [(showModal)]="keywordsModal" [modalTitle]="'Keywords'">
  <small><strong>{{totalSelected}}</strong> {{ 'SEARCH.PRO' | translate }}s {{ 'SEARCH.SELECTED' | translate }}s</small>

  <ul>
    <li *ngFor="let keywords of proKeywords">{{ keywords }}</li>
  </ul>

  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
  </div>
</app-modal>

