@import "../../../../../../../style/framework/src/variables";

.flex-between {
  flex-wrap: wrap;
}

.option-wrapper {
  flex-direction: column;
  border: $border-width-xl solid $border-color;
  border-radius: $border-radius;
  padding: 0.5rem $unit-5;
  margin: 0 $unit-2 $unit-5 0;
  width: 177.77px;
  height: 137px;

  &:hover {
    cursor: pointer;
    border-color: $primary-color;
  }

  &.active {
    border-color: $success-color;
  }

  h5, h6 {
    font-size: $font-size-sm;
    color: $text-background-color;
    margin-bottom: $unit-1;
  }

  h6 {
    font-size: $font-size-xs;
  }

  img {
    width: 56px;
    height: 66px;
    margin-left: auto;
    margin-right: auto;
  }

}

.form-checkbox {
  padding-right: 0;
  font-size: 0.65rem;
  font-weight: $font-weight-medium;
  color: $text-meta-color;
}
