@import "../../../../../../../style/framework/src/variables";

.ranking-group {
  max-width: 300px;

  .ranking-group-item {
    position: relative;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .list-item-content {
      width: calc(100% - 40px);
      padding: 10px 15px;
    }

  }
}
