<app-shared-loader *ngIf="!section"></app-shared-loader>

<div *ngIf="section">

  <div class="container">
    <div class="columns">
      <div class="column col-10 col-mx-auto">
        <h2>{{ section.name }}</h2>
        <form novalidate [formGroup]="formData" class="form-horizontal">
          <div class="form-group text-center" formGroupName="label">
            <label class="form-label h3">{{ "PRESETS.SECTION.EDIT.TITLE" | translate }}</label>
            EN: <input class="form-input" id="labelEn" name="en" formControlName="en" type="text"
                       placeholder="">
            FR: <input class="form-input" id="labelFr" name="fr" formControlName="fr" type="text"
                       placeholder="">
          </div>
          <div class="form-group text-center">
            <label class="form-label h3" for="description">{{ "PRESETS.SECTION.EDIT.DESCRIPTION" | translate }}</label>
            <select class="form-select" id="description" name="description" formControlName="description">
              <option [value]="'nothing'">{{ "PRESETS.SECTION.DESCRIPTION.NOTHING" | translate }}</option>
              <option [value]="'1st'">{{ "PRESETS.SECTION.DESCRIPTION.FIRST" | translate }}</option>
              <option [value]="'2nd'">{{ "PRESETS.SECTION.DESCRIPTION.SECOND" | translate }}</option>
            </select>
          </div>
          <div class="form-group text-center">
            <label class="form-label h3">{{ "PRESETS.SECTION.EDIT.ADD" | translate }}</label>
            <app-autocomplete-input (update)="addQuestion($event)"
                                    [forceSelection]="true"
                                    [config]="addQuestionConfig"></app-autocomplete-input>
          </div>
          <button type="submit" class="btn btn-primary centered" (click)="save($event)">{{ 'PRESETS.SECTION.EDIT.SAVE' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
