<div class="container fluid grid-2xl p-top-30 p-bottom-30" id="admin-campaign-search">
  <div class="column col-sm-12 col-mx-auto">
    <div class="columns" id="modules-search">

      <!-- module select -->
      <section class="d-flex justify-center w-full m-auto">
        <div class="form-group d-flex align-center" style="width: 50%; border-bottom: 2px solid #FFB300">
          <div class="d-flex align-center text-primary text-bold text-20 m-auto" style="height: 100%;">I want to:</div>
          <select class="form-select m-bottom-2" id="select" style="width:80%" [ngModel]="moduleSelected.option"
                  (ngModelChange)="moduleOnChange($event)">
            <option *ngFor="let module of searchModules" [ngValue]="module.option">{{module.context}}</option>
          </select>
        </div>
      </section>
      <!-- /module select -->

      <!-- module page -->
      <section class="d-flex w-full p-10">
          <ng-container [ngSwitch]="moduleSelected.option">

            <!-- module scraping -->
            <ng-container *ngSwitchCase="'scraping'">
              <div class="module-scraping w-full p-20 m-bottom-25">
                <app-shared-scraping [accessPath]="accessPath">
                </app-shared-scraping>
              </div>
            </ng-container>
            <!-- /module scraping -->

            <!-- module import -->
            <ng-container *ngSwitchCase="'import'">
              <div class="module-import p-20 m-bottom-25 m-auto" style="width: 90%">
                <app-shared-import-pros
                  [accessPath]="accessPath"
                  [campaign]="campaign">
                </app-shared-import-pros>
              </div>
            </ng-container>
            <!-- /module import -->

            <!-- module default - research -->
            <ng-container *ngSwitchDefault>
              <div class="module-search w-full p-20 m-bottom-25">
                <app-shared-search-pros
                  [campaign]="campaign"
                  [accessPath]="accessPath">
                </app-shared-search-pros>
              </div>
            </ng-container>
            <!-- /module default - research -->

          </ng-container>
      </section>
      <!-- /module page -->


    </div>
  </div>
</div>

<!-- modal to change -->
<app-utility-modal [(showModal)]="showModal">
  <header class="p-top-20 text-center text-primary-dark text-bold bg-white">
    Change page
  </header>

  <section class="modal-body text-center">
    You will loss your settings. Continue?
  </section>

  <footer class="modal-footer justify-center">
    <button class="button modal-cancel p-10" (click)="closeModal()">Cancel</button>
    <button (click)="confirmChangePage()" class="button is-community p-10">Confirm</button>
  </footer>

</app-utility-modal>
<!-- /modal to change -->
