@import "~@umius/umi-style-framework/scss/variables";
@import "~@umius/umi-style-framework/scss/mixins";

#modules-search {
  //display: flex;

  .module-search {
    padding-right: 2.5%;
    padding-left: 5%;
  }

  .module-scraping {
    padding-right: 5%;
    padding-left: 2.5%;
  }
}


@media (max-width: $size-md) {

  #modules-search {
    flex-direction: column;

    .module {
      width: 100%;
      flex: 1 !important;
      padding-bottom: 25px;
      //padding-right: 15% !important;
    }

    .module-search {
      padding-right: 5%;
      padding-left: 5%;
    }

    .module-scraping {
      padding-right: 5%;
      padding-left: 5%;
    }

  }

}


@media (max-width: $size-sm) {

  #modules-search {

    .module {
      padding-right: 0 !important;
    }

    .module-search {
      padding-right: 0;
      padding-left: 0;
    }

    .module-scraping {
      padding-right: 0;
      padding-left: 0;
    }

  }

}
