<div class="row">
  <div>
    <div class="container">
      <h1>{{total}} {{ 'COMMON.USERS' | translate }}</h1>
      <table wt-responsive-table class="table">
        <thead>
        <tr>
          <th></th>
          <th><sq-sort [config]="config" (configChange)="loadUsers($event)" [prop]="'firstName'">{{ 'USERS.NAME' | translate }}</sq-sort></th>
          <th><sq-sort [config]="config" (configChange)="loadUsers($event)" [prop]="'companyName'" >{{ 'USERS.COMPANY' | translate }}</sq-sort></th>
          <th><sq-sort [config]="config" (configChange)="loadUsers($event)" [prop]="'jobTitle'">{{ 'USERS.JOB' | translate }}</sq-sort></th>
          <th><sq-sort [config]="config" (configChange)="loadUsers($event)" [prop]="'created'">{{ 'USERS.CREATED' | translate }}</sq-sort></th>
          <th>{{ 'COMMON.PROJECTS' | translate }}</th>
        </tr>
        <tr>
          <th></th>
          <th><sqFilter [config]="config" (configChange)="loadUsers($event)" prop="firstName"></sqFilter></th>
          <th><sqFilter [config]="config" (configChange)="loadUsers($event)" prop="companyName"></sqFilter></th>
          <th><sqFilter [config]="config" (configChange)="loadUsers($event)" prop="jobTitle"></sqFilter></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td width="80">
            <img *ngIf="user.media" src={{user.media.url}} /><!-- TODO voir comment ça rend si !user.media -->
          </td>
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.companyName}}</td>
          <td>{{user.jobTitle}}</td>
          <td>{{user.created | date : dateFormat}}</td>
          <td><button (click)="loadInnovations(user._id)">Voir innos</button></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="12">
            <sqPagination [config]="config" (configChange)="loadUsers($event)" [total]="total"></sqPagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
