<app-shared-loader *ngIf="!preset"></app-shared-loader>
<div *ngIf="nameCreated">
  <div class="heading">
    <h2>{{newPreset.name}}</h2>
  </div>
  <div class="body">
    <div *ngFor="let section of newPreset.sections; let i=index">
      <app-admin-project-questionnaire-section
        [section]="section"
        [state]="getState(i)"
        (stateOut)="updateState($event, i)"
        (sectionUpdated)="sectionUpdated($event,i)"
        (questionAdded)="addQuestion($event,i)"
        (sectionRemoved)="sectionRemoved($event,i)"
        (questionUpdated)="questionUpdated($event,i)"
        (move)="moveSection($event,i)"
        (questionRemoved)="removeQuestion($event, i)"
      >
      </app-admin-project-questionnaire-section>
    </div>
    <button class="btn-round btn-primary" (click)="modalsection = true"><i class="icon icon-plus"> </i>  </button><span> ADD SECTION</span>
  </div>
</div>



