<app-shared-loader *ngIf="!preset"></app-shared-loader>

<div *ngIf="preset">

  <div class="container">
    <div class="columns">
      <div class="column col-10 col-mx-auto">
        <h2>{{ preset.name }}</h2>
        <form novalidate [formGroup]="formData" class="form-horizontal">
          <div class="form-group text-center">
            <label class="form-label h3">{{ "PRESETS.PRESET.EDIT.ADD" | translate }}</label>
            <app-autocomplete-input (update)="addSection($event)"
                                    [config]="addSectionConfig"></app-autocomplete-input>
          </div>
          <button type="submit" class="btn btn-primary centered" (click)="save($event)">{{ 'PRESETS.PRESET.EDIT.SAVE' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
