

<div class="columns">
  <div class="column col-5 col-mx-auto">

    <div id="input-search">

      <input
        type="text"
        class="form-default input-lg"
        name="keywords"
        [(ngModel)]="keywords"
        placeholder="Recherche"/>

        <i (click)="searchMetadata($event)" class="fas fa-search"></i>
    </div>
  </div>


  <div class="column col-9 col-mx-auto">
    <div *ngIf="metadata.world" id="totalPros">
      <h1>
        <span *ngIf="metadata.world === 20000">+</span>
        <span *ngIf="metadata.world < 100">< </span>
        {{ metadata.world }}
      </h1>
      <h2 class="subtitle">{{ 'COMMON.PROFESSIONALS' | translate }}</h2>
    </div>
    <admin-search-map
        [width]="'auto'"
        [countriesData]="metadata">
      </admin-search-map>
  </div>

  <div class="column col-xs-12 col-11 col-mx-auto">
    <div class="professional-wrapper">
      <div *ngFor="let pro of pros" class="profile">
        <div class="pro-tag-wrapper" *ngIf="!pro.isLoading">

          <!-- Flag -->
          <div *ngIf="pro.person?.country" class="flag-wrapper">
            <app-country-flag [country]="pro.person.country" [width]="23" [height]="16"></app-country-flag>
          </div>

          <!-- person detail -->
          <div class="detail-wrapper">
            <!-- Name -->
            <p class="name-wrapper" *ngIf="pro?.person && pro?.person?.firstName">
              {{ pro?.person?.firstName[0] | uppercase }}{{ pro?.person?.firstName | slice:1 }} {{ pro?.person?.lastName }}
            </p>

            <!-- Job -->
            <p *ngIf="pro.job || pro?.person?.jobTitle" class="job-wrapper">
              {{ pro.job || pro?.person?.jobTitle }}
            </p>

            <!-- Email -->
            <p class="email-wrapper">
              {{ pro.person.email }}
            </p>

            <!-- Company -->
            <p *ngIf="pro.person?.company && pro.person?.company.name" class="company-wrapper">
              {{ pro?.person?.company.name }}
            </p>

            <!-- Company Logo -->
            <p *ngIf="pro.person?.company && pro.person?.company.logoUrl" class="company-wrapper">
              <img [src]="pro.person.company.logoUrl" (error)="pro.person.company.logoUrl = null">
            </p>
          </div>
        </div>
        <div *ngIf="pro.isLoading">
          <i class="fa fa-cog fa-lg fa-spin"></i>
        </div>
      </div>
    </div>
    <a *ngIf="pros.length" href="https://clearbit.com">Logos provided by Clearbit</a>
  </div>

</div>
