<div class="width-80 m-auto" id="shared-import-pros">

  <!-- import button -->
  <div class="text-center p-top-15 p-bottom-30">
    <label class="button is-primary is-sm is-outlined">
      <input #fileupload (click)="fileupload.value = null" (change)="onClickImport(fileupload.files[0])" [hidden]="true" type="file">
      <i class="fas fa-file-import icon-left"></i> Import answers
    </label>
  </div>
  <!-- /import button -->

  <p class="text-center text-sm">The file must use these <b>exact names</b> for the columns:
    <b>firstName,	lastName,	email,	companyName,	country*, status</b>,
    tags,	companyDomain,	companyLogo,	profileQuality,	created,	answeredByEmail</p>

  <p class="text-center text-sm">You can also add <b>questions identifiers</b> as columns names</p>

  <p class="text-center text-sm">Bold columns are mandatory, other columns are optional. The order of the columns does
    not matter</p>

  <p class="text-center text-xs text-italics">*should be a valid country code.
    If not possible it could country name in French, Italian, English, Spanish or Deutsch.</p>

</div>
