// Import variables
$primary-color: #3498DB !default;
$secondary-color: #2ECC71 !default;
$dark-color: #333 !default;

.input-group {

  .form-default {
    margin-right: 5px;
    margin-top: 0;
  }

}

.form-default.ng-touched.ng-invalid{
  border-color: #E0E0E0;
}

.answerList {
  margin: 0;
  list-style: none;

  li {
    display: flex;
    margin: 10px 0;
    padding: 0;
  }

  li span {
    background: #2ECC71;
    border-radius: 5px 0 0 5px;
    padding: 15px;
    color: white;
    font-size: 14px;
    width: 100%;
    word-break: break-word;
  }

  a.delete {
    display: flex;
    background: #EA5858;
    border-radius: 0 5px 5px 0;
    padding: 12px 17px;
    border: none;
    cursor: pointer;

    img {
      width: 16px;
    }

  }

  a.updown {
    background: $secondary-color;
    padding: 15px 0;
    color: white;
    width: 100%;
  }

  a.delete:hover {
    background: lighten(#EA5858, 10%);
  }

  i {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    background: #11A751;
    padding: 17px;
    border: none;
  }

  .fa-thumbs-up.active, .fa-thumbs-up:hover, .fa-thumbs-down.active, .fa-thumbs-down:hover, .fa-pencil-alt:hover {
    color: white;
    cursor: pointer;
  }


  .popover {

    .fa-link {
      color: #FFB300;
    }

    .fa-link:hover {
      cursor: pointer;
      color: lighten(#FFB300, 10%);
    }

  }

  .popover-container {
    background: #F8F4F4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 2;
    border-radius: 3px;

    .btn {
      margin-top: 3px;
    }

  }

}

