<section id="mission-form-component">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <form novalidate [formGroup]="missionForm" (ngSubmit)="onSave($event)" autocomplete="off">

      <!-- save button -->
      <div class="save-wrapper text-right">
        <button class="btn btn-primary" type="submit">{{ 'COMMON.BUTTON.SAVE' | translate }}</button>
      </div>

      <!-- campaign name -->
      <div class="form-group">
        <label class="form-label" for="mission-name">{{ 'COMMON.LABEL.NAME' | translate }}</label>
        <input
          class="form-input"
          formControlName="name"
          id="mission-name"
          type="text"
          placeholder="Enter the mission name">
      </div>

      <!-- Objectifs -->
      <div>
        <h5 class="title is-5" translate [innerText]="'PROJECT_MODULE.SETUP.OBJECTIVES.OBJECTIVES'"></h5>
        <blockquote>
          <p [innerText]="missionForm.get('goal').value"></p>
        </blockquote>
      </div>

      <!-- milestones -->
      <div formArrayName="milestoneDates">
        <h5 class="title is-5" translate [innerText]="'PROJECT_MODULE.SETUP.OBJECTIVES.ROADMAP'"></h5>
        <ng-container *ngFor="let milestone of milestoneDates.controls; index as i">
          <div [formGroupName]="i" class="columns">
            <div class="column col-5">
              <div class="form-group">
                <label class="form-label" for="mission-milestone-{{i}}-name">{{ 'COMMON.LABEL.NAME' | translate }}</label>
                <input
                  class="form-input"
                  formControlName="name"
                  id="mission-milestone-{{i}}-name"
                  type="text"
                  placeholder="Enter milestone name">
              </div>
            </div>
            <div class="column col-5">
              <div class="form-group">
                <label class="form-label" for="mission-milestone-{{i}}-date">{{ 'COMMON.LABEL.DATE' | translate }}</label>
                <input
                  class="form-input"
                  formControlName="dueDate"
                  id="mission-milestone-{{i}}-date"
                  type="date">
              </div>
            </div>
            <div class="column col-2">
              <button (click)="removeMilestone($event, i)" class="button is-action is-danger is-circled is-sm">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </ng-container>
        <div class="add-milestone" (click)="newMilestone($event)">
          <button class="btn btn-round btn-primary"><i class="fas fa-plus"></i></button>
        </div>
      </div>

      <!-- Mail service/domain configuration -->
      <div formArrayName="mailConf">
        <div class="form-group">
          <h5 class="title is-5" translate [innerText]="'PROJECT_MODULE.SETUP.EMAIL_DOMAINS'"></h5>
          <ng-container *ngFor="let config of mailServicesConfigurations.controls; index as i">
            <div [formGroupName]="i" class="columns">
              <label class="form-switch" for="mail-service-{{i}}">
                <input
                    type="checkbox"
                    id="mail-service-{{i}}"
                    (click)="toggleDomain($event, i)"
                    [checked]="selectedServiceMeta[config.get('service').value+'_'+config.get('domain').value]">
                <i class="form-icon"></i>
                {{getServiceDomainLabel(i)}}
              </label>
            </div>
          </ng-container>
        </div>
      </div>

    </form>
  </div>
</section>
