<form class="form-horizontal" [formGroup]="inputForm" (ngSubmit)="onSubmit(inputForm.value)">
  <div>
    <div class="col-sm-5">
      <input  ng2-auto-complete
              formControlName="continent"
              [source]="answer"
              [list-formatter]="autocompleListFormatter"
              value-property-name="id"
              display-property-name="name"
              placeholder="Contients"
              class="form-control">
    </div><br/>
    <button type="submit">Submit</button>
  </div>
</form>
