<div>
  <form [formGroup]="inputForm" (ngSubmit)="addProposition(inputForm)">

    <div *ngIf="canEdit" [ngStyle]="{ 'display': 'flex' }">
      <input
          ng2-auto-complete
          formControlName="answer"
          [list-formatter]="autocompleListFormatter"
          [source]="suggestions.bind(this)"
          value-property-name="id"
          [display-property-name]="identifier"
          [attr.placeholder]="placeholder | translate"
          class="form-default"
          [ngStyle]="{ 'margin-top': '0', 'margin-right': '20px' }">
      <button class="btn-round btn-primary" [disabled]="!canAdd"><i class="icon icon-plus"></i></button>
    </div>

  </form>

  <ul *ngFor="let a of answerList; index as i" class="answerList">

    <li *ngIf="!adminMode">
      <span [innerHTML]="a[identifier]"></span>
      <i *ngIf="canOrder" class="fa fa-chevron-up c-hand" aria-label="Up" role="button" (click)="up($event, i)"></i>
      <i *ngIf="canOrder" class="fa fa-chevron-down c-hand" aria-label="Down" role="button" (click)="down($event, i)"></i>
      <a class="delete c-hand" aria-label="Close" role="button" (click)="rmProposition($event, i)">
        <img src="https://res.cloudinary.com/umi/image/upload/app/delete.svg" width="" height="">
      </a>
    </li>

    <li *ngIf="adminMode">
      <span [innerHTML]="a[identifier]"></span>
      <div class="popover">
        <i class="fas fa-pencil-alt"></i>
        <div class="popover-container">
          <div class="input-group">
            <input type="text" class="form-input" [(ngModel)]="a[identifier]" name="text"/>
            <button class="btn btn-primary input-group-btn" type="submit" (click)="updateItem($event)">GO</button>
          </div>
        </div>
      </div>
      <div class="popover">
        <i class="fas fa-link" [ngClass]="{'active': a.domain && a.domain.length > 0}"></i>
        <div class="popover-container">
          Entrez un lien:
          <div class="input-group">
            <input type="text" class="form-input" [(ngModel)]="a.domain" name="domain"/>
            <button class="btn btn-primary input-group-btn" type="submit" (click)="updateItem($event)">GO</button>
          </div>
        </div>
      </div>
      <i class="fas fa-thumbs-up" [ngClass]="{'active': a.rating === 2}" (click)="thumbsUp($event, i)"></i>
      <i class="fas fa-thumbs-down" [ngClass]="{'active': a.rating === 0}" (click)="thumbsDown($event, i)"></i>
      <a [routerLink]="" class="delete" aria-label="Close" role="button" (click)="rmProposition($event, i)">
        <img src="https://res.cloudinary.com/umi/image/upload/app/delete.svg" width="" height="">
      </a>
    </li>

  </ul>
</div>

<!--
<div>
  <form class="form-horizontal" [formGroup]="inputForm" (ngSubmit)="addProposition(inputForm)">

    <div class="input-group" *ngIf="canEdit">
      <input ng2-auto-complete
             formControlName="answer"
             [accept-user-input]="canAdd()"
             [list-formatter]="autocompleListFormatter"
             [value-formatter]="autocompleValueFormatter"
             [source]="suggestions.bind(this)"
             [display-property-name]="identifier"
             [attr.placeholder]="placeholder | translate"
             class="form-input form-control input-lg">
      <button [disabled]="!canAdd()" class="btn btn-primary btn-lg input-group-btn" translate>
        COMMON.ADD
        <i class="icon icon-arrow-right"></i>
      </button>
    </div>
  </form>

  <ul *ngFor="let a of answerList; index as i" class="answerList">
    <li *ngIf="!adminMode">
      <span [innerHTML]="a[identifier]"></span>
      <i *ngIf="canOrder" class="fa fa-chevron-up c-hand" aria-label="Up" role="button" (click)="up($event, i)"></i>
      <i *ngIf="canOrder" class="fa fa-chevron-down c-hand" aria-label="Down" role="button" (click)="down($event, i)"></i>
      <a class="delete c-hand" aria-label="Close" role="button" (click)="rmProposition($event, i)">
        <img src="https://res.cloudinary.com/umi/image/upload/app/delete.svg" width="" height="">
      </a>
    </li>
    <li *ngIf="adminMode">
      <span [innerHTML]="a[identifier]"></span>
      <div class="popover">
        <i class="fas fa-pencil-alt"></i>
        <div class="popover-container">
          <div class="input-group">
            <input type="text" class="form-input" [(ngModel)]="a[identifier]" name="text"/>
            <button class="btn btn-primary input-group-btn" type="submit" (click)="updateItem($event)">GO</button>
          </div>
        </div>
      </div>
      <div class="popover">
        <i class="fas fa-link" [ngClass]="{'active': a.domain && a.domain.length > 0}"></i>
        <div class="popover-container">
          Entrez un lien:
          <div class="input-group">
            <input type="text" class="form-input" [(ngModel)]="a.domain" name="domain"/>
            <button class="btn btn-primary input-group-btn" type="submit" (click)="updateItem($event)">GO</button>
          </div>
        </div>
      </div>
      <i class="fas fa-thumbs-up" [ngClass]="{'active': a.rating === 2}" (click)="thumbsUp($event, i)"></i>
      <i class="fas fa-thumbs-down" [ngClass]="{'active': a.rating === 0}" (click)="thumbsDown($event, i)"></i>
      <a [routerLink]="" class="delete" aria-label="Close" role="button" (click)="rmProposition($event, i)">
        <img src="https://res.cloudinary.com/umi/image/upload/app/delete.svg" width="" height="">
      </a>
    </li>
  </ul>
</div>
-->
