#project-description {

  .hero-light-container {
    background-color: #4F5D6B;
    padding-bottom: 0;

    h1 {
      color: white;
      margin-bottom: 20px;
    }

    .info-wrapper {

      img {
        vertical-align: middle;
        margin-bottom: 5px;
      }

      .project-info {
        color: #97A4B1;
        font-weight: 600;
        padding-left: 15px;
        font-size: 14px;
      }

    }

    .tab-container {
      padding-top: 35px;

      .tabs li a {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }

    }

  }

  .active {
    background: white;
    color: #333333;
  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .tabs li a {
    border-radius: 5px;
  }

}

@media (min-width: 768px) {

  .tabs li {
    margin-right: 15px;
  }

  .tabs li:last-child {
    margin-right: 0;
  }

}



