.main-container {

  .hero-light-container {
    background-color: #4F5D6B;
    padding-bottom: 0;

    .hero-title {
      color: white;
    }

    .info-container {

      img {
        vertical-align: middle;
        margin-bottom: 5px;
      }

      .project-info {
        padding-left: 15px;
      }

    }

    .tab-container {
      padding-top: 35px;
    }

  }

  .active {
    background: white;
    color: #333333;
  }

}


/********************************** Media ***************************************/



/*$dark-bg: #262831;

.project-header {
  background: $dark-bg;
  color: white;
  padding-bottom: 84px;

  h1 {
    color: white;
    margin-top: 50px;
  }

  h1::after {
    display: none;
  }

  .metas {
    font-size: 0.8rem;
    color: #878787;
    line-height: 36px;
  }

  ul.step {
    margin-top: 60px;
  }
}*/
