<app-shared-loader *ngIf="!project"></app-shared-loader>

<div class="main-container" *ngIf="project" id="project-description">
  <div class="columns">
    <div class="column col-12 col-mx-auto">

      <!-- Header -->
      <div class="hero-light-container">
        <div class="column col-xs-12 col-11 col-mx-auto">
          <!-- Name -->
          <h1>{{ project.name[0] | uppercase }}{{ project.name | slice:1 }}</h1>
          <!-- Info -->
          <div class="info-wrapper">
            <img [src]="imgType">
            <span class="project-info">
              {{ 'COMMON.ADDED' | translate }} {{ project.created | date:dateFormat }}
              &nbsp;•&nbsp;
              {{ 'COMMON.UPDATED' | translate }} {{ project.updated | date:dateFormat }}
              &nbsp;•&nbsp;
              {{ project.collaborators.length }} {{ 'PROJECT_MODULE.COLLABORATORS' | translate }}
              <span class="text-link" (click)="editCollaborator($event)">
                {{ 'COMMON.EDIT' | translate | lowercase}}
              </span>
            </span>
          </div>
          <!-- Tabs -->
          <div class="tab-container">
            <ul class="tabs">
              <li>
                <a [routerLink]="['setup']" [ngClass]="{'active': currentPage == 'setup'}">
                  <i class="fas fa-pencil-alt"></i>{{ 'PROJECT_MODULE.SETUP_TAB' | translate }}
                </a>
              </li>
              <li>
                <a [routerLink]="['exploration']" [ngClass]="{'active': currentPage == 'exploration'}">
                  <i class="fas fa-globe"></i>{{ 'PROJECT_MODULE.EXPLORATION_TAB' | translate }}
                </a>
              </li>
              <li>
                <a [routerLink]="['synthesis']" [ngClass]="{'active': currentPage == 'synthesis'}">
                  <i class="fas fa-signal"></i>{{ 'PROJECT_MODULE.SYNTHESIS_TAB' | translate }}
                </a>
              </li>
              <!--<li>
                <a [routerLink]="['history']" [ngClass]="{'active': currentPage == 'history'}">
                  <i class="fas fa-history"></i>{{ 'PROJECT_MODULE.HISTORY_TAB' | translate }}
                </a>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
      <!-- /Header -->

      <!-- Sections -->

      <!-- Setup page -->
      <div *ngIf="currentPage === 'setup'">
        <app-client-setup-project [project]="project"></app-client-setup-project>
      </div>
      <!-- Exploration page -->
      <div *ngIf="currentPage === 'exploration'">
        <app-client-exploration-project [project]="project"></app-client-exploration-project>
      </div>
      <!-- Synthesis page -->
      <div *ngIf="currentPage === 'synthesis'">
        <app-shared-market-report [project]="project"></app-shared-market-report>
      </div>
      <!-- History page -->
      <div *ngIf="currentPage === 'history'">
        <!--<app-client-history-project [project]="project"></app-client-history-project>-->
        <div class="bot-wrapper text-center" [ngStyle]="{ 'padding-top': '75px', 'padding-bottom': '50px' }">
          <span class="bot-rect" [ngStyle]="{ 'width': '300px' }">Work in progress...</span>
          <br>
          <img src="https://res.cloudinary.com/umi/image/upload/v1528795403/app/default-images/bot-triangle.svg" class="bot-trian">
          <div><img src="https://res.cloudinary.com/umi/image/upload/v1528795365/app/default-images/bot-1.svg" alt="Bot"></div>
        </div>
      </div>

      <!-- /Sections -->

    </div>
  </div>
</div>

<!-- Scroll to top button -->
<div class="btn-scroll" [ngStyle]="{ 'display': scrollButton ? 'flex' : 'none' }" (click)="scrollToTop($event)">
  <i class="icon icon-upward"></i>
</div>

<!-- Add collaborators -->
<div class="modal" [ngClass]="{'active': displayAddCollaboratorsModal}">
  <div class="modal-overlay" (click)="closeModal($event)"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" (click)="closeModal($event)"></button>
      <div class="modal-title">{{ 'PROJECT_MODULE.ADD_COLLABORATORS_MODAL.TITLE' | translate }}</div>
    </div>
    <div class="modal-body">
      <div class="content">
        <input
          class="form-default"
          type="text"
          [(ngModel)]="collaborators_emails"
          [attr.placeholder]=" 'PROJECT_MODULE.ADD_COLLABORATORS_PLACEHOLDER' | translate "
          (keyup)="enterKeyPress($event)">
        <button
          class="btn btn-primary"
          (click)="addCollaborators($event)">
          <i class="fas fa-user-plus"></i>{{ 'COMMON.ADD' | translate }}
        </button>
      </div>
      <span class="form-error">
        <span
          [ngStyle]="{ 'display': showCollaboratorRequiredError ? 'block' : 'none', 'margin-top': '8px' }">
          {{ 'COMMON.REQUIRED.EMAIL' | translate }}
        </span>
        <span
          [ngStyle]="{ 'display': showCollaboratorInvalidError ? 'block' : 'none', 'margin-top': '8px' }">
          {{ 'COMMON.INVALID.EMAIL' | translate }}
        </span>
      </span>

      <div *ngIf="collaboratorsInvited.length >= 1" class="collaborators-invitation-container">
        <ul *ngFor="let collaborator of collaboratorsInvited; let i = index" class="collaborator">
          <li class="invitation-detail">
            <span class="label-progress">{{ 'PROJECT_MODULE.COLLABORATOR_STATUS.B' | translate }}</span> {{ collaborator }}
          </li>
          <button class="btn btn-xs ghost-primary" (click)="reinviteCollaborator($event, collaborator)">
            {{ 'PROJECT_MODULE.COLLABORATOR_MODAL_BUTTON.REINVITE' | translate }}
          </button>
        </ul>
      </div>

      <div *ngIf="project.collaborators.length >= 1" class="collaborators-added-container">
        <ul *ngFor="let collaborator of project.collaborators" class="collaborator">
          <li class="added-detail">
            <span class="label-validate">{{ 'PROJECT_MODULE.COLLABORATOR_STATUS.A' | translate }}</span> {{ collaborator.name }}
          </li>
          <button class="btn btn-xs ghost-delete" (click)="removeCollaborator($event, collaborator)">
            {{ 'PROJECT_MODULE.COLLABORATOR_MODAL_BUTTON.DELETE' | translate }}
          </button>
        </ul>
      </div>

    </div>
  </div>
</div>
