<app-shared-loader *ngIf="!project"></app-shared-loader>

<section *ngIf="project" class="main-container" id="client-project">

  <!-- Header -->
  <div class="hero-light-container header-project">
    <div class="column col-xs-12 col-11 col-mx-auto">

      <!-- Name -->
      <h1>{{ project.name[0] | uppercase }}{{ project.name | slice:1 }}</h1>

      <!-- Info -->
      <div class="info-wrapper">
        <img [src]="imgType">
        <span class="project-info">
          {{ 'COMMON.ADDED' | translate }} {{ project.created | date:dateFormat }}
          &nbsp;•&nbsp;
          {{ 'COMMON.UPDATED' | translate }} {{ project.updated | date:dateFormat }}
          &nbsp;•&nbsp;
          {{ project.collaborators.length }} {{ 'PROJECT_MODULE.COLLABORATORS' | translate }}
          <span class="text-link gtm-edit-collaborators" (click)="editCollaborator($event)">
            {{ 'COMMON.EDIT' | translate | lowercase}}
          </span>
        </span>
      </div>

      <!-- Tabs -->
      <div class="tab-container">
        <ul class="tabs">
          <li>
            <a [routerLink]="['setup']" [ngClass]="{'active': currentPage == 'setup'}" class="gtm-tabs-description">
              <i class="fas fa-pencil-alt"></i>{{ 'PROJECT_MODULE.SETUP_TAB' | translate }}
            </a>
          </li>
          <li>
            <a [routerLink]="['exploration']" [ngClass]="{'active': currentPage == 'exploration'}" class="gtm-tabs-exploration">
              <i class="fas fa-globe"></i>{{ 'PROJECT_MODULE.EXPLORATION_TAB' | translate }}
            </a>
          </li>
          <li>
            <a [routerLink]="['synthesis']" [ngClass]="{'active': currentPage == 'synthesis'}" class="gtm-tabs-synthesis">
              <i class="fas fa-signal"></i>{{ 'PROJECT_MODULE.SYNTHESIS_TAB' | translate }}
            </a>
          </li>
          <!--<li>
            <a [routerLink]="['history']" [ngClass]="{'active': currentPage == 'history'}">
              <i class="fas fa-history"></i>{{ 'PROJECT_MODULE.HISTORY_TAB' | translate }}
            </a>
          </li>-->
        </ul>
      </div>

    </div>
  </div>

  <!-- Section -->

  <!-- Setup page -->
  <div *ngIf="currentPage === 'setup'">
    <app-client-setup-project [project]="project"></app-client-setup-project>
  </div>

  <!-- Exploration page -->
  <div *ngIf="currentPage === 'exploration'">
    <app-client-exploration-project [project]="project"></app-client-exploration-project>
  </div>

  <!-- Synthesis page -->
  <div *ngIf="currentPage === 'synthesis'">
    <app-shared-market-report [project]="project"></app-shared-market-report>
  </div>

  <!-- History page
  <div *ngIf="currentPage === 'history'">
    <!--<app-client-history-projects-list [projects-list]="projects-list"></app-client-history-projects-list>
    <div class="bot-wrapper text-center" [ngStyle]="{ 'padding-top': '75px', 'padding-bottom': '50px' }">
      <span class="bot-rect" [ngStyle]="{ 'width': '300px' }">Work in progress...</span>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/v1528795403/app/default-images/bot-triangle.svg" class="bot-trian">
      <div><img src="https://res.cloudinary.com/umi/image/upload/v1528795365/app/default-images/bot-1.svg" alt="Bot"></div>
    </div>
  </div>-->

</section>

<!-- Add collaborators -->
<sidebar [template]="sidebarTemplateValue" (closeSidebar)="closeSidebar($event)">
  <app-collaborator
    (collaboratorAdded)="addCollaborators($event)"
    [collaborator]="project.collaborators"
    [projectId]="project._id"
    [sidebarState]="sidebarState">
  </app-collaborator>
</sidebar>
