<h3>{{total}} Pros / {{ nbSelected }} sélectionnés</h3>
<smart-select [ngClass]="{'text-success': smartSelect}" (selectChange)="updateSelection($event)" [select]="smartSelect || {offset: config.offset, limit: config.limit}"></smart-select>
<table class="table pros" wt-responsive-table>
  <thead>
    <tr>
      <th></th>
      <th><sq-sort [config]="config" (configChange)="loadPros($event)" [prop]="'language'">{{ 'COMMON.LANGUAGE' | translate }}</sq-sort></th>
      <th><sq-sort [config]="config" (configChange)="loadPros($event)" [prop]="'country'">{{ 'COMMON.COUNTRY' | translate }}</sq-sort></th>
      <th><sq-sort [config]="config" (configChange)="loadPros($event)" [prop]="'firstName'" >{{ 'COMMON.NAME' | translate }}</sq-sort></th>
      <th><sq-sort [config]="config" (configChange)="loadPros($event)" [prop]="'jobTitle'">{{ 'COMMON.JOBTITLE' | translate }}</sq-sort></th>
      <th *ngIf="requestId"><sq-sort [config]="config" (configChange)="loadPros($event)" [prop]="'company.name'">{{ 'COMMON.COMPANY' | translate }}</sq-sort></th>
      <th *ngIf="!requestId"><sq-sort [config]="config" (configChange)="loadPros($event)" [prop]="'company'">{{ 'COMMON.COMPANY' | translate }}</sq-sort></th>
      <th><sq-sort [config]="config" (configChange)="loadPros($event)" [prop]="'email'">{{ 'COMMON.EMAIL' | translate }}</sq-sort></th>
      <th><sq-sort [config]="config" (configChange)="loadPros($event)" [prop]="'emailConfidence'">{{ 'CAMPAIGNS.EMAIL_CONFIDENCE' | translate }}</sq-sort></th>
      <th>{{ 'CAMPAIGNS.ACTIONS' | translate }}</th>
    </tr>
    <tr>
      <th></th>
      <th><sqFilter [config]="config" (configChange)="loadPros($event)" prop="language"></sqFilter></th>
      <th><sqFilter [config]="config" (configChange)="loadPros($event)" prop="country"></sqFilter></th>
      <th>
        <sqFilter [config]="config" (configChange)="loadPros($event)" prop="firstName"></sqFilter>
        <sqFilter [config]="config" (configChange)="loadPros($event)" prop="lastName"></sqFilter>
      </th>
      <th><sqFilter [config]="config" (configChange)="loadPros($event)" prop="jobTitle"></sqFilter></th>
      <th *ngIf="!requestId"><sqFilter [config]="config" (configChange)="loadPros($event)" prop="company"></sqFilter></th>
      <th *ngIf="requestId"><sqFilter [config]="config" (configChange)="loadPros($event)" prop="company.name"></sqFilter></th>
      <th><sqFilter [config]="config" (configChange)="loadPros($event)" prop="email"></sqFilter></th>
      <th><sqFilter [config]="config" (configChange)="loadPros($event)" prop="emailConfidence"></sqFilter></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let pro of pros" [ngClass]="{'active': pro.isSelected}">

    <ng-container [ngSwitch]="editUser[pro._id]">

      <ng-container *ngSwitchCase="true">
        <td><input type="checkbox" [(ngModel)]="pro.isSelected"/></td>
        <td><input type="text" size="5" [(ngModel)]="pro.language" alt="language" placeholder="language"/></td>
        <td><input type="text" size="5" [(ngModel)]="pro.country" alt="country" placeholder="country"/></td>
        <td>
          <input type="text" [(ngModel)]="pro.firstName" alt="firstName" placeholder="firstName"/>
          <input type="text" [(ngModel)]="pro.lastName" alt="lastName" placeholder="lastName"/>
          <input type="text" [(ngModel)]="pro.profileUrl" alt="profileUrl" placeholder="profileUrl"/>
        </td>
        <td><input type="text" [(ngModel)]="pro.jobTitle" alt="jobTitle" placeholder="jobTitle"/></td>
        <td>
          <span *ngIf="requestId">
            <input type="text" [(ngModel)]="pro.company.name" alt="Company" placeholder="Company"/>
          </span>
          <span *ngIf="!requestId">
            <input type="text" [(ngModel)]="pro.company" alt="Company" placeholder="Company"/>
          </span>
        </td>
        <td>
          <input type="text" [(ngModel)]="pro.email" alt="email" placeholder="email"/>
        </td>
        <td><progress class="progress tooltip" [attr.data-tooltip]="pro.emailConfidence || 0 + '%'" [value]="pro.emailConfidence || 0" max="100"></progress></td>
        <td>
          <button class="btn btn-action" (click)="editUser[pro._id] = false"><i class="fas fa-times"></i></button>
          <button class="btn btn-action" (click)="updatePro(pro, $event)"><i class="fas fa-save"></i></button>
        </td>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <ng-container (click)="selectPro(pro)">
          <td><input type="checkbox" [(ngModel)]="pro.isSelected"/></td>
          <td>{{ pro.language }}</td>
          <td><country-flag [country]="pro.country"></country-flag></td>
          <td>
            <!--<a *ngIf="pro.profileUrl" [href]="pro.profileUrl" target="_blank"><i class="fab fa-linkedin"></i></a>-->
            <a *ngIf="pro.profileUrl" [href]="pro.profileUrl" target="_blank"><i class="fas fa-link"></i></a>
            <span class="title">{{ pro.firstName }} {{ pro.lastName }}</span>
          </td>
          <td>{{ pro.jobTitle }}</td>
          <td>
            <span *ngIf="requestId">{{ pro.company.name }}</span>
            <span *ngIf="!requestId">{{ pro.company }}</span>
          </td>
          <td>
            <span class="metas"><a [href]="'mailto:' + pro.email">{{ pro.email }}</a></span>
          </td>
          <td><progress class="progress tooltip" [attr.data-tooltip]="pro.emailConfidence || 0 + '%'" [value]="pro.emailConfidence || 0" max="100"></progress></td>
        </ng-container>
        <td>
          <button class="btn btn-action" (click)="editUser[pro._id] = true"><i class="fas fa-edit"></i></button>
          <button *ngIf="campaign" class="btn btn-action" (click)="openQuizUri(pro, $event)"><i class="fas fa-file-alt"></i></button>
        </td>
      </ng-container>

    </ng-container>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="12">
      <sqPagination [config]="config" (configChange)="loadPros($event)" [total]="total" [propertyName]="'shared-pros'"></sqPagination>
    </td>
  </tr>
  </tfoot>
</table>

