<ng-container *ngIf="innovation">
  <section id="survey-component" class="animate-page">

    <!-- section no survey -->
    <ng-container *ngIf="!innovation.quizId">
      <app-message-space [widthMax]="'359px'">
        {{ 'PROJECT_MODULE.SETUP.SURVEY.NO_QUIZ' | translate }}
      </app-message-space>
    </ng-container>

    <!-- section survey -->
    <ng-container *ngIf="innovation.quizId">
      <p class="text">{{ 'PROJECT_MODULE.SETUP.SURVEY.DONT_SHARE_QUIZ' | translate }}</p>
      <a class="text-link" [href]="url" target="_blank"><span>{{ url }}</span></a>
    </ng-container>

  </section>
</ng-container>
