#survey-component {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;

  .bot-rect {
    max-width: 313px;
  }

  p {
    padding-bottom: .9375rem;
  }

}
