@import "../../../../../../style/framework/src/variables";

#executive-objective {

  .content-wrapper {
    max-width: 438px;
    width: 100%;
    min-height: 373px;
    margin: 0 50px 30px 50px;

    .form-input {
      padding: 15px 20px 15px 15px;
    }

    .form-input, .form-select {
      border: 2px solid #000000;
      font-size: $font-size-sm;
    }

    &.has-border {
      border: 2px solid $border-color;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(30,55,90,.1);

      p, h4 {
        margin-bottom: 0;
      }

      div {
        font-size: $font-size-sm;
        text-align: center;
      }

    }

  }

}
