.progress-bar-outer-wrapper {
  width: 100%;
  border-radius: 1.57rem;
  background-color: #D8D8D8;
  height: 1rem;
  transition: all 0.35s ease-in-out;

  .progress-bar-inner-wrapper {
    border-radius: 1.57rem;
    text-align: center;
    font-size: .6875rem;
    color: white;
    font-weight: 600;
  }

}
