.toolbar {
  background: #0B90C6;
  padding: 25px 0;
  color: white;
  display: flex;
  justify-content: space-between;

  .block {
    text-align: center;
  }

  .block strong {
    display: block;
    font-size: 30px;
  }

  .block span {
    display: block;
  }
}
