<div class="container">
  <h5><a [routerLink]="'/admin/projects/project/' + campaign.innovation._id + '/campaigns'">Retour au projet</a></h5>
  <h2>{{ campaign.title }}</h2>

  <ul class="tab tab-block">
    <li class="tab-item" *ngFor="let tab of tabs">
      <a [ngClass]="{'active': currentPage == tab}" [routerLink]="baseUrl + tab">
        {{ 'CAMPAIGNS.' + tab.toUpperCase() | translate }}
      </a>
    </li>
  </ul>

  <div class="tabs" [ngSwitch]="currentPage">
    <div class="tab-content" *ngSwitchCase="'details'">
      <app-admin-campaign-details></app-admin-campaign-details>
    </div>

    <div class="tab-content" *ngSwitchCase="'history'">
      <app-admin-campaign-history></app-admin-campaign-history>
    </div>

    <div class="tab-content" *ngSwitchCase="'search'">
      <app-admin-campaign-search></app-admin-campaign-search>
    </div>

    <div class="tab-content" *ngSwitchCase="'pros'">
      <app-admin-campaign-pros></app-admin-campaign-pros>
    </div>

    <div class="tab-content" *ngSwitchCase="'answers'">
      <app-admin-campaign-answers></app-admin-campaign-answers>
    </div>
  </div>
</div>
