@media print and (color) {

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    font-size: 14px;
  }

  @page {
    size: A4 landscape;
    margin: 1.5cm 1.5cm;
  }

  /*
  @page:first {
    size: 5.5in 8.5in;
    margin: 0;
  }

  @page:right{
    @bottom-left {
      content: "My book";
      font-size: 40px;
      color: #333;
    }
  }

  @page:right{
    @bottom-right {
      content: "Page " counter(page) " of " counter(pages);
    }
  }

  @page :right {
    @top-right {
      content: string(doctitle);
      margin: 30pt 0 10pt 0;
      font-size: 8pt;
    }
  }
*/

  .page-footer {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  /*
  .page-footer:after {
    counter-increment: page;
    content: counter(page);
  }*/


  /* =========================================================================
    Market report
    ========================================================================== */

  .navbar,
  .admin-buttons,
  .tab,
  footer,
  .sidebar,
  #app-header,
  .see-answer,
  .market-report-btn,
  .item-menu-sandwich,
  .bar-stats i,
  .container.main-container,
  .btn.btn-action.circle,
  .popover.popover-bottom,
  .fas.fa-filter,
  .fas.fa-link {
    display: none !important;
  }

  .col-10 {
    width: 100% !important;
    padding: 0;
  }

  .market-report {

    .column.col-10.col-mx-auto > h1 {
      display: none !important;
    }

    .content {
      margin-left: 10px;
    }

    .frontcover {
      margin-top: 150px;
      page-break-after: always;

      img {
        display: block !important;
        margin-bottom: 30px;
      }

      .subtitle {
        display: block !important;
        margin-bottom: 80px;
      }
    }

    h2 {
      margin-left: 0 !important;
      font-size: 32px !important;
      margin-bottom: 20px !important;
    }

    .big-blue-synthesis,
    .big-synthesis {
      padding: 5px 15px 25px 15px !important;
      margin-right: 20px !important;
      margin-bottom: 20px !important;
      min-width: 200px !important;
      max-width: 200px !important;
    }

    .umi-synthesis .title {
      string-set: doctitle content();
      color: #0c90c6 !important;
      font-size: 25px !important;
    }

    .bar-chart-component .horizontal-bar {
      width: 99% !important;
    }

    .page-break {
      page-break-before: always !important;
    }

    .white-frame {
      padding: 0 !important;
      margin: 0 !important;
      box-shadow: none !important;
    }

    section {
      page-break-before: always;
    }

    .desc {
      color: #333 !important;
      line-height: 20px !important;

      p {
        margin: 0 0 0.3rem;
      }
    }

    .items {
      .clickable-url {
        display: none;
      }

      div.items-list > div {
        page-break-inside: avoid;
        color: #333 !important;
        background: transparent !important;
        padding: 0 0 !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        width: 49%;
        font-size: 12px !important;
        font-weight: normal !important;
      }
    }

    ul.comments,
    ul.comments-bar {
      padding: 0;
      margin: 0;

      li {
        page-break-inside: avoid;
        color: #333 !important;
        background: transparent !important;
        padding: 0 0 !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;

        country-flag img {
          position: relative;
          top: 4px;
        }

        .professional-comment {
          color: #333 !important;
          padding: 8px 0 0 0 !important;

          & > div > p {
            font-weight: 600;
            margin: 0;
            font-size: 12px !important;
            text-overflow: ellipsis;
          }

          .comment-desc {
            font-weight: normal;
            margin-left: 44px;
            display: block;
            top: -10px;
            position: relative;
            font-size: 12px !important;
          }
        }
      }
    }

    ul.comments {
      page-break-before: always;
    }

    ul.comments-bar li country-flag img {
      position: relative;
      top: -4px;
    }

    .world-map .map {
      height: 260px !important;
      page-break-inside: avoid;
    }

    .world-map {
      page-break-after: always;
    }

    .prosList {
      page-break-inside: avoid;
    }

    .professional-item {
      page-break-inside: avoid;
      box-shadow: none !important;
      margin: 20px 5px 0px 5px !important;
      color: #333 !important;
      padding: 0 !important;
      /* max-width: 220px !important; */
    }

    .prosList .professional-item:nth-child(9) {
      page-break-after: always;
    }

    app-pro-tag {
      page-break-inside: avoid;
    }

    .bloc {
      margin-top: 0 !important;
      margin-bottom: 30px;
    }

    .scale-component {
      page-break-inside: avoid;
    }

    .scale-component .vertical-bar {
      height: 250px !important;
    }

    .big-blue-synthesis .total-score {
      padding: 0 !important;
    }

    .stars-component .star-ratings-css,
    .stars-component .popover-container {
      display: inline-block;

      .top,
      .grade-number {
        color: #0c90c6 !important;
      }

      .grade-number {
        font-size: 1.1em !important;
      }
    }

    .stars-component .popover-container {
      max-width: 100% !important;
      box-shadow: none !important;
      margin-left: 20px;

      small {
        display: inline-block;
        margin-left: 15px;
      }
    }

    .market-item {
      position: relative;
      margin-left: 10px !important;
      margin-bottom: 15px !important;
    }

    .market-item::before {
      position: absolute;
      content: "•";
      display: block;
      width: 5px;
      height: 5px;
      left: -10px;
    }

    .professional-item.top-profil {
      color: #333 !important;
      background: transparent !important;
    }

    .professional-item.top-profil:before {
      top: -20px !important;
    }
  }

}
