/*
    Google fonts
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/*
    Spectre framework
 */

@import "../node_modules/spectre.css/src/spectre.scss";
@import "../node_modules/spectre.css/src/spectre-icons.scss";
@import "../node_modules/spectre.css/src/spectre-exp.scss";

/*
    Fontawesome icons
 */

@import "../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-regular.css";
@import "../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css";
@import "../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-brands.css";
@import "../node_modules/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css";


/*
    Print style
 */

@import "style/print";


/*
    Color variable file
 */

@import "style/variables";


/********************************** Default Styles ***************************************/

html {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
}


body {
  font-size: 1rem;
  line-height: 1.5;
  word-break: break-word;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-color;
  background-color: #ffffff;
  font-weight: 400;
}

.tab-content {
  width: 100%;
}

/*
    Rest style file
 */

@import "style/animation";
@import "style/container-style";
@import "style/general-style";
@import "style/text-style";
@import "style/form-style";
@import "style/button-style";
@import "style/tab-style";
@import "style/modal-style";
@import "style/tooltip-style";
@import "style/table-style";








