/* You can add global styles to this file, and also import other style files */

body
  font-family "Helvetica Neue", Helvetica, sans-serif
  color #333
  margin 0
  background-color #cacaca

app-client // Pour que le footer reste en bas
  display flex
  min-height 100vh
  flex-direction column

app-root div.preloader-wrapper
  position fixed
  top 48.5%
  left 48.5%

.simple-notification-wrapper.top
  top 80px !important
