/* You can add global styles to this file, and also import other style files */

body
  font-family "Open Sans", "Helvetica Neue", Helvetica, sans-serif
  color #878787
  background-color #FAFAF
  font-weight 400

// TODO Remettre si le footer ne colle pas en bas même si le contenu de la page est court.
// Pour que le footer reste en bas
// app-client
//   display flex
//   min-height 100vh
//   flex-direction column

app-root div.preloader-wrapper
  position fixed
  top 48.5%
  left 48.5%

.simple-notification-wrapper.top
  top 80px !important

.sq-sort-ascent:after{
  content: '\25B2';
  margin-left: 5px;
  top: 1px;
  font-size: 12px;
  position: relative;
}

.sq-sort-descent:after{
  content: '\25BC';
  margin-left: 5px;
  top: 1px;
  font-size: 12px;
  position: relative;
}
