@import "style/app-text-zone";
@import "style/tinymce-style";
@import "style/ng2autocomplete-style";
@import "style/upload-zone-photo";
@import "style/simple-notification-style";


// print style
@import "style/print";





