@import "~@umius/umi-style-framework/scss/variables";

#message-template-2 {

  .message-wrapper, .bot-wrapper {
    padding-bottom: $unit-5;
    margin-left: auto;
    margin-right: auto;
  }

  .message-wrapper {
    max-width: 75%;
    width: 100%;
  }

  .bot-wrapper {

    img {
      height: 200px;
    }

  }

}

@media (max-width: $size-sm) {

  #message-template-2 {

    .message-wrapper {
      max-width: 100%;
    }

  }

}

@media (min-width: $size-xl) {

  #message-template-2 {

    .message-wrapper {
      max-width: 50%;
    }

  }

}
