@import "../../../../../style/framework/src/variables";

#message-template-1 {

  .message-content-wrapper {
    padding: 1rem 0.75rem;
    border-radius: 6px;
    color: $light-color;
    background: $bg-background-color;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    position: relative;
  }

  .triangle {
    border-top: 12px solid $background-color;
    border-right: 25px solid transparent;
    transform: skewX(75deg);
    margin-left: 3.75rem;
    width: 0;
    height: 0;
    position: relative;
  }

  .bot-wrapper {

    img {
      margin-left: auto;
      margin-right: auto;
      height: 7.496rem;
    }

  }

}
