@import "../../../../style/framework/src/variables";

#spinner-loader-component {
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: $zindex-0;
  background-color: $bg-color-light;

  .logo-wrapper {
    margin-bottom: $unit-5;
  }

}
