<div id="sidebar-filter-answers">

  <!-- selected contacts type === 'FOLLOW_UP' -->
  <div *ngIf="templateType === 'FOLLOW_UP'">

    <!-- contacts -->
    <div [ngClass]="{'text-center': filterNumber}">

      <!-- no contact selected -->
      <h6 *ngIf="!filterNumber" class="m-bottom-30 text-bold">
        {{ 'SIDEBAR_MARKET_REPORT.SELECT_CONTACTS' | translateIn: reportingLang }}
      </h6>
      <!-- /no contact selected -->

      <!-- button selected contacts -->
      <button
        (click)="onSelectedContacts($event)"
        *ngIf="filterNumber"
        class="button "
        id="btn-selected-contacts"
        type="button">
        <i class="fas fa-share icon-left"></i>
        {{ 'COMMON.LABEL.SELECT' | translateIn: reportingLang }} {{ filterNumber }}
        {{ filterNumber === 1 ? 'contact' : 'contacts' }}
      </button>
      <!-- button selected contacts -->

    </div>
    <!-- /contacts -->

    <div class="divider"></div>

  </div>
  <!-- /selected contacts type === 'FOLLOW_UP -->

  <!-- actions button for admin type === 'MARKET_REPORT' -->
  <div *ngIf="templateType === 'MARKET_REPORT' && isAdminSide">

    <!-- button -->
    <div class="dropdown m-right-auto">

      <a class="button dropdown-toggle is-outlined is-sm is-secondary" tabindex="0">
        Actions <i class="fas fa-caret-down"></i>
      </a>

      <div class="menu">
        <div
          (click)="openModalPreview($event)"
          *ngIf="!innovation.previewMode && innovation.status !== 'DONE'"
          class="menu-item">
          Make project visible to client
        </div>
        <div
          (click)="openModalPreview($event)"
          *ngIf="innovation.previewMode && innovation.status !== 'DONE'"
          class="menu-item">
          Make project invisible to client
        </div>
        <div
          *ngIf="innovation.status !== 'DONE'"
          (click)="openModalEnd($event)"
          class="menu-item">
          End project
        </div>
      </div>

    </div>
    <!-- button -->

    <div class="divider"></div>

  </div>
  <!-- /actions button for admin type === 'MARKET_REPORT' -->

  <!-- views type === 'MARKET_REPORT' || 'FOLLOW_UP' -->
  <div *ngIf="isViewsEditable">

    <h6>{{ 'SIDEBAR_MARKET_REPORT.MY_VIEWS' | translateIn: reportingLang }}</h6>

    <!-- show views -->
    <app-utility-input-list
      [isEditable]="true"
      [isAddable]="false"
      [isSmall]="false"
      [isClickable]="true"
      [identifier]="'name'"
      (clickItem)="loadFilter($event.name)"
      (remove)="deleteCustomFilter($event.value.name)"
      (edit)="updateFilter($event.value, $event.oldTextValue)"
      [config]="{initialData: sharedFiltersList, placeholder: 'View name'}">
    </app-utility-input-list>
    <!-- /show views -->

    <!-- form to register view -->
    <form (ngSubmit)="registerNewFilter()">

      <div class="form-group p-top-1">
        <label>
          <input
            [(ngModel)]="filterName"
            [ngModelOptions]="{ standalone: true }"
            [placeholder]="'SIDEBAR_MARKET_REPORT.FORM_VIEW_PLACEHOLDER' | translateIn: reportingLang"
            class="form-input is-sm"
            type="text">
        </label>
      </div>

      <div class="text-center p-top-10">
        <button
          [disabled]="!filterName"
          class="button is-draft is-outlined is-sm"
          id="btn-create-view"
          type="submit">
          {{ 'COMMON.BUTTON.SAVE' | translateIn: reportingLang }}
        </button>
      </div>

    </form>
    <!-- /form to register view -->

    <div class="divider"></div>

  </div>
  <!-- /views type === 'MARKET_REPORT' || 'FOLLOW_UP' -->

  <!-- view activated type === 'MARKET_REPORT' || 'FOLLOW_UP' -->
  <div *ngIf="activatedCustomFilters.length > 0">

    <h6 class="m-bottom-2">{{ 'SIDEBAR_MARKET_REPORT.ACTIVATED_VIEW' | translateIn: reportingLang }}</h6>

    <div *ngFor="let filter of activatedCustomFilters" class="m-top-1">
      <div
        (click)="unloadFilter($event, filter)"
        class="d-flex align-center text-draft text-medium m-bottom-1 text-xs c-hand">
        <i class="icon text-primary m-right-2 icon-cross"></i>
        {{ filter }}
      </div>
    </div>

    <div class="divider"></div>

  </div>
  <!-- /view activated type === 'MARKET_REPORT' || 'FOLLOW_UP' -->

  <!-- select/unselect all type === 'FOLLOW_UP' -->
  <div *ngIf="templateType === 'FOLLOW_UP'" class="m-bottom-20">
    <label class="form-checkbox is-sm">
      <input
        type="checkbox"
        id="select-all"
        (change)="resetFilters(!!filtersCount)"
        [checked]="!filtersCount">
      <i class="form-icon"></i> {{ 'COMMON.LABEL.SELECT_ALL' | translateIn: reportingLang }}
    </label>
  </div>
  <!-- /select/unselect all type === 'FOLLOW_UP' -->

  <!-- key-learning type === 'MARKET_REPORT' -->
  <div *ngIf="templateType === 'MARKET_REPORT' && isKeyLearning" class="scroll-wrapper">
    <a [href]="'#key-learnings'" pageScroll>
      <i class="icon icon-arrow-right"></i> {{ 'MARKET_REPORT.KEY_LEARNING' | translateIn: reportingLang }}
    </a>
  </div>
  <!-- /key-learning type === 'MARKET_REPORT'  -->

  <!-- result type === 'MARKET_REPORT' -->
  <ng-container *ngIf="templateType === 'MARKET_REPORT' && (innovation.mission | mission:'hasMissionTemplate')
  && !innovation?.marketReport?.keyLearning?.conclusion">
    <div class="scroll-wrapper">
      <a [href]="'#result'" pageScroll>
        <i class="icon icon-arrow-right"></i> {{ 'COMMON.LABEL.RESULT' | translateIn: reportingLang }}
      </a>
    </div>
  </ng-container>
  <!-- /result type === 'MARKET_REPORT'  -->

  <!-- origin type === 'MARKET_REPORT' -->
  <div *ngIf="templateType === 'MARKET_REPORT'" class="scroll-wrapper">
    <a [href]="'#origin-responses'" pageScroll>
      <i class="icon icon-arrow-right"></i> {{ 'MARKET_REPORT.ORIGIN' | translateIn: reportingLang }}
    </a>
  </div>
  <!-- /origin type === 'MARKET_REPORT'  -->

  <!-- map filters type === 'MARKET_REPORT' || 'FOLLOW_UP' -->
  <div *ngIf="continentsList.length" class="scroll-wrapper">

    <!-- type 'MARKET_REPORT' -->
    <a *ngIf="templateType === 'MARKET_REPORT'" [href]="'#map'" pageScroll>
      <span (click)="showSection.map = !showSection.map">
        <i *ngIf="showSection.map" class="icon icon-arrow-down"></i>
        <i *ngIf="!showSection.map" class="icon icon-arrow-up"></i>
      </span>
      {{ 'MARKET_REPORT.MAP.TITLE' | translateIn: reportingLang }}
    </a>
    <!-- /type 'MARKET_REPORT' -->

    <!-- type 'FOLLOW_UP' -->
    <a *ngIf="templateType === 'FOLLOW_UP'" pageScroll>
      <span (click)="showSection.map = !showSection.map">
        <i *ngIf="showSection.map" class="icon icon-arrow-down"></i>
        <i *ngIf="!showSection.map" class="icon icon-arrow-up"></i>
      </span>
      Map
    </a>
    <!-- /type 'FOLLOW_UP' -->

    <div [hidden]="!showSection.map" class="filter-wrapper animate-fade is-3">
      <app-shared-world-list
        (checkContinent)="checkContinent($event)"
        (checkCountry)="checkCountry($event)"
        (filterAllContinents)="filterEverything($event.isChecked, $event.filterArray, 'CONTINENT')"
        [filteredContinents]="filteredContinents"
        [filteredCountries]="filteredCountries"
        [answersCountries]="answersCountries"
        [reportingLang]="reportingLang"
        [filters]="filters">
      </app-shared-world-list>
    </div>

  </div>
  <!-- /map filters type === 'MARKET_REPORT' || 'FOLLOW_UP' -->

  <!-- professional filters type === 'MARKET_REPORT' || 'FOLLOW_UP' -->
  <div *ngIf="professionalsTags.length" class="scroll-wrapper animate-fade is-3">

    <!-- type 'MARKET_REPORT' -->
    <a *ngIf="templateType === 'MARKET_REPORT'" [href]="'#professionals'" pageScroll>
      <span (click)="showSection.professionals = !showSection.professionals">
        <i *ngIf="showSection.professionals" class="icon icon-arrow-down"></i>
        <i *ngIf="!showSection.professionals" class="icon icon-arrow-up"></i>
      </span>
      {{ 'MARKET_REPORT.PROFESSIONAL.TITLE' | translateIn: reportingLang }}
    </a>
    <!-- /type 'MARKET_REPORT' -->

    <!-- type 'FOLLOW_UP' -->
    <a *ngIf="templateType === 'FOLLOW_UP'" pageScroll>
      <span (click)="showSection.professionals = !showSection.professionals">
        <i *ngIf="showSection.professionals" class="icon icon-arrow-down"></i>
        <i *ngIf="!showSection.professionals" class="icon icon-arrow-up"></i>
      </span>
      Professionals
    </a>
    <!-- /type 'FOLLOW_UP' -->

    <div [hidden]="!showSection.professionals" class="filter-wrapper animate-fade is-3">

      <label class="form-checkbox is-sm">
        <input
          type="checkbox"
          id="select-all-professionals"
          (change)="filterEverything($event.target['checked'], professionalsTags, 'TAG')"
          [checked]="!filters['tags']">
        <i class="form-icon"></i> {{ 'COMMON.LABEL.SELECT_ALL' | translateIn: reportingLang }}
      </label>

      <!--TODO remove multiling-->
      <div
        *ngFor="let tag of (seeMore.professionals ? professionalsTags : (professionalsTags | slice:0:6))"
        class="form-group">
        <label class="form-checkbox is-sm">
          <ng-container *ngIf="tag.entry && tag.entry.length; else noSidebarFilterEntry">
            <input
              (change)="checkTag($event, tag._id)"
              [checked]="selectedTags[tag._id]"
              [id]="tag.entry | langEntry:'label':reportingLang:true"
              type="checkbox">
            <i class="form-icon"></i> {{ tag.entry | langEntry:'label':reportingLang:true | titlecase }}
          </ng-container>
          <ng-template #noSidebarFilterEntry>
            <input
              (change)="checkTag($event, tag._id)"
              [checked]="selectedTags[tag._id]"
              [id]="tag.label | multiling:reportingLang"
              [name]="tag.label | multiling:reportingLang"
              type="checkbox">
            <i class="form-icon"></i> {{ tag.label | multiling:reportingLang | FormatText }}
          </ng-template>
        </label>
      </div>

      <!-- see more -->
      <div *ngIf="professionalsTags.length > 6 && !seeMore.professionals">
        <span (click)="seeMore.professionals = true" class="text-link">
          {{ 'MARKET_REPORT.SEE_MORE' | translateIn: reportingLang }}
        </span>
      </div>
      <!-- /see more -->

      <!-- see less -->
      <div *ngIf="professionalsTags.length > 6 && seeMore.professionals">
        <span class="text-link" (click)="seeMore.professionals = false">
          {{ 'MARKET_REPORT.SEE_LESS' | translateIn: reportingLang }}
        </span>
      </div>
      <!-- /see less -->

    </div>

    <div *ngIf="filters['professionals']" class="m-top-10">
      <ng-container *ngFor="let professional of filters['professionals'].value | keyvalue">
        <div
          *ngIf="professional.value['professional']"
          (click)="deleteProfessionalFilter($event, professional.key)"
          class="tooltip prof-hidden-wrapper"
          [attr.data-tooltip]="'MARKET_REPORT.TOOLTIP_UNHIDE_PROFESSIONAL' | translateIn: reportingLang">
          <i class="fas fa-eye-slash text-alert"></i>
          <ng-container *ngIf="!professionalName(professional.value); else profName">
            {{ 'MARKET_REPORT.ANONYMOUS' | translateIn: reportingLang }}
          </ng-container>
          <ng-template #profName>
            {{ professionalName(professional.value) }}
          </ng-template>
        </div>
      </ng-container>
    </div>

  </div>
  <!-- /professional filters type === 'MARKET_REPORT' || 'FOLLOW_UP' -->

  <!-- questions filters type === 'MARKET_REPORT' || 'FOLLOW_UP' -->
  <div *ngFor="let question of displayedQuestions" class="scroll-wrapper animate-fade is-3">

    <!-- textarea -->
    <ng-container *ngIf="question.controlType === 'textarea'">

      <!-- type 'MARKET_REPORT' -->
      <a *ngIf="templateType === 'MARKET_REPORT'" [href]="'#'+question.identifier" pageScroll>
        <span (click)="showSection[question.identifier] = !showSection[question.identifier]">
          <ng-container *ngIf="(answersTagsLists[question.identifier] && answersTagsLists[question.identifier].length)">
            <i *ngIf="showSection[question.identifier] " class="icon icon-arrow-down"></i>
            <i *ngIf="!showSection[question.identifier]" class="icon icon-arrow-up"></i>
          </ng-container>
        </span>
        {{ questionTitle(question) | FormatText }}
      </a>
      <!-- /type 'MARKET_REPORT' -->

      <!-- type 'FOLLOW_UP' -->
      <a *ngIf="templateType === 'FOLLOW_UP'" pageScroll>
        <span (click)="showSection[question.identifier] = !showSection[question.identifier]">
          <ng-container *ngIf="(answersTagsLists[question.identifier] && answersTagsLists[question.identifier].length)">
            <i *ngIf="showSection[question.identifier] " class="icon icon-arrow-down"></i>
            <i *ngIf="!showSection[question.identifier]" class="icon icon-arrow-up"></i>
          </ng-container>
        </span>
        {{ questionTitle(question) | FormatText }}
      </a>
      <!-- /type 'FOLLOW_UP' -->

      <div
        *ngIf="(answersTagsLists[question.identifier] && answersTagsLists[question.identifier].length)"
        [hidden]="!showSection[question.identifier]" class="filter-wrapper animate-fade is-3">

        <label class="form-checkbox is-sm">
          <input
            type="checkbox"
            [id]="'select-all'+(questionTitle(question))"
            (change)="filterEverything($event.target['checked'], [question], question.controlType)"
            [checked]="!filters[question.identifier]">
          <i class="form-icon"></i> {{ 'COMMON.LABEL.SELECT_ALL' | translateIn: reportingLang }}
        </label>

        <!--TODO remove multiling-->
        <div
          *ngFor="let answerTag of (seeMore[question.identifier] ? answersTagsLists[question.identifier]
          : (answersTagsLists[question.identifier] | slice:0:4))"
          class="form-group">
          <label class="form-checkbox is-sm">
            <ng-container *ngIf="answerTag.entry && answerTag.entry.length; else noSidebarFilterAnswerTag">
              <input
                (change)="checkAnswerTag($event, question.identifier)"
                [checked]="selectedAnswersTags[question.identifier][answerTag._id]"
                [id]="answerTag._id"
                [name]="answerTag._id"
                type="checkbox">
              <i class="form-icon"></i> {{ answerTag.entry | langEntry:'label':reportingLang:true }}
            </ng-container>
            <ng-template #noSidebarFilterAnswerTag>
              <input
                (change)="checkAnswerTag($event, question.identifier)"
                [checked]="selectedAnswersTags[question.identifier][answerTag._id]"
                [id]="answerTag._id"
                [name]="answerTag._id"
                type="checkbox">
              <i class="form-icon"></i> {{ answerTag.label | multiling:reportingLang | FormatText }}
            </ng-template>
          </label>
        </div>

        <!-- see more -->
        <div *ngIf="answersTagsLists[question.identifier] && answersTagsLists[question.identifier].length > 4
        && !seeMore[question.identifier]">
          <span (click)="seeMore[question.identifier] = true" class="text-link">
            {{ 'MARKET_REPORT.SEE_MORE' | translateIn: reportingLang }}
          </span>
        </div>
        <!-- /see more -->

        <!-- see less -->
        <div *ngIf="answersTagsLists[question.identifier] && answersTagsLists[question.identifier].length > 4
        && seeMore[question.identifier]">
          <span class="text-link" (click)="seeMore[question.identifier] = false">
            {{ 'MARKET_REPORT.SEE_LESS' | translateIn: reportingLang }}
          </span>
        </div>
        <!-- /see less -->

      </div>

    </ng-container>
    <!-- /textarea -->

    <!-- checkbox || radio -->
    <ng-container *ngIf="question.controlType === 'checkbox' || question.controlType === 'radio' || question.controlType === 'likert-scale'">

      <!-- type 'MARKET_REPORT' -->
      <a *ngIf="templateType === 'MARKET_REPORT'" [href]="'#'+question.identifier" pageScroll>
        <span (click)="showSection[question.identifier] = !showSection[question.identifier]">
          <i *ngIf="showSection[question.identifier] " class="icon icon-arrow-down"></i>
          <i *ngIf="!showSection[question.identifier]" class="icon icon-arrow-up"></i>
        </span>
        {{ questionTitle(question) | FormatText }}
      </a>
      <!-- /type 'MARKET_REPORT' -->

      <!-- type 'FOLLOW_UP' -->
      <a *ngIf="templateType === 'FOLLOW_UP'" pageScroll>
        <span (click)="showSection[question.identifier] = !showSection[question.identifier]">
          <i *ngIf="showSection[question.identifier] " class="icon icon-arrow-down"></i>
          <i *ngIf="!showSection[question.identifier]" class="icon icon-arrow-up"></i>
        </span>
        {{ questionTitle(question) | FormatText }}
      </a>
      <!-- /type 'FOLLOW_UP' -->

      <div [hidden]="!showSection[question.identifier]" class="filter-wrapper animate-fade is-3">

        <label class="form-checkbox is-sm">
          <input
            type="checkbox"
            [id]="'select-all'+(question.title | multiling:reportingLang)"
            (change)="filterEverything($event.target['checked'], [question], question.controlType)"
            [checked]="!filters[question.identifier]">
          <i class="form-icon"></i> {{ 'COMMON.LABEL.SELECT_ALL' | translateIn: reportingLang }}
        </label>

        <div *ngFor="let option of (seeMore[question.identifier] ? question.options
        : (question.options | slice:0:4))" class="form-group">
          <label class="form-checkbox is-sm">
            <input
              (change)="checkOption($event, question)"
              [checked]="filters[question.identifier] ? filters[question.identifier].value[option.identifier] : true"
              [id]="option.identifier"
              [name]="option.identifier"
              type="checkbox">
            <i class="form-icon"></i> {{ optionLabel(option) | FormatText }}
          </label>
        </div>

        <!-- see more -->
        <div *ngIf="question.options && question.options.length > 4 && !seeMore[question.identifier]">
          <span (click)="seeMore[question.identifier] = true" class="text-link">
            {{ 'MARKET_REPORT.SEE_MORE' | translateIn: reportingLang }}
          </span>
        </div>
        <!-- /see more -->

        <!-- see less -->
        <div *ngIf="question.options && question.options.length > 4 && seeMore[question.identifier]">
          <span class="text-link" (click)="seeMore[question.identifier] = false">
            {{ 'MARKET_REPORT.SEE_LESS' | translateIn: reportingLang }}
          </span>
        </div>
        <!-- /see less -->

      </div>

    </ng-container>
    <!-- /checkbox || radio -->

    <!-- rest types -->
    <div *ngIf="question.controlType !== 'textarea' && question.controlType !== 'checkbox'
     && question.controlType !== 'likert-scale'&& question.controlType !== 'radio'" class="scroll-wrapper">
      <a [href]="'#' + question.identifier" pageScroll>
        <i class="icon icon-arrow-right"></i> {{ questionTitle(question) | FormatText }}
      </a>
    </div>
    <!-- /rest types -->

  </div>
  <!-- /questions filters -->

  <!-- conclusion filters -->
  <div *ngIf="templateType === 'MARKET_REPORT' && (isFinalConclusion || isAdminSide)" class="scroll-wrapper">
    <a [href]="'#conclusion'" pageScroll>
      <i class="icon icon-arrow-right"></i> {{ 'MARKET_REPORT.CONCLUSION' | translateIn: reportingLang }}
    </a>
  </div>
  <!-- /conclusion filters -->

</div>

<!-- Modal to ask the operator to confirm for the preview of the synthesis at the side of the client -->
<umius-modal *ngIf="isAdminSide" [title]="'Confirmation Board'" [(showModal)]="isModalPreview">

  <section class="modal-body">
    <div>
      <ng-container *ngIf="!innovation.previewMode; else invisible">
        Do you really want to make this partial synthesis visible to the client?
      </ng-container>
      <ng-template #invisible>
        Do you really want to make this partial synthesis invisible to the client?
      </ng-template>
    </div>
  </section>

  <!-- footer -->
  <footer class="modal-footer">
    <button class="button modal-cancel">Cancel</button>
    <button class="button is-primary" (click)="onConfirmVisibility($event)">Confirm</button>
  </footer>
  <!-- /footer -->

</umius-modal>
<!-- /Modal to ask the admin to confirm for the preview of the synthesis at the side of the client -->

<!-- Modal to ask the operator to sure about ending the project -->
<ng-container *ngIf="isAdminSide && innovation.status !== 'DONE'">
  <app-admin-project-done-modal
    (statusUpdated)="onStatusUpdated($event)"
    [(showModal)]="isModalEnd"
    [innovationId]="innovation._id">
  </app-admin-project-done-modal>
</ng-container>
<!-- /Modal to ask operator to sure about ending the project -->
