@import "~@umius/umi-style-framework/scss/variables";
@import "~@umius/umi-style-framework/scss/mixins";

#sidebar-filter-answers {
  font-size: 13px;
  background-color: $white-color;

  h6 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .icon-img {
    width: 40%;
    height: 40%;
  }

  .form-checkbox {
    font-size: 14px;
    font-weight: 600;
    color: $draft-color;
    padding-right: 0;
  }

  #btn-selected-contacts {
    width: 176px;
    white-space: pre-wrap;
    line-height: 1.3;

    i {
      font-size: 28px;
    }

  }

  .divider {
    margin: $unit-5 0;
    border-color: $meta-color;
    height: 2px;
  }

  .dropdown {

    .menu {
      width: 200px;
      padding: $unit-1 0;

      .menu-item {
        padding: $unit-1 $unit-2;

        a {
          color: inherit;
          padding: $unit-1 $unit-2;
          margin: (-$unit-1 $unit-2);
        }

      }

    }

  }

  .scroll-wrapper {
    font-weight: 600;
    margin-bottom: 20px;

    a {
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 12px;
        color: $meta-color;
        margin-right: 4px;
      }

      .icon-arrow-down, .icon-arrow-up {
        &:hover {
          color: $primary-color;
        }
      }

    }

  }

  .edit-wrapper {
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 100%;
  }

  .filter-wrapper {
    margin-top: 8px;

    .form-group {
      margin-bottom: 0;
    }

    .form-checkbox {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 13px;
    }

    .text-link {
      font-size: $font-size-xs;
      font-weight: normal;
    }

  }

  .prof-hidden-wrapper {
    margin-top: 4px;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }

    i {
      margin-right: 4px;
    }

  }

}
