@import "~@umius/umi-style-framework/scss/mixins";

#type-likert-scale .card-likert {
  padding: 10px;
  background-color: white;
}

#type-likert-scale .card-likert div {
  margin-right: 0.3rem;
}

#type-likert-scale .card-likert div .shape.is-circled.is-sm {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
