<div id="project">

  <!-- header -->
  <section [ngClass]="{'bg-draft': !isLoading}" class="p-top-25">
    <div class="container grid-2xl fluid">
      <div class="column col-sm-12 col-11 col-mx-auto">

        <!-- heading -->
        <h1 [hidden]="isLoading" class="title text-white m-bottom-10 animate-fade">
          <ng-container *ngIf="innovation.name; else project">{{ innovation.name }}</ng-container>
          <ng-template #project>{{ 'COMMON.LABEL.PROJECT' | translate }}</ng-template>
        </h1>
        <!-- /heading -->

        <!-- mission objective -->
        <div [ngStyle]="{ 'min-height': '25px' }">
          <div *ngIf="mission.objective && mission.objective.principal && mission.objective.principal['en']
          && mission.objective.principal['en'] !== 'Other'">
            <div [hidden]="isLoading" class="objective-wrapper animate-fade">
              <i [ngClass]="iconClass"></i>
              {{ mission.objective.principal[currentLang] }}
            </div>
          </div>
        </div>
        <!-- /mission objective -->

        <!-- tabs -->
        <div [hidden]="isLoading" class="m-top-40 animate-fade">
          <ul class="tab is-fullwidth">
            <li *ngFor="let tab of tabs" class="tab-item">
              <a
                (click)="navigateTo($event, tab.route)"
                [id]="tab.route"
                [ngClass]="tab.tracking"
                [routerLink]="tab.route"
                routerLinkActive="active">
                <i [ngClass]="tab.iconClass"></i>
                {{ 'PROJECT_MODULE.' + tab.name | translate }}
              </a>
            </li>
          </ul>
        </div>
        <!-- /tabs -->

      </div>
    </div>
  </section>
  <!-- /header -->

  <!-- different pages -->
  <div [ngSwitch]="currentPage">

    <!-- settings -->
    <div *ngSwitchCase="'settings'">
      <app-project-settings></app-project-settings>
    </div>
    <!-- /settings -->

    <!-- setup -->
    <div *ngSwitchCase="'setup'">
      <app-project-setup></app-project-setup>
    </div>
    <!-- /setup -->

    <!-- exploration -->
    <div *ngSwitchCase="'exploration'" class="p-bottom-50">
      <app-project-exploration *ngIf="innovation._id" [project]="innovation"></app-project-exploration>
    </div>
    <!-- /exploration -->

    <!-- synthesis -->
    <div *ngSwitchCase="'synthesis'">
      <app-shared-market-report
        *ngIf="innovation._id"
        [project]="innovation"
        [adminSide]="false"
        [reportShared]="false">
      </app-shared-market-report>
    </div>
    <!-- /synthesis -->

    <!-- documents -->
    <div *ngSwitchCase="'documents'">
      <app-project-documents></app-project-documents>
    </div>
    <!-- /documents -->

  </div>
  <!-- /different pages -->

</div>
