@import "../../../../../../style/variables";

#client-project {

  .hero-light-container {
    background-color: $background-color;
    padding-bottom: 0;

    h1 {
      color: white;
      margin-bottom: 1.2rem;
    }

    .info-wrapper {

      img {
        vertical-align: middle;
        margin-bottom: .35rem;
      }

      .project-info {
        color: $meta-color;
        font-weight: 600;
        padding-left: .95rem;
        font-size: .85rem;
      }

    }

    .tab-container {
      padding-top: 2.187rem;

      .tabs li a {
        border-top-right-radius: .35rem;
        border-top-left-radius: .35rem;
      }

    }

  }

  .active {
    background: white;
    color: $dark-color;
  }

}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .tabs li a {
    border-radius: .35rem;
  }

}

@media (min-width: 601px) {

  .tabs li {
    margin-right: .95rem;
  }

  .tabs li:last-child {
    margin-right: 0;
  }

}



