@import "../../../../../../style/framework/src/variables";

#project {

  .tab {
    border-bottom: none;

    .tab-item {
      color: $text-white-color;
      border-bottom: none;

      a {
        border-bottom: none;
        background-color: #747d88;
        font-weight: $font-weight-medium;
        border-top-right-radius: $border-width-xl;
        border-top-left-radius: $border-width-xl;
      }

    }

  }

}

