<section *ngIf="innovation" class="section-container" id="project-component">


  <!-- header section -->
  <div class="section-header">
    <div class="column col-xs-12 col-11 col-mx-auto">

      <!-- heading -->
      <h1>{{ innovation.name[0] | uppercase }}{{ innovation.name | slice:1 }}</h1>

      <!-- info -->
      <div class="info-wrapper">
        <img [src]="offerTypeImage" alt="offer">
        <span class="project-info">
          {{ 'COMMON.ADDED' | translate }} {{ innovation.created | date:dateFormat }}
          &nbsp;•&nbsp;
          {{ 'COMMON.UPDATED' | translate }} {{ innovation.updated | date:dateFormat }}
          &nbsp;•&nbsp;
          {{ innovation.collaborators.length }} {{ 'PROJECT_MODULE.COLLABORATORS' | translate }}
          <span class="text-link gtm-edit-collaborators" (click)="editCollaborator($event)">
            {{ 'COMMON.EDIT' | translate | lowercase}}
          </span>
        </span>
      </div>


    </div>
  </div>
  <!-- /header section -->


</section>
<!--
<app-shared-loader *ngIf="!project"></app-shared-loader>

<section *ngIf="project" class="main-container" id="client-project">

  &lt;!&ndash; Header &ndash;&gt;
  <div class="hero-light-container header-project">
    <div class="column col-xs-12 col-11 col-mx-auto">

      &lt;!&ndash; Name &ndash;&gt;


      &lt;!&ndash; Info &ndash;&gt;

      &lt;!&ndash; Tabs &ndash;&gt;
      <div class="tab-container">
        <ul class="tabs">
          <li>
            <a [routerLink]="['setup']" [ngClass]="{'active': currentPage == 'setup'}" class="gtm-tabs-description">
              <i class="fas fa-pencil-alt"></i>{{ 'PROJECT_MODULE.SETUP_TAB' | translate }}
            </a>
          </li>
          <li>
            <a [routerLink]="['exploration']" [ngClass]="{'active': currentPage == 'exploration'}" class="gtm-tabs-exploration">
              <i class="fas fa-globe"></i>{{ 'PROJECT_MODULE.EXPLORATION_TAB' | translate }}
            </a>
          </li>
          <li>
            <a [routerLink]="['synthesis']" [ngClass]="{'active': currentPage == 'synthesis'}" class="gtm-tabs-synthesis">
              <i class="fas fa-signal"></i>{{ 'PROJECT_MODULE.SYNTHESIS_TAB' | translate }}
            </a>
          </li>
          &lt;!&ndash;<li>
            <a [routerLink]="['history']" [ngClass]="{'active': currentPage == 'history'}">
              <i class="fas fa-history"></i>{{ 'PROJECT_MODULE.HISTORY_TAB' | translate }}
            </a>
          </li>&ndash;&gt;
        </ul>
      </div>

    </div>
  </div>

  &lt;!&ndash; Section &ndash;&gt;

  &lt;!&ndash; Setup page &ndash;&gt;
  <div *ngIf="currentPage === 'setup'">
    <app-client-setup-project [project]="project"></app-client-setup-project>
  </div>

  &lt;!&ndash; Exploration page &ndash;&gt;
  <div *ngIf="currentPage === 'exploration'">
    <app-client-exploration-project [project]="project"></app-client-exploration-project>
  </div>

  &lt;!&ndash; Synthesis page &ndash;&gt;
  <div *ngIf="currentPage === 'synthesis'">
    <app-shared-market-report [project]="project"></app-shared-market-report>
  </div>

  &lt;!&ndash; History page
  <div *ngIf="currentPage === 'history'">
    <app-client-history-projects-list [projects-list]="projects-list"></app-client-history-projects-list>
    <div class="bot-wrapper text-center" [ngStyle]="{ 'padding-top': '75px', 'padding-bottom': '50px' }">
      <span class="bot-rect" [ngStyle]="{ 'width': '300px' }">Work in progress...</span>
      <br>
      <img src="https://res.cloudinary.com/umi/image/upload/v1528795403/app/default-images/bot-triangle.svg" class="bot-trian">
      <div><img src="https://res.cloudinary.com/umi/image/upload/v1528795365/app/default-images/bot-1.svg" alt="Bot"></div>
    </div>
  </div>&ndash;&gt;

</section>

&lt;!&ndash; Add collaborators &ndash;&gt;
<sidebar [template]="sidebarTemplateValue" (closeSidebar)="closeSidebar($event)">
  <app-collaborator
    (collaboratorAdded)="addCollaborators($event)"
    [collaborator]="project.collaborators"
    [projectId]="project._id"
    [sidebarState]="sidebarState">
  </app-collaborator>
</sidebar>
-->
