p {
  font-size: 0.75rem;
  color: inherit;
  margin: 0;
}

.editor-canvas {
  padding: 10px;
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  min-height: 100px;
  background-color: #F2F2F2;
}


