<section class="section-container"  id="discover-page-wrapper">
  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- Heading and Search field -->
    <div class="header-wrapper">
      <h1 class="main-heading">{{ 'DISCOVER.PAGE_DESCRIPTION' | translate }}</h1>
      <div class="search">
        <app-search-input></app-search-input>
      </div>
    </div>

    <!-- Spinner display -->
    <div *ngIf="displaySpinner" class="spinner-wrapper">
      <app-shared-loader></app-shared-loader>
    </div>

    <ng-container *ngIf="!displaySpinner">

      <!-- Total number of innovations and filters -->
      <div [ngClass]="{ 'filter-wrapper': showFilterContainer }">

        <div class="total-filter-wrapper" [ngClass]="{ 'column col-xs-12 col-11 col-mx-auto': showFilterContainer }">

          <h6>{{ 'DISCOVER.SHOWING' | translate }} {{ innovationCards.length }} {{ 'innovations' }} {{ 'DISCOVER.FROM' | translate }} {{ totalValue }} {{ 'innovations.' }}</h6>

          <ng-container *ngIf="showFilterContainer === false">
            <button class="btn btn-sm ghost-edit btn-filter" (click)="showFilterContainer = true"><i class="fas fa-sliders-h"></i>Add Filters</button>
          </ng-container>

          <ng-container *ngIf="showFilterContainer === true">
            <div class="filter-action">
              <button class="btn btn-sm ghost-edit btn-cancel" (click)="showFilterContainer = false">Cancel</button>
              <button class="btn btn-sm btn-primary" (click)="showFilterContainer = false">Apply Filters</button>
            </div>
          </ng-container>

        </div>

        <div class="filter-applied" [ngClass]="{ 'column col-xs-12 col-11 col-mx-auto': showFilterContainer }">

        </div>

        <div class="column col-xs-12 col-11 col-mx-auto filter-outer" [ngStyle]="{ 'display': showFilterContainer ? 'block' : 'none'}">
          <div class="filter-content">

            <!-- Filter sector -->
            <div class="filter-type">
              <p>Type</p>
              <div class="filter-option">
                <label class="form-checkbox">
                  <input type="checkbox" id="Value Chain" value="VALUE_CHAIN" name="type">
                  <i class="form-icon"></i><span class="checkbox-label">Value Chain</span>
                </label>
              </div>
              <div class="filter-option">
                <label class="form-checkbox">
                  <input type="checkbox" id="Sector" value="SECTOR" name="type">
                  <i class="form-icon"></i><span class="checkbox-label">Sector</span>
                </label>
              </div>
              <div class="filter-option">
                <label class="form-checkbox">
                  <input type="checkbox" id="Solution" value="SOLUTION_TYPE" name="type">
                  <i class="form-icon"></i><span class="checkbox-label">Solution</span>
                </label>
              </div>
              <div class="filter-option">
                <label class="form-checkbox">
                  <input type="checkbox" id="Qualification" value="QUALIFICATION" name="type">
                  <i class="form-icon"></i><span class="checkbox-label">Qualification</span>
                </label>
              </div>
            </div>

            <!-- Language filter -->
            <div class="filter-language">
              <p>Language</p>
              <div class="filter-option">
                <label class="form-checkbox">
                  <input type="checkbox" id="en" value="en" name="language" (change)="toggleFilter($event)">
                  <i class="form-icon"></i><span class="checkbox-label">English</span>
                </label>
              </div>
              <div class="filter-option">
                <label class="form-checkbox">
                  <input type="checkbox" id="fr" value="fr" name="language" (change)="toggleFilter($event)">
                  <i class="form-icon"></i><span class="checkbox-label">French</span>
                </label>
              </div>
            </div>

            <!-- Filter sector -->
            <div class="filter-label">
              <p>Label</p>
            </div>

          </div>
        </div>

      </div>

      <div *ngIf="addingFilter" class="filter-spinner-wrapper"><app-shared-loader></app-shared-loader></div>

      <div [ngClass]="{ 'filter-wrapper-overlay': showFilterContainer }" (click)="showFilterContainer = false"></div>

      <!-- Innovations -->
      <div class="innovations-wrapper">
        <div *ngFor="let innovation of innovationCards" class="innov-wrapper">
          <div class="innov-content">
            <a [routerLink]="innovation.innovation_reference" [queryParams]="{ lang: innovation.lang }">

              <!-- Image -->
              <div class="innov-img">
                <img [src]="getSrc(innovation)" alt="No media">
              </div>

              <!-- Body part -->
              <div class="innov-body">
                <h1 class="main-heading">{{ innovation.title | DiscoverSummaryPipe:95 }}</h1>
                <p>{{ innovation.summary }}</p>
              </div>

            </a>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="pagination-wrapper">
        <app-pagination
          [total]="totalValue"
          [propertyName]="'app-discover'"
          [configValue]="paginationConfigValue"
          (configChange)="configChange($event)">
        </app-pagination>
      </div>

    </ng-container>

  </div>
</section>

<!--<div class="container main-container">
  <div class="columns">
    <div class="column col-11 col-mx-auto">

      &lt;!&ndash; Hero container &ndash;&gt;
      <div class="hero-light-container">

        &lt;!&ndash; Page Heading &ndash;&gt;
        <h1 class="hero-title">{{ 'DISCOVER.TITLE' | translate }}</h1>
        <hr class="hero-hr" align="left">
        &lt;!&ndash; /Page Heading &ndash;&gt;

        &lt;!&ndash; Page Description and Search Box &ndash;&gt;
        <div class="columns">
          <div class="column col-md-12 col-8">
            <p class="hero-subtitle">{{ 'DISCOVER.PAGE_DESCRIPTION' | translate }}</p>
          </div>
          <div class="column col-md-12 col-4" id="padding-top">
            <app-search-input
              (searchInputEmit)="onSearchValue($event)"
              (discoverValueEmit)="onValueSelected($event)"
              [suggestions]="suggestionInnov">
            </app-search-input>
          </div>
        </div>
        &lt;!&ndash; /Page Description and Search Box &ndash;&gt;

      </div>
      &lt;!&ndash; /Hero container &ndash;&gt;

      &lt;!&ndash; Section container &ndash;&gt;
      <div class="section-container">

        &lt;!&ndash; Innovation Cards &ndash;&gt;
        <div class="columns">
          <div class="column col-sm-12 col-xl-6 col-4" id="row-padding" *ngFor="let innovationCard of innovationCards">
            <div class="card">
              <div class="card-image" [routerLink]="[ innovationCard.innovation_reference, innovationCard.lang ]">
                <img
                  *ngIf="innovationCard.media[0] ; else nomedia"
                  [src]= "innovationCard.media[0].url" alt="Media">
                <ng-template #nomedia>
                  <img
                    [src]= "" alt="Media">
                </ng-template>
              </div>
              <div class="card-header">
                <div class="card-title" [routerLink]="[ innovationCard.innovation_reference, innovationCard.lang ]">{{ innovationCard.title }}</div>
                <div class="card-subtitle text-gray"> </div>
              </div>
              <div class="card-body"> {{ innovationCard.summary | DiscoverSummaryPipe }}</div>
              <div class="card-footer">
                <p>View in:
                  <span [routerLink]="[ innovationCard.innovation_reference, innovationCard.lang ]"> {{ innovationCard.lang | uppercase }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        &lt;!&ndash; /Innovation Cards &ndash;&gt;

      </div>
      &lt;!&ndash; /Section container &ndash;&gt;

    </div>
  </div>
</div>-->


