@import '../../../../../style/variables';

#discover-page-wrapper {

  .header-wrapper {
    display: flex;
    justify-content: space-between;

    h1 {
      flex: 2;
    }

    .search-wrapper {
      flex: 1;
    }

  }

  .innovations-wrapper {
    padding-top: 3.15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -3.15rem;

    .innov-wrapper {
      display: inline-flex;
      background: white;
      border: 1px solid $border-color;
      min-height: 15rem;
      margin-bottom: 3.15rem;
      border-radius: .18rem;
      flex: 0 1 calc(50% - 1rem);
      box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);

      .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        .img-wrapper {
          margin: 0 auto;

          img {
            border-top-left-radius: .18rem;
            border-top-right-radius: .18rem;
            height: 200px;
            width: 99.99%;
          }

        }

        .body-wrapper {
          padding: .9375rem .6rem;

          .main-heading {
            font-size: 1.12rem;
          }

          p {
            color: #878787;
            font-size: .875rem;
          }

        }


      }

    }

  }


}

/********************************** Media ***************************************/
@media (max-width: 600px) {

  #discover-page-wrapper {

    .header-wrapper {
      flex-direction: column;
    }

  }

}

@media (min-width: 1280px) {

  #discover-page-wrapper {

    .innov-wrapper {
      flex: 0 1 calc(32% - 1rem) !important;
    }

  }

}

/*

// Text color
$card-title-color: #333333 !default;
$card-body-color: #878787 !default;

.hero-light-container {

  h1::after {
    display: none !important;
  }

  #padding-top {
    padding-top: 8px;
  }

}

.section-container {
  padding-bottom: 34px;

  #row-padding {
    padding-bottom: 16px;
  }

  .card {

    .card-image {
      height: 200px;
      width: 100%;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
      }

    }

    .card-header {
      cursor: pointer;

      .card-title {
        color: $card-title-color;
        font-size: 1rem;
      }

    }

    .card-body {
      color: $card-body-color;
      font-size: 0.8rem;
      text-align: justify;
    }

    .card-footer {
      height: 56px;

      span {
        border: none;
        color: $primary-color;
      }

      span:hover {
        background-color: transparent;
        color: $hover-color;
        cursor: pointer;
      }

      #lang-divider {
        color: $card-body-color;
      }

      #lang-divider:hover {
        color: $card-body-color;
        cursor: default;
      }

    }

  }

}

*:focus{
  outline: none !important;
}

@media (min-width: 767px) and (max-width: 960px) {

  .card-header {
    height: 107px !important;
  }

  .card-body {
    height: 160px !important;
  }

}

@media (min-width: 961px) {

  .card-header {
    height: 75px !important;
  }

  .card-body {
    height: 120px !important;
  }

}





*/
