<app-shared-breadcrumb [routes]="[{routerLink:'/', name:'COMMON.HOME'},
                                  {routerLink:'/admin', name:'COMMON.ADMIN'},
                                  {routerLink:'/campaign', name:'COMMON.CAMPAIGNS'},
                                  {routerLink:'./', name:'COMMON.INFOGRAPHY'}]"></app-shared-breadcrumb>


<div class="container reduced">
  <div class="title">
    <h4 class="grey-text text-darken-2">{{ infographic.title }}</h4>
    <h5 class="grey-text text-lighten-1">{{ 'INFOGRAPHIC_SUBTITLE' | translate }}</h5>
  </div>
  <div class="row">

    <div class="col s3">
      <ul class="section table-of-contents">

        <li><a class="waves-effect waves-light" (click)="showList = !showList"><i class="material-icons left">subject</i>{{ 'INFOGRAPHIC_NAV_LIST.' + (showList ? 'HIDE' : 'SHOW') | translate }}</a></li>
        <div *ngIf="showList">
          <li *ngFor="let question of questions">
            <a href="{{ getStatTitle(question) | latinise | slugify }}" class="waves-effect waves-light sub-section"><i class="material-icons right">play_arrow</i>{{ getStatTitle(question) }}</a>
          </li>
        </div>

      </ul>
    </div>

    <div class="col s9 inline" *ngIf="infographic">
      <div class="question" *ngFor="let question of questions">
          <app-shared-infographic-container [infographic]="infographic" [question]=question [questions]="questions"></app-shared-infographic-container>
      </div>
    </div>

  </div>
</div>
