.container.reduced
  width 85%

  .title
    margin-top 5rem
    margin-bottom 3rem
    text-align center

  a
    cursor pointer
    width 100%

  .section.table-of-contents
    position relative

  .question
    margin-bottom 5rem
