@import "../../../../../../style/framework/src/variables";

#reset-password-component {

  .main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 auto;

    .title-primary {
      font-size: 1.75rem;
      color: $text-background;
    }

    .email {
      padding-bottom: 1.25rem;
      width: 100%;
    }

    .reset-button {
      padding-top: 1.25rem;
      text-align: center;
    }

  }

}

/********************************** Media ***************************************/

@media (min-width: $size-md) {

  #reset-password-component {

    .break {
      display: flex !important;
    }

  }

}


@media (min-width: $size-sm) and (max-width: $size-md) {

  #reset-password-component {

    .email {
      width: 95% !important;
    }

  }

}


@media (min-width: $size-md) and (max-width: $size-xl) {

  #reset-password-component {

    .email {
      width: 97% !important;
    }

  }

}


@media (min-width: $size-xl) and (max-width: $size-2x) {

  #reset-password-component {

    .email {
      width: 72% !important;
    }

  }

}


@media (min-width: $size-2x) {

  #reset-password-component {

    .email {
      width: 60% !important;
    }

  }

}

