@import "../../../../../../style/framework/variables";

#reset-password-component {

  .main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 1.57rem;
    padding-bottom: 1.57rem;
  }


  .form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 auto;

    .title-primary {
      font-size: 2.15rem;
      color: $text-background;
    }

    .email {
      padding-bottom: 1.57rem;
      width: 100%;
    }

    .reset-button {
      padding-top: 1.57rem;
      text-align: center;
    }

  }

}

/********************************** Media ***************************************/

@media (min-width: 840px) {

  #reset-password-component {

    .break {
      display: flex !important;
    }

  }

}


@media (min-width: 601px) and (max-width: 840px) {

  #reset-password-component {

    .email {
      width: 95% !important;
    }

  }

}


@media (min-width: 841px) and (max-width: 1280px) {

  #reset-password-component {

    .email {
      width: 97% !important;
    }

  }

}


@media (min-width: 1281px) and (max-width: 1440px) {

  #reset-password-component {

    .email {
      width: 72% !important;
    }

  }

}


@media (min-width: 1441px) {

  #reset-password-component {

    .email {
      width: 60% !important;
    }

  }

}

