<main class="container fluid" id="reset-password-component">
  <div class="column col-xs-12 col-sm-11 col-md-8 col-6 col-mx-auto main-wrapper section-light-pad">

    <!-- Logo section -->
    <section class="text-center">
      <a [href]="companyUrl">
        <img
          [alt]="companyName"
          [src]="companyLogo"
          height="57.58"
          width="110">
      </a>
    </section>


    <!-- Main content -->
    <section class="form-section">

      <!-- Heading -->
      <h1 class="title is-4 text-center">{{ 'RESET_PASSWORD.HEADING_A' | translate }}</h1>

      <!-- Email -->
      <div class="email">
        <form novalidate (submit)="onClickSubmit()" [formGroup]="formData">

          <!-- Email field -->
          <div class="form-group has-error">
            <label class="form-label" for="reset-password-email">{{ 'COMMON.LABEL.EMAIL' | translate }}</label>
            <input
              type="email"
              id="reset-password-email"
              class="form-input"
              formControlName="email"
              placeholder="john@catco.com">
            <span *ngIf="formData.get('email').touched">
              <span
                *ngIf="formData.get('email').hasError('required')"
                class="form-input-hint">
                {{ 'COMMON.REQUIRED.EMAIL' | translate }}
              </span>
              <span
                *ngIf="formData.get('email').hasError('email') && formData.get('email').value !== ''"
                class="form-input-hint">
                {{ 'COMMON.INVALID.EMAIL' | translate }}
              </span>
            </span>
          </div>

          <!-- password field -->
          <div class="form-group has-error">
            <label class="form-label" for="reset-password-password">{{ 'COMMON.NEW_PASSWORD' | translate }}</label>
            <input
              type="password"
              id="reset-password-password"
              class="form-input"
              formControlName="password"
              [attr.placeholder]="'COMMON.NEW_PASSWORD_PLACEHOLDER' | translate">
            <span *ngIf="formData.get('password').touched">
              <span
                *ngIf="formData.get('password').hasError('required')"
                class="form-input-hint">
                {{ 'COMMON.REQUIRED.NEW_PASSWORD' | translate }}
              </span>
              <span
                *ngIf="formData.get('password').hasError('minlength')"
                class="form-input-hint">
                {{ 'COMMON.INVALID.PASSWORD_TOO_SHORT' | translate }}
              </span>
            </span>
          </div>

          <!-- confirm password field -->
          <div class="form-group has-error">
            <label class="form-label" for="reset-password-confirm">{{ 'COMMON.CONFIRM_PASSWORD' | translate }}</label>
            <input
              type="password"
              id="reset-password-confirm"
              class="form-input"
              formControlName="passwordConfirm"
              [attr.placeholder]="'COMMON.CONFIRM_PASSWORD_PLACEHOLDER' | translate">
            <span *ngIf="formData.get('password').touched">
              <span
                *ngIf="formData.get('password').hasError('required')"
                class="form-input-hint">
                {{ 'COMMON.REQUIRED.CONFIRM_PASSWORD' | translate }}
              </span>
              <span
                *ngIf="formData.get('password').hasError('minlength')"
                class="form-input-hint">
                {{ 'COMMON.INVALID.PASSWORD_TOO_SHORT' | translate }}
              </span>
            </span>
          </div>

          <!-- Reset button -->
          <div class="reset-button">
            <button
              [disabled]="formData.invalid && formData.touched"
              class="button is-primary"
              type="submit">
              {{ 'RESET_PASSWORD.BUTTON_TEXT' | translate }}
            </button>
          </div>

        </form>
      </div>

    </section>

  </div>
</main>
