@import "~@umius/umi-style-framework/scss/variables";

#reset-password-component {

  .main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 auto;

    .title.is-4 {
      font-size: 28px;
      color: $draft-color;
    }

    .email {
      padding-bottom: 25px;
      width: 100%;
    }

    .reset-button {
      padding-top: 25px;
      text-align: center;
    }

  }

}


@media (min-width: $size-md) {

  #reset-password-component {

    .break {
      display: flex !important;
    }

  }

}


@media (min-width: $size-sm) and (max-width: $size-md) {

  #reset-password-component {

    .email {
      width: 95% !important;
    }

  }

}


@media (min-width: $size-md) and (max-width: $size-xl) {

  #reset-password-component {

    .email {
      width: 97% !important;
    }

  }

}


@media (min-width: $size-xl) and (max-width: $size-2x) {

  #reset-password-component {

    .email {
      width: 72% !important;
    }

  }

}


@media (min-width: $size-2x) {

  #reset-password-component {

    .email {
      width: 60% !important;
    }

  }

}

