#user-form {
  padding-top: 1.875rem;

  .operator-wrapper {
    padding-bottom: 1.875rem;

    .input-group {
      flex-direction: column;

      .form-switch {
        font-size: .85rem;
      }

    }

  }

  .domain-wrapper {

    a, span{
      color: #97A4B1;
    }

    a:hover {
      cursor: pointer;
      text-decoration: none;
    }

  }

  .terms-wrapper {
    padding-top: 1.375rem;
    font-size: 0.85rem;
    color: #97A4B1;
    padding-left: .9375rem;
    padding-right: .9375rem;
  }

  .signUp-button-wrapper {
    padding-top: 1.875rem;
  }

}
