.user-form-wrapper {
  padding-top: 30px;

  .operator-wrapper {
    padding-bottom: 30px;

    .input-group {
      flex-direction: column;

      .form-switch {
        font-size: 14px;
      }

    }

  }

  .domain-wrapper {

    a, span{
      color: #97A4B1;
    }

    a:hover {
      cursor: pointer;
      text-decoration: none;
    }

  }

  .terms-wrapper {
    padding-top: 22px;
    font-size: 0.7rem;
    color: #97A4B1;
    padding-left: 15px;
    padding-right: 15px;
  }

  .signUp-button-wrapper {
    padding-top: 30px;
  }

}
