@import "../../../../../style/variables";

#user-form-component {
  padding-top: 1.875rem;

  .save-button-wrapper {
    text-align: right;
    padding-bottom: 1.25rem;
  }

  .pro-quiz-wrapper {
    padding-top: .6rem;

    p {
      font-size: .875rem;
      padding-bottom: 0;
    }

  }


}

#user-form {


  .operator-wrapper {
    padding-bottom: 1.875rem;

    .input-group {
      flex-direction: column;

      .form-switch {
        font-size: .85rem;
      }

    }

  }

  .domain-wrapper {

    a, span{
      color: #97A4B1;
    }

    a:hover {
      cursor: pointer;
      text-decoration: none;
    }

  }

}
