footer {
  background: #FAFAFA;
  height: 246px;
  padding: 54px 0;
  margin-top: 140px;
  font-size: 0.7rem;

  .dropdown {
    li {
      margin-top: 0;

      a {
        display: block;
        cursor: pointer;
        min-width: 80px;
      }
    }

    .menu {
      min-width: 0;
    }

    .btn {
      border-color: #878787;
      color: #878787;

      &:focus,
      &:hover {
        background: none;
        border-color: #878787;
      }

      &:active,
      &.active {
        background: none;
        border-color: darken(#878787, 5%);
      }
    }
  }

  .divider {
    margin: 25px 0;
  }
}
