@import "../../../../style/framework/src/variables";
@import "../../../../style/framework/src/mixins";

#input-list {

  .input-wrapper {
    @include flex-between();

    label {
      width: 80%;
    }

    .form-input {
      border-color: $border-default-color;
    }

    .button.is-action {
      height: 2.5rem;
      width: 2.5rem;

      i {
        font-size: $font-icon-md;
      }

      &:not(:disabled), &:not([disabled]) {
        box-shadow: $box-shadow-5;

        &:hover {
          transform: scale(1.08);
        }

      }

    }

  }

  .answers-wrapper {
    margin: 1rem 0 0 0;
    list-style: none;

    li {
      @include control-transition();
      @include flex-between();
      margin-top: 0.5rem;
      border-radius: $border-radius;
      background-color: #F8F4F4;
      padding: $unit-2 $unit-2 $unit-2 $unit-3;

      &:first-child {
        margin-top: 0;
      }

      .answer-wrapper, .icons-wrapper {
        display: flex;
        align-items: center;
      }

      .answer-wrapper {
        width: 100%;

        label {
          width: 90%;
        }

      }

      .icons-wrapper {

        .icon-container {
          margin-right: $unit-1;
        }

        .fa-thumbs-up, .fa-thumbs-down {
          color: $meta-color;
        }

        .fa-thumbs-up {

          &.active {
            color: $success-color;
          }

        }

        .fa-thumbs-down {

          &.active {
            color: $alert-color;
          }

        }

      }

    }

  }

}
