<div class="relative" id="auto-complete-country">
  <input
    (keypress)="onSuggestCompanies()"
    [(ngModel)]="company.name"
    [attr.placeholder]="placeholder | translate"
    [disabled]="isDisabled"
    [id]="inputId"
    [ngClass]="{'is-sm': isSmall, 'is-shadowed': hasShadowed}"
    class="form-input"
    type="text">
  <ul
    *ngIf="!!company.name"
    [ngStyle]="{ 'display': displayCompanySuggestion ? 'block' : 'none' }"
    class="input-suggestion">
    <li (click)="onSelectCompany(suggestion)" *ngFor="let suggestion of companiesSuggestion">
      {{ suggestion.name | titlecase }}
    </li>
  </ul>
</div>
