@import "mixins";
@import "variables";

.avatar {
  @include inline-flex-centered();
  @include avatar-base();
  @include avatar-variant(rgba($text-white-color, .85), $bg-border-color);
  border-radius: 50%;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
  position: relative;
  text-align: center;

  img {
    border-radius: 50%;
    height: 100%;
    position: relative;
    //width: 100%;
    z-index: $zindex-0;
  }

  .avatar-icon, .avatar-presence {
    background: $bg-light-color;
    bottom: 14.64%;
    height: 50%;
    padding: $border-width-lg;
    position: absolute;
    right: 14.64%;
    transform: translate(50%, 50%);
    width: 50%;
    z-index: $zindex-0 + 1;
  }

  .avatar-presence {
    background: $meta-color;
    box-shadow: 0 0 0 $border-width-lg $border-white-color;
    border-radius: 50%;
    height: .5em;
    width: .5em;

    &.is-online {
      background: $bg-success-color;
    }

    &.is-busy {
      background: $bg-alert-color;
    }

    &.is-away {
      background: $bg-primary-color;
    }

  }

  &[data-initial]::before {
    color: $text-background-color;
    content: attr(data-initial);
    left: 50%;
    position: absolute;
    font-weight: $font-weight-medium;
    font-family: $font-family-oswald;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $zindex-0;
  }

  &.is-xs {
    @include avatar-base($unit-4);
  }

  &.is-sm {
    @include avatar-base($unit-6);
  }

  &.is-lg {
    @include avatar-base($unit-12);
  }

  &.is-xl {
    @include avatar-base($unit-16);
  }

}
