@import "variables";

.badge {
  position: relative;
  white-space: nowrap;

  &[data-badge], &:not([data-badge]) {

    &::after {
      background: $bg-primary-color;
      background-clip: padding-box;
      border-radius: .5rem;
      color: $white-color;
      content: attr(data-badge);
      display: inline-block;
      transform: translate(-.1rem, -.5rem);
    }

  }

  &[data-badge] {

    &::after {
      font-size: 0.65rem;
      height: .9rem;
      line-height: $line-height-sm;
      min-width: .9rem;
      padding: .1rem .2rem;
      text-align: center;
      white-space: nowrap;
    }

  }

  &:not([data-badge]), &[data-badge=""] {

    &::after {
      height: 0.3rem;
      min-width: 0.3rem;
      padding: 0;
      width: 0.3rem;
    }

  }

  // Badges for Buttons
  &.btn, &.button {

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }

  }

  // Badges for Avatars
  &.avatar {

    &::after {
      position: absolute;
      top: 14.64%;
      right: 14.64%;
      transform: translate(50%, -50%);
      z-index: $zindex-1 + 1;
    }

  }

  &.is-xs {

    &::after {
      content: "";
      height: $unit-2;
      min-width: $unit-2;
      padding: 0;
      width: $unit-2;
    }

  }

  &.is-sm {

    &::after {
      height: 0.8rem;
      font-size: $font-icon-xs;
    }

  }

  // icon
  &.is-icon {
    white-space: normal;

    &::after {
      display: none;
    }

    i {
      display: none;
      align-items: center;
      justify-content: center;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      font-size: $font-icon-sm;
      background: $bg-border-color;
      color: $white-color;
      transform: translate(50%, -50%);
    }

    &.is-active {
      border-color: $success-color;
      background-color: $white-color;
      color: $dark-color;

      i {
        display: inline-flex;
        background: $success-color;
      }

    }

  }





  // Todo remove this
  // Badges for save
  &.badge-save {
    white-space: normal;

    &::after {
      display: none;
    }

    i {
      display: none;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      background: $bg-meta-color;
      color: $white-color;
      transform: translate(50%, -50%);
      box-shadow: 0 0 0 .1rem $border-white-color;
    }

    &.inactive {

      i {
        display: none;
      }

    }

    &.active {
      background-color: $white-color;
      border-color: $success-color;
      color: $dark-color;
      border-width: $border-width-lg;

      i {
        display: inline-flex;
        background: $success-color;
      }

      &:hover {
        background-color: $hover-background-color;
      }

    }

  }

}
