@import "variables";

.banner {
  background-color: $primary-color;
  color: $light-color;
  font-weight: 600;
  font-size: 0.7rem;
  padding: $unit-2 $unit-4;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: $box-shadow;

  .text-link {
    color: inherit;
    text-decoration: underline;
  }

  &.banner-success {
    background-color: $success-color;
  }

  &.banner-error {
    background-color: $alert-color;
  }

}
