@import "variables";
@import "mixins";

.banner {
  @include flex-centered();
  background-color: $primary-color;
  color: $light-color;
  font-weight: $font-weight-medium;
  font-size: 0.75rem;
  padding: $unit-4;
  margin: 0;
  box-shadow: $box-shadow;

  .text-link {
    color: inherit;
    text-decoration: underline;
  }

  &.banner-success {
    background-color: $success-color;
  }

  &.banner-error {
    background-color: $alert-color;
  }

}
