@import "variables";
@import "mixins";

.banner {
  @include flex-centered();
  padding: $unit-3;
  text-align: center;
  font-weight: $font-weight-medium;
  font-size: $font-size-sm;
  background: $bg-primary-color;
  color: $white-color;
  box-shadow: $box-shadow;
}
