@import "variables";
@import "mixins";

// Bar
.bar {
  @include control-transition();
  background-color: #D8D8D8;
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;
  height: $unit-4;
  width: 100%;

  &.bar-sm {
    height: $unit-1;
  }

  .bar-item {
    background: $primary-color;
    color: $light-color;
    display: block;
    font-size: $font-size-sm;
    flex-shrink: 0;
    line-height: $line-height-sm;
    height: 100%;
    position: relative;
    text-align: center;
    width: 0;

    &:first-child {
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
    }

    &:last-child {
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
      flex-shrink: 1;
    }

  }

}


// Slider bar
.bar-slider {
  height: $border-width-lg;
  margin: $layout-spacing 0;
  position: relative;

  .bar-item {
    left: 0;
    padding: 0;
    position: absolute;

    &:not(:last-child):first-child {
      background: #D8D8D8;
      z-index: $zindex-0;
    }

  }

  .bar-slider-btn {
    background: $primary-color;
    border: 0;
    border-radius: 50%;
    height: $unit-3;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: $unit-3;

    &:active {
      box-shadow: 0 0 0 .1rem $primary-color;
    }

  }

}


// Scale bar
.bar-scale {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .bar-item {
    @include control-transition();
    position: relative;
    width: 35px;
    height: 450px;
    background: #D8D8D8;
    border-radius: 25px;
    margin: $unit-4 $unit-2;

    .bar-fill {
      position: absolute;
      bottom: 0;
      width: 35px;
      min-height: 50px;
      background-image: linear-gradient(-90deg, #edeeef 16%, #d7dee0 100%);
      border-radius: 25px;
    }

    &.number1 .bar-fill {
      @include bar-scale-variant(#CE392D, #B0261B);
    }

    &.number2 .bar-fill {
      @include bar-scale-variant(#D75A3E, #C14023);
    }

    &.number3 .bar-fill {
      @include bar-scale-variant(#E68034, #CA681E);
    }

    &.number4 .bar-fill {
      @include bar-scale-variant(#F4B11B, #C18601);
    }

    &.number5 .bar-fill {
      @include bar-scale-variant(#EFD622, #CBB515);
    }

    &.number6 .bar-fill {
      @include bar-scale-variant(#D6D556, #B9B837);
    }

    &.number7 .bar-fill {
      @include bar-scale-variant(#CBDD51, #99AA24);
    }

    &.number8 .bar-fill {
      @include bar-scale-variant(#A8CD4C, #799C24);
    }

    &.number9 .bar-fill {
      @include bar-scale-variant(#95C84F, #659C19);
    }

    &.number10 .bar-fill {
      @include bar-scale-variant(#9ADA43, #64971C);
    }

    .bar-stat {
      position: absolute;
      bottom: 60px;
      left: 12px;
      color: $light-color;
      text-align: center;
      font-weight: $font-weight-bold;
      font-size: $font-size-lg;
    }

    .bar-picture {
      position: absolute;
      bottom: 10px;
      left: 12px;
      width: 11px;
      height: 30px;
      background: transparent url("https://res.cloudinary.com/umi/image/upload/app/man.svg") no-repeat center;
      background-size: contain;
    }

    .bar-score {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: -35px;
      font-size: $font-size-lg;
      color: $text-background-color;
      font-weight: $font-weight-bold;
    }

  }

}
