@import "variables";
@import "mixins";

// The base class for the button, add the other classes with this to add the different styles

// todo remove this class
.btn {
  @include control-transition();
  @include inline-flex-centered();
  text-align: center;
  outline: none;
  position: relative;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  line-height: $line-height-sm;
  background: $bg-color-light;
  border: $border-width solid $primary-color;
  font-size: $font-size-sm;
  height: 2.5rem;
  min-width: 5rem;
  border-radius: $border-radius;
  padding: $unit-2 $unit-8;
  font-weight: $font-weight-medium;

  i {
    margin-left: $unit-2;
    margin-right: $unit-2;
    font-size: $font-icon;
  }

  &.btn-close {
    transition: all 0.4s ease;
    background: transparent;
    border: 0;
    color: $light-color;
    height: 30px;
    padding: 0;
    text-decoration: none;
    position: relative;
    width: 12px;
    min-width: unset;
    line-height: 1.5;
    font-size: $font-icon-xl;

    &:hover {

      &::before {
        display: block;
        opacity: 0.15;
      }

      &::after {
        z-index: 2;
      }

    }

    &::before {
      display: none;
      content: '';
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $bg-overlay-dark-color;
      position: absolute;
      opacity: 0;
    }

    &::after {
      content: "\2715";
    }

  }

  // Round button. In this you can add the icon, text, etc.
  &.btn-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: 0;
    padding: 0;
    background: transparent none;
    border-color: $primary-color;
    font-size: $font-size-xs;
    color: $light-color;

    i {
      margin-left: 0;
      margin-right: 0;
      font-size: $font-icon-lg;
    }

    &.btn-round-md {
      width: 40px;
      height: 40px;

      i {
        font-size: 14px;
      }

    }

  }

  // Radio button like form-radio
  &.btn-radio {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    min-width: 0;
    padding: 0;
    border: $border-width-lg solid $button-border-color;
    color: $light-color;
    font-size: $font-size-xs;

    span {
      color: $light-color;
      font-size: $font-icon-xl;
    }

  }

  &[disabled], &:disabled, &.disabled {
    color: $button-disabled-text-color !important;
    background-color: $button-disabled-bg-color !important;
    border-color: $button-border-color !important;
    cursor: not-allowed;
    box-shadow: none !important;
    pointer-events: auto;
    opacity: 1;
    border-width: $border-width-lg;
  }

  &.btn-primary {
    @include button-default-variant($primary-color);
  }

  &.btn-secondary {
    @include button-default-variant($secondary-color);
  }

  &.btn-edit {
    @include button-default-variant($meta-color);
  }

  &.btn-error {
    @include button-default-variant($alert-color);
  }

  &.btn-success {
    @include button-default-variant($success-color);
  }

  &.ghost-primary {
    @include button-ghost-variant($primary-color);
  }

  &.ghost-secondary {
    @include button-ghost-variant($secondary-color);
  }

  &.ghost-delete {
    @include button-ghost-variant($alert-color);
  }

  &.ghost-edit {
    @include button-ghost-variant($meta-color);
  }

  &.ghost-success {
    @include button-ghost-variant($success-color);
  }

  &.ghost-draft {
    @include button-ghost-variant($background-color);
  }

  &.rounded {
    border-radius: 36px;
  }

  &.rounded.shadow {

    &.btn-primary {
      @include button-round-variant($primary-color);
    }

    &.btn-secondary {
      @include button-round-variant($secondary-color);
    }

    &.btn-edit {
      @include button-round-variant($meta-color);
    }

    &.btn-error {
      @include button-round-variant($alert-color);
    }

    &.btn-success {
      @include button-round-variant($success-color);
    }

  }

  &.no-hover {

    &.ghost-primary {
      @include ghost-button-no-hover-variant($primary-color);
    }

    &.ghost-edit {
      @include ghost-button-no-hover-variant($meta-color);
    }

    &.ghost-delete {
      @include ghost-button-no-hover-variant($alert-color);
    }

    &.ghost-draft {
      @include ghost-button-no-hover-variant($background-color);
    }

  }

  &.ghost-background-hover {

    &.ghost-primary {
      @include button-ghost-background-variant($primary-color);
    }

    &.ghost-edit {
      @include button-ghost-background-variant($meta-color);
    }

    &.ghost-draft {
      @include button-ghost-background-variant($background-color);
    }

  }

}


// Cancel button class that you have to add with button class
.btn-cancel:not(:disabled), .btn-cancel:not(:disabled):focus, .btn-cancel:not(:disabled):active, .btn-cancel:not(:disabled).active {
  color: $meta-color;
  background-color: $bg-color-light;
  border: none;
}

.btn-cancel:not(:disabled):hover {
  color: lighten($meta-color, 15%);
  background-color: $bg-color-light;
  border: none;
}


// Make a button large just add this class with the btn class
.btn-lg {
  padding-left: 4.2rem;
  padding-right: 4.2rem;
  height: 3.496rem;
  font-size: 1.25rem;
}


// Make a button small just add this class with the btn class
.btn-sm {
  height: 2rem;
  padding: $unit-2 $unit-4;
  font-size: $font-size-xs;

  i {
    font-size: $font-icon-sm;
  }

}


// Make a button extra small just add this class with the btn class
.btn-xs {
  height: 1.75rem;
  padding: $unit-2 $unit-3;
  font-size: $font-size-xs;

  i {
    font-size: $font-icon-xs;
  }

}

.buttons {
  @include flex-start();
  flex-wrap: wrap;
  margin-bottom: -0.5rem;

  .button:not(:last-child) {
    margin-right: 0.5rem;
  }

  .button {
    margin-bottom: 0.5rem;
  }

}


.button {
  @include inline-flex-centered();
  @include button-transition();
  text-align: center;
  outline: none;
  position: relative;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  line-height: $line-height-sm;
  background: transparent;
  border: $border-width solid $primary-color;
  font-size: $font-size-sm;
  height: 2rem;
  color: $primary-color;
  border-radius: $border-radius;
  padding: $unit-2 $unit-5;
  font-weight: $font-weight-medium;

  i {
    font-size: $font-icon;
    margin-left: $unit-2;
    margin-right: $unit-2;
  }

  &[disabled], &:disabled, &.disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.5;
  }

  &.is-link {
    @include button-link-variant($primary-color);

    &.loading {
      @include button-loading-variant($primary-color);
    }

  }

  &.is-action {
    @include button-default-action-variant($primary-color);

    &.is-shadowed {
      @include button-shadow-variant($primary-color);
    }

  }

  &.is-primary {
    @include button-default-variant($primary-color);

    &.loading {
      @include button-loading-variant($light-color);
    }

    &.is-shadowed {
      @include button-shadow-variant($primary-color);
    }

  }

  &.is-outlined {
    @include button-outline-variant($primary-color);
  }

  &.is-secondary {
    @include button-default-variant($secondary-color);

    &.is-link, &.is-outlined {

      &.loading {
        @include button-loading-variant($secondary-color);
      }

    }

    &.is-link {
      @include button-link-variant($secondary-color);
    }

    &.is-action {
      @include button-default-action-variant($secondary-color)
    }

    &.loading {
      @include button-loading-variant($light-color);
    }

    &.is-outlined {
      @include button-outline-variant($secondary-color);
    }

    &.is-shadowed {
      @include button-shadow-variant($secondary-color);
    }

  }

  &.is-info {
    @include button-default-variant($meta-color);


    &.is-link, &.is-outlined {

      &.loading {
        @include button-loading-variant($meta-color);
      }

    }

    &.is-link {
      @include button-link-variant($meta-color);
    }

    &.is-action {
      @include button-default-action-variant($meta-color)
    }

    &.loading {
      @include button-loading-variant($light-color);
    }

    &.is-outlined {
      @include button-outline-variant($meta-color);
    }

    &.is-shadowed {
      @include button-shadow-variant($meta-color);
    }

  }

  &.is-danger {
    @include button-default-variant($alert-color);

    &.is-link, &.is-outlined {

      &.loading {
        @include button-loading-variant($alert-color);
      }

    }

    &.is-link {
      @include button-link-variant($alert-color);
    }

    &.is-action {
      @include button-default-action-variant($alert-color)
    }

    &.loading {
      @include button-loading-variant($light-color);
    }

    &.is-outlined {
      @include button-outline-variant($alert-color);
    }

    &.is-shadowed {
      @include button-shadow-variant($alert-color);
    }

  }

  &.is-draft {
    @include button-default-variant($background-color);

    &.is-link, &.is-outlined {

      &.loading {
        @include button-loading-variant($background-color);
      }

    }

    &.is-link {
      @include button-link-variant($background-color);
    }

    &.is-action {
      @include button-default-action-variant($background-color)
    }

    &.loading {
      @include button-loading-variant($light-color);
    }

    &.is-outlined {
      @include button-outline-variant($background-color);
    }

    &.is-shadowed {
      @include button-shadow-variant($background-color);
    }

  }

  &.is-success {
    @include button-default-variant($success-color);

    &.is-link, &.is-outlined {

      &.loading {
        @include button-loading-variant($success-color);
      }

    }

    &.is-link {
      @include button-link-variant($success-color);
    }

    &.is-action {
      @include button-default-action-variant($success-color)
    }

    &.loading {
      @include button-loading-variant($light-color);
    }

    &.is-outlined {
      @include button-outline-variant($success-color);
    }

    &.is-shadowed {
      @include button-shadow-variant($success-color);
    }

  }

  .icon-left {
    margin-right: $unit-2;
    margin-left: 0;
  }

  .icon-right {
    margin-right: 0;
    margin-left: $unit-2;
  }

  &.is-rounded {
    border-radius: 25px;
  }

  &.is-circled {
    border-radius: 50%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  &.is-normal {
    height: 2rem;
    font-size: $font-size-sm;

    i {
      font-size: $font-icon;
    }

    &.is-circled {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

  }

  &.is-sm {
    font-size: $font-size-xs;
    height: 1.5rem;

    i {
      font-size: $font-size-xs;
    }

    &.is-circled {
      padding-left: 1px;
      padding-right: 1px;
    }

  }

  &.is-lg {
    height: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: $font-size;

    i {
      font-size: $font-size;
    }

    &.is-circled {
      padding-left: $unit-3;
      padding-right: $unit-3;
    }

  }

}



@media (max-width: $size-sm) {

  .btn-lg {
    padding: $unit-2 $unit-8;
  }

  .is-lg {
    padding: $unit-2 $unit-5;
  }

}
