@import "variables";
@import "mixins";

// The base class for the button, add the other classes with this to add the different styles
.btn {
  @include control-transition();
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  position: relative;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  line-height: $line-height-sm;
  background: $bg-color-light;
  border: $border-width solid $primary-color;
  font-size: $font-size-sm;
  height: 2.5rem;
  min-width: 5rem;
  border-radius: $border-radius;
  padding: $unit-2 $unit-8;
  font-weight: $font-weight-medium;

  i {
    margin-left: $unit-2;
    margin-right: $unit-2;
    font-size: $font-icon;
  }

  &.btn-close {
    transition: all 0.4s ease;
    background: transparent;
    border: 0;
    color: $light-color;
    height: 30px;
    padding: 0;
    text-decoration: none;
    position: relative;
    width: 12px;
    min-width: unset;
    line-height: 1.5;
    font-size: $font-icon-xl;

    &:hover {

      &::before {
        display: block;
        opacity: 0.15;
      }

      &::after {
        z-index: 2;
      }

    }

    &::before {
      display: none;
      content: '';
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $bg-overlay-dark-color;
      position: absolute;
      opacity: 0;
    }

    &::after {
      content: "\2715";
    }

  }

  // Round button. In this you can add the icon, text, etc.
  &.btn-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: 0;
    padding: 0;
    background: transparent none;
    border-color: $primary-color;
    font-size: $font-size-xs;
    color: $light-color;

    i {
      margin-left: 0;
      margin-right: 0;
      font-size: $font-icon-lg;
    }

  }

  // Radio button like form-radio
  &.btn-radio {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    min-width: 0;
    padding: 0;
    border: $border-width-lg solid $button-border-color;
    color: $light-color;
    font-size: $font-size-xs;

    span {
      color: $light-color;
      font-size: $font-icon-xl;
    }

  }

  &[disabled], &:disabled, &.disabled {
    color: $button-disabled-text !important;
    background-color: $button-disabled-bg-color !important;
    border-color: $button-border-color !important;
    cursor: not-allowed;
    pointer-events: auto;
    opacity: 1;
    border-width: $border-width-lg;
  }

  &.btn-primary {
    @include button-variant($primary-color);
  }

  &.btn-secondary {
    @include button-variant($secondary-color);
  }

  &.btn-edit {
    @include button-variant($meta-color);
  }

  &.btn-error {
    @include button-variant($alert-color);
  }

  &.btn-success {
    @include button-variant($success-color);
  }

  &.ghost-primary {
    @include ghost-button-variant($primary-color);
  }

  &.ghost-secondary {
    @include ghost-button-variant($secondary-color);
  }

  &.ghost-delete {
    @include ghost-button-variant($alert-color);
  }

  &.ghost-edit {
    @include ghost-button-variant($meta-color);
  }

  &.ghost-success {
    @include ghost-button-variant($success-color);
  }

  &.rounded {
    border-radius: 36px;
  }

  &.shadow {
    box-shadow: $box-shadow;
  }

}


// Cancel button class that you have to add with button class
.btn-cancel:not(:disabled), .btn-cancel:not(:disabled):focus, .btn-cancel:not(:disabled):active, .btn-cancel:not(:disabled).active {
  color: $meta-color;
  background-color: $bg-color-light;
  border: none;
}

.btn-cancel:not(:disabled):hover {
  color: lighten($meta-color, 15%);
  background-color: $bg-color-light;
  border: none;
}


// Make a button large just add this class with the btn class
.btn-lg {
  padding-left: 4.2rem;
  padding-right: 4.2rem;
  height: 3.496rem;
  font-size: 1.25rem;
}


// Make a button small just add this class with the btn class
.btn-sm {
  height: 2rem;
  padding: $unit-2 $unit-4;
  font-size: $font-size-xs;

  i {
    font-size: $font-icon-sm;
  }

}


// Make a button extra small just add this class with the btn class
.btn-xs {
  height: 1.75rem;
  padding: 0.5rem $unit-4;
  font-size: $font-size-xs;
}


@media (max-width: $size-sm) {

  .btn-lg {
    padding: $unit-2 $unit-8;
  }

}
