@import "variables";

.card {
  display: flex;
  flex-direction: column;
  background-color: $bg-color-light;
  border-radius: $border-radius;
  border: $border-width solid $border-color;

  .card-image {
    padding-top: $unit-2;

    &:first-child {
      padding-top: 0;

      img {
        display: block;
        height: auto;
        max-width: 100%;
        border-radius: $border-radius;
      }

    }

  }

  &:hover {
    box-shadow: $box-shadow;
  }

}
