@import "variables";
@import "mixins";

.card {
  @include control-transition();
  display: flex;
  flex-direction: column;
  background-color: $bg-color-light;
  border-radius: $border-radius;
  border: $border-width solid $border-color;
  word-break: break-word;

  &.is-shadow {
    border: 0;
    box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  }

  .card-image {
    display: block;
    padding-top: $unit-3;
    margin-left: auto;
    margin-right: auto;

    img {
      display: block;
      height: auto;
      max-width: 100%;
      object-fit: cover;
    }

    &:first-child {
      padding-top: 0;

      img {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

    }

    &:last-child {

      img {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

    }

  }

  .card-header, .card-body, .card-footer {
    padding: $unit-3 0.5rem 0;
    font-size: $font-size-md;

    &:last-child {
      padding-bottom: $unit-3;
    }

  }

  .card-header {

    .card-title {
      font-weight: $font-weight-medium;
      font-size: $unit-5;
    }

    .card-subtitle {
      font-size: $font-size-md;
      color: $text-meta-color;
    }

  }

  .card-body {
    flex: 1 1 auto;
  }

  &.is-card-3, &.is-responsive {
    margin-right: $unit-5;
    margin-bottom: $unit-5;
  }

  &.is-responsive {
    flex: 1 0 300px;
    max-width: calc(25% - 1rem);
  }

  &.is-card-3 {
    flex: 1 0 420px;
    max-width: calc(33% - 1rem);
  }

}

@media (min-width: $size-lg) and (max-width: $size-xl) {

  .is-responsive {
    max-width: calc(33% - 1rem) !important;
  }

}

@media (max-width: $size-lg) {

  .is-card-3 {
    max-width: calc(50% - 1rem) !important;
  }

}

@media (min-width: $size-md) and (max-width: $size-lg) {

  .is-responsive {
    max-width: calc(50% - 1rem) !important;
  }

}

@media (min-width: $size-sm) and (max-width: $size-md) {

  .is-responsive {
    max-width: calc(50% - 1rem) !important;
  }

}

@media (max-width: $size-sm) {

  .is-responsive {
    flex: 100% !important;
    max-width: 100% !important;
    margin-right: 0 !important;
  }

  .is-card-3 {
    flex: 100% !important;
    margin-right: 0 !important;
    max-width: calc(100% - 1rem) !important;
  }

}
