@import "variables";

.carousel {
  display: block;
  position: relative;
  width: 100%;
  background-color: $bg-color-light;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  .carousel-container {
    height: 100%;
    left: 0;
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-bottom: 56.25%;
    }

    .carousel-item {
      animation: carousel-slideout 1s ease 1;
      height: 100%;
      left: 0;
      margin: auto;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;

      img {
        display: block;
        height: 100%;
        width: 100%;
      }

      &.current-slide {
        opacity: 1;
        z-index: $zindex-1;
        animation: carousel-slidein .75s ease 1;
      }

    }

    .item-prev, .item-next {
      opacity: 0;
      position: absolute;
      top: 50%;
      transition: background-color 0.4s ease;
      transform: translateY(-50%);
      z-index: $zindex-2;
      border: none;
      color: $bg-dropdown-color;

      &.btn-round {
        width: 40px;
        height: 40px;

        i {
          font-size: 18px;
        }

      }

      &:hover {
        background: rgba($primary-color, 0.55);
      }

    }

    .item-prev {
      left: 0.75rem;
    }

    .item-next {
      right: 0.75rem;
    }

    &:hover {

      .item-prev, .item-next {
        opacity: 1;
      }

    }

  }

  // this is for the static version, if you have 4 images.
  .carousel-locator {

    &:nth-of-type(1):checked ~ .carousel-container .carousel-item:nth-of-type(1),
    &:nth-of-type(2):checked ~ .carousel-container .carousel-item:nth-of-type(2),
    &:nth-of-type(3):checked ~ .carousel-container .carousel-item:nth-of-type(3),
    &:nth-of-type(4):checked ~ .carousel-container .carousel-item:nth-of-type(4) {
      animation: carousel-slidein .75s ease 1;
      opacity: 1;
      z-index: $zindex-1;
    }

    &:nth-of-type(1):checked ~ .carousel-nav .nav-item:nth-of-type(1),
    &:nth-of-type(2):checked ~ .carousel-nav .nav-item:nth-of-type(2),
    &:nth-of-type(3):checked ~ .carousel-nav .nav-item:nth-of-type(3),
    &:nth-of-type(4):checked ~ .carousel-nav .nav-item:nth-of-type(4) {
      color: rgba($primary-color, 0.55);
    }

  }

  .carousel-nav {
    bottom: $layout-spacing;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    min-width: 10rem;
    z-index: $zindex-2;

    .nav-item {
      color: rgba(0,0,0,0.7);
      display: inline-flex;
      height: $unit-8;
      margin: $unit-1;
      align-items: center;
      justify-content: center;
      width: 1rem;
      position: relative;
      cursor: pointer;

      &::before {
        background: currentColor;
        content: "";
        display: block;
        height: 12px;
        border-radius: 50%;
        width: 12px;
        position: absolute;
        top: .5rem;
      }

      &:hover, &.current-slide {
        color: $bg-dropdown-color;
      }

    }

  }

}


@keyframes carousel-slidein {

  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }

}


@keyframes carousel-slideout {

  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }

}
