@import "variables";

code {
  font-size: $font-size-sm;
  line-height: $line-height;
  color: darken($text-alert-color, 25%);
  border-radius: $border-radius;
  background-color: lighten($text-alert-color, 32%);
  padding: 0.1rem 0.2rem;
}

.code {
  background: $bg-page-color;
  border-radius: $border-radius;
  color: $text-dark-color;
  position: relative;

  &::before {
    color: $text-meta-color;
    content: attr(data-lang);
    font-size: $font-size-sm;
    position: absolute;
    right: $unit-2;
    top: $unit-h;
  }

  code {
    color: inherit;
    display: block;
    line-height: $line-height;
    overflow-x: auto;
    padding: 1.25rem;
    width: 100%;
    background-color: inherit;
    font-size: $font-size-sm;
  }

}
