@import "variables";
@import "mixins";

.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-toggle {
    line-height: 1.5;
  }

  .menu {
    animation: menu-slide-down .2s ease 1;
    display: none;
    left: 0;
    position: absolute;
    max-height: 500px;
    top: 100%;
    overflow-y: auto;

    .menu-item {
      width: 100%;

      .fullspace {
        margin: (-$unit-2) -0.6rem;
        padding: $unit-2 0.6rem;
      }

      .fullspace {
        display: block;
        cursor: pointer;
      }

    }

    &.is-full {
      min-width: 100%;
    }

  }

  &.is-right {

    .menu {
      left: auto;
      right: 0;
    }

  }

  .dropdown-toggle.button {

    &.is-link {
      text-decoration: none;
      padding-left: 0;
      padding-right: 0;
    }

  }

  &.active .menu, .dropdown-toggle:not(.disabled):focus + .menu, .menu:hover {
    display: block;
  }

}
