@import "variables";
@import "mixins";

.dropdown {
  position: relative;

  .dropdown-menu {
    position: absolute;
    font-size: 0.75rem;
    top: 100%;
    text-align: left;
    max-height: 500px;
    width: 300px;
    background-color: $bg-color-light;
    margin: 0;
    padding: 0.5rem 0;
    box-shadow: $box-shadow-dropdown;
    border-radius: 5px;
    list-style: none;
    opacity: 0;
    display: none;

    .drop-item {
      @include control-transition();
      margin: 0;
      color: $text-background-color;
      font-weight: normal;
      padding: 0.5rem 1.1rem;

      .drop-btn {
        display: flex;
        height: auto;
        text-align: left;
        justify-content: flex-start;
        border: none !important;
        align-items: flex-start;
        background-color: transparent;
        font-weight: inherit;
        color: inherit;
        width: 100%;
        padding: 0;
        font-size: inherit;
        min-width: unset;
      }

      a {
        display: block;
      }

      &:hover {
        cursor: pointer;
        background-color: $bg-dropdown-color;
      }

      &.disabled, .drop-btn:disabled, .drop-btn[disabled], .drop-btn.disabled {
        cursor: not-allowed;
        color: $disabled-text-color !important;
        background-color: transparent !important;
      }

    }

    &.dropdown-menu-right {
      right: -2px;
    }

  }

  &:hover {
    z-index: 2;

    .dropdown-menu {
      display: block;
      opacity: 1;
    }

  }

}
