@import "variables";
@import "mixins";

.form-group {
  margin-bottom: $layout-spacing;
}

fieldset {
  margin-bottom: $unit-4;
}

legend {
  font-size: $font-size-lg;
  font-weight: 500;
  margin-bottom: $unit-4;
}

// Form element: Label
.form-label {
  display: block;
  line-height: $line-height-sm;
  color: $form-label-color;
  font-weight: $font-weight-medium;
  font-size: $font-size-sm;
  padding: $layout-spacing 0;
}

// Form element: Input
.form-input {
  @include control-transition();
  appearance: none;
  border: $border-width solid $form-border-color;
  font-size: $font-size-md;
  color: $form-input-color;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  padding: 14.5px;
  position: relative;
  background: $bg-white-color none;
  max-width: 100%;
  line-height: $line-height-sm;

  &:focus {
    border-color: $form-primary-color;
  }

  &::placeholder {
    color: $form-placeholder-color;
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Firefox
  &[type=number] {
    -moz-appearance:textfield;
  }

  // Input types
  &[type="file"] {
    height: auto;
  }

}

// Form element: Textarea
textarea {

  &.form-input {
    height: auto;
    resize: none;
    padding-right: $unit-10;
    line-height: $line-height;

    &.is-resize {
      resize: both;
    }

  }

}

// Form element: Select
.form-select {
  @include control-transition();
  appearance: none;
  border: $border-width solid $form-border-color;
  font-size: $font-size-md;
  color: $form-input-color;
  border-radius: $border-radius;
  display: flex;
  width: 100%;
  outline: none;
  position: relative;
  background: $bg-white-color none;
  max-width: 100%;
  align-items: center;
  line-height: $line-height;
  padding: 14.5px;

  &[size], &[multiple] {
    height: auto;

    option {
      padding: $unit-h $unit-1;
    }

  }

  &:not([multiple]):not([size]) {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right 12px center/8px 10px;
    background-size: 13px;
    padding-right: 40px;
  }

  &:focus {
    border-color: $form-primary-color;
  }

  &::-ms-expand {
    display: none;
  }

}

.form-input, .form-select {

  &.is-shadowed {
    box-shadow: $box-shadow-form;
  }

  &.is-xs {
    padding: $unit-1 $layout-spacing;
    height: auto;
    font-size: $font-size-xs;
  }

  &.is-sm {
    padding: 9px 14.5px;
    font-size: 14px;
  }

}


// Form element: Checkbox and Radio
.form-checkbox, .form-radio, .form-switch {
  display: flex;
  line-height: 1.2;
  font-weight: $font-weight-normal;
  font-size: 15px;
  align-items: center;
  padding:  $layout-spacing 25px;
  position: relative;

  input {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  .form-icon {
    @include control-transition();
    border: $border-width-lg solid $border-default-color;
    cursor: pointer;
    display: inline-block;
    position: absolute;
  }

}

// Form element: Switch
.form-switch {
  padding-left: 2.5rem;
  padding-right: 0;

  .form-icon {
    background: $bg-white-color none;
    border-color: $border-default-color;
    background-clip: padding-box;
    border-radius: 16px;
    height: 15px;
    left: 0;
    width: 34px;

    &::before {
      @include control-transition();
      background: $bg-meta-color none;
      border-radius: 50%;
      content: "";
      display: block;
      height: 1.05rem;
      position: absolute;
      left: -4px;
      top: -5px;
      width: $unit-5;
      border-color: $border-meta-color;
    }

  }

  input {

    &:checked + .form-icon, &.active + .form-icon {
      border-color: rgba(46,204,113,0.45);
      background: rgba(46,204,113,0.45) none;

      &::before {
        left: 14px;
        border-color: $border-success-color;
        background: $bg-success-color none;
      }

    }

  }
}

.form-checkbox, .form-radio {

  &.is-inline {
    display: inline-flex;
    padding-top: $unit-1;
    padding-bottom: $unit-1;
  }

  .form-icon {
    background: $bg-white-color none;
    height: $unit-4;
    left: 0;
    width: $unit-4;
  }

  input {

    &:checked  + .form-icon, &.active + .form-icon {
      background: $bg-success-color none;
      border-color: $border-success-color;
    }

  }

}

.form-radio {

  .form-icon {
    border-radius: 50%;
  }

  input {

    &:checked + .form-icon, &.active + .form-icon {

      &::before {
        background: $bg-white-color none;
        border-radius: 50%;
        content: "";
        height: 4px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 4px;
      }
    }

  }

}

.form-checkbox {

  .form-icon {
    border-radius: 3px;
  }

  input {

    &:checked + .form-icon {

      &::before {
        background-clip: padding-box;
        border: $border-width-lg solid $border-white-color;
        border-left-width: 0;
        border-top-width: 0;
        content: "";
        height: 12px;
        left: 50%;
        margin-left: -4px;
        margin-top: -8px;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 8px;
      }
    }

    &:indeterminate + .form-icon {
      background: $bg-primary-color;
      border-color: $border-primary-color;

      &::before {
        background: $bg-white-color;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -5px;
        margin-top: -1px;
        position: absolute;
        top: 50%;
        width: 10px;
      }
    }

  }

}

.has-icon-left, .has-icon-right {
  position: relative;

  .form-input {

    ~.icon {
      font-size: 0.95rem;
    }

   &:focus {
     border-color: $border-primary-color;

     ~.icon {
       color: $text-draft-color;
     }

   }

    &.is-sm, &.is-xs {

      ~.icon {
        font-size: $font-icon-lg;
      }

    }

  }


  .icon {
    @include flex-centered();
    position: absolute;
    pointer-events: none;
    top: 0;
    height: 100%;
    width: 1.75rem;

    &.is-left {
      left: 0;
    }

    &.is-right {
      right: 0;
    }

  }

}

.has-icon-left {

  .form-input {
    padding-left: 1.75rem;
  }

}

.has-icon-right {

  .form-input {
    padding-right: 1.75rem;
  }

}

// Form inline group
.input-group {
  display: inline-flex;
  width: 100%;

  .form-group {
    width: 100%;
    padding-right: $layout-spacing;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .input-suggestion {
    left: $layout-spacing;
    right: $layout-spacing;
  }

}

// Form element: Input hint && validation styles
.form-input-hint {
  color: $form-input-color;
  font-size: $font-size-xs;
  padding: $unit-1 0 $layout-spacing;
  margin: 0;

  .has-success &, .is-success + & {
    color: $text-success-color;
  }

  .has-error &, .is-error + & {
    color: $text-alert-color;
  }

}

.form-input, .form-select {

  .has-success &, &.is-success {

    &.form-input.ng-dirty.ng-touched.ng-valid, &.form-input.ng-dirty.ng-touched.ng-valid:focus, &.form-select {
      border-color: $border-success-color;
    }

  }

  .has-error &, &.is-error  {

    &.form-input.ng-dirty.ng-touched.ng-invalid, &.form-input.ng-pristine.ng-touched.ng-invalid,
    &.form-input.ng-dirty.ng-touched.ng-invalid:focus, &.form-select {
      border-color: $border-alert-color;
    }

  }

}

.form-checkbox, .form-radio {

  .has-error &, &.is-error {

    .form-icon {
      border-color: $border-alert-color;
    }

    input {

      &:checked + .form-icon {
        background: $bg-alert-color none;
        border-color: $border-alert-color;
      }

    }

  }

}

.form-checkbox {

  .has-error &, &.is-error {

    input {

      &:indeterminate + .form-icon {
        background: $bg-alert-color none;
        border-color: $border-alert-color;
      }

    }

  }

}

.form-switch {

  .has-error &, &.is-error {

    .form-icon {
      background: $bg-white-color none;
      border-color: $border-alert-color;

      &::before {
        border-color: $border-alert-color;
        background: $bg-alert-color none;
      }

    }

    input {

      &:checked + .form-icon {
        background: #f5afaf none;
        border-color: $border-alert-color;

        &::before {
          border-color: $border-alert-color;
          background: $bg-alert-color none;
        }

      }

    }

  }

}

// validation based on :placeholder-shown (Edge doesn't support it yet)
.form-input {

  &:not(:placeholder-shown) {

    &:invalid, &.ng-touched.ng-invalid {
      border-color: $border-alert-color;

      & + .form-input-hint {
        color: $text-alert-color;
      }

    }

  }

}

// Form disabled and readonly
.form-input, .form-select {

  &:disabled, &.disabled {
    background: $form-disabled-color none;
    color: $form-disabled-text-color;
    border-color: $border-default-color;
    cursor: not-allowed;
  }

}

.form-select {

  &:disabled, &.disabled {
    background: $form-disabled-color url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right 12px center/8px 10px !important;
  }

}

input {

  &:disabled, &.disabled {

    &:not(:checked) + .form-icon, &:checked + .form-icon {
      cursor: not-allowed;
      opacity: .5;
    }

    &:not(:checked) + .form-icon {
      background: $form-disabled-color none;
    }

    &:checked + .form-icon {
      background: inherit none;
    }

  }

}

.form-switch {

  input {

    &:disabled, &.disabled {

      &:not(:checked) + .form-icon::before , &:checked + .form-icon::before  {
        cursor: not-allowed;
      }

      &:checked + .form-icon::before {
        background: inherit none;
      }

    }

  }

}

.form-input {

  &[readonly] {
    background: $form-disabled-color none;
    border-color: $border-default-color;
  }

}





// Form suggestion Todo remove this.
.input-suggestion {
  display: flex;
  flex-direction: column;
  box-shadow: $box-shadow-4;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  list-style: none;
  z-index: 2;
  background-color: $bg-white-color;
  border-radius: $border-radius;
  overflow: auto;
  max-height: 350px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  li {
    @include control-transition();
    padding: $layout-spacing;
    font-size: $font-size-sm;
    margin-top: $unit-1;
    color: $text-dark-color;

    &:hover, &.is-focused {
      background:  $bg-menu-item-color;
      border-color: $bg-menu-item-color;
      cursor: pointer;
    }

    img {
      width: 22px;
      height: 22px;
      margin-right: $unit-2;
      vertical-align: middle;
    }

  }

}


// Form element: Error Todo remove this
.form-error {
  display: block;
  color: $text-alert-color;
  font-size: $font-size-xs;
  padding: $unit-1 0 $unit-2 0;
}













































