@import "variables";

//todo remove only in project component.

.header {
  display: flex;
  align-items: center;
  background-color: $bg-white-color;
  min-height: 74px;
  color: $white-color;
  font-size: $unit-5;
}
