@import "variables";
@import "mixins";

.label {
  @include label-variant($light-color, inherit);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: $font-weight-medium;
  font-size: $font-size-xs;
  padding: $unit-2 $unit-4;
  margin: $unit-1;
  border-radius: $border-width-lg;
  line-height: $line-height-sm;

  &.label-rounded {
    border-radius: 36px;
  }

  &.label-alert {
    @include label-variant($light-color, $alert-color);
  }

  &.label-progress {
    @include label-variant($light-color, $progress-color);
  }

  &.label-success {
    @include label-variant($light-color, $success-color);
  }

  &.label-draft {
    @include label-variant($light-color, $label-draft-color);
  }

  &.label-primary {
    @include label-variant($light-color, $primary-color);
  }

  &.label-edit {
    @include label-variant($light-color, $label-edit-color);
  }

  &.label-meta {
    @include label-variant($light-color, $meta-color);
  }

  &.label-tag {
    @include label-variant($light-color, $background-color);

    .fas {
      font-size: $font-icon-xs;
    }

    .label-text {
      margin-left: $unit-1;
    }

  }

  &.label-answer {
    @include label-variant($text-primary-color, $label-answer-color);
    font-size: $font-size-sm;
  }

}






















