@import "variables";


// image responsive
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}


// object-fit support is coming to Microsoft Edge
// https://developer.microsoft.com/en-us/microsoft-edge/platform/status/objectfitandobjectposition/
.img-fit-cover {
  object-fit: cover;
}

.img-fit-contain {
  object-fit: contain;
}


.img-overlay {

  &:hover {
    background: $bg-overlay-color;

    img {
      transition: all 0.3s ease;
      opacity: 0.7;
      cursor: pointer;
    }

  }

}


.media-hover {
  position: relative;

  .media-hover-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    position: absolute;
    min-height: 35px;
    width: 133px;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    font-size: $font-size-sm;
    border: 2px solid $light-color;
    border-radius: 31.5px;
    visibility: hidden;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(0,0,0,0.21);
    }

  }

  &:hover {

    .media-hover-button {
      opacity: 1 !important;
      visibility: visible !important;
      color: $light-color;
    }

    figure {
      background: $bg-overlay-color;

      img {
        transition: all 0.3s ease;
        opacity: 0.7;
        cursor: pointer;
      }

    }

  }

}


// video responsive
.video-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; // default ratio 16:9, you can calculate this value by dividing 9 by 16
  }

  iframe, object, embed {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

}



video.video-responsive {
  height: auto;
  max-width: 100%;

  &::before {
    content: none;
  }

}

.video-responsive-4-3 {

  &::before {
    padding-bottom: 75%; // ratio 4:3
  }

}

.video-responsive-1-1 {

  &::before {
    padding-bottom: 100%; // ratio 1:1
  }

}

// figure
.figure {
  margin: 0 0 $layout-spacing 0;

  .figure-caption {
    color: $meta-color;
    margin-top: $layout-spacing;
  }

}
