@import "variables";
@import "mixins";

// image responsive
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

// object-fit support is coming to Microsoft Edge
// https://developer.microsoft.com/en-us/microsoft-edge/platform/status/objectfitandobjectposition/
.img-fit-cover {
  object-fit: cover;
}

.img-fit-contain {
  object-fit: contain;
}

.img-overlay {
  display: flex;

  &:hover {
    background: $bg-overlay-dark-color;

    img {
      transition: all 0.3s ease;
      opacity: 0.7;
    }

  }

}

.img-hover-button {
  position: relative;
  display: flex;

  .img-button {
    @include text-ellipsis();
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: $unit-2 $unit-3;
    width: 100%;
    max-width: 160px;
    color: $white-color;
    font-size: $font-size-xs;
    border: $border-width solid $border-white-color;
    border-radius: 25px;
    visibility: hidden;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
    letter-spacing: 1px;
    transition: background-color 0.25s ease,
                color 0.25s ease;

    &:hover {
      background-color: $white-color;
      color: $text-dark-color;
    }

  }

  &:hover {
    background: $bg-overlay-dark-color;

    img {
      transition: opacity 0.2s ease;
      opacity: 0.5;
    }

    .img-button {
      opacity: 1;
      visibility: visible;
      cursor: pointer;
    }

  }

}

// video responsive
.video-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; // default ratio 16:9, you can calculate this value by dividing 9 by 16
  }

  iframe, object, embed {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .is-responsive-4-3 {

    &::before {
      padding-bottom: 75%; // ratio 4:3
    }

  }

  .is-responsive-1-1 {

    &::before {
      padding-bottom: 100%; // ratio 1:1
    }

  }

}

video.video-responsive {
  height: auto;
  max-width: 100%;

  &::before {
    content: none;
  }

}

// figure
.figure {

  .figure-caption {
    color: $meta-color;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    margin-top: $unit-2;
  }

}

.img-editor {
  width: auto;
  height: auto;
  max-width: 350px;
  max-height: 350px;
  margin: 5px 5%;
}
