@import "variables";
@import "mixins";

.menu {
  background: $white-color;
  border-radius: $border-radius;
  list-style: none;
  margin: 0;
  min-width: $control-width-xs;
  padding: $unit-2 0;
  transform: translateY($unit-1);
  z-index: $z-index-3;
  box-shadow: $box-shadow-menu;

  .menu-item {
    @include control-transition();
    font-size: $font-size-sm;
    text-decoration: none;
    margin-top: 0;
    color: $draft-color;
    font-weight: normal;
    padding: $unit-2 12px;
    cursor: pointer;

    & > a {
      display: block;
      color: inherit;
      margin: (-$unit-2) -12px;
      padding: $unit-2 12px;
    }

    &:hover, &:focus, &:active, &.active {
      background-color: $bg-menu-item-color;
    }

    &:not(:first-child) {
      margin-top: 2px;
    }

  }

  &.menu-nav {
    background: transparent;
    box-shadow: none;
  }

  &.is-xs {
    width: $control-width-xs;
  }

  &.is-md {
    width: 230px;
  }

  &.is-lg {
    width: 300px;
  }

}
