@import "variables";

.menu {
  background: $bg-color-light;
  border-radius: $border-radius;
  list-style: none;
  margin: 0;
  min-width: $control-width-xs;
  padding: $unit-2;
  transform: translateY($unit-1);
  z-index: $zindex-3;
  box-shadow: 0 4px 16px rgba(20,23,28,0.25);

  &.menu-nav {
    background: transparent;
    box-shadow: none;
  }

  .menu-item {
    font-size: $font-size-sm;
    text-decoration: none;
    margin-top: 0;
    color: $text-background-color;
    font-weight: normal;
    padding: 0.5rem;

    a {
      display: block;
      color: inherit;
    }

    &:hover {
      cursor: pointer;
      background-color: $bg-menu-item-hover-color;
    }

    &.menu-item:not(:first-child) {
      margin-top: .2rem;
    }

  }

}
