@import "variables";

.message {
  border-radius: 4px;
  font-size: 14px;
  background-color: $bg-white-color;

  .message-body {
    border-color: $border-primary-color;
    border-style: solid;
    border-radius: 4px;
    border-width: 0 0 0 4px;
    color: $text-dark-color;
    padding: 10px 15px;
    margin: 0;
    background-color: #FFF9EB;
  }

}
