@import "mixins/avatar";
@import "mixins/bars";
@import "mixins/button";
@import "mixins/clearfix";
@import "mixins/label";
@import "mixins/position";
@import "mixins/text";
@import "mixins/transition";



// todo remove this

@import "variables";

// Button round variant
@mixin button-round-variant($color: $primary-color) {
  color: $light-color;
  background-color: $color;
  border-color: $color;

  &:focus, &:active, &.active {
    color: $light-color;
    background-color: $color;
    border-color: $color;
  }

  &:hover {
    box-shadow: $box-shadow-button-hover;
  }

}

// Ghost button variant
@mixin ghost-button-no-hover-variant($color: $primary-color) {
  color: $color;
  background-color: transparent;
  border-color: $color;
  border-width: $border-width-lg;

  &:focus, &:active, &.active, &:hover {
    color: $color;
    border-color: $color;
    border-width: $border-width-lg;
  }

}

// Button ghost background variant
@mixin button-ghost-background-variant($color: $primary-color) {
  color: $color;
  background-color: transparent;
  border-color: $color;

  &:focus, &:active, &.active {
    color: $color;
    background-color: transparent;
    border-color: $color;
  }

  &:hover {
    background-color: lighten($color, 47%);
  }

}





