@import "variables";
@import "mixins";

.modal {
  @include fixed-full-page();
  display: none;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 8997;

  &.active {
    display: flex;
    opacity: 1;
  }

  &.inactive {
    display: none;
    opacity: 0;
  }

  .modal-overlay {
    @include absolute-full();
    background: $bg-overlay-dark-color;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    opacity: 1;
    overflow: hidden;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    animation: .2s modal-slide-down;
    max-height: calc(100vh - 50px);

    .modal-header {
      @include flex-start();
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: $primary-gradient-color;
      padding: $unit-5;
      position: relative;
      flex-shrink: 0;

      .modal-title {
        color: $white-color;
        flex-grow: 1;
        flex-shrink: 0;
        line-height: $line-height-sm;
        font-weight: $font-weight-medium;
        margin: 0;
      }

    }

    .modal-body {
      display: block;
      background-color: $bg-white-color;
      flex-grow: 1;
      flex-shrink: 1;
      padding: $unit-5;
      font-size: $font-size-md;
      position: relative;
      overflow-y: auto;
    }

    .modal-footer {
      @include flex-end();
      padding: $unit-5;
      position: relative;
      flex-shrink: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      background-color: $bg-white-color;

      .modal-cancel {
        @include button-outline-variant($bg-meta-color);
      }

      .button:not(:last-child) {
        margin-right: $unit-5;
      }

    }

  }

  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {

      &::before {
        background-color: rgba(10,10,10,.3);
      }

    }

  }

}




