@import "variables";
@import "mixins";

.navbar {
  min-height: 75px;
  position: relative;
  background-color: #2E6188;
  border-bottom: $border-width solid $border-light-color;

  .navbar-brand {
    display: flex;
    align-items: stretch;
    min-height: 75px;
  }

  .navbar-burger, .navbar-item, .dropdown-toggle {
    color: $white-color;
  }

  .navbar-burger {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 75px;
    position: absolute;
    min-width: 40px;
    right: 0;
    top: 0;
    font-size: $font-size-sm;
  }

  .navbar-item {
    display: inline-flex;
    background-color: transparent;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    line-height: $line-height;
    position: relative;
    list-style: none;
    align-items: center;
    margin: 0 $unit-3;

    &.active, &:active, &:hover {
      color: $white-color;
      cursor: pointer;
      opacity: 1;
    }

    &.has-dropdown {
      position: relative;
      cursor: default;
      opacity: 1;

      .navbar-dropdown {
        margin: 0;
        padding: 0.5rem 0;
        list-style: none;
        background: $white-color;
        opacity: 1;

        .navbar-divider {
          display: none;
          border-top: $border-width solid $border-default-color;
          height: $border-width;
          margin: $unit-2 1.1rem;
        }

        .navbar-item {
          display: flex;
          margin: 0;
          padding: $unit-2 22px;
          color: $dark-color;
        }

      }

    }

    &.has-button {
      opacity: 1;

      .button.is-outlined:hover {
        background-color: transparent;
      }

    }

  }

}

.navbar-sidebar {
  min-height: 100vh;
  position: relative;
  background-color: $white-color;

  .navbar-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;

    .navbar-item {
      display: flex;
      background-color: transparent;
      font-size: $font-size-sm;
      color: $draft-color;
      font-weight: $font-weight-medium;
      line-height: $line-height;
      position: relative;
      margin: 0;
      list-style: none;
      padding: $unit-3 22px;
      opacity: 1;
      border-bottom: $border-width solid $border-default-color;

      &.active, &:active, &:hover {
        color: $text-warning-color;
        cursor: pointer;
      }

      &.user-info-wrapper {
        background-color: $bg-menu-item-color;

        .info {
          flex-direction: column;
          word-break: break-all;
          max-width: 160px;
        }

      }

    }

  }

}

@media screen and (min-width: $size-lg) {

  .navbar, .navbar-menu {
    display: flex;
    align-items: stretch;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    justify-content: flex-end;

    .navbar-item {
      opacity: 0.7;

      & > span:after {
        display: block;
        position: absolute;
        left: 0;
        transform: scaleX(0);
        content: '';
        width: 100%;
        height: 2px;
        bottom: 16px;
        visibility: hidden;
        transform-origin: bottom left;
        transition: all 0.25s ease-out;
      }

      &.has-dropdown {

        i {
          margin-left: $unit-2;
          opacity: 1;
        }

        &.is-right {

          .navbar-dropdown {
            left: auto;
            right: 0;
          }

        }

        .navbar-dropdown {
          display: none;
          position: absolute;
          border-radius: $border-radius;
          min-width: $control-width-xs;
          transform: translateY($unit-1);
          z-index: $zindex-3;
          box-shadow: $box-shadow-menu;
          animation: menu-slide-down .2s ease 1;
          max-height: 500px;
          top: 95%;
          overflow-y: auto;

          .navbar-divider {
            display: flex;
          }

          .navbar-item {
            @include control-transition();
            font-weight: $font-weight-normal;
            opacity: 1;

            &:hover, &.active, &:active {
              background-color: $bg-menu-item-color;
              color: $draft-color;
            }

          }

        }

        &:hover, .dropdown-toggle:hover {

          .icon.icon-arrow-down {
            color: $white-color;
          }

          .navbar-dropdown {
            display: block;
          }

        }

      }

      &:hover {

        & > span:after {
          visibility: visible;
          background-color: $white-color;
          transform: scaleX(1);
        }

      }

    }

  }

}

@media screen and (max-width: $size-lg) {

  .navbar {

    .navbar-burger {
      display: flex;
    }

    .navbar-menu {
      display: none;

      &:active, &.active {
        display: flex;
        flex-direction: column;
        background-color: $white-color;
        box-shadow: 0 8px 16px rgba(10,10,10,.1);
        padding: 10px 0;
        position: absolute;
        z-index: $zindex-1;
        left: 0;
        right: 0;

        .navbar-item {
          margin: 0;
          order: 2;
          padding: $unit-3 20px;

          &.has-dropdown {
            flex-direction: column;
            align-items: flex-start;

            .dropdown-toggle {

              .icon.icon-arrow-down {
                position: absolute;
                top: 15px;
                right: 22px;
                color: $white-color;
              }

            }

            .navbar-dropdown {
              width: 100%;
              padding: $unit-3 0 0;

              .navbar-item {
                margin-top: 0;
              }

            }

          }

          &.has-avatar {
            order: 1;
            background-color: #f2f2f2;

            .navbar-dropdown {
              display: none;
            }

          }

          &.has-button {
            order: 3;
          }

        }

      }

    }

  }

}
