@import "variables";
@import "mixins";

.navbar, .navbar-sidebar {
  @include flex-between();
  flex-wrap: wrap;
  min-height: 75px;
  position: relative;

  .navbar-mobile-toggle {
    @include inline-flex-centered();
    height: 75px;
    margin: 0;
    font-size: $font-size-md;
    color: $text-background-color;
    font-weight: $font-weight-medium;

    i {
      font-size: $font-size-md;
      margin-right: $unit-2;
    }

  }

  .navbar-brand {
    @include inline-flex-centered();
    height: 75px;
  }

  .menu {
    display: flex;
    align-items: center;
    height: 75px;
    min-width: unset;
    padding: 0;
    transform: none;

    .menu-item {
      @include inline-flex-centered();
      background-color: transparent;
      cursor: default;
      height: 100%;
      font-weight: $font-weight-medium;
      padding: 0 $unit-3;
      margin: 0;

      & > a {
        display: inline-flex;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;

       & > span:after {
          display: block;
          position: absolute;
          left: 0;
          transform: scaleX(0);
          content: '';
          width: 100%;
          height: 2px;
          bottom: 22px;
          visibility: hidden;
          transform-origin: bottom left;
          transition: all 0.25s ease-out;
        }

        &.active, &:active {
          color: $primary-color;
        }

        &:hover {
          color: $primary-color;
          cursor: pointer;

          > span:after {
            visibility: visible;
            background-color: $primary-color;
            transform: scaleX(1);
          }

        }

      }

      &:last-child {
        padding-right: 0;
      }

      &.navbar-dropdown {

        .menu {
          display: none;
          height: fit-content;
          flex-direction: column;
          left: auto;
          padding: $unit-2 0;

          .menu-item {
            justify-content: start;
            height: auto;
            padding: $unit-2 1.1rem;

            & > a {
              width: 100%;
            }

            &:hover {
              cursor: pointer;
              background-color: $bg-menu-item-color;
            }

          }

        }

        &:hover {

          .menu {
            display: block;
          }

        }

      }

      &.navbar-dropdown-language {
        height: 35px;
        width: 57px;

        a > span:after {
          bottom: 3px;
        }

        .menu {
          min-width: unset;
          width: 46px;
          padding: 0;

          .menu-item {
            justify-content: center;
            height: 42px;
            padding: $unit-2;
          }

        }

        &:hover {

          .fa-angle-down {
            color: $primary-color !important;
          }

          a > span:after {
            visibility: visible;
            background-color: $primary-color;
            transform: scaleX(1);
          }

        }

      }

    }

  }

}

.navbar-sidebar {
  min-height: 100vh;
  align-items: flex-start;

  .menu {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;

    .menu-item {
      border-bottom: 1px solid $border-color;
      height: unset;
      width: 100%;
      padding: 0;
      justify-content: flex-start;

      & > a {
        width: 100%;
        padding: $unit-3 1.1rem;
      }

      &.menu-item-user {
        background-color: $bg-menu-item-color;
        border-bottom: none;

        span:after {
          display: none !important;
        }

        .user-info {
          color: $text-background-color;
          margin-left: $unit-2;
          word-break: break-all;
          max-width: 160px;
          flex-direction: column;

          .text-email {
            font-size: 0.65rem;
            font-weight: $font-weight-normal;
          }

        }

      }

    }

  }

}

