@import "variables";
@import "mixins";

.pagination, .pagination-list {
  @include flex-centered();
  text-align: center;
}

.pagination {

  .pagination-next-control, .pagination-previous-control {
    padding-left: .75rem;
    padding-right: .75rem;

    i {
      font-size: 0.7rem;
    }

  }

  .pagination-previous-control, .pagination-next-control, .pagination-link {
    color: $draft-color;
    font-size: $font-size-sm;
    margin: 0.25rem;
    text-align: center;
  }

  .pagination-list {
    margin: 0 0.25rem;
    list-style: none;
    flex-shrink: 1;

    .pagination-link {
      padding-left: $unit-1;
      padding-right: $unit-1;
      border-radius: 50%;
      min-width: 1.9rem;

      &.active, &:active {
        background-color: lighten($draft-color, 50%);
      }

    }

  }

}


@media screen and (min-width: $size-md) {

  .pagination {

    .pagination-next-control, .pagination-previous-control {

      &:hover:not(.disabled) {
        background-color: lighten($draft-color, 55%);
      }

    }

    .pagination-list {

      .pagination-link {

        &:hover:not(.active), &.disabled {
          background-color: lighten($draft-color, 55%);
        }

      }

    }


  }

}

@media screen and (max-width: $size-md) {

  .pagination {
    flex-direction: column;

    .pagination-next-control, .pagination-previous-control {
      background-color: lighten($draft-color, 55%);
    }

    .pagination-previous-control {
      margin-bottom: 0.75rem;
    }

    .pagination-list {
      max-width: 100%;
      overflow-y: auto;
      justify-content: flex-start;
      padding-bottom: 0.75rem;
    }

  }

}
