@import "variables";
@import "mixins";

// Sidebar backdrop
.sidebar-backdrop {
  @include fixed-full-page();
  z-index: $zindexSidebar-2;

  &.inactive {
    display: none;
    opacity: 0;
    background: none;
  }

  &.active {
    display: block;
    opacity: 1;
    background: $bg-overlay-dark-color;
  }

}

.sidebar, .sidebar-inline {
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;

  .sidebar-container {
    width: 100%;
    min-height: 100vh;
    background: $bg-light-color;
  }

  .sidebar-header {
    @include flex-start();
    position: sticky;
    z-index: 2;
    top: 0;
    min-height: 3.7rem;
    background: $primary-gradient-color;

    .sidebar-title {
      color: $light-color;
      line-height: $line-height-sm;
      font-weight: $font-weight-medium;
      margin: 0;
    }

  }

  .sidebar-body {
    flex: 1 1 100%;
    overflow: auto;
    min-height: 100vh;
    position: relative;
  }

}

.sidebar {
  min-height: 100vh;
  z-index: $zindexSidebar-0;
  position: fixed;
  width: $control-width-sm;
  bottom: 0;
  background: $bg-light-color;
  box-shadow: -3px 0 8px 0 rgba(66,91,118,.21);

  &.inactive, &.active {
    transition: 250ms ease-in-out;
  }

  &.inactive {
    opacity: 0;
    transform: translateX(-100%);
  }

  &.active {
    opacity: 1;
    transform: translateX(0);
  }

  &.is-right {
    right: 0;
    left: unset;

    &.inactive {
      transform: translateX(100%);
    }

    .sidebar-container {
      float: right;
      right: 0;
    }

  }

}

.sidebar-inline {
  position: sticky;
  height: 100vh;
  flex: 0 0 25%;
  max-width: 12rem;
  background: $bg-page-color;
}


@media (max-width: $size-md) {

  .sidebar:not(.is-not-responsive) {
    width: 65% !important;
  }

}

@media (max-width: $size-sm) {

  .sidebar:not(.is-not-responsive) {
    width: 90% !important;
  }

}
