@import "variables";
@import "mixins";

.stat {
  display: flex;
  margin: 0;
  padding: 0;

  .stat-container {
    @include control-transition();
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px 15px 10px 0;
    border-right: $border-width solid $border-default-color;

    .stat-heading {
      font-size: $font-size-md;
      color: $text-draft-color;
      margin: 0 10px 10px 10px;
    }

    .stat-body {
      @include inline-flex-centered();
      flex-direction: column;
      margin: 0 10px 10px 10px;

      .stat-sub-heading {
        font-size: $font-size-xs;
        color: $text-meta-color;
        margin-bottom: 5px;
      }

      .stat-value {
        font-size: $font-size-lg;
        font-weight: 600;
        color: $text-draft-color;
      }

    }

    &:not(:first-child) {
      padding-left: 15px;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }

    &.fluid {

      &:first-child {
        padding-left: 15px;
      }

      &:last-child {
        padding-right: 15px;
      }

    }

  }

}


@media (max-width: $size-sm) {

  .stat {

    .stat-heading {
      word-break: keep-all;
    }

    .stat-container {
      flex-direction: column;
    }

  }

}

@media (max-width: $size-xs) {

  .stat {
    flex-direction: column;

    .stat-container {
      border-right: none !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      border-bottom: $border-width solid $border-default-color;
    }

  }

}
