@import "variables";
@import "mixins";

.tab {
  display: flex;
  align-items: center;
  border-bottom: $border-width solid $border-color;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  .tab-item {
    color: $text-background-color;
    margin: 0 $unit-6 0 0;
    padding: 0;

    a {
      @include tab-transition();
      @include flex-centered();
      font-size: $font-size-md;
      font-weight: normal;
      margin: 0;
      padding: $unit-2 $unit-5;
      text-decoration: none;
      color: inherit;
      border-bottom: $border-width-lg solid transparent;

      i {
        margin-right: $unit-2;
        font-size: $font-icon;
      }

      &:focus, &:hover {
        color: $text-warning-color;
        cursor: pointer;
      }

    }

    &.active a, a.active {
      border-bottom-color: $border-primary-color;
      color: $text-warning-color;
    }

    &.tab-item-lg {
      margin-right: 2.5rem;
    }

  }


  &.tab-block {

    .tab-item {
      flex: 1 0 0;
      text-align: center;

      a {
        margin: 0;
      }

      .badge {

        &[data-badge]::after {
          position: absolute;
          right: $unit-h;
          top: $unit-h;
          transform: translate(0, 0);
        }

      }

    }

  }

  &:not(.tab-block) {

    .badge {
      padding-right: 0;
    }

  }

}


@media (max-width: $size-sm) {

  .tab {

    .tab-item {
      flex-basis: 100% !important;
      margin-right: 0 !important;
      border-bottom: $border-width solid $border-color;
    }

  }

}
