@import "variables";

.table-responsive {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  position: relative;

  &.is-max-height {
    max-height: 500px;
    border: $border-width solid $table-tr-border-color;

    .table {
      border: none;
    }

  }

}

.table {
  font-size: $font-size-sm;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
  border: $border-width solid $table-tr-border-color;

  thead {

    th {
      color: $text-draft-color;
      font-size: 12px;
      font-weight: $font-weight-medium;
      background-color: $table-th-background-color;
      text-transform: uppercase;
      border-right: $border-width solid $table-tr-border-color;
      border-bottom: $border-width solid $table-tr-border-color;
      text-align: left;
      vertical-align: middle;

      &:last-child {
        border-right: none;
      }

      &.is-active {
        background-color: $table-th-hover-background-color !important;
      }

    }

    &.is-sticky {
      display: flex;
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: $table-th-background-color;
      width: 100%;

      tr {
        display: flex;
        width: 100%;
        height: auto;
        position: relative;
      }

    }

  }

  thead th:not(.cell-checkbox), tbody tr td:not(.cell-checkbox) {
    height: 44px;
    min-width: 150px;
    width: 100%;
    max-width: 300px;
    flex: 1 1 auto;
  }

  .cell-checkbox {
    flex: 45 0 auto;
    width: 45px;
    max-width: 45px;
    border-right: $border-width solid $table-tr-border-color !important;
    background-color: transparent;

    label {
      transition: all .2s ease;
      width: 20px;
      height: 20px;
      margin: auto;
      border-radius: $border-radius;
      border: $border-width-lg solid $border-meta-color;

      input[type="checkbox"] {
        display: none;
      }

      input:disabled {
        cursor: not-allowed;
      }

      i {
        font-size: $font-size-sm;
        display: none;
      }

      &.disabled {
        cursor: not-allowed;
      }

      &:not(.disabled):hover {
        cursor: pointer;
        background-color: $table-th-hover-background-color;
      }

      &.active {
        border-color: $border-primary-color;

        &:hover {
          background-color: transparent;
        }

        i {
          display: block;
          color: $text-warning-color;
        }

      }

    }

  }

  thead th, tbody td {
    padding: $unit-3 $unit-2;
  }

  tbody tr {
    background-color: $bg-white-color;
    border-top: $border-width solid $table-tr-border-color;

    &:first-child {
      border-top: none;
    }

    td {

      &.cell-checkbox {
        border-right: none !important;
      }

    }

    &.active {
      background: $table-tr-hover-background-color;
    }

  }

  &.is-hovered {

    thead th {

      &:hover {
        background-color: $table-th-hover-background-color !important;
      }

    }

    tbody {

      tr {

        &:hover {
          background: $table-tr-hover-background-color;
        }

      }

    }

  }

}
