@import "variables";

.table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;

  &.table-hover {

    tbody {

      tr {

        &:hover {
         background: $table-th-background-color;
        }

      }

    }

  }

  // Tables with horizontal scrollbar
  &.table-scroll {
    display: block;
    overflow-x: auto;
    padding-bottom: 0.75rem;
    white-space: nowrap;
  }

  td, th {
    border-bottom: $border-width solid $table-tr-border-color;
    padding: $unit-3 $unit-2;
  }

  th {
    border-bottom-width: $border-width-lg;
  }

}
