@import "variables";
@import "mixins";


/*
  add the tooltip class and the data-tooltip attribute, which contains the tooltip content,
  to non self closing elements.
 */
.tooltip {
  position: relative;

  &::before, &::after {
    @include control-transition();
    position: absolute;
    display: block;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, $unit-1);
  }

  &::before {
    background: $bg-tooltip-color;
    border-radius: $border-radius;
    bottom: calc(100% + 5px);
    color: $light-color;
    content: attr(data-tooltip);
    font-size: $font-size-xs;
    max-width: 320px;
    font-weight: normal;
    overflow: hidden;
    padding: 0.5rem;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: pre;
    line-height: $line-height-sm;
    z-index: 300;
  }

  &::after {
    z-index: 299;
    width: 0;
    height: 0;
    content: "";
    border: 5px solid transparent;
    bottom: calc(100% - 5px);
  }

  &:focus, &:hover {

    &::before, &::after {
      opacity: 1;
      transform: translate(-50%, -$unit-1);
    }

    &::after {
      border-top-color: $bg-tooltip-color;
    }

  }

  &[disabled], &.disabled {
    pointer-events: auto;
  }


  &.tooltip-right {

    &::before, &::after {
      bottom: 50%;
      transform: translate(-$unit-1, 50%);
    }

    &::before {
      left: calc(100% + 5px);
    }

    &::after {
      border-color: transparent;
      left: calc(100% - 5px);
    }

    &:focus, &:hover {

      &::before, &::after {
        transform: translate($unit-1, 50%);
      }

      &::after {
        border-right-color: $bg-tooltip-color;
      }

    }

  }

  &.tooltip-left {

    &::before, &::after {
      bottom: 50%;
      left: auto;
      transform: translate($unit-1, 50%);
    }

    &::before {
      right: calc(100% + 5px);
    }

    &::after {
      border-color: transparent;
      right: calc(100% - 5px);
    }

    &:focus, &:hover {

      &::before, &::after {
        transform: translate(-$unit-1, 50%);
      }

      &::after {
        border-left-color: $bg-tooltip-color;
      }

    }

  }

  &.tooltip-bottom {

    &::before, &::after {
      bottom: auto;
      transform: translate(-50%, -$unit-1);
    }

    &::before {
      top: calc(100% + 5px);
    }

    &::after {
      border-color: transparent;
      top: calc(100% - 5px);
    }

    &:focus, &:hover {

      &::before, &::after {
        transform: translate(-50%, $unit-1);
      }

      &::after {
        border-bottom-color: $bg-tooltip-color;
      }

    }


  }

}
