//core variables
$primary-color: #FFB300 !default;
$secondary-color: #0B90C6 !default;
$progress-color: #F79323 !default;
$disabled-color: #DBDBDB !default;
$meta-color: #97A4B1 !default;
$dark-color: #333333 !default;
$background-color: #4F5D6B !default;
$border-color: #E0E0E0 !default;
$hover-background-color: #FFF9EB !default;
$light-color: #FFFFFF !default;
$disabled-text-color: #A9A9A9 !default


// control variables
$success-color: #2ECC71 !default;
$alert-color: #EA5858 !default;
$warning-color: #FFB300 !default;


// Other colors
$body-bg-color: $light-color;
$body-font-color: $dark-color;
$link-color: $primary-color;
$bg-color-light: $light-color !default;
$bg-overlay: rgba(0,0,0,0.75) !default;
$bg-dropdown-color: #F2F2F2 !default;


// text variables
$text-primary-color: $dark-color !default;
$text-secondary-color: #484848 !default;
$text-background-color: $background-color !default;
$text-disabled-color: $disabled-text-color !default;


// form variables
$form-placeholder-color: #AAB2BD !default;
$form-input-color: #262831 !default;
$form-label-color: $dark-color !default;
$form-border-color: $border-color !default;
$form-primary-color: $primary-color !default;
$form-alert-color: $alert-color !default;
$form-success-color: $success-color !default;
$form-disabled-color: $disabled-color !default;
$form-disabled-text-color: $disabled-text-color !default;
$form-meta-color: $meta-color !default;


// label variables
$label-draft-color: $background-color !default;
$label-edit-color: $secondary-color !default;
$label-answer-color: #F8F4F4 !default;


// button variables
$button-disabled-text-color: $disabled-text-color !default;
$button-disabled-bg-color: $disabled-color !default;
$button-border-color: $border-color !default;


// box shadow variables
$box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37) !default;
$box-shadow-umi: 0px 0px 25px 0px rgba(0,0,0,0.15) !default;
$box-shadow-hover: 0 2px 8px 2px rgba(20,23,28,.15) !default;
$box-shadow-hover-umi: 0px 0px 55px 0px rgba(0,0,0,0.31) !default;


// table variables
$table-border-color: #E9E9E9 !default;
$table-th-background-color: #F5F8FA !default;
$table-th-hover-background-color: #E1EAF1 !default;
$table-tr-border-color: #DFE3EB !default;
$table-tr-background-color: #FFFBF1 !default;


// Fonts
$base-font-family: 'Open Sans', sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;
$fallback-font-family: "Helvetica Neue", sans-serif !default;
$body-font-family: $base-font-family, $fallback-font-family !default;


// Unit sizes
$unit-o: .05rem !default;
$unit-h: .1rem !default;
$unit-1: .2rem !default;
$unit-2: .4rem !default;
$unit-3: .6rem !default;
$unit-4: .8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.4rem !default;
$unit-16: 3.2rem !default;


// Font sizes
$html-font-size: 20px !default;
$html-line-height: 1.5 !default;
$font-size: 20px !default;
$font-size-xs: $unit-3 !default;
$font-size-sm: 0.7rem !default;
$font-size-md: $unit-4 !default;
$font-size-lg: 0.9rem !default;
$font-icon: 0.75rem !default;
$font-icon-lg: $unit-4 !default;
$font-icon-xl: $unit-5 !default;;
$line-height: 1.5 !default;
$line-height-sm: 1 !default;


// Font weights
$font-weight-normal: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;


// Sizes
$layout-spacing: $unit-2 !default;
$border-radius: $unit-1 !default;
$border-width: $unit-o !default;
$border-width-lg: $unit-h !default;
$border-width-xl: $unit-1 !default;


// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

$responsive-breakpoint: $size-xs !default;



















/*
    This stylesheet contains all the variable that we use in the framework.
 */


/*
    base variables
 */
$primary: #FFB300;
$secondary: #0B90C6;
$success: #2ECC71;
$alert: #EA5858;
$progress: #F79323;
$disabled: #DBDBDB;
$meta: #97A4B1;
$dark: #333333;
$background: #4F5D6B;
$border: #E0E0E0;
$hover-background: #FFF9EB;


/*
    text variables
 */
$text-primary: #333333;
$text-secondary: #484848;
$text-background: #4F5D6B;
$text-disabled: #A9A9A9;


/*
    form variables
 */
$form-placeholder: #AAB2BD;
$form-input: #262831;
$form-label: #333333;
$form-border: #E0E0E0;
$form-primary: #FFB300;
$form-alert: #EA5858;
$form-success: #2ECC71;
$form-disabled: #DBDBDB;
$form-disabled-text: #A9A9A9;
$form-meta: #97A4B1;

/*
    label variables
 */
$label-draft: #4F5D6B;
$label-edit: #0B90C6;


/*
    button variables
 */
$button-disabled-text: #A9A9A9;



/*
    box shadow variables
 */
$box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
$box-shadow-hover: 0 2px 8px 2px rgba(20,23,28,.15);
