.add-section {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .btn-round {
    margin-right: 15px;
  }
}

.heading-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
