<div class="d-flex justify-center flex-wrap">
  <ng-container *ngFor="let color of displayedColors; let i = index" class="m-4">
    <ng-container>
      <input (change)="changeColor($event)"
             type="radio"
             name="color"
             [id]="color.label"
             [value]="color.value"/>
      <label [for]="color.label">
      <span
        [ngStyle]="{background: color.value}"
        [class]="color.label"></span>
      </label>
    </ng-container>
  </ng-container>
</div>
