@import "../../../../../../style/framework/src/variables";

#new-project-component {

  .ques-2, .ques-3, .section-info {
    padding-top: 3.25rem;
  }

  .create-button {
    padding-top: 3.2rem;
  }

  .section-info {
    margin-bottom: -$unit-4;

    .fas {
      color: $meta-color;
    }

    .text {
      padding-top: 0.4rem;
      margin-bottom: $unit-4;
      font-size: 0.75rem;
      width: 221px;
      display: inline-block;
    }

  }

}


