<section class="section-pad restrict-width" id="new-project-component">
  <div class="column col-xs-12 col-11 col-mx-auto">
    <form novalidate [formGroup]="formData" (ngSubmit)="onCreateProject()">

      <!-- section 1 -->
      <div class="columns col-gapless">

        <!-- questions -->
        <div class="column col-xl-12 col-6 col-mx-auto">

          <div class="ques-1">
            <span class="shape rect">1</span>
            <span class="text text-question">{{ 'PROJECT_MODULE.NEW_PROJECT.DESCRIPTION.LINE1' | translate }}</span>
            <div class="form-group" [ngStyle]="{ 'padding-top': '1rem' }">
              <label class="form-radio" for="new-project-frLang">
                <input
                  type="radio"
                  name="choosenLang"
                  value="fr"
                  formControlName="choosenLang"
                  id="new-project-frLang">
                <i class="form-icon"></i>{{ 'COMMON.LANG.FR' | translate }}
              </label>
              <label class="form-radio" for="new-project-enLang">
                <input
                  type="radio"
                  name="choosenLang"
                  value="en"
                  formControlName="choosenLang"
                  id="new-project-enLang">
                <i class="form-icon"></i>{{ 'COMMON.LANG.EN' | translate }}
              </label>
            </div>
          </div>

          <div class="ques-2">
            <span class="shape rect">2</span>
            <span class="text text-question">{{ "PROJECT_MODULE.NEW_PROJECT.COMPANY_NAME_LABEL" | translate }}</span>
            <div class="form-group has-error" [ngStyle]="{ 'padding-top': '1rem' }">
              <label for="new-project-companyName"></label>
                <input
                  type="text"
                  class="form-input"
                  name="name"
                  formControlName="name"
                  id="new-project-companyName"
                  [attr.placeholder]="'PROJECT_MODULE.NEW_PROJECT.PROJECT_NAME_PLACEHOLDER' | translate ">
                <span class="form-input-hint" *ngIf="formData.get('name').hasError('required') && formData.get('name').touched">
                  {{ 'PROJECT_MODULE.NEW_PROJECT.PROJECT_NAME' | translate }}
                </span>
            </div>
          </div>

        </div>

        <!-- bot -->
        <div class="column col-6 hide-xl col-mx-auto text-center">
          <app-message-space [widthMax]="'250px'">
            {{ 'PROJECT_MODULE.NEW_PROJECT.BOT_TEXT' | translate }}
          </app-message-space>
        </div>

      </div>
      <!-- /section 1 -->

      <!-- section 3 -->
      <div class="create-button text-center">
        <button class="btn btn-lg btn-primary gtm-create-project-validated" type="submit" [disabled]="formData.invalid">
          {{ 'PROJECT_MODULE.NEW_PROJECT.BUTTON_TEXT' | translate }}
        </button>
      </div>
      <!-- /section 3 -->

      <!-- section 4 -->
      <div class="section-info">
        <div class="columns col-gapless text-center">
          <div class="column col-sm-12 col-4 col-mx-auto">
            <div><i class="fas fa-3x fa-cloud-download-alt"></i></div>
            <p class="text">{{ 'PROJECT_MODULE.NEW_PROJECT.DOWNLOAD' | translate }}</p>
          </div>
          <div class="column col-sm-12 col-4 col-mx-auto">
            <div><i class="fas fa-3x fa-lock"></i></div>
            <p class="text">{{ 'PROJECT_MODULE.NEW_PROJECT.ANONYMOUS' | translate }}</p>
          </div>
          <div class="column col-sm-12 col-4 col-mx-auto">
            <div><i class="fas fa-3x fa-eye-slash"></i></div>
            <p class="text">{{ 'PROJECT_MODULE.NEW_PROJECT.PRIVATE' | translate }}</p>
          </div>
        </div>
      </div>
      <!-- /section 4 -->

    </form>
  </div>
</section>
