h3 {
  font-weight: 300;
  font-size: 1.3rem;
}

.umi-synthesis {
  flex-direction: column;

  .title {
    font-size: 30px;
    color: #4A4A4A;
    display: block;
    margin-bottom: 20px;
    line-height: 1.3;

    span {
      color: #3498DB;
    }
  }

  .desc {
    font-size: 15px;
    color: #8E8E8E;
    line-height: 27px;

    ul li {
      list-style: disc;
      margin-left: 20px;
    }
  }
}

.flex-container {
  display: flex;
}

.content {
  margin-top: -550px;
}

small, .small {
  font-size: 70%;
}

ul li {
  list-style: none;
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
}

h1 {
  font-size: 36px;
  color: #4C4C4C;
  line-height: 53px;
  text-align: center;
}

h1::after {
  display: none;
}

h2 {
  color: #AAB2BD;
  margin-bottom: 30px;
  margin-left: 30px;
  text-align: left;
  font: 36px 'Open Sans', sans-serif;
}

.subtitle {
  font-size: 21px;
  color: #AAB2BD;
  font-weight: bold;
  text-align: center;
}

.market-report-btn {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  line-height: 3;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 0;
  color: #fff;
  background-color: #3498DB;
  padding: 0 50px;
  bottom: -53px;

  .fa-angle-up,
  .fa-angle-down {
    font-size: 40px;
    vertical-align: middle;
  }

  &:hover {
    background: #FFA642;
  }

  &.active {
    background-color: #747474;
  }
}


.comment-btn-wrapper, .answer-btn-wrapper{
  text-align: center;
  margin-top: 25px;
}

.btn-secondary {

  i {
    font-size: 0.7rem;
    vertical-align: -12%;
    margin-right: 0;
  }

}

.btn-secondary.active, .btn-secondary:active {
  background-color: #747474 !important;
  border-color: #747474 !important;
}

.comment-show-wrapper, .answer-show-wrapper {
  margin-top: 25px;
}

ul.comments {

  li {
    position: relative;
    margin-bottom: 15px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid #F2F2F2;
  }

  li:last-child {
    margin-bottom: 0;
  }

}

/*.bloc {
  margin-top: 100px;
  margin-bottom: 30px;
}*/




.download-pdf-btn {
  margin-bottom: 53px;
}

.item-new,
.comment-new {
  display: inline-block;
  padding: 0 9px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.8;
  color: white;
  text-align: center;
  background-color: #FEBE34;
  border-radius: 2px;
  margin-right: 13px;
  cursor: pointer;
}

/* === Content === */

.column {
  flex: 1;
}

.column:first-child {
  margin-right: 30px;
}

/*.white-frame {
  background: white;
  padding: 50px 50px 30px 50px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 70px;
}*/



.prosList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.professional-item {
  background: white;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
  padding: 35px 20px 0 20px;
  width: 100%;
  max-width: 280px;
  margin-bottom: 20px;
}

// Total score : vertical and horizontal alignment
#market-potential .big-blue-synthesis {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === Items list === */

ul.items {

  > li {
    position: relative;
    color: white;
    padding: 8px 15px;
    margin-bottom: 5px;
    border-radius: 2px;

    .flex-container {
      align-items: flex-start;
    }

    .item-name {
      flex: 1;
      margin-left: 10px;
      font-weight: 600;
    }

    .item-occurrence {
      font-weight: 600;
      font-size: 14px;
      color: #0878A5;
      padding: 0 4px;
      border-radius: 500px;
      background: rgba(255, 255, 255, 0.8);
    }

    > a, > a:visited, > a:focus {
      color: white;
      outline: none;
      text-decoration: underline;
    }
  }

  > li:nth-child(even) {
    background: #4FA9CE;
  }

  > li:nth-child(odd) {
    background: #0B90C6;
  }
}


/* === Responsive pour mobile === */
@media screen and (max-width: 900px) {
  .content {
    margin-top: 0;
  }

  .sidebar {
    display: none;
  }

  .flex-container {
    flex-direction: column;
  }

  .vertical-bar .bar-fill {
    width: 23px;
  }

  .vertical-bar .bar-picture {
    left: 7px;
  }

  .vertical-bar .bar-stats {
    left: 7px;
  }

  .vertical-bar {
    width: 35px;
    margin: 0 14px;
  }

  .column:first-child {
    margin-right: 0 !important;
  }

  ul.items > li .flex-container,
  ul.comments > li .flex-container {
    align-items: center !important;
  }

  .item-new,
  .comment-new {
    margin-right: 0 !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .white-frame {
    text-align: center;
    padding: 50px 30px 30px 30px;
  }

  .big-blue-synthesis {
    margin-right: 0;
  }

  h2 {
    text-align: center;
    margin-left: 0;
  }

}
