@import "../../../../../../../style/framework/src/variables";

.question-section-component {

  .bg-white {
    background-color: $bg-color-light;
  }

  .title-primary {
    font-size: 1.35rem;
  }

  .title-secondary {
    font-size: $unit-5;
    color: $secondary-color;
    margin-bottom: 0;
  }

  .icon-size {
    font-size: 18px;
  }

  .rm-margin {
    margin-bottom: -$unit-5;
  }

  .content-wrapper {
    transition: all 0.25s ease;
    height: 100%;

    &.collapse-wrapper {
      height: 0;
      transform: scaleY(0);
      visibility: hidden;
    }

    &.expand-wrapper {
      height: 100%;
      transform: scaleY(1);
      visibility: visible;
    }

  }

  .clearbit-list-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;

    .clearbit-comment-wrapper, .clearbit-icon-wrapper {
      flex: 1;
    }

    .clearbit-comment-wrapper {
      margin-right: 0.75rem;
    }

    .clearbit-icon-wrapper {
      margin-bottom: $unit-5;
    }

  }

  .card {
    margin-bottom: $unit-5;

    .card-body {
      padding: 0.75rem;
      height: 100%;
      width: 100%;
    }

    &:hover {
      box-shadow: $box-shadow-hover-umi;
    }

  }

  .toggle-wrapper {
    flex-wrap: wrap;
    margin-right: -$unit-5;

    .card {
      min-height: 9.5rem;

      .card-body {
        padding: 0.5rem;
      }

    }

  }

  .comment-wrapper {
    padding-top: 0.75rem;
  }

}


//@media (max-width: $size-md) {
//
//  .question-section-component {
//
//    .clearbit-list-wrapper {
//      flex-direction: column;
//
//      .clearbit-comment-wrapper {
//        margin-right: 0 !important;
//      }
//
//    }
//
//  }
//
//}
//
//@media (max-width: $size-sm) {
//
//  .less-padding {
//    padding: 0.75rem $unit-4 !important;
//  }
//
//  .toggle-wrapper {
//    flex-direction: column;
//
//    .card {
//      min-height: 100% !important;
//    }
//
//  }
//
//}
