@import "../../../../../../../style/variables";

.question-section-wrapper {

  .header {
    background-color: white;
    border-radius: .18rem;
    color: $dark-color;
  }

  .tags {
    padding-bottom: 1.57rem;
  }

  .tags-wrapper {
    font-size: 0.6875rem;
    display: inline-flex;
    background-color: $background-color;
    color: white;
    padding: .35rem .9375rem;
    font-weight: 600;
    border-radius: 1.57rem;
    margin: .35rem;
    cursor: pointer;
  }

  .tags-wrapper:hover {
    background-color: $primary-color;
    color: white;
  }

  .abstract-wrapper {
    margin-top: 1.57rem;

    .main-heading {
      color: white;
    }

    .form-group {
      margin-bottom: 0 !important;
    }

    .form-label {
      padding: 0;
    }

  }

  .clc-wrapper {
    margin-right: 1.875rem;
    flex: 1;

    .clco-wrapper {
      background-color: white;
      padding: 1.57rem;
      border: 1px solid $border-color;
      border-radius: .18rem;
      margin-bottom: 1.2rem;
    }

    .clco-wrapper:hover {
      box-shadow: $box-shadow-hover;
    }

  }

  .cli-wrapper {
    flex: 1;
  }

  .answer-button-wrapper {
    text-align: center;
    margin-top: 1.57rem;

    .btn i {
      margin-left: .6rem;
      margin-right: 0;
      margin-top: 0;
    }

  }

  .comment-button-wrapper{
    text-align: left;
    margin-top: 3.15rem;

    h5 {
      color: $secondary-color;
      font-weight: 300;
      font-size: 1.2rem;
      margin-bottom: 0;
    }

  }

  .textarea-answer-wrapper, .rating-answer-wrapper, .star-answer-wrapper, .toggle-answer-wrapper {
    margin-top: 1.57rem;
  }

  .prof-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .profile-wrapper {
      display: inline-flex;
      background: white;
      border: 1px solid $border-color;
      min-height: 11.875rem;
      padding: .9375rem 1rem .6rem 1rem;
      border-radius: .18rem;
      margin-bottom: 1.2rem;
      flex: 0 1 calc(50% - 1rem);
    }

  }

  .comment-wrapper, .clear-list-wrapper {
    margin-top: 1.57rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .comment-outer-wrapper, .textarea-answer-outer-wrapper {
    display: flex;
    background: white;
    border: 1px solid #D7D7D7;
    padding: 1.2rem 1.875rem;
    border-radius: .18rem;
    margin-bottom: 1.2rem;
    flex: 1;
  }

  .textarea-answer-outer-wrapper:hover, .comment-outer-wrapper:hover {
    box-shadow: $box-shadow-hover;
  }

  .comment-wrapper, .textarea-answer-outer-wrapper {
    display: block;
    flex: unset;
  }

  .comment-wrapper {
    margin-top: .9375rem;
  }

}

/********************************** Media ***************************************/

@media (max-width: 840px) {

  .question-section-wrapper {

    .clear-list-wrapper {
      flex-direction: column;

      .clc-wrapper {
        margin-right: 0;
      }

    }

    .comment-wrapper, .textarea-answer-wrapper, .prof-list-wrapper {
      flex-direction: column;
    }

  }

}

@media (max-width: 600px) {

  .comment-outer-wrapper, .textarea-answer-outer-wrapper {
    padding: .9375rem 1rem !important;
  }

}


@media (min-width: 1280px) {

  .prof-list-wrapper {

    .profile-wrapper {
      flex: 0 1 calc(32% - 1rem) !important;
    }

  }

}
