@import "../../../../../style/framework/src/variables";

#search-input-2-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 39px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s ease;

  form {
    align-items: center;

    input[type="search"] {
      width: 50px;
      border: none;
      font-size: $font-size-sm;
      line-height: $line-height;
      color: $form-input-color;
      padding: $layout-spacing;
      visibility: visible;
      transition: width 1s ease;
      transform: scaleX(0);

      &::placeholder {
        color: $form-placeholder-color;
      }

    }

  }

  .close-icon {
    font-size: $font-icon-lg;
    visibility: hidden;

    &:hover {
      opacity: 0.8;
    }

  }

  &:hover, &.active {
    cursor: pointer;
    border-bottom-color: $border-color;

    form {

      input[type="search"] {
        width: 268px;
        transform: scaleX(1);
        cursor: pointer;
      }

    }

  }

  &.active {

    form {

      input[type="search"] {
        cursor: text;
      }

    }

  }

}
