.bar-chart-component {

  .flex-container {
    display: flex;
  }

  /* === Horizontals bars === */

  .horizontal-bar {
    position: relative;
    border: 1px solid #D6D6D6;
    width: 100%;
    height: 39px;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;

    .bar-number {
      background: grey;
      width: 38px;
      height: 37.5px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      float: left;
      padding-top: 7px;
      border-radius: 3px 1px 1px 3px;
    }

    .bar-fill {
      background-image: linear-gradient(-90deg, #edeeef 16%, #d7dee0 100%);
      height: 37px;
      padding-left: 38px;
    }

    .bar-name {
      position: absolute;
      top: 8px;
      left: 50px;
      font-size: 0.7rem;
      font-weight: 600;
      color: #5d5d5d;
    }

    .bar-stats {
      position: absolute;
      top: 8px;
      right: 12px;
      font-weight: 600;
      font-size: 0.7rem;
      color: #0B90C6;
    }

  }


  /* === Pour les Bars qui n'ont pas de chiffres au début === */

  #key-benefits .horizontal-bar .bar-name {
    left: 20px;
  }

  #expression-of-interest .horizontal-bar .bar-name {
    left: 20px;
  }

  .average {
    font-size: 22px;
    color: #9B9B9B;
    margin-top: 0;
    margin-bottom: 30px;
  }

  ul.comments {

    li {
      list-style: none;
      .flex-container {
        display: flex;
        justify-content: space-between;
      }
    }

    > li {
      position: relative;
      margin-bottom: 15px;
      border-radius: 3px;
      background-color: white;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
      border: 1px solid #F2F2F2;
    }

  }

  ul.comments > li .flex-container {
    align-items: center !important;
  }

}
