/*.bar-chart-component {

  .flex-container {
    display: flex;
  }

  !* === Horizontals bars === *!

  .horizontal-bar {
    position: relative;
    border: 1px solid #D6D6D6;
    width: 100%;
    height: 49px;
    margin-right: 20px;
    border-radius: 3px;
    margin-bottom: 13px;
    cursor: pointer;

    .bar-number {
      background: grey;
      width: 47.5px;
      height: 47.5px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      float: left;
      padding-top: 12.5px;
      border-radius: 3px 1px 1px 3px;
    }

    .bar-fill {
      background-image: linear-gradient(-90deg, #edeeef 16%, #d7dee0 100%);
      height: 47.5px;
      padding-left: 38px;
    }

    .bar-name {
      position: absolute;
      top: 12.5px;
      left: 62px;
      font-size: 0.7rem;
      font-weight: 600;
      color: #5d5d5d;
    }

    .bar-stats {
      position: absolute;
      top: 12.5px;
      right: 12px;
      font-weight: 600;
      font-size: 0.7rem;
      color: #0B90C6;
    }

  }

  !* === Pour les Bars qui n'ont pas de chiffres au début === *!

  #key-benefits .horizontal-bar .bar-name {
    left: 20px;
  }

  #expression-of-interest .horizontal-bar .bar-name {
    left: 20px;
  }

  .average {
    font-size: 22px;
    color: #9B9B9B;
    margin-top: 0;
    margin-bottom: 30px;
  }

  ul.comments {

    li {
      list-style: none;
      .flex-container {
        display: flex;
        justify-content: space-between;
      }
    }

    > li {
      position: relative;
      margin-bottom: 15px;
      border-radius: 3px;
      background-color: white;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.37);
      border: 1px solid #F2F2F2;
    }

  }

  ul.comments > li .flex-container {
    align-items: center !important;
  }

}*/

.bar-chart {

  .header-wrapper {
    background-color: #4F5D6B;
    border-radius: 3px;
    color: white;

    h1 {
      color: white;
    }

  }

  .content-wrapper {

    .data-wrapper {
      padding-top: 25px;

      .row1-wrapper {
        display: flex;
        justify-content: space-between;
        font-weight: 600;

        .filter-name-wrapper {

          .bar-filter {
            cursor: pointer;
          }

          .bar-name {
            margin-left: 10px;
            font-size: 18px;
            color: #4F5D6B;
            margin-right: 10px;
          }

        }

        .response-arrow-wrapper {
          font-size: 14px;
          color: #97A4B1;
          cursor: pointer;
        }

      }

      .row2-wrapper {
        margin-top: 25px;

        .progress-outer-wrapper {
          width: 100%;
          border-radius: 25px;
          background-color: #D8D8D8;
          height: 16px;

          .progress-inner-wrapper {
            height: 16px;
            border-radius: 25px;
            text-align: center;
            font-size: 11px;
            color: white;
            font-weight: 600;
          }

        }

      }

      .answer-wrapper {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
          display: inline-flex;
          background: white;
          border: 1px solid #D7D7D7;
          min-height: 190px;
          padding: 15px 16px;
          border-radius: 3px;
          margin-bottom: 20px;
          flex: 0 1 calc(32% - 1rem);
        }

      }

    }

  }

}


/********************************** Media ***************************************/
@media (max-width: 840px) {

  .bar-chart {

    .answer-wrapper {

      div {
        flex: 0 1 calc(50% - 1rem) !important;
      }

    }

  }


}

@media (max-width: 600px) {

  .bar-chart {

    .answer-wrapper {
      flex-direction: column;
    }

  }

}

