@import "../../../../../../../style/variables";

.bar-chart-wrapper {

  .header-wrapper {
    background-color: white;
    border-radius: .18rem;
    color: $dark-color;

    h1 {
      color: $dark-color;
    }

    .tags-wrapper {
      font-size: 0.6875rem;
      display: inline-flex;
      background-color: $background-color;
      color: white;
      padding: .35rem .9375rem;
      font-weight: 600;
      border-radius: 1.57rem;
      margin: .35rem;
      cursor: pointer;
    }

    .tags-wrapper:hover {
      background-color: $primary-color;
      color: white;
    }

    .abstract-wrapper {
      margin-top: 1.57rem;
      padding: 3.15rem;

      .main-heading {
        color: $dark-color;
      }

      .form-group {
        margin-bottom: 0 !important;
      }

      .form-label {
        padding: 0;
      }

    }

  }

  .content-wrapper {

    .answer-button-wrapper {
      margin-top: 1.57rem;

      .btn i {
        margin-top: 0;
        margin-right: 0;
        margin-left: .6rem;
      }

    }

    .data-wrapper {
      padding-top: 3.15rem;

      .row1-wrapper {
        display: flex;
        justify-content: space-between;
        font-weight: 600;

        .filter-name-wrapper {

          .bar-filter {
            cursor: pointer;
          }

          .bar-name {
            margin-left: 10px;
            font-size: 18px;
            color: $background-color;
            margin-right: .6rem;
          }

        }

        .response-arrow-wrapper {
          font-size: 1rem;
          color: $meta-color;
          cursor: pointer;

          .icon {
            font-size: .875rem;
          }

        }

      }

      .row2-wrapper {
        margin-top: .9375rem;
        cursor: pointer;
      }

      .answer-wrapper {
        margin-top: 1.57rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
          display: inline-flex;
          background: white;
          border: 1px solid $border-color;
          min-height: 11.875rem;
          padding: .9375rem 1rem;
          border-radius: .18rem;
          margin-bottom: 1.2rem;
          flex: 0 1 calc(50% - 1rem);
        }

        div:hover {
          box-shadow: $box-shadow-hover;
        }

      }

    }

  }

}

.executive-bar-chart-wrapper {

  .row-1-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .bar-name {
      font-size: 14px;
    }

    .bar-count {
      color: $meta-color;
      font-weight: 600;
      font-size: 12px;
    }

  }

  .row-3-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin-bottom: 10px;

    .answer-outer {
      display: inline-flex;
      border-radius: 3px;
      padding: 5px 8px;
      color: $background-color;
      background-color: $page-color;
      font-size: 13px;
      font-weight: 600;
      margin-right: 5px;
    }

  }

  .row-1-wrapper, .row-2-wrapper {
    margin-bottom: 8px;
  }

}


/********************************** Media ***************************************/
@media (max-width: 600px) {

  .bar-chart-wrapper {

    .answer-wrapper {
      flex-direction: column;
    }

  }

}

