<section id="admin-campaign-answers">


  <!-- stats -->
  <ul class="stat">

    <!-- stat col 1 -->
    <li class="stat-container fluid">
      <h5 class="stat-heading">Insight</h5>
      <div class="stat-body">
        <h5 class="stat-sub-heading">Rejected</h5>
        <span class="stat-value">{{ campaignStat('status', 'REJECTED') }}</span>
      </div>
      <div class="stat-body">
        <h5 class="stat-sub-heading">To look at</h5>
        <span class="stat-value">{{ campaignStat('status', ['SUBMITTED', 'VALIDATED_UMIBOT', 'REJECTED_UMIBOT']) }}</span>
      </div>
      <div class="stat-body">
        <h5 class="stat-sub-heading">Validated</h5>
        <span class="stat-value">{{ campaignStat('status', 'VALIDATED') }}</span>
      </div>
    </li>

    <!-- stat col 2 -->
    <li class="stat-container fluid">
      <h5 class="stat-heading">Profile</h5>
      <div class="stat-body">
        <h5 class="stat-sub-heading">Standard</h5>
        <span class="stat-value">{{ campaignStat('profile', 1) }}</span>
      </div>
      <div class="stat-body">
        <h5 class="stat-sub-heading">Top profile</h5>
        <span class="stat-value">{{ campaignStat('profile', 2) }}</span>
      </div>
    </li>

    <!-- stat col 3 -->
    <li class="stat-container fluid">
      <h5 class="stat-heading">Quality</h5>
      <div class="stat-body">
        <h5 class="stat-sub-heading">Fill rate</h5>
        <span class="stat-value">--</span>
      </div>
      <div class="stat-body">
        <h5 class="stat-sub-heading">Time spent</h5>
        <span class="stat-value">{{ campaignStat('quality', 'time_elapsed') }}" min.</span>
      </div>
    </li>

  </ul>
  <!-- /stats -->


  <div class="section-light-pad">
    <div class="column col-xs-12 col-11 col-mx-auto">
      <div class="restrict-width">


        <!-- fetching error campaign answers -->
        <ng-container *ngIf="fetchingError">
          <div class="a-c-a-error-wrapper d-flex align-center">
            <app-error-template-1 [errorMessage]="errorMessage" [ngStyle]="{ 'width': '100%' }"></app-error-template-1>
          </div>
        </ng-container>
        <!-- /fetching error campaign answers -->


        <!-- buttons -->
        <ng-container *ngIf="!fetchingError && authorizedActions(2)">
          <div class="text-right p-bottom-20">

            <!-- import -->
            <label class="btn ghost-primary btn-sm m-right-20 m-bottom-10">
              <input #fileupload type="file" [hidden]="true" (change)="onClickImport(fileupload.files[0])" />
              {{ 'COMMON.BUTTON.IMPORT' | translate }}
            </label>

            <!-- export -->
            <button class="btn btn-primary m-bottom-10 btn-sm" (click)="onClickExport()">
              {{ 'COMMON.BUTTON.EXPORT' | translate }}
            </button>

          </div>
        </ng-container>
        <!-- /buttons -->


        <!-- no answers -->
        <ng-container *ngIf="!fetchingError && total === 0">
          <div class="a-c-a-no-result-wrapper d-flex align-center">
            <app-message-template-2 [animation]="true" [ngStyle]="{ 'width': '100%' }">
              <h4 [innerText]="'CAMPAIGNS.NO_ANSWER'" class="text-background" translate></h4>
            </app-message-template-2>
          </div>
        </ng-container>
        <!-- /no answers -->


      </div>
    </div>
  </div>


</section>

<!-- section answers
<ng-container *ngIf="!noResult">
  <div class="section-light-pad rm-pad-top">
    <app-shared-table
      (editRow)="onClickEdit($event)"
      (performAction)="onTableAction($event)"
      [(config)]="config"
      [data]="tableInfos">
    </app-shared-table>
  </div>
</ng-container>
/section answers -->

<!-- sidebar insight preview
<app-sidebar [(template)]="sidebarValue">
  <app-user-answer
    [sidebarState]="sidebarValue.animate_state"
    [adminMode]="adminMode"
    [(userAnswer)]="modalAnswer"
    [projectId]="campaign.innovation._id"
    [questions]="questions"
    (answerUpdated)="updateAnswer($event)">
  </app-user-answer>
</app-sidebar>
 /sidebar insight preview -->
