<ng-container *ngIf="campaign">
  <section id="admin-campaign-answers-component">

    <!-- section stats -->
    <ul class="stat">

      <!-- stat col 1 -->
      <li class="stat-container fluid">
        <h5 class="stat-heading">{{ 'CAMPAIGNS.STATS.HEADING.INSIGHTS' | translate }}</h5>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.REJECTED' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('status', 'REJECTED') }}</span>
        </div>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.LOOK' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('status', 'SUBMITTED') }}</span>
        </div>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.VALIDATED' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('status', 'VALIDATED') }}</span>
        </div>
      </li>

      <!-- stat col 2 -->
      <li class="stat-container fluid">
        <h5 class="stat-heading">{{ 'CAMPAIGNS.STATS.HEADING.PROFILE' | translate }}</h5>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.STANDARD' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('profile', 1) }}</span>
        </div>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.TOP' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('profile', 2) }}</span>
        </div>
      </li>

      <!-- stat col 3 -->
      <li class="stat-container fluid">
        <h5 class="stat-heading">{{ 'CAMPAIGNS.STATS.HEADING.QUALITY' | translate }}</h5>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.FILL_RATE' | translate }}</h5>
          <span class="stat-value">--</span>
        </div>
        <div class="stat-body">
          <h5 class="stat-sub-heading">{{ 'CAMPAIGNS.STATS.TITLE.TIME' | translate }}</h5>
          <span class="stat-value">{{ getCampaignStat('quality', 'time_elapsed') }}" min.</span>
        </div>
      </li>

    </ul>


    <div class="column col-xs-12 col-11 col-mx-auto">

      <!-- section actions -->
      <ng-container *ngIf="getAuthorizedActions(2)">
        <div class="section-actions section-light-pad text-right">

          <label class="btn ghost-primary btn-sm">
            <input #fileupload type="file" [hidden]="true" (change)="importAnswers(fileupload.files[0], $event)" />
            {{ 'COMMON.BUTTON.IMPORT' | translate }}
          </label>

          <button class="btn btn-primary btn-sm" (click)="exportAnswers($event)">{{ 'COMMON.BUTTON.EXPORT' | translate }}</button>

        </div>
      </ng-container>
      <!-- /section actions -->

      <!-- section no answers -->
      <ng-container *ngIf="noResult">
        <div class="section-pad">
          <app-message-space [widthMax]="'354px'">
            {{ 'CAMPAIGNS.NO_ANSWERS.A' | translate }}
            <br>
            {{ 'CAMPAIGNS.NO_ANSWERS.B' | translate }}
          </app-message-space>
        </div>
      </ng-container>
      <!-- /section no answers -->

      <!-- section answers -->
      <ng-container *ngIf="!noResult">
        <div class="section-light-pad rm-pad-top">
          <app-shared-table
            [data]="tableInfos"
            [config]="config"
            (editRow)="onClickEdit($event)"
            (performAction)="onTableAction($event)">
          </app-shared-table>
        </div>
      </ng-container>
      <!-- /section answers -->

    </div>

  </section>
</ng-container>


<!-- sidebar insight preview -->
<app-sidebar [(template)]="sidebarValue">
  <app-user-answer
    [sidebarState]="sidebarValue.animate_state"
    [adminMode]="adminMode"
    [(userAnswer)]="modalAnswer"
    [projectId]="campaign.innovation._id"
    [questions]="questions"
    (answerUpdated)="updateAnswer($event)">
  </app-user-answer>
</app-sidebar>
<!-- /sidebar insight preview -->
