<div id="admin-campaign-answers-component">

  <!-- section actions -->
  <div *ngIf="getAuthorizedActions(2)" class="section-actions">

    <label class="btn ghost-primary">
      <input #fileupload type="file" [hidden]="true" (change)="importAnswers(fileupload.files[0], $event)" />
      {{ 'CAMPAIGNS.IMPORT_ANSWERS' | translate }}
    </label>

    <button class="btn btn-primary" (click)="exportAnswers($event)">{{ 'CAMPAIGNS.EXPORT_ANSWERS' | translate }}</button>

  </div>

  <!-- section no answers -->
  <div *ngIf="answers.length === 0" class="section-no-answer">
    <app-message-space [messageA]="'CAMPAIGNS.NO_ANSWERS.A'" [messageB]="'CAMPAIGNS.NO_ANSWERS.B'" [widthMax]="'354'"></app-message-space>
  </div>

  <!-- section answers -->
  <div *ngIf="answers.length > 0">
    <app-answers-list
      [answers]="answers"
      (modalAnswerChange)="seeAnswer($event)"
      (validateAnswers)="changeStatus($event, 'VALIDATED_NO_MAIL')"
      (rejectAnswers)="changeStatus($event, 'REJECTED')">
    </app-answers-list>
  </div>

</div>


<!-- sidebar insight preview -->
<app-sidebar [(template)]="sidebarValue">
  <app-user-answer
    [sidebarState]="sidebarValue.animate_state"
    [adminMode]="adminMode"
    [(userAnswer)]="modalAnswer"
    [projectId]="campaign.innovation._id"
    [questions]="questions">
  </app-user-answer>
</app-sidebar>
<!-- /sidebar insight preview -->
