<div id="search-input">
  <form novalidate class="search-wrapper" [ngClass]="{ 'active': searchActive}" autocomplete="off">

    <input
      type="text"
      [attr.placeholder]= "'COMMON.SEARCH_INNOVATION' | translate "
      [formControl]="searchField"
      (keydown)="onKeyboardPress($event)">

    <i class="fas fa-times search-cross-icon" (click)="clearInput()" [ngStyle]="{ 'display': crossIcon ? 'block' : 'none' }"></i>

    <button class="btn-round btn-primary" type="button" (click)="closeSearch()">
      <i class="fas fa-search search-icon"></i>
    </button>

    <ul *ngIf="searchField.value" class="suggestion" [ngStyle]="{'display': displaySuggestion ? 'flex' : 'none' }">
      <li *ngFor="let suggestion of suggestions; let i = index;" (click)="onValueSelect(suggestion)" [ngClass]="{ 'is-focused': i === currentFocus }">
        <a>
          <span>{{ suggestion.text }}</span>
        </a>
      </li>
    </ul>

  </form>
</div>


