@import "../../../../../style/variables";

#search-input {

  .search-wrapper {
    position: relative;
    transition: all .35s ease-in-out;
    background-color: white;
    border-radius: 50px;
    height: 3.15rem;
    display: flex;
    justify-content: flex-end;

    input[type="text"] {
      height: 3.15rem;
      width: 0;
      border-radius: 40px;
      border: 1px solid transparent;
      box-sizing: border-box;
      outline: 0;
      display: flex;
      background-color: white;
      transition: all .35s ease-in-out;
      color: $input-color;
      font-size: .875rem;

      &::placeholder {
        color: $placeholder-color;
      }

    }

    .search-cross-icon {
      right: 4.0625rem;
      position: absolute;
      padding-top: 1.06rem;
      font-size: 1.12rem;
      color: $meta-color;
      transition: all .15s ease-in-out;
    }

    .search-cross-icon:hover {
      cursor: pointer;
      color: $dark-color;
    }

    .btn-round {
      position: absolute;
      transition: all .35s ease-in-out;

      .search-icon {
        display: inline-flex;
      }

    }

    &.active {
      width: 100%;

      input[type="text"] {
        border-color: $meta-color;
        padding: .6rem 5.625rem .6rem 1.57rem;
        width: 100%;
      }

      .btn-round {
        background-color: $meta-color;
        border-color: $meta-color;
      }

    }

  }

  .suggestion {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 22px;
    background-color: #F2F2F2;
    max-height: 31.25rem;

    li {
      font-size: .875rem;
      color: $input-color;
    }

    li:hover, .is-focused {
      background-color: $border-color;
      border-color: $border-color;
    }

  }

}
