<div id="search-input">
  <form novalidate class="search-wrapper" [ngClass]="{ 'active': searchActive}">
    <input
      type="text"
      [attr.placeholder]= "'COMMON.SEARCH_INNOVATION' | translate "
      [formControl]="searchField">
    <i class="fas fa-times search-cross-icon" (click)="clearInput()" [ngStyle]="{ 'display': crossIcon ? 'block' : 'none' }"></i>
    <button class="btn-round btn-primary" type="button" (click)="closeSearch()">
      <i class="fas fa-search search-icon"></i>
    </button>

    <ul class="suggestion">
      <li>convient à tout le mondeconvient à tout le mondeconvient à tout le monde</li>
      <li>2</li>
      <li>convient à tout le monde</li>
      <li>2</li>
      <li>convient à tout le monde</li>
      <li>2</li>
    </ul>

  </form>
</div>

<!--<form novalidate>
  <div class="form-group">
    <input
      class="form-input form-control"
      type="search"
      [attr.placeholder]= "'COMMON.SEARCHINNOVATION' | translate "
      [formControl]="searchField">
    <i class="form-icon icon icon-search" *ngIf="searchIcon"></i>
    <i class="form-icon icon icon-cross" *ngIf="crossIcon" (click)="clearInput()"></i>
  </div>

  <ul *ngIf="searchField.value" [ngStyle]="{'display': displaySuggestion ? 'block' : 'none' }" class="suggestion">
    <li *ngFor="let suggestion of suggestions">
      <a (click)="onValueSelect(suggestion)">
        <span>{{ suggestion.text }}</span>
      </a>
    </li>
  </ul>

</form>-->

