@import "../../../../../../style/framework/src/variables";

.rating-item {
  display: flex;

  .fas {
    color: $text-meta-color;
    font-size: 14px;
  }

  .thumbs-down-wrapper, .thumbs-up-wrapper, .c-thumbs-up-wrapper, .c-thumbs-down-wrapper {
    display: flex;
    align-items: center;
    padding: 8px 12px;
  }

  .thumbs-up-wrapper {
    border-left: $border-width solid $border-default-color;
    border-top: $border-width solid $border-default-color;
    border-bottom: $border-width solid $border-default-color;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .thumbs-down-wrapper {
    border: $border-width solid $border-default-color;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .thumbs-up-wrapper:hover, .thumbs-up-wrapper.active {
    background-color: $bg-success-color;
    cursor: pointer;

    .fa-thumbs-up {
      color: $text-white-color;
    }

  }

  .thumbs-down-wrapper:hover, .thumbs-down-wrapper.active {
    background-color: $bg-alert-color;
    cursor: pointer;

    .fa-thumbs-down {
      color: $text-white-color;
    }

  }

  .c-thumbs-up-wrapper {
    border: $border-width solid $border-success-color;
    background-color: $bg-success-color;
    border-radius: $border-radius;
    color: $text-white-color;

    .fa-thumbs-up {
      color: $text-white-color;
    }

  }

  .c-thumbs-down-wrapper {
    border: $border-width solid $border-alert-color;
    border-radius: $border-radius;
    background-color: $bg-alert-color;
    color: $text-white-color;

    .fa-thumbs-down {
      color: $text-white-color;
    }

  }

}
