.upload-area {
  position: relative;
  background: #f5f5f5;
  cursor: pointer;
  height: 200px;
  border: 4px dashed #dbdbdb;
  transition: all linear .2s;
  margin-bottom: 30px;
  display: flex;

  &:hover {
    border-color: #F79323C8;
  }

  .container {
    margin: auto;
    line-height: 32px;

    .url-input {
      margin-bottom: 0;
      height: 3rem;
    }
  }
}
