.videos-upload {
  border: 2px dashed #E0E0E0;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  border-radius: 5px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;


  .logos {
    padding-bottom: 25px;
    img {
      margin-right: 10px;
    }
  }

  .form-input-default.ng-touched.ng-invalid{
    border-color: unset !important;
  }

  .primary-button {
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .para {
    font-size: 0.8rem;
    color: #333333;
    padding: 25px 15px 0;
  }

}

.videos-upload:hover {
  border-color: #FFB300;
  background-color: #FFF9EB;
}

/********************************** Media ***************************************/

@media (max-width: 600px) {

  .input-group {
    display: flex;
    flex-direction: column;

    .form-input-default {
      width: 78vw;
    }

    .primary-button {
      margin: 15px auto 0;;
    }

  }

}

@media (min-width: 601px) {

  .form-input-default {
    width: 372px !important;
  }

}
