@import "../../../../../style/framework/src/variables";

.videos-upload {
  border: $border-width-lg dashed $border-color;
  position: relative;
  border-radius: $border-radius;
  min-height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $unit-2;


  .logos {
    padding-bottom: $unit-5;

    img {
      margin-right: 1.5rem;
    }

  }

  .form-input {
    max-width: 450px;
  }

  .form-input.ng-touched.ng-invalid{
    border-color: unset !important;
  }

  .btn {
    margin-top: $unit-5;
  }

}

.videos-upload:hover {
  border-color: $primary-color;
  background-color: $hover-background-color;
}


