<div class="videos-upload flex-centered text-center">

  <div class="logo-wrapper">
    <img
      src="https://res.cloudinary.com/umi/image/upload/c_scale,h_22/app/logo-vimeo.png"
      height="22px"
      alt=" ">

    <img
      src="https://res.cloudinary.com/umi/image/upload/c_scale,h_22/app/logo-youtube.png"
      height="22px"
      alt=" ">
  </div>

  <label [ngStyle]="{ 'width': '100%' }">
    <input
      [(ngModel)]="videoUrlInput"
      [attr.placeholder]="'COMMON.PLACEHOLDER.MEDIA_URL' | translate"
      class="form-input m-auto"
      type="text">
  </label>

  <button class="button is-primary m-top-20" (click)="videoUrlInput ? addVideo($event) : ''">
    <i class="fas icon-left fa-upload"></i>{{ 'COMMON.BUTTON.UPLOAD_VIDEO' | translate }}
  </button>

</div>

