<section id="admin-campaign-pros">


  <!-- stats -->
  <app-admin-campaign-stats></app-admin-campaign-stats>
  <!-- /stats -->


  <div class="section-light-pad">
    <div class="column col-xs-12 col-11 col-mx-auto">
      <div class="restrict-width">


        <!-- fetching error -->
        <ng-container *ngIf="fetchingError">
          <div class="a-c-p-error-wrapper d-flex align-center">
            <app-utility-error-template-1 [errorMessage]="'CAMPAIGNS.ERROR_MESSAGE.FETCHING_PROFESSIONALS'"></app-utility-error-template-1>
          </div>
        </ng-container>
        <!-- /fetching error -->


        <!-- no professional -->
        <ng-container *ngIf="!fetchingError && noResult && total === 0">
          <div class="a-c-p-no-result-wrapper d-flex align-center">
            <app-message-template-2 [animation]="true" [ngStyle]="{ 'width': '100%' }">

              <div class="text-center">

                <h4 [innerText]="'CAMPAIGNS.NO_PROFESSIONALS'" class="text-background" translate></h4>

                <div class="m-top-25">

                  <button (click)="onClickAdd()" class="btn btn-primary rounded shadow m-right-20 m-bottom-20" type="button">
                    <i class="fas fa-plus m-no-left"></i>
                    {{ 'COMMON.BUTTON.ADD' | translate }} professional
                  </button>

                  <button (click)="onClickImport()" class="btn btn-primary rounded shadow m-bottom-20 m-right-20" type="button">
                    <i class="fas fa-file-import m-no-left"></i>
                    {{ 'COMMON.BUTTON.IMPORT' | translate }} professionals
                  </button>

                </div>

              </div>

            </app-message-template-2>
          </div>
        </ng-container>
        <!-- /no professional -->


        <!-- professionals -->
        <ng-container *ngIf="!fetchingError && !noResult">


          <!-- buttons -->
          <div class="text-right p-bottom-10">

            <!-- import -->
            <button (click)="onClickImport()" class="btn btn-sm ghost-primary m-bottom-20 m-right-20" type="button">
              {{ 'COMMON.BUTTON.IMPORT' | translate }}
            </button>

            <!-- add -->
            <button (click)="onClickAdd()" class="btn btn-sm ghost-primary m-bottom-20 m-right-20" type="button">
              {{ 'COMMON.BUTTON.ADD' | translate }}
            </button>

            <!-- export -->
            <button (click)="onClickExport()" class="btn btn-sm btn-primary m-bottom-20" type="button">
              {{ 'COMMON.BUTTON.EXPORT' | translate }}
            </button>

          </div>
          <!-- /buttons -->


          <!-- table -->
          <app-shared-professionals-list
            (selectedProfessionalChange)="selectedProsEvent($event)"
            [(config)]="config"
            [campaign]="campaign"
            [professionals]="professionals"
            [tableSelector]="'admin-campaign-pros-limit'"
            [total]="total">
          </app-shared-professionals-list>
          <!-- /table -->


        </ng-container>
        <!-- /professionals -->


      </div>
    </div>
  </div>


</section>


<!-- sidebar -->
<app-sidebar [(template)]="sidebarValue">
  <app-user-form
    (finalProfessionalData)="onClickSave($event)"
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type">
  </app-user-form>
</app-sidebar>
<!-- /sidebar -->


<!-- modal -->
<app-utility-modal [(showModal)]="modalImport" [title]="'COMMON.MODAL.TITLE_IMPORT'">

  <section class="modal-body">

    <label class="form-label">{{ 'CAMPAIGNS.LABEL_IMPORT' | translate }}</label>
    <app-auto-complete-input
      (update)="updateCampaign($event)"
      [onlyOne]="true"
      [config]="{ placeholder: 'CAMPAIGNS.PROS_PAGE.MODAL.IMPORT.PLACEHOLDER', initialData: originCampaign, type: 'campaign' }">
    </app-auto-complete-input>

    <div class="text-center p-top-25">
      <label class="btn btn-sm ghost-primary">
        <input #fileupload type="file" [hidden]="true" (change)="onClickImportCsv(fileupload.files[0])" />
        Import file
      </label>
    </div>

  </section>

  <footer class="modal-footer">
    <button class="button modal-cancel">{{ 'COMMON.BUTTON.CANCEL'  | translate }}</button>
    <button (click)="onClickConfirm()" [disabled]="!originCampaign.length" class="button is-primary">{{ 'COMMON.BUTTON.CONFIRM' | translate }}</button>
  </footer>

</app-utility-modal>
<!-- /modal -->






