@import "../../../../../../../style/framework/src/variables";

#admin-campaign-pros-component {

  .section-actions {
    padding-bottom: 0.75rem;

    .btn {
      margin-bottom: 0.5rem;
    }

    .gap-right {
      margin-right: $unit-5;
    }

  }

}
