<ng-container *ngIf="campaign">
  <section id="admin-campaign-pros-component">

    <!-- section stats -->
    <app-admin-campaign-stats></app-admin-campaign-stats>

    <div class="column col-xs-12 col-11 col-mx-auto">

      <!-- section actions -->
      <div class="section-actions section-light-pad text-right">
        <button class="btn ghost-primary gap-right btn-sm" (click)="onClickImport($event)">{{ 'COMMON.BUTTON.IMPORT' | translate }}</button>
        <button class="btn ghost-primary gap-right btn-sm" (click)="OnClickAdd($event)">{{ 'COMMON.BUTTON.ADD' | translate }}</button>
        <button class="btn btn-primary btn-sm" (click)="onClickExport($event)">{{ 'COMMON.BUTTON.EXPORT' | translate }}</button>
      </div>

      <!-- section no pros -->
      <ng-container *ngIf="noResult">
        <div class="section-pad">
          <app-message-space [widthMax]="'354px'">
            Don't have any pros?
            <br>
            Try to add some either by clicking on "Import" or "Add" button.
          </app-message-space>
        </div>
      </ng-container>

      <!-- section pros list -->
      <ng-container *ngIf="!noResult">
        <div class="section-light-pad rm-pad-top">
          <app-shared-pros-list [config]="config" [campaign]="campaign" (selectedProsChange)="selectedProsEvent($event)"></app-shared-pros-list>
        </div>
      </ng-container>

    </div>


  </section>
</ng-container>



<!-- modal to import pros -->
<app-modal [(showModal)]="importModal" [modalTitle]="'COMMON.MODAL.TITLE_IMPORT'">

  <app-autocomplete-input
    (update)="updateCampaign($event)"
    [onlyOne]="true"
    [config]="{ placeholder: 'CAMPAIGNS.PROS_PAGE.MODAL.IMPORT.PLACEHOLDER', initialData: originCampaign, type: 'campaign' }">
  </app-autocomplete-input>

  <div class="text-center section-light-pad rm-pad-bottom">
    <label class="btn btn-sm ghost-primary">
      <input #fileupload type="file" [hidden]="true" (change)="OnClickImportCsv(fileupload.files[0], $event)" />
      Import
    </label>
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" [disabled]="!originCampaign.length" (click)="importPros($event)">{{ 'COMMON.BUTTON.ADD' | translate }}</button>
  </div>

</app-modal>
<!-- /modal to import pros -->


<!-- sidebar to add pro -->
<app-sidebar [(template)]="sidebarValue">
  <app-user-form
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type"
    (finalProfessionalData)="onClickSave($event)">
  </app-user-form>
</app-sidebar>
<!-- /sidebar to add pro -->
