@import "../../../../../../../style/framework/src/variables";

#admin-campaign-pros-component {

  .section-actions {
    padding-top: 1.57rem;
    padding-bottom: 0.9375rem;
    text-align: right;

    .btn {
      margin-bottom: 0.6rem;
    }

    .gap-right {
      margin-right: 1.2rem;
    }

  }

}
