<div id="admin-campaign-pros-component">

  <!-- section stats -->
  <div class="campaign-stats-wrapper">

    <!-- stat col 1 -->
    <div class="stat1">
      <div class="container">
        <h5 class="heading">{{ 'CAMPAIGNS.STATS.HEADING.PROFESSIONALS' | translate }}</h5>
        <div class="content">
          <h4 class="title">{{ 'CAMPAIGNS.STATS.TITLE.FIND' | translate }}</h4>
          <h3 class="value">{{ getCampaignStat('professional') }}</h3>
        </div>
        <div class="content">
          <h4 class="title">{{ 'CAMPAIGNS.STATS.TITLE.NOT_REACHED' | translate }}</h4>
          <h3 class="value">{{ getCampaignStat('notReached') }}%</h3>
        </div>
        <div class="content">
          <h4 class="title">{{ 'CAMPAIGNS.STATS.TITLE.STARS' | translate }}</h4>
          <h3 class="value">--</h3>
        </div>
        <div class="content">
          <h4 class="title">{{ 'CAMPAIGNS.STATS.TITLE.DUPLICATE' | translate }}</h4>
          <h3 class="value">--</h3>
        </div>
      </div>
    </div>

    <!-- stat col 2 -->
    <div class="stat2">
      <div class="container">
        <h5 class="heading">{{ 'CAMPAIGNS.STATS.HEADING.EMAILS' | translate }}</h5>
        <div class="content">
          <h4 class="title">{{ 'CAMPAIGNS.STATS.TITLE.GOOD' | translate }}</h4>
          <h3 class="value">{{ getCampaignStat('good') }}%</h3>
        </div>
        <div class="content">
          <h4 class="title">{{ 'CAMPAIGNS.STATS.TITLE.UNSURE' | translate }}</h4>
          <h3 class="value">{{ getCampaignStat('unsure') }}%</h3>
        </div>
        <div class="content">
          <h4 class="title">{{ 'CAMPAIGNS.STATS.TITLE.BAD' | translate }}</h4>
          <h3 class="value">{{ getCampaignStat('bad') }}%</h3>
        </div>
      </div>
    </div>

    <!-- stat col 3 -->
    <div class="stat3">
      <div class="container">
        <h5 class="heading">{{ 'CAMPAIGNS.STATS.HEADING.COST' | translate }}</h5>
        <div class="content">
          <h4 class="title">{{ 'CAMPAIGNS.STATS.TITLE.REQUEST' | translate }}</h4>
          <h3 class="value">--</h3>
        </div>
        <div class="content">
          <h4 class="title">{{ 'CAMPAIGNS.STATS.TITLE.EMAILS' | translate }}</h4>
          <h3 class="value">--</h3>
        </div>
      </div>
    </div>

  </div>


  <div class="column col-xs-12 col-11 col-mx-auto">

    <!-- section actions -->
    <div class="section-actions">
      <button class="btn ghost-primary gap-right" (click)="onClickImport($event)">{{ 'COMMON.BUTTON.IMPORT' | translate }}</button>
      <button class="btn ghost-primary gap-right" (click)="OnClickAdd($event)">{{ 'COMMON.BUTTON.ADD' | translate }}</button>
      <button class="btn btn-primary" (click)="onClickExport($event)">{{ 'COMMON.BUTTON.EXPORT' | translate }}</button>
    </div>

    <!-- section pros list -->
    <app-shared-pros-list [config]="config" [campaign]="campaign" (selectedProsChange)="selectedProsEvent($event)"></app-shared-pros-list>

  </div>


</div>


<!-- modal to import pros -->
<app-modal [(showModal)]="importModal" [modalTitle]="'COMMON.MODAL.TITLE_IMPORT'">

  <app-autocomplete-input
    (update)="updateCampaign($event)"
    [onlyOne]="true"
    [config]="{ placeholder: 'CAMPAIGNS.PROS_PAGE.MODAL.IMPORT.PLACEHOLDER', initialData: originCampaign, type: 'campaign' }">
  </app-autocomplete-input>

  <div class="text-center" [ngStyle]="{ 'padding-top': '1.57rem' }">
    <label class="btn btn-sm ghost-primary">
      <input #fileupload type="file" [hidden]="true" (change)="OnClickImportCsv(fileupload.files[0], $event)" />
      Import CSV
    </label>
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button class="btn btn-sm btn-primary" [disabled]="!originCampaign.length" (click)="importPros($event)">{{ 'COMMON.BUTTON.ADD' | translate }}</button>
  </div>

</app-modal>
<!-- /modal to import pros -->


<!-- sidebar to add pro -->
<app-sidebar [(template)]="sidebarValue">
  <app-user-form
    [sidebarState]="sidebarValue.animate_state"
    [type]="sidebarValue.type"
    (finalProfessionalData)="onClickSave($event)">
  </app-user-form>
</app-sidebar>
<!-- /sidebar to add pro -->
