<div id="new-project-last-step">

  <!-- heading -->
  <h1 class="title text-white text-center is-4 text-bold m-bottom-10">
    {{ 'NEW_PROJECT.HEADINGS.STEP_LAST' | translate }}
  </h1>
  <!-- /heading -->

  <!-- lang selection -->
  <div [ngClass]="{'p-bottom-40': !!reportingLang}" class="flex-centered flex-wrap">
    <a
      (click)="onChangeProjectLang($event, lang)"
      *ngFor="let lang of projectLangs"
      [href]="'#new-project-date-picker'"
      [id]="'new-project-btn-project-lang-'+lang"
      [ngClass]="{'bg-success': lang === reportingLang}"
      class="lang-wrapper c-hand flex-centered text-white text-medium text-md m-20"
      pageScroll>
      {{ 'COMMON.LANG.' + lang | uppercase | translate }}
    </a>
  </div>
  <!-- /lang selection -->

  <!-- date -->
  <div class="p-top-50">

    <h2 *ngIf="!!reportingLang" class="title text-white text-center is-4 text-bold animate-fade is-2">
      {{ 'NEW_PROJECT.RESTITUTION_DATE_QUESTION' | translate }}
    </h2>

    <div class="p-top-10 m-left-auto m-right-auto" id="new-project-date-picker">
      <app-utility-date-picker
        (selectedDate)="onChangeRestitutionDate($event)"
        *ngIf="!!reportingLang"
        [isDisabledUntil]="disabledDate">
      </app-utility-date-picker>
    </div>

    <div *ngIf="!!reportingLang" class="form-group mxw-450 m-left-auto m-right-auto p-top-40">
      <label>
        <textarea
          (change)="onChangeMilestoneComment()"
          [(ngModel)]="milestoneDateComment"
          [placeholder]="'NEW_PROJECT.COMMENT_PLACEHOLDER' | translate"
          class="form-input is-shadowed text-sm"
          id="new-project-comment"
          rows="3">
        </textarea>
      </label>
    </div>

  </div>
  <!-- /date -->

  <!-- arrow -->
  <div class="flex-centered p-top-50" id="arrow-title">
    <img
      *ngIf="isRestitutionDateSelected"
      alt="Arrow bottom"
      class="img-responsive"
      src="https://res.cloudinary.com/umi/image/upload/app/default-images/configurator/arrow-bottom.svg">
  </div>
  <!-- /arrow -->

  <!-- title -->
  <div *ngIf="isRestitutionDateSelected" class="p-top-50 p-bottom-40 animate-fade is-2">
    <h2 class="title text-white text-center is-4 text-bold">{{ 'NEW_PROJECT.TITLE_QUESTION' | translate }}</h2>
    <h3 class="subtitle op-8 is-6 text-white text-center">{{ 'NEW_PROJECT.TITLE_INTERNAL' | translate }}</h3>
    <div class="form-group mxw-450 m-left-auto m-right-auto">
      <label>
        <input
          (keyup)="onChangeProject()"
          [(ngModel)]="projectName"
          [placeholder]="'COMMON.PLACEHOLDER.TITLE' | translate"
          class="form-input is-shadowed"
          type="text">
      </label>
    </div>
  </div>
  <!-- /title -->

  <div *ngIf="!!projectName" class="animate-fade is-2">

    <!-- collaborators -->
    <div class="p-top-50">

      <h2 class="title text-white text-center is-4 text-bold m-bottom-15">
        {{ 'NEW_PROJECT.COLLABORATORS_QUESTION' | translate }}
      </h2>

      <div class="mxw-650 m-left-auto m-right-auto">

        <label class="form-checkbox p-left-30">
          <input
            (ngModelChange)="consentChange($event)"
            [(ngModel)]="collaboratorsConsent.value"
            [id]="'new-project-collaborator-consent'"
            type="checkbox">
          <i style="width: 20px; height: 20px" class="form-icon"></i>
          <span class="text-white text-medium">{{ 'NEW_PROJECT.COLLABORATORS_TERMS' | translate }}</span>
        </label>

        <ng-container *ngIf="!collaboratorsConsent.value && collaborators.length">
          <div class="form-error text-medium">{{ 'NEW_PROJECT.ACCEPT_CONSENT' | translate }}</div>
        </ng-container>

      </div>

      <div class="mxw-750 m-top-25 m-left-auto m-right-auto">
        <app-utility-text-input
          (textEntered)="addEmail($event)"
          (valueToRemove)="removeEmail($event)"
          [addedText]="collaborators"
          [buttonColorClass]="'is-community'"
          [fieldType]="'email'"
          [inputMaxWidth]="'450px'"
          [isFieldCenter]="true"
          [labelBgColor]="'is-success'"
          [placeholder]="'jhon@catco.com'"
          [template]="'TYPE_2'">
        </app-utility-text-input>
      </div>

    </div>
    <!-- /collaborators -->

  </div>

</div>
