<div
  class="main-container sidebar-wrapper"
  id="sidebar-wrapper"
  (click)="toggleState($event)"
  [@animateWrapper]="state">

  <div
    class="sidebar-content"
    [@animateContent]="state"
    [ngStyle]="{ 'width': size ? size : '452px' }">

    <div class="columns">
      <div class="column col-12 col-mx-auto">

        <!-- Heading -->
        <div class="sidebar-header">
          <div class="column col-xs-12 col-11 col-mx-auto">
            <div class="header-content">
              <span>{{ title | translate }}</span>
              <span><i class="icon icon-cross" id="close" (click)="toggleState($event)"></i></span>
            </div>
          </div>
        </div>

        <!-- Content -->
        <ng-content></ng-content>

      </div>
    </div>

  </div>

</div>
