/*
    This stylesheet contains all the class related to the different type of texts
    for our platform.
 */
@import "variables";


h1, h2, h3, h4, h5, h6, .title-hero, .title-primary, .title-secondary, .title-header {
  font-weight: 600;
  line-height: 1.5;
}


/*
    h1, h2, h3, h4, h5, and h6 common style
 */

h1, h2, h3, h4, h5, h6 {
  color: $text-primary;
  margin: 0 0 1.57rem;
}


/*
    h1
 */

h1 {
  font-size: 2rem;
}


/*
    h2
 */

h2 {
  font-size: 1.9rem;
}


/*
    h3
 */

h3 {
  font-size: 1.8rem;
}


/*
    h4
 */

h4 {
  font-size: 1.7rem;
}


/*
    h5
 */

h5 {
  font-size: 1.6rem;
}


/*
    h6
 */

h6 {
  font-size: 1.5rem;
}


/*
    use this title for the hero container of the page.
 */
.title-hero {
  font-size: 2rem;
  color: #FFFFFF;
}


/*
    use this on section title.
 */
.title-primary {
  font-size: 1.7rem;
  color: $text-primary;
}


/*
    use this to sub-section or any secondary title.
 */
.title-secondary {
  font-size: 1.625rem;
  color: $secondary;
  font-weight: normal;
}


/*
    use this with the components like modal, sidebar etc.
 */
.title-header {
  font-size: 1.25rem;
  color: #FFFFFF;
}


/*
    text style that has link. Class name: text-link
 */

.text-link, .text-link:active, .text-link:focus, .text-link:visited {
  color: $primary;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.text-link:hover {
  color: $primary;
  text-decoration: underline;
}
