<div id="shared-search-config-pros">

  <div class="d-flex flex-d-column align-start justify-start w-full">
    <!-- Seniority level / Job category level -->
    <div class="pro-select-wrapper d-flex align-center w-full m-top-10">
      <div class="d-flex w-full">
        <!-- check box-->
        <div class="button-checker m-left-3" [ngStyle]="getCurrentState()"
             [ngClass]="{'prevent-event': isPreview}"
             (click)="stateOnChange($event)">
          <ng-container *ngIf="!isHovered">
            <ng-container [ngSwitch]="currentState">
              <ng-container *ngSwitchCase="0">
                <i class="fas fa-times"></i>
              </ng-container>
              <ng-container *ngSwitchCase="2">
              </ng-container>
              <ng-container *ngSwitchCase="3">
                <i class="fas fa-circle"></i>
              </ng-container>
              <ng-container *ngSwitchCase="1">
                <i class="fas fa-check"></i>
              </ng-container>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="isHovered">
            <ng-container [ngSwitch]="hoverState">
              <ng-container *ngSwitchCase="0">
                <i class="fas fa-times"></i>
              </ng-container>
              <ng-container *ngSwitchCase="2">
              </ng-container>
              <ng-container *ngSwitchCase="3">
                <i class="fas fa-circle"></i>
              </ng-container>
              <ng-container *ngSwitchCase="1">
                <i class="fas fa-check"></i>
              </ng-container>
            </ng-container>
          </ng-container>

        </div>
        <!-- /check box-->

        <!-- Seniority Level's name or Job category-->
        <div class="text-dark m-left-4 d-flex align-center width-100"
             [ngClass]="{'prevent-event': isPreview}"
             (mouseenter)="showNextState($event)" (mouseleave)="closeHoverState()"
             style="min-width: fit-content">
          {{context | titlecase}}
        </div>
        <!-- /Seniority Level's name or Job category-->
      </div>

      <!-- Job category expand item-->
      <div class="d-flex m-left-auto text-white m-right-3" *ngIf="isJobTypo" (click)="onClickToggle()">
        <!-- nb of included/excluded jobs-->
        <div class="d-flex flex-end flex-grow" style="width: 80%" [ngClass]="{'prevent-event': isPreview}"
             (mouseenter)="showNextState($event)" (mouseleave)="closeHoverState()">
          <span class="shape bg-success is-circled is-sm text-13 text-white m-right-1"
                *ngIf="nbIncluded"> {{nbIncluded}} </span>
          <span class="shape bg-alert is-circled is-sm text-13 text-white m-right-1"
                *ngIf="nbExcluded"> {{nbExcluded}} </span>
        </div>
        <!-- /nb of included/excluded jobs-->
        <i class="text-link icon" style="color: #00B0FF"
           [ngClass]="showToggleSearch ? 'icon-arrow-down' : 'icon-arrow-up' "></i>
      </div>
    </div>
    <!-- /Seniority level / Job category level-->

    <!-- Jobs' list-->
    <div class="dropdown-toggle flex-d-column w-full m-left-15" *ngIf="showToggleSearch">
      <ng-container *ngFor="let job of jobConfigs">
        <div class="d-flex p-1" *ngIf="showJob(job)">
          <!-- Job's checkbox-->
          <div class="button-checker m-left-3"
               [ngClass]="{'prevent-event': isPreview}"
               [ngStyle]="getJobCurrentState(job)"
               (click)="stateJobOnChange($event, job)">
            <ng-container *ngIf="!job.hovered">
              <ng-container [ngSwitch]="job.state">
                <ng-container *ngSwitchCase="0">
                  <i class="fas fa-times"></i>
                </ng-container>
                <ng-container *ngSwitchCase="2">
                </ng-container>
                <ng-container *ngSwitchCase="1">
                  <i class="fas fa-check"></i>
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="job.hovered">
              <ng-container [ngSwitch]="job.hoveredState">
                <ng-container *ngSwitchCase="0">
                  <i class="fas fa-times"></i>
                </ng-container>
                <ng-container *ngSwitchCase="2">
                </ng-container>
                <ng-container *ngSwitchCase="1">
                  <i class="fas fa-check"></i>
                </ng-container>
              </ng-container>
            </ng-container>
            <div>
            </div>
            <!-- /Job's checkbox-->
          </div>

          <!-- Job's label-->
          <div class="text-dark m-left-4"
               [ngClass]="{'prevent-event': isPreview}"
               (mouseenter)="showJobNextState($event, job)"
               (mouseleave)="closeJobHoverState(job)">
            {{job.entry | langEntry: 'label': 'en': true | titlecase}}
          </div>
          <!-- Job's label-->
        </div>
      </ng-container>

    </div>
    <!-- /Jobs' list -->

  </div>

</div>
