<div [ngSwitch]="template" id="shared-follow-up">

  <!-- CLIENT VERSION -->
  <div *ngSwitchCase="'CLIENT'" class="relative">
    <app-shared-follow-up-client
      (reinitializeAnswers)="getAnswers()"
      [(startContactProcess)]="startContactProcess"
      [answers]="answers"
      [project]="project"
      [questions]="questions">
    </app-shared-follow-up-client>
  </div>
  <!-- /CLIENT VERSION -->

  <!-- ADMIN VERSION -->
  <ng-container *ngSwitchCase="'ADMIN'">
    <app-shared-follow-up-admin
      [accessPath]="accessPath"
      [answers]="answers"
      [project]="project"
      [questions]="questions">
    </app-shared-follow-up-admin>
  </ng-container>
  <!-- /ADMIN VERSION -->

</div>
