<div id="shared-follow-up">
  <section class="columns">

    <!-- table -->
    <div class="column col-xl-12 col-9">
      <div class="p-bottom-25">

        <!-- heading -->
        <h6 class="text-sm text-notify m-bottom-10">
          <span class="text-background">{{ this.tableInfos._total === -1 ? 0 : this.tableInfos._total }}</span> contacts /
          <span class="text-background">{{ prosWithoutObjective.length }}</span> {{ 'SHARED_FOLLOW_UP.WITHOUT_OBJECTIVE' | translate }}
        </h6>
        <!-- /heading -->

        <!-- table -->
        <app-shared-table
          [(config)]="config"
          [data]="tableInfos"
          (editRow)="seeAnswer($event)"
          (dropdownAction)="assignObjective($event)"
          (performAction)="performActions($event)">
        </app-shared-table>
        <!-- /table -->

      </div>
    </div>
    <!-- /table -->


    <!-- emails and finish button -->
    <div class="column col-sm-12 col-md-5 col-lg-4 col-3">
      <div [ngStyle]="{ 'min-height': '552px' }" class="d-flex justify-space flex-d-column p-bottom-25">

        <!-- emails -->
        <div>

          <!-- heading -->
          <h6 class="text-sm text-notify m-no-bottom" [innerText]="'EMAILS'"></h6>
          <!-- /heading -->


          <!-- appointment -->
          <div class="p-bottom-h">

            <p class="text-bold m-no-bottom">
              <span [innerText]="'SHARED_FOLLOW_UP.INTERVIEW'" [ngStyle]="{ 'color': '#1E3147' }"
                    class="text-sm m-right-2" translate></span>
              <span (click)="onClickSee($event, 'interview')" [innerText]="'SHARED_FOLLOW_UP.BUTTON_SEE'"
                    [ngStyle]="{ 'margin-top': '3px' }" class="text-link text-xs" translate></span>
            </p>

            <p class="text-notify text-medium" [ngStyle]="{ 'font-size': '13px' }">
              <span>{{ prosInterview.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }} | </span>
              <span>{{ prosInterviewSent.length }} {{ 'SHARED_FOLLOW_UP.EMAILS_SENT' | translate }} </span>
            </p>

          </div>
          <!-- /appointment -->


          <!-- divider -->
          <div class="divider is-lg"></div>
          <!-- /divider -->


          <!-- open -->
          <div class="p-top-h p-bottom-h">

            <p class="text-bold m-no-bottom">
              <span [innerText]="'SHARED_FOLLOW_UP.OPENING'" [ngStyle]="{ 'color': '#1E3147' }"
                    class="text-sm m-right-2" translate></span>
              <span (click)="onClickSee($event, 'opening')" [innerText]="'SHARED_FOLLOW_UP.BUTTON_SEE'"
                    [ngStyle]="{ 'margin-top': '3px' }"
                    class="text-link text-xs" translate></span>
            </p>

            <p class="text-notify text-medium" [ngStyle]="{ 'font-size': '13px' }">
              <span>{{ prosOpening.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }} | </span>
              <span>{{ prosOpeningSent.length }} {{ 'SHARED_FOLLOW_UP.EMAILS_SENT' | translate }} </span>
            </p>

          </div>
          <!-- /open -->


          <!-- divider -->
          <div class="divider is-lg"></div>
          <!-- /divider -->


          <!-- thank -->
          <div class="p-top-h p-bottom-h">

            <p class="text-bold m-no-bottom">
              <span [innerText]="'SHARED_FOLLOW_UP.NOFOLLOW'" [ngStyle]="{ 'color': '#1E3147' }"
                    class="text-sm m-right-2" translate></span>
              <span (click)="onClickSee($event, 'noFollow')" [innerText]="'SHARED_FOLLOW_UP.BUTTON_SEE'"
                    [ngStyle]="{ 'margin-top': '3px' }"
                    class="text-link text-xs" translate></span>
            </p>

            <p class="text-notify text-medium" [ngStyle]="{ 'font-size': '13px' }">
              <span>{{ prosNoFollow.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }} | </span>
              <span>{{ prosNoFollowSent.length }} {{ 'SHARED_FOLLOW_UP.EMAILS_SENT' | translate }} </span>
            </p>

          </div>
          <!-- /thank -->

        </div>
        <!-- /emails -->


        <!-- button -->
        <div class="text-center">

          <p class="m-bottom-15 text-notify text-sm">
           {{ prosWithoutObjective.length }} {{ 'SHARED_FOLLOW_UP.CONTACT_WITHOUT_OBJECTIVE' | translate }}
          </p>

          <button
            (click)="showSendModal = true"
            [textContent]="'SHARED_FOLLOW_UP.BUTTON_DONE'"
            class="button is-lg is-primary"
            translate>
          </button>

        </div>
        <!-- /button -->

      </div>
    </div>
    <!-- /emails and finish button -->

  </section>
</div>


<!-- answer sidebar -->
<app-sidebar [(template)]="sidebarValue">
  <app-user-answer
    [sidebarState]="sidebarValue.animate_state"
    [adminMode]="true"
    [(userAnswer)]="modalAnswer"
    [projectId]="project._id"
    [questions]="questions">
  </app-user-answer>
</app-sidebar>


<!-- filter sidebar -->
<sidebar-left [(sidebarTemplate)]="sidebarTemplate">
  <sidebar-filter-answers
    [innovation]="project"
    [templateType]="sidebarTemplate.type"
    [questions]="questions"
    [answers]="answers"
    (closeSidebar)="closeSidebar()">
  </sidebar-filter-answers>
</sidebar-left>
<!-- /filter sidebar -->


<!-- modal for mails -->
<app-modal *ngIf="emailsObject && showEmailsModal" [(showModal)]="showEmailsModal" [maxWidth]="'1024px'">
  <section class="modal-body p-top-30 p-bottom-30 p-left-50 p-right-50">

    <!-- heading -->
    <h5 [innerText]="'SHARED_FOLLOW_UP.' + this.modalTemplateType.toUpperCase()"
        class="title text-lg text-bold text-center"
        translate>
    </h5>
    <!-- /heading -->


    <!-- close button -->
    <div [ngStyle]="{ 'right': '15px', 'top': '23px' }" class="absolute">
      <button (click)="closeModal($event)" class="close text-notify" type="button"></button>
    </div>
    <!-- /close button -->


    <!-- mail wrapper -->
    <div>
      <shared-mail-editor
        [templateType]="'FOLLOW-UP'"
        [professionals]="pros"
        [(ccEmail)]="ccEmail"
        [customFields]="customFields"
        (sendTestEmails)="sendTestEmails()"
        [(emailsObject)]="emailsObject">
      </shared-mail-editor>
    </div>
    <!-- /mail wrapper -->


    <!-- save button -->
    <div  class="text-center">
      <button (click)="saveProject()" [textContent]="'COMMON.BUTTON.SAVE'" class="button is-primary" translate></button>
    </div>
    <!-- /save button -->

  </section>
</app-modal>
<!-- /modal for mails -->

<!-- modal for warning : objective already assigned -->
<app-modal [(showModal)]="showWarningModal">
  <section class="modal-body p-top-30 p-bottom-30 p-left-50 p-right-50">

    <!-- close button -->
    <div [ngStyle]="{ 'right': '15px', 'top': '23px' }" class="absolute">
      <button (click)="closeModal($event)" class="close text-notify" type="button"></button>
    </div>
    <!-- /close button -->

    <div>
      <p>
        {{ 'SHARED_FOLLOW_UP.MODAL.WARNING_1' | translate }}
      </p>

      <ul>
        <li *ngFor="let pro of pendingAction.assignedAnswers">
          {{ pro.name }}: {{ 'SHARED_FOLLOW_UP.BUTTON.' + pro.objective | translate }}
        </li>
      </ul>

      <p>
        {{ 'SHARED_FOLLOW_UP.MODAL.WARNING_2' | translate }}
      </p>
    </div>


    <!-- confirm button -->
    <button
      (click)="updateManyObjectives(pendingAction.answersIds, pendingAction.objective)"
      [textContent]="'COMMON.BUTTON.CONFIRM'"
      class="button is-primary"
      translate>
    </button>
    <!-- /confirm button -->
    <!-- cancel button -->
    <button class="button modal-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <!-- /cancel button -->

  </section>
</app-modal>
<!-- /modal for mails -->


<!-- modal for sending emails : are you sure ? -->
<app-modal [(showModal)]="showSendModal">
  <section class="modal-body p-top-30 p-bottom-30 p-left-50 p-right-50">

    <!-- close button -->
    <div [ngStyle]="{ 'right': '15px', 'top': '23px' }" class="absolute">
      <button (click)="closeModal($event)" class="close text-notify" type="button"></button>
    </div>
    <!-- /close button -->

    <h5 class="text-center">
      {{ prosInterview.length + prosOpening.length + prosNoFollow.length }} {{ 'SHARED_FOLLOW_UP.MODAL.EMAILS_READY' | translate }}
    </h5>

    <div class="columns" style="min-height: 150px">

      <div class="col-6">
        <img src="https://res.cloudinary.com/umi/image/upload/v1574086949/pictos/mix/email.svg" alt=" " class="img-responsive">
      </div>

      <div class="d-flex justify-center flex-d-column col-6">
        <!-- emails -->
          <!-- appointment -->
          <div class="p-bottom-h">

            <p class="text-bold m-no-bottom">
              <span [innerText]="'SHARED_FOLLOW_UP.INTERVIEW'" [ngStyle]="{ 'color': '#1E3147' }"
                    class="text-sm m-right-2" translate></span>
            </p>

            <p class="text-notify text-medium" [ngStyle]="{ 'font-size': '13px' }">
              <span>{{ prosInterview.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }}</span>
            </p>

          </div>
          <!-- /appointment -->

          <!-- divider -->
          <div class="divider"></div>
          <!-- /divider -->

          <!-- open -->
          <div class="p-top-h p-bottom-h">

            <p class="text-bold m-no-bottom">
              <span [innerText]="'SHARED_FOLLOW_UP.OPENING'" [ngStyle]="{ 'color': '#1E3147' }"
                    class="text-sm m-right-2" translate></span>
            </p>

            <p class="text-notify text-medium" [ngStyle]="{ 'font-size': '13px' }">
              <span>{{ prosOpening.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }}</span>
            </p>

          </div>
          <!-- /open -->

          <!-- divider -->
          <div class="divider"></div>
          <!-- /divider -->

          <!-- thank -->
          <div class="p-top-h p-bottom-h">

            <p class="text-bold m-no-bottom">
              <span [innerText]="'SHARED_FOLLOW_UP.NOFOLLOW'" [ngStyle]="{ 'color': '#1E3147' }"
                    class="text-sm m-right-2" translate></span>
            </p>

            <p class="text-notify text-medium" [ngStyle]="{ 'font-size': '13px' }">
              <span>{{ prosNoFollow.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }}</span>
            </p>

          </div>
          <!-- /thank -->
        <!-- /emails -->
      </div>

    </div>

    <!-- button -->
    <div class="text-center">

      <button
        (click)="onClickConfirm($event)"
        [textContent]="'COMMON.BUTTON.SEND'"
        class="button is-lg is-primary"
        [disabled]="loadingButton"
        translate>
      </button>

    </div>
    <!-- /button -->

  </section>
</app-modal>
<!-- /modal for mails -->
