<div *ngIf="project" id="shared-follow-up">
  <!-- table -->
  <section class="column col-xl-12">
    <!-- emails and finish button -->
    <div class="d-flex justify-space" [ngStyle]="{alignItems: 'stretch'}">

      <!-- emails -->

      <!-- appointment -->
      <div class="p-top-1 p-bottom-3">

        <div [ngStyle]="{ 'line-height': '1' }" class="text-bold m-bottom-2">
          <span [ngStyle]="{ 'color': '#1E3147' }" class="text-sm m-right-2">{{ 'SHARED_FOLLOW_UP.INTERVIEW' | translate }}</span>
          <span (click)="onClickSee($event, 'interview')" [ngStyle]="{ 'margin-top': '3px' }" class="text-link text-xs">
                {{ 'SHARED_FOLLOW_UP.BUTTON_SEE' | translate }}
              </span>
        </div>

        <div [ngStyle]="{ 'font-size': '13px', 'line-height': '1' }" class="text-notify text-medium">
          <span>{{ prosInterview.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }} | </span>
          <span>{{ prosInterviewSent.length }} {{ 'SHARED_FOLLOW_UP.EMAILS_SENT' | translate }} </span>
        </div>

      </div>
      <!-- /appointment -->


      <!-- divider -->
      <div class="divider-vert is-lg"></div>
      <!-- /divider -->


      <!-- open -->
      <div class="p-top-1 p-bottom-3">

        <div [ngStyle]="{ 'line-height': '1' }" class="text-bold m-bottom-2">
          <span [ngStyle]="{ 'color': '#1E3147' }" class="text-sm m-right-2">{{ 'SHARED_FOLLOW_UP.OPENING' | translate }}</span>
          <span (click)="onClickSee($event, 'opening')" [ngStyle]="{ 'margin-top': '3px' }" class="text-link text-xs">
                {{ 'SHARED_FOLLOW_UP.BUTTON_SEE' | translate }}
              </span>
        </div>

        <div [ngStyle]="{ 'font-size': '13px', 'line-height': '1' }" class="text-notify text-medium">
          <span>{{ prosOpening.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }} | </span>
          <span>{{ prosOpeningSent.length }} {{ 'SHARED_FOLLOW_UP.EMAILS_SENT' | translate }} </span>
        </div>

      </div>
      <!-- /open -->


      <!-- divider -->
      <div class="divider-vert is-lg"></div>
      <!-- /divider -->


      <!-- thank -->
      <div class="p-top-1 p-bottom-3">

        <div [ngStyle]="{ 'line-height': '1' }" class="text-bold m-bottom-2">
          <span [ngStyle]="{ 'color': '#1E3147' }" class="text-sm m-right-2">{{ 'SHARED_FOLLOW_UP.NOFOLLOW' | translate }}</span>
          <span (click)="onClickSee($event, 'noFollow')" [ngStyle]="{ 'margin-top': '3px' }" class="text-link text-xs">
                {{ 'SHARED_FOLLOW_UP.BUTTON_SEE' | translate }}
              </span>
        </div>

        <div [ngStyle]="{ 'font-size': '13px', 'line-height': '1' }" class="text-notify text-medium">
          <span>{{ prosNoFollow.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }} | </span>
          <span>{{ prosNoFollowSent.length }} {{ 'SHARED_FOLLOW_UP.EMAILS_SENT' | translate }} </span>
        </div>

      </div>
      <!-- /thank -->

      <!-- /emails -->


      <!-- button -->
      <div class="text-center">

        <button (click)="showSendModal = true" class="button is-lg is-primary">
          {{ 'SHARED_FOLLOW_UP.BUTTON_DONE' | translate }}
        </button>

        <p class="m-bottom-15 text-notify text-sm">
          {{ prosWithoutObjective.length }} {{ 'SHARED_FOLLOW_UP.CONTACT_WITHOUT_OBJECTIVE' | translate }}
        </p>

      </div>
      <!-- /button -->

    </div>
    <!-- /emails and finish button -->

    <div class="p-bottom-30">

      <!-- heading -->
      <h6 class="text-sm text-notify m-bottom-10">
        <span class="text-background">{{ this.tableInfos._total === -1 ? 0 : this.tableInfos._total }}</span> contacts /
        <span class="text-background">{{ prosWithoutObjective.length }}</span> {{ 'SHARED_FOLLOW_UP.WITHOUT_OBJECTIVE' | translate }}
      </h6>
      <!-- /heading -->


      <!-- table -->
      <shared-table
        [(config)]="config"
        [data]="tableInfos"
        (editRow)="seeAnswer($event)"
        (dropdownAction)="assignObjective($event)"
        (performAction)="performActions($event)">
      </shared-table>
      <!-- /table -->

    </div>
  </section>
  <!-- /table -->

</div>


<!-- answer sidebar -->
<sidebar [(template)]="sidebarAnswer">
  <app-user-answer
    [sidebarState]="sidebarAnswer.animate_state"
    [adminMode]="true"
    [(userAnswer)]="modalAnswer"
    [projectId]="project._id"
    [questions]="questions">
  </app-user-answer>
</sidebar>
<!-- /answer sidebar -->


<!-- filter sidebar -->
<sidebar-left [(sidebarTemplate)]="sidebarTemplate">
  <sidebar-filter-answers
    [innovation]="project"
    [templateType]="sidebarTemplate.type"
    [questions]="questions"
    [answers]="answers"
    (closeSidebar)="closeSidebar()">
  </sidebar-filter-answers>
</sidebar-left>
<!-- /filter sidebar -->


<!-- modal for mails -->
<app-utility-modal *ngIf="emailsObject && showEmailsModal" [(showModal)]="showEmailsModal" [maxWidth]="'1080px'">
  <section class="modal-body p-top-30 p-bottom-30 p-left-50 p-right-50">

    <!-- heading -->
    <h5 class="title text-lg text-bold text-center">
      {{ 'SHARED_FOLLOW_UP.' + this.modalTemplateType.toUpperCase() | translate }}
    </h5>
    <!-- /heading -->


    <!-- close button -->
    <div [ngStyle]="{ 'right': '15px', 'top': '21px' }" class="absolute">
      <button (click)="closeModal($event)" class="close text-notify" type="button"></button>
    </div>
    <!-- /close button -->


    <!-- mail wrapper -->
    <div>
      <shared-mail-editor
        [templateType]="'FOLLOW-UP'"
        [professionals]="pros"
        [(ccEmail)]="ccEmail"
        [customFields]="customFields"
        (sendTestEmails)="sendTestEmails()"
        [(emailsObject)]="emailsObject">
      </shared-mail-editor>
    </div>
    <!-- /mail wrapper -->


    <!-- save button -->
    <div class="text-center">
      <button (click)="saveProject()" [ngStyle]="{ 'min-width': '141px' }" class="button is-primary">
        {{ 'COMMON.BUTTON.SAVE' | translate }}
      </button>
    </div>
    <!-- /save button -->

  </section>
</app-utility-modal>
<!-- /modal for mails -->


<!-- modal for warning : objective already assigned -->
<app-utility-modal [(showModal)]="showWarningModal">
  <section class="modal-body p-top-30 p-bottom-30 p-left-50 p-right-50">

    <!-- close button -->
    <div [ngStyle]="{ 'right': '15px', 'top': '23px' }" class="absolute">
      <button (click)="closeModal($event)" class="close text-notify" type="button"></button>
    </div>
    <!-- /close button -->

    <div>
      <p>
        {{ 'SHARED_FOLLOW_UP.MODAL.WARNING_1' | translate }}
      </p>

      <ul>
        <li *ngFor="let pro of pendingAction.assignedAnswers">
          {{ pro.name }}: {{ 'SHARED_FOLLOW_UP.BUTTON.' + pro.objective | translate }}
        </li>
      </ul>

      <p>
        {{ 'SHARED_FOLLOW_UP.MODAL.WARNING_2' | translate }}
      </p>
    </div>


    <!-- confirm button -->
    <button
      (click)="updateManyObjectives(pendingAction.answersIds, pendingAction.objective)"
      [textContent]="'COMMON.BUTTON.CONFIRM'"
      class="button is-primary"
      translate>
    </button>
    <!-- /confirm button -->
    <!-- cancel button -->
    <button class="button modal-cancel">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <!-- /cancel button -->

  </section>
</app-utility-modal>
<!-- /modal for mails -->


<!-- modal for sending emails : are you sure ? -->
<app-utility-modal *ngIf="showSendModal" [(showModal)]="showSendModal">
  <section class="modal-body p-top-30 p-bottom-30 p-left-50 p-right-50">

    <!-- heading -->
    <h5 class="title text-lg text-bold text-center">
      {{ prosInterview.length + prosOpening.length + prosNoFollow.length }} {{ 'SHARED_FOLLOW_UP.MODAL.EMAILS_READY' | translate }}
    </h5>
    <!-- /heading -->


    <!-- close button -->
    <div [ngStyle]="{ 'right': '15px', 'top': '21px' }" class="absolute">
      <button (click)="closeModal($event)" class="close text-notify" type="button"></button>
    </div>
    <!-- /close button -->


    <!-- content -->
    <div [ngStyle]="{ 'min-height': '150px' }" class="p-bottom-20">
      <div class="columns">

        <!-- image -->
        <div class="column col-sm-12 col-6 col-mx-auto">
          <div class="p-top-15">
            <img
              src="https://res.cloudinary.com/umi/image/upload/v1574086949/pictos/mix/email.svg"
              alt=" "
              class="img-responsive m-auto">
          </div>
        </div>
        <!-- /image -->


        <!-- emails -->
        <div class="column col-sm-12 col-6">
          <div class="d-flex justify-center flex-d-column p-top-40">

            <!-- appointment -->
            <div class="p-top-1 p-bottom-3">

              <div [ngStyle]="{ 'line-height': '1', 'color': '#1E3147' }" class="text-bold m-bottom-2 text-sm">
                {{ 'SHARED_FOLLOW_UP.INTERVIEW' | translate }}
              </div>

              <div [ngStyle]="{ 'font-size': '13px', 'line-height': '1' }" class="text-notify text-medium">
                {{ prosInterview.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }}
              </div>

            </div>
            <!-- /appointment -->


            <!-- divider -->
            <div class="divider is-lg"></div>
            <!-- /divider -->


            <!-- open -->
            <div class="p-top-2 p-bottom-3">

              <div [ngStyle]="{ 'line-height': '1', 'color': '#1E3147' }" class="text-bold m-bottom-2 text-sm">
                {{ 'SHARED_FOLLOW_UP.OPENING' | translate }}
              </div>

              <div [ngStyle]="{ 'font-size': '13px', 'line-height': '1' }" class="text-notify text-medium">
                {{ prosOpening.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }}
              </div>

            </div>
            <!-- /open -->


            <!-- divider -->
            <div class="divider is-lg"></div>
            <!-- /divider -->


            <!-- thank -->
            <div class="p-top-2 p-bottom-3">

              <div [ngStyle]="{ 'line-height': '1', 'color': '#1E3147' }" class="text-bold m-bottom-2 text-sm">
                {{ 'SHARED_FOLLOW_UP.NOFOLLOW' | translate }}
              </div>

              <div [ngStyle]="{ 'font-size': '13px', 'line-height': '1' }" class="text-notify text-medium">
                {{ prosNoFollow.length }} {{ 'SHARED_FOLLOW_UP.CONTACTS_ADDED' | translate }}
              </div>

            </div>
            <!-- /thank -->

          </div>
        </div>
        <!-- /emails -->

      </div>
    </div>
    <!-- /content -->


    <!-- button -->
    <div class="text-center">
      <button
        (click)="onClickConfirm($event)"
        [disabled]="loadingButton"
        class="button is-lg is-primary">
        {{ 'SHARED_FOLLOW_UP.BUTTON.INFORM_UMI' | translate }}
      </button>
    </div>
    <!-- /button -->

  </section>
</app-utility-modal>
<!-- /modal for sending emails : are you sure ? -->
