<div [hidden]="!template && !template._id">

  <!-- sections -->
  <section
    *ngFor="let section of template.sections; let i = index;"
    [ngClass]="{'m-bottom-20': (i + 1) < template.sections.length}">

      <app-shared-questionnaire-section
        (valueToSave)="valueToSave.emit($event)"
        [accessPath]="accessPath"
        [isEditable]="isEditable"
        [isLibraryView]="isLibraryView"
        [sectionIndex]="i"
        [languageSelected]="languageSelected"
        [section]="section">
      </app-shared-questionnaire-section>

  </section>
  <!-- /sections -->

  <!-- add section -->
  <ng-container *ngIf="isEditable || canAccess(['section', 'add'])">
    <section class="p-bottom-20 text-center">
      <div class="divider m-bottom-50"></div>
      <button
        (click)="addSection($event)"
        [id]="'sharedQuestionnaire-btn-add-section'"
        class="button is-lg is-primary is-outlined"
        type="button">
        Add a new section
      </button>
    </section>
  </ng-container>
  <!-- /add section -->

</div>
