<div class="main-container" id="login">
  <div class="columns">
    <div class="column col-12 col-mx-auto">
      <div class="columns col-gapless">

        <div class="column col-md-6 col-xl-7 col-8 col-mx-auto cover-image" [ngStyle]="{ 'background-image': 'url(' + getBackgroundImage() + ')' }">
        </div>


        <div class="column col-sm-12 col-md-6 col-xl-5 col-4 col-mx-auto login-wrapper">

          <!-- Logo -->
          <div class="text-center">
            <a href="https://www.umi.us"><img src="{{ getLogo() }}" alt="UMI" height="35px"></a>
          </div>

          <div class="form-wrapper">

            <!-- Heading -->
            <div class="heading text-center">
              <h1>{{ 'LOG_IN.HEADING' | translate }}</h1>
            </div>

            <!-- LinkedIn -->
            <div class="social-wrapper text-center" *ngIf="checkIsMainDomain()">
              <button class="btn" (click)="linkedInSignIn($event)">
                <i class="fab fa-1x fa-linkedin-in"></i>{{ 'LOG_IN.LOG_IN_LINKEDIN' | translate }}
              </button>
            </div>

            <!-- Or -->
            <div class="or-wrapper text-center">
              <span class="or-divider"> {{ 'COMMON.OR' | translate }} </span>
            </div>

            <form novalidate (submit)="onSubmit()" [formGroup]="formData">

              <!-- Credentials -->
              <div class="credentials-wrapper">
                <div class="form-group">
                  <label class="form-label">{{ 'COMMON.EMAIL' | translate }}</label>
                  <input
                    type="email"
                    class="form-default"
                    formControlName="email"
                    placeholder="john@catco.com">
                  <span
                    class="form-error"
                    *ngIf="formData.get('email').touched">
                  <span *ngIf="formData.get('email').hasError('required')">{{ 'COMMON.REQUIRED.EMAIL' | translate }}</span>
                  <span
                    *ngIf="formData.get('email').hasError('email') && formData.get('email').value !== ''">
                    {{ 'COMMON.INVALID.EMAIL' | translate }}
                  </span>
                </span>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ 'COMMON.PASSWORD' | translate }}</label>
                  <input
                    class="form-default"
                    type="password"
                    formControlName="password"
                    [attr.placeholder]="'COMMON.PASSWORD_PLACEHOLDER' | translate ">
                  <span
                    class="form-error"
                    *ngIf="formData.get('password').hasError('required') && formData.get('password').touched">
                  {{ 'COMMON.REQUIRED.PASSWORD' | translate }}
                </span>
                </div>
              </div>

              <!-- Login button and forget password -->
              <div class="submit-wrapper text-center">
                <div class="login-button">
                  <button
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="formData.invalid && formData.touched">
                    {{ 'LOG_IN.LOG_IN_BTN' | translate }}
                  </button>
                </div>
                <span [ngStyle]="{ 'font-size': '0.7rem' }">{{ 'LOG_IN.FORGOT_PASSWORD.A' | translate }}</span>
                <a class="text-link" routerLink="/forget">{{ 'LOG_IN.FORGOT_PASSWORD.B' | translate }}</a>
              </div>

            </form>
          </div>

          <!-- Sign up -->
          <div class="create-wrapper text-center">
            <span [ngStyle]="{ 'font-size': '0.7rem', 'padding-right': '10px' }">{{ 'LOG_IN.DOES_NOT_HAVE_ACCOUNT' | translate }}</span>
            <a class="btn btn-sm ghost-primary" routerLink="/signup">{{ 'LOG_IN.SIGN_UP' | translate }}</a>
          </div>
         </div>

       </div>
     </div>
   </div>
 </div>



