<div class="container">
  <div class="columns">
    <div class="column col-7 col-xl-10 col-md-11 col-mx-auto">
      <h1>{{ 'LOG_IN.LOG_IN_TO_CONTINUE' | translate }}</h1>

      <div class="columns">
        <div class="column col-4 left">
          <p>
            {{ 'LOG_IN.DOES_NOT_HAVE_ACCOUNT' | translate }}
            <a routerLink="/signup">{{ 'COMMON.SIGN_UP' | translate }}</a>
          </p>
          <p>
            <a (click)="changePassword()" class="c-hand">{{ 'LOG_IN.FORGOT_PASSWORD' | translate }}</a>
          </p>
        </div>
        <div class="column col-8 right">
          <div *ngIf="isMainDomain()">
            <button class="btn btn-lg btn-primary btn-linkedin" (click)="linkedInSignIn()">{{ 'LOG_IN.LOG_IN_LINKEDIN' | translate }}
            </button>
            <div class="divider text-center" [attr.data-content]="'COMMON.OR' | translate"></div>
          </div>

          <form novalidate (ngSubmit)="onSubmit(formData)" [formGroup]="formData" class="columns">

            <div class="column col-12">
              <label>
                <span>{{ 'COMMON.EMAIL' | translate }}</span>
                <input type="email" placeholder="john.doe@gmail.com" formControlName="email">
              </label>

              <!--<div class="error"
                   *ngIf="formData.get('email').hasError('required') && formData.get('email').touched">
                {{ 'COMMON.REQUIRED.EMAIL' | translate }}
              </div>

              <div class="error"
                   *ngIf="formData.get('email').hasError('email') && formData.get('email').touched">
                {{ 'COMMON.INVALID.EMAIL' | translate }}
              </div>-->
            </div>

            <div class="column col-12">
              <label>
                <span>{{ 'COMMON.PASSWORD' | translate }}</span>
                <input type="password" placeholder="••••••••••" formControlName="password">
              </label>

              <!--<div class="error"
                   *ngIf="formData.get('password').hasError('required') && formData.get('password').touched">
                {{ 'COMMON.REQUIRED.PASSWORD' | translate }}
              </div>

              <div class="error"
                   *ngIf="formData.get('password').hasError('minlength') && formData.get('password').touched">
                {{ 'COMMON.INVALID.PASSWORD_TOO_SHORT' | translate }}
              </div>-->
            </div>

            <div class="column col-12">
              <button class="btn btn-lg" type="submit" [disabled]="formData.invalid">{{ 'LOG_IN.LOG_IN_BTN' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


