.main-container {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  .logo-container {
    padding-bottom: 50px;
  }

  .sign-in-container {
    background: #FFFFFF;
    border-radius: 0.25rem;
    padding-top: 51px;
    padding-bottom: 51px;
    flex: 1;

    .bot-container {
      padding-top: 125px;
    }

    .button-container {
      padding-bottom: 45px;

      .default-button {
        background: #1680B9;
        border-color: #1680B9;

        span i {
          margin-right: 36px;
          font-size: 1.1rem;
        }

      }

      .default-button:hover {
        background: lighten(#1680B9, 15%);
        border-color: #1680B9;
        color: #FFFFFF;
      }

    }

    .or-container {
      color: #878787;
      padding-bottom: 45px;

      span::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 130px;
        height: 1px;
        background: #878787;
      }

      span::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 130px;
        height: 1px;
        background: #878787;
      }

    }

    .credential-container {
      padding-bottom: 25px;

      .form-group {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }

      .default-form-input {
        max-width: 300px;
      }

      .error-container {
        display: flex;
        justify-content: center;

        .has-error {
          width: 300px;
          margin-top: 0;
          margin-bottom: 20px;
        }

      }

    }

    .submit-container {
      padding-bottom: 45px;

      .login-button {
        padding-bottom: 10px;

        .default-button {
          padding-left: 35px;
          padding-right: 35px;
        }

      }

    }

    .create-container {

      .create-link {
        margin-left: 5px;
        font-size: 0.8rem;
      }

    }

  }

}

@media (max-width: 320px) {

  .default-button {
    span i {
      margin-right: 16px !important;
    }
  }

  .or-container {
    span::before {
      width: 108px !important;
    }
    span::after {
      width: 108px !important;
    }
  }

  .submit-container {
    .default-button {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }

}

@media (max-width: 601px) {

  .bot-container {
    padding-top: 10px!important;
    padding-bottom: 35px!important;
  }

}


@media (min-width: 768px) and (max-width: 872px) {

  .sign-in-container {
    width: 660px !important;
  }

}

@media (min-width: 768px) {

  .main-container {
    min-height: 100vh !important;
  }

}

@media (min-width: 873px) {

  .sign-in-container {
    width: 800px !important;
  }

}

