<div  class="container fluid" id="signup">
  <div class="main-wrapper d-flex">

    <!-- left side -->
    <div [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }" class="cover-image">
      <ng-container *ngIf="isDomainUMI">
        <div class="logo-wrapper p-top-20 p-left-40">
          <a [href]="companyUrl" class="d-inline-flex">
            <img
              [src]="logo"
              height="44.83"
              width="85"
              alt=" "
              class="img-responsive">
          </a>
        </div>
      </ng-container>
    </div>
    <!-- /left side -->

    <!-- right side -->
    <div class="content-body">

      <!-- sign in -->
      <div class="flex-end">
        <span class="text-13 text-meta m-right-20">{{ 'SIGN_UP.HAVE_ACCOUNT' | translate }}</span>
        <button
          [id]="'signup-btn-signin'"
          [routerLink]="'/login'"
          class="button text-xs is-sm is-rounded is-outlined"
          type="button">
          {{ 'LOG_IN.LOG_IN_BTN' | translate }}
        </button>
      </div>
      <!-- /sign in  -->

      <!-- body -->
      <section class="content-signup flex-centered">
        <div class="signup-form">

          <h1 class="title text-center">
            <ng-container *ngIf="isDomainUMI">{{ 'SIGN_UP.HEADING_UMI' | translate }}</ng-container>
            <ng-container *ngIf="!isDomainUMI">{{ 'SIGN_UP.HEADING' | translate }}</ng-container>
          </h1>

          <!-- sign up button -->
          <div class="text-center p-top-10">
            <button
              (click)="onSignUpClick($event)"
              [id]="'signup-btn-create-account-email'"
              [disabled]="isCreatingAccount || isCreatingAccountLinkedin"
              class="button text-sm is-lg gtm-signup-email"
              type="button">
              {{ 'SIGN_UP.SIGN_UP_EMAIL' | translate }}
            </button>
          </div>
          <!-- /sign up button  -->

          <!-- domain UMI -->
          <ng-container *ngIf="isDomainUMI">

            <div class="text-center p-top-25 p-bottom-30">
              <div class="divider" [attr.data-content]="'COMMON.OR' | translate"></div>
            </div>

            <!-- linkedin -->
            <div class="text-center">
              <button
                (click)="linkedInEvent()"
                [disabled]="isCreatingAccount || isCreatingAccountLinkedin"
                [id]="'signup-btn-create-account-linkedin'"
                class="button text-sm is-lg gtm-signup-linkedin">
                <span *ngIf="isCreatingAccountLinkedin" class="loading is-white"></span>
                <ng-container *ngIf="!isCreatingAccountLinkedin">
                  <i class="fab fa-linkedin-in icon-left"></i> {{ 'SIGN_UP.SIGN_UP_LINKEDIN' | translate }}
                </ng-container>
              </button>
            </div>
            <!-- /linkedin -->

          </ng-container>
          <!-- /domain UMI -->

        </div>
      </section>
      <!-- /body -->

    </div>
    <!-- /right side -->

  </div>
</div>

<!-- sign up sidebar -->
<umius-sidebar-full [(template)]="sidebarValue">
  <app-sidebar-signup-form
    (finalOutput)="createUser($event)"
    [isCreating]="isCreatingAccount"
    [sidebarState]="sidebarValue.animate_state">
  </app-sidebar-signup-form>
</umius-sidebar-full>
<!-- /sign up sidebar -->
