@import "../../../../style/framework/src/variables";

#signup-component {

  .main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .cover-image {
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      min-height: 100vh;
    }

    .signup-details {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      min-height: 100vh;

      .register {
        flex: 1 0 auto;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        margin-right: auto;
        margin-left: auto;

        .title-primary {
          font-size: 1.4rem;
          padding: 0 0.4rem 0.4rem;
          color: $text-background-color;
        }

        .linkedIn-wrapper {
          padding-top: 1rem;

          .or-wrapper {
            padding-bottom: 1.25rem;
          }

          .btn {
            width: 265px;
          }

        }

      }

    }


  }

}


/********************************** Media ***************************************/

@media (max-width: $size-sm) {

  #signup-component {

    .cover-image {
      display: none;
    }

  }

}
