@import "../../../../style/framework/src/variables";

#signup {

  .cover-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }

  .signup-details {
    flex-direction: column;
    min-height: 100vh;

    .register {
      flex: 1 0 auto;
      flex-direction: column;
      width: 100%;
      margin-right: auto;
      margin-left: auto;

      .title-primary {
        font-size: 1.4rem;
        padding: 0 0.4rem 0.4rem;
      }

      .btn {
        width: 280px;
      }

      .linkedIn-wrapper {
        padding-top: 1rem;

        .or-wrapper {
          padding-bottom: 1.25rem;
        }

      }

    }

  }
}


@media (max-width: $size-sm) {

  #signup {

    .cover-image {
      display: none;
    }

  }

}
